Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

9758 bug multiple choice question validation rules types (#9808)
  features/back/project/questionnaire.feature
  frontend/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
  frontend/js/components/ProposalForm/ProposalFormAdminQuestions.js
  frontend/js/components/Question/SectionQuestionAdminModal.js
  frontend/js/utils/submitQuestion.js
Due: none

[9773-BUG] fix TranslationTrait.isEmpty() who was returning true for empty string (#9813)
  src/Capco/AppBundle/Traits/TranslationTrait.php
Due: php, backend

Send referer and more user data to Sentry (#9822)
  src/Capco/AppBundle/Sentry/SentryListener.php
Due: php, backend

[9556-PROPOSAL] Using batching with Es (#9809)
  features/commands/export.feature
  features/front/bp/proposal_votes.feature
  features/graphql/query/proposalVotes.feature
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalVotesResolver.php
  src/Capco/AppBundle/Resources/config/serialization/ProposalCollectVote.yaml
  src/Capco/AppBundle/Resources/config/serialization/ProposalSelectionVote.yaml
  src/Capco/AppBundle/Search/ProposalSearch.php
  src/Capco/AppBundle/Search/Search.php
  src/Capco/AppBundle/Search/VoteSearch.php
Due: graphql, php, backend

[9804-FIX] fix security.js (#9831)
  package.json
  yarn.lock
Due: none

Fix wrong translatableLocale when multilangue is not enabled (#9826)
  app/config/config.yml
  behat.yml
  config/packages/admin.yaml
  config/packages/sonata.yaml
  features/back/post/translation.feature
  src/Capco/AdminBundle/Admin/Extension/TranslatableAdminExtension.php
  src/Capco/AdminBundle/Admin/SiteParameterAdmin.php
  src/Capco/AdminBundle/Block/LocaleSwitcherBlockService.php
  src/Capco/AdminBundle/EventListener/LocaleSwitcherListener.php
  src/Capco/AdminBundle/Resources/views/partials/sonata_locale_switcher.html.twig
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Page/AdminBlogPostListPage.php
  src/Capco/AppBundle/Behat/Traits/AdminGeneralTait.php
  src/Capco/AppBundle/Repository/LocaleRepository.php
Due: php, backend

[9746-FIX] [FIX-PREVIEW] Fix display event for page events (#9821)
  frontend/js/components/Event/EventPreview/EventPreview.style.js
  frontend/js/components/Event/List/EventListPaginated.js
  frontend/js/components/Event/List/EventPagePassedEventsPreview.js
  frontend/js/components/Event/List/__snapshots__/EventPagePassedEventsPreview-test.js.snap
Due: none

[9841-FIX] Fixing cache key (#9842)
  src/Capco/AppBundle/Behat/Traits/NotificationsStepTrait.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoader.php
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalVoteMutation.php
Due: graphql, php, backend

4047 menu item translation (#9830)
  fixtures/Benchmark/MenuItem.yaml
  fixtures/Benchmark/MenuItemTranslation.yaml
  fixtures/Dev/MenuItem.yaml
  fixtures/Dev/MenuItemTranslation.yaml
  fixtures/Prod/MenuItem.yaml
  fixtures/Prod/MenuItemTranslation.yaml
  src/Capco/AdminBundle/Admin/MenuItemAdmin.php
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/Entity/MenuItem.php
  src/Capco/AppBundle/Entity/MenuItemTranslation.php
  src/Capco/AppBundle/Repository/MenuItemRepository.php
  src/Capco/AppBundle/Repository/MenuItemTranslationRepository.php
  src/DoctrineMigrations/Version20200120101844.php
Due: php, backend

8220 theme card 1 (#9771)
  frontend/js/components/Ui/ThemeCard/Body-test.js
  frontend/js/components/Ui/ThemeCard/Body.js
  frontend/js/components/Ui/ThemeCard/Image.js
  frontend/js/components/Ui/ThemeCard/ThemeCard-test.js
  frontend/js/components/Ui/ThemeCard/ThemeCard.js
  frontend/js/components/Ui/ThemeCard/__snapshots__/Body-test.js.snap
  frontend/js/components/Ui/ThemeCard/__snapshots__/ThemeCard-test.js.snap
  frontend/js/stories/capcollectif/ThemeCard-stories.js
  frontend/js/stories/mocks/theme.js
Due: none

[9851-LE] fix storybook (#9852)
  frontend/js/stories/capcollectif/MetricsBox-stories.js
  frontend/js/stories/core/buttons/LanguageChangeButton-stories.js
  frontend/js/stories/mocks/relay.js
Due: none

[9843] PostTranslation uses NullableTextableTrait instead of TextableTrait (#9849)
  src/Capco/AppBundle/Entity/PostTranslation.php
  src/DoctrineMigrations/Version20200121114505.php
Due: php, backend

[FIX-CHOICES] Modify function score query in QuestionChoiceSearch (#9853)
  features/graphql-api/public/MultipleChoiceQuestion/__snapshots__/MultipleChoiceQuestion_choices.js.snap
  src/Capco/AppBundle/Search/QuestionChoiceSearch.php
Due: php, backend

9802 fix preprod bug (#9855)
  frontend/js/components/QuestionChoices/QuestionChoiceAdminModal.js
  frontend/js/components/Questionnaire/QuestionnaireAdminConfigurationForm.js
  frontend/js/utils/responsesHelper.js
  frontend/js/utils/submitQuestion.js
Due: none

[FIX-CLEAN] clean-cache (#9868)
  features/back/moderation/comment.feature
Due: none

[9859-FIX] Randomly trying to fix a non-reproductive bug (#9862)
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalVotesResolver.php
  src/Capco/AppBundle/Search/VoteSearch.php
Due: graphql, php, backend

[COUNT-VOTES] Adding info ? (#9869)
  frontend/js/components/Proposal/Page/ProposalPageTabs.js
Due: none

[9471-RANKING] Create UI component dragndrop
  frontend/js/components/Ui/DragnDrop/GroupList/GroupList-test.js
  frontend/js/components/Ui/DragnDrop/GroupList/GroupList.js
  frontend/js/components/Ui/DragnDrop/GroupList/GroupList.style.js
  frontend/js/components/Ui/DragnDrop/GroupList/__snapshots__/GroupList-test.js.snap
  frontend/js/components/Ui/DragnDrop/Item/Item-test.js
  frontend/js/components/Ui/DragnDrop/Item/Item.js
  frontend/js/components/Ui/DragnDrop/Item/Item.style.js
  frontend/js/components/Ui/DragnDrop/Item/__snapshots__/Item-test.js.snap
  frontend/js/components/Ui/DragnDrop/Label/Label-test.js
  frontend/js/components/Ui/DragnDrop/Label/Label.js
  frontend/js/components/Ui/DragnDrop/Label/Label.style.js
  frontend/js/components/Ui/DragnDrop/Label/__snapshots__/Label-test.js.snap
  frontend/js/components/Ui/DragnDrop/List/List-test.js
  frontend/js/components/Ui/DragnDrop/List/List.js
  frontend/js/components/Ui/DragnDrop/List/List.style.js
  frontend/js/components/Ui/DragnDrop/List/__snapshots__/List-test.js.snap
  frontend/js/components/Ui/Title/Title-test.js
  frontend/js/components/Ui/Title/Title.js
  frontend/js/components/Ui/Title/Title.style.js
  frontend/js/components/Ui/Title/__snapshots__/Title-test.js.snap
  frontend/js/stories/capcollectif/RankingList-stories.js
  frontend/js/stories/core/Title-stories.js
  frontend/js/stories/core/dragNdrop/dragNdrop-stories.js
  frontend/js/stories/design/Iconography-stories.js
Due: none

[9471-RANKING] Rework ranking component
  frontend/js/components/Form/Ranking/Ranking-test.js
  frontend/js/components/Form/Ranking/Ranking.js
  frontend/js/components/Form/Ranking/RankingLabel/RankingLabel.js
  frontend/js/components/Form/Ranking/RankingLabel/RankingLabel.style.js
  frontend/js/components/Form/Ranking/RankingList/RankingList.js
  frontend/js/components/Form/Ranking/RankingList/RankingList.style.js
  frontend/js/components/Form/RankingArrow-test.js
  frontend/js/components/Form/RankingArrow.js
  frontend/js/components/Form/RankingArrows-test.js
  frontend/js/components/Form/RankingArrows.js
  frontend/js/components/Form/RankingBlock-test.js
  frontend/js/components/Form/RankingBlock.js
  frontend/js/components/Form/RankingBox-test.js
  frontend/js/components/Form/RankingBox.js
  frontend/js/components/Form/RankingItem-test.js
  frontend/js/components/Form/RankingItem.js
  frontend/js/components/Form/RankingSpot-test.js
  frontend/js/components/Form/RankingSpot.js
  frontend/js/components/Form/ReactBootstrapInput.js
  frontend/js/components/Ui/DragnDrop/GroupList/GroupList.js
  frontend/js/components/Ui/DragnDrop/GroupList/GroupList.style.js
  frontend/js/components/Ui/DragnDrop/Item/Item.js
  frontend/js/components/Ui/DragnDrop/Item/Item.style.js
  frontend/js/components/Ui/DragnDrop/Label/Label.style.js
  frontend/js/components/Ui/DragnDrop/List/List.js
  frontend/js/components/Ui/DragnDrop/List/List.style.js
  frontend/js/components/Ui/Icons/Icon.js
  frontend/js/components/Ui/Title/Title.js
  frontend/js/constants/RankingConstants.js
  frontend/js/stories/capcollectif/RankingList-stories.js
  frontend/js/utils/dragNdrop.js
Due: none

[9471-RANKING] Update ranking with react beautiful dnd without reorder
  frontend/js/components/Form/Ranking/Ranking-test.js
  frontend/js/components/Form/Ranking/Ranking.js
  frontend/js/components/Form/Ranking/RankingLabel/RankingLabel-test.js
  frontend/js/components/Form/Ranking/RankingLabel/RankingLabel.js
  frontend/js/components/Form/Ranking/RankingLabel/__snapshots__/RankingLabel-test.js.snap
  frontend/js/components/Form/Ranking/RankingList/RankingList-test.js
  frontend/js/components/Form/Ranking/RankingList/RankingList.js
  frontend/js/components/Form/Ranking/RankingList/__snapshots__/RankingList-test.js.snap
  frontend/js/components/Form/Ranking/__snapshots__/Ranking-test.js.snap
  frontend/js/components/Form/__snapshots__/RankingArrows-test.js.snap
  frontend/js/components/Form/__snapshots__/RankingBlock-test.js.snap
  frontend/js/components/Ui/DragnDrop/Context/Context-test.js
  frontend/js/components/Ui/DragnDrop/Context/Context.js
  frontend/js/components/Ui/DragnDrop/Context/Context.style.js
  frontend/js/components/Ui/DragnDrop/Context/__snapshots__/Context-test.js.snap
  frontend/js/components/Ui/DragnDrop/GroupList/__snapshots__/GroupList-test.js.snap
  frontend/js/components/Ui/DragnDrop/List/List.js
  frontend/js/components/Ui/DragnDrop/List/List.style.js
  frontend/js/stories/capcollectif/RankingList-stories.js
  frontend/js/stories/core/dragNdrop/dragNdrop-stories.js
  frontend/js/utils/dragNdrop.js
  package.json
  yarn.lock
Due: none

[9471-RANKING] Remove package react-dnd & react-dnd-html5-backend
  package.json
  yarn.lock
Due: none

[9471-RANKING] Add preview of draggable on dragging
  frontend/js/components/Form/Ranking/RankingList/RankingList.js
  frontend/js/components/Form/Ranking/RankingList/RankingList.style.js
  frontend/js/components/Ui/DragnDrop/Item/Item.js
  frontend/js/components/Ui/DragnDrop/List/List.js
  frontend/js/components/Ui/DragnDrop/List/List.style.js
  frontend/js/utils/dragNdrop.js
Due: none

[9471-RANKING] Fix flow react-beautiful-dnd
  .flowconfig
  features/front/features/questionnaire.feature
  flow-typed/npm/react-beautiful-dnd_vx.x.x.js
  flow-typed/window.js
  frontend/js/components/Admin/Project/Steps/ProjectStepAdminItem.js
  frontend/js/components/Admin/Project/Steps/ProjectStepAdminList.js
  frontend/js/components/Form/Ranking/RankingLabel/RankingLabel.style.js
  frontend/js/components/Form/Ranking/RankingList/RankingList-test.js
  frontend/js/components/Form/Ranking/RankingList/RankingList.js
  frontend/js/components/Form/Ranking/RankingList/RankingList.style.js
  frontend/js/components/Form/Ranking/RankingList/__snapshots__/RankingList-test.js.snap
  frontend/js/components/Project/Votes/ProposalsUserVotesTable.js
  frontend/js/components/ProposalForm/ProposalFormAdminQuestions.js
  frontend/js/components/Question/QuestionAdmin-test.js
  frontend/js/components/Question/QuestionAdmin.js
  frontend/js/components/Ui/DragnDrop/Item/Item.js
  frontend/js/components/Ui/DragnDrop/Item/Item.style.js
  frontend/js/components/Ui/DragnDrop/Item/__snapshots__/Item-test.js.snap
  frontend/js/components/Ui/DragnDrop/Label/Label.style.js
  frontend/js/components/Ui/DragnDrop/List/List.js
  frontend/js/components/Ui/DragnDrop/List/__snapshots__/List-test.js.snap
  frontend/js/components/Ui/Icons/Icon.js
  frontend/js/components/Ui/Typography/TitleInvertContrast.js
  frontend/js/stories/core/dragNdrop/dragNdrop-stories.js
  frontend/js/stories/core/form/AdminRequirement-stories.js
  frontend/js/utils/dragNdrop.js
  src/Capco/AppBundle/Behat/Traits/QuestionnaireStepsTrait.php
Due: backend

[9471-RANKING] Fix bug about ranking in modal
  features/front/features/questionnaire.feature
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdminList-test.js.snap
  frontend/js/components/Form/Ranking/RankingList/RankingList.js
  frontend/js/components/Proposal/Create/ProposalCreate.js
  frontend/js/components/Proposal/Create/__snapshots__/ProposalCreate-test.js.snap
  frontend/js/components/Proposal/Edit/ProposalEditModal.js
  frontend/js/components/Proposal/Edit/__snapshots__/ProposalEditModal-test.js.snap
  frontend/js/components/Reply/Edit/UpdateReplyModal.js
  frontend/js/components/Reply/Edit/__snapshots__/UpdateReplyModal-test.js.snap
  frontend/js/components/Ui/DragnDrop/List/List.style.js
  frontend/js/components/Ui/DragnDrop/List/__snapshots__/List-test.js.snap
  src/Capco/AppBundle/Behat/Traits/QuestionnaireStepsTrait.php
Due: backend

8640 Configure project header (#9835)
  config/packages/liip_imagine.yaml
  features/graphql-api/internal/mutation/Media/Media_crop.js
  features/graphql-api/internal/mutation/createAlphaProject.js
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Enum/ProjectHeaderType.php
  src/Capco/AppBundle/GraphQL/Mutation/CropMediaMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ProjectHeaderType.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/CroppingOptionInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateAlphaProjectInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CropMediaInput.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CropMediaPayload.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/CroppingSizeOptionInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/CroppingStartOptionInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yaml
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/UserBundle/Form/Type/AlphaProjectFormType.php
  src/DoctrineMigrations/Version20200123115713.php
  yarn.lock
Due: graphql, php, backend

[9877-BUG] fix jump bug (#9880)
  features/back/project/questionnaire.feature
  frontend/js/components/QuestionJump/QuestionJumpConditionAdminForm.js
  frontend/js/components/QuestionJump/QuestionsJumpAdminForm.js
Due: none

[9471-ranking-vote] Improve component ranking vote (#9658)
  config/packages/liip_imagine.yaml
  features/back/project/questionnaire.feature
  features/graphql-api/internal/mutation/Media/Media_crop.js
  features/graphql-api/internal/mutation/createAlphaProject.js
  features/graphql/query/proposalVotes.feature
  frontend/js/components/QuestionJump/QuestionJumpConditionAdminForm.js
  frontend/js/components/QuestionJump/QuestionsJumpAdminForm.js
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Enum/ProjectHeaderType.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoader.php
  src/Capco/AppBundle/GraphQL/Mutation/CropMediaMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ProjectHeaderType.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/CroppingOptionInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateAlphaProjectInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CropMediaInput.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CropMediaPayload.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/CroppingSizeOptionInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/CroppingStartOptionInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yaml
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/AppBundle/Search/VoteSearch.php
  src/Capco/UserBundle/Form/Type/AlphaProjectFormType.php
  src/DoctrineMigrations/Version20200123115713.php
  yarn.lock
Due: graphql, php, backend

Set a correct "Return-Path" for mails to pass DMARC validation (#9890)
  app/config/config.yml
  config/packages/services.yaml
  config/packages/swiftmailer.yaml
  src/Capco/AppBundle/Mailer/MandrillTransport.php
Due: php, backend

Remove mandrill bundle (#9904)
  app/AppKernel.php
  composer.json
  composer.lock
  config/packages/services.yaml
  config/packages/swiftmailer.yaml
  src/Capco/AppBundle/CapcoAppBundle.php
  src/Capco/AppBundle/DependencyInjection/Compiler/MailerServicePass.php
  src/Capco/AppBundle/Mailer/MandrillTransport.php
Due: php, backend

[FIX-FONT] Fixing dev (#9907)
  infrastructure/services/local/nginx/nginx.conf
Due: none

[9891-FIX] Index question choices synchronously on questionnair… (#9892)
  config/packages/repositories.yaml
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProposalFormMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateQuestionnaireConfigurationMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateRegistrationFormQuestionsMutation.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
  src/Capco/AppBundle/Repository/MultipleChoiceQuestionRepository.php
Due: graphql, php, backend

9876 saut conditionnel front (#9899)
  frontend/js/components/Proposal/Admin/ProposalAdminNotationForm.js
  frontend/js/components/Proposal/Admin/__snapshots__/ProposalAdminNotationForm-test.js.snap
  frontend/js/components/ProposalForm/ProposalFormAdminConfigurationForm.js
  frontend/js/utils/responsesHelper.js
Due: none

9872 fix zone (#9901)
  frontend/js/components/District/DistrictAdminFields.js
  frontend/js/components/ProposalForm/ProposalFormAdminConfigurationForm-test.js
  frontend/js/components/ProposalForm/ProposalFormAdminConfigurationForm.js
  frontend/js/components/ProposalForm/ProposalFormAdminDistrictModal.js
  frontend/js/components/ProposalForm/ProposalFormAdminDistricts.js
  frontend/js/services/Translation.js
Due: none

9870-Fix-bug-parameter (#9884)
  src/Capco/AppBundle/Repository/SiteParameterRepository.php
  src/Capco/AppBundle/SiteParameter/SiteParameterResolver.php
  src/DoctrineMigrations/Version20150320104826.php
Due: php, backend

Fix conflict error. (#9911)
  frontend/js/components/ProposalForm/ProposalFormAdminConfigurationForm.js
Due: none
