Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

[10676-BANNIER] Fixing proposal route and starting to fix events query (#10685)
  features/front/features/event.feature
  features/graphql-api/public/query/Query_events.js
  features/graphql-api/public/query/__snapshots__/Query_events.js.snap
  frontend/js/components/Event/EventPage-test.js
  frontend/js/components/Event/EventPage.js
  frontend/js/components/Event/EventPageContainer.js
  frontend/js/components/Event/EventPreview/EventPreview.js
  frontend/js/components/Event/List/EventListCounter.js
  frontend/js/components/Event/List/EventListFilters.js
  frontend/js/components/Event/List/EventListPaginated.js
  frontend/js/components/Event/List/EventPagePassedEventsPreview.js
  frontend/js/components/Event/List/EventRefetch.js
  frontend/js/components/Event/Map/EventMap.js
  frontend/js/components/Event/__snapshots__/EventPage-test.js.snap
  frontend/js/utils/enums/TranslationLocale.js
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalUrlResolverSpec.php
  src/Capco/AdminBundle/Controller/OpinionTypeController.php
  src/Capco/AppBundle/Controller/Site/BlogController.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/Normalizer/EventNormalizer.php
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/PreviewQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProposal.types.yaml
  src/Capco/AppBundle/Resources/config/serialization/Event.yaml
  src/Capco/AppBundle/Resources/views/Blog/blockPost.html.twig
  src/Capco/AppBundle/Resources/views/Event/index.html.twig
  src/Capco/AppBundle/Search/EventSearch.php
Due: graphql, php, backend

[FIX-REDIRECTIOIO] Fixing log (#10702)
  config/packages/services.yaml
  src/Capco/AppBundle/RedirectionIO/Client.php
Due: php, backend

[SLEEP-SUPERVISOR] Add sleep to supervisor remote. (#10700)
  infrastructure/services/remote/supervisord/argument.conf
  infrastructure/services/remote/supervisord/comment.conf
  infrastructure/services/remote/supervisord/elasticsearch.conf
  infrastructure/services/remote/supervisord/event.conf
  infrastructure/services/remote/supervisord/opinion.conf
  infrastructure/services/remote/supervisord/proposal.conf
  infrastructure/services/remote/supervisord/questionnaire.conf
  infrastructure/services/remote/supervisord/user.conf
  infrastructure/services/remote/supervisord/user_archive.conf
Due: none

[FIX-SUPERVISOR] Add missing sleep. (#10708)
  infrastructure/services/remote/supervisord/user.conf
Due: none

[4332-MIGRATION] Adding circleci job to check migrations (#10706)
  src/Capco/AppBundle/Command/Migrations/MigrationOnRealDatabasesCommand.php
Due: php, backend

Set priority to delete instead of draft (#10713)
  spec/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalPublicationStatusResolverSpec.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalPublicationStatusResolver.php
Due: graphql, php, backend

[10719-FIX] Test some log. (#10720)
  config/packages/monolog.yaml
  config/packages/prod/monolog.yaml
Due: none

Fix versions pagination export (#10725)
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
Due: php, backend

[10726-FIX] Display date in decision panel (#10730)
  frontend/js/components/Proposal/Analysis/ProposalDecisionFormPanel.js
Due: none

[10676-FIX] Changing redirection (#10718)
  src/Capco/AppBundle/Controller/Api/LocaleController.php
Due: php, backend

[10695-FIX] Fix analysts filters (#10727)
  features/graphql-api/internal/Project/__snapshots__/Project_analysisTab.js.snap
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: php, backend

[10402-FIX] ContactProposalAuthorMutation returns error when author email not valid (#10721)
  config/packages/services.yaml
  src/Capco/AppBundle/Enum/ContactProposalAuthorErrorCode.php
  src/Capco/AppBundle/GraphQL/Mutation/ContactProposalAuthorMutation.php
Due: graphql, php, backend

[10736-FIX] Fix font-weight BO (#10738)
  public/fonts/_fonts.scss
Due: none

Fix proposal processing (#10485)
  config/packages/listeners.yaml
  features/commands/analysis_process_proposals.feature
  features/front/features/project.feature
  features/graphql-api/internal/mutation/__snapshots__/changeProposalDecision.js.snap
  features/graphql-api/internal/mutation/__snapshots__/updateQuestionnaireConfiguration.js.snap
  features/graphql-api/internal/mutation/changeProposalDecision.js
  features/graphql-api/internal/mutation/updateQuestionnaireConfiguration.js
  fixtures/Dev/Questionnaire.yaml
  frontend/js/components/Admin/Project/ProjectAdminProposals-test.js
  frontend/js/components/Admin/Project/ProjectAdminProposals.utils-test.js
  frontend/js/components/Form/MultipleRadio/MultipleRadio.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisUserRow.js
  frontend/js/components/Proposal/Analysis/ProposalDecisionFormPanel.js
  frontend/js/components/Proposal/Analysis/__snapshots__/ProposalAnalysisUserRow-test.js.snap
  frontend/js/components/Proposal/Page/ProposalPageHeader.js
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPageHeader-test.js.snap
  frontend/js/mutations/ChangeProposalDecisionMutation.js
  infrastructure/services/remote/cron/crontab
  jest-setup.e2e.js
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/CapcoAppBundleEvents.php
  src/Capco/AppBundle/Command/ProcessingProposalCommand.php
  src/Capco/AppBundle/Command/ReinitCommand.php
  src/Capco/AppBundle/Entity/AnalysisConfiguration.php
  src/Capco/AppBundle/Entity/Post.php
  src/Capco/AppBundle/Entity/ProposalDecision.php
  src/Capco/AppBundle/Event/DecisionEvent.php
  src/Capco/AppBundle/EventListener/DecisionSubscriber.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeProposalDecisionMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Post/PostUrlResolver.php
  src/Capco/AppBundle/Repository/ProposalDecisionRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeProposalDecisionPayload.types.yaml
  src/DoctrineMigrations/Version20200529134417.php
  yarn.lock
Due: graphql, php, backend

[10557-FEAT] Contributors list filter (#10739)
  features/graphql-api/internal/Project/Project_contributors.js
  features/graphql-api/internal/Project/__snapshots__/Project_contributors.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributorResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yaml
  src/Capco/AppBundle/Search/ContributionSearch.php
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/UserBundle/Resources/config/serialization/Entity.User.yml
Due: graphql, php, backend

Fix consultation export, spamming with Sentry warnings (#10741)
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/GraphQL/ConnectionTraversor.php
Due: graphql, php, backend

[MONOLOG-MAX] Revert max_files in prod. (#10744)
  config/packages/prod/monolog.yaml
  config/packages/prod/services.yaml
Due: none

Remove no more needed relay flow patch (#10745)
  package.json
  yarn.lock
Due: none

[FIX-PROJECTS] Fixing dependency injections (#10749)
  config/packages/controllers.yaml
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
Due: php, backend

9669 sf5 migrate somes dependencies (#10659)
  composer.json
  composer.lock
  config/packages/commands.yaml
  config/packages/controllers.yaml
  config/packages/hwi_oauth.yaml
  config/packages/services.yaml
  config/routes/routing.yaml
  src/Capco/AppBundle/Behat/ExportContext.php
  src/Capco/AppBundle/Behat/Traits/ExportDatasUserTrait.php
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromEventParticipantsCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromEventsCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromProjectsContributorsCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromQuestionnaireCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
  src/Capco/AppBundle/Command/CreateStepContributorsCommand.php
  src/Capco/AppBundle/Command/CreateUserAccountsFromCSVCommand.php
  src/Capco/AppBundle/Command/CreateUsersFromCsvCommand.php
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
  src/Capco/AppBundle/Command/ImportProposalsFromCsvCommand.php
  src/Capco/AppBundle/Command/WriterFactory.php
  src/Capco/AppBundle/Controller/Api/OpinionsController.php
  src/Capco/AppBundle/Controller/Api/ProposalFormsController.php
  src/Capco/AppBundle/Controller/Api/StatusesController.php
  src/Capco/AppBundle/Controller/Api/SynthesisController.php
  src/Capco/AppBundle/Controller/Api/UsersController.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Resolver/ProposalResolver.php
  src/Capco/UserBundle/Controller/OauthConnectController.php
  src/Capco/UserBundle/Controller/RedirectToServiceController.php
Due: php, backend

[10687-FIX] Fix revoked status application on analysis (#10689)
  frontend/js/components/Admin/Project/ProjectAdminProposals.utils.js
  frontend/js/components/Analysis/AnalysisProjectPage/AnalysisProjectPage.utils.js
  frontend/js/components/Analysis/AnalysisProposalListRole/AnalysisProposalListRole.js
  frontend/js/components/Analysis/UserAnalystList/UserAnalystList.js
  frontend/js/components/Analysis/UserAnalystListHidden/UserAnalystListHidden.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisPanel.js
  frontend/js/components/Proposal/Analysis/__snapshots__/ProposalAnalysisPanel-test.js.snap
  public/fonts/OpenSans-Regular.ttf
  public/fonts/OpenSans-regular.ttf
Due: none

[10767-FIX] 500 smartidf (#10769)
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalStatusDataLoader.php
Due: graphql, php, backend

[10753-EUSKADIA] add euskadia and occitan (#10760)
  config/packages/sonata.yaml
  config/services.yaml
  features/graphql/query/availableLocales.feature
  fetch_translations.mjs
  fixtures/Benchmark/Locale.yaml
  fixtures/Dev/Locale.yaml
  fixtures/Prod/Locale.yaml
  frontend/js/components/LanguageButton/LanguageButton-test.js
  frontend/js/stories/core/buttons/LanguageChangeButton-stories.js
  frontend/js/utils/enums/TranslationLocale.js
  schema.internal.graphql
  src/Capco/AppBundle/Enum/TranslationLocale.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/TranslationLocale.types.yaml
  src/DoctrineMigrations/Version20200619101639.php
  webpack/config.js
  webpack/webpack.client.js
Due: php, backend

[10554-FEAT] Sort participants list (#10751)
  __snapshots__/exports/participants_collecte-des-propositions-avec-vote-simple.csv
  __snapshots__/exports/participants_collecte-des-propositions-liberer-les-nains-de-jardin.csv
  __snapshots__/exports/participants_collecte-des-propositions.csv
  __snapshots__/exports/participants_selection.csv
  features/graphql-api/internal/CollectStep/__snapshots__/CollectStep_contributors.js.snap
  features/graphql-api/internal/Project/Project_contributors.js
  features/graphql-api/internal/Project/__snapshots__/Project_contributors.js.snap
  features/graphql-api/internal/mutation/__snapshots__/updateQuestionnaireConfiguration.js.snap
  features/graphql-api/public/Project/__snapshots__/Project_contributors.js.snap
  features/graphql-api/public/SelectionStep/__snapshots__/SelectionStep_contributors.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/Command/ExportAnalysisCSVCommand.php
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Enum/UserOrderField.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributorResolver.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/UserOrderField.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yaml
  src/Capco/AppBundle/Search/ContributionSearch.php
  src/Capco/AppBundle/Search/UserSearch.php
Due: graphql, php, backend

[10561-FEAT ] Search in participants list (#10777)
  features/graphql-api/internal/Project/Project_contributors.js
  features/graphql-api/internal/Project/__snapshots__/Project_contributors.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributorResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yaml
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/UserBundle/Resources/config/serialization/Entity.User.yml
Due: graphql, php, backend

[10748-FIX] fix services not found (#10750)
  config/packages/commands.yaml
  config/packages/graphql_dataloaders.yaml
  config/packages/repositories.yaml
  config/packages/services.yaml
  src/Capco/AppBundle/CapcoAppBundleEvents.php
  src/Capco/AppBundle/Command/ComputeDiffCommand.php
  src/Capco/AppBundle/Command/CreateAccountsFromEmailsCommand.php
  src/Capco/AppBundle/Command/CreateAnswersFromCsvCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Command/DeleteUserArchiveCommand.php
  src/Capco/AppBundle/Command/ExportAnalysisCSVCommand.php
  src/Capco/AppBundle/Command/Maker/AbstractMaker.php
  src/Capco/AppBundle/Controller/Api/UsersController.php
  src/Capco/AppBundle/Controller/Site/CommentController.php
  src/Capco/AppBundle/Controller/Site/ModerationController.php
  src/Capco/AppBundle/Controller/Site/PageController.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/Controller/Site/ThemeController.php
  src/Capco/AppBundle/GraphQL/DataLoader/Commentable/CommentableCommentsDataLoader.php
  src/Capco/UserBundle/Controller/ProfileController.php
Due: graphql, php, backend

[HOTFIX] Revert "9669 sf5 migrate somes dependencies (#10659)" (#10785)
  composer.json
  composer.lock
  config/packages/controllers.yaml
  config/packages/hwi_oauth.yaml
  config/packages/services.yaml
  config/routes/routing.yaml
  src/Capco/AppBundle/Behat/ExportContext.php
  src/Capco/AppBundle/Behat/Traits/ExportDatasUserTrait.php
  src/Capco/AppBundle/Controller/Api/OpinionsController.php
  src/Capco/AppBundle/Controller/Api/ProposalFormsController.php
  src/Capco/AppBundle/Controller/Api/StatusesController.php
  src/Capco/AppBundle/Controller/Api/SynthesisController.php
  src/Capco/AppBundle/Controller/Api/UsersController.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Resolver/ProposalResolver.php
  src/Capco/UserBundle/Controller/OauthConnectController.php
  src/Capco/UserBundle/Controller/RedirectToServiceController.php
Due: php, backend

[10748-FIX] fix (#10783)
  config/packages/repositories.yaml
Due: none

Add contribualeId param on User.votes (#10786)
  features/graphql-api/internal/user/User_votes.js
  features/graphql-api/internal/user/__snapshots__/User_votes.js.snap
  features/graphql-api/public/User/__snapshots__/User_contributions.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/User/UserVotesResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yaml
  src/Capco/AppBundle/Search/ContributionSearch.php
  src/Capco/AppBundle/Search/VoteSearch.php
Due: graphql, php, backend

Add subsection fixtures (#10780)
  features/graphql-api/internal/proposal/__snapshots__/Proposal_responses.js.snap
  fixtures/Dev/LogicJump.yaml
  fixtures/Dev/QuestionnaireAbstractQuestion.yaml
  fixtures/Dev/SectionQuestion.yaml
  frontend/js/plugin/APIEnterprise/APIEnterpriseFunctions.js
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Traits/ExportDatasUserTrait.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Command/Elasticsearch/CleanIndexCommand.php
  src/Capco/AppBundle/Command/Migrations/MigrationOnRealDatabasesCommand.php
  src/Capco/AppBundle/Command/ReinitCommand.php
  src/Capco/AppBundle/DataFixtures/Processor/MediaProcessor.php
  src/Capco/AppBundle/Resolver/LocaleResolver.php
  src/Capco/AppBundle/Traits/SnapshotCommandTrait.php
  src/DoctrineMigrations/Version20200302163542.php
Due: php, backend

[9969-FIX] Fix e2e-Command. (#10794)
  src/Capco/AppBundle/Behat/ExportContext.php
Due: backend

[6552-FIX] micro fix (#10765)
  __snapshots__/emails/notifyUserReviewedEventApproved.html
  __snapshots__/emails/notifyUserReviewedEventApprovedEnglish.html
  __snapshots__/emails/notifyUserReviewedEventRefused.html
  __snapshots__/emails/notifyUserReviewedEventRefusedEnglish.html
  __snapshots__/exports/project-budget-participatif-idf-analysis.csv
  __snapshots__/exports/project-budget-participatif-idf-decision.csv
  __snapshots__/exports/project-project-analyse-analysis.csv
  __snapshots__/exports/project-project-analyse-decision.csv
  config/packages/commands.yaml
  features/graphql-api/public/Event/Events_review.js
  features/graphql-api/public/Event/__snapshots__/Events_review.js.snap
  fixtures/Dev/Event.yaml
  fixtures/Dev/EventTranslation.yaml
  fixtures/Dev/Media.yaml
  frontend/js/components/Event/Edit/EventEditModal-test.js
  frontend/js/components/Event/Edit/EventEditModal.js
  frontend/js/components/Event/Edit/__snapshots__/EventEditModal-test.js.snap
  frontend/js/components/Event/Form/EventForm.js
  frontend/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  frontend/js/components/Form/Approve.js
  src/Capco/AppBundle/Command/ExportAnalysisCSVCommand.php
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Mailer/Message/Event/EventReviewApprovedMessage.php
  src/Capco/AppBundle/Notifier/EventNotifier.php
  src/Capco/AppBundle/Processor/Event/EventReviewProcessor.php
  src/Capco/AppBundle/Resolver/UrlResolver.php
Due: php, backend

[10799-10687-FIX] Fix analysis related bugs (#10803)
  frontend/js/components/Analysis/UserAnalystList/UserAnalystList.js
  frontend/js/components/ProposalForm/ProposalFormAdminAnalysisConfigurationForm.js
Due: none

[FIX-USELESS] Fixing export test (#10791)
  features/back/project/project.feature
  features/front/features/project.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Command/CreateStepContributorsCommand.php
  src/Capco/AppBundle/Command/ExportAnalysisCSVCommand.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
Due: php, backend

Fix API entreprise index (#10805)
  frontend/js/plugin/APIEnterprise/APIEnterpriseFunctions.js
Due: none
