Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

Améliorer les perfs de DeleteAccountByEmailMutation (#19258)
  src/Capco/AppBundle/Anonymizer/UserAnonymizer.php
  src/Capco/AppBundle/Command/BenchmarkDeleteAccountByEmailCommand.php
Due: php

chore: upgrade libs (#19303)
  yarn.lock
Due: none

fix snapshot (#19304)
  cypress/e2e/frontOffice/projects/projectsFilter.cy.ts
  cypress/e2e/frontOffice/search/search.cy.ts
Due: none

fix tab when loading more projects (#19125)
  admin-next/components/FrontOffice/Sections/PostList/PostListSection.tsx
  admin-next/components/FrontOffice/Sections/ProjectList/ProjectListSection.tsx
  admin-next/shared/hooks/useFocusOnLoadMore.ts
  admin-next/shared/projectCard/ProjectCard.tsx
Due: none

18971 event post list improvements (#19113)
  admin-next/components/BackOffice/Events/EventItem.tsx
  admin-next/components/BackOffice/Events/__snapshots__/EventItem.test.tsx.snap
  admin-next/components/BackOffice/Events/__snapshots__/EventList.test.tsx.snap
  admin-next/components/BackOffice/Posts/PostItem.tsx
  admin-next/components/BackOffice/Posts/PostList.test.tsx
  admin-next/components/BackOffice/Posts/__snapshots__/PostItem.test.tsx.snap
  admin-next/components/BackOffice/Posts/__snapshots__/PostList.test.tsx.snap
  features/graphql-api/public/Query/__snapshots__/Query_posts.js.snap
  features/graphql/query/project_posts.feature
  fixtures/Dev/Post.yaml
Due: none

19139 fix carousel (#19155)
  admin-next/components/BackOffice/Sections/Carrousel/Carrousel.utils.ts
  admin-next/components/BackOffice/Sections/Carrousel/CarrouselContent.tsx
  admin-next/components/BackOffice/Sections/Carrousel/CarrouselEmptyList.tsx
  admin-next/components/BackOffice/Sections/Carrousel/CarrouselItem.tsx
  admin-next/components/BackOffice/Sections/Carrousel/CarrouselParameters.tsx
  admin-next/pages/admin-next/section/carrousel/[sectionId].tsx
  admin-next/shared/sections/carrousel/Carrousel.tsx
  admin-next/shared/sections/carrousel/__snapshots__/Carrousel.test.tsx.snap
  features/graphql-api/internal/Query/Query_homePageSections.js
  features/graphql-api/internal/Query/__snapshots__/Query_homePageSections.js.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Enum/HomePageSectionOrderField.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryHomePageSectionsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/HomePageSectionOrderField.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/HomePageSectionOrder.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/HomePageSection.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/relay-connection/HomePageSectionConnection.types.yaml
Due: graphql, php

Add schema-diff job in test-and-build workflow (#19287) (#19288)
  package.json
  scripts/check-schema-breaking-changes.mjs
  scripts/package.json
Due: none

test: reset ES for removeArgumentVote.js (#19312)
  features/graphql-api/internal/Mutation/Argument/removeArgumentVote.js
Due: none

Add sync antivirus analysis for each file upload (#19254)
  .claude/agents/web-security-expert.md
  admin-next/components/BackOffice/FeatureList/FeatureItems.json
  admin-next/shared/hooks/useFeatureFlag.ts
  admin-next/tests/mocks.tsx
  admin-next/utils/feature-flags-resolver.ts
  config/packages/services.yaml
  doc/antivirus-solutions-comparison.md
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  frontend/js/components/Form/ImageUpload.tsx
  frontend/js/components/Form/WysiwygEditor/JoditEditor.tsx
  frontend/js/components/Ui/Form/Dropzone/Dropzone.tsx
  infrastructure/services/local/Dockerfile
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/cron/antivirus
  infrastructure/services/remote/supervisord/clamd.conf
  infrastructure/services/remote/supervisord/run
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Antivirus/AntivirusScanner.php
  src/Capco/AppBundle/Antivirus/ClamdManager.php
  src/Capco/AppBundle/Antivirus/ScanResult.php
  src/Capco/AppBundle/Command/FeatureToggle/IsActiveCommand.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Controller/Api/MediasController.php
  src/Capco/AppBundle/EventListener/AntivirusToggleSubscriber.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
Due: php, jest, flow

feat: keep implementing filters modal (#19253)
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/VoteStepFiltersAccordions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/VoteStepFiltersModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/VoteStepMobileFilters.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/VoteStepMobileFiltersModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/useVoteStepFilters.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/utils.ts
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepActionsModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepListActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepMobileActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStep.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepListHeader.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepWebLayout.tsx
  frontend/js/components/VoteStep/Filters/VoteStepFiltersAccordions.tsx
Due: jest, flow

feat: new create proposal modal (#19317)
  admin-next/components/BackOffice/Steps/QuestionnaireStep/QuestionModal/MajorityPreview.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepListActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/VoteStepMapCustomEvents.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalCreateModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalCreateModal.type.ts
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalForm.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/utils.ts
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepListHeader.tsx
  admin-next/mutations/CreateProposalMutation.ts
  admin-next/package.json
  admin-next/shared/ui/MajorityQuestion/MajorityQuestion.tsx
  yarn.lock
Due: none

replace panther (#19261)
  composer.json
  composer.lock
  config/packages/crawler.yaml
  config/packages/messenger.yaml
  config/packages/services.yaml
  config/packages/swarrot.yaml
  config/rabbitmq.yaml
  config/services.yaml
  infrastructure/environments/testing.yml
  infrastructure/services/remote/Dockerfile
  spec/Capco/AppBundle/Crawler/PantherServiceCallerTest.php
  src/Capco/AppBundle/CapcoAppBundleMessagesTypes.php
  src/Capco/AppBundle/Crawler/DebateArticleMetadataCrawler.php
  src/Capco/AppBundle/Crawler/PantherServiceCaller.php
  src/Capco/AppBundle/EventListener/DebateArticleListener.php
  src/Capco/AppBundle/Message/DebateArticleCrawlerMessage.php
  src/Capco/AppBundle/MessageHandler/DebateArticleCrawlerMessageHandler.php
  src/Capco/AppBundle/Processor/Debate/DebateArticleCrawlerProcessor.php
  tests/UnitTests/DebateArticleMetadataCrawlerTest.php
Due: php

fix(mailing-list): error 500 then consent not taken into account when using organizations in emailing system (#18810)
  features/graphql-api/internal/Mutation/MailingList/__snapshots__/createMailingList.js.snap
  features/graphql-api/internal/Query/Query_participants.js
  features/graphql-api/internal/Query/__snapshots__/Query_participants.js.snap
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/CreateMailingListMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Participant/ParticipantsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
Due: graphql, php

fix: change relation between Event and Media from OneToOne to ManyToOne (#19242)
  src/Capco/AppBundle/Entity/Event.php
  src/DoctrineMigrations/Version20251217130745.php
Due: php

fix(ds:accordion): accessibility + design (#18819)
  .gitignore
  admin-next/components/BackOffice/FeatureList/FeatureList.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormSide/ProjectConfigFormPublication.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormSide/ProjectConfigFormSide.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormSteps.tsx
  admin-next/components/BackOffice/Steps/CollectStep/CollectStepForm.tsx
  admin-next/components/BackOffice/Steps/ConsultationStep/ConsultationStepConsultations.tsx
  admin-next/components/BackOffice/Steps/ConsultationStep/ConsultationStepForm.tsx
  admin-next/components/BackOffice/Steps/DebateStep/DebateStepForm.tsx
  admin-next/components/BackOffice/Steps/OtherStep/OtherStepForm.tsx
  admin-next/components/BackOffice/Steps/QuestionnaireStep/QuestionnaireStepForm.tsx
  admin-next/components/BackOffice/Steps/QuestionnaireStep/QuestionnaireStepFormOptionalParameters.tsx
  admin-next/components/BackOffice/Steps/QuestionnaireStep/QuestionnaireStepFormQuestionnaireTab.tsx
  admin-next/components/BackOffice/Steps/SelectStep/SelectStepForm.tsx
Due: none

fix: add condition on document referrer to allow redirect even if context lost (#19256)
  frontend/js/components/Proposal/Page/Header/ProposalPageHeader.tsx
Due: jest, flow

fix: confirm user when resetting password (#19300)
  src/Capco/AppBundle/GraphQL/Mutation/ResetPasswordMutation.php
  src/Capco/UserBundle/Controller/ResettingController.php
Due: graphql, php

Fix UpdateContactPage mutation with using Redis cache only (#18390) (#19279)
  features/graphql-api/public/Query/Query_events.js
  features/graphql-api/public/Query/__snapshots__/Query_events.js.snap
  src/Capco/AppBundle/GraphQL/Mutation/UpdateContactPageMutation.php
  src/Capco/AppBundle/Repository/SiteParameterRepository.php
  src/Capco/AppBundle/SiteParameter/SiteParameterResolver.php
Due: graphql, php

Add login development banner (#19326)
  config/packages/twig.yaml
  src/Capco/AppBundle/Resources/views/layout.html.twig
  src/Capco/AppBundle/Resources/views/partials/_development_banner.html.twig
  src/Capco/AppBundle/Twig/DevUsersExtension.php
  src/Capco/AppBundle/Twig/DevUsersRuntime.php
Due: php

Migrate organization member behat to jest (#19313)
  features/graphql-api/internal/Query/Organization/Organization_members.js
  features/graphql-api/internal/Query/Organization/__snapshots__/Organization_members.js.snap
  features/graphql/type/organization/organization_members.feature
  package.json
Due: none

fix: ignore claude local config (#19333)
  .gitignore
Due: none

Remove debate_article_crawler from supervisord config (#19335)
  infrastructure/services/local/supervisord/debate_article_crawler.conf
  infrastructure/services/remote/supervisord/debate_article_crawler.conf
Due: none

fix ratio and optionnal label (#19336)
  admin-next/components/BackOffice/Sections/Carrousel/CarrouselItem.tsx
Due: none

add ProposalStepVoteTypes for votes block (#19342)
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Step/ProposalStepVoteTypesResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ProposalStepVoteTypeValue.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/ProposalStep.types.yaml
Due: graphql, php

filter steps that does not have proposalForm (#19344)
  src/Capco/AppBundle/Command/ExportCollectAndSelectionContributionsCommand.php
  src/Capco/AppBundle/Repository/CollectStepRepository.php
Due: php

fix: userType update not working (#19302)
  features/front/bp/proposal_search.feature
  features/graphql-api/internal/Query/SelectionStep/SelectionStep_proposals.js
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Search/ProposalSearch.php
  src/Capco/UserBundle/Repository/UserTypeRepository.php
Due: php

fix(analysis): make description not required (#19262)
  frontend/js/components/Proposal/Analysis/ProposalAssessmentFormPanel.tsx
Due: jest, flow

fix: remove fixed width on revision & reduce majority btn padding (#19259)
  frontend/js/components/Proposal/Edit/ProposalEditModal.tsx
  frontend/js/components/Ui/Form/Input/Majority/Majority.style.ts
Due: jest, flow

fix: add minwidth 0 to prevent overflow if content is larger than layout (#19257)
  admin-next/components/BackOffice/Layout/Layout.tsx
Due: none

fix: change relation between various entities and Media from OneToOne to ManyToOne (#19248)
  src/Capco/AppBundle/Entity/CategoryImage.php
  src/Capco/AppBundle/Entity/District/GlobalDistrict.php
  src/Capco/AppBundle/Entity/Organization/Organization.php
  src/Capco/AppBundle/Entity/Page.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/Source.php
  src/Capco/AppBundle/Entity/Theme.php
  src/Capco/AppBundle/Entity/Video.php
  src/DoctrineMigrations/Version20251218180652.php
Due: php

fix: count anonymous votes in debate (#19327)
  features/graphql-api/internal/Query/Project/__snapshots__/Project_contributors.js.snap
  features/graphql-api/internal/Query/Project/__snapshots__/Project_counters.js.snap
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributorResolver.php
  src/Capco/AppBundle/Repository/Debate/DebateAnonymousVoteRepository.php
Due: graphql, php

fix(depot): feedbacks (#19343)
  admin-next/components/FrontOffice/ProposalCard/ProposalCard.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepListActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepMobileActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/MobileProposalCard.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/ProposalMarker.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/VoteStepMapMarkers.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepProposalsList.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepWebLayout.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VotesPopup/VotesPopupCard.tsx
  admin-next/components/FrontOffice/VoteButton/VoteButton.tsx
  admin-next/mutations/AddProposalVoteMutation.ts
  admin-next/mutations/RemoveProposalVoteMutation.ts
Due: none

fix contributions download export for consultation step (#19347) (#19349)
  src/Capco/AppBundle/Controller/Site/ExportController.php
Due: php

Add internal login bar for qa env (19352) (#19353)
  config/packages/twig.yaml
  src/Capco/AppBundle/Resources/views/partials/_development_banner.html.twig
  src/Capco/AppBundle/Twig/DevUsersExtension.php
  src/Capco/AppBundle/Twig/DevUsersRuntime.php
Due: php

fix : force cache invalidation (#18390) (#19354)
  config/packages/services.yaml
  src/Capco/AppBundle/EventListener/SiteParameterCacheSubscriber.php
Due: php

feat: create/update proposal modal + drafts (#19329)
  admin-next/components/FrontOffice/Steps/VoteStep/Map/VoteStepMapCustomEvents.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalDrafts/ProposalDrafts.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ExternalLinks.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalCreateModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalFormModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalFormModal.type.ts
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Questions/ButtonChoices.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Questions/MultipleChoiceQuestion.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Questions/RankingChoices.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/utils.ts
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStep.type.ts
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepListHeader.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepWebLayout.tsx
  admin-next/mutations/ChangeProposalContentMutation.ts
  admin-next/mutations/CreateProposalMutation.ts
  admin-next/package.json
  admin-next/shared/utils/isResponseValueEmpty.ts
  admin-next/shared/utils/isWYSIWYGContentEmpty.tsx
  yarn.lock
Due: none

fix: return null when it is expected to have no participant found (#19299)
  src/Capco/AppBundle/GraphQL/Resolver/Participant/ParticipantResolver.php
Due: graphql, php
