Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

Clean up some no more useful proposals e2e tests (#14166)
  features/front/bp/proposal_search.feature
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: none

[13921] Fix display emailing in SideBar (#14172)
  admin-next/components/SideBar/SideBarItems.json
Due: none

[13476-DASHBOARD-V2] Modify ES queries to fit new data model. (#14050)
  config/packages/services.yaml
  config/services.yaml
  features/graphql-api/internal/Analytics/__snapshots__/analytics.js.snap
  src/Capco/AppBundle/Client/CloudflareElasticClient.php
  src/Capco/AppBundle/Command/Elasticsearch/CreateAnalyticsTestIndexCommand.php
  src/Capco/AppBundle/Command/Elasticsearch/CreateIndexCommand.php
  src/Capco/AppBundle/Command/Elasticsearch/config/logs.json
  src/Capco/AppBundle/Command/Elasticsearch/config/mapping.yaml
  src/Capco/AppBundle/GraphQL/DataLoader/Query/QueryAnalyticsDataLoader.php
Due: graphql, php

[13476-FIX-ES-PERFORMANCE] Remove aggregation script on dashboard's ES query. (#14179)
  src/Capco/AppBundle/Client/CloudflareElasticClient.php
Due: php

- Remove UpTimeRobot range ip filters on dashboard queries (#14183)
  src/Capco/AppBundle/Client/CloudflareElasticClient.php
Due: php

Remove more secrets from default values (#14149)
  bin/console
  config/services.yaml
  fixtures/Dev/ExternalServiceConfiguration.yaml
  fixtures/Prod/User.yaml
  infrastructure/deploylib/app.py
  infrastructure/environments/testing.yml
  infrastructure/services/remote/Dockerfile
  public/index.php
  src/Capco/AppBundle/Crawler/PantherServiceCaller.php
  src/Capco/AppBundle/Slack/JpecGhost.php
Due: php

Fix des conditions requise sur une étape de selection (#14114)
  admin-next/components/IdentificationCodes/FileAnalyse.ts
  fixtures/Prod/User.yaml
  flow-typed/npm/redux-form_vx.x.x.js
  frontend/js/components/Proposal/Vote/ProposalVoteModal.js
  frontend/js/components/Requirements/RequirementsForm-test.js
  frontend/js/components/Requirements/RequirementsForm.js
  frontend/js/components/Requirements/__snapshots__/RequirementsForm-test.js.snap
  frontend/js/components/User/Profile/PersonalData.js
  frontend/js/components/User/Profile/__snapshots__/PersonalData-test.js.snap
  frontend/js/redux/modules/proposal.js
  spec/Capco/AppBundle/GraphQL/Mutation/CheckIdentificationCodeMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/CheckIdentificationCodeMutation.php
Due: graphql, php, jest, flow

Commande pour activer tout les features toggle (#14150)
  src/Capco/AppBundle/Command/FeatureToggle/EnableCommand.php
Due: php

Fix fixture IP geolocation (#14188)
  __snapshots__/exports/debate-debateCannabis-votes.csv
  features/front/bp/proposal_votes.feature
Due: none

[FIX-ANALYTICS-TESTS] Remove analytics fixtures with query params (#14190)
  src/Capco/AppBundle/Command/Elasticsearch/config/logs.json
Due: php

Bandeau cookie fix zIndex (#14194)
  frontend/js/components/StaticPage/CookieManagerModal.style.js
Due: jest, flow

Configure `purify_html_profile` correctly (#14200)
  src/Capco/AdminBundle/Admin/PageAdmin.php
  src/Capco/AdminBundle/Admin/StepAdmin.php
  src/Capco/AppBundle/Form/AbstractQuestionType.php
  src/Capco/AppBundle/Form/ApiQuestionChoiceType.php
  src/Capco/AppBundle/Form/ApiQuestionType.php
  src/Capco/AppBundle/Form/ApiSourceType.php
  src/Capco/AppBundle/Form/AppendixType.php
  src/Capco/AppBundle/Form/ArgumentType.php
  src/Capco/AppBundle/Form/CommentType.php
  src/Capco/AppBundle/Form/ContactFormType.php
  src/Capco/AppBundle/Form/ContactType.php
  src/Capco/AppBundle/Form/DebateOpinionType.php
  src/Capco/AppBundle/Form/EmailingCampaignType.php
  src/Capco/AppBundle/Form/EventType.php
  src/Capco/AppBundle/Form/GroupCreateType.php
  src/Capco/AppBundle/Form/MediaQuestionType.php
  src/Capco/AppBundle/Form/OpinionForm.php
  src/Capco/AppBundle/Form/OpinionVersionType.php
  src/Capco/AppBundle/Form/ProgessStepType.php
  src/Capco/AppBundle/Form/ProjectType.php
  src/Capco/AppBundle/Form/ProposalDistrictAdminType.php
  src/Capco/AppBundle/Form/ProposalFormCreateType.php
  src/Capco/AppBundle/Form/ProposalFormUpdateType.php
  src/Capco/AppBundle/Form/ProposalPostType.php
  src/Capco/AppBundle/Form/ProposalRevisionType.php
  src/Capco/AppBundle/Form/ProposalType.php
  src/Capco/AppBundle/Form/QuestionnaireConfigurationUpdateType.php
  src/Capco/AppBundle/Form/QuestionnaireCreateType.php
  src/Capco/AppBundle/Form/ReportingType.php
  src/Capco/AppBundle/Form/SectionType.php
  src/Capco/UserBundle/Form/Type/AlphaProjectFormType.php
  src/Capco/UserBundle/Form/Type/ApiAdminRegistrationFormType.php
  src/Capco/UserBundle/Form/Type/ApiRegistrationFormType.php
  src/Capco/UserBundle/Form/Type/PersonalDataFormType.php
  src/Capco/UserBundle/Form/Type/ProfileFormType.php
  src/Capco/UserBundle/Form/Type/ProjectFormType.php
  src/Capco/UserBundle/Form/Type/PublicDataType.php
  src/Capco/UserBundle/Form/Type/UpdateProjectFormType.php
  src/Capco/UserBundle/Form/Type/UserFormType.php
Due: php

Analysis status icon - restore (#14202)
  frontend/js/components/User/UserAvatarLegacy.js
Due: jest, flow

Bug day microfix (#14192)
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProposalNewsMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalVotesResolver.php
Due: graphql, php

fix step isClosed algo (#14204)
  src/Capco/AppBundle/Traits/TimeRangeableTrait.php
Due: php

[14173-FIX] fix (#14206)
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProposalNewsMutation.php
Due: graphql, php

base64 encode user id in user export (#14195)
  __snapshots__/exports/users.csv
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
Due: php

disable login_paris (#14189)
  src/Capco/AppBundle/Command/FeatureToggle/EnableCommand.php
Due: php

fix mapCenter (#14199)
  frontend/js/components/ProposalForm/ProposalFormAdminConfigurationForm.js
Due: jest, flow

update district (#14215)
  frontend/js/components/Proposal/Create/ProposalChangeAddressModal.js
  frontend/js/components/Proposal/Form/ProposalForm.js
Due: jest, flow

Add capeb cas authorization filter debug informations (#14219)
  src/Capco/UserBundle/Security/Service/CasUserFilter.php
Due: php

[OPTI-DEBATE] do not load all users at once (#14177)
  src/Capco/AppBundle/Command/Debate/DebateInvitationCommand.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php

Oops fix error message (#14220)
  src/Capco/UserBundle/Security/Service/CasUserFilter.php
Due: php

json encode the cas user role
  src/Capco/UserBundle/Security/Service/CasUserFilter.php
Due: php

Remove unused event registration field (#14221)
  src/Capco/AppBundle/Entity/EventRegistration.php
  src/Capco/AppBundle/Form/EventRegistrationType.php
  src/DoctrineMigrations/Version20220303114153.php
Due: php

[FIX-GROUP] Filter pending group invitation on group's list members (#14208)
  src/Capco/AppBundle/Repository/UserInviteRepository.php
Due: php

SSO Sorbonne (#14178)
  src/Capco/AppBundle/Traits/User/UserSSOTrait.php
  src/Capco/UserBundle/Authenticator/SamlAuthenticator.php
Due: php

Remove secrets related to SSO (#14169)
  config/packages/twig.yaml
  config/services.yaml
  features/graphql-api/internal/Query/Query_ssoConfigurations.js
  features/graphql-api/internal/Query/__snapshots__/Query_ssoConfigurations.js.snap
  features/graphql/mutation/updateFranceConnectSSOConfiguration.feature
  features/graphql/mutation/updateOauth2SSOConfiguration.feature
  fixtures/Benchmark/MapToken.yaml
  fixtures/Dev/FacebookSSOConfiguration.yaml
  fixtures/Dev/FranceConnectSSOConfiguration.yaml
  fixtures/Dev/MapToken.yaml
  fixtures/Dev/Oauth2SSOConfiguration.yaml
  fixtures/Dev/SiteParameter.yaml
  fixtures/Dev/User.yaml
  infrastructure/environments/testing.yml
  src/Capco/AdminBundle/Resources/views/googlemapsapi.html.twig
Due: php

[FIX-DEBATE] [FIX-DEBATE] [FIX-DEBATE] fix debate invitation (#14230)
  src/Capco/AppBundle/Command/Debate/DebateInvitationCommand.php
  src/Capco/AppBundle/Repository/Debate/DebateVoteTokenRepository.php
Due: php

10399 url config bo frontend (#14146)
  admin-next/components/Domain/DeleteCustomDomainModal.test.tsx
  admin-next/components/Domain/DeleteCustomDomainModal.tsx
  admin-next/components/Domain/Domain.test.tsx
  admin-next/components/Domain/Domain.tsx
  admin-next/components/Domain/__snapshots__/DeleteCustomDomainModal.test.tsx.snap
  admin-next/components/Domain/__snapshots__/Domain.test.tsx.snap
  admin-next/mutations/DeleteCustomDomainMutation.ts
  admin-next/mutations/UpdateCustomDomainMutation.ts
  admin-next/pages/domain-url.tsx
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/DeleteCustomDomainMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/UpdateCustomDomainMutationSpec.php
  src/Capco/AppBundle/Client/DeployerClient.php
  src/Capco/AppBundle/Enum/SiteSettingsStatus.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteCustomDomainMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateCustomDomainMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/SiteSettings/SiteSettingsStatusResolver.php
  src/Capco/AppBundle/Mailer/Message/CustomDomain/CreateCustomDomainMessage.php
  src/Capco/AppBundle/Mailer/Message/MessagesList.php
  src/Capco/AppBundle/Mailer/templates/createCustomDomain.html.twig
  src/Capco/AppBundle/Notifier/CustomDomainNotifier.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalSiteSettingsStatus.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/UpdateCustomDomainErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalSiteSettings.types.yaml
Due: graphql, php

[PROJECT-TIMERANGE] add timerange to project (#14231)
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yaml
Due: php

[14232-LOG] passwordFormType (#14238)
  src/Capco/AppBundle/GraphQL/Mutation/ResetPasswordMutation.php
  src/Capco/UserBundle/Form/Type/PasswordFormType.php
Due: graphql, php

Formulaire de dépot plante lorsque localisation click (#14245)
  features/front/bp/proposal_votes.feature
  frontend/js/components/Proposal/Create/ProposalChangeAddressModal.js
Due: jest, flow

fix empty response on question (#14237)
  spec/Capco/AppBundle/Import/ImportProposalsFromCsvSpec.php
  src/Capco/AppBundle/Import/ImportProposalsFromCsv.php
Due: php

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
