Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

Add some class names (#11794)
  frontend/js/components/Proposal/List/ProposalListTable.js
  frontend/js/components/Proposal/List/ProposalListViewPaginated.js
  frontend/js/components/Proposal/List/__snapshots__/ProposalListTable-test.js.snap
Due: jest, flow

[11585] BO - Accordion argument on debate (#11793)
  frontend/js/components/Admin/Debate/DebateArgument/DebateArgument-test.js
  frontend/js/components/Admin/Debate/DebateArgument/DebateArgument.js
  frontend/js/components/Admin/Debate/DebateArgument/__snapshots__/DebateArgument-test.js.snap
  frontend/js/components/Admin/Debate/NoResultArgument/NoResultArgument-test.js
  frontend/js/components/Admin/Debate/NoResultArgument/NoResultArgument.js
  frontend/js/components/Admin/Debate/NoResultArgument/__snapshots__/NoResultArgument-test.js.snap
  frontend/js/components/Admin/Project/ProjectAdminContent.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminContributionsPage.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/ArgumentTab-test.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/ArgumentTab.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/__snapshots__/ArgumentTab-test.js.snap
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/FaceToFace/FaceToFace-test.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/FaceToFace/FaceToFace.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/FaceToFace/ModalDebateOpinion/ModalDebateOpinion-test.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/FaceToFace/ModalDebateOpinion/ModalDebateOpinion.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/FaceToFace/ModalDebateOpinion/ModalDebateOpinion.style.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/FaceToFace/ModalDebateOpinion/__snapshots__/ModalDebateOpinion-test.js.snap
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/FaceToFace/__snapshots__/FaceToFace-test.js.snap
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ProjectAdminDebate-test.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ProjectAdminDebate.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/__snapshots__/ProjectAdminDebate-test.js.snap
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebatePage/ProjectAdminDebatePage.context.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebatePage/ProjectAdminDebatePage.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebatePage/ProjectAdminDebatePage.reducer.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebateStep/ProjectAdminDebate.js
  frontend/js/components/Admin/Project/ProjectAdminProposalsPage.js
  frontend/js/components/Ui/Primitives/AppBox.type.js
  frontend/js/mutations/DeleteDebateArgumentMutation.js
  public/image/contribution_debate_argument.png
Due: jest, flow

[11453-REPLYTOCONTACTFORM] set reply to for contact (#11716)
  __snapshots__/emails/confirmEmailChange.html
  __snapshots__/emails/confirmEmailChangeEnglish.html
  __snapshots__/emails/confirmPasswordChange.html
  __snapshots__/emails/confirmPasswordChangeEnglish.html
  __snapshots__/emails/contact.html
  __snapshots__/emails/contact.html-mobile.png
  __snapshots__/emails/contact.html-web.png
  __snapshots__/emails/emailSubjectRegistrationConfirmation.html
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyAdminOfNewEvent.html
  __snapshots__/emails/notifyAnalyst_NewAnalyst.html
  __snapshots__/emails/notifyAnalyst_NewDecisionMaker.html
  __snapshots__/emails/notifyAnalyst_NewSupervisor.html
  __snapshots__/emails/notifyAnalyst_RevokeAnalyst.html
  __snapshots__/emails/notifyAnalyst_deleteProposal
  __snapshots__/emails/notifyAnalyst_updateProposal
  __snapshots__/emails/notifyParticipantOfDeletedEvent.html
  __snapshots__/emails/notifyProposal_AuthorStatusChange.html
  __snapshots__/emails/notifyProposal_AuthorStatusChangeEnglish.html
  __snapshots__/emails/notifyQuestionnaireReply_create.html
  __snapshots__/emails/notifyQuestionnaireReply_delete.html
  __snapshots__/emails/notifyQuestionnaireReply_publishedDraft.html
  __snapshots__/emails/notifyQuestionnaireReply_update.html
  __snapshots__/emails/notifyRegisteredParticipantOfDeletedEvent.html
  __snapshots__/emails/notifyUserQuestionnaireReply_create.html
  __snapshots__/emails/notifyUserQuestionnaireReply_update.html
  __snapshots__/emails/notifyUserReviewedEventApproved.html
  __snapshots__/emails/notifyUserReviewedEventApprovedEnglish.html
  __snapshots__/emails/notifyUserReviewedEventRefused.html
  __snapshots__/emails/notifyUserReviewedEventRefusedEnglish.html
  features/front/pages/contact.feature
  src/Capco/AppBundle/Mailer/MailerService.php
  src/Capco/AppBundle/Mailer/Message/User/ContactMessage.php
  src/Capco/AppBundle/Mailer/templates/contact.html.twig
  src/Capco/AppBundle/Mailer/templates/standardLayout.html.twig
  src/Capco/AppBundle/Notifier/ContactNotifier.php
Due: php

Debate page vote block (#11797)
  frontend/js/components/Debate/ArgumentCard/ArgumentCard.js
  frontend/js/components/Debate/Page/DebateStepPageLogic.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageMainActionPlaceholder.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageMainActions-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageMainActions.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageMainActions-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVote-test.js.snap
  frontend/js/components/Debate/Page/__snapshots__/DebateStepPageLogic-test.js.snap
  frontend/js/components/Ui/Vote/VoteView.js
  frontend/js/components/Ui/Vote/__snapshots__/VoteView-test.js.snap
  frontend/js/components/Utils/MutationErrorToast.js
  frontend/js/components/Utils/RemainingTime.js
  frontend/js/mutations/AddDebateArgumentMutation.js
  frontend/js/mutations/AddDebateVoteMutation.js
Due: jest, flow

fix width (#11803)
  frontend/js/components/User/UserAvatarDeprecated.js
  frontend/js/components/User/__snapshots__/UserAvatarDeprecated-test.js.snap
Due: jest, flow

[11586] Debate vote #debate (#11804)
  frontend/js/components/Admin/Debate/DebateArgument/DebateArgument.js
  frontend/js/components/Admin/Debate/DebateArgument/__snapshots__/DebateArgument-test.js.snap
  frontend/js/components/Admin/Debate/DebateOpinion/DebateOpinion.js
  frontend/js/components/Admin/Debate/DebateOpinion/__snapshots__/DebateOpinion-test.js.snap
  frontend/js/components/Admin/Debate/DebateVote/DebateVote-test.js
  frontend/js/components/Admin/Debate/DebateVote/DebateVote.js
  frontend/js/components/Admin/Debate/DebateVote/__snapshots__/DebateVote-test.js.snap
  frontend/js/components/Admin/Debate/NoResultArgument/NoResultArgument.js
  frontend/js/components/Admin/Debate/NoResultArgument/__snapshots__/NoResultArgument-test.js.snap
  frontend/js/components/Admin/Project/ProjectAdminContent.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminContributionsPage.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/ArgumentTab.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/__snapshots__/ArgumentTab-test.js.snap
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ProjectAdminDebate-test.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ProjectAdminDebate.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteTab-test.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteTab.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/__snapshots__/VoteTab-test.js.snap
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/__snapshots__/ProjectAdminDebate-test.js.snap
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebatePage/ProjectAdminDebatePage.js
  frontend/js/components/DesignSystem/Accordion/button/index.js
  frontend/js/components/DesignSystem/InlineList/InlineList.js
  public/image/contribution_debate_vote.png
Due: jest, flow

[FIX-DEBATE] fix type and fixtures (#11795)
  features/graphql-api/internal/Debate/Debate_votes.js
  features/graphql-api/internal/Debate/__snapshots__/Debate_alternateArguments.js.snap
  features/graphql-api/internal/Debate/__snapshots__/Debate_arguments.js.snap
  features/graphql-api/internal/Debate/__snapshots__/Debate_votes.js.snap
  features/graphql-api/internal/mutation/__snapshots__/addDebateVote.js.snap
  features/graphql-api/internal/mutation/addDebateVote.js
  fixtures/Dev/DebateArgument.yaml
  fixtures/Dev/DebateOpinion.yaml
  fixtures/Dev/DebateVote.yaml
  frontend/js/components/Admin/Debate/DebateVote/DebateVote-test.js
  frontend/js/components/Admin/Debate/DebateVote/DebateVote.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteTab-test.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteTab.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/__snapshots__/VoteTab-test.js.snap
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare.js
  frontend/js/mutations/AddDebateVoteMutation.js
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/Debate/AddDebateVoteMutationSpec.php
  src/Capco/AppBundle/Entity/Debate/DebateArgument.php
  src/Capco/AppBundle/Entity/Debate/DebateOpinion.php
  src/Capco/AppBundle/Entity/Debate/DebateVote.php
  src/Capco/AppBundle/Enum/ForOrAgainstType.php
  src/Capco/AppBundle/Form/DebateOpinionType.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/AddDebateVoteMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Debate/DebateArgumentsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Debate/DebateVotesResolver.php
  src/Capco/AppBundle/Repository/DebateVoteRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ForOrAgainstValue.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/debate/AddDebateVoteInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDebate.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDebateVote.types.yaml
  src/Capco/AppBundle/Traits/ForAgainstTrait.php
  src/DoctrineMigrations/Version20201218104314.php
Due: graphql, php, jest, flow

Readmore sur le Face à Face côté Desktop (#11809)
  frontend/js/components/Debate/Opinion/DebateOpinion.js
  frontend/js/components/Debate/Page/FaceToFace/DebateStepPageFaceToFace.js
Due: jest, flow

Add Debate.viewerhasArgument + various fixes (#11806)
  config/packages/repositories.yaml
  features/graphql-api/internal/Debate/Debate_viewerHasArgument.js
  features/graphql-api/internal/Debate/Debate_viewerHasVote.js
  features/graphql-api/internal/Debate/Debate_votes.js
  features/graphql-api/internal/Debate/__snapshots__/Debate_viewerHasArgument.js.snap
  features/graphql-api/internal/Debate/__snapshots__/Debate_viewerHasVote.js.snap
  features/graphql-api/internal/Debate/__snapshots__/Debate_votes.js.snap
  features/graphql-api/internal/DebateArgument/DebateArgument_viewerHasReport.js
  features/graphql-api/internal/DebateArgument/DebateArgument_viewerHasVote.js
  features/graphql-api/internal/DebateArgument/__snapshots__/DebateArgument_viewerHasReport.js.snap
  features/graphql-api/internal/DebateArgument/__snapshots__/DebateArgument_viewerHasVote.js.snap
  fixtures/Dev/DebateVote.yaml
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Resolver/Debate/DebateAlternateArgumentsResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Debate/DebateViewerHasArgumentResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolverSpec.php
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/Entity/Debate/DebateArgument.php
  src/Capco/AppBundle/Entity/Debate/DebateArgumentVote.php
  src/Capco/AppBundle/GraphQL/Resolver/Debate/DebateArgumentViewerHasReportResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Debate/DebateArgumentViewerHasVoteResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Debate/DebateViewerHasArgumentResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Debate/DebateViewerHasVoteResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Debate/DebateViewerVoteResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/Repository/DebateArgumentRepository.php
  src/Capco/AppBundle/Repository/DebateVoteRepository.php
  src/Capco/AppBundle/Repository/ReportingRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDebate.types.yaml
  src/DoctrineMigrations/Version20201221120012.php
Due: graphql, php

[DEBATE] Moderation & report Argument (#11813)
  frontend/js/components/Admin/Debate/DebateOpinion/DebateOpinion.js
  frontend/js/components/Admin/Debate/DebateOpinion/__snapshots__/DebateOpinion-test.js.snap
  frontend/js/components/Debate/ArgumentCard/ArgumentCard-test.js
  frontend/js/components/Debate/ArgumentCard/ArgumentCard.js
  frontend/js/components/Debate/ArgumentCard/__snapshots__/ArgumentCard-test.js.snap
  frontend/js/components/Debate/Page/Arguments/DebateStepPageAlternateArgumentsPagination.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArguments-test.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArgumentsPagination.js
  frontend/js/components/Debate/Page/Arguments/DesktopDebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/MobileDebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/ModalModerateArgument-test.js
  frontend/js/components/Debate/Page/Arguments/ModalModerateArgument.js
  frontend/js/components/Debate/Page/Arguments/ModalReportArgument-test.js
  frontend/js/components/Debate/Page/Arguments/ModalReportArgument.js
  frontend/js/components/Debate/Page/Arguments/__snapshots__/DebateStepPageArguments-test.js.snap
  frontend/js/components/Debate/Page/Arguments/__snapshots__/ModalModerateArgument-test.js.snap
  frontend/js/components/Debate/Page/Arguments/__snapshots__/ModalReportArgument-test.js.snap
  frontend/js/components/Debate/Page/DebateStepPageLogic-test.js
  frontend/js/components/Debate/Page/DebateStepPageLogic.js
  frontend/js/components/Debate/Page/Drawers/DebateStepPageArgumentsDrawer.js
  frontend/js/components/Debate/Page/__snapshots__/DebateStepPageLogic-test.js.snap
  frontend/js/components/DesignSystem/Icon/Icon.d.ts
  frontend/js/components/DesignSystem/Icon/Icon.js
  frontend/js/components/DesignSystem/Icon/index.js
  frontend/js/components/DesignSystem/Icon/svg/flag.svg
  frontend/js/components/DesignSystem/Icon/svg/moderate.svg
  frontend/js/components/DesignSystem/Icon/svg/more.svg
  frontend/js/components/Report/ReportForm.js
  frontend/js/components/Ui/Primitives/AppBox.type.js
  frontend/js/mutations/ReportMutation.js
  frontend/js/mutations/TrashMutation.js
Due: jest, flow

Add missing constant in errorCode (#11822)
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/AddDebateVoteErrorCode.types.yaml
Due: php

[11701-PHPUPDATE] update symfony (#11821)
  composer.json
  composer.lock
Due: none

[11420-CONSULTATION] fix step type on ParamConverter for StepController (#11780)
  config/packages/repositories.yaml
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/Entity/Steps/RankingStep.php
  src/Capco/AppBundle/GraphQL/Resolver/Consultation/ConsultationUrlResolver.php
  src/Capco/AppBundle/Repository/CollectStepRepository.php
  src/Capco/AppBundle/Repository/ConsultationStepRepository.php
  src/Capco/AppBundle/Repository/DebateStepRepository.php
  src/Capco/AppBundle/Repository/OtherStepRepository.php
  src/Capco/AppBundle/Repository/PresentationStepRepository.php
  src/Capco/AppBundle/Repository/ProgressStepRepository.php
  src/Capco/AppBundle/Repository/ProjectAbstractStepRepository.php
  src/Capco/AppBundle/Repository/QuestionnaireStepRepository.php
  src/Capco/AppBundle/Repository/RankingStepRepository.php
  src/Capco/AppBundle/Repository/SynthesisStepRepository.php
Due: graphql, php

[11485-FEATUREUSAGE] remove field opinionTerm on project (#11815)
  __snapshots__/exports/budget-participatif-idf_etudes-des-projets.csv
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  __snapshots__/exports/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  __snapshots__/exports/project-analyse_collecte-des-propositions-pour-analyse.csv
  __snapshots__/exports/sauvons-nos-cafes_soutenons-nos-bistros-et-cafes-dans-cette-periode-difficile.csv
  __snapshots__/exports/solidarite-covid-19_collecte-de-projets.csv
  features/graphql-api/internal/mutation/__snapshots__/createAlphaProject.js.snap
  features/graphql-api/internal/mutation/__snapshots__/updateAlphaProject.js.snap
  features/graphql-api/internal/mutation/createAlphaProject.js
  features/graphql-api/internal/mutation/updateAlphaProject.js
  features/graphql/mutation/createProject.feature
  features/graphql/mutation/updateProject.feature
  frontend/js/components/Admin/Project/Content/ProjectContentAdminForm-test.js
  frontend/js/components/Admin/Project/Content/ProjectContentAdminForm.js
  frontend/js/components/Admin/Project/Deprecated/ProjectAdminFormDeprecated.js
  frontend/js/components/Admin/Project/Form/ProjectAdminForm-test.js
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/components/Admin/Project/Form/__snapshots__/ProjectAdminForm-test.js.snap
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminPage-test.js.snap
  frontend/js/mutations/CreateProjectAlphaMutation.js
  frontend/js/mutations/UpdateProjectAlphaMutation.js
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/GraphQL/Mutation/CreateProjectMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateAlphaProjectInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateProjectInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateProjectInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yaml
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
  src/Capco/AppBundle/Resources/views/Step/opinions_ranking.html.twig
  src/Capco/AppBundle/Resources/views/Step/ranking.html.twig
  src/Capco/UserBundle/Form/Type/AlphaProjectFormType.php
  src/Capco/UserBundle/Form/Type/ProjectFormType.php
  src/Capco/UserBundle/Form/Type/UpdateProjectFormType.php
  src/DoctrineMigrations/Version20201221160012.php
Due: graphql, php, jest, flow

Edition d'Argument sur le Débat (#11817)
  frontend/js/components/Admin/Debate/DebateArgument/DebateArgument.js
  frontend/js/components/Debate/ArgumentCard/ArgumentCard-test.js
  frontend/js/components/Debate/ArgumentCard/ArgumentCard.js
  frontend/js/components/Debate/ArgumentCard/ArgumentCardEdition-test.js
  frontend/js/components/Debate/ArgumentCard/ArgumentCardEdition.js
  frontend/js/components/Debate/ArgumentCard/__snapshots__/ArgumentCard-test.js.snap
  frontend/js/components/Debate/ArgumentCard/__snapshots__/ArgumentCardEdition-test.js.snap
  frontend/js/components/Debate/Opinion/DebateOpinion.js
  frontend/js/components/Debate/Opinion/DebateOpinionPlaceholder.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageAlternateArgumentsPagination.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArgumentsPagination.js
  frontend/js/components/Debate/Page/Arguments/DesktopDebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/ModalDeleteArgument-test.js
  frontend/js/components/Debate/Page/Arguments/ModalDeleteArgument.js
  frontend/js/components/Debate/Page/Arguments/__snapshots__/ModalDeleteArgument-test.js.snap
  frontend/js/components/Debate/Page/DebateStepPageLogic.js
  frontend/js/components/Debate/Page/FaceToFace/DebateStepPageFaceToFace.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare.js
  frontend/js/components/Debate/Page/NotYetStarted/DebateStepPageNotYetStarted.js
  frontend/js/components/Debate/Page/__snapshots__/DebateStepPageLogic-test.js.snap
  frontend/js/components/Ui/Vote/VoteView.js
  frontend/js/components/Ui/Vote/__snapshots__/VoteView-test.js.snap
  frontend/js/mutations/AddDebateArgumentMutation.js
  frontend/js/mutations/DeleteDebateArgumentMutation.js
  frontend/js/mutations/UpdateDebateArgumentMutation.js
  frontend/js/shared/utils/relay.js
Due: jest, flow

[11744-ACTIVITY] add official response to notify follower (#11825)
  __snapshots__/emails/notify_followers<admin@test.com>_blog_post.html
  __snapshots__/emails/notify_followers<user@test.com>_blog_post.html
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  spec/Capco/AppBundle/Following/ProposalActivitiesResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/Debate/AddDebateArgumentVoteMutationSpec.php
  src/Capco/AppBundle/Following/ProposalActivitiesResolver.php
  src/Capco/AppBundle/Mailer/templates/notifyFollowerActivities.html.twig
  src/Capco/AppBundle/Repository/OfficialResponseRepository.php
Due: php

[11798-PROPOSALACCESS] fix access to proposal on private step (#11800)
  features/front/bp/proposal_search.feature
  spec/Capco/AppBundle/Entity/ProposalSpec.php
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
  src/Capco/AppBundle/Repository/CollectStepRepository.php
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: graphql, php

[11742-REMOVE] remove official response if empty (#11826)
  features/graphql-api/internal/mutation/__snapshots__/assignDecisionMakerToProposals.js.snap
  src/Capco/AppBundle/Entity/OfficialResponse.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeProposalDecisionMutation.php
Due: graphql, php

Correction de l'export d'analyse (#11828)
  __snapshots__/exports/project-budget-participatif-idf-analysis.csv
  features/graphql-api/internal/mutation/__snapshots__/changeProposalAnalysis.js.snap
  features/graphql-api/internal/mutation/changeProposalAnalysis.js
  fixtures/Dev/MediaQuestion.yaml
  fixtures/Dev/MediaResponse.yaml
  fixtures/Dev/QuestionnaireAbstractQuestion.yaml
  frontend/js/components/Event/EventOnlineThumbnail/__snapshots__/EventOnlineThumbnail-test.js.snap
  src/Capco/AppBundle/Command/ExportAnalysisCSVCommand.php
Due: php

[11148-REMOVEUTC] remove UTC in timezone list (#11833)
  src/Capco/AdminBundle/Admin/SiteParameterAdmin.php
Due: php

[11701-PHPUPDATE] update elastica-bundle (#11824)
  composer.json
  composer.lock
Due: none

Fixed vote actions debate (#11834)
  frontend/js/components/Debate/Page/MainActions/DebateStepPageAbsoluteVoteAndShare-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageAbsoluteVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageMainActions.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteForm-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteForm.js
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageAbsoluteVoteAndShare-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageMainActions-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVoteAndShare-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVoteForm-test.js.snap
  frontend/js/components/Ui/Primitives/AppBox.type.js
  frontend/js/utils/hooks/useOnScreen.js
  jest-setup.js
Due: jest, flow

[11701-PHPUPDATE] update somes packages (#11823)
  composer.json
  composer.lock
  features/graphql/query/users_registration.feature
  src/Capco/AppBundle/GraphQL/Resolver/Query/PasswordComplexityScoreResolver.php
Due: graphql, php

11776 vote maximum (#11811)
  __snapshots__/exports/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/users.csv
  features/graphql-api/public/ProposalStep/__snapshots__/ProposalStep_proposals.js.snap
  features/graphql/mutation/addProposalVote.feature
  features/graphql/mutation/updateProposalVotes.feature
  fixtures/Dev/CollectStep.yaml
  fixtures/Dev/ProposalCollectVote.yaml
  fixtures/Dev/User.yaml
  fixtures/Dev/UserRequirement.yaml
  spec/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalViewerHasVoteDataLoaderSpec.php
  spec/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalViewerIsFollowingDataLoaderSpec.php
  spec/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalViewerVoteDataLoaderSpec.php
  spec/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoaderSpec.php
  src/Capco/AppBundle/Behat/GraphQLContext.php
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/GraphQL/Resolver/Requirement/StepRequirementsResolver.php
  src/Capco/AppBundle/Repository/ProposalCollectVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalSelectionVoteRepository.php
Due: graphql, php

[11814] Loading data debate bo (#11835)
  frontend/js/components/Admin/Debate/NoResultArgument/NoResultArgument.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminContributionsPage.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/ArgumentTab.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/ArgumentTabQuery.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ProjectAdminDebate.context.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ProjectAdminDebate.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ProjectAdminDebate.reducer.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteTabQuery.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/__snapshots__/ProjectAdminDebate-test.js.snap
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebatePage/ProjectAdminDebatePage.context.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebatePage/ProjectAdminDebatePage.js
Due: jest, flow

[11621] Setup beta emailing (#11819)
  frontend/js/components/Admin/Emailing/EmailingCampaign/DashboardCampaign/DashboardCampaign.js
  frontend/js/components/Admin/Emailing/EmailingCampaign/DashboardCampaign/__snapshots__/DashboardCampaign-test.js.snap
  frontend/js/components/Admin/Emailing/EmailingCampaign/EmailingCampaignPage.js
  frontend/js/components/Admin/Emailing/EmailingCampaign/EmailingCampaignPage.style.js
  frontend/js/components/Admin/Emailing/EmailingList/DashboardMailingList/DashboardMailingList.js
  frontend/js/components/Admin/Emailing/EmailingList/DashboardMailingList/__snapshots__/DashboardMailing-test.js.snap
  frontend/js/components/Admin/Emailing/EmailingList/EmailingListPage.js
  frontend/js/components/Admin/Emailing/EmailingList/EmailingListPage.style.js
  frontend/js/components/Admin/Emailing/ModalOnboarding/ModalOnboarding-test.js
  frontend/js/components/Admin/Emailing/ModalOnboarding/ModalOnboarding.js
  frontend/js/components/Admin/Emailing/ModalOnboarding/__snapshots__/ModalOnboarding-test.js.snap
  frontend/js/components/DesignSystem/Button/Button.js
  frontend/js/components/DesignSystem/SpotIcon/SpotIcon.d.ts
  frontend/js/components/DesignSystem/SpotIcon/SpotIcon.js
  frontend/js/components/DesignSystem/SpotIcon/index.js
  frontend/js/components/DesignSystem/SpotIcon/svg/email-send.svg
Due: jest, flow

[DEBAT] - Tri sur les arguments sur mobile (#11836)
  frontend/js/components/Debate/Page/Arguments/DebateStepPageAlternateArgumentsPagination.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArgumentsPagination.js
  frontend/js/components/Debate/Page/Arguments/DesktopDebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/types.js
  frontend/js/components/Debate/Page/Drawers/DebateStepPageArgumentsDrawer.js
  frontend/js/components/Debate/Page/LinkedArticles/DebateStepPageLinkedArticles.js
Due: jest, flow

[11579-DEBATE] add debate to project types (#11832)
  features/graphql/query/projects_types.feature
  fixtures/Dev/Project.yaml
  fixtures/Dev/ProjectType.yaml
  fixtures/Prod/ProjectType.yaml
  src/DoctrineMigrations/Version20210104131312.php
Due: php

[FIX-MENU] - Pointer events sur le composant Menu (#11839)
  frontend/js/components/DesignSystem/Menu/Menu.js
  frontend/js/components/DesignSystem/Menu/MenuListItem.js
  frontend/js/components/DesignSystem/Menu/MenuOptionGroup.js
Due: jest, flow

UI not yet started debate (#11840)
  frontend/js/components/Debate/Page/NotYetStarted/DebateStepPageNotYetStarted.js
Due: jest, flow

[DEBATE-QUICKFIXES] - Fixed zIndex and add / remove vote mutation (#11841)
  frontend/js/components/DesignSystem/DetailDrawer/DetailDrawer.js
  frontend/js/mutations/AddDebateArgumentVoteMutation.js
  frontend/js/mutations/RemoveDebateArgumentVoteMutation.js
Due: jest, flow

readmore and round RIGHT ROUND (#11848)
  frontend/js/components/Debate/ArgumentCard/ArgumentCard.js
  frontend/js/components/Ui/Vote/VoteView.js
Due: jest, flow

social links (#11852)
  frontend/js/components/Debate/Page/MainActions/DebateStepPageAbsoluteVoteAndShare-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageAbsoluteVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageMainActions-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageMainActions.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteForm.js
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageAbsoluteVoteAndShare-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageMainActions-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVoteAndShare-test.js.snap
  frontend/js/components/DesignSystem/Icon/Icon.d.ts
  frontend/js/components/DesignSystem/Icon/Icon.js
  frontend/js/components/DesignSystem/Icon/index.js
  frontend/js/components/DesignSystem/Icon/svg/hyperlink.svg
  frontend/js/components/Ui/Link/Link.js
  frontend/js/components/Ui/Link/__snapshots__/Link-test.js.snap
  frontend/js/utils/hooks/useScript.js
  package.json
  yarn.lock
Due: jest, flow

[11846-FIX] fixes on requirements (#11850)
  src/Capco/AdminBundle/Resources/views/Proposal/edit.html.twig
  src/Capco/AppBundle/Form/Type/OrderedCollectionType.php
  src/Capco/AppBundle/Resources/views/Consultation/show.html.twig
  src/Capco/AppBundle/Resources/views/Proposal/show.html.twig
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
  src/Capco/UserBundle/Resources/views/Profile/edit_profile.html.twig
Due: php

Upgrade ES, ruflin, kibana versions, modify mapping, indexer methods
  composer.json
  infrastructure/environments/base.yml
  infrastructure/services/elasticsearch/Dockerfile
  infrastructure/services/elasticsearch/elasticsearch.yml
  src/Capco/AppBundle/Elasticsearch/Client.php
  src/Capco/AppBundle/Elasticsearch/ElasticaToDoctrineTransformer.php
  src/Capco/AppBundle/Elasticsearch/IndexBuilder.php
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Resources/config/serialization/AbstractDistrict.yaml
  src/Capco/AppBundle/Resources/config/serialization/AbstractVote.yaml
  src/Capco/AppBundle/Resources/config/serialization/Argument.yaml
  src/Capco/AppBundle/Resources/config/serialization/Comment.yaml
  src/Capco/AppBundle/Resources/config/serialization/Consultation.yaml
  src/Capco/AppBundle/Resources/config/serialization/District.yaml
  src/Capco/AppBundle/Resources/config/serialization/Event.yaml
  src/Capco/AppBundle/Resources/config/serialization/Opinion.yaml
  src/Capco/AppBundle/Resources/config/serialization/OpinionVersion.yaml
  src/Capco/AppBundle/Resources/config/serialization/Post.yaml
  src/Capco/AppBundle/Resources/config/serialization/Project.yaml
  src/Capco/AppBundle/Resources/config/serialization/Proposal.yaml
  src/Capco/AppBundle/Resources/config/serialization/QuestionChoice.yaml
  src/Capco/AppBundle/Resources/config/serialization/Source.yaml
  src/Capco/AppBundle/Resources/config/serialization/Theme.yaml
Due: php

End modify mapping, add objectType filter on all requests
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Normalizer/OpinionNormalizer.php
  src/Capco/AppBundle/Normalizer/OpinionVersionNormalizer.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Resources/config/serialization/AbstractDistrict.yaml
  src/Capco/AppBundle/Resources/config/serialization/AbstractVote.yaml
  src/Capco/AppBundle/Resources/config/serialization/Argument.yaml
  src/Capco/AppBundle/Resources/config/serialization/Comment.yaml
  src/Capco/AppBundle/Resources/config/serialization/Consultation.yaml
  src/Capco/AppBundle/Resources/config/serialization/Post.yaml
  src/Capco/AppBundle/Resources/config/serialization/Project.yaml
  src/Capco/AppBundle/Resources/config/serialization/Proposal.yaml
  src/Capco/AppBundle/Resources/config/serialization/Reply.yaml
  src/Capco/AppBundle/Resources/config/serialization/Responses.AbstractResponse.yaml
  src/Capco/AppBundle/Resources/config/serialization/Source.yaml
  src/Capco/AppBundle/Resources/config/serialization/Theme.yaml
  src/Capco/AppBundle/Resources/views/Default/search.html.twig
  src/Capco/AppBundle/Search/CommentSearch.php
  src/Capco/AppBundle/Search/ContributionSearch.php
  src/Capco/AppBundle/Search/EventSearch.php
  src/Capco/AppBundle/Search/GlobalSearch.php
  src/Capco/AppBundle/Search/OpinionSearch.php
  src/Capco/AppBundle/Search/ProjectSearch.php
  src/Capco/AppBundle/Search/ProposalSearch.php
  src/Capco/AppBundle/Search/QuestionChoiceSearch.php
  src/Capco/AppBundle/Search/ResponseSearch.php
  src/Capco/AppBundle/Search/Search.php
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/AppBundle/Search/VersionSearch.php
  src/Capco/AppBundle/Search/VoteSearch.php
  src/Capco/UserBundle/Resources/config/serialization/Entity.User.yml
Due: php

Fix tests and es snapshots
  spec/Capco/AppBundle/Elasticsearch/IndexerSpec.php
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Elasticsearch/ElasticaToDoctrineTransformer.php
  src/Capco/AppBundle/Elasticsearch/IndexBuilder.php
Due: php

Fix es snapshot after scenario
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Elasticsearch/IndexBuilder.php
Due: php
