Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70
      php:
        flags: php
      graphql:
        flags: graphql
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/**/*'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

Update maxsize for bundlesize
  package.json
Due: none

Merge pull request #6086 from cap-collectif/add-an-url-param-to-enable-axe
  .eslintrc.js
  app/Resources/js/registration.js
  yarn.lock
Due: jest, flow, frontend

Merge pull request #6090 from cap-collectif/add-options-verb-cors
  app/config/cors.yml
  package.json
Due: none

fix formName props problem
  app/Resources/js/components/Question/SectionQuestionAdminModal.js
Due: jest, flow, frontend

fiw :bug: display shared footer icon
  src/Capco/AppBundle/Entity/FooterSocialNetwork.php
Due: php, backend

Enforce a consistent message for GraphQL API deprecations
  app/Resources/js/components/Question/SectionQuestionAdminModal.js
  schema.graphql
  src/Capco/AppBundle/Entity/FooterSocialNetwork.php
  src/Capco/AppBundle/GraphQL/Deprecation.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentType.php
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentType.php
  src/Capco/AppBundle/GraphQL/__generated__/ConsultationType.php
  src/Capco/AppBundle/GraphQL/__generated__/ContributionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OtherStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/PresentationStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/QuestionnaireStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/RankingStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReportingType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceType.php
  src/Capco/AppBundle/GraphQL/__generated__/StepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SynthesisStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/UserType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionType.php
  src/Capco/AppBundle/Resources/config/graphql/Consultation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/Contribution.types.yml
  src/Capco/AppBundle/Resources/config/graphql/Step.types.yml
  src/Capco/AppBundle/Resources/config/graphql/User.types.yml
  src/Capco/AppBundle/Resources/config/services.yml
Due: graphql, php, jest, flow, backend, frontend

:bug: proposal draft
  app/Resources/js/components/Question/SectionQuestionAdminModal.js
  schema.graphql
  src/Capco/AppBundle/Entity/FooterSocialNetwork.php
  src/Capco/AppBundle/GraphQL/Deprecation.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentType.php
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentType.php
  src/Capco/AppBundle/GraphQL/__generated__/ConsultationType.php
  src/Capco/AppBundle/GraphQL/__generated__/ContributionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OtherStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/PresentationStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/QuestionnaireStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/RankingStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReportingType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceType.php
  src/Capco/AppBundle/GraphQL/__generated__/StepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SynthesisStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/UserType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionType.php
  src/Capco/AppBundle/Resources/config/graphql/Consultation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/Contribution.types.yml
  src/Capco/AppBundle/Resources/config/graphql/Step.types.yml
  src/Capco/AppBundle/Resources/config/graphql/User.types.yml
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, jest, flow, backend, frontend

Mark service as public
  app/Resources/js/components/Question/SectionQuestionAdminModal.js
  schema.graphql
  src/Capco/AppBundle/Entity/FooterSocialNetwork.php
  src/Capco/AppBundle/GraphQL/Deprecation.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentType.php
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentType.php
  src/Capco/AppBundle/GraphQL/__generated__/ConsultationType.php
  src/Capco/AppBundle/GraphQL/__generated__/ContributionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OtherStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/PresentationStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/QuestionnaireStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/RankingStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReportingType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceType.php
  src/Capco/AppBundle/GraphQL/__generated__/StepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SynthesisStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/UserType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionType.php
  src/Capco/AppBundle/Resources/config/graphql/Consultation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/Contribution.types.yml
  src/Capco/AppBundle/Resources/config/graphql/Step.types.yml
  src/Capco/AppBundle/Resources/config/graphql/User.types.yml
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, jest, flow, backend, frontend

update SF + GraphQLBundle preflight (#6098)
  app/Resources/js/components/Question/SectionQuestionAdminModal.js
  composer.json
  composer.lock
  package.json
  schema.graphql
  src/Capco/AppBundle/Entity/FooterSocialNetwork.php
  src/Capco/AppBundle/GraphQL/Deprecation.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentType.php
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentType.php
  src/Capco/AppBundle/GraphQL/__generated__/ConsultationType.php
  src/Capco/AppBundle/GraphQL/__generated__/ContributionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OtherStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/PresentationStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/QuestionnaireStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/RankingStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReportingType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceType.php
  src/Capco/AppBundle/GraphQL/__generated__/StepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SynthesisStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/UserType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionType.php
  src/Capco/AppBundle/Resources/config/graphql/Consultation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/Contribution.types.yml
  src/Capco/AppBundle/Resources/config/graphql/Step.types.yml
  src/Capco/AppBundle/Resources/config/graphql/User.types.yml
  src/Capco/AppBundle/Resources/config/services.yml
Due: graphql, php, jest, flow, backend, frontend

Add header cors (#6110)
  app/config/cors.yml
Due: none

test not sending email on proposal draft event
  app/config/cors.yml
  composer.json
  composer.lock
  package.json
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php, backend

:bug: send proposal create message instead of update message when publish draft
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
Due: graphql, php, backend

return false instead of throwing error in userHasVote (#6113)
  app/config/cors.yml
  composer.json
  composer.lock
  features/graphql/types/consultation/consultation_userHasVote.feature
  package.json
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Consultation/ConsultationUserHasVoteResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Consultation/ConsultationViewerOpinionsUnpublishedResolver.php
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, backend

OpenID (#5887)
  app/DoctrineMigrations/Version20180828182209.php
  app/Resources/js/components/User/Login/LoginButton-test.js
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/components/User/Profile/EditProfileTabs-test.js
  app/Resources/js/components/User/Profile/EditProfileTabs.js
  app/Resources/js/components/User/Profile/__snapshots__/EditProfileTabs-test.js.snap
  app/Resources/js/components/Utils/LoginOverlay.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  app/config/config.yml
  app/config/routing.yml
  app/config/security.yml
  src/Capco/AdminBundle/Admin/ArgumentAdmin.php
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/EventListener/ShieldListener.php
  src/Capco/AppBundle/Toggle/Manager.php
  src/Capco/UserBundle/Authenticator/MonCompteParisAuthenticator.php
  src/Capco/UserBundle/Authenticator/SamlAuthenticator.php
  src/Capco/UserBundle/Authenticator/SimplePreAuthenticator.php
  src/Capco/UserBundle/Controller/OauthConnectController.php
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/MonCompteParis/OpenAmClient.php
  src/Capco/UserBundle/OpenID/OpenIDResourceOwner.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/Capco/UserBundle/Resources/config/services.yml
  src/Capco/UserBundle/Security/Core/User/OauthUserProvider.php
  src/Capco/UserBundle/Security/Core/User/SimplePreAuthenticatorUserProvider.php
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
Due: php, jest, flow, backend, frontend

fix unit test for ConsultationUserHasVoteResolver.php (#6115)
  spec/Capco/AppBundle/GraphQL/Resolver/Consultation/ConsultationUserHasVoteResolverSpec.php
Due: none

:bug:
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
Due: php, backend

Merge pull request #6101 from cap-collectif/6096-draft-bug
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, backend

Merge pull request #6085 from cap-collectif/add-depreciation-service
  schema.graphql
  src/Capco/AppBundle/GraphQL/Deprecation.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentType.php
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentType.php
  src/Capco/AppBundle/GraphQL/__generated__/ConsultationType.php
  src/Capco/AppBundle/GraphQL/__generated__/ContributionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OtherStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/PresentationStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/QuestionnaireStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/RankingStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReportingType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceType.php
  src/Capco/AppBundle/GraphQL/__generated__/StepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SynthesisStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/UserType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionType.php
  src/Capco/AppBundle/Resources/config/graphql/Consultation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/Contribution.types.yml
  src/Capco/AppBundle/Resources/config/graphql/Step.types.yml
  src/Capco/AppBundle/Resources/config/graphql/User.types.yml
  src/Capco/AppBundle/Resources/config/services.yml
Due: graphql, php, backend

Merge pull request #6117 from cap-collectif/6097-bug-empty-export
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
Due: php, backend

fix :bug: because of acl
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Entity/Responses/AbstractResponse.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalEvaluationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Response/ResponseValueResolver.php
  src/Capco/AppBundle/Resources/config/graphql/ProposalEvaluation.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: graphql, php, backend

yarn relay
  schema.graphql
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentType.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/EventType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/PostType.php
  src/Capco/AppBundle/GraphQL/__generated__/PrivatableVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalEvaluationType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/YesNoPairedVoteType.php
  src/Capco/AppBundle/Resources/config/graphql/ProposalEvaluation.types.yml
Due: php, backend

Add GraphQL linting on client and schema
  .eslintrc.js
  graphql-schema-linter.config.js
  package.json
  schema.graphql
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Entity/Responses/AbstractResponse.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalEvaluationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Response/ResponseValueResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentType.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/EventType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/PostType.php
  src/Capco/AppBundle/GraphQL/__generated__/PrivatableVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalEvaluationType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/YesNoPairedVoteType.php
  src/Capco/AppBundle/Resources/config/graphql/ProposalEvaluation.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
  yarn.lock
Due: graphql, php, backend

Reorder
  .eslintrc.js
  graphql-schema-linter.config.js
  package.json
  schema.graphql
  src/Capco/AppBundle/GraphQL/__generated__/ContributionOrderFieldType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProjectVisibilityType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReportingTypeType.php
  src/Capco/AppBundle/GraphQL/__generated__/SubscriptionTypeValueType.php
  src/Capco/AppBundle/GraphQL/__generated__/TrashableStatusType.php
  src/Capco/AppBundle/GraphQL/__generated__/UserRoleType.php
  src/Capco/AppBundle/Resources/config/graphql/ContributionOrderField.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ProjectVisibility.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ReportingType.types.yml
  src/Capco/AppBundle/Resources/config/graphql/SubscriptionTypeValue.yml
  src/Capco/AppBundle/Resources/config/graphql/TrashableStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/UserRole.types.yml
Due: php, backend

Add lint-staged
  package.json
Due: none

Enable some rules on schema
  graphql-schema-linter.config.js
  infrastructure/environments/base.yml
  package.json
  schema.graphql
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/UserRoleType.php
  src/Capco/AppBundle/GraphQL/__generated__/UserType.php
  src/Capco/AppBundle/Resources/config/graphql/CollectStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ProposalStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/User.types.yml
  src/Capco/AppBundle/Resources/config/graphql/UserRole.types.yml
Due: php, backend

fix acl on user oauth
  .eslintrc.js
  graphql-schema-linter.config.js
  infrastructure/environments/base.yml
  package.json
  schema.graphql
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ContributionOrderFieldType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProjectVisibilityType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReportingTypeType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SubscriptionTypeValueType.php
  src/Capco/AppBundle/GraphQL/__generated__/TrashableStatusType.php
  src/Capco/AppBundle/GraphQL/__generated__/UserType.php
  src/Capco/AppBundle/Resources/config/graphql/CollectStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ContributionOrderField.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ProjectVisibility.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ProposalStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ReportingType.types.yml
  src/Capco/AppBundle/Resources/config/graphql/SubscriptionTypeValue.yml
  src/Capco/AppBundle/Resources/config/graphql/TrashableStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/User.types.yml
  src/Capco/UserBundle/Controller/OauthConnectController.php
  yarn.lock
Due: php, backend

Fix : check if ConsultationStepType is null
  src/Capco/AppBundle/Entity/Steps/ConsultationStep.php
  src/Capco/AppBundle/GraphQL/Resolver/ConsultationResolver.php
Due: graphql, php, backend

:tada: add fixture and first behat test for GDPR
  app/Resources/js/components/StaticPage/Cookie.js
  features/front/rgdp.feature
  nohup.out
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Page/ConfidentialitePage.php
  src/Capco/AppBundle/Behat/Page/SettingsPage.php
  src/Capco/AppBundle/Behat/Traits/CookiesTrait.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
Due: php, jest, flow, backend, frontend

:heavy_plus_sign: bex/behat-step-time-logger
  behat.yml
  composer.json
  composer.lock
  infrastructure/deploylib/qa.py
  src/Capco/AppBundle/Behat/ApplicationContext.php
Due: backend

:bug: canDisplayInBo abstractQuestion
  src/Capco/AppBundle/Entity/Questions/AbstractQuestion.php
Due: php, backend

:white_check_mark: for GDPR
  features/api/login.feature
  features/front/login.feature
  features/front/rgdp.feature
  nohup.out
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Page/SettingsPage.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  src/Capco/AppBundle/Behat/UserContext.php
Due: backend

:zap: :white_check_mark: replace iWait
  features/front/opinions.feature
  features/front/profile.feature
  features/front/rgpd.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: backend

some fix
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: backend

fix tests
  features/back/user.feature
  features/front/profile.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: backend

update infra circle behat timer
  infrastructure/deploylib/qa.py
Due: none

try to fix tests for this :rage3:
  infrastructure/deploylib/qa.py
  src/Capco/AppBundle/Behat/Page/OpinionPage.php
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
Due: backend

fix, add 2 blank on qa.py
  infrastructure/deploylib/qa.py
Due: none
