Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

fix preconfig project slug / improve actual implementation (#17191)
  config/packages/event_listeners.yaml
  features/graphql-api/internal/mutation/Step/__snapshots__/updateOtherStep.js.snap
  features/graphql-api/internal/mutation/Step/updateOtherStep.js
  features/graphql-api/internal/mutation/__snapshots__/preConfigureProject.js.snap
  features/graphql-api/internal/mutation/preConfigureProject.js
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
  src/Capco/AppBundle/Event/StepSavedEvent.php
  src/Capco/AppBundle/EventListener/StepSlugSubscriber.php
  src/Capco/AppBundle/Form/Persister/ProjectStepPersister.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateCollectStepMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateConsultationStepMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateDebateStepMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateNewProjectMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateOtherStepMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateQuestionnaireStepMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateSelectionStepMutation.php
  src/Capco/AppBundle/Service/AddStepService.php
Due: graphql, php

Contextive workshop 4 (#17195)
  .contextive/definitions.yml
Due: none

IDF Accessibilité Lot 3 (#17209)
  admin-next/components/Projects/ProjectConfig/ProjectConfigFormGeneral.tsx
  admin-next/components/Steps/ProposalStep/ProposalSettings.tsx
  admin-next/components/Steps/ProposalStep/ProposalStepOptionnalAccordion.tsx
  admin-next/components/Steps/ProposalStep/ProposalStepVoteTabsForm.tsx
  frontend/js/components/Proposal/Vote/ProposalSmsVoteModal.tsx
  frontend/js/components/Proposal/Vote/ProposalVoteModal.tsx
  frontend/js/components/Proposal/Vote/utils/focusOnClose.ts
  frontend/js/components/VoteStep/VoteStepPageSearchBar.tsx
  package.json
  yarn.lock
Due: jest, flow

children order menu item (#17213)
  src/Capco/AppBundle/Repository/MenuItemRepository.php
Due: php

add wait (#17217)
  cypress/integration/newsletter.cy.ts
  cypress/support/index.ts
Due: none

fix(Flaky test): features/front/user/split1/login.feature:74 (#17231)
  features/front/user/split1/login.feature
Due: none

fix(Flaky test): features/front/user/split1/login.feature:74 (#17233)
  features/front/user/split1/login.feature
Due: none

fix(ES indexation): Fixed memory limit error when indexing a project … (#17223)
  pre-commit-phpstan.sh
  spec/Capco/AppBundle/Elasticsearch/ElasticsearchDoctrineListenerSpec.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchDoctrineListener.php
  src/Capco/AppBundle/Repository/OpinionRepository.php
  src/Capco/AppBundle/Repository/ProposalCollectVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Repository/ProposalSelectionVoteRepository.php
Due: php

fix: adds missing classname on existing section (#17228)
  src/Capco/AppBundle/Resources/views/Homepage/intro.html.twig
Due: php

fix: export debate contributions (#17238)
  src/Capco/AppBundle/Controller/Site/ExportController.php
Due: php

fix(voteProcess): harmonize votemodal labels when connected and when not (#17232)
  frontend/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorList-test.tsx.snap
  frontend/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.tsx.snap
  frontend/js/components/Project/Page/__snapshots__/RenderCustomAccess-test.tsx.snap
  frontend/js/components/Project/Page/__snapshots__/UserGroupModal-test.tsx.snap
  frontend/js/components/Project/Page/__snapshots__/UserInGroupModal-test.tsx.snap
  frontend/js/components/Project/__snapshots__/ProjectHeaderDistrictsList-test.tsx.snap
  frontend/js/components/Proposal/Vote/ProposalSmsVoteSuggestionsModal.tsx
  frontend/js/components/Proposal/Vote/ProposalVoteModal.tsx
  frontend/js/components/Proposal/Vote/ProposalVoteModals/ProposalVoteConfirmationModal.tsx
  frontend/js/components/Proposal/Vote/ProposalVoteModals/ProposalVoteRequirementsModal.tsx
  frontend/js/components/Proposal/Vote/ProposalVoteModals/ProposalVoteSendSmsModal.tsx
  frontend/js/components/Proposal/Vote/ProposalVoteModals/ProposalVoteSmsConfirmationModal.tsx
  frontend/js/utils/ResetCss.ts
Due: jest, flow

Add custom profiles (#17255)
  .qodana/profiles/backend-profile.yaml
  .qodana/profiles/main-profile.yaml
  qodana.yaml
Due: none

feat: Delete sources from the graphql api (#17241)
  features/graphql-api/internal/mutation/__snapshots__/deleteSource.js.snap
  features/graphql-api/internal/mutation/deleteSource.js
  src/Capco/AppBundle/GraphQL/Mutation/DeleteSourceMutation.php
Due: graphql, php

feat: Fetch sources list of a contribution from the graphql api (#17206)
  features/graphql-api/internal/Query/Query_sources.js
  features/graphql-api/internal/Query/__snapshots__/Query_sources.js.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Enum/SourceOrderField.php
  src/Capco/AppBundle/GraphQL/Resolver/Source/SourceListResolver.php
  src/Capco/AppBundle/Repository/SourceRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/SourceOrderField.types.yaml
  src/Capco/AppBundle/Traits/ContributionRepositoryTrait.php
Due: graphql, php

[17179] Fix dashboard (#17225)
  admin-next/components/Dashboard/formatValues.ts
  config/packages/services.yaml
  features/graphql-api/internal/Analytics/__snapshots__/analytics.js.snap
  spec/Capco/AppBundle/Client/CloudflareElasticClientSpec.php
  src/Capco/AppBundle/Client/CloudflareElasticClient.php
  src/Capco/AppBundle/GraphQL/DataLoader/Query/QueryAnalyticsDataLoader.php
  src/Capco/AppBundle/Search/AnalyticsSearch.php
Due: graphql, php

fix(navbar): increase fontSizes (#17244)
  frontend/js/components/Navbar/NavbarRight.tsx
  frontend/shared/navbar/NavBar.components.tsx
  frontend/shared/navbar/NavBar.tsx
  frontend/shared/navbar/menu/NavBarMenu.tsx
  frontend/shared/utils/pxToRem.ts
Due: jest, flow

count paperVotes alongside digital votes (#16972)
  src/Capco/AppBundle/Repository/ProposalRepository.php
Due: php

fix(accessibility): replace h3 with paragraphs for a better content hierarchy (#17269)
  frontend/js/components/Project/__snapshots__/ProjectHeaderBlocks-test.tsx.snap
  frontend/js/components/Ui/Project/ProjectHeader.Cover.tsx
Due: jest, flow

fix(voteStep): remove map view, map view button, and "rotate screen" alert when small viewport width (#17270)
  frontend/js/components/VoteStep/Context/VoteStepContext.tsx
  frontend/js/components/VoteStep/TabletScreenTooSmall.tsx
  frontend/js/components/VoteStep/VoteStepPage.tsx
  frontend/js/components/VoteStep/VoteStepPageMobileLayout.tsx
  frontend/js/components/VoteStep/VoteStepPageWebLayout.tsx
Due: jest, flow

fix error handling (#17276)
  frontend/js/components/Proposal/Vote/ProposalVoteModals/ProposalVoteSmsConfirmationModal.tsx
  src/Capco/AppBundle/Helper/OrangeClient.php
  src/Capco/AppBundle/Helper/OrangeSmsProvider.php
Due: php, jest, flow

fix: mapview on medium screens (#17277)
  frontend/js/components/VoteStep/Context/VoteStepContext.tsx
  frontend/js/components/VoteStep/ViewChangePanel.tsx
  frontend/js/components/VoteStep/VoteStepPage.tsx
  frontend/js/components/VoteStep/VoteStepPageMobileLayout.tsx
  frontend/js/components/VoteStep/VoteStepPageWebLayout.tsx
Due: jest, flow

redirect other step (#17282)
  config/packages/repositories.yaml
  src/Capco/AppBundle/Controller/Site/StepController.php
Due: php

fix: accessibility issues (#17285)
  frontend/js/components/VoteStep/ViewChangePanel.tsx
  frontend/js/components/VoteStep/__snapshots__/ViewChangePanel-test.tsx.snap
  package.json
  yarn.lock
Due: jest, flow

Fixs divers de la navbar (#17288)
  frontend/js/components/Navbar/Navbar.tsx
  frontend/js/components/Navbar/__snapshots__/Navbar-test.tsx.snap
  frontend/js/components/Opinion/OpinionBox.tsx
  frontend/js/components/Project/AccessDeniedAuth.tsx
  frontend/js/components/VoteStep/VoteStepPage.tsx
  frontend/shared/navbar/NavBar.components.tsx
  frontend/shared/navbar/NavBar.tsx
  frontend/shared/navbar/NavBar.utils.tsx
  frontend/shared/navbar/menu/NavBarMenu.tsx
Due: jest, flow

feat: replacing Twitter logo by X logo (#17104)
  admin-next/components/Organizations/OrganizationConfig/OrganizationConfigFormSide.tsx
  admin-next/shared/ui/LegacyIcons/svg/twitter.svg
  cypress/integration/proposal/proposalPageFo.cy.ts
  fixtures/Benchmark/FooterSocialNetwork.yaml
  fixtures/Dev/FooterSocialNetwork.yaml
  fixtures/Dev/Media.yaml
  fixtures/Dev/SocialNetwork.yaml
  fixtures/Prod/FooterSocialNetwork.yaml
  fixtures/Prod/Media.yaml
  fixtures/Prod/SocialNetwork.yaml
  fixtures/files/social/twitter.png
  fixtures/files/social/x.png
  frontend/js/components/DesignSystem/Icon/svg/twitter.svg
  frontend/js/components/Footer/FooterAbout-test.tsx
  frontend/js/components/Footer/FooterAbout.tsx
  frontend/js/components/Footer/__snapshots__/FooterAbout-test.tsx.snap
  frontend/js/components/Organization/Page/OrganizationPage.tsx
  frontend/js/components/Project/ProjectHeaderShareButtons.tsx
  frontend/js/components/Proposal/Admin/ProposalAdminContentForm.tsx
  frontend/js/components/Proposal/Form/ProposalForm.tsx
  frontend/js/components/Proposal/Form/__snapshots__/ProposalForm-test.tsx.snap
  frontend/js/components/Proposal/Page/Aside/ModalProposalSocialNetworks.tsx
  frontend/js/components/Proposal/Page/Aside/ProposalSocialNetworkLinks.tsx
  frontend/js/components/User/Admin/UserAdminProfile.tsx
  frontend/js/components/User/Profile/Profile.tsx
  frontend/js/components/Utils/SocialNetworkRegexUtils.ts
Due: jest, flow

feat: Fetch comments list from the graphql api (#17137)
  __snapshots__/rgpd_user_archives/user1/comments.csv
  __snapshots__/rgpd_user_archives/user5/comments.csv
  __snapshots__/rgpd_user_archives/userAdmin/comments.csv
  features/graphql-api/internal/Query/Query_comments.js
  features/graphql-api/internal/Query/__snapshots__/Query_comments.js.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/Enum/CommentOrderField.php
  src/Capco/AppBundle/GraphQL/Resolver/Comment/CommentListResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Contribution/ConsultationTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/ProposalAnalysisUrlResolver.php
  src/Capco/AppBundle/Repository/CommentRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/CommentOrderField.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalPost.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposalAnalysis.types.yaml
  src/Capco/AppBundle/Traits/ContributionRepositoryTrait.php
Due: graphql, php

feat: Fetch arguments list from the graphql api (#17240)
  features/graphql-api/internal/Query/Query_arguments.js
  features/graphql-api/internal/Query/__snapshots__/Query_arguments.js.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Enum/ArgumentOrderField.php
  src/Capco/AppBundle/GraphQL/Resolver/Argument/ArgumentListResolver.php
  src/Capco/AppBundle/Repository/ArgumentRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ArgumentOrderField.types.yaml
Due: graphql, php

fix: parse timezone param (#17273)
  src/Capco/AdminBundle/Timezone/GlobalConfigurationTimeZoneDetector.php
Due: php

fix(EventPreview): show complete date (#17325)
  frontend/js/components/Event/ProjectEventPreview/ProjectEventPreview.tsx
  frontend/js/components/Event/ProjectEventPreview/__snapshots__/ProjectEventPreview-test.tsx.snap
Due: jest, flow

set createdAt as startDate if project has timeless Step (#17324)
  admin-next/components/Dashboard/DashboardFilters/DashboardFilters.tsx
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yaml
Due: php

fix: various issues on project creation simplification (#17295)
  admin-next/components/CreateStep/CreateStepPage.tsx
  admin-next/components/Projects/ProjectConfig/ProjectConfigFormGeneral.tsx
  admin-next/components/Projects/ProjectConfig/ProjectConfigFormSteps.tsx
  admin-next/components/Steps/CollectStep/CollectStepForm.tsx
  admin-next/components/Steps/CollectStep/CollectStepForm.utils.ts
  admin-next/components/Steps/CollectStep/ProposalFormAdminCategoriesModal.tsx
  admin-next/components/Steps/CollectStep/ProposalFormCategoryPinPreview.tsx
  admin-next/components/Steps/CollectStep/ProposalFormListField.tsx
  admin-next/components/Steps/ConsultationStep/ConsultationModel.tsx
  admin-next/components/Steps/ProposalStep.utils.ts
  admin-next/components/Steps/ProposalStep/ProposalStepVoteTabsForm.tsx
  admin-next/components/Steps/QuestionnaireStep/QuestionModal/AdditionalParametersModal.tsx
  admin-next/components/Steps/QuestionnaireStep/QuestionnaireStepForm.tsx
  admin-next/components/Steps/QuestionnaireStep/QuestionnaireStepFormQuestionnaireTab.tsx
  admin-next/components/Steps/SelectStep/SelectStepForm.tsx
  admin-next/components/Steps/SelectStep/SelectStepForm.utils.ts
  admin-next/components/Steps/Shared/PublicationInput.tsx
  cypress/integration/questionnaire/questionnaireAsAnonymous.cy.ts
  features/back/project/AlphaAndEvent/project.feature
  features/front/features/opinions.feature
  frontend/js/components/Page/__snapshots__/QuestionnaireStepPage-test.tsx.snap
  frontend/js/components/ProposalForm/ProposalFormAdminPage.tsx
  frontend/js/components/Questionnaire/QuestionnaireHeader.style.ts
  frontend/js/components/Questionnaire/QuestionnaireHeader.tsx
  package.json
  yarn.lock
Due: jest, flow

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
