Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

Configure socket path un production image (#13929)
  infrastructure/services/remote/supervisord/supervisord.conf
Due: none

Fix `/graphql/internal` CORS headers during development (#13928)
  infrastructure/services/local/nginx/fastcgi.conf
  src/Capco/AppBundle/Controller/Api/GraphQLController.php
Due: php

[13918-FIX] fix requirement form condition (#13926)
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/components/Admin/Project/Step/StepRequirementsList.js
  frontend/js/components/Requirements/RequirementsForm.js
Due: jest, flow

Add a GraphQL argument to fetch only project admin (#13931)
  features/graphql/query/users.feature
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryUsersResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Search/UserSearch.php
Due: graphql, php

fix (#13937)
  frontend/js/components/Proposal/Analysis/ProposalAnalysisFormPanel.js
  frontend/js/components/Proposal/Analysis/__snapshots__/ProposalAnalysisFormPanel-test.js.snap
Due: jest, flow

Liste des projets sur admin-next (#13927)
  admin-next/components/Form/Checkbox.tsx
  admin-next/components/Form/FieldInput.tsx
  admin-next/components/Form/Select.tsx
  admin-next/components/Form/UserListField.tsx
  admin-next/components/Layout/Layout.tsx
  admin-next/components/Projects/ProjectItem.tsx
  admin-next/components/Projects/ProjectList.tsx
  admin-next/components/Projects/ProjectListNoResult.tsx
  admin-next/components/Projects/ProjectModalConfirmationDelete.tsx
  admin-next/components/Projects/ProjectModalCreateProject.tsx
  admin-next/components/Projects/ProjectModalExportSteps.tsx
  admin-next/components/UI/NavBar/NavBar.tsx
  admin-next/components/UI/Table/EmptyMessage.tsx
  admin-next/components/UI/Table/TablePlaceholder.tsx
  admin-next/mutations/CreateProjectMutation.tsx
  admin-next/mutations/DeleteProjectMutation.tsx
  admin-next/mutations/DuplicateProjectMutation.tsx
  admin-next/mutations/commitMutation.tsx
  admin-next/pages/_app.tsx
  admin-next/pages/index.tsx
  admin-next/pages/projects.tsx
  admin-next/types.ts
  admin-next/utils/debounce-promise.ts
  admin-next/utils/download-csv.tsx
  admin-next/utils/feature-flags-resolver.test.ts
  admin-next/utils/filesaver.tsx
  admin-next/utils/format-submitted.ts
  admin-next/utils/locale-helper.ts
  admin-next/utils/mutation-error-toast.tsx
  admin-next/utils/relay-environement.ts
  admin-next/utils/request-helper.test.ts
  frontend/js/components/Form/FieldInput.js
  frontend/js/components/Proposal/Contact/ProposalContactModal.js
  frontend/js/components/Proposal/Contact/__snapshots__/ProposalContactModal-test.js.snap
  package.json
  yarn.lock
Due: jest, flow

Fix toggling GraphQL introspection (#13870)
  config/packages/graphql.yaml
  config/services.yaml
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  features/graphql-api/public/introspection.js
  schema.internal.graphql
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Controller/Api/GraphQLController.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
Due: php

[13108-FEATURE] add feature toggle unstable__paper_vote (#13942)
  admin-next/utils/feature-flags-resolver.ts
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
Due: php

[13797] Remove feature flag majority_vote_question (#13945)
  admin-next/utils/feature-flags-resolver.ts
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  frontend/js/components/Admin/Project/Form/__snapshots__/ProjectAdminForm-test.js.snap
  frontend/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
  frontend/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  frontend/js/redux/modules/default.js
  frontend/js/types.js
  schema.internal.graphql
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
  src/DoctrineMigrations/Version20211228120954.php
  yarn.lock
Due: php, jest, flow

[13794] Remove feature flag unstable__debate (#13946)
  admin-next/utils/feature-flags-resolver.ts
  features/back/project/Alpha/project.feature
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  frontend/js/components/Admin/Project/Form/__snapshots__/ProjectAdminForm-test.js.snap
  frontend/js/components/Admin/Project/Steps/ProjectStepAdmin-test.js
  frontend/js/components/Admin/Project/Steps/ProjectStepAdmin.js
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdmin-test.js.snap
  frontend/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  frontend/js/redux/modules/default.js
  frontend/js/types.js
  schema.internal.graphql
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
  src/DoctrineMigrations/Version20211228140436.php
Due: php, jest, flow

[13784] Remove feature flag app_news (#13947)
  admin-next/utils/feature-flags-resolver.ts
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  frontend/js/components/Admin/Project/Form/__snapshots__/ProjectAdminForm-test.js.snap
  frontend/js/components/Admin/RightNavbar/AdminRightNavbar.js
  frontend/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  frontend/js/redux/modules/default.js
  frontend/js/types.js
  schema.internal.graphql
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
  src/DoctrineMigrations/Version20211228144641.php
Due: php, jest, flow

[13793] Remove feature flag unstable__analysis (#13949)
  admin-next/utils/feature-flags-resolver.ts
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  frontend/js/components/Admin/Project/Deprecated/ProjectAdminFormDeprecated.js
  frontend/js/components/Admin/Project/Form/__snapshots__/ProjectAdminForm-test.js.snap
  frontend/js/components/Admin/Project/ProjectAdminContent.js
  frontend/js/components/Proposal/Page/ProposalPageLogic.js
  frontend/js/components/ProposalForm/ProposalFormAdminPageTabs-test.js
  frontend/js/components/ProposalForm/ProposalFormAdminPageTabs.js
  frontend/js/components/ProposalForm/__snapshots__/ProposalFormAdminPageTabs-test.js.snap
  frontend/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  frontend/js/redux/modules/default.js
  frontend/js/types.js
  schema.internal.graphql
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ProcessingProposalCommand.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Controller/Site/EvaluationController.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryViewerCanSeeEvaluationsPageResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
  src/DoctrineMigrations/Version20211228180708.php
Due: graphql, php, jest, flow

[13948-SEND] allow super admin to see consentInternalCommunication (#13950)
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewUser.types.yaml
Due: php

13108 proposal paper vote (#13943)
  features/graphql-api/preview/Proposal/Proposal.js
  features/graphql-api/preview/Proposal/__snapshots__/Proposal.js.snap
  fixtures/Dev/Proposal.yaml
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProposal.types.yaml
  src/DoctrineMigrations/Version20211228100250.php
Due: php

[REMOVE-SONATACORE] remove sonataCore from code (#13925)
  fetch_translations.mjs
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
  src/Capco/AppBundle/Resources/views/Project/base.html.twig
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/debate.html.twig
  src/Capco/AppBundle/Resources/views/Step/presentation.html.twig
Due: php

[2022-FIX] fix 2022 related snaps (#13959)
  frontend/js/components/Event/EventOnlineThumbnail/EventOnlineThumbnail-test.js
  frontend/js/components/Event/EventOnlineThumbnail/__snapshots__/EventOnlineThumbnail-test.js.snap
Due: none

[13871-FIXPHPERROR] fix typehint on ProposalDecision::getId (#13963)
  src/Capco/AppBundle/Entity/ProposalDecision.php
Due: php

[13933-FIX] fix step project published toggle (#13962)
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.js
Due: jest, flow

[13934-FIX] fix condition (#13960)
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.js
Due: jest, flow

[13643-LIMIT] limit size of biography in profile (#13971)
  frontend/js/components/User/Profile/Profile.js
Due: jest, flow

[CYPRESSENABLEFEATURES] can enable feature toggle with cypress (#13972)
  cypress/plugins/index.ts
Due: none

Removes onboarding and click on past steps (#13973)
  frontend/js/components/Proposal/Map/ProposalLeafletMap.js
Due: jest, flow

Fix scroll on firefox proposal edit modal (#13961)
  frontend/js/components/Proposal/Edit/ProposalEditModal.js
  frontend/js/components/Proposal/Edit/__snapshots__/ProposalEditModal-test.js.snap
  frontend/js/components/Proposal/Page/Header/ProposalPageHeaderButtons.js
Due: jest, flow

[13852-DESCRIPTION] add descriptions for graphql introspection (#13958)
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Resources/config/graphql/preview/enums/PreviewProposalVoteOrderField.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/RemainingTime.types.yaml
Due: php

[13672-FIXDEBATE] Return type can be null (#13969)
  src/Capco/AppBundle/Entity/Steps/DebateStep.php
Due: php

[13914-ADD] add group search in custom visiblity (#13970)
  frontend/js/components/Admin/Project/Access/ProjectAccessAdminForm.js
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Group/GroupListResolver.php
  src/Capco/AppBundle/Repository/GroupRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
Due: graphql, php, jest, flow

[13266-FRONT] BO des codes d'identification (#13761)
  admin-next/components/IdentificationCodes/CreationModal/CSVModel.ts
  admin-next/components/IdentificationCodes/CreationModal/IdentificationCodesListCreationModal.tsx
  admin-next/components/IdentificationCodes/CreationModal/IdentificationCodesListCreationModalBody.tsx
  admin-next/components/IdentificationCodes/CreationModal/IdentificationCodesListCreationModalFooter.tsx
  admin-next/components/IdentificationCodes/CreationModal/IdentificationCodesListCreationModalForm.tsx
  admin-next/components/IdentificationCodes/CreationModal/IdentificationCodesListCreationModalFormUploadAnalyse.tsx
  admin-next/components/IdentificationCodes/DataType.ts
  admin-next/components/IdentificationCodes/DeleteModal/GetProjectNamesUsingCodes.ts
  admin-next/components/IdentificationCodes/DeleteModal/IdentificationCodesListDeleteModal.tsx
  admin-next/components/IdentificationCodes/DeleteModal/IdentificationCodesListDeleteModalBody.tsx
  admin-next/components/IdentificationCodes/DeleteModal/IdentificationCodesListDeleteModalFooter.tsx
  admin-next/components/IdentificationCodes/DeleteModal/IdentificationCodesListDeleteModalHeader.tsx
  admin-next/components/IdentificationCodes/FileAnalyse.ts
  admin-next/components/IdentificationCodes/FileDownload.ts
  admin-next/components/IdentificationCodes/FileUpload.tsx
  admin-next/components/IdentificationCodes/HelpButton.tsx
  admin-next/components/IdentificationCodes/IdentificationCodesContent.tsx
  admin-next/components/IdentificationCodes/IdentificationCodesEmpty.tsx
  admin-next/components/IdentificationCodes/IdentificationCodesLists.tsx
  admin-next/components/IdentificationCodes/Table/IdentificationCodesListsTable.tsx
  admin-next/components/IdentificationCodes/Table/IdentificationCodesListsTableBody.tsx
  admin-next/components/IdentificationCodes/Table/IdentificationCodesListsTableHead.tsx
  admin-next/components/IdentificationCodes/Table/IdentificationCodesListsTableLine.tsx
  admin-next/components/SideBar/SideBarItems.json
  admin-next/mutations/CreateUserIdentificationCodeListMutation.tsx
  admin-next/mutations/DeleteUserIdentificationCodeListMutation.tsx
  admin-next/pages/identificationCodes.tsx
  frontend/js/components/Admin/Sidebar/Sidebar.js
  spec/Capco/AppBundle/Generator/CSV/IdentificationCodeListCSVGeneratorSpec.php
  src/Capco/AppBundle/Controller/Site/DownloadController.php
  src/Capco/AppBundle/Generator/CSV/AbstractCSVResponseGenerator.php
Due: php, jest, flow

[13266-USER] add identificationCode in profile (#13952)
  frontend/js/components/User/Admin/UserAdminPageTabs.js
  frontend/js/components/User/Admin/UserAdminPersonalData-test.js
  frontend/js/components/User/Admin/UserAdminPersonalData.js
  frontend/js/components/User/Admin/__snapshots__/UserAdminPage-test.js.snap
  frontend/js/components/User/Admin/__snapshots__/UserAdminPageTabs-test.js.snap
  frontend/js/components/User/Admin/__snapshots__/UserAdminPersonalData-test.js.snap
Due: jest, flow

[13966-FIX] fix captcha visibility (#13968)
  cypress/integration/questionnaire/questionnaireAsAnonymous.spec.ts
  frontend/js/components/Reply/Form/ReplyCreateFormWrapper.js
  frontend/js/components/Reply/Form/ReplyForm-test.js
  frontend/js/components/Reply/Form/ReplyForm.js
Due: jest, flow

[13930-FIXCREATEPROPOSALFORMBO] fix permission to create proposal fro… (#13964)
  src/Capco/AdminBundle/Controller/AlphaProjectController.php
Due: php

13651 setting up sending emails 2 (#13902)
  features/front/features/project.feature
  features/graphql-api/internal/User/__snapshots__/Viewer_emailingCampaigns.js.snap
  features/graphql/mutation/addUsersInGroup.feature
  features/graphql/mutation/createEmailingCampaign.feature
  features/graphql/mutation/deleteGroup.feature
  features/graphql/mutation/deleteUserInGroup.feature
  features/graphql/mutation/registration.feature
  features/graphql/mutation/updateEmailingCampaign.feature
  features/graphql/mutation/updateGroup.feature
  features/graphql/query/emailingCampaign.feature
  features/graphql/query/group.feature
  features/graphql/query/group_user.feature
  features/graphql/query/project_restrictedViewers.feature
  fixtures/Dev/EmailingCampaign.yaml
  frontend/js/components/Admin/Emailing/MailParameter/Parameter/index.js
  frontend/js/components/Admin/Project/Access/ProjectAccessAdminForm.js
  frontend/js/components/Group/Admin/GroupAdminAddUsersForm.js
  frontend/js/components/Group/GroupCreateButton.js
  schema.internal.graphql
  src/Capco/AppBundle/Entity/EmailingCampaign.php
  src/Capco/AppBundle/Entity/Group.php
  src/Capco/AppBundle/Enum/CreateEmailingCampaignErrorCode.php
  src/Capco/AppBundle/Enum/UpdateEmailingCampaignErrorCode.php
  src/Capco/AppBundle/Form/EmailingCampaignType.php
  src/Capco/AppBundle/GraphQL/Mutation/GroupMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/CreateEmailingCampaignMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/UpdateEmailingCampaignMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryNodeResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/CreateEmailingCampaignErrorCode.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/UpdateEmailingCampaignErrorCode.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/mailing/CreateEmailingCampaignInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/mailing/UpdateEmailingCampaignInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/EmailingCampaign.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Group.types.yaml
  src/DoctrineMigrations/Version20211229132828.php
Due: graphql, php, jest, flow

[13688-FIXPHPERROR] adding fixture and test on removeDebateVote (#13967)
  __snapshots__/exports/participants_debats-ouvert-sans-vote_debat-ouvert-sans-vote.csv
  features/front/features/project.feature
  features/graphql-api/internal/ProjectOwner/__snapshots__/ProjectOwner_projects.js.snap
  features/graphql-api/internal/mutation/Debate/__snapshots__/removeDebateVote.js.snap
  features/graphql-api/internal/mutation/Debate/removeDebateVote.js
  features/graphql-api/public/Query/__snapshots__/Query_projects.js.snap
  fixtures/Dev/Debate.yaml
  fixtures/Dev/DebateStep.yaml
  fixtures/Dev/Project.yaml
  fixtures/Dev/ProjectAbstractStep.yaml
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Debate/Debate.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/RemoveDebateVoteErrorCode.types.yaml
Due: php

[13988-FIXPROPOSALSIMPORT] try to fix setReference on import proposal (#13989)
  src/Capco/AppBundle/Import/ImportProposalsFromCsv.php
Due: php

[13986-FIX-INVITE-GROUPS] Fix UserInvite Groups. (#13991)
  features/graphql-api/internal/mutation/inviteUsers.js
  src/Capco/AppBundle/GraphQL/Mutation/InviteUsersMutation.php
Due: graphql, php

handle dollar in nginx conf (#13935)
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/nginx/nginx.conf
Due: none

[14002-FIX] fix restrictedViewerGroup global id (#14004)
  features/graphql-api/internal/mutation/createAlphaProject.js
  features/graphql-api/internal/mutation/updateAlphaProject.js
  frontend/js/components/Admin/Project/Access/ProjectAccessAdminForm.js
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/mutations/UpdateProjectAlphaMutation.js
  src/Capco/AppBundle/Form/Persister/ProjectPersister.php
Due: php, jest, flow

[13917-ARCHIVE] project filter archived (#13993)
  features/front/features/project.feature
  fixtures/Dev/PresentationStep.yaml
  fixtures/Dev/ProjectAbstractStep.yaml
  frontend/js/components/Project/List/Filters/ProjectListFilters.js
  frontend/js/components/Project/List/Filters/ProjectListFiltersContainer.js
  frontend/js/components/Project/List/Filters/ProjectsListFilterArchived.js
  frontend/js/components/Project/List/ProjectListView.js
  frontend/js/components/Project/List/ProjectListViewPaginated.js
  frontend/js/components/Project/List/ProjectsList.js
  frontend/js/components/Project/Page/ProjectRestrictedAccessFragment.js
  frontend/js/components/Project/ProjectArchivedTag.js
  frontend/js/components/Project/ProjectHeader-Placeholder.js
  frontend/js/components/Project/ProjectHeader.js
  frontend/js/components/Project/__snapshots__/ProjectHeaderBlocks-test.js.snap
  frontend/js/components/Ui/Project/ProjectHeader-test.js
  frontend/js/components/Ui/Project/ProjectHeader.Cover.js
  frontend/js/components/Ui/Project/__snapshots__/ProjectHeader-test.js.snap
  frontend/js/mutations/UpdateProjectAlphaMutation.js
  frontend/js/stories/UI/ProjectHeader/ProjectHeader.stories.js
  schema.internal.graphql
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Enum/ProjectArchiveFilter.php
  src/Capco/AppBundle/Form/ProjectSearchType.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryProjectsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ProjectArchiveFilter.types.yaml
  src/Capco/AppBundle/Resources/config/serialization/Project.yaml
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
  translations/routes/routes.de-DE.yaml
  translations/routes/routes.en-GB.yaml
  translations/routes/routes.es-ES.yaml
  translations/routes/routes.fr-FR.yaml
  translations/routes/routes.nl-NL.yaml
  translations/routes/routes.sv-SE.yaml
Due: graphql, php, jest, flow

[13740] Nouvelle page feature toggle (#13955)
  admin-next/components/FeatureList/FeatureItems.json
  admin-next/components/FeatureList/FeatureList.tsx
  admin-next/components/FeatureList/FeatureList.utils.ts
  admin-next/components/NavBar/NavBar.context.tsx
  admin-next/components/SideBar/SideBarItems.json
  admin-next/components/UI/SideBar/menu/SideBarItem.tsx
  admin-next/mutations/ToggleFeatureMutation.tsx
  admin-next/pages/features.tsx
  admin-next/utils/feature-flags-resolver.test.ts
  admin-next/utils/feature-flags-resolver.ts
  frontend/js/components/Admin/Sidebar/Sidebar.js
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  yarn.lock
Due: php, jest, flow
