Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

Consultation / Synthesis step (#10281)
  features/back/project/Alpha/project.feature
  features/graphql-api/public/query/__snapshots__/Query_consultations.js.snap
  fixtures/Dev/Consultation.yaml
  frontend/js/components/Admin/Project/Access/ProjectAccessAdminForm.js
  frontend/js/components/Admin/Project/Access/__snapshots__/ProjectAccessAdminForm-test.js.snap
  frontend/js/components/Admin/Project/Content/ProjectContentAdminForm.js
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.style.js
  frontend/js/components/Admin/Project/ProjectAdminContent.style.js
  frontend/js/components/Admin/Project/Publish/ProjectPublishAdminForm.js
  frontend/js/components/Admin/Project/Publish/__snapshots__/ProjectPublishAdminForm-test.js.snap
  frontend/js/components/Admin/Project/Step/ProjectAdminConsultationStepForm-test.js
  frontend/js/components/Admin/Project/Step/ProjectAdminConsultationStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminQuestionnaireStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm-test.js
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.style.js
  frontend/js/components/Admin/Project/Step/ProjectAdminStepFormModal.js
  frontend/js/components/Admin/Project/Step/ProjectAdminSynthesisStepForm.js
  frontend/js/components/Admin/Project/Step/StepRequirementsList.js
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminConsultationStepForm-test.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminStepForm-test.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminStepFormModal-test.js.snap
  frontend/js/components/Ui/Button/DeleteButton.js
  frontend/js/components/Ui/Button/__snapshots__/DeleteButton-test.js.snap
  infrastructure/deploylib/app.py
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Requirement.php
  src/Capco/AppBundle/Form/RequirementType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/RequirementType.types.yaml
Due: php, backend

Add availableProposalForms query (#10324)
  features/graphql-api/public/query/Query_availableProposalForms.js
  features/graphql-api/public/query/__snapshots__/Query_availableProposalForms.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryAvailableProposalFormsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
Due: graphql, php, backend

[10294] fix district border (#10314)
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProposalFormMutation.php
Due: graphql, php, backend

[9212-INSCRIPTION] Traduire la page Inscription (#10266)
  fixtures/Dev/RegistrationForm.yaml
  fixtures/Dev/RegistrationFormTranslation.yaml
  fixtures/Prod/RegistrationForm.yaml
  fixtures/Prod/RegistrationFormTranslation.yaml
  frontend/js/components/Admin/RegistrationAdminPage.js
  frontend/js/components/Admin/RegistrationCommunicationForm-test.js
  frontend/js/components/Admin/RegistrationCommunicationForm.js
  frontend/js/components/Admin/RegistrationFormCommunication-test.js
  frontend/js/components/Admin/RegistrationFormCommunication.js
  frontend/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  frontend/js/components/Admin/__snapshots__/RegistrationCommunicationForm-test.js.snap
  frontend/js/components/Admin/__snapshots__/RegistrationFormCommunication-test.js.snap
  frontend/js/mutations/UpdateRegistrationFormCommunicationMutation.js
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/Entity/RegistrationForm.php
  src/Capco/AppBundle/Entity/RegistrationFormTranslation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateRegistrationFormCommunicationMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/RegistrationScriptQueryResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/RegistrationFormCommunicationTranslation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/registrationform/UpdateRegistrationFormCommunicationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/registrationform/UpdateRegistrationFormCommunicationPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/registrationform/UpdateRegistrationFormQuestionsInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/registrationform/UpdateRegistrationFormQuestionsPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalRegistrationForm.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalRegistrationFormTranslation.types.yaml
  src/Capco/UserBundle/Form/Type/AdminConfigureRegistrationType.php
  src/DoctrineMigrations/Version20200310110329.php
Due: graphql, php, backend

[7590-UI] - Clearable Input (#10328)
  frontend/js/components/Ui/Form/Input/ClearableInput/ClearableInput-test.js
  frontend/js/components/Ui/Form/Input/ClearableInput/__snapshots__/ClearableInput-test.js.snap
  frontend/js/components/Ui/Form/Input/ClearableInput/index.js
  frontend/js/components/Ui/Form/Input/Input.js
  frontend/js/stories/core/input/ClearableInput-stories.js
  frontend/js/utils/styles/variables.js
  package.json
  yarn.lock
Due: none

[10331-SENTRY] fix type error (#10333)
  src/Capco/AppBundle/GraphQL/Mutation/Locale/SetUserDefaultLocaleMutation.php
Due: graphql, php, backend

Fix minimist. (#10335)
  package.json
Due: none

[FEAT] - Analyse : Recherche des propositions (#10320)
  frontend/js/components/Admin/Project/ProjectAdminPage.context.js
  frontend/js/components/Admin/Project/ProjectAdminPage.reducer.js
  frontend/js/components/Admin/Project/ProjectAdminProposals.js
  frontend/js/components/Admin/Project/ProjectAdminProposals.style.js
  frontend/js/components/Admin/Project/ProjectAdminProposalsPage.js
  frontend/js/components/Admin/Project/ProjectAdminProposalsView.js
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminProposals-test.js.snap
  frontend/js/components/Ui/Form/Input/ClearableInput/index.js
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: php, backend

[ALWAYSJUMP-SECTION] Add alwaysJump on creation section BO (#10346)
  frontend/js/components/Question/SectionQuestionAdminModal.js
Due: none

Fix regression due to no jquery (#10336)
  src/Capco/AppBundle/Behat/Traits/FranceConnectTrait.php
Due: backend

[7578-FEEDBACK] - Analyse : Filtre des propositions (#10340)
  frontend/js/components/Admin/Project/ProjectAdminContent.js
  frontend/js/components/Admin/Project/ProjectAdminPage.context.js
  frontend/js/components/Admin/Project/ProjectAdminPage.js
  frontend/js/components/Admin/Project/ProjectAdminPage.reducer.js
  frontend/js/components/Admin/Project/ProjectAdminProposals.js
  frontend/js/components/Admin/Project/ProjectAdminProposals.utils-test.js
  frontend/js/components/Admin/Project/ProjectAdminProposals.utils.js
  frontend/js/components/Admin/Project/ProjectAdminProposalsPage.js
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminProposals.utils-test.js.snap
  frontend/js/startup/ProjectAdminApp.js
  src/Capco/AdminBundle/Resources/views/AlphaProject/create.html.twig
Due: php, backend

[10332-FIXES] use globalId (#10349)
  src/Capco/AppBundle/GraphQL/Mutation/ContactProposalAuthorMutation.php
Due: graphql, php, backend

[10129-SAUT] Clean code conditionnal jump (#10345)
  .eslintrc.js
  frontend/js/components/Form/Form.type.js
  frontend/js/utils/form/formatQuestions.js
  frontend/js/utils/form/formatResponses.js
  frontend/js/utils/form/formatSubmitResponses.js
  frontend/js/utils/form/getAvailableQuestions.js
  frontend/js/utils/form/getAvailableQuestionsIds.js
  frontend/js/utils/form/test/formatQuestions-test.js
  frontend/js/utils/form/test/formatResponses-test.js
  frontend/js/utils/form/test/formatSubmitResponses-test.js
  frontend/js/utils/form/test/getAvailableQuestionsIds-test.js
  frontend/js/utils/form/test/mocks.js
  frontend/js/utils/form/test/validateResponses-test.js
  yarn.lock
Due: none

[10332-DESACTIVATE] desactive copy to admin (#10351)
  src/Capco/AppBundle/GraphQL/Mutation/ContactProposalAuthorMutation.php
Due: graphql, php, backend

7570 collect step (#10316)
  features/back/project/Alpha/project.feature
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.style.js
  frontend/js/components/Admin/Project/Step/ProjectAdminCollectStepForm-test.js
  frontend/js/components/Admin/Project/Step/ProjectAdminCollectStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminConsultationStepForm-test.js
  frontend/js/components/Admin/Project/Step/ProjectAdminConsultationStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminQuestionnaireStepForm-test.js
  frontend/js/components/Admin/Project/Step/ProjectAdminQuestionnaireStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminRankingStepForm-test.js
  frontend/js/components/Admin/Project/Step/ProjectAdminRankingStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminSelectionStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.style.js
  frontend/js/components/Admin/Project/Step/ProjectAdminSynthesisStepForm-test.js
  frontend/js/components/Admin/Project/Step/ProjectAdminSynthesisStepForm.js
  frontend/js/components/Admin/Project/Step/StepStatusesList.js
  frontend/js/components/Admin/Project/Step/StepVotesFields.js
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminCollectStepForm-test.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminConsultationStepForm-test.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminQuestionnaireStepForm-test.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminRankingStepForm-test.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminSynthesisStepForm-test.js.snap
  frontend/js/components/Ui/CircleColor/CircleColor-test.js
  frontend/js/components/Ui/CircleColor/CircleColor.js
  frontend/js/components/Ui/CircleColor/__snapshots__/CircleColor-test.js.snap
  frontend/js/constants/StepTypeConstants.js
  frontend/js/stories/core/form/CircleColor-stories.js
  schema.internal.graphql
  src/Capco/AppBundle/Form/Step/SelectionStepFormType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/ProjectStepInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalCollectStep.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/RankingStep.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SelectionStep.types.yaml
Due: php, backend

[FEEDBACK] - Analyse : Consulter la liste des contributions (#10361)
  frontend/js/components/Admin/Project/ProjectAdminContent.js
  frontend/js/components/Admin/Project/ProjectAdminProposals-test.js
  frontend/js/components/Admin/Project/ProjectAdminProposals.js
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminProposals-test.js.snap
  frontend/js/components/Ui/InlineSelect/index.style.js
Due: none

Update fixtures for idf (#10359)
  fixtures/Dev/MediaQuestion.yaml
  fixtures/Dev/MultipleChoiceQuestion.yaml
  fixtures/Dev/ProposalForm.yaml
  fixtures/Dev/QuestionChoice.yaml
  fixtures/Dev/SimpleQuestion.yaml
  frontend/js/components/Form/RenderResponses.js
Due: none

[10332-DESIGN] design du mail (#10367)
  src/Capco/AppBundle/Mailer/Message/Proposal/ContactProposalAuthorMessage.php
  src/Capco/AppBundle/Mailer/templates/Proposal/contactProposalAuthor.html.twig
Due: php, backend

[10364-FIX] Add default parameter formatResponses/formatQuesti… (#10365)
  frontend/js/utils/form/formatQuestions.js
  frontend/js/utils/form/formatResponses.js
Due: none

[10332-CAPTCHA] adds captcha (#10353)
  config/packages/services.yaml
  frontend/js/components/Proposal/Contact/ProposalContactButton-test.js
  frontend/js/components/Proposal/Contact/ProposalContactButton.js
  frontend/js/components/Proposal/Contact/ProposalContactModal-test.js
  frontend/js/components/Proposal/Contact/ProposalContactModal.js
  frontend/js/components/Proposal/Contact/__snapshots__/ProposalContactButton-test.js.snap
  frontend/js/components/Proposal/Contact/__snapshots__/ProposalContactModal-test.js.snap
  frontend/js/components/Proposal/Page/ProposalPageHeader.js
  schema.internal.graphql
  src/Capco/AppBundle/Enum/ContactProposalAuthorErrorCode.php
  src/Capco/AppBundle/GraphQL/Mutation/ContactProposalAuthorMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ContactProposalAuthorInput.yaml
  src/Capco/AppBundle/Security/CaptchaChecker.php
Due: graphql, php, backend

[UI] Add some components for analysis dashboard (#10358)
  frontend/js/components/Project/Preview/ProjectAnalysisPreview/ProjectAnalysisPreview.js
  frontend/js/components/Project/Preview/ProjectAnalysisPreview/ProjectAnalysisPreview.style.js
  frontend/js/components/Ui/Card/Body.js
  frontend/js/components/Ui/Card/Card.js
  frontend/js/components/Ui/Icons/Icon.js
  frontend/js/components/Ui/Icons/index.js
  frontend/js/components/Ui/Icons/svg/bubble-message.svg
  frontend/js/components/Ui/Icons/svg/done.svg
  frontend/js/components/Ui/Icons/svg/taskList.svg
  frontend/js/components/Ui/List/UserAvatarList.js
  frontend/js/components/Ui/Medias/Avatar.js
  frontend/js/components/Ui/Medias/AvatarBadge/AvatarBadge-test.js
  frontend/js/components/Ui/Medias/AvatarBadge/AvatarBadge.js
  frontend/js/components/Ui/Medias/AvatarBadge/AvatarBadge.style.js
  frontend/js/components/Ui/Medias/AvatarBadge/__snapshots__/AvatarBadge-test.js.snap
  frontend/js/constants/ProposalConstants.js
  frontend/js/stories/capcollectif/ProjectAnalysisPreview-stories.js
  frontend/js/stories/core/Avatar-stories.js
  frontend/js/stories/core/list/UserAvatarList-stories.js
  frontend/js/utils/colors.js
Due: none

[ANALYSIS-REACT] Setup react-router for dashboard (#10369)
  frontend/js/components/Analysis/AnalysisIndexPage/AnalysisIndexPage.js
  frontend/js/components/Analysis/AnalysisListProjectPage/AnalysisListProjectPage.js
  frontend/js/components/Analysis/AnalysisProjectPage/AnalysisProjectPage.js
  frontend/js/startup/EvaluationsIndexPageApp.js
  src/Capco/AppBundle/Controller/Site/EvaluationController.php
  translations/routes/routes.de-DE.yaml
  translations/routes/routes.en-GB.yaml
  translations/routes/routes.es-ES.yaml
  translations/routes/routes.fr-FR.yaml
  translations/routes/routes.nl-NL.yaml
  translations/routes/routes.sv-SE.yaml
Due: php, backend

7585 assignee supervisor on proposals (#10329)
  features/graphql-api/internal/mutation/AssignSupervisorToProposals.js
  features/graphql-api/internal/mutation/__snapshots__/AssignSupervisorToProposals.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/Command/ReinitCommand.php
  src/Capco/AppBundle/Entity/ProposalSupervisor.php
  src/Capco/AppBundle/Enum/ProposalAssignmentErrorCode.php
  src/Capco/AppBundle/GraphQL/Mutation/AssignSupervisorToProposalsMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Repository/ProposalSupervisorRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalProposalAssignmentErrorCode.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AssignSupervisorToProposalsInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AssignSupervisorToProposalsPayload.types.yaml
  src/Capco/AppBundle/Security/ProposalAnalysisRelatedVoter.php
  src/Capco/UserBundle/Entity/User.php
Due: graphql, php, backend

[UI] - SearchableDropdownSelect et modifs DropdownSelect (#10354)
  frontend/js/components/Ui/Collapsable/index.js
  frontend/js/components/Ui/DropdownSelect/DropdownSelect-test.js
  frontend/js/components/Ui/DropdownSelect/__snapshots__/DropdownSelect-test.js.snap
  frontend/js/components/Ui/DropdownSelect/choice/index.js
  frontend/js/components/Ui/DropdownSelect/choice/index.style.js
  frontend/js/components/Ui/DropdownSelect/context.js
  frontend/js/components/Ui/DropdownSelect/header/index.js
  frontend/js/components/Ui/DropdownSelect/index.js
  frontend/js/components/Ui/DropdownSelect/index.style.js
  frontend/js/components/Ui/DropdownSelect/menu/index.style.js
  frontend/js/components/Ui/DropdownSelect/message/index.js
  frontend/js/components/Ui/Form/Input/ClearableInput/__snapshots__/ClearableInput-test.js.snap
  frontend/js/components/Ui/Form/Input/ClearableInput/index.js
  frontend/js/components/Ui/SearchableDropdownSelect/SearchableDropdownSelect-test.js
  frontend/js/components/Ui/SearchableDropdownSelect/__snapshots__/SearchableDropdownSelect-test.js.snap
  frontend/js/components/Ui/SearchableDropdownSelect/context.js
  frontend/js/components/Ui/SearchableDropdownSelect/index.js
  frontend/js/components/Ui/SearchableDropdownSelect/reducer.js
  frontend/js/components/Ui/SearchableDropdownSelect/style.js
  frontend/js/stories/core/select/DropdownSelect-stories.js
  frontend/js/stories/core/select/SearchableDropdownSelect-stories.js
  frontend/js/utils/styles/mixins.js
Due: none

[FIX-DECISION-MAKER] Fix decision maker Graphl schema (#10370)
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yaml
  src/Capco/AppBundle/Security/ProposalAnalysisRelatedVoter.php
Due: php, backend

Set correct mail sender (#10376)
  src/Capco/AppBundle/Mailer/MailerFactory.php
  src/Capco/AppBundle/Mailer/Message/Proposal/ContactProposalAuthorMessage.php
Due: php, backend

[2249-LANGUAGE] Fixing some routes translations and redirections (#10377)
  config/routes/routing.yaml
  package.json
  src/Capco/AppBundle/Resources/views/Homepage/lastPosts.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/lastProjects.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/lastProposals.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/lastThemes.html.twig
  translations/routes/routes.de-DE.yaml
  translations/routes/routes.en-GB.yaml
  translations/routes/routes.es-ES.yaml
  translations/routes/routes.fr-FR.yaml
  translations/routes/routes.nl-NL.yaml
  translations/routes/routes.sv-SE.yaml
Due: php, backend

[10372-FIX] fix revoke supervisor on proposal (#10374)
  features/graphql-api/internal/mutation/AssignSupervisorToProposals.js
  features/graphql-api/internal/mutation/__snapshots__/AssignSupervisorToProposals.js.snap
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/ProposalSupervisor.php
  src/Capco/AppBundle/GraphQL/Mutation/AssignSupervisorToProposalsMutation.php
  src/Capco/AppBundle/Repository/ProposalSupervisorRepository.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
Due: graphql, php, backend

[10303-SHORT-LINK] Short link with redirect io (#10325)
  composer.json
  composer.lock
  config/bundles.php
  config/packages/admin.yaml
  config/packages/redirectionio.yaml
  config/packages/services.yaml
  config/packages/sonata_admin.yaml
  config/services.yaml
  fixtures/Dev/SiteParameter.yaml
  fixtures/Prod/SiteParameter.yaml
  frontend/js/components/User/Admin/RedirectIoAdminPage-test.js
  frontend/js/components/User/Admin/RedirectIoAdminPage.js
  frontend/js/components/User/Admin/__snapshots__/RedirectIoAdminPage-test.js.snap
  frontend/js/mutations/UpdateRedirectIOProjectKey.js
  frontend/js/registration.js
  frontend/js/startup/RedirectIoAdminPageApp.js
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/redirectionio/agent.yml
  infrastructure/services/local/redirectionio/run
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/redirectionio/agent.yml
  infrastructure/services/remote/redirectionio/run
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/RedirectAdmin.php
  src/Capco/AdminBundle/Controller/RedirectController.php
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AdminBundle/Resources/views/Redirect/list.html.twig
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Entity/SiteParameter.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateRedirectIOProjectIdMutation.php
  src/Capco/AppBundle/RedirectionIO/Client.php
  src/Capco/AppBundle/RedirectionIO/ProjectKeyDataloader.php
  src/Capco/AppBundle/RedirectionIO/RequestResponseListener.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalUpdateRedirectIOProjectIdInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalUpdateRedirectIOProjectIdPayload.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
Due: graphql, php, backend

[10303-SHORT] Adding a toggle to prevent crash if no project k… (#10382)
  src/Capco/AppBundle/RedirectionIO/ProjectKeyDataloader.php
Due: php, backend

[10380-TWO] Two themes (#10381)
  src/Capco/AppBundle/Entity/Project.php
Due: php, backend

[10303-SHORT] Project key in siteparam migration (#10383)
  src/DoctrineMigrations/Version20200330085715.php
Due: php, backend

[9201-EN] use languagebuttton component (#10357)
  frontend/js-server/registration.js
  frontend/js/components/LanguageButton/Language.js
  frontend/js/components/LanguageButton/LanguageButton.js
  frontend/js/components/LanguageButton/LanguageRedirectButton.js
  frontend/js/registration.js
  frontend/js/startup/LanguageButtonApp.js
  src/Capco/AdminBundle/Admin/Extension/TranslatableAdminExtension.php
  src/Capco/AdminBundle/Resources/views/partials/sonata_locale_switcher.html.twig
Due: php, backend

7728 panel analysis (#10386)
  frontend/js/components/Proposal/Analysis/ProposalAnalysisOnMobileModal-test.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisOnMobileModal.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisPanel-test.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisPanel.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisUserRow-test.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisUserRow.js
  frontend/js/components/Proposal/Analysis/__snapshots__/ProposalAnalysisOnMobileModal-test.js.snap
  frontend/js/components/Proposal/Analysis/__snapshots__/ProposalAnalysisPanel-test.js.snap
  frontend/js/components/Proposal/Analysis/__snapshots__/ProposalAnalysisUserRow-test.js.snap
  frontend/js/components/Proposal/Page/ProposalPage-test.js
  frontend/js/components/Proposal/Page/ProposalPage.js
  frontend/js/components/Proposal/Page/ProposalPageHeader-test.js
  frontend/js/components/Proposal/Page/ProposalPageHeader.js
  frontend/js/components/Proposal/Page/ProposalPageLogic.js
  frontend/js/components/Proposal/Page/ProposalPageTabs.js
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPageHeader-test.js.snap
  frontend/js/components/Ui/Icons/Icon.js
  frontend/js/components/Ui/Icons/index.js
  frontend/js/components/Ui/Icons/svg/chart.svg
  frontend/js/components/Ui/Icons/svg/clock.svg
  frontend/js/components/Ui/Icons/svg/close.svg
  frontend/js/components/Ui/Icons/svg/eye.svg
  frontend/js/components/Ui/Icons/svg/favorable.svg
  frontend/js/components/Ui/Icons/svg/mute-face.svg
  frontend/js/components/Ui/Icons/svg/ongoing.svg
  frontend/js/components/Ui/Icons/svg/pen.svg
  frontend/js/components/Ui/Icons/svg/todo.svg
  frontend/js/components/Ui/Icons/svg/unfavorable.svg
  frontend/js/components/Ui/Labels/Label.js
  frontend/js/stories/core/Label-stories.js
  frontend/js/utils/colors.js
Due: none

10352 Decision settings (#10378)
  features/graphql-api/internal/mutation/__snapshots__/configureAnalysis.js.snap
  features/graphql-api/internal/mutation/changeProposalDecision.js
  features/graphql-api/internal/mutation/configureAnalysis.js
  features/graphql-api/internal/proposal/__snapshots__/Proposal_supervisor.js.snap
  features/graphql-api/internal/proposalForm/ProposalForm_analysisConfiguration.js
  features/graphql-api/internal/proposalForm/__snapshots__/ProposalForm_analysisConfiguration.js.snap
  fixtures/Dev/AnalysisConfiguration.yaml
  fixtures/Dev/ProjectAbstractStep.yaml
  fixtures/Dev/ProposalAssessment.yaml
  fixtures/Dev/ProposalForm.yaml
  fixtures/Dev/SelectionStep.yaml
  fixtures/Dev/Status.yaml
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/Entity/AnalysisConfiguration.php
  src/Capco/AppBundle/Entity/Post.php
  src/Capco/AppBundle/Entity/ProposalForm.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeProposalDecisionMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ConfigureAnalysisMutation.php
  src/Capco/AppBundle/Repository/AnalysisConfigurationRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ConfigureAnalysisInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ConfigureAnalysisPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalAnalysisConfiguration.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ProposalForm.types.yaml
  src/DoctrineMigrations/Version20200330130538.php
Due: graphql, php, backend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
