Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

[15641] Scroll automatique vers les erreurs dans un formulaire / questionnaire (#15876)
  frontend/js/components/Form/Address/Address.tsx
  frontend/js/components/Proposal/Form/ProposalForm.tsx
  frontend/js/components/Proposal/Form/ProposalForm.utils.ts
  frontend/js/components/Proposal/Form/__snapshots__/ProposalForm-test.tsx.snap
  frontend/js/components/Reply/Form/ReplyForm.tsx
  frontend/js/components/Reply/Form/ReplyForm.utils.ts
  frontend/js/components/Reply/Form/__snapshots__/ReplyForm-test.tsx.snap
  frontend/js/components/Requirements/RequirementsFormLegacy-test.tsx
  frontend/js/components/Requirements/RequirementsFormLegacy.tsx
Due: jest, flow

[16486] Optimization cache ci and rework (#16487)
  .gitignore
  admin-next/.gitignore
  admin-next/.next/.gitkeep
  admin-next/__generated__/.gitkeep
  frontend/js/__generated__/.gitkeep
  public/js/.gitkeep
Due: jest, flow

16479 - Dans le formulaire d’inscription à un événement, on demande le "Prénom Nom" au lieu du "Nom d'utilisateur"
  frontend/js/components/Event/RegisterForm/EventFormAnonymousModal.tsx
Due: jest, flow

allow projects_form and project_trash feature toggle in ROLE_ADMIN (#16511)
  src/Capco/AppBundle/Toggle/Manager.php
Due: php

handle errors with FC (#16515)
  frontend/js/components/Proposal/Vote/ProposalVoteModals/ProposalVoteRequirementsModal.tsx
Due: jest, flow

16478 - Dans l'export des utilisateurs, ajouter la colonne "groups" listant les groupes dont fait partie l'utilisateur
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
Due: php

16480 - Rendre les boutons d'action des événements visibles en permanence dans le BO(pas juste au survol)
  admin-next/components/Events/EventItem.tsx
  admin-next/components/Events/__snapshots__/EventItem.test.tsx.snap
  admin-next/components/Events/__snapshots__/EventList.test.tsx.snap
Due: none

test quickfix zone geo (#16521)
  admin-next/.next/.gitkeep
  frontend/js/components/Proposal/Form/ProposalForm.tsx
Due: jest, flow

Add parallelisme cypress e2e (#16465)
  cypress/.gitignore
  cypress/cypress.ci.json
  cypress/cypress.development.json
  cypress/cypress/downloads/participants-event-create-by-user-with-review-approved.csv
  cypress/integration/event/eventPage.cy.ts
  cypress/integration/organization/project-must-be-rework.text
  cypress/integration/organization/project.cy.ts
  cypress/package.json
  cypress/pages/event/eventPage.ts
  cypress/scripts/fix-junit-xml.js
  infrastructure/deploylib/ci/app.py
  infrastructure/deploylib/local/database.py
  infrastructure/deploylib/qa.py
Due: none

pre-config step handle organization (#16528)
  features/graphql-api/internal/mutation/Step/__snapshots__/addCollectStep.js.snap
  features/graphql-api/internal/mutation/Step/__snapshots__/addQuestionnaireStep.js.snap
  features/graphql-api/internal/mutation/Step/addCollectStep.js
  features/graphql-api/internal/mutation/Step/addQuestionnaireStep.js
  src/Capco/AppBundle/GraphQL/Mutation/Step/AddCollectStepMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Step/AddQuestionnaireStepMutation.php
  src/Capco/UserBundle/Entity/User.php
Due: graphql, php

fix double copy + change title to copy of XXX (#16512)
  src/Capco/AppBundle/Entity/ProposalForm.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalForm/DuplicateProposalFormMutation.php
Due: graphql, php

fix cypress (#16539)
  cypress/integration/projectOwner/projectBO.cy.ts
Due: none

log onPostExecutor errors as warnings (#16536)
  src/Capco/AppBundle/GraphQL/EventListener/ErrorHandler.php
Due: graphql, php

[16146] remove bossa/phpspec2-expect (#16484)
  composer.json
  composer.lock
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/GraphQLContext.php
  src/Capco/AppBundle/Behat/NavigationContext.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
  src/Capco/AppBundle/Behat/Traits/ProjectStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  src/Capco/AppBundle/Behat/UserContext.php
Due: none

[16361] Bug fix filter analyst (#16477)
  src/Capco/AppBundle/Command/Elasticsearch/CreateIndexCommand.php
  src/Capco/AppBundle/Command/Elasticsearch/MarkAsLiveIndexCommand.php
  src/Capco/AppBundle/GraphQL/DataLoader/ProposalForm/ProposalFormProposalsDataLoader.php
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: graphql, php

reduce flaky tests (#16316)
  cypress/cypress.development.json
  cypress/integration/project/projectBO.cy.ts
  cypress/integration/projectOwner/projectBO.cy.ts
  cypress/pages/admin/project.ts
  features/back/project/ProposalFormAndQuestionnaire/proposal_form.feature
  features/back/project/ProposalFormAndQuestionnaire/questionnaire.feature
  features/front/user/split1/login.feature
  features/front/user/split2/profile.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/DefaultContext.php
  src/Capco/AppBundle/Behat/Traits/AdminProposalFormTrait.php
  src/Capco/AppBundle/Behat/UserContext.php
Due: none

Fix cache build admin-next (#16548)
  admin-next/.next/.gitkeep
Due: none

[16531] bug fix dashboard stats (#16549)
  admin-next/.next/.gitkeep
  features/graphql-api/internal/Analytics/__snapshots__/analytics.js.snap
  features/graphql-api/internal/Analytics/analytics.js
  src/Capco/AppBundle/Client/CloudflareElasticClient.php
  src/Capco/AppBundle/Command/Elasticsearch/config/logs.json
Due: php

fix-highlited-links-locale (#16556)
  frontend/js/components/Carousel/CarouselDesktop.tsx
Due: jest, flow

Fix Build (#16565)
  features/graphql-api/internal/Analytics/__snapshots__/analytics.js.snap
Due: none

add xdebug with cli (#16566)
  infrastructure/services/local/Dockerfile
Due: none

[16066] Remove webfactory/icu-translation-bundle (#16561)
  composer.json
  composer.lock
  config/packages/services.yaml
  config/services.yaml
  src/Capco/AppBundle/Form/EventRegistrationType.php
  src/Capco/AppBundle/Translator/FormatterDecorator.php
Due: php

Fix wrong margin/padding on project - hopefully Annecy's questionnaire (#16564)
  src/Resources/scss/base/_front.scss
Due: php

fix-mediator-toggle-tabs (#16575)
  frontend/js/components/Admin/Project/ProjectAdminContent.tsx
Due: jest, flow

16508 memory leak cmd capcoexportproposalstep (#16584)
  infrastructure/deploylib/qa.py
  infrastructure/deploylib/system.py
  spec/Capco/AppBundle/GraphQL/ConnectionTraversorSpec.php
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/GraphQL/ConnectionTraversor.php
  src/Capco/AppBundle/Repository/AbstractStepRepository.php
Due: graphql, php

updating fixtures dates (#16600)
  fixtures/Dev/CollectStep.yaml
Due: none

revert useUrlState (#16605)
  admin-next/hooks/useUrlState.ts
Due: none

16510 modal click outside (#16604)
  frontend/js/components/Proposal/Vote/ProposalVoteModal.tsx
  frontend/js/components/User/Login/LoginModal.tsx
  frontend/js/components/User/Login/__snapshots__/LoginModal-test.tsx.snap
  frontend/js/components/User/Registration/RegistrationModal.tsx
  frontend/js/components/User/Registration/__snapshots__/RegistrationModal-test.tsx.snap
Due: jest, flow

allow orga member to see hidden votes (#16601)
  src/Capco/AppBundle/Search/VoteSearch.php
Due: php

format hour with HH:mm:ss instead of H:mm:ss (#16603)
  admin-next/components/Projects/CreateProject/ConfigureParticipatoryBudgetAnalysisInput.ts
Due: none

Dans l'export des réponses d'un questionnaire, corrige les intitulés des colonnes des questions/sections/sous-sections (#16606)
  __snapshots__/exports/projet-avec-administrateur-de-projet_questionnaire-administrateur-de-projet-project-admin.csv
  __snapshots__/exports/projet-avec-administrateur-de-projet_questionnaire-administrateur-de-projet.csv
  __snapshots__/exports/projet-avec-administrateur-de-projet_questionnaire-step-anonymous-project-owner.csv
  __snapshots__/exports/projet-avec-questionnaire_essais-de-sauts-conditionnels.csv
  __snapshots__/exports/projet-avec-questionnaire_etape-de-questionnaire-avec-questionnaire-sauts-conditionnels.csv
  __snapshots__/exports/projet-avec-questionnaire_etape-de-questionnaire-fermee.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire-des-jo-2024.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire.csv
  __snapshots__/exports/questionnaire-non-rattache.csv
  __snapshots__/exports/questionnaire-pour-budget-participatif-disponible.csv
  __snapshots__/exports/questionnaire-pour-budget-participatif.csv
  src/Capco/AppBundle/Resolver/ProjectDownloadResolver.php
Due: php

Fix vote number on vote page (#16609)
  frontend/js/components/Project/Votes/VoteMinAlert.tsx
Due: jest, flow

16616 fix event participants export (#16621)
  src/Capco/AppBundle/Controller/Site/ExportController.php
Due: php

fix install js deps (#16624)
  cypress/integration/organization/post.cy.ts
  cypress/pages/proposal/proposalVoteSms.ts
Due: none

15480 - Supprimer le message au focus du champ "Adresse e-mail" sur la page d'invitation d'un utilisateur
  frontend/js/components/User/Registration/RegistrationForm.tsx
  frontend/js/components/User/Registration/__snapshots__/RegistrationForm-test.tsx.snap
  frontend/js/components/User/Registration/__snapshots__/validateRegistrationForm-test.ts.snap
Due: jest, flow

16488- Retrait du bandeau "Consultez la version antérieure de cette page" présent dans les projets en BO
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.style.ts
  frontend/js/components/Admin/Project/ProjectAdminContent.tsx
Due: jest, flow

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
