Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

6024-[Bug] Main navbar size (#6462)
  app/Resources/js/components/Navbar/Navbar.js
Due: jest, flow, frontend

[6626-FIX] Add test for theme page with projects.
  app/Resources/js/components/Navbar/Navbar.js
  app/Resources/js/components/Project/List/ProjectsList.js
  app/Resources/js/components/Proposal/List/ProposalListTable-test.js
  app/Resources/js/components/Proposal/List/ProposalListTable.js
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListTable-test.js.snap
  app/Resources/js/startup/ProjectsListAppClient.js
  features/front/project.feature
  src/Capco/AppBundle/Controller/Site/ThemeController.php
  src/Capco/AppBundle/Resources/views/Theme/show.html.twig
Due: php, jest, flow, backend, frontend

Merge pull request #6627 from cap-collectif/6626-fix-theme-page
  app/Resources/js/components/Navbar/Navbar.js
  app/Resources/js/components/Proposal/List/ProposalListTable-test.js
  app/Resources/js/components/Proposal/List/ProposalListTable.js
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListTable-test.js.snap
Due: jest, flow, frontend

Improve our Flow coverage
  .codecov.yml
  app/Resources/js/components/Blog/Post-test.js
  app/Resources/js/components/Blog/__snapshots__/Post-test.js.snap
  app/Resources/js/components/Form/Checkbox-test.js
  app/Resources/js/components/Form/RankingBlock-test.js
  app/Resources/js/redux/modules/__snapshots__/report-test.js.snap
  app/Resources/js/redux/modules/report-test.js
  app/Resources/js/redux/modules/report.js
  app/Resources/js/utils/bootstrapToHexColor.js
  app/Resources/js/utils/colors.js
  app/Resources/js/utils/email_domains.js
  flow-typed/npm/jest_v20.x.x.js
  flow-typed/npm/jest_v23.x.x.js
  flow-typed/npm/redux-form_vx.x.x.js
Due: jest, flow, frontend

Fix GraphQL generation
  infrastructure/deploylib/qa.py
  package.json
Due: none

Add date of birth as a possible requirement
  app/Resources/js/components/Form/DateDropdownPicker.js
  app/Resources/js/components/Form/__snapshots__/DateDropDownPicker-test.js.snap
  app/Resources/js/components/Requirements/RequirementsForm-test.js
  app/Resources/js/components/Requirements/RequirementsForm.js
  app/Resources/js/components/Requirements/__snapshots__/RequirementsForm-test.js.snap
  app/Resources/js/components/User/Profile/PersonalData.js
  app/Resources/js/components/User/Profile/__snapshots__/PersonalData-test.js.snap
  app/config/config.yml
  features/graphql/mutations/updateRequirement.feature
  features/graphql/query/node.feature
  features/graphql/types/proposal_step/proposal_step_requirements.feature
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Requirement/RequirementViewerValueResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Requirement/ViewerMeetsTheRequirementResolverSpec.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  src/Capco/AppBundle/Command/EncodeGlobalIdCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Requirement.yml
  src/Capco/AppBundle/Entity/Requirement.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateRequirementMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Requirement/RequirementTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Requirement/RequirementViewerValueResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Requirement/ViewerMeetsTheRequirementResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Requirement.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/DateOfBirthRequirement.types.yml
  src/Capco/AppBundle/Resources/config/services/repositories.yml
Due: graphql, php, jest, flow, backend, frontend

6536-LINK add test
  features/graphql/mutations/addEvaluationFormToProposal.feature
Due: none

6536-LINK add globalId for evaluationForm
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/EvaluationForm.types.yml
Due: php, backend

Update UI for District
  app/Resources/js-server/registration.js
  app/Resources/js/components/District/DistrictAdminFields.js
  app/Resources/js/components/District/Fields/PanelBackgroundStyle.js
  app/Resources/js/components/District/Fields/PanelBorderStyle.js
  app/Resources/js/components/District/Fields/withPanelStyle.js
  app/Resources/js/components/Form/ColorPicker.js
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/ProjectDistrict/ProjectDistrictForm.js
  app/Resources/js/components/ProjectDistrict/ProjectDistrictPage.js
  app/Resources/js/components/ProjectDistrict/ProjectDistrictsList.js
  app/Resources/js/components/Proposal/Map/LeafletMap.js
  app/Resources/js/components/Proposal/Page/ProposalPageLastNews.js
  app/Resources/js/components/ProposalForm/ProposalFormAdminConfigurationForm.js
  app/Resources/js/components/ProposalForm/ProposalFormAdminDistrictModal.js
  app/Resources/js/components/ProposalForm/ProposalFormAdminDistricts.js
  app/Resources/js/components/Ui/Button/AddButton.js
  app/Resources/js/components/Ui/Button/DeleteButton.js
  app/Resources/js/components/Ui/Button/DeleteButtonPopover.js
  app/Resources/js/components/Ui/Button/EditButton.js
  app/Resources/js/mutations/CreateProjectDistrictMutation.js
  app/Resources/js/mutations/DeleteProjectDistrictMutation.js
  app/Resources/js/mutations/UpdateProjectDistrictMutation.js
  app/Resources/js/registration.js
  app/Resources/js/startup/ProjectDistrictAdminApp.js
  app/Resources/js/types.js
  app/Resources/scss/modules/_project.scss
  flow-typed/npm/react-color_vx.x.x.js
Due: jest, flow, frontend

Create new route in sonata for ProjectDistrict
  app/config/sonata.yml
  features/front/project_district.feature
  package.json
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AdminBundle/Admin/ProjectDistrictAdmin.php
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AdminBundle/Resources/views/ProjectDistrict/list.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_districts.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  yarn.lock
Due: php, backend

Add test and flow type
  app/Resources/js/components/District/DistrictAdminFields-test.js
  app/Resources/js/components/District/__snapshots__/DistrictAdminFields-test.js.snap
  app/Resources/js/components/Form/ColorPicker-test.js
  app/Resources/js/components/Form/__snapshots__/ColorPicker-test.js.snap
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/ProjectDistrict/ProjectDistrictForm.js
Due: jest, flow, frontend

rename composant ProjectDistrictPage
  app/Resources/js/components/ProjectDistrict/ProjectDistrictAdminPage.js
  app/Resources/js/startup/ProjectDistrictAdminApp.js
  schema.internal.graphql
  schema.public.graphql
Due: jest, flow, frontend

Add Flow Type
  app/Resources/js/components/ProjectDistrict/ProjectDistrictAdminPage.js
Due: jest, flow, frontend

Rename defaultProps
  app/Resources/js/components/ProjectDistrict/ProjectDistrictsList.js
Due: jest, flow, frontend

refacto UI button function name
  app/Resources/js/components/ProjectDistrict/ProjectDistrictsList.js
  app/Resources/js/components/Ui/Button/AddButton.js
  app/Resources/js/components/Ui/Button/DeleteButton.js
  app/Resources/js/components/Ui/Button/EditButton.js
Due: jest, flow, frontend

Change prop type
  app/Resources/js/startup/ProjectDistrictAdminApp.js
Due: jest, flow, frontend

update behat test
  features/front/project_district.feature
  src/Capco/AppBundle/Behat/Page/AdminProjectDistrictPage.php
  src/Capco/AppBundle/Behat/Traits/AdminProjectDistrictTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
Due: backend

change Delete project district mutation with new payload
  app/Resources/js/mutations/DeleteProjectDistrictMutation.js
  features/graphql/mutations/deleteProjectDistrict.feature
  features/graphql/mutations/updateProjectDistrict.feature
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/District/DeleteProjectDistrictMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/District/UpdateProjectDistrictMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/district/DeleteProjectDistrictPayload.types.yml
Due: graphql, php, jest, flow, backend, frontend

update migration and style entities
  app/DoctrineMigrations/Version20181203164324.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/BackgroundStyle.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/BorderStyle.yml
  src/Capco/AppBundle/Entity/Styles/AbstractStyle.php
Due: php, backend

update isEnable to enabled
  app/Resources/js/components/District/DistrictAdminFields-test.js
  app/Resources/js/components/District/DistrictAdminFields.js
  app/Resources/js/components/District/Fields/PanelBackgroundStyle.js
  app/Resources/js/components/District/Fields/PanelBorderStyle.js
  app/Resources/js/components/District/Fields/withPanelStyle.js
  app/Resources/js/components/District/__snapshots__/DistrictAdminFields-test.js.snap
  app/Resources/js/components/ProjectDistrict/ProjectDistrictForm.js
  app/Resources/js/components/ProjectDistrict/ProjectDistrictsList.js
  app/Resources/js/components/Proposal/Map/LeafletMap.js
  app/Resources/js/components/ProposalForm/ProposalFormAdminConfigurationForm.js
  app/Resources/js/types.js
  features/graphql/mutations/createProjectDistrict.feature
  features/graphql/mutations/updateProjectDistrict.feature
  schema.internal.graphql
  src/Capco/AppBundle/Form/BackgroundStyleType.php
  src/Capco/AppBundle/Form/BorderStyleType.php
  src/Capco/AppBundle/Resources/config/graphql/Style.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/district/BackgroundStyleInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/district/BorderStyleInput.types.yml
Due: php, jest, flow, backend, frontend

more review
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Styles/BorderStyle.php
  src/Capco/AppBundle/GraphQL/Resolver/District/DistrictStyleResolver.php
  src/Capco/AppBundle/Resources/config/graphql/DistrictStyle.types.yml
  src/Capco/AppBundle/Resources/config/graphql/Style.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/district/CreateProjectDistrictInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/district/DeleteProjectDistrictInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/district/UpdateProjectDistrictInput.types.yml
Due: graphql, php, backend

rebase
  schema.internal.graphql
Due: none

add connection
  app/Resources/js/components/ProjectDistrict/ProjectDistrictAdminPage.js
  app/Resources/js/components/ProjectDistrict/ProjectDistrictForm.js
  app/Resources/js/components/ProjectDistrict/ProjectDistrictsList.js
  app/Resources/js/mutations/CreateProjectDistrictMutation.js
  app/Resources/js/mutations/DeleteProjectDistrictMutation.js
  app/Resources/js/mutations/UpdateProjectDistrictMutation.js
  features/graphql/mutations/deleteProjectDistrict.feature
  features/graphql/query/projectDistricts.feature
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/District/CreateProjectDistrictMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/District/QueryProjectDistrictResolver.php
  src/Capco/AppBundle/Repository/ProjectDistrictRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/district/CreateProjectDistrictPayload.type.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ProjectDistrictConnection.types.yml
Due: graphql, php, jest, flow, backend, frontend

add optimistic on delete
  app/Resources/js/mutations/DeleteProjectDistrictMutation.js
Due: jest, flow, frontend

rebase
  schema.internal.graphql
  schema.preview.graphql
Due: none

update graphql schema
  schema.internal.graphql
  schema.preview.graphql
  schema.public.graphql
Due: none

review
  app/Resources/js/components/District/DistrictAdminFields.js
  app/Resources/js/components/ProjectDistrict/ProjectDistrictForm.js
  app/Resources/js/components/Proposal/Map/LeafletMap.js
  features/back/project_district.feature
  features/graphql/mutations/updateProjectDistrict.feature
  src/Capco/AppBundle/Entity/District/ProjectDistrict.php
  src/Capco/AppBundle/Entity/District/ProposalDistrict.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Form/CleanDistrictFieldSubscriber.php
  src/Capco/AppBundle/GraphQL/Mutation/District/DeleteProjectDistrictMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/District/UpdateProjectDistrictMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/District/QueryProjectDistrictResolver.php
  src/Capco/AppBundle/GraphQL/Type/ColorType.php
  src/Capco/AppBundle/Resources/config/services/repositories.yml
Due: graphql, php, jest, flow, backend, frontend

adding interface
  src/Capco/AppBundle/GraphQL/Mutation/District/CreateProjectDistrictMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/District/UpdateProjectDistrictMutation.php
Due: graphql, php, backend

recette
  app/Resources/js/components/Ui/Button/AddButton.js
  app/Resources/js/components/Ui/Button/DeleteButtonPopover.js
  app/Resources/js/components/Ui/Button/EditButton.js
  src/Capco/AppBundle/Resources/views/Project/base.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_districts.html.twig
Due: php, jest, flow, backend, frontend

recette CSS
  app/Resources/js/components/District/Fields/PanelBackgroundStyle.js
  app/Resources/js/components/District/Fields/PanelBorderStyle.js
  app/Resources/js/components/ProjectDistrict/ProjectDistrictAdminPage.js
Due: jest, flow, frontend

fix css
  app/Resources/js/components/ProjectDistrict/ProjectDistrictAdminPage.js
Due: jest, flow, frontend

fix panel heading color background
  app/Resources/js/components/District/Fields/PanelBackgroundStyle.js
  app/Resources/js/components/District/Fields/PanelBorderStyle.js
Due: jest, flow, frontend

Update normalize for size value
  app/Resources/js/components/District/Fields/PanelBorderStyle.js
Due: jest, flow, frontend

change size of districts modal
  app/Resources/js/components/ProposalForm/ProposalFormAdminDistrictModal.js
Due: jest, flow, frontend

change yarn.lock
  yarn.lock
Due: none

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
