Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

[11258-EVENTEDITBUTTON] add admin edit event button (#11985)
  frontend/js/components/Event/EventPageHeader/EventPageHeader-test.js
  frontend/js/components/Event/EventPageHeader/EventPageHeader.js
  frontend/js/components/Event/EventPageHeader/__snapshots__/EventPageHeader-test.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventAdminUrlResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yaml
Due: graphql, php, jest, flow

Optimisation de moment-timezone (#11915)
  package.json
  webpack/webpack.client.js
  yarn.lock
Due: none

[DEBATE] - Corbeille (#11992)
  config/packages/twig.yaml
  features/front/pages/project_trash.feature
  src/Capco/AdminBundle/Resources/views/RecentReporting/index.html.twig
  src/Capco/AdminBundle/Resources/views/Reporting/object_show_field.html.twig
  src/Capco/AdminBundle/Resources/views/Reporting/type_list_field.html.twig
  src/Capco/AdminBundle/Resources/views/Reporting/type_show_field.html.twig
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Entity/Argument.php
  src/Capco/AppBundle/Entity/Debate/DebateArgument.php
  src/Capco/AppBundle/GraphQL/Resolver/Debate/DebateArgumentVotesResolver.php
  src/Capco/AppBundle/Repository/DebateArgumentRepository.php
  src/Capco/AppBundle/Resolver/UrlResolver.php
  src/Capco/AppBundle/Resources/views/Argument/blockDebateArgument.html.twig
  src/Capco/AppBundle/Resources/views/Project/base.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_trashed.html.twig
  src/Capco/AppBundle/Resources/views/Step/debate.html.twig
Due: graphql, php

[ELASTICSEARCH-MIGRATION] QA instance for ES mapping migration (#11993)
  infrastructure/services/remote/php-fpm/run
Due: none

[FIXTESTS] fix tests (#12013)
  features/back/project/Event/event.feature
  features/front/bp/proposal_votes.feature
  features/front/features/event.feature
  frontend/js/components/Proposal/Vote/ProposalVoteButton.js
  frontend/js/components/Proposal/Vote/__snapshots__/ProposalVoteButton-test.js.snap
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: jest, flow

Mini harmonisation débat (#11982)
  frontend/js/components/Debate/Page/Drawers/DebateStepPageOpinionDrawer.js
  frontend/js/components/Debate/Page/LinkedArticles/DebateStepPageLinkedArticles.js
Due: jest, flow

[DMARC-SOISY] Add dmarc for soisy. (#12026)
  src/Capco/AppBundle/Mailer/MandrillTransport.php
Due: php

Fix usage of `isAuthenticated` argument (#12029)
  frontend/js/components/Proposal/Follow/ProposalFollowButton-test.js
  frontend/js/components/Proposal/Follow/ProposalFollowButton.js
  frontend/js/components/Proposal/List/DraftProposalList.js
  frontend/js/components/Proposal/Page/Header/ProposalPageHeader.js
  frontend/js/components/Proposal/Page/Header/ProposalPageHeaderButtons.js
  frontend/js/components/Proposal/Page/ProposalPageLogic.js
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPage-test.js.snap
  frontend/js/components/Proposal/Preview/ProposalPreviewBody.js
  frontend/js/components/Proposal/Preview/ProposalPreviewVote.js
  frontend/js/components/Proposal/Report/ProposalReportButton.js
  frontend/js/components/Proposal/Vote/ProposalVoteBasketWidget.js
  frontend/js/components/Proposal/Vote/ProposalVoteButton.js
  frontend/js/components/Proposal/Vote/ProposalVoteButtonWrapperFragment.js
  frontend/js/mutations/FollowProposalMutation.js
  frontend/js/mutations/UnfollowProposalMutation.js
  frontend/js/mutations/UpdateFollowProposalMutation.js
  frontend/js/mutations/UpdateProposalVotesMutation.js
  frontend/js/startup/ProposalVoteBasketWidgetApp.js
Due: jest, flow

[DS-BUTTON] DS: Add hierarchy variantColor (#12031)
  frontend/js/components/DesignSystem/Button/Button.d.ts
  frontend/js/components/DesignSystem/Button/Button.js
  frontend/js/components/DesignSystem/Button/Button.style.js
  frontend/js/stories/UI/Button/ButtonPrimary-stories.js
  frontend/js/stories/UI/Button/ButtonSecondary-stories.js
  frontend/js/stories/UI/Button/ButtonTertiary-stories.js
Due: jest, flow

[11964-FIX] Fix embed video in text editor (#11998)
  composer.json
  composer.lock
  config/packages/html_purifier.yaml
  features/graphql-api/internal/mutation/Proposal/__snapshots__/updateProposal.js.snap
  features/graphql-api/internal/mutation/Proposal/updateProposal.js
  src/Capco/AppBundle/Form/OpinionForm.php
  src/Capco/AppBundle/Form/OpinionVersionType.php
  src/Capco/AppBundle/Form/ProposalFormUpdateType.php
  src/Capco/AppBundle/Form/ProposalType.php
Due: php

[FIX-11919] Handle posts's custom visibility project (#12017)
  features/front/pages/blog.feature
  src/Capco/AppBundle/Controller/Site/BlogController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Repository/PostRepository.php
Due: php

[DEBATE] - Filtre `isPublished` pour les votes (#12030)
  features/graphql-api/internal/Debate/Debate_votes.js
  features/graphql-api/internal/Debate/__snapshots__/Debate_votes.js.snap
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Resolver/Debate/DebateVotesResolverSpec.php
  src/Capco/AppBundle/GraphQL/Resolver/Debate/DebateVotesResolver.php
  src/Capco/AppBundle/Repository/DebateVoteRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDebate.types.yaml
Due: graphql, php

[ADD-DMARC] Add dmarc for canejan. (#12042)
  src/Capco/AppBundle/Mailer/MandrillTransport.php
Due: php

[11944] Harmo drawer for mobile (#12040)
  frontend/js/components/Debate/Page/Arguments/DebateStepPageAlternateArgumentsPagination.js
  frontend/js/components/Debate/Page/Arguments/ModalReportArgumentMobile.js
  frontend/js/components/Debate/Page/Arguments/__snapshots__/ModalReportArgumentMobile-test.js.snap
  frontend/js/components/Debate/Page/Drawers/DebateStepPageArgumentDrawer.js
  frontend/js/components/Debate/Page/Drawers/DebateStepPageArgumentsDrawer.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote.js
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVote-test.js.snap
  frontend/js/components/DesignSystem/Icon/Icon.d.ts
  frontend/js/components/DesignSystem/Icon/Icon.js
  frontend/js/components/DesignSystem/Icon/index.js
  frontend/js/components/DesignSystem/Icon/svg/thumb-down.svg
Due: jest, flow

Carte du débat en inté client (#12045)
  frontend/js-server/registration.js
  frontend/js/components/InteClient/DebateCard/DebateCard.js
  frontend/js/registration.js
  frontend/js/startup/DebateCardApp.js
  frontend/js/stories/inte-client/DebateCard-stories.js
Due: jest, flow

[11969] Ajout du filtre sur l'onglet vote sur le BO (#12043)
  frontend/js/components/Admin/Project/ProjectAdminContent.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminContributionsPage.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/ArgumentHeaderTab.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/ArgumentTab-test.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/ArgumentTab.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/ArgumentTabQuery.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/__snapshots__/ArgumentTab-test.js.snap
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ProjectAdminDebate-test.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ProjectAdminDebate.context.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ProjectAdminDebate.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ProjectAdminDebate.reducer.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteHeaderTab.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteTab-test.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteTab.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteTabQuery.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/__snapshots__/VoteTab-test.js.snap
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/__snapshots__/ProjectAdminDebate-test.js.snap
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote.js
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVote-test.js.snap
Due: jest, flow

[DEBATE] - Ajout de champs unpublished pour le viewer (#12046)
  config/packages/repositories.yaml
  features/graphql-api/internal/Debate/Debate_viewerUnpublishedArgument.js
  features/graphql-api/internal/Debate/Debate_viewerUnpublishedVotes.js
  features/graphql-api/internal/Debate/__snapshots__/Debate_viewerUnpublishedVotes.js.snap
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Resolver/Debate/DebateViewerUnpublishedArgumentResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Debate/DebateViewerUnpublishedVotesResolverSpec.php
  src/Capco/AppBundle/GraphQL/Resolver/Debate/DebateViewerUnpublishedArgumentResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Debate/DebateViewerUnpublishedVotesResolver.php
  src/Capco/AppBundle/Repository/DebateArgumentRepository.php
  src/Capco/AppBundle/Repository/DebateVoteRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDebate.types.yaml
Due: graphql, php

[12025-CHECK] check mapcenter (#12036)
  config/packages/validators.yaml
  spec/Capco/AppBundle/Validator/Constraints/CheckMapCenterValidatorSpec.php
  src/Capco/AppBundle/Form/ProposalFormUpdateType.php
  src/Capco/AppBundle/Validator/Constraints/CheckMapCenter.php
  src/Capco/AppBundle/Validator/Constraints/CheckMapCenterValidator.php
Due: php

[12019-AUDIT] Add googleapijs only if proposal form needs it. (#12033)
  infrastructure/services/local/nginx/nginx.conf
  infrastructure/services/remote/nginx/nginx.conf
  src/Capco/AppBundle/Resources/views/Event/index.html.twig
  src/Capco/AppBundle/Resources/views/Proposal/show.html.twig
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
Due: php

[11969-FIX] Fix step finished & add some test (#12047)
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/ArgumentHeaderTab-test.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/ArgumentHeaderTab.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/__snapshots__/ArgumentHeaderTab-test.js.snap
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteHeaderTab-test.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteHeaderTab.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteTab-test.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteTab.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/__snapshots__/VoteHeaderTab-test.js.snap
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/__snapshots__/VoteTab-test.js.snap
Due: jest, flow

11354 proposal news final (#12006)
  __snapshots__/exports/budget-participatif-idf_collecte-des-projets-idf-privee.csv
  features/front/bp/proposal_news.feature
  features/graphql-api/public/Query/__snapshots__/Query_posts.js.snap
  fixtures/Dev/Post.yaml
  fixtures/Dev/PostTranslation.yaml
  fixtures/Dev/ProposalForm.yaml
  fixtures/Dev/ProposalFormNotificationConfiguration.yaml
  fixtures/Dev/SelectionStep.yaml
  frontend/js/components/Proposal/Page/Blog/ProposalNewsEditModal.js
  frontend/js/components/Proposal/Page/Blog/__snapshots__/ProposalNewsEditModal-test.js.snap
  frontend/js/components/ProposalForm/ProposalFormAdminNotificationForm-test.js
  frontend/js/components/ProposalForm/ProposalFormAdminNotificationForm.js
  frontend/js/components/ProposalForm/__snapshots__/ProposalFormAdminNotificationForm-test.js.snap
  frontend/js/components/ProposalForm/__snapshots__/ProposalFormAdminPage-test.js.snap
  frontend/js/mutations/UpdateProposalFormNotificationsConfigurationMutation.js
  schema.internal.graphql
  spec/Capco/AppBundle/Entity/ProposalSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/AddProposalNewsMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/DeleteProposalNewsMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/UpdateProposalNewsMutationSpec.php
  src/Capco/AppBundle/Behat/Page/ProposalPage.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/Entity/NotificationsConfiguration/ProposalFormNotificationConfiguration.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Form/ProposalFormNotificationsConfigurationType.php
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalNewsMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteProposalNewsMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalFormMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProposalNewsMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Post/PostUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalUrlResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateProposalFormNotificationsConfigurationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/NotificationsConfiguration.types.yaml
  src/DoctrineMigrations/Version20210203164702.php
Due: graphql, php, jest, flow

[11586-FIX] Fix votes count (#12052)
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteHeaderTab.js
Due: jest, flow

Fix `usingAdress` typo (#12054)
  src/Capco/AppBundle/Resources/views/Proposal/show.html.twig
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
Due: php

[11976-IP] add ip address in DebateArgument and DebateVote (#12028)
  features/graphql-api/internal/Debate/Debate_arguments.js
  features/graphql-api/internal/Debate/Debate_votes.js
  features/graphql-api/internal/Debate/__snapshots__/Debate_arguments.js.snap
  features/graphql-api/internal/Debate/__snapshots__/Debate_votes.js.snap
  fixtures/Dev/DebateArgument.yaml
  fixtures/Dev/DebateArgumentVote.yaml
  fixtures/Dev/DebateVote.yaml
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Debate/DebateArgument.php
  src/Capco/AppBundle/Entity/Debate/DebateArgumentVote.php
  src/Capco/AppBundle/Entity/Debate/DebateVote.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/AddDebateVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/CreateDebateArgumentMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDebateArgument.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDebateArgumentVote.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDebateVote.types.yaml
  src/DoctrineMigrations/Version20210210110359.php
Due: graphql, php

[12007-FIX] Fix selectedStep proposal page vote (#12055)
  frontend/js/components/Proposal/Page/Votes/ProposalPageVotes.js
Due: jest, flow

[11573-FEEDBACK] - Fixed no percentage when no positive votes (#12061)
  frontend/js/components/Ui/Vote/VoteView.js
  frontend/js/components/Ui/Vote/__snapshots__/VoteView-test.js.snap
Due: jest, flow

Add debate widget route (#12051)
  infrastructure/services/remote/nginx/nginx.conf
  src/Capco/AppBundle/Controller/Site/WidgetController.php
  src/Capco/AppBundle/Resources/views/Widget/widget_debate.html.twig
Due: php

Remove debate argument vote count (#11917)
  __snapshots__/rgpd_user_archives/user1/votes.csv
  __snapshots__/rgpd_user_archives/user5/votes.csv
  features/graphql-api/internal/Debate/Debate_alternateArguments.js
  features/graphql-api/internal/Debate/__snapshots__/Debate_arguments.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_allContributors.js.snap
  features/graphql/type/debateArgument/debateArgument_votes.feature
  fixtures/Dev/DebateArgument.yaml
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/Debate/AddDebateArgumentVoteMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/Debate/RemoveDebateArgumentVoteMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Debate/DebateAlternateArgumentsResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Debate/DebateArgumentVotesResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Debate/DebateArgumentsResolverSpec.php
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/Entity/Debate/DebateArgument.php
  src/Capco/AppBundle/Entity/Debate/DebateArgumentVote.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/AbstractDebateArgumentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/AbstractDebateArgumentVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/AddDebateArgumentVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/CreateDebateArgumentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/DeleteDebateArgumentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/RemoveDebateArgumentVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/UpdateDebateArgumentMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Debate/DebateAlternateArgumentsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Debate/DebateArgumentVotesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Debate/DebateArgumentsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Vote/VoteTypeResolver.php
  src/Capco/AppBundle/Normalizer/DebateArgumentNormalizer.php
  src/Capco/AppBundle/Repository/DebateArgumentRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDebateArgument.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDebateArgumentVote.types.yaml
  src/Capco/AppBundle/Resources/config/serialization/Debate.yaml
  src/Capco/AppBundle/Resources/config/serialization/DebateArgument.yaml
  src/Capco/AppBundle/Resources/config/serialization/DebateArgumentVote.yaml
  src/Capco/AppBundle/Search/DebateSearch.php
  src/Capco/AppBundle/Search/VoteSearch.php
  src/DoctrineMigrations/Version20210120171240.php
Due: graphql, php

[11977] Setup end debate step (#12059)
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/ArgumentHeaderTab.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteHeaderTab.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteTab.js
  frontend/js/components/Debate/ArgumentCard/ArgumentCard-test.js
  frontend/js/components/Debate/ArgumentCard/ArgumentCard.js
  frontend/js/components/Debate/ArgumentCard/__snapshots__/ArgumentCard-test.js.snap
  frontend/js/components/Debate/Page/Arguments/DebateStepPageAlternateArgumentsPagination.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArguments-test.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArgumentsPagination.js
  frontend/js/components/Debate/Page/Arguments/DesktopDebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/MobileDebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/__snapshots__/DebateStepPageArguments-test.js.snap
  frontend/js/components/Debate/Page/Drawers/DebateStepPageArgumentDrawer.js
  frontend/js/components/Debate/Page/Drawers/DebateStepPageArgumentsDrawer.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageAbsoluteVoteAndShare-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageAbsoluteVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageMainActions-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageMainActions.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageAbsoluteVoteAndShare-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageMainActions-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVoteAndShare-test.js.snap
  frontend/js/components/Ui/Vote/VoteView-test.js
  frontend/js/components/Ui/Vote/VoteView.js
  frontend/js/components/Ui/Vote/__snapshots__/VoteView-test.js.snap
  frontend/js/mutations/AddDebateVoteMutation.js
  frontend/js/stories/capcollectif/VoteView-stories.js
Due: jest, flow

[HOTFIX-FRAME] Add all to frame-src. (#12063)
  infrastructure/services/remote/nginx/nginx.conf
Due: none

[12049-FIX] Test without buil v2. (#12050)
  infrastructure/services/remote/Dockerfile
Due: none

Fix `Debates.votes` field when `isPublished` is null (#12062)
  features/graphql-api/internal/Debate/Debate_votes.js
  features/graphql-api/internal/Debate/__snapshots__/Debate_votes.js.snap
  features/graphql-api/internal/mutation/Debate/__snapshots__/addDebateVote.js.snap
  features/graphql-api/internal/mutation/__snapshots__/removeDebateVote.js.snap
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Resolver/Debate/DebateVotesResolverSpec.php
  src/Capco/AppBundle/GraphQL/Resolver/Debate/DebateVotesResolver.php
  src/Capco/AppBundle/Repository/DebateVoteRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDebate.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/relay-connection/DebateVoteConnection.types.yaml
  src/Capco/AppBundle/Traits/AddressableTrait.php
Due: graphql, php

2 requêtes d'API en moins (#12077)
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
  src/Capco/AppBundle/Resources/views/Default/header.html.twig
  src/Capco/AppBundle/Resources/views/Project/base.html.twig
Due: php

Wowkflow non confiwme debawe (#12073)
  frontend/js/components/Debate/ArgumentCard/ArgumentCard-test.js
  frontend/js/components/Debate/ArgumentCard/ArgumentCard.js
  frontend/js/components/Debate/ArgumentCard/__snapshots__/ArgumentCard-test.js.snap
  frontend/js/components/Debate/Page/Arguments/DebateStepPageAlternateArgumentsPagination.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArgumentsPagination.js
  frontend/js/components/Debate/Page/Arguments/DesktopDebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/MobileDebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/__snapshots__/DebateStepPageArguments-test.js.snap
  frontend/js/components/Debate/Page/MainActions/DebateStepPageAbsoluteVoteAndShare-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageAbsoluteVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteForm-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteForm.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteNotConfirmedAccount.js
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageAbsoluteVoteAndShare-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVoteAndShare-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVoteForm-test.js.snap
  frontend/js/components/DesignSystem/Tooltip/Tooltip.js
  frontend/js/components/Ui/Primitives/AppBox.type.js
  frontend/js/mutations/AddDebateArgumentMutation.js
  frontend/js/mutations/DeleteDebateArgumentMutation.js
Due: jest, flow

[HOTFIX-RELAY] Revert wrong deletion. (#12080)
  infrastructure/services/remote/Dockerfile
Due: none

Some fix debate (#12066)
  frontend/js/components/Admin/Debate/DebateArgument/DebateArgument.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/ArgumentHeaderTab-test.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ArgumentTab/ArgumentHeaderTab.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteHeaderTab-test.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteHeaderTab.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteTab-test.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/VoteTab/VoteTab.js
  frontend/js/components/Debate/ArgumentCard/ArgumentCard-test.js
  frontend/js/components/Debate/ArgumentCard/ArgumentCard.js
  frontend/js/components/Debate/ArgumentCard/__snapshots__/ArgumentCard-test.js.snap
  frontend/js/components/Debate/Page/Arguments/DebateStepPageAlternateArgumentsPagination.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArguments-test.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArgumentsPagination.js
  frontend/js/components/Debate/Page/Arguments/DesktopDebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/MobileDebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/__snapshots__/DebateStepPageArguments-test.js.snap
  frontend/js/components/Debate/Page/Drawers/DebateStepPageArgumentDrawer.js
  frontend/js/components/Debate/Page/Drawers/DebateStepPageArgumentsDrawer.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageMainActions-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageMainActions.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteForm.js
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageMainActions-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVoteAndShare-test.js.snap
  frontend/js/components/Debate/Page/Modals/MobilePublishArgumentModal.js
  frontend/js/components/DesignSystem/Popover/content/index.js
  frontend/js/components/Ui/Vote/VoteView.js
  frontend/js/components/Ui/Vote/VoteView.style.js
  frontend/js/components/Ui/Vote/__snapshots__/VoteView-test.js.snap
  frontend/js/mutations/AddDebateVoteMutation.js
Due: jest, flow

12014 filter users by confirmation (#12081)
  features/graphql/query/users.feature
  schema.internal.graphql
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryUsersResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/UserBundle/Resources/config/serialization/Entity.User.yml
Due: graphql, php

Php dependances (#12070)
  composer.json
  composer.lock
  config/packages/php_translation.yaml
  config/routes/dev/routing_dev.yaml
  config/routes/routing.yaml
  features/graphql/mutation/generateJitsiRoom.feature
  src/Capco/AppBundle/Behat/ApiContext.php
  src/Capco/AppBundle/Behat/GraphQLContext.php
  src/Capco/AppBundle/Behat/RabbitMQContext.php
Due: none
