Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

Add comment for index
  src/Capco/AppBundle/Entity/UserConnection.php
Due: php, backend

Fix
  src/Capco/AppBundle/EventListener/PriorAuthenticationHandler.php
Due: php, backend

[CHECK-LOGIN] added security toggle
  features/api/login.feature
  src/Capco/AppBundle/Entity/UserConnection.php
  src/Capco/AppBundle/EventListener/AuthenticationHandler.php
  src/Capco/AppBundle/EventListener/PriorAuthenticationHandler.php
  src/Capco/AppBundle/Repository/UserConnectionRepository.php
  src/Capco/AppBundle/Resources/config/services.yml
Due: php, backend

[CHECK-LOGIN] Added deleted migration and updated phpspec
  app/DoctrineMigrations/Version20191003143713.php
  spec/Capco/AppBundle/EventListener/AuthenticationHandlerSpec.php
Due: none

- Moved javascripts block to correct location
  app/DoctrineMigrations/Version20191003143713.php
  app/config/config.yml
  features/api/login.feature
  spec/Capco/AppBundle/EventListener/AuthenticationHandlerSpec.php
  src/Capco/AppBundle/Entity/UserConnection.php
  src/Capco/AppBundle/EventListener/AuthenticationHandler.php
  src/Capco/AppBundle/EventListener/AuthenticationListener.php
  src/Capco/AppBundle/EventListener/PriorAuthenticationHandler.php
  src/Capco/AppBundle/Repository/UserConnectionRepository.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/views/Developer/index.html.twig
Due: php, backend

[FIX-MIGRATION] added field
  app/DoctrineMigrations/Version20190930164116.php
  src/Capco/AppBundle/Resources/views/Developer/index.html.twig
Due: php, backend

Merge pull request #8933 from cap-collectif/fix-migration-network
  app/DoctrineMigrations/Version20190930164116.php
Due: none

8778-PROPOSAL fix feature toggle appear only for super admin
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  __snapshots__/exports/budget-participatif-rennes_vainqueur.csv
  app/Resources/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalTrashedListPaginated-test.js.snap
  app/Resources/js/components/Proposal/Preview/ProposalPreview-test.js
  app/Resources/js/components/Proposal/Preview/ProposalPreview.js
  app/Resources/js/components/Proposal/Preview/__snapshots__/ProposalPreview-test.js.snap
  app/Resources/js/components/Reply/Form/ButtonBody.js
  app/Resources/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  features/commands/consumers/proposal.feature
  src/Capco/AdminBundle/Controller/SettingsController.php
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Media.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Proposal.yml
  src/Capco/AppBundle/DataFixtures/files/gymnase.jpg
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/Processor/Proposal/ProposalDeleteProcessor.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Resources/config/graphql/preview/enums/PreviewProjectOrderField.types.yml
  src/Capco/AppBundle/Toggle/Manager.php
  web/svg/preview-proposal-image-grand.svg
  web/svg/preview-proposal-image.svg
  yarn.lock
Due: php, jest, flow, backend, frontend

Implement ElasticsearchPaginator in QueryUsersResolver
  app/DoctrineMigrations/Version20190930164116.php
  app/DoctrineMigrations/Version20191004075024.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchPaginatedResult.php
  src/Capco/AppBundle/Entity/UserConnection.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryUsersResolver.php
  src/Capco/AppBundle/Resources/views/Developer/index.html.twig
  src/Capco/AppBundle/Search/CommentSearch.php
  src/Capco/AppBundle/Search/ProposalSearch.php
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/AppBundle/Search/VoteSearch.php
Due: graphql, php, backend

Update tests & snapshots
  features/graphql-public/query/__snapshots__/users.js.snap
  features/graphql-public/query/users.js
  features/graphql/query/ssoConfigurations.feature
Due: none

Add title length validation on proposals
  app/DoctrineMigrations/Version20190930164116.php
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  features/graphql-public/query/__snapshots__/users.js.snap
  features/graphql-public/query/users.js
  features/graphql/query/ssoConfigurations.feature
  src/Capco/AppBundle/Elasticsearch/ElasticsearchPaginatedResult.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryUsersResolver.php
  src/Capco/AppBundle/Resources/views/Developer/index.html.twig
  src/Capco/AppBundle/Search/CommentSearch.php
  src/Capco/AppBundle/Search/ProposalSearch.php
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/AppBundle/Search/VoteSearch.php
  src/Capco/AppBundle/Traits/SluggableTitleTrait.php
Due: graphql, php, jest, flow, backend, frontend

[FIX-USER] MODIFY -> CHANGE
  app/DoctrineMigrations/Version20191004075024.php
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  src/Capco/AppBundle/Entity/UserConnection.php
  src/Capco/AppBundle/Traits/SluggableTitleTrait.php
Due: php, jest, flow, backend, frontend

Remve flow tag & add features to eslintignore
  .eslintignore
  app/DoctrineMigrations/Version20190930164116.php
  app/DoctrineMigrations/Version20191004075024.php
  features/graphql-public/query/__snapshots__/users.js.snap
  features/graphql-public/query/users.js
  features/graphql/query/ssoConfigurations.feature
  src/Capco/AppBundle/Elasticsearch/ElasticsearchPaginatedResult.php
  src/Capco/AppBundle/Entity/UserConnection.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryUsersResolver.php
  src/Capco/AppBundle/Resources/views/Developer/index.html.twig
  src/Capco/AppBundle/Search/CommentSearch.php
  src/Capco/AppBundle/Search/ProposalSearch.php
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/AppBundle/Search/VoteSearch.php
Due: graphql, php, backend

Update app/DoctrineMigrations/Version20191004075024.php
  .eslintignore
  app/DoctrineMigrations/Version20190930164116.php
  app/DoctrineMigrations/Version20191004075024.php
  features/graphql-public/query/__snapshots__/users.js.snap
  features/graphql-public/query/users.js
  features/graphql/query/ssoConfigurations.feature
  src/Capco/AppBundle/Elasticsearch/ElasticsearchPaginatedResult.php
  src/Capco/AppBundle/Entity/UserConnection.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryUsersResolver.php
  src/Capco/AppBundle/Resources/views/Developer/index.html.twig
  src/Capco/AppBundle/Search/CommentSearch.php
  src/Capco/AppBundle/Search/ProposalSearch.php
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/AppBundle/Search/VoteSearch.php
Due: graphql, php, backend

Add conditions to isIndexable method
  app/DoctrineMigrations/Version20191004075024.php
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/Entity/UserConnection.php
Due: php, backend

Remove unused param in paginator
  .eslintignore
  app/DoctrineMigrations/Version20190930164116.php
  features/graphql-public/query/__snapshots__/users.js.snap
  features/graphql-public/query/users.js
  features/graphql/query/ssoConfigurations.feature
  src/Capco/AppBundle/Elasticsearch/ElasticsearchPaginatedResult.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchPaginator.php
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryUsersResolver.php
  src/Capco/AppBundle/Resources/views/Developer/index.html.twig
  src/Capco/AppBundle/Search/CommentSearch.php
  src/Capco/AppBundle/Search/ProposalSearch.php
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/AppBundle/Search/VoteSearch.php
Due: graphql, php, backend

use the right method & update test
  .eslintignore
  app/DoctrineMigrations/Version20190930164116.php
  features/graphql-public/query/__snapshots__/users.js.snap
  features/graphql-public/query/users.js
  src/Capco/AppBundle/Elasticsearch/ElasticsearchPaginatedResult.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchPaginator.php
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryUsersResolver.php
  src/Capco/AppBundle/Resources/views/Developer/index.html.twig
  src/Capco/AppBundle/Search/CommentSearch.php
  src/Capco/AppBundle/Search/ProposalSearch.php
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/AppBundle/Search/VoteSearch.php
Due: graphql, php, backend

Merge pull request #8869 from cap-collectif/8778-proposal-collect-image
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  __snapshots__/exports/budget-participatif-rennes_vainqueur.csv
  app/Resources/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalTrashedListPaginated-test.js.snap
  app/Resources/js/components/Proposal/Preview/ProposalPreview-test.js
  app/Resources/js/components/Proposal/Preview/ProposalPreview.js
  app/Resources/js/components/Proposal/Preview/__snapshots__/ProposalPreview-test.js.snap
  app/Resources/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  features/graphql/query/ssoConfigurations.feature
  src/Capco/AdminBundle/Controller/SettingsController.php
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Media.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Proposal.yml
  src/Capco/AppBundle/DataFixtures/files/gymnase.jpg
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/Toggle/Manager.php
  web/svg/preview-proposal-image-grand.svg
  web/svg/preview-proposal-image.svg
  yarn.lock
Due: php, jest, flow, backend, frontend

Update app/DoctrineMigrations/Version20191004075024.php
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  __snapshots__/exports/budget-participatif-rennes_vainqueur.csv
  app/DoctrineMigrations/Version20191004075024.php
  app/Resources/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalTrashedListPaginated-test.js.snap
  app/Resources/js/components/Proposal/Preview/ProposalPreview-test.js
  app/Resources/js/components/Proposal/Preview/ProposalPreview.js
  app/Resources/js/components/Proposal/Preview/__snapshots__/ProposalPreview-test.js.snap
  app/Resources/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  src/Capco/AdminBundle/Controller/SettingsController.php
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Media.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Proposal.yml
  src/Capco/AppBundle/DataFixtures/files/gymnase.jpg
  src/Capco/AppBundle/Entity/UserConnection.php
  src/Capco/AppBundle/Toggle/Manager.php
  web/svg/preview-proposal-image-grand.svg
  web/svg/preview-proposal-image.svg
  yarn.lock
Due: php, jest, flow, backend, frontend

Add unit test to make sure it does not happen again
  app/DoctrineMigrations/Version20191004075024.php
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm-test.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  src/Capco/AppBundle/Entity/UserConnection.php
  src/Capco/AppBundle/Traits/SluggableTitleTrait.php
Due: php, jest, flow, backend, frontend

Merge pull request #8944 from cap-collectif/users-es-pagination-cursors
  .eslintignore
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  __snapshots__/exports/budget-participatif-rennes_vainqueur.csv
  app/Resources/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm-test.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalTrashedListPaginated-test.js.snap
  app/Resources/js/components/Proposal/Preview/ProposalPreview-test.js
  app/Resources/js/components/Proposal/Preview/ProposalPreview.js
  app/Resources/js/components/Proposal/Preview/__snapshots__/ProposalPreview-test.js.snap
  app/Resources/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  features/graphql-public/query/__snapshots__/users.js.snap
  features/graphql-public/query/users.js
  features/graphql/query/ssoConfigurations.feature
  src/Capco/AdminBundle/Controller/SettingsController.php
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Media.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Proposal.yml
  src/Capco/AppBundle/DataFixtures/files/gymnase.jpg
  src/Capco/AppBundle/Elasticsearch/ElasticsearchPaginatedResult.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchPaginator.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryUsersResolver.php
  src/Capco/AppBundle/Search/CommentSearch.php
  src/Capco/AppBundle/Search/ProposalSearch.php
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/AppBundle/Search/VoteSearch.php
  src/Capco/AppBundle/Toggle/Manager.php
  src/Capco/AppBundle/Traits/SluggableTitleTrait.php
  web/svg/preview-proposal-image-grand.svg
  web/svg/preview-proposal-image.svg
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #8947 from cap-collectif/add-title-length-validation-for-proposals
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm-test.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  src/Capco/AppBundle/Traits/SluggableTitleTrait.php
Due: php, jest, flow, backend, frontend

7678-NOTIFY :construction: Create proposal status hange message
  app/config/swarrot.yml
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/Mailer/Message/Event/EventMessage.php
  src/Capco/AppBundle/Mailer/Message/MessagesList.php
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalMessage.php
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalStatusChangeMessage.php
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
  src/Capco/AppBundle/Processor/Proposal/ProposalUpdateStatusProcessor.php
Due: graphql, php, backend

7678-NOTIFY :construction: refacto mailer notifier template
  src/Capco/AppBundle/CapcoAppBundleMessagesTypes.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Mailer/templates/Admin/notifyAdminOfDeletedEvent.html.twig
  src/Capco/AppBundle/Mailer/templates/Admin/notifyAdminOfEditedEvent.html.twig
  src/Capco/AppBundle/Mailer/templates/Admin/notifyAdminOfNewEvent.html.twig
  src/Capco/AppBundle/Mailer/templates/Proposal/notifyProposalAuthorStatusChange.html.twig
  src/Capco/AppBundle/Mailer/templates/Proposal/titleLayout.html.twig
  src/Capco/AppBundle/Mailer/templates/eventTitleLayout.html.twig
  src/Capco/AppBundle/Mailer/templates/footerLayout.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyLayout.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyParticipantOfDeletedEvent.html.twig
Due: php, backend

7678-NOTIFY update proposal email notify
  __snapshots__/emails/confirmEmailChange.html
  __snapshots__/emails/confirmPasswordChange.html
  __snapshots__/emails/contact.html
  __snapshots__/emails/emailSubjectRegistrationConfirmation.html
  features/commands/consumers/proposal.feature
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalMessage.php
  src/Capco/AppBundle/Mailer/templates/Proposal/notifyProposalAuthorStatusChange.html.twig
  src/Capco/AppBundle/Mailer/templates/footerLayout.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyLayout.html.twig
Due: php, backend

7678-NOTIFY update test e2e for proposal status
  __snapshots__/emails/confirmEmailChange.html
  __snapshots__/emails/contact.html
  __snapshots__/emails/emailSubjectRegistrationConfirmation.html
  __snapshots__/emails/notifyProposal_AuthorStatusChange.html
  __snapshots__/rgpd_user_archives/user1/connections.csv
  __snapshots__/rgpd_user_archives/user1/events.csv
  __snapshots__/rgpd_user_archives/user1/groups.csv
  __snapshots__/rgpd_user_archives/user1/medias.csv
  __snapshots__/rgpd_user_archives/user1/pictures/providerReference9.jpg
  __snapshots__/rgpd_user_archives/user1/proposals.csv
  __snapshots__/rgpd_user_archives/user1/user.csv
  __snapshots__/rgpd_user_archives/user5/connections.csv
  __snapshots__/rgpd_user_archives/user5/events.csv
  __snapshots__/rgpd_user_archives/user5/groups.csv
  __snapshots__/rgpd_user_archives/user5/proposals.csv
  __snapshots__/rgpd_user_archives/user5/questions.csv
  __snapshots__/rgpd_user_archives/user5/user.csv
  app/config/rabbitmq.yml
  features/commands/consumers/proposal.feature
  spec/Capco/AppBundle/GraphQL/Mutation/ProposalMutationSpec.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalMessage.php
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalStatusChangeMessage.php
  src/Capco/AppBundle/Mailer/templates/Proposal/notifyProposalAuthorStatusChange.html.twig
  src/Capco/AppBundle/Notifier/EventNotifier.php
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
Due: graphql, php, backend

7678-NOTIFY refer the new Q in supervisor
  __snapshots__/emails/notifyProposal_AuthorStatusChange.html
  __snapshots__/rgpd_user_archives/user1/connections.csv
  __snapshots__/rgpd_user_archives/user1/events.csv
  __snapshots__/rgpd_user_archives/user1/groups.csv
  __snapshots__/rgpd_user_archives/user1/medias.csv
  __snapshots__/rgpd_user_archives/user1/pictures/providerReference9.jpg
  __snapshots__/rgpd_user_archives/user1/proposals.csv
  __snapshots__/rgpd_user_archives/user1/user.csv
  __snapshots__/rgpd_user_archives/user5/connections.csv
  __snapshots__/rgpd_user_archives/user5/events.csv
  __snapshots__/rgpd_user_archives/user5/groups.csv
  __snapshots__/rgpd_user_archives/user5/proposals.csv
  __snapshots__/rgpd_user_archives/user5/questions.csv
  __snapshots__/rgpd_user_archives/user5/user.csv
  infrastructure/services/remote/supervisord/proposal.conf
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Proposal.yml
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalMessage.php
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalStatusChangeMessage.php
  src/Capco/AppBundle/Mailer/templates/Proposal/notifyProposalAuthorStatusChange.html.twig
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
Due: graphql, php, backend

Merge pull request #8958 from cap-collectif/fix-undefined-reporting
  .eslintignore
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm-test.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  features/graphql-public/query/__snapshots__/users.js.snap
  features/graphql-public/query/users.js
  features/graphql/query/ssoConfigurations.feature
  src/Capco/AppBundle/Elasticsearch/ElasticsearchPaginatedResult.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchPaginator.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryUsersResolver.php
  src/Capco/AppBundle/Search/CommentSearch.php
  src/Capco/AppBundle/Search/ProposalSearch.php
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/AppBundle/Search/VoteSearch.php
  src/Capco/AppBundle/Traits/SluggableTitleTrait.php
Due: graphql, php, jest, flow, backend, frontend

7678-NOTIFY update test
  __snapshots__/emails/notifyProposal_AuthorStatusChange.html
  app/config/rabbitmq.yml
  app/config/swarrot.yml
  features/commands/consumers/proposal.feature
  features/graphql-public/query/__snapshots__/proposals.js.snap
  infrastructure/services/remote/supervisord/proposal.conf
  spec/Capco/AppBundle/GraphQL/Mutation/ProposalMutationSpec.php
  src/Capco/AppBundle/CapcoAppBundleMessagesTypes.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Proposal.yml
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteAccountMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/Mailer/Message/Event/EventMessage.php
  src/Capco/AppBundle/Mailer/Message/MessagesList.php
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalMessage.php
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalStatusChangeMessage.php
  src/Capco/AppBundle/Mailer/templates/Admin/notifyAdminOfDeletedEvent.html.twig
  src/Capco/AppBundle/Mailer/templates/Admin/notifyAdminOfEditedEvent.html.twig
  src/Capco/AppBundle/Mailer/templates/Admin/notifyAdminOfNewEvent.html.twig
  src/Capco/AppBundle/Mailer/templates/Proposal/notifyProposalAuthorStatusChange.html.twig
  src/Capco/AppBundle/Mailer/templates/Proposal/titleLayout.html.twig
  src/Capco/AppBundle/Mailer/templates/eventTitleLayout.html.twig
  src/Capco/AppBundle/Mailer/templates/footerLayout.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyLayout.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyParticipantOfDeletedEvent.html.twig
  src/Capco/AppBundle/Notifier/EventNotifier.php
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
  src/Capco/AppBundle/Processor/Proposal/ProposalUpdateStatusProcessor.php
  web/svg/folder.svg
Due: graphql, php, backend

7678-NOTIFY update emails snapshots
  __snapshots__/emails/confirmEmailChange.html
  __snapshots__/emails/confirmPasswordChange.html
  __snapshots__/emails/contact.html
  __snapshots__/emails/emailSubjectRegistrationConfirmation.html
  __snapshots__/emails/notifyProposal_AuthorStatusChange.html
  __snapshots__/emails/notifyQuestionnaireReply_create.html
  __snapshots__/emails/notifyQuestionnaireReply_delete.html
  __snapshots__/emails/notifyQuestionnaireReply_publishedDraft.html
  __snapshots__/emails/notifyQuestionnaireReply_update.html
  __snapshots__/emails/notifyUserQuestionnaireReply_create.html
  __snapshots__/emails/notifyUserQuestionnaireReply_update.html
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalAknowledgeMessage.php
  src/Capco/AppBundle/Mailer/templates/Proposal/notifyProposalAuthorStatusChange.html.twig
  src/Capco/AppBundle/Mailer/templates/Proposal/titleLayout.html.twig
  src/Capco/AppBundle/Mailer/templates/aknowledgeProposal.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyLayout.html.twig
  src/Capco/AppBundle/Mailer/templates/standardLayout.html.twig
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
  web/svg/folder-email.svg
Due: php, backend

7678-NOTIFY Add projectTitle in email
  __snapshots__/emails/notifyProposal_AuthorStatusChange.html
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalMessage.php
  src/Capco/AppBundle/Mailer/templates/Proposal/titleLayout.html.twig
  yarn.lock
Due: php, backend

7678-NOTIFY update typo of emails
  __snapshots__/emails/confirmEmailChange.html
  __snapshots__/emails/confirmPasswordChange.html
  __snapshots__/emails/notifyProposal_AuthorStatusChange.html
  __snapshots__/emails/notifyQuestionnaireReply_create.html
  __snapshots__/emails/notifyQuestionnaireReply_delete.html
  __snapshots__/emails/notifyQuestionnaireReply_publishedDraft.html
  __snapshots__/emails/notifyQuestionnaireReply_update.html
  __snapshots__/emails/notifyUserQuestionnaireReply_create.html
  __snapshots__/emails/notifyUserQuestionnaireReply_update.html
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalMessage.php
  src/Capco/AppBundle/Mailer/templates/Proposal/notifyProposalAuthorStatusChange.html.twig
  src/Capco/AppBundle/Mailer/templates/Proposal/titleLayout.html.twig
  src/Capco/AppBundle/Mailer/templates/standardLayout.html.twig
Due: php, backend

7678-NOTIFY send email at proposal selection
  __snapshots__/emails/contact.html
  __snapshots__/emails/emailSubjectRegistrationConfirmation.html
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  __snapshots__/rgpd_user_archives/user5/medias.csv
  __snapshots__/rgpd_user_archives/user5/pictures/gymnase.png
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
Due: graphql, php, backend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
