Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

test: behat -> cypress : shield.feature (#18962)
  cypress/e2e/frontOffice/shield.cy.ts
  features/front/pages/shield.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: none

test: behat ->. cypress : moderation.feature (#18982)
  cypress/e2e/backOffice/moderation/moderation.cy.ts
  cypress/pages/admin/moderation.ts
Due: none

test(contactBO): refactor behat to cypress (#18983)
  cypress/e2e/backOffice/contact/contact.cy.ts
  cypress/pages/admin/contact.ts
  cypress/pages/index.ts
  features/back/pages/contact_page_form.feature
  src/Capco/AppBundle/Behat/Traits/AdminContactListTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
Due: none

Fix first scan (#18935) (#18985)
  infrastructure/services/remote/cron/antivirus
Due: none

Remove capco:export:users duplicate cron (#19000)
  infrastructure/services/remote/cron/crontab
Due: none

chore: upgrade eslint-plugin-react (#19017)
  admin-next/components/BackOffice/Mediator/MediatorVoteModal/FillOptionalsModal.tsx
  admin-next/components/BackOffice/Mediator/MediatorVoteModal/FillRequirementsModal.tsx
  package.json
  yarn.lock
Due: none

test(multilangue): refactor behat to cypress (#18991)
  cypress/e2e/frontOffice/multilangue/multilangue.cy.ts
  cypress/pages/index.ts
  cypress/pages/multilangue/multilangue.ts
  features/front/intl/international_pages.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Traits/LocaleTrait.php
Due: none

Remove Cerebro container (#19020) (#19021)
  infrastructure/deploylib/system.py
  infrastructure/environments/base.yml
  infrastructure/environments/development.yml
  infrastructure/services/cerebro/application.conf
  infrastructure/services/local/nginx/proxy.conf
Due: none

Migrate Group tests from behat to jest (#18925) (#18995)
  features/graphql-api/internal/mutation/Group/__snapshots__/deleteUserInGroup.js.snap
  features/graphql-api/internal/mutation/Group/__snapshots__/updateGroup.js.snap
  features/graphql-api/internal/mutation/Group/deleteUserInGroup.js
  features/graphql-api/internal/mutation/Group/updateGroup.js
  features/graphql/mutation/admin/other/deleteUserInGroup.feature
  features/graphql/mutation/admin/update/updateGroup.feature
Due: none

Migrate review event folder to jest (#18999)
  features/graphql-api/internal/mutation/__snapshots__/reviewEvent.js.snap
  features/graphql-api/internal/mutation/reviewEvent.js
  features/graphql/mutation/admin/other/reviewEvent.feature
Due: none

feat: release ui 6.0.5 (#18954)
  admin-next/components/BackOffice/GeographicalAreasList/GeographicalAreasList.tsx
  admin-next/components/BackOffice/Posts/PostList.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormSteps.tsx
  admin-next/components/BackOffice/Steps/QuestionnaireStep/QuestionnaireStepFormQuestionnaireTab.tsx
  frontend/js/components/Proposal/Page/Header/ProposalPageHeader.tsx
  package.json
  yarn.lock
Due: jest, flow

Migrate EmailingCampaign from behat to jest (#18994)
  features/graphql-api/internal/mutation/EmailingCampaign/__snapshots__/cancelEmailingCampaign.js.snap
  features/graphql-api/internal/mutation/EmailingCampaign/__snapshots__/createEmailingCampaign.js.snap
  features/graphql-api/internal/mutation/EmailingCampaign/__snapshots__/deleteEmailingCampaign.js.snap
  features/graphql-api/internal/mutation/EmailingCampaign/__snapshots__/sendEmailingCampaign.js.snap
  features/graphql-api/internal/mutation/EmailingCampaign/__snapshots__/testEmailingCampaign.js.snap
  features/graphql-api/internal/mutation/EmailingCampaign/__snapshots__/updateEmailingCampaign.js.snap
  features/graphql-api/internal/mutation/EmailingCampaign/cancelEmailingCampaign.js
  features/graphql-api/internal/mutation/EmailingCampaign/createEmailingCampaign.js
  features/graphql-api/internal/mutation/EmailingCampaign/deleteEmailingCampaign.js
  features/graphql-api/internal/mutation/EmailingCampaign/sendEmailingCampaign.js
  features/graphql-api/internal/mutation/EmailingCampaign/testEmailingCampaign.js
  features/graphql-api/internal/mutation/EmailingCampaign/updateEmailingCampaign.js
  features/graphql/mutation/admin/create/createEmailingCampaign.feature
  features/graphql/mutation/admin/other/DeleteEmailingCampaign.feature
  features/graphql/mutation/admin/other/cancelEmailingCampaign.feature
  features/graphql/mutation/admin/other/sendEmailingCampaign.feature
  features/graphql/mutation/admin/other/testEmailingCampaign.feature
  features/graphql/mutation/admin/update/updateEmailingCampaign.feature
Due: none

remove margin (#19024)
  src/Resources/scss/modules/_proposal.scss
Due: php

Migrate officialResponse from behat to jest (#18997)
  features/graphql-api/internal/mutation/OfficialResponse/__snapshots__/deleteOfficialResponse.js.snap
  features/graphql-api/internal/mutation/OfficialResponse/__snapshots__/updateOfficialResponse.js.snap
  features/graphql-api/internal/mutation/OfficialResponse/deleteOfficialResponse.js
  features/graphql-api/internal/mutation/OfficialResponse/updateOfficialResponse.js
  features/graphql/mutation/admin/other/officialResponse.feature
Due: none

Fix selectionStep removal (#18948) (#19023)
  features/graphql-api/internal/mutation/Step/__snapshots__/removeSelectionStep.js.snap
  features/graphql-api/internal/mutation/Step/removeSelectionStep.js
  src/Capco/AppBundle/GraphQL/Mutation/DeleteStepMutation.php
Due: graphql, php

fix snapshot (#19026)
  admin-next/components/BackOffice/Posts/__snapshots__/PostList.test.tsx.snap
Due: none

Create symfony database at container build (#19031) (#19032)
  infrastructure/environments/development.yml
Due: none

Migrate proposal tests folder to jest (#19014)
  features/graphql-api/internal/mutation/Proposal/__snapshots__/addProposalsToSteps.js.snap
  features/graphql-api/internal/mutation/Proposal/__snapshots__/removeProposalsToSteps.js.snap
  features/graphql-api/internal/mutation/Proposal/__snapshots__/updateProposalVote.js.snap
  features/graphql-api/internal/mutation/Proposal/addProposalsToSteps.js
  features/graphql-api/internal/mutation/Proposal/removeProposalsToSteps.js
  features/graphql-api/internal/mutation/Proposal/updateProposalVote.js
  features/graphql/mutation/front/add/addProposalsToSteps.feature
  features/graphql/mutation/front/remove/removeProposalsFromSteps.feature
  features/graphql/mutation/front/update/updateProposalVotes.feature
Due: none

Migrate comment from behat to jest (#18925) (#19015)
  features/graphql-api/internal/mutation/Comment/__snapshots__/addComment.js.snap
  features/graphql-api/internal/mutation/Comment/__snapshots__/addCommentVote.js.snap
  features/graphql-api/internal/mutation/Comment/__snapshots__/deleteComment.js.snap
  features/graphql-api/internal/mutation/Comment/__snapshots__/removeCommentVote.js.snap
  features/graphql-api/internal/mutation/Comment/addComment.js
  features/graphql-api/internal/mutation/Comment/addCommentVote.js
  features/graphql-api/internal/mutation/Comment/deleteComment.js
  features/graphql-api/internal/mutation/Comment/removeCommentVote.js
  features/graphql/mutation/front/add/addComment.feature
  features/graphql/mutation/front/add/addCommentVote.feature
  features/graphql/mutation/front/delete/deleteComment.feature
  features/graphql/mutation/front/remove/removeCommentVote.feature
Due: none

Migrate create and change folder to jest (#18993)
  features/graphql-api/internal/mutation/Other/change/__snapshots__/changeCollectStatus.js.snap
  features/graphql-api/internal/mutation/Other/change/__snapshots__/changeProposalNotation.js.snap
  features/graphql-api/internal/mutation/Other/change/__snapshots__/changeProposalPublicationStatus.js.snap
  features/graphql-api/internal/mutation/Other/change/__snapshots__/changeSelectionStatus.js.snap
  features/graphql-api/internal/mutation/Other/change/__snapshots__/changeSiteFavicon.js.snap
  features/graphql-api/internal/mutation/Other/change/changeCollectStatus.js
  features/graphql-api/internal/mutation/Other/change/changeProposalNotation.js
  features/graphql-api/internal/mutation/Other/change/changeProposalPublicationStatus.js
  features/graphql-api/internal/mutation/Other/change/changeSelectionStatus.js
  features/graphql-api/internal/mutation/Other/change/changeSiteFavicon.js
  features/graphql-api/internal/mutation/Other/create/__snapshots__/createEmailingCampaign.js.snap
  features/graphql-api/internal/mutation/Other/create/__snapshots__/createGlobalDistrict.js.snap
  features/graphql-api/internal/mutation/Other/create/__snapshots__/createGroup.js.snap
  features/graphql-api/internal/mutation/Other/create/__snapshots__/createProject.js.snap
  features/graphql-api/internal/mutation/Other/create/__snapshots__/createProposalFusion.js.snap
  features/graphql-api/internal/mutation/Other/create/createEmailingCampaign.js
  features/graphql-api/internal/mutation/Other/create/createGlobalDistrict.js
  features/graphql-api/internal/mutation/Other/create/createGroup.js
  features/graphql-api/internal/mutation/Other/create/createProject.js
  features/graphql-api/internal/mutation/Other/create/createProposalFusion.js
  features/graphql/mutation/admin/change/changeCollectStatus.feature
  features/graphql/mutation/admin/change/changeProposalNotation.feature
  features/graphql/mutation/admin/change/changeProposalPublicationStatus.feature
  features/graphql/mutation/admin/change/changeSelectionStatus.feature
  features/graphql/mutation/admin/change/change_site_favicon.feature
  features/graphql/mutation/admin/create/createGlobalDistrict.feature
  features/graphql/mutation/admin/create/createGroup.feature
  features/graphql/mutation/admin/create/createProject.feature
  features/graphql/mutation/admin/create/createProposalFusion.feature
Due: none

Migrate mailingList from behat to jest (#18996)
  features/graphql-api/internal/mutation/MailingList/__snapshots__/createMailingList.js.snap
  features/graphql-api/internal/mutation/MailingList/__snapshots__/deleteMailingList.js.snap
  features/graphql-api/internal/mutation/MailingList/createMailingList.js
  features/graphql-api/internal/mutation/MailingList/deleteMailingList.js
  features/graphql/mutation/admin/other/mailingList.feature
Due: none

nullable (#19036)
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributorResolver.php
Due: graphql, php

fix fetching vote when step not given (#19040)
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalContributorVoteResolver.php
Due: graphql, php

18986 fix anon (#18988)
  src/Capco/AppBundle/Command/AnonymizeUsersAutomatedCommand.php
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Repository/UserRepository.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/DoctrineMigrations/Version20251031075236.php
Due: php

chore(deps): remove gherkin-lint (#19044)
  .dockerignore
  .gherkin-lintrc
  package.json
  yarn.lock
Due: none

test(consultationBO): refactor behat to cypress + chore: update github issue template (#19042)
  cypress/e2e/backOffice/consultation/consultation.cy.ts
  cypress/e2e/backOffice/consultation/consultationSonataBackOffice.cy.ts
  features/back/project/ConsultationAndProject/consultation.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Page/AdminOpinionTypePage.php
  src/Capco/AppBundle/Behat/Page/AdminSectionPage.php
  src/Capco/AppBundle/Behat/Traits/AdminOpinionTypeTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminPageTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
Due: none

fix(CI): remove unused plugin causing CI to fail (#19047)
  .eslintrc.js
  frontend/js/components/Event/List/EventListPaginated.tsx
  frontend/js/components/Form/WysiwygEditor/JoditEditor.tsx
  package.json
  yarn.lock
Due: jest, flow

Migrate argument tests folder to jest (#19012)
  features/graphql-api/internal/Proposal/Proposal_responses.js
  features/graphql-api/internal/mutation/Argument/__snapshots__/addArgument.js.snap
  features/graphql-api/internal/mutation/Argument/__snapshots__/addArgumentVote.js.snap
  features/graphql-api/internal/mutation/Argument/__snapshots__/changeArgument.js.snap
  features/graphql-api/internal/mutation/Argument/__snapshots__/deleteArgument.js.snap
  features/graphql-api/internal/mutation/Argument/__snapshots__/removeArgumentVote.js.snap
  features/graphql-api/internal/mutation/Argument/addArgument.js
  features/graphql-api/internal/mutation/Argument/addArgumentVote.js
  features/graphql-api/internal/mutation/Argument/changeArgument.js
  features/graphql-api/internal/mutation/Argument/deleteArgument.js
  features/graphql-api/internal/mutation/Argument/removeArgumentVote.js
  features/graphql-api/internal/mutation/OfficialResponse/__snapshots__/deleteOfficialResponse.js.snap
  features/graphql-api/internal/mutation/OfficialResponse/deleteOfficialResponse.js
  features/graphql/mutation/front/add/addArgument.feature
  features/graphql/mutation/front/add/addArgumentVote.feature
  features/graphql/mutation/front/change/changeArgument.feature
  features/graphql/mutation/front/delete/deleteArgument.feature
  features/graphql/mutation/front/remove/removeArgumentVote.feature
  jest-setup.e2e.js
Due: none

feat(footer): refonte footer on front-office (#18695)
  admin-next/components/FrontOffice/Cookies/CookieManager.tsx
  admin-next/global.d.ts
  admin-next/shared/footer/Footer.test.tsx
  admin-next/shared/footer/Footer.tsx
  admin-next/shared/footer/FooterBrand.tsx
  admin-next/shared/footer/FooterWrapper.tsx
  admin-next/shared/footer/__snapshots__/Footer.test.tsx.snap
  admin-next/shared/language/SiteLanguageChangeButton.tsx
  admin-next/shared/language/__snapshots__/SiteLanguageChangeButton-test.tsx.snap
  admin-next/shared/ui/LogoPropulsedBy/LogoPropulsedBy.tsx
  admin-next/shared/utils/universalCookies.ts
  admin-next/src/app/MainLayout.tsx
  admin-next/tests/testUtils.tsx
  cypress/e2e/frontOffice/homepage/homepage.cy.ts
  cypress/e2e/frontOffice/rgpd/rgpd.cy.ts
  frontend/js/components/Footer/FooterAbout.tsx
  frontend/js/components/Footer/FooterWrapperLegacy.tsx
  frontend/js/components/User/Admin/__snapshots__/UserAdminPage-test.tsx.snap
  frontend/js/startup/FooterApp.jsx
  frontend/js/startup/FooterApp.tsx
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Resources/views/Default/footer.html.twig
Due: php, jest, flow

fix: inputs `variantColor` prop + DS upgrade (#19034)
  admin-next/components/BackOffice/Domain/__snapshots__/DeleteCustomDomainModal.test.tsx.snap
  admin-next/components/BackOffice/Sections/Carrousel/CarrouselItem.tsx
  admin-next/components/BackOffice/Sections/Carrousel/CarrouselSelects.tsx
  admin-next/shared/cap-collectif/form/src/components/flagSelect/FlagSelect.tsx
  admin-next/shared/register/__snapshots__/RegistrationForm-test.tsx.snap
  admin-next/shared/register/__snapshots__/RegistrationModal-test.tsx.snap
  frontend/js/components/Event/List/EventListPaginated.tsx
  frontend/js/components/Form/WysiwygEditor/JoditEditor.tsx
  frontend/js/components/ParticipationWorkflow/AddressRequirementModal.tsx
  frontend/js/components/ParticipationWorkflow/BirthdayRequirementModal.tsx
  frontend/js/components/ParticipationWorkflow/ConsentInternalCommunicationEmailModal.tsx
  frontend/js/components/ParticipationWorkflow/EmailParticipantForm.tsx
  frontend/js/components/ParticipationWorkflow/NamesRequirementModal.tsx
  frontend/js/components/ParticipationWorkflow/PhoneConfirmationModal.tsx
  frontend/js/components/ParticipationWorkflow/PhoneRequirementModal.tsx
  frontend/js/components/ParticipationWorkflow/ZipCodeRequirementModal.tsx
  package.json
  yarn.lock
Due: jest, flow

Empêcher les users de modifier/supprimer une proposition (#18778)
  admin-next/components/BackOffice/Steps/CollectStep/CollectStepForm.tsx
  admin-next/components/BackOffice/Steps/CollectStep/CollectStepForm.utils.ts
  admin-next/components/BackOffice/Steps/ProposalStep/ProposalSettings.tsx
  features/commands/consumers/proposal.feature
  features/graphql-api/internal/mutation/Step/__snapshots__/updateCollectStep.js.snap
  features/graphql-api/internal/mutation/Step/updateCollectStep.js
  features/graphql-api/internal/mutation/deleteProposal.js
  features/graphql-api/internal/mutation/updateProposal.js
  features/graphql/mutation/front/delete/deleteProposal.feature
  frontend/js/components/Proposal/Page/Header/ProposalPageHeaderButtons.tsx
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPage-test.tsx.snap
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/ProposalMutationSpec.php
  src/Capco/AppBundle/Entity/Steps/CollectStep.php
  src/Capco/AppBundle/Form/Step/CollectStepFormType.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteProposalMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalAccessResolver.php
  src/Capco/AppBundle/Mailer/templates/aknowledgeProposal.html.twig
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateCollectStepInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalCollectStep.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ProposalAccess.types.yaml
  src/DoctrineMigrations/Version20250926134807.php
Due: graphql, php, jest, flow

feat(Media): the media purge command now only process orphan files and is much more convenient (#18963)
  src/Capco/AppBundle/Command/CapcoMediaPurgeUnusedCommand.php
  src/Capco/AppBundle/Repository/MediaRepository.php
Due: php

add --stepId option to exports (#19057)
  src/Capco/AppBundle/Command/ExportCollectAndSelectionContributionsCommand.php
  src/Capco/AppBundle/Command/ExportCollectParticipantsCommand.php
  src/Capco/AppBundle/Command/ExportQuestionnaireContributionsCommand.php
  src/Capco/AppBundle/Command/ExportQuestionnaireParticipantsCommand.php
  src/Capco/AppBundle/Command/ExportSelectionParticipantsCommand.php
Due: php

fix snapshot (#19058)
  admin-next/shared/footer/__snapshots__/Footer.test.tsx.snap
  frontend/js/components/User/Admin/__snapshots__/UserAdminPage-test.tsx.snap
Due: jest, flow

fix array with nullable values (#19065)
  src/Capco/AppBundle/Command/ExportCollectAndSelectionContributionsCommand.php
  src/Capco/AppBundle/Command/ExportCollectParticipantsCommand.php
  src/Capco/AppBundle/Command/ExportQuestionnaireContributionsCommand.php
  src/Capco/AppBundle/Command/ExportQuestionnaireParticipantsCommand.php
  src/Capco/AppBundle/Command/ExportSelectionParticipantsCommand.php
Due: php

insert ignore carousel (#19067)
  src/DoctrineMigrations/Version20251002101752.php
Due: php

fix: patch 1 low vulnerability (#19069)
  yarn.lock
Due: none

Delete duplicate packages in Cypress workspace (#19077)
  .eslintrc.js
  cypress/package.json
  package.json
  yarn.lock
Due: none

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
