Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

[UPDATE] Update webpack (#14812)
  package.json
  webpack/webpack.client.js
  yarn.lock
Due: none

14701 organization as author (#14739)
  config/packages/validators.yaml
  src/Capco/AppBundle/Entity/Answer.php
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/Entity/Debate/DebateArgument.php
  src/Capco/AppBundle/Entity/Debate/DebateOpinion.php
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Entity/ProjectAuthor.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/ProposalRevision.php
  src/Capco/AppBundle/Entity/Reply.php
  src/Capco/AppBundle/Entity/Source.php
  src/Capco/AppBundle/Traits/AuthorableTrait.php
  src/Capco/AppBundle/Validator/Constraints/CommentHasAuthor.php
  src/Capco/AppBundle/Validator/Constraints/CommentHasAuthorValidator.php
  src/Capco/AppBundle/Validator/Constraints/HasAuthorValidator.php
  src/DoctrineMigrations/Version20220711114158.php
Due: php

[14533] Update moment dependency (#14820)
  package.json
  yarn.lock
Due: none

[14701-ORGANIZATIONASAUTHOR] mise à jour du mapping es (#14756)
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Resources/config/serialization/Argument.yaml
  src/Capco/AppBundle/Resources/config/serialization/Comment.yaml
  src/Capco/AppBundle/Resources/config/serialization/Event.yaml
  src/Capco/AppBundle/Resources/config/serialization/Opinion.yaml
Due: php

expose reply from response in API (#14819)
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalResponse.types.yaml
Due: php

[14533] Fix shell-quote (#14826)
  package.json
  yarn.lock
Due: none

[DELETE] Remove some dependencies (#14824)
  package.json
  yarn.lock
Due: none

[UPDATE] Update some webpack dependencies (#14825)
  package.json
  yarn.lock
Due: none

Update Pip deps (#14753)
  Pipfile
  Pipfile.lock
Due: none

fix star mutation (#14827)
  src/Capco/AppBundle/GraphQL/Mutation/StarResponseMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UnstarResponseMutation.php
Due: graphql, php

remove Coop tilleul (#14829)
  composer.json
  composer.lock
  config/bundles.php
  config/packages/ivory_ck_editor.yaml
  src/Capco/AdminBundle/Controller/MediaAdminController.php
  src/Capco/MediaBundle/CapcoMediaBundle.php
  src/Capco/MediaBundle/Resources/views/MediaAdmin/browser.html.twig
Due: php

[14466-TITLEONMAP] add field titleOnMap (#14801)
  features/graphql/mutation/updateProjectDistrict.feature
  fixtures/Dev/DistrictTranslation.yaml
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Entity/District/AbstractDistrict.php
  src/Capco/AppBundle/Entity/District/DistrictTranslation.php
  src/Capco/AppBundle/Form/ProjectDistrictType.php
  src/Capco/AppBundle/GraphQL/Mutation/District/CreateProjectDistrictMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DistrictMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/District/DistrictTypeResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeDistrictInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/District.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDistrictTranslation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDistrictTranslationInput.types.yaml
  src/DoctrineMigrations/Version20220711104242.php
Due: graphql, php

[FIX-SENDINBLUE] fix sendinblue list id (#14838)
  src/Capco/AppBundle/Mailer/SendInBlue/SendInBlueManager.php
Due: php

[Fix] 14772-Corriger les warnings du build scss (#14847)
  src/Resources/scss/base/_tools.scss
  src/Resources/scss/modules/_proposal.scss
  webpack/rules/webpack.scss.js
Due: php

[14701-UPDATEAPI] share base code on author interface (#14810)
  src/Capco/AppBundle/Entity/Interfaces/Author.php
  src/Capco/AppBundle/Entity/Organization/Organization.php
  src/Capco/AppBundle/Entity/ProjectAuthor.php
  src/Capco/AppBundle/GraphQL/Resolver/Contribution/AuthorableTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/ViewerDidAuthorResolver.php
  src/Capco/AppBundle/Traits/TimestampableTrait.php
  src/Capco/UserBundle/Entity/User.php
Due: graphql, php

remove sonataMediaManager (#14830)
  config/packages/graphql_mutations.yaml
  config/packages/resolvers.yaml
  src/Capco/AppBundle/GraphQL/Mutation/CropMediaMutation.php
  src/Capco/AppBundle/Manager/MediaManager.php
Due: graphql, php

only pre-fill confirmed phone number (#14790)
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPage-test.js.snap
  frontend/js/components/Proposal/Vote/ProposalVoteModal.js
  frontend/js/components/Proposal/Vote/utils/getInitialValues-test.js
  frontend/js/components/Proposal/Vote/utils/getInitialValues.js
Due: jest, flow

[14701-ARGUMENTAUTHORABLE] Arguments are now Authorable (#14857)
  src/Capco/AppBundle/Entity/Argument.php
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/DoctrineMigrations/Version20220721152639.php
Due: php

13704 api proposal vote anon suggestions (#14791)
  frontend/js/components/Page/ProposalStepPage.js
  frontend/js/components/Proposal/Page/Header/ProposalPageHeaderButtons.js
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPage-test.js.snap
  frontend/js/components/Proposal/Preview/ProposalPreviewVote.js
  frontend/js/components/Proposal/Vote/ProposalCategorySuggestionCard.js
  frontend/js/components/Proposal/Vote/ProposalSmsVoteModal.js
  frontend/js/components/Proposal/Vote/ProposalSmsVoteSuggestionsModal.js
  frontend/js/components/Proposal/Vote/ProposalSuggestionCard.js
  frontend/js/components/Ui/Medias/CategoryBackground.js
Due: jest, flow

Revert "[14701-ARGUMENTAUTHORABLE] Arguments are now Authorable (#14857)" (#14862)
  src/Capco/AppBundle/Entity/Argument.php
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/DoctrineMigrations/Version20220721152639.php
Due: php

14701 api authorable (#14860)
  config/packages/repositories.yaml
  src/Capco/AppBundle/Entity/Interfaces/Author.php
  src/Capco/AppBundle/Entity/Organization/Organization.php
  src/Capco/AppBundle/Entity/ProjectAuthor.php
  src/Capco/AppBundle/GraphQL/Resolver/Author/AuthorTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/OrganizationUrlResolver.php
  src/Capco/AppBundle/Repository/Organization/OrganizationRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Author.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalAuthorable.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOrganization.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/interfaces/PreviewAuthor.types.yaml
  src/Capco/UserBundle/Controller/ProfileController.php
  src/Capco/UserBundle/Entity/AbstractUser.php
Due: graphql, php

remove SonataMediaController (#14848)
  src/Capco/AdminBundle/Controller/MediaAdminController.php
Due: php

add missing migration (#14864)
  src/Capco/AppBundle/Entity/AnonymousUserProposalSmsVote.php
Due: php

add e2e test for sms votes (#14846)
  __snapshots__/exports/legacyUsers.csv
  __snapshots__/rgpd_user_archives/user5/proposals.csv
  __snapshots__/rgpd_user_archives/user5/user.csv
  cypress/@types/index.d.ts
  cypress/helper.ts
  cypress/integration/proposal/proposalSmsVote.spec.ts
  cypress/integration/proposal/proposalVote.spec.ts
  cypress/pages/index.ts
  cypress/pages/proposal/proposalVoteSms.ts
  cypress/support/graphql.ts
  cypress/tsconfig.json
  features/graphql-api/internal/Analytics/__snapshots__/analytics.js.snap
  features/graphql/query/allContributions.feature
  fixtures/Dev/CollectStep.yaml
  fixtures/Dev/Proposal.yaml
  fixtures/Dev/ProposalCategory.yaml
  fixtures/Dev/ProposalForm.yaml
  frontend/js/components/Proposal/Vote/ProposalVoteBasketWidget.js
  frontend/js/components/Proposal/Vote/__snapshots__/ProposalVoteBasketWidget-test.js.snap
Due: jest, flow

[14701-APIPORJECTAUTHOR] reference Organization in schema (#14865)
  config/packages/graphql.yaml
  fixtures/Dev/Organization.yaml
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Organization/Organization.php
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/ProjectOwnerTypeResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Author.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOrganization.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
  src/DoctrineMigrations/Version20220722155945.php
Due: graphql, php

13226 voter test updated (#14868)
  spec/Capco/AppBundle/Security/DebateArgumentVoterSpec.php
  spec/Capco/AppBundle/Security/EventReviewVoterSpec.php
  spec/Capco/AppBundle/Security/ProjectVoterSpec.php
  spec/Capco/AppBundle/Security/ProposalAnalysisRelatedVoterSpec.php
  src/Capco/AppBundle/Security/EventReviewVoter.php
  src/Capco/AppBundle/Security/ProposalAnalysisRelatedVoter.php
Due: php

[14701-FIXREPO] fix (#14874)
  config/packages/repositories.yaml
Due: none

[14873-FIX] Fix follow (#14875)
  frontend/js/components/Proposal/Follow/ProposalFollowButton.js
  frontend/js/components/Proposal/Follow/__snapshots__/ProposalFollowButton-test.js.snap
Due: jest, flow

[14871] Fix section events in some kind of steps (#14878)
  frontend/js/components/Page/CustomStepPage.js
  frontend/js/components/Page/QuestionnaireStepPage.js
  frontend/js/components/Page/__snapshots__/QuestionnaireStepPage-test.js.snap
Due: jest, flow

project.creator (#14877)
  fixtures/Benchmark/Project.yaml
  fixtures/Dev/Project.yaml
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Form/Persister/ProjectPersister.php
  src/Capco/AppBundle/GraphQL/Mutation/CreateProjectMutation.php
  src/Capco/AppBundle/Traits/CreatableTrait.php
  src/DoctrineMigrations/Version20220726152101.php
Due: graphql, php

14702 MailingList and EmailingCampaign creator (#14888)
  fixtures/Dev/EmailingCampaign.yaml
  fixtures/Dev/MailingList.yaml
  src/Capco/AppBundle/Entity/EmailingCampaign.php
  src/Capco/AppBundle/Entity/MailingList.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/CreateEmailingCampaignMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/CreateMailingListMutation.php
  src/DoctrineMigrations/Version20220727183904.php
  src/DoctrineMigrations/Version20220727184600.php
Due: graphql, php

14702 Post and Event creator (#14886)
  fixtures/Benchmark/Event.yaml
  fixtures/Benchmark/Post.yaml
  fixtures/Dev/Event.yaml
  fixtures/Dev/Post.yaml
  fixtures/Prod/Event.yaml
  fixtures/Prod/Post.yaml
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Entity/Post.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventsMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/CreatePostMutation.php
  src/DoctrineMigrations/Version20220727171622.php
  src/DoctrineMigrations/Version20220727173828.php
Due: graphql, php

14702 ProposalForm and Questionnaire creator (#14887)
  fixtures/Dev/ProposalForm.yaml
  fixtures/Dev/Questionnaire.yaml
  src/Capco/AppBundle/Entity/ProposalForm.php
  src/Capco/AppBundle/Entity/Questionnaire.php
  src/Capco/AppBundle/GraphQL/Mutation/CreateQuestionnaireMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalForm/CreateProposalFormMutation.php
  src/DoctrineMigrations/Version20220727180028.php
  src/DoctrineMigrations/Version20220727181450.php
Due: graphql, php

squash all commits on branch (#14895)
  config/packages/services.yaml
  spec/Capco/UserBundle/Security/Core/User/CasUserProviderSpec.php
  spec/Capco/UserBundle/Security/Service/CasUserFilterSpec.php
  src/Capco/UserBundle/Security/Core/User/CasUserProvider.php
  src/Capco/UserBundle/Security/Service/CapebUserFilter.php
Due: php

filter out not accounted votes on analytics dashboard (#14766)
  features/graphql-api/internal/Analytics/__snapshots__/analytics.js.snap
  src/Capco/AppBundle/Search/AnalyticsSearch.php
Due: php

refactoring sms (#14900)
  fixtures/Dev/AnonymousUserProposalSmsVote.yaml
  fixtures/Dev/UserPhoneVerificationSms.yaml
  spec/Capco/AppBundle/GraphQL/Mutation/Sms/SendSmsPhoneValidationCodeMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/Sms/SendSmsProposalVoteMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/Sms/VerifySmsVotePhoneNumberMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/Sms/VerifyUserPhoneNumberMutationSpec.php
  spec/Capco/AppBundle/Helper/TwilioHelperSpec.php
  src/Capco/AppBundle/Entity/AnonymousUserProposalSmsVote.php
  src/Capco/AppBundle/Entity/UserPhoneVerificationSms.php
  src/Capco/AppBundle/GraphQL/Mutation/Sms/SendSmsPhoneValidationCodeMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Sms/SendSmsProposalVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Sms/VerifySmsVotePhoneNumberMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Sms/VerifyUserPhoneNumberMutation.php
  src/Capco/AppBundle/Helper/TwilioHelper.php
  src/Capco/AppBundle/Repository/AnonymousUserProposalSmsVoteRepository.php
  src/Capco/AppBundle/Repository/UserPhoneVerificationSmsRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/SendSmsPhoneValidationCodeErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/SendSmsProposalVoteErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/VerifySmsVotePhoneNumberErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/VerifyUserPhoneNumberErrorCode.types.yaml
  src/DoctrineMigrations/Version20220728131659.php
Due: graphql, php

14839 project voter (#14903)
  features/graphql-api/internal/mutation/createAlphaProject.js
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/Security/CanSetOwnerSpec.php
  spec/Capco/AppBundle/Security/ProjectVoterSpec.php
  src/Capco/AppBundle/Entity/Organization/Organization.php
  src/Capco/AppBundle/Form/Persister/ProjectPersister.php
  src/Capco/AppBundle/GraphQL/Mutation/CreateProjectMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateAlphaProjectInput.types.yaml
  src/Capco/AppBundle/Security/AbstractOwnerableVoter.php
  src/Capco/AppBundle/Security/CanSetOwner.php
  src/Capco/AppBundle/Security/ProjectVoter.php
Due: graphql, php

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
