Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

[6561-FIX] Yarn relay.
  schema.internal.graphql
  schema.preview.graphql
Due: none

Do not account votes on proposals for now
  app/Resources/js/components/Project/List/ProjectListView.js
  app/Resources/js/components/Project/List/ProjectListViewPaginated.js
  app/Resources/js/components/Project/List/ProjectsList.js
  app/Resources/js/components/Project/Page/ProjectListPage.js
  app/Resources/js/startup/ProjectsListAppClient.js
  features/front/homepage.feature
  features/front/project.feature
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepContributionsResolver.php
  src/Capco/AppBundle/Resources/views/Homepage/lastProjects.html.twig
  src/Capco/AppBundle/Resources/views/Project/index.html.twig
  src/Capco/AppBundle/Search/ProjectSearch.php
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6583 from cap-collectif/6582-fix-opinionurlresolver
  src/Capco/AppBundle/GraphQL/Resolver/Opinion/OpinionUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepContributionsResolver.php
Due: graphql, php, backend

6561 fix projects homepage 1 (#6567)
  app/Resources/js/components/Project/List/ProjectListView.js
  app/Resources/js/components/Project/List/ProjectListViewPaginated.js
  app/Resources/js/components/Project/List/ProjectsList.js
  app/Resources/js/components/Project/Page/ProjectListPage.js
  app/Resources/js/startup/ProjectsListAppClient.js
  features/front/homepage.feature
  features/front/project.feature
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectsResolver.php
  src/Capco/AppBundle/Resources/views/Homepage/lastProjects.html.twig
  src/Capco/AppBundle/Resources/views/Project/index.html.twig
  src/Capco/AppBundle/Search/ProjectSearch.php
Due: graphql, php, jest, flow, backend, frontend

fix ssl problem
  src/Capco/AppBundle/Behat/ApplicationContext.php
Due: backend

[6563-FIX] Fix wrong enum in step status.
  app/Resources/js/components/Consultation/ConsultationPropositionBox.js
  app/Resources/js/components/Project/Preview/ProjectPreviewBody.js
  app/Resources/js/components/Project/Preview/ProjectPreviewProgressBar.js
  app/Resources/js/components/Project/ProjectStepTabs.js
  app/Resources/js/components/Proposal/Vote/ProposalVoteBoxMessage.js
  app/Resources/js/components/Steps/Page/StepPageHeader.js
  src/Capco/AppBundle/Behat/ApplicationContext.php
Due: jest, flow, backend, frontend

[6563-FIX] Update tests.
  app/Resources/js/components/Consultation/ConsultationPlan-test.js
  app/Resources/js/components/Consultation/ConsultationPropositionBox-test.js
  app/Resources/js/components/Consultation/__snapshots__/ConsultationPropositionBox-test.js.snap
  app/Resources/js/components/Project/Preview/ProjectPreviewProgressBar-test.js
  app/Resources/js/components/Project/ProjectStepTabs-test.js
Due: jest, flow, frontend

[6563-FIX] Remove debug logs.
  app/Resources/js/components/Project/Preview/ProjectPreviewBody.js
Due: jest, flow, frontend

[6563-FIX] Revert useless change.
  app/Resources/js/components/Project/Preview/ProjectPreviewBody.js
Due: jest, flow, frontend

fix test for no name user
  app/Resources/js/components/Consultation/ConsultationPlan-test.js
  app/Resources/js/components/Consultation/ConsultationPropositionBox-test.js
  app/Resources/js/components/Consultation/ConsultationPropositionBox.js
  app/Resources/js/components/Consultation/__snapshots__/ConsultationPropositionBox-test.js.snap
  app/Resources/js/components/Project/Preview/ProjectPreviewBody.js
  app/Resources/js/components/Project/Preview/ProjectPreviewProgressBar-test.js
  app/Resources/js/components/Project/Preview/ProjectPreviewProgressBar.js
  app/Resources/js/components/Project/ProjectStepTabs-test.js
  app/Resources/js/components/Project/ProjectStepTabs.js
  app/Resources/js/components/Proposal/Vote/ProposalVoteBoxMessage.js
  app/Resources/js/components/Steps/Page/StepPageHeader.js
  features/front/choose_username.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/UserContext.php
Due: jest, flow, backend, frontend

Merge pull request #6594 from cap-collectif/6563-fix-project-preview
  app/Resources/js/components/Consultation/ConsultationPlan-test.js
  app/Resources/js/components/Consultation/ConsultationPropositionBox-test.js
  app/Resources/js/components/Consultation/ConsultationPropositionBox.js
  app/Resources/js/components/Consultation/__snapshots__/ConsultationPropositionBox-test.js.snap
  app/Resources/js/components/Project/Preview/ProjectPreviewBody.js
  app/Resources/js/components/Project/Preview/ProjectPreviewProgressBar-test.js
  app/Resources/js/components/Project/Preview/ProjectPreviewProgressBar.js
  app/Resources/js/components/Project/ProjectStepTabs-test.js
  app/Resources/js/components/Project/ProjectStepTabs.js
  app/Resources/js/components/Proposal/Vote/ProposalVoteBoxMessage.js
  app/Resources/js/components/Steps/Page/StepPageHeader.js
Due: jest, flow, frontend

Merge pull request #6591 from cap-collectif/dont-count-votes-for-collect
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepContributionsResolver.php
Due: graphql, php, backend

- Added missing parenthesis to correctly interpret value as numeric
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
Due: php, backend

paramconverter send array instead of string in ThemeRepository (#6597)
  src/Capco/AppBundle/Controller/Site/ThemeController.php
Due: php, backend

#6444 - fix authorname on comment notifier
  src/Capco/AppBundle/Notifier/CommentNotifier.php
Due: php, backend

[6563-FIX] Replace step status Enum ENDED by CLOSED.
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
  src/Capco/AppBundle/Enum/ProjectStatus.php
  src/Capco/AppBundle/Enum/StepStatus.php
  src/Capco/AppBundle/Notifier/CommentNotifier.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ProjectStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/StepStatus.types.yml
Due: php, backend

[6563-FIX] Update tests.
  app/Resources/js/components/Project/Preview/ProjectPreviewBody-test.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewBody-test.js.snap
Due: jest, flow, frontend

[6563-FIX] Yarn relay.
  schema.internal.graphql
Due: none

[6563-FIX] Fix status of step tabs.
  app/Resources/js/components/Project/ProjectStepTabs.js
  app/Resources/js/components/Project/__snapshots__/ProjectStepTabs-test.js.snap
Due: jest, flow, frontend

[6563-FIX] Add test for /projects preview.
  features/front/project.feature
Due: none

Use xhyve by default for dinghy, remove copycat-brunch
  app/Resources/js/components/Project/Preview/ProjectPreviewBody-test.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewBody-test.js.snap
  app/Resources/js/components/Project/ProjectStepTabs.js
  app/Resources/js/components/Project/__snapshots__/ProjectStepTabs-test.js.snap
  brunch-config.js
  features/front/project.feature
  infrastructure/deploylib/environments.py
  infrastructure/deploylib/system.py
  infrastructure/services/chrome/Dockerfile
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
  src/Capco/AppBundle/Controller/Site/ThemeController.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
  src/Capco/AppBundle/Enum/ProjectStatus.php
  src/Capco/AppBundle/Enum/StepStatus.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ProjectStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/StepStatus.types.yml
  webpack/webpack.client.js
  yarn.lock
Due: php, jest, flow, backend, frontend

Add a resolution for "underscore.string": "3.3.5"
  package.json
  yarn.lock
Due: none

Add missing import
  src/Capco/AppBundle/Behat/ApplicationContext.php
Due: backend

[6563-FIX] Add flow coverage.
  app/Resources/js/components/Project/Preview/ProjectPreviewBody-test.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewBody-test.js.snap
  app/Resources/js/components/Project/ProjectStepTabs-test.js
  app/Resources/js/components/Project/ProjectStepTabs.js
  brunch-config.js
  features/front/project.feature
  infrastructure/deploylib/environments.py
  infrastructure/deploylib/system.py
  infrastructure/services/chrome/Dockerfile
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
  src/Capco/AppBundle/Controller/Site/ThemeController.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
  src/Capco/AppBundle/Enum/ProjectStatus.php
  src/Capco/AppBundle/Enum/StepStatus.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ProjectStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/StepStatus.types.yml
  webpack/webpack.client.js
  yarn.lock
Due: php, jest, flow, backend, frontend

Increase disk size
  app/Resources/js/components/Project/Preview/ProjectPreviewBody-test.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewBody-test.js.snap
  app/Resources/js/components/Project/ProjectStepTabs-test.js
  app/Resources/js/components/Project/ProjectStepTabs.js
  brunch-config.js
  features/front/project.feature
  infrastructure/deploylib/environments.py
  infrastructure/deploylib/system.py
  infrastructure/services/chrome/Dockerfile
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
  src/Capco/AppBundle/Controller/Site/ThemeController.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
  src/Capco/AppBundle/Enum/ProjectStatus.php
  src/Capco/AppBundle/Enum/StepStatus.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ProjectStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/StepStatus.types.yml
  webpack/webpack.client.js
  yarn.lock
Due: php, jest, flow, backend, frontend

#6444 - fixing test
  brunch-config.js
  features/graphql/query/projects.feature
  infrastructure/deploylib/environments.py
  infrastructure/deploylib/system.py
  infrastructure/services/chrome/Dockerfile
  package.json
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
  src/Capco/AppBundle/Controller/Site/ThemeController.php
  src/Capco/AppBundle/Notifier/CommentNotifier.php
  webpack/webpack.client.js
  yarn.lock
Due: php, backend

Merge pull request #6610 from cap-collectif/6563-fix-project-preview
  app/Resources/js/components/Project/Preview/ProjectPreviewBody-test.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewBody-test.js.snap
  app/Resources/js/components/Project/ProjectStepTabs-test.js
  app/Resources/js/components/Project/ProjectStepTabs.js
  features/front/project.feature
  features/graphql/query/projects.feature
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
  src/Capco/AppBundle/Enum/ProjectStatus.php
  src/Capco/AppBundle/Enum/StepStatus.php
  src/Capco/AppBundle/Notifier/CommentNotifier.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ProjectStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/StepStatus.types.yml
Due: php, jest, flow, backend, frontend

Merge pull request #6602 from cap-collectif/6444-email-notif
  features/graphql/query/projects.feature
  src/Capco/AppBundle/Notifier/CommentNotifier.php
Due: php, backend

Merge pull request #6611 from cap-collectif/replace-virtualbox-by-xhyve
  brunch-config.js
  infrastructure/deploylib/environments.py
  infrastructure/deploylib/system.py
  infrastructure/services/chrome/Dockerfile
  package.json
  src/Capco/AppBundle/Behat/ApplicationContext.php
  webpack/webpack.client.js
  yarn.lock
Due: backend

Fix boolean argument with default value
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/MultipleChoiceQuestion.types.yml
Due: php, backend

[6559-RESTRICTED] WIP
  schema.internal.graphql
  src/Capco/AppBundle/Controller/Site/SearchController.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/MultipleChoiceQuestion.types.yml
Due: php, backend

[6559-RESTRICTED] Filter projects with restricted access.
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/preview/PreviewQuery.types.yml
Due: graphql, php, backend

[6559-RESTRICTED] Add behat test for custom access project on projects.
  features/front/project.feature
Due: none

- 🚧 ExportContext
  behat.yml
  features/commands/export.feature
  features/front/project.feature
  src/Capco/AppBundle/Behat/ExportContext.php
  src/Capco/AppBundle/Controller/Site/SearchController.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/preview/PreviewQuery.types.yml
Due: graphql, php, backend

- Added 'should have header' step
  features/commands/export.feature
  src/Capco/AppBundle/Behat/ExportContext.php
Due: backend

- Added snapshots
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  features/commands/export.feature
  src/Capco/AppBundle/Behat/ExportContext.php
Due: backend

- Updated graphql schema
  schema.internal.graphql
Due: none

- Updated snapshot of export - Added contributionConnection parameter to get a deterministic response - Set lorem ipsum in proposal fixtures
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Proposal.yml
Due: php, backend

- Updated error message of ExportContext
  src/Capco/AppBundle/Behat/ExportContext.php
Due: backend

- Added file assertions in export context
  src/Capco/AppBundle/Behat/ExportContext.php
Due: backend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
