Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

Migrate "other" and "change" folder tests to jest (#18926)
  features/graphql-api/internal/mutation/FavIcon/__snapshots__/changeSiteFavicon.js.snap
  features/graphql-api/internal/mutation/FavIcon/__snapshots__/removeSiteFavicon.js.snap
  features/graphql-api/internal/mutation/FavIcon/changeSiteFavicon.js
  features/graphql-api/internal/mutation/FavIcon/removeSiteFavicon.js
  features/graphql-api/internal/mutation/GlobalDistrict/__snapshots__/updateGlobalDistrict.js.snap
  features/graphql-api/internal/mutation/GlobalDistrict/updateGlobalDistrict.js
  features/graphql-api/internal/mutation/LocaleStatus/UpdateLocaleStatus.js
  features/graphql-api/internal/mutation/LocaleStatus/__snapshots__/UpdateLocaleStatus.js.snap
  features/graphql-api/internal/mutation/Page/ContactPage/__snapshots__/updateContactPage.js.snap
  features/graphql-api/internal/mutation/Page/ContactPage/updateContactPage.js
  features/graphql-api/internal/mutation/SenderEmail/__snapshots__/createSenderEmail.js.snap
  features/graphql-api/internal/mutation/SenderEmail/__snapshots__/selectSenderEmail.js.snap
  features/graphql-api/internal/mutation/SenderEmail/createSenderEmail.js
  features/graphql-api/internal/mutation/SenderEmail/selectSenderEmail.js
  features/graphql-api/internal/mutation/SenderEmailDomain/__snapshots__/createSenderEmailDomain.js.snap
  features/graphql-api/internal/mutation/SenderEmailDomain/__snapshots__/deleteSenderEmailDomain.js.snap
  features/graphql-api/internal/mutation/SenderEmailDomain/createSenderEmailDomain.js
  features/graphql-api/internal/mutation/SenderEmailDomain/deleteSenderEmailDomain.js
  features/graphql-api/internal/mutation/__snapshots__/externalServiceConfiguration.js.snap
  features/graphql-api/internal/mutation/externalServiceConfiguration.js
  features/graphql/mutation/admin/other/externalServiceConfiguration.feature
  features/graphql/mutation/admin/other/remove_site_favicon.feature
  features/graphql/mutation/admin/other/senderEmail.feature
  features/graphql/mutation/admin/other/senderEmailDomain.feature
  features/graphql/mutation/admin/update/updateContactPage.feature
  features/graphql/mutation/admin/update/updateGlobalDistrict.feature
  features/graphql/mutation/admin/update/updateLocaleStatus.feature
Due: none

Migrate graphql admin behat tests (#19078)
  features/graphql-api/internal/mutation/Page/RegistrationPage/__snapshots__/updateRegistrationPage.js.snap
  features/graphql-api/internal/mutation/Page/RegistrationPage/updateRegistrationPage.js
  features/graphql-api/internal/mutation/Project/__snapshots__/updateAlphaProject.js.snap
  features/graphql-api/internal/mutation/Project/__snapshots__/updateProject.js.snap
  features/graphql-api/internal/mutation/Project/__snapshots__/updateProjectMetadata.js.snap
  features/graphql-api/internal/mutation/Project/updateAlphaProject.js
  features/graphql-api/internal/mutation/Project/updateProject.js
  features/graphql-api/internal/mutation/Project/updateProjectMetadata.js
  features/graphql-api/internal/mutation/ProposalFusion/__snapshots__/updateProposalFusion.js.snap
  features/graphql-api/internal/mutation/ProposalFusion/updateProposalFusion.js
  features/graphql-api/internal/mutation/Questionnaire/__snapshots__/updateQuestionnaire.js.snap
  features/graphql-api/internal/mutation/Questionnaire/__snapshots__/updateQuestionnaireConfiguration.js.snap
  features/graphql-api/internal/mutation/Questionnaire/updateQuestionnaire.js
  features/graphql-api/internal/mutation/Questionnaire/updateQuestionnaireConfiguration.js
  features/graphql-api/internal/mutation/SiteParameter/__snapshots__/updateSiteParameter.js.snap
  features/graphql-api/internal/mutation/SiteParameter/updateSiteParameter.js
  features/graphql/mutation/admin/update/updateProject.feature
  features/graphql/mutation/admin/update/updateProjectMetadata.feature
  features/graphql/mutation/admin/update/updateProposalFusion.feature
  features/graphql/mutation/admin/update/updateQuestionnaire.feature
  features/graphql/mutation/admin/update/updateRegistrationPage.feature
  features/graphql/mutation/admin/update/updateSiteParameter.feature
Due: none

test: behat -> cypress : developer.feature (#19082)
  cypress/e2e/frontOffice/developer/developer.cy.ts
  features/front/pages/developer.feature
Due: none

test: behat -> cypress : blog.feature (#19083)
  cypress/e2e/frontOffice/blog/blogPage.cy.ts
  features/front/pages/blog.feature
  src/Capco/AppBundle/Behat/Page/BlogArticlePage.php
Due: none

Remove docker-compose (#19029) (#19039)
  Pipfile
  Pipfile.lock
  infrastructure/deploylib/system.py
Due: none

remove key metrics occitanie (#19087)
  config/packages/services.yaml
  src/Capco/AppBundle/Client/OccitanieClient.php
  src/Capco/AppBundle/Client/OccitaniePreprodClient.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryContributorsResolver.php
Due: graphql, php

feat(footer): duplicate link + base order (#19073)
  admin-next/shared/footer/Footer.tsx
  admin-next/shared/footer/__snapshots__/Footer.test.tsx.snap
Due: none

docs: ADR template, example, better structure + git ADR file created (#19097)
  ADR/001-git.md
  ADR/001-preprod_deployment_process.md
  ADR/adr-docs/ADR_example.md
  ADR/adr-docs/ADR_template.md
  ADR/adr-docs/README.md
  ADR/archive/001-archived_example.md
  ADR/assets/actions_tab.png
  ADR/assets/check_pr_ci.png
  ADR/assets/execute_github_action.png
  ADR/assets/squash_and_merge_pr.png
Due: none

feat: implement utilitary toasts (#19119)
  admin-next/components/BackOffice/Authentication/Shield.tsx
  admin-next/components/BackOffice/ConsultationList/ModalConfirmationDelete.tsx
  admin-next/components/BackOffice/Events/EventImportModal.tsx
  admin-next/components/BackOffice/GeographicalAreasList/GeographicalAreaDeleteModal.tsx
  admin-next/components/BackOffice/Posts/PostFormWrapper.tsx
  admin-next/components/BackOffice/Projects/CreateProject/CreateProjectForm.tsx
  admin-next/components/BackOffice/ProposalForm/ProposalFormItem.tsx
  admin-next/components/BackOffice/SecuredParticipation/SectionIdentificationCodes/DeleteModal/IdentificationCodesListDeleteModal.tsx
  admin-next/components/BackOffice/SecuredParticipation/SectionIdentificationCodes/ModalStepsCreation/ModalDownloadList.tsx
  admin-next/components/BackOffice/SecuredParticipation/SectionSMS/ModalCreditRefill/ModalCreditRefill.tsx
  admin-next/components/BackOffice/SecuredParticipation/SectionSMS/ModalProcessRequest/ModalProcessRequest.tsx
  admin-next/shared/utils/toasts.ts
Due: none

Fix attachment file insertion when executing command from cron (#19098)
  src/Capco/AppBundle/Command/CapcoCollectEmailProposalsCommand.php
Due: php

test: behat -> cypress consultationAndProject : project.feature (#19107)
  cypress/e2e/backOffice/project/consultationAndProject.cy.ts
  features/back/project/ConsultationAndProject/project.feature
  src/Capco/AppBundle/Behat/Page/AdminProjectConsultationCreationPage.php
  src/Capco/AppBundle/Behat/Page/AdminProjectConsultationPage.php
  src/Capco/AppBundle/Behat/Page/AdminProjectListPage.php
  src/Capco/AppBundle/Behat/Page/AdminProjectProposalPage.php
  src/Capco/AppBundle/Behat/Page/AdminProjectSourcePage.php
  src/Capco/AppBundle/Behat/Page/AdminProjectTypePage.php
  src/Capco/AppBundle/Behat/Traits/AdminProjectTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
Due: none

generate random username (#18497)
  config/packages/services.yaml
  frontend/js/components/User/Profile/EditProfileTabs-test.tsx
  frontend/js/components/User/Profile/EditProfileTabs.tsx
  frontend/js/components/User/Profile/Profile.tsx
  frontend/js/components/User/Profile/__snapshots__/EditProfileTabs-test.tsx.snap
  frontend/js/components/User/Profile/__snapshots__/Profile-test.tsx.snap
  spec/Capco/UserBundle/Security/Core/User/OauthUserProviderSpec.php
  src/Capco/UserBundle/OpenID/Mapping/OccitanieMapping.php
  src/Capco/UserBundle/Security/Core/User/OauthUserProvider.php
Due: php, jest, flow

fix(ADR): format lists for Git ADR (#19140)
  ADR/001-git.md
Due: none

Fix file duplicates for proposal attachment sent by email (#19088) (#19090)
  src/Capco/AppBundle/Command/CapcoCollectEmailProposalsCommand.php
  src/Capco/AppBundle/Manager/MediaManager.php
  src/Capco/AppBundle/Provider/MediaProvider.php
Due: php

docs: cypress : frontent tests ADR (#19128)
  ADR/001-frontend_tests.md
Due: none

Replace special characters from file name tus upload to complete it (#19121)
  admin-next/shared/utils/joditFileUploader.tsx
Due: none

18667 footer fix (#19118)
  admin-next/components/FrontOffice/Cookies/CookieManager.tsx
  admin-next/components/FrontOffice/Cookies/__snapshots__/Cookies.test.tsx.snap
  admin-next/components/FrontOffice/Shield/__snapshots__/ShieldPageWrapper.test.tsx.snap
  admin-next/shared/footer/Footer.tsx
  admin-next/shared/footer/__snapshots__/Footer.test.tsx.snap
  frontend/js/components/Footer/FooterWrapperLegacy.tsx
  frontend/js/components/StaticPage/CookieManagerModal.tsx
  frontend/js/components/StaticPage/__snapshots__/CookieManagerModal-test.tsx.snap
Due: jest, flow

fix: "back" button goes back to create-step page (#19111)
  admin-next/components/BackOffice/Steps/utils.ts
Due: none

chore(translations): Cleaning up Loco env var and script (#19114)
  composer.json
  composer.lock
  config/bundles.php
  config/packages/php_translation.yaml
  config/packages/translation.yaml
  config/services.yaml
  fetch_translations.mjs
  infrastructure/deploylib/app.py
  infrastructure/environments/testing.yml
  infrastructure/services/remote/Dockerfile
  package.json
  symfony.lock
Due: none

try parallelism to 1 (#19153)
  cypress/e2e/backOffice/consultation/consultation.cy.ts
  cypress/e2e/backOffice/contact/contact.cy.ts
  cypress/e2e/backOffice/contributions/opinionVersions.cy.ts
  cypress/e2e/backOffice/contributions/opinions.cy.ts
  cypress/e2e/backOffice/invitation/userInvite.cy.ts
  cypress/e2e/backOffice/moderation/arguments.cy.ts
  cypress/e2e/backOffice/moderation/comment.cy.ts
  cypress/e2e/backOffice/moderation/moderation.cy.ts
  cypress/e2e/backOffice/post/post.cy.ts
  cypress/e2e/backOffice/project/consultationAndProject.cy.ts
  cypress/e2e/backOffice/settings/settings.cy.ts
  cypress/e2e/backOffice/userGroup/viewGroupsList.cy.ts
  cypress/e2e/backOffice/userType/userType.cy.ts
  cypress/e2e/frontOffice/blog/blogPage.cy.ts
  cypress/e2e/frontOffice/consultation/arguments.cy.ts
  cypress/e2e/frontOffice/contact/contactPage.cy.ts
  cypress/e2e/frontOffice/customPage/customPage.cy.ts
  cypress/e2e/frontOffice/debate/anonymousVote.cy.ts
  cypress/e2e/frontOffice/debate/voteToken.cy.ts
  cypress/e2e/frontOffice/developer/developer.cy.ts
  cypress/e2e/frontOffice/event/eventPage.cy.ts
  cypress/e2e/frontOffice/event/eventRegistration.cy.ts
  cypress/e2e/frontOffice/login/login.cy.ts
  cypress/e2e/frontOffice/newsletter/newsletter.cy.ts
  cypress/e2e/frontOffice/opinion/opinion.cy.ts
  cypress/e2e/frontOffice/opinion/opinionArguments.cy.ts
  cypress/e2e/frontOffice/opinion/opinionVersion.cy.ts
  cypress/e2e/frontOffice/search/search.cy.ts
  cypress/e2e/frontOffice/shield.cy.ts
  cypress/e2e/frontOffice/user/emailConfirmation.cy.ts
Due: none

feat(depotBO): proposal object name (#19055)
  admin-next/components/BackOffice/Steps/ProposalStep/ProposalSettings.tsx
  admin-next/shared/constants/proposalStepObjectType.ts
  frontend/js/components/ProposalForm/ProposalFormAdminConfigurationForm.tsx
  frontend/js/components/ProposalForm/__snapshots__/ProposalFormAdminConfigurationForm-test.tsx.snap
Due: jest, flow

feat: release 6.0.8 (#19123)
  package.json
  yarn.lock
Due: none

test(k6): add files to gitignore and eslintignore ahead of the real work so that switching branch doesn't cause any trouble (#19165)
  .gitignore
Due: none

fix(depot): remove context and use nuqs or api instead (#19161)
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/VoteStepFiltersWeb.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/VoteStepSearchBar.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/VoteStepMap.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/VoteStepMapContainer.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/VoteStepMapCustomEvents.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/VoteStepMapMarkers.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/VoteStepMapPlaceholder.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStep.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepContext.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepEmptyList.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepWebLayout.tsx
  admin-next/src/app/layout.tsx
  package.json
  yarn.lock
Due: none

Hard code package manager version in package.json (#19172)
  package.json
Due: none

remove yarn offline mode (#19054)
  ADR/001-frontend_packages_management.md
Due: none

chore: delete old carrousel section (#18862)
  admin-next/components/BackOffice/Sections/Carrousel/Carrousel.utils.ts
  admin-next/components/BackOffice/Sections/Carrousel/CarrouselParameters.tsx
  admin-next/components/BackOffice/SideBar/SideBarItems.json
  admin-next/shared/sections/carrousel/WhatsNewMobile.tsx
  config/packages/sonata_admin.yaml
  fixtures/Dev/Section.yaml
  fixtures/Dev/SectionTranslation.yaml
  fixtures/Prod/Section.yaml
  fixtures/Prod/SectionTranslation.yaml
  frontend/js/components/Admin/Sidebar/Sidebar.tsx
  frontend/js/components/Carousel/CarouselContainer-test.tsx
  frontend/js/components/Carousel/CarouselContainer.tsx
  frontend/js/components/Carousel/CarouselDesktop-test.tsx
  frontend/js/components/Carousel/CarouselDesktop.tsx
  frontend/js/components/Carousel/CarouselMobile-test.tsx
  frontend/js/components/Carousel/CarouselMobile.tsx
  frontend/js/components/Carousel/__snapshots__/CarouselContainer-test.tsx.snap
  frontend/js/components/Carousel/__snapshots__/CarouselDesktop-test.tsx.snap
  frontend/js/components/Carousel/__snapshots__/CarouselMobile-test.tsx.snap
  frontend/js/registration.ts
  frontend/js/startup/CarouselApp.tsx
  src/Capco/AppBundle/Resources/views/Homepage/highlighted.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
Due: php, jest, flow

fix(event/BO): form validation & buttons (#19109)
  admin-next/components/BackOffice/Events/EventForm.tsx
  admin-next/components/BackOffice/Events/EventFormWrapper.tsx
  admin-next/components/BackOffice/Form/DurationInput.tsx
  admin-next/components/BackOffice/Form/SubmitButtons.tsx
Due: none

fix(footer): change html element (#19170)
  admin-next/components/FrontOffice/Cookies/CookieManager.tsx
  admin-next/components/FrontOffice/Cookies/__snapshots__/Cookies.test.tsx.snap
  frontend/js/components/StaticPage/CookieManagerModal.tsx
  frontend/js/components/StaticPage/__snapshots__/CookieManagerModal-test.tsx.snap
Due: jest, flow

fix consultation ui (#19112)
  admin-next/components/BackOffice/Steps/ConsultationStep/SectionListItem.tsx
Due: none

allow votesHelpText in simple vote (#19115)
  admin-next/components/BackOffice/Steps/ProposalStep/ProposalStepVoteTabsForm.tsx
  admin-next/components/BackOffice/Steps/utils.ts
Due: none

split workflow tests from e2e frontoffice (#19175)
  cypress/e2e/frontOfficeWorkflow/proposalCollectVoteWorkflow.cy.ts
  cypress/e2e/frontOfficeWorkflow/proposalSelectionVoteWorkflow.cy.ts
  cypress/e2e/frontOfficeWorkflow/questionnaireWorkflow.cy.ts
Due: none

hide RequirementReason for collect/selection/questionnaire (#19108)
  admin-next/components/BackOffice/Requirements/Requirements.tsx
  admin-next/components/BackOffice/Requirements/ToggleRequirementsList.tsx
Due: none

Fix create project log user when attached to an organization (#19050) (#19053)
  src/Capco/AppBundle/GraphQL/Mutation/CreateProjectMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/PreConfigureProjectMutation.php
Due: graphql, php

fix: make title mandatory to submit a new version (amendement) (#19171)
  admin-next/components/BackOffice/Steps/ConsultationStep/SectionListItem.tsx
  frontend/js/components/OpinionVersion/OpinionVersionCreateForm.tsx
Due: jest, flow

revert back old assertion (#19184)
  cypress/e2e/frontOffice/opinion/opinionVersion.cy.ts
Due: none

Upgrade http-foundation to fix CVE-2025-64500 (#19181)
  composer.lock
Due: none
