Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

fix empty connection (#19734)
  src/Capco/AppBundle/GraphQL/DataLoader/User/ViewerProposalVotesDataLoader.php
Due: graphql, php

restrict deposit button to collect step (#19732)
  frontend/js/components/VoteStep/Map/VoteStepMap.tsx
Due: jest, flow

fix(css): remove borders on focus (focus-visible only) (#19699)
  admin-next/shared/navbar/NavBar.components.tsx
  admin-next/shared/projectFrise/Steps.tsx
  admin-next/shared/projectFrise/__snapshots__/ProjectStepTabs.test.tsx.snap
Due: none

feat: IDF project header (#19726)
  admin-next/components/BackOffice/FeatureList/FeatureItems.json
  admin-next/shared/hooks/useFeatureFlag.ts
  admin-next/tests/mocks.tsx
  admin-next/utils/feature-flags-resolver.ts
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminStepForm-test.tsx.snap
  frontend/js/components/Event/List/__snapshots__/EventListFilter-test.tsx.snap
  frontend/js/components/Project/ProjectHeader-Placeholder.tsx
  frontend/js/components/Project/ProjectHeader.tsx
  frontend/js/components/Project/ProjectHeaderBlocks.tsx
  frontend/js/components/Project/ProjectHeaderIdf.tsx
  frontend/js/components/Proposal/Page/Header/ProposalPageHeader.tsx
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPage-test.tsx.snap
  frontend/js/redux/modules/default.ts
  frontend/js/startup/ProjectHeaderApp.tsx
  frontend/js/startup/ProjectStepPageApp.tsx
  frontend/js/types.ts
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Resources/views/Project/base.html.twig
  src/Capco/AppBundle/Toggle/Manager.php
Due: php, jest, flow

feat: implement captchetat (#19691)
  admin-next/components/BackOffice/FeatureList/FeatureItems.json
  admin-next/components/BackOffice/FeatureList/FeatureList.tsx
  admin-next/components/BackOffice/FeatureList/FeatureList.utils.ts
  admin-next/components/FrontOffice/Contact/ContactForm.tsx
  admin-next/components/ParticipationWorkflow/CaptchaModal.tsx
  admin-next/components/ParticipationWorkflow/ContributionValidationModal.tsx
  admin-next/components/ParticipationWorkflow/ParticipationWorkflowContext.tsx
  admin-next/components/ParticipationWorkflow/ParticipationWorkflowModal.tsx
  admin-next/shared/form/Captcha.tsx
  admin-next/shared/form/CaptchetatCaptcha.tsx
  admin-next/shared/hooks/useFeatureFlag.ts
  admin-next/src/app/Providers.tsx
  admin-next/tests/mocks.tsx
  admin-next/utils/feature-flags-resolver.ts
  config/packages/services.yaml
  config/routes.yaml
  config/services.yaml
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminStepForm-test.tsx.snap
  frontend/js/components/Contact/ContactForm.tsx
  frontend/js/components/Contact/__snapshots__/ContactForm-test.tsx.snap
  frontend/js/components/Event/List/__snapshots__/EventListFilter-test.tsx.snap
  frontend/js/components/Form/Captcha.tsx
  frontend/js/components/Form/CaptchetatCaptcha.tsx
  frontend/js/components/ParticipationWorkflow/CaptchaModal.tsx
  frontend/js/components/ParticipationWorkflow/ContributionValidationModal.tsx
  frontend/js/components/ParticipationWorkflow/ParticipationWorkflowContext.tsx
  frontend/js/components/ParticipationWorkflow/ParticipationWorkflowModal.tsx
  frontend/js/components/Proposal/Vote/ProposalVoteButton.tsx
  frontend/js/redux/modules/default.ts
  frontend/js/types.ts
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Controller/Api/CaptchetatProxyController.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ValidateContributionInput.types.yaml
  src/Capco/AppBundle/Resources/views/window.js.twig
  src/Capco/AppBundle/Security/CaptchaChecker.php
  src/Capco/AppBundle/Toggle/Manager.php
  tests/Mutation/ValidateContributionMutationTest.php
Due: php, jest, flow

fix: duplicated UDF header on proposal page (#19740)
  frontend/js/components/Project/ProjectHeaderIdf.tsx
  frontend/js/components/Proposal/Page/Header/ProposalPageHeader.tsx
Due: jest, flow

fix: zipcode validation (#19738)
  admin-next/components/BackOffice/Mediator/MediatorVoteModal/FillRequirementsModal.tsx
  admin-next/components/ParticipationWorkflow/ZipCodeRequirementModal.tsx
  admin-next/shared/utils/validators.ts
  frontend/js/components/ParticipationWorkflow/ZipCodeRequirementModal.tsx
Due: jest, flow

chore(dockerfile): update base image from debian 11 to debian 12 (#18793)
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/nodejs/run
  infrastructure/services/remote/Dockerfile
Due: none

fix: feedbacks & fix (#19579)
  admin-next/components/BackOffice/Steps/CollectStep/CollectStepForm.tsx
  admin-next/components/BackOffice/Steps/CollectStep/CollectStepForm.utils.ts
  admin-next/components/BackOffice/Steps/ProposalStep/ProposalStepVoteBtn.tsx
  admin-next/components/BackOffice/Steps/SelectStep/SelectStepForm.tsx
  admin-next/components/BackOffice/Steps/SelectStep/SelectStepForm.utils.ts
  admin-next/components/FrontOffice/Leaflet/ProposalMapDiscoverPane.tsx
  admin-next/components/FrontOffice/ProposalCard/ProposalCard.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/VoteStepFiltersAccordions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepListActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepMobileActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepQuickFilter.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/ProposalMarker.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/VoteStepMapContainer.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalFormModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepUserInfos.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepWebLayout.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VotesPopup/VoteStepMobileVotesModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VotesPopup/VotesPopup.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VotesPopup/VotesPopupCard.tsx
  admin-next/components/FrontOffice/VoteButton/VoteButton.tsx
  admin-next/components/ParticipationWorkflow/AddressRequirementModal.tsx
  admin-next/shared/cap-collectif/form/src/components/address/Address.tsx
  frontend/js/components/ParticipationWorkflow/AddressRequirementModal.tsx
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Steps/CollectStep.php
  src/Capco/AppBundle/Entity/Steps/SelectionStep.php
  src/Capco/AppBundle/Form/Persister/ProjectStepPersister.php
  src/Capco/AppBundle/Form/Step/SelectionStepFormType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateCollectStepInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateSelectionStepInput.types.yaml
  src/DoctrineMigrations/Version20260423000000.php
Due: php, jest, flow

fix: conditional jump deletion not persisted on questionnaire save (#19641)
  src/Capco/AppBundle/Helper/QuestionJumpsHandler.php
  tests/Helper/QuestionJumpsHandlerTest.php
Due: php

log: SILENCE! deprecation logs in prod env (#19742)
  config/packages/prod/monolog.yaml
Due: none

set votes position in Add instead of relying in Update (#19730)
  features/graphql-api/internal/Mutation/ProposalVote/addProposalVote.js
  features/graphql-api/internal/Mutation/updateProposalVotes.js
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalSmsVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateAnonymousProposalVotesMutation.php
Due: graphql, php

fix: set reply updatedAt after answer update (#19746) (#19749)
  src/Capco/AppBundle/Entity/Reply.php
  src/Capco/AppBundle/Traits/HasResponsesTrait.php
Due: php

Fix VoteType::BUDGET definition wording
  .contextive/definitions.yml
Due: none

Rename definitions.yml to definition.yml
  .contextive/definition.yml
Due: none

Rename user role from 'ROLE_USER' to 'USER'
  .contextive/definition.yml
Due: none

fix: restore analysis export cron jobs (#19762)
  infrastructure/services/remote/cron/crontab
Due: none

Fix CVE-2021-4435 (#19765) (#19766)
  infrastructure/services/local/Dockerfile
  infrastructure/services/remote/Dockerfile
Due: none

Fix GHSA-5j59-xgg2-r9c4 and GHSA-mwv6-3258-q52c (#19765) (#19767)
  admin-next/package.json
  yarn.lock
Due: none

19245 anon participant (#19314)
  src/Capco/AppBundle/Command/AnonymizeUsersAutomatedCommand.php
  src/Capco/AppBundle/Command/SendAnonymizeUsersReminderEmailCommand.php
  src/Capco/AppBundle/Entity/Participant.php
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalSmsVoteMutation.php
  src/Capco/AppBundle/Repository/ParticipantRepository.php
  src/Capco/UserBundle/Controller/ConfirmationController.php
  src/Capco/UserBundle/Repository/UserRepository.php
  src/DoctrineMigrations/Version20251225110800.php
  src/DoctrineMigrations/Version20260108120000.php
Due: graphql, php

Fix CVE-2025-7783 and CVE-2026-12143 (#19773)
  .eslintrc.js
  admin-next/.eslintrc
  admin-next/pages/admin-next/project/[projectId]/mediators.tsx
  cypress/e2e/backOffice/event/eventAdminPage.cy.ts
  cypress/e2e/backOffice/post/post.cy.ts
  cypress/e2e/backOffice/userGroup/createGroups.cy.ts
  cypress/e2e/backOffice/userGroup/deleteGroup.cy.ts
  cypress/e2e/backOffice/userGroup/updateGroup.cy.ts
  cypress/e2e/backOffice/userGroup/viewGroupsList.cy.ts
  cypress/e2e/frontOffice/homepage/homepage.cy.ts
  cypress/e2e/frontOffice/rgpd/rgpd.cy.ts
  cypress/package.json
  cypress/yarn.lock
  package.json
  yarn.lock
Due: none

feat: update default legal address (#19761)
  fixtures/Dev/SiteParameterTranslation.yaml
  fixtures/Prod/SiteParameter.yaml
  fixtures/Prod/SiteParameterTranslation.yaml
Due: none

fix: remove old export options (#19757)
  frontend/js/components/Admin/Project/ReplyList/ReplyListPage.tsx
  frontend/js/components/Questionnaire/QuestionnaireAdminResultsExportMenu.tsx
Due: jest, flow

fix slow export : only fetch questions once (#19783)
  src/Capco/AppBundle/Command/ExportCollectAndSelectionContributionsCommand.php
Due: php

Fix CVE-2025-27773 (#19771)
  composer.lock
Due: none

Remove svg file for upload (#19778)
  admin-next/components/BackOffice/Authentication/Shield.tsx
  admin-next/components/BackOffice/Form/TextEditor/Jodit.tsx
  admin-next/components/BackOffice/Sections/Carrousel/CarrouselItem.tsx
  admin-next/components/BackOffice/Steps/QuestionnaireStep/QuestionModal/SetComplexChoices.tsx
  admin-next/shared/utils/acceptedFiles.ts
  admin-next/shared/utils/joditFileUploader.tsx
  composer.lock
  features/api/upload.feature
  features/graphql-api/preview/Query/Questionnaire/Questionnaire_replies.js
  features/graphql-api/preview/Query/Questionnaire/__snapshots__/Questionnaire_replies.js.snap
  frontend/js/components/Form/FileUpload/__snapshots__/FileUpload-test.tsx.snap
  frontend/js/components/Form/ImageUpload.tsx
  package.json
  schema.dev.graphql
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Behat/ApiContext.php
  src/Capco/AppBundle/Controller/Api/MediasController.php
  src/Capco/AppBundle/Controller/Site/TusUploadController.php
  src/Capco/AppBundle/Manager/MediaManager.php
  src/Capco/AppBundle/Provider/AllowedExtensions.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalReply.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewReply.types.yaml
  tests/Manager/MediaManagerTest.php
  yarn.lock
Due: php, jest, flow

Fix tests (#19799)
  src/Capco/AppBundle/Behat/ApiContext.php
Due: none

fix: organization projects page design (#19763)
  admin-next/components/BackOffice/Events/EventFormSide.tsx
  admin-next/components/BackOffice/Organizations/OrganizationConfig/OrganizationConfigFormSide.tsx
  admin-next/components/BackOffice/Posts/PostFormSide.tsx
  admin-next/components/FrontOffice/Organization/OrganizationPageEventList.tsx
  admin-next/components/FrontOffice/Organization/OrganizationPagePostList.tsx
  admin-next/components/FrontOffice/Organization/OrganizationPageProjectList.tsx
  admin-next/src/app/profile/organization/[slug]/Organization.tsx
Due: none

ignore sentry errors in purpoz (#19803)
  frontend/js/startup/Providers.tsx
Due: jest, flow

fix migration (#19809)
  src/DoctrineMigrations/Version20250314114811.php
Due: php

fix accessing graphql schemas (#19806)
  src/Capco/AppBundle/Controller/Site/DeveloperController.php
Due: php

fix csfixer :ahhh: (#19811)
  src/DoctrineMigrations/Version20250314114811.php
Due: php

add participant to response (#19824)
  src/Capco/AppBundle/Entity/Responses/AbstractResponse.php
  src/Capco/AppBundle/Form/MediaResponseType.php
  src/Capco/AppBundle/Form/ValueResponseType.php
  src/DoctrineMigrations/Version20260708160000.php
Due: php

fix ReconcilierTest + add backfill requirement (#19825)
  src/DoctrineMigrations/Version20260708170000.php
  tests/Service/ProposalReconcillierTest.php
Due: php

fix: exclude maker templates from phpunit coverage (#19830)
  phpunit.xml
Due: none

fix: correctly escape chars in python script (#19829)
  infrastructure/deploylib/system.py
Due: none

Remove node_modules folder from prod image (#19765) (#19800)
  .dockerignore
  admin-next/next.config.js
  admin-next/relay.config.js
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/nodejs/run
Due: none
