Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

- Updated date in fixtures -> usage of fixed date to allow exports test
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Opinion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Post.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalSelectionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Reporting.yml
Due: php, backend

- Updated snapshots of exports
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/bp-avec-vote-classement_selection-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_depot-avec-vote.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_realisation.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection-a-venir.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/budget-participatif-rennes_vainqueur.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_collecte-des-propositions-1.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_depot-ferme.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_selection-avec-vote-simple.csv
  features/commands/__snapshots__/project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement_collecte-des-propositions-pour-la-capcobeer.csv
  features/commands/__snapshots__/project-pour-la-force-visible-par-mauriau-seulement_collecte-des-propositions-pour-la-force.csv
  features/commands/__snapshots__/projet-avec-une-etape-de-participation-en-continue_collecte-avec-vote-simple-limite-1.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/commands/__snapshots__/qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_collecte-des-propositions-pour-conquerir-le-monde.csv
  features/commands/__snapshots__/un-avenir-meilleur-pour-les-nains-de-jardins-custom-access_collecte-des-propositions-liberer-les-nains-de-jardin.csv
  features/commands/export.feature
Due: none

- Updated wrong date in tests
  features/commands/consumers/opinion.feature
Due: none

- Updated graphql tests
  features/graphql/mutations/removeCommentVote.feature
  features/graphql/query/events.feature
  features/graphql/query/proposalOrder.feature
  features/graphql/query/proposal_followers.feature
  features/graphql/query/step_contributors.feature
  features/graphql/types/consultation/consultation_viewerUnpublishedOpinions.feature
  features/graphql/types/consultation/consultations.feature
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Opinion.yml
Due: php, backend

- Fixed notifyFollower test and javascript front tests
  features/commands/notifyFollowers.feature
  features/front/proposals.feature
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: backend

- Fixed proposal number
  features/front/proposals.feature
Due: none

- Updated internal graphql schema file after rebase
  schema.internal.graphql
Due: none

- Updated csv snapshots
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/commands/__snapshots__/bp-avec-vote-classement_selection-avec-vote-classement-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_collecte-avec-vote-simple-limite.csv
  features/commands/__snapshots__/budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions-privee.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_depot-avec-vote.csv
  features/commands/__snapshots__/budget-participatif-rennes_fermee.csv
  features/commands/__snapshots__/budget-participatif-rennes_realisation.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection-a-venir.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/budget-participatif-rennes_vainqueur.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_collecte-des-propositions-1.csv
  features/commands/__snapshots__/depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_depot-ferme.csv
  features/commands/__snapshots__/depot-avec-selection-vote-simple_selection-avec-vote-simple.csv
  features/commands/__snapshots__/project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement_collecte-des-propositions-pour-la-capcobeer.csv
  features/commands/__snapshots__/project-pour-la-force-visible-par-mauriau-seulement_collecte-des-propositions-pour-la-force.csv
  features/commands/__snapshots__/projet-avec-une-etape-de-participation-en-continue_collecte-avec-vote-simple-limite-1.csv
  features/commands/__snapshots__/questions-responses_collecte-des-questions-chez-youpie.csv
  features/commands/__snapshots__/questions-responses_selection-de-questions-avec-vote-classement-limite.csv
  features/commands/__snapshots__/qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_collecte-des-propositions-pour-conquerir-le-monde.csv
  features/commands/__snapshots__/un-avenir-meilleur-pour-les-nains-de-jardins-custom-access_collecte-des-propositions-liberer-les-nains-de-jardin.csv
Due: none

- Added support for xlsx file type when comparing files and snapshots
  features/commands/export.feature
  src/Capco/AppBundle/Behat/ExportContext.php
Due: backend

- Updated snapshots
  features/commands/__snapshots__/croissance-innovation-disruption_collecte-des-avis.csv
  features/commands/__snapshots__/projet-de-loi-renseignement_elaboration-de-la-loi.csv
  features/commands/__snapshots__/projet-vide_projet.csv
  features/commands/__snapshots__/strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  features/commands/__snapshots__/transformation-numerique-des-relations_ma-futur-collecte-de-proposition.csv
  features/commands/__snapshots__/users.csv
Due: none

- Refactored mutate methods to take in account mutation of data : Fixes #6153
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/GraphQL/ConnectionTraversor.php
Due: graphql, php, backend

- Added first unit tests for ConnectionTraversor
  spec/Capco/AppBundle/GraphQL/ConnectionTraversorSpec.php
  src/Capco/AppBundle/GraphQL/ConnectionTraversor.php
Due: graphql, php, backend

- Removed var_dump
  spec/Capco/AppBundle/GraphQL/ConnectionTraversorSpec.php
Due: none

- Reword function name
  spec/Capco/AppBundle/GraphQL/ConnectionTraversorSpec.php
Due: none

- 🚧 wip Traverse method and fixed pagination problem in export:consultation command : fixes #6586
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/GraphQL/ConnectionTraversor.php
Due: graphql, php, backend

- Fixed traverse method
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/GraphQL/ConnectionTraversor.php
Due: graphql, php, backend

- Added short path in ConnectionTraversorSpec
  spec/Capco/AppBundle/GraphQL/ConnectionTraversorSpec.php
Due: none

- Added dependency for tmarsteel/mockery-callable-mock - Added mockable callable for onEdgeTraversed in ConnectionTraversor
  composer.json
  composer.lock
  spec/Capco/AppBundle/GraphQL/ConnectionTraversorSpec.php
Due: none

- Revert "id" to "_id" in tests where we switched to GraphQL globals IDs
  features/graphql/query/events.feature
  features/graphql/query/proposal_followers.feature
  features/graphql/query/step_contributors.feature
Due: none

- Updated fixtures to use constant dates
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Argument.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/User.yml
Due: php, backend

- Added more constant dates in fixtures and update snapshots
  features/commands/__snapshots__/appel-a-projets_collecte-des-propositions-avec-vote-simple.csv
  features/commands/__snapshots__/budget-participatif-rennes_collecte-des-propositions.csv
  features/commands/__snapshots__/budget-participatif-rennes_selection.csv
  features/commands/__snapshots__/croissance-innovation-disruption_collecte-des-avis.csv
  features/commands/__snapshots__/projet-de-loi-renseignement_elaboration-de-la-loi.csv
  features/commands/__snapshots__/strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  features/commands/__snapshots__/users.csv
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ArgumentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/CommentVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/OpinionVersion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/OpinionVersionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/OpinionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Source.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/User.yml
Due: php, backend

- Fixed remind user tests and skipped date cells when comparing exported files to snapshots
  src/Capco/AppBundle/Behat/ExportContext.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/User.yml
Due: php, backend

increase request_terminate_timeout in order to accept bigger step contributors export
  infrastructure/services/remote/php-fpm/fpm.conf
Due: none

Fix comment option visibility
  infrastructure/services/remote/php-fpm/fpm.conf
  src/Capco/AdminBundle/Admin/OpinionTypeAdmin.php
  src/Capco/AdminBundle/Resources/config/admin.yml
Due: php, backend

[6559-RESTRICTED] Fix behat tests.
  features/front/project.feature
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/OpinionTypeAdmin.php
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AppBundle/Controller/Site/SearchController.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/MultipleChoiceQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/PreviewQuery.types.yml
Due: graphql, php, backend

Merge pull request #6615 from cap-collectif/6609-fix-export-onflytimeoute
  features/front/project.feature
  infrastructure/services/remote/php-fpm/fpm.conf
  schema.internal.graphql
  src/Capco/AppBundle/Controller/Site/SearchController.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/MultipleChoiceQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/PreviewQuery.types.yml
Due: graphql, php, backend

#6605 - fix sitemap
  app/config/config.yml
  src/Capco/AppBundle/Controller/Site/SitemapsController.php
Due: php, backend

#6605 - Add test on sitemap
  features/api/sitemap.feature
  src/Capco/AppBundle/Behat/ApiContext.php
Due: backend

Merge pull request #6616 from cap-collectif/6605-bug-from-sentry
  app/config/config.yml
  features/api/sitemap.feature
  src/Capco/AppBundle/Behat/ApiContext.php
  src/Capco/AppBundle/Controller/Site/SitemapsController.php
Due: php, backend

[HOTFIX-PROJECTS] Fix url Filter on /projects.
  app/Resources/js/components/Project/List/ProjectListFilter.js
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
Due: php, jest, flow, backend, frontend

[HOTFIX-PROJECTS] Connect children of filter type projects.
  app/Resources/js/components/Project/List/ProjectListFilter.js
  app/Resources/js/components/Project/List/ProjectListFilterTypes.js
  app/Resources/js/components/Project/List/ProjectListFilterTypesContainer.js
Due: jest, flow, frontend

Merge pull request #6599 from cap-collectif/hotfix-projects-filter-url
  app/Resources/js/components/Project/List/ProjectListFilter.js
  app/Resources/js/components/Project/List/ProjectListFilterTypes.js
  app/Resources/js/components/Project/List/ProjectListFilterTypesContainer.js
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
Due: php, jest, flow, backend, frontend

[6626-FIX] Fix themes page filtered.
  app/Resources/js/components/Project/List/ProjectsList.js
  app/Resources/js/startup/ProjectsListAppClient.js
  src/Capco/AppBundle/Controller/Site/ThemeController.php
  src/Capco/AppBundle/Resources/views/Theme/show.html.twig
Due: php, jest, flow, backend, frontend

6502-[Feat] Remove author for last modification on proposal list view (#6526)
  app/Resources/js/components/Project/List/ProjectsList.js
  app/Resources/js/components/Proposal/List/ProposalListTable-test.js
  app/Resources/js/components/Proposal/List/ProposalListTable.js
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListTable-test.js.snap
  app/Resources/js/startup/ProjectsListAppClient.js
  src/Capco/AppBundle/Controller/Site/ThemeController.php
  src/Capco/AppBundle/Resources/views/Theme/show.html.twig
Due: php, jest, flow, backend, frontend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
