Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

[PROJECT_ADMIN] - Gestion du rôle PROJECT_ADMIN dans le BO (#12878)
  __snapshots__/exports/legacyUsers.csv
  __snapshots__/exports/participants_debat-du-mois_pour-ou-contre-le-reconfinement.csv
  __snapshots__/exports/participants_debat-sur-le-cannabis_pour-ou-contre-la-legalisation-du-cannabis.csv
  __snapshots__/exports/users.csv
  config/packages/security.yaml
  features/graphql-api/internal/Query/Query_userInvitations.js
  features/graphql-api/internal/Query/__snapshots__/Query_userInvitations.js.snap
  features/graphql-api/internal/mutation/inviteUsers.js
  fixtures/Dev/User.yaml
  fixtures/Dev/UserInvite.yaml
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModal.reducer.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModalStepChooseRole.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModalStepSendingConfirmation.js
  frontend/js/components/Admin/UserInvite/UserInviteList.js
  frontend/js/components/Admin/UserInvite/UserInviteList.relay.js
  frontend/js/components/Form/SelectUserRole.js
  frontend/js/components/User/Admin/UserAdminAccount.js
  frontend/js/mutations/InviteUserMutation.js
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/UserAdmin.php
  src/Capco/AdminBundle/Resources/views/User/roles_list_field.html.twig
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
  src/Capco/AppBundle/Controller/Api/UsersController.php
  src/Capco/AppBundle/Entity/UserInvite.php
  src/Capco/AppBundle/GraphQL/Mutation/InviteUsersMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RegisterMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserRolesTextResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalProjectAffiliation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InviteUsersRole.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InviteUsersInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/UserInvite.types.yaml
  src/Capco/UserBundle/Form/Type/ApiRegistrationFormType.php
  src/DoctrineMigrations/Version20210624082537.php
Due: graphql, php, jest, flow

[12504-RIPFOSREST] rip mon ami (#12865)
  composer.json
  composer.lock
  config/bundles.php
  config/packages/fos_rest.yaml
  config/routes/routing.yaml
  features/api/admin_registration.feature
  features/api/consultation_steps.feature
  features/api/login.feature
  features/api/opinion_types.feature
  features/api/proposals.feature
  features/api/sitemap.feature
  features/api/source_categories.feature
  features/api/statuses.feature
  frontend/js/actions/SourceActions.js
  frontend/js/actions/UserActions.js
  frontend/js/components/User/EmailNotConfirmedAlert.js
  frontend/js/components/User/Phone/SmsCodeForm-test.js
  frontend/js/components/User/Phone/SmsCodeForm.js
  frontend/js/components/User/Phone/__snapshots__/SmsCodeForm-test.js.snap
  frontend/js/redux/modules/default.js
  src/Capco/AppBundle/Controller/Api/FeaturesController.php
  src/Capco/AppBundle/Controller/Api/LocaleController.php
  src/Capco/AppBundle/Controller/Api/OpinionTypesController.php
  src/Capco/AppBundle/Controller/Api/OpinionsController.php
  src/Capco/AppBundle/Controller/Api/ProjectsController.php
  src/Capco/AppBundle/Controller/Api/ProposalFormsController.php
  src/Capco/AppBundle/Controller/Api/ProposalsController.php
  src/Capco/AppBundle/Controller/Api/SourceCategoriesController.php
  src/Capco/AppBundle/Controller/Api/StatusesController.php
  src/Capco/AppBundle/Controller/Api/SynthesisController.php
  src/Capco/AppBundle/Controller/Api/UsersController.php
  src/Capco/AppBundle/Resolver/Project/ProjectSearchParameters.php
Due: php, jest, flow

[12616-FIXRSINPUTS] fix Social network validation and placeholder (#12882)
  frontend/js/components/Proposal/Admin/ProposalAdminContentForm.js
  frontend/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  frontend/js/components/Proposal/Form/ProposalForm.js
  frontend/js/components/Proposal/Form/__snapshots__/ProposalForm-test.js.snap
  frontend/js/components/User/Profile/Profile.js
  frontend/js/components/Utils/SocialNetworkRegexUtils.js
  frontend/js/services/Validator.js
Due: jest, flow

[12893-FIX] fix default list when sending mail (#12894)
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php

[12746-IDF] load all proposals (#12824)
  frontend/js/components/Admin/Project/Content/ProjectContentAdminForm.js
  frontend/js/components/Admin/Project/ProjectAdminAnalysis.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/IndexContributions/IndexContributions.js
  frontend/js/components/Admin/Project/ProjectAdminParticipantTab/ProjectAdminParticipants/ProjectAdminParticipants.js
  frontend/js/components/Admin/Project/ProjectAdminProposals.js
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminProposals-test.js.snap
  frontend/js/components/DesignSystem/Toast/Toast.js
  frontend/js/components/DesignSystem/Toast/ToastsContainer.js
  frontend/js/components/DesignSystem/Toast/index.js
  frontend/js/dispatchers/enums.js
  frontend/js/stories/UI/Toast/Toasts.stories.js
Due: jest, flow

[12609-BYPASS] bypass shield for unsubscribe (#12900)
  src/Capco/AppBundle/EventListener/ShieldListener.php
Due: php

[12828-RMGOOGLESSO] rm google sso (#12858)
  __snapshots__/exports/legacyUsers.csv
  __snapshots__/rgpd_user_archives/user1/user.csv
  __snapshots__/rgpd_user_archives/user5/user.csv
  __snapshots__/rgpd_user_archives/userAdmin/user.csv
  config/packages/hwi_oauth.yaml
  config/packages/security.yaml
  config/packages/services.yaml
  frontend/js/components/Admin/Authentification/ListPublicSSO.js
  frontend/js/components/Admin/Authentification/__snapshots__/ListPublicSSO-test.js.snap
  frontend/js/components/Ui/Button/LoginSocialButton.js
  frontend/js/components/User/Login/LoginSocialButtons-test.js
  frontend/js/components/User/Login/LoginSocialButtons.js
  frontend/js/components/User/Login/__snapshots__/LoginSocialButtons-test.js.snap
  frontend/js/components/User/Profile/AccountForm-test.js
  frontend/js/components/User/Profile/AccountForm.js
  frontend/js/components/User/Profile/__snapshots__/AccountForm-test.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/Command/CreateCsvFromLegacyUsersCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Enum/AvailableSso.php
  src/Capco/AppBundle/EventListener/ShieldListener.php
  src/Capco/AppBundle/GraphQL/Mutation/BaseDeleteUserMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/AvailableSso.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
  src/Capco/AppBundle/Traits/User/UserSSOTrait.php
  src/Capco/UserBundle/Controller/OauthConnectController.php
  src/Capco/UserBundle/Repository/UserRepository.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/DoctrineMigrations/Version20210623142825.php
Due: graphql, php, jest, flow

[FIX-20210610142134] fix migration (#12903)
  src/DoctrineMigrations/Version20210610142134.php
Due: php

[DEBUG-SSO] add debug (#12890)
  spec/Capco/UserBundle/Security/Core/User/OauthUserProviderSpec.php
  src/Capco/UserBundle/Security/Core/User/OauthUserProvider.php
Due: php

[OPTIONSTRANSLATIONTYPE] handle options in TranslationType (#12901)
  src/Capco/AppBundle/Form/EventListener/TranslationCollectionTypeSubscriber.php
  src/Capco/AppBundle/Form/EventListener/TranslationType.php
  src/Capco/AppBundle/Form/EventListener/TranslationTypeSubscriber.php
  src/Capco/AppBundle/Form/TranslationCollectionType.php
Due: php

Add env var `SYMFONY_SENTRY_LOG_LEVEL` (#12906)
  config/packages/prod/monolog.yaml
  config/services.yaml
Due: none

[12477-SENDER] senderEmail (#12889)
  config/packages/repositories.yaml
  features/graphql/mutation/senderEmail.feature
  features/graphql/query/senderEmails.feature
  fixtures/Benchmark/SenderEmail.yaml
  fixtures/Dev/SenderEmail.yaml
  fixtures/Prod/SenderEmail.yaml
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/Entity/SenderEmail.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/CreateSenderEmailMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/SelectSenderEmailMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Emailing/EmailingCampaignPreviewResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Emailing/EmailingCampaignResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Emailing/MailingListResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Emailing/MailingListUsersConnection.php
  src/Capco/AppBundle/GraphQL/Resolver/Emailing/SenderEmailDomainResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Emailing/SenderEmailResolver.php
  src/Capco/AppBundle/Repository/SenderEmailRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/CreateSenderEmailErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/SelectSenderEmailErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/mailing/CreateSenderEmailDomainInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/mailing/CreateSenderEmailDomainPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/mailing/CreateSenderEmailInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/mailing/CreateSenderEmailPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/mailing/SelectSenderEmailInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/mailing/SelectSenderEmailPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/EmailingCampaign.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/MailingList.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SenderEmail.types.yaml
  src/DoctrineMigrations/Version20210628155900.php
Due: graphql, php

[12477-FIX] fix migration (#12911)
  src/DoctrineMigrations/Version20210628155900.php
Due: php

[FIX-CI] correction de la CI (#12910)
  fixtures/Dev/Source.yaml
  frontend/js/components/Proposal/Page/Donators/ProposalPageDonators.js
  frontend/js/components/Proposal/Page/ProposalPageLogic.js
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPage-test.js.snap
  src/Capco/AppBundle/Behat/Page/OpinionPage.php
Due: jest, flow

[12597-FIX] - Disable project admin checkboxes and behaviour when feature flag disabled (#12908)
  frontend/js/components/Admin/Project/Form/__snapshots__/ProjectAdminForm-test.js.snap
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModalStepChooseRole.js
  frontend/js/components/Form/SelectUserRole.js
  frontend/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  frontend/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  frontend/js/redux/modules/default.js
  frontend/js/types.js
  src/Capco/AppBundle/GraphQL/Mutation/InviteUsersMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RegisterMutation.php
Due: graphql, php, jest, flow

[12643-IMPORT] Ajout de la mutation d'import de proposition par CSV (#12705)
  __snapshots__/exports/legacyUsers.csv
  __snapshots__/rgpd_user_archives/user5/proposals.csv
  __snapshots__/rgpd_user_archives/user5/user.csv
  config/packages/commands.yaml
  config/packages/graphql_mutations.yaml
  config/packages/services.yaml
  features/commands/import.feature
  features/graphql-api/internal/mutation/Proposal/__snapshots__/addProposalsFromCsv.js.snap
  features/graphql-api/internal/mutation/Proposal/addProposalsFromCsv.js
  features/graphql-api/internal/mutation/Proposal/createProposal.js
  features/graphql-api/internal/mutation/Proposal/updateProposal.js
  fixtures/Dev/Media.yaml
  fixtures/Dev/Proposal.yaml
  fixtures/Dev/SimpleQuestion.yaml
  fixtures/files/proposals_idf_bp3.csv
  frontend/js/mutations/AddProposalsFromCsvMutation.js
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/AddProposalsFromCsvMutationSpec.php
  src/Capco/AppBundle/Command/ImportIDFProposalsFromCsvCommand.php
  src/Capco/AppBundle/DataFixtures/Processor/MediaProcessor.php
  src/Capco/AppBundle/Entity/ProposalForm.php
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalsFromCsvMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Question/QuestionTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Response/ResponseResolver.php
  src/Capco/AppBundle/Import/ImportProposalsFromCsv.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ProposalImportsErrorCode.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalAddProposalsFromCsvInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalAddProposalsFromCsvPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalValueResponse.types.yaml
Due: graphql, php, jest, flow

[FIXUNITJS] fix unit-js (#12915)
  frontend/js/components/Comment/__snapshots__/CommentDate-test.js.snap
Due: none

12912 command find duplicates user (#12918)
  __snapshots__/exports/budget-participatif-idf-3_collecte-des-projets-idf-brp-3.csv
  __snapshots__/exports/legacyUsers.csv
  __snapshots__/exports/participants_bp-avec-vote-classement.csv
  __snapshots__/exports/participants_bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  __snapshots__/exports/participants_budget-participatif-idf-3.csv
  __snapshots__/exports/participants_budget-participatif-idf-3_collecte-des-projets-idf-brp-3.csv
  __snapshots__/exports/participants_budget-participatif-idf.csv
  __snapshots__/exports/participants_budget-participatif-idf_collecte-des-projets-idf-privee.csv
  __snapshots__/exports/participants_croissance-innovation-disruption.csv
  __snapshots__/exports/participants_croissance-innovation-disruption_collecte-des-avis.csv
  __snapshots__/exports/participants_debat-du-mois.csv
  __snapshots__/exports/participants_debat-sur-le-cannabis.csv
  __snapshots__/exports/participants_debat-sur-le-cannabis_pour-ou-contre-la-legalisation-du-cannabis.csv
  __snapshots__/exports/participants_debat-wysiwyg.csv
  __snapshots__/exports/participants_debats-sur-la-vie.csv
  __snapshots__/exports/participants_projet-archive.csv
  __snapshots__/exports/participants_projet-avec-administrateur-de-projet.csv
  __snapshots__/exports/participants_projet-avec-administrateur-de-projet_budget-participatif-du-projet-avec-administrateur-de-projet.csv
  __snapshots__/exports/participants_projet-avec-administrateur-de-projet_etape-de-consultation-dans-un-projet-avec-administrateur-de-projet.csv
  __snapshots__/exports/participants_projet-avec-administrateur-de-projet_questionnaire-administrateur-de-projet.csv
  __snapshots__/exports/projet-avec-administrateur-de-projet_budget-participatif-du-projet-avec-administrateur-de-projet.csv
  __snapshots__/rgpd_user_archives/user5/user.csv
  config/packages/commands.yaml
  features/graphql-api/internal/Analytics/__snapshots__/analytics.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_allContributors.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_users.js.snap
  features/graphql/query/allContributions.feature
  features/graphql/query/users.feature
  fixtures/Dev/Proposal.yaml
  fixtures/Dev/User.yaml
  src/Capco/AppBundle/Command/Migrations/FindDuplicatesSsoUsersCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserContributionResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserContributionsCountResolver.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php

[12936-FIX] fix null ProposalSocialNetwork (#12938)
  spec/Capco/AppBundle/GraphQL/Mutation/ProposalMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
Due: graphql, php

12746 fix loop load (#12905)
  frontend/js/components/Admin/Project/Content/ProjectContentAdminForm.js
  frontend/js/components/Admin/Project/ProjectAdminAnalysis.js
  frontend/js/components/Admin/Project/ProjectAdminProposals.js
Due: jest, flow

[12477-UPDATE] updateSiteParameter mutation WIP (#12937)
  features/graphql/mutation/updateSiteParameter.feature
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/UpdateSiteParameterMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/UpdateSiteParameterErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/UpdateSiteParameterKeyname.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateSiteParameterInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateSiteParameterPayload.types.yaml
Due: graphql, php

[12927-FIXARCHIVEDPROJECTOPACITY] add 50 percent opacity in archived … (#12930)
  frontend/js/components/Ui/Project/ProjectCard.js
  frontend/js/components/Ui/Project/__snapshots__/ProjectCard-test.js.snap
Due: jest, flow

[12912-FIX] :facepalm: :confusing: replace saml by openId (#12945)
  src/Capco/AppBundle/Command/Migrations/FindDuplicatesSsoUsersCommand.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php

12643 modal d'upload de propositions (#12750)
  __snapshots__/imports/Budget_Participatif_IdF_3-Collecte_des_projets_Idf_BRP_3_vierge.csv
  __snapshots__/imports/Budget_Participatif_Rennes-Collecte_des_propositions_vierge.csv
  __snapshots__/imports/Collecte_des_propositions_pour_le_budget_2016_de_la_Ville_de_Rennes.csv
  __snapshots__/imports/Formulaire_du_budget_participatif_3_de_l_Idf.csv
  __snapshots__/imports/Formulaire_du_financement_participatif_des_cafetiers.csv
  __snapshots__/imports/Sauvons_nos_cafes-Soutenons_nos_bistros_et_cafes_dans_cette_periode_difficile_vierge.csv
  config/packages/commands.yaml
  config/packages/controllers.yaml
  features/commands/import.feature
  fixtures/Dev/SimpleQuestion.yaml
  frontend/js/components/Admin/Project/ImportButton/ImportButton.js
  frontend/js/components/Admin/Project/ImportButton/ImportProposalsModal.js
  frontend/js/components/Admin/Project/ProjectAdminProposals.js
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminProposals-test.js.snap
  spec/Capco/AppBundle/Entity/ProposalFormSpec.php
  src/Capco/AppBundle/Command/GenerateCSVFromProposalFormCommand.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Entity/ProposalForm.php
  src/Capco/AppBundle/Entity/Steps/SelectionStep.php
Due: php, jest, flow

Configure doctrine metadata cache (#12940)
  config/packages/dev/doctrine.yaml
  config/packages/prod/doctrine.yaml
Due: none

[12815-FIX-RESPONSES] Fix BO responses graph + fix tag cloud terms (#12929)
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions-privee.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire-des-jo-2024.csv
  __snapshots__/rgpd_user_archives/user5/pictures/cafetier.png
  __snapshots__/rgpd_user_archives/user5/pictures/gymnase.jpg
  __snapshots__/rgpd_user_archives/user5/proposals.csv
  __snapshots__/rgpd_user_archives/user5/reports.csv
  features/graphql-api/internal/Project/__snapshots__/Project_proposals.js.snap
  features/graphql-api/internal/Proposal/Proposal_analyst.js
  features/graphql-api/internal/Proposal/Proposal_decision-maker.js
  features/graphql-api/internal/Proposal/Proposal_responses.js
  features/graphql-api/internal/Proposal/Proposal_revisions.js
  features/graphql-api/internal/Proposal/Proposal_supervisor.js
  features/graphql-api/internal/Proposal/Proposal_votes.js
  features/graphql-api/internal/Proposal/__snapshots__/Proposal_analyst.js.snap
  features/graphql-api/internal/Proposal/__snapshots__/Proposal_decision-maker.js.snap
  features/graphql-api/internal/Proposal/__snapshots__/Proposal_responses.js.snap
  features/graphql-api/internal/Proposal/__snapshots__/Proposal_revisions.js.snap
  features/graphql-api/internal/Proposal/__snapshots__/Proposal_supervisor.js.snap
  features/graphql-api/internal/Proposal/__snapshots__/Proposal_votes.js.snap
  features/graphql-api/internal/User/User_opinionVersions.js
  features/graphql-api/internal/User/User_votes.js
  features/graphql-api/internal/User/Viewer_projects.js
  features/graphql-api/internal/User/__snapshots__/User_opinionVersions.js.snap
  features/graphql-api/internal/User/__snapshots__/User_votes.js.snap
  features/graphql-api/preview/Questionnaire/__snapshots__/Questionnaire_replies.js.snap
  features/graphql-api/public/MultipleChoiceQuestion/MultipleChoiceQuestion_responses.js
  features/graphql-api/public/MultipleChoiceQuestion/__snapshots__/MultipleChoiceQuestion_responses.js.snap
  features/graphql/mutation/UpdateReply.feature
  features/graphql/mutation/addReply.feature
  features/graphql/type/questionnaire/questionnaire.feature
  fixtures/Dev/MultipleChoiceQuestion.yaml
  fixtures/Dev/QuestionChoice.yaml
  fixtures/Dev/QuestionnaireAbstractQuestion.yaml
  fixtures/Dev/ValueResponse.yaml
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Normalizer/AbstractResponseNormalizer.php
  src/Capco/AppBundle/Search/ResponseSearch.php
Due: php

[12953-FIX] Do not send notification if admin update a Proposal from BO (#12956)
  spec/Capco/AppBundle/GraphQL/Mutation/ProposalMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
Due: graphql, php

[12955-FIX] force openid_id to be a TEXT (#12966)
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/DoctrineMigrations/Version20210709111117.php
Due: php

[12884-FIXTHEMELINKED] fix getThemes() (#12949)
  spec/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyResponsesResolverSpec.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchRabbitMQListener.php
  src/Capco/AppBundle/Elasticsearch/IndexBuilder.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/GraphQL/DataLoader/Question/QuestionJumpsDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Consultation/ConsultationSectionResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyResponsesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionSectionResolver.php
  src/Capco/AppBundle/Resolver/ContributionResolver.php
Due: graphql, php

Add IPGuesser service to unify our IP guessing strategy (#12967)
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/EventListener/AuthenticationHandler.php
  src/Capco/AppBundle/EventListener/AuthenticationListener.php
  src/Capco/AppBundle/EventListener/PriorAuthenticationHandler.php
  src/Capco/AppBundle/GraphQL/Mutation/AddCommentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddReplyMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ContactProposalAuthorMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/SubscribeToEventAsNonRegisteredMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/SubscribeToEventAsRegisteredMutation.php
  src/Capco/AppBundle/Search/Search.php
  src/Capco/AppBundle/Sentry/SentryListener.php
  src/Capco/AppBundle/Utils/IPGuesser.php
  src/Capco/AppBundle/Validator/Constraints/ReCaptchaValidator.php
Due: graphql, php

12614 retours 07 02 (#12928)
  config/packages/swarrot.yaml
  config/rabbitmq.yaml
  frontend/js/components/Admin/Emailing/MailParameter/Parameter/index.js
  frontend/js/components/Admin/Emailing/MailParameter/Parameter/style.js
  infrastructure/services/remote/supervisord/proposal.conf
  src/Capco/AppBundle/CapcoAppBundleMessagesTypes.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/SendEmailingCampaignMutation.php
  src/Capco/AppBundle/Processor/EmailingCampaignProcessor.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, jest, flow

[5442-FIXPROJECTCARDSTEP] fix status card (#12913)
  features/front/features/project.feature
  frontend/js/components/Project/Preview/ProjectPreviewBody-test.js
  frontend/js/components/Project/Preview/ProjectPreviewBody.js
  frontend/js/components/Project/Preview/__snapshots__/ProjectPreviewBody-test.js.snap
  frontend/js/components/Ui/Project/ProjectCard-test.js
  frontend/js/components/Ui/Project/ProjectCard.js
  frontend/js/components/Ui/Project/ProjectCard.utils.js
  frontend/js/components/Ui/Project/__snapshots__/ProjectCard-test.js.snap
  src/Capco/AppBundle/Entity/Project.php
Due: php, jest, flow

[FIX-12083-RESPONSE-INDEXATION] Fix responses indexation. (#12971)
  spec/Capco/AppBundle/Elasticsearch/ElasticsearchDoctrineListenerSpec.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchDoctrineListener.php
Due: php

[12975-FIX-ES-MAPPING] Add option to textValue's subfield of type keyword (#12978)
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
Due: php

[12598-ADMIN] Point de vue admin de projets (#12942)
  config/packages/security.yaml
  config/packages/sonata_admin.yaml
  cypress/integration/admin_projects.spec.ts
  cypress/pages/admin/projects.ts
  cypress/pages/index.ts
  frontend/js/components/Admin/Sidebar/Sidebar-test.js
  frontend/js/components/Admin/Sidebar/Sidebar.js
  frontend/js/components/Admin/Sidebar/__snapshots__/Sidebar-test.js.snap
  frontend/js/components/Navbar/NavbarRight-test.js
  frontend/js/components/Navbar/NavbarRight.js
  frontend/js/components/Navbar/__snapshots__/NavbarRight-test.js.snap
  frontend/js/components/Reply/Form/ReplyCreateFormWrapper-test.js
  frontend/js/redux/modules/user.js
  frontend/js/stories/mocks/users.js
  schema.internal.graphql
  src/Capco/AdminBundle/Action/DashboardAction.php
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
  src/Capco/UserBundle/Entity/User.php
Due: php, jest, flow

DS - Modal multi étape (#12977)
  frontend/js/components/Admin/Dashboard/Sections/SectionContributors/__snapshots__/ModalSectionContributors-test.js.snap
  frontend/js/components/Admin/Dashboard/Sections/SectionPageViews/__snapshots__/ModalSectionPageViews-test.js.snap
  frontend/js/components/Admin/Dashboard/Sections/SectionVisitors/__snapshots__/ModalSectionVisitors-test.js.snap
  frontend/js/components/Admin/Emailing/EmailingParameters/SectionEmailingService/__snapshots__/SectionEmailingService-test.js.snap
  frontend/js/components/Debate/Page/Drawers/__snapshots__/DebateStepPageArgumentsDrawer-test.js.snap
  frontend/js/components/Debate/Page/NotYetStarted/__snapshots__/DebateStepPageNotYetStarted-test.js.snap
  frontend/js/components/DesignSystem/Modal/ModalBody.js
  frontend/js/components/DesignSystem/Modal/ModalFooter.js
  frontend/js/components/DesignSystem/Modal/ModalHeader.js
  frontend/js/components/DesignSystem/ModalSteps/ModalSteps.context.js
  frontend/js/components/DesignSystem/ModalSteps/ModalSteps.d.ts
  frontend/js/components/DesignSystem/ModalSteps/ModalSteps.js
  frontend/js/components/DesignSystem/ModalSteps/ModalStepsBody.d.ts
  frontend/js/components/DesignSystem/ModalSteps/ModalStepsBody.js
  frontend/js/components/DesignSystem/ModalSteps/ModalStepsFooter.d.ts
  frontend/js/components/DesignSystem/ModalSteps/ModalStepsFooter.js
  frontend/js/components/DesignSystem/ModalSteps/ModalStepsFooterBackButton.d.ts
  frontend/js/components/DesignSystem/ModalSteps/ModalStepsFooterBackButton.js
  frontend/js/components/DesignSystem/ModalSteps/ModalStepsFooterContinueButton.d.ts
  frontend/js/components/DesignSystem/ModalSteps/ModalStepsFooterContinueButton.js
  frontend/js/components/DesignSystem/ModalSteps/ModalStepsFooterValidationButton.d.ts
  frontend/js/components/DesignSystem/ModalSteps/ModalStepsFooterValidationButton.js
  frontend/js/components/DesignSystem/ModalSteps/ModalStepsHeader.d.ts
  frontend/js/components/DesignSystem/ModalSteps/ModalStepsHeader.js
  frontend/js/components/DesignSystem/ModalSteps/ModalStepsProgressBar.js
  frontend/js/components/Ui/Primitives/AppBox.type.js
  frontend/js/stories/UI/Modal/ModalSteps.stories.js
  frontend/js/styles/modules/colors.js
Due: jest, flow
