Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

[10396-NOTIFY] notifications analyse (#11212)
  __snapshots__/emails/notifyAnalyst_NewAnalyst.html
  __snapshots__/emails/notifyAnalyst_NewDecisionMaker.html
  __snapshots__/emails/notifyAnalyst_NewSupervisor.html
  __snapshots__/emails/notifyAnalyst_RevokeAnalyst.html
  config/packages/swarrot.yaml
  config/rabbitmq.yaml
  features/commands/consumers/proposal.feature
  infrastructure/services/local/supervisord/proposal.conf
  infrastructure/services/remote/supervisord/proposal.conf
  src/Capco/AppBundle/CapcoAppBundleMessagesTypes.php
  src/Capco/AppBundle/GraphQL/Mutation/AssignAnalystsToProposalsMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AssignDecisionMakerToProposalsMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AssignSupervisorToProposalsMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RevokeAnalystsToProposalsMutation.php
  src/Capco/AppBundle/Mailer/Message/Proposal/Analysis/AssignationMessage.php
  src/Capco/AppBundle/Mailer/Message/Proposal/Analysis/AssignationMultiMessage.php
  src/Capco/AppBundle/Mailer/Message/Proposal/Analysis/UnassignationMessage.php
  src/Capco/AppBundle/Mailer/Message/Proposal/Analysis/UnassignationMultiMessage.php
  src/Capco/AppBundle/Mailer/templates/Proposal/notifyAnalyst.html.twig
  src/Capco/AppBundle/Notifier/AnalysisNotifier.php
  src/Capco/AppBundle/Processor/Proposal/ProposalAssignationProcessor.php
  src/Capco/AppBundle/Processor/Proposal/ProposalRevokeProcessor.php
Due: graphql, php, backend

[11275-FIX] try to fix circle ci (#11286)
  features/front/bp/proposal_votes.feature
  features/front/features/opinion_versions.feature
  frontend/js/components/Proposal/Vote/ProposalVoteButton.js
  frontend/js/components/Proposal/Vote/__snapshots__/ProposalVoteButton-test.js.snap
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: backend

[11273-FIX] fix path of storybook. (#11283)
  frontend/js/stories/core/list/PickableList-stories.js
Due: none

9595 vote minimum frontend (#11203)
  features/front/bp/proposal_votes.feature
  flow-typed/npm/react-bootstrap_vx.x.x.js
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.js
  frontend/js/components/Admin/Project/Step/StepVotesFields.js
  frontend/js/components/Project/Votes/ProposalUserVoteItem-test.js
  frontend/js/components/Project/Votes/ProposalUserVoteItem.js
  frontend/js/components/Project/Votes/ProposalUserVoteItem2.js
  frontend/js/components/Project/Votes/ProposalsUserVotes.style.js
  frontend/js/components/Project/Votes/ProposalsUserVotesPage.js
  frontend/js/components/Project/Votes/ProposalsUserVotesStep.js
  frontend/js/components/Project/Votes/ProposalsUserVotesTable.js
  frontend/js/components/Project/Votes/VoteMinAlert.js
  frontend/js/components/Project/Votes/__snapshots__/ProposalUserVoteItem-test.js.snap
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPage-test.js.snap
  frontend/js/components/Proposal/Vote/ProposalVoteBasketWidget-test.js
  frontend/js/components/Proposal/Vote/ProposalVoteBasketWidget.js
  frontend/js/components/Proposal/Vote/ProposalVoteModal.js
  frontend/js/components/Proposal/Vote/__snapshots__/ProposalVoteBasketWidget-test.js.snap
  frontend/js/components/Proposal/Vote/__snapshots__/ProposalVoteModal-test.js.snap
  frontend/js/components/Ui/DragnDrop/Item/Item.js
  frontend/js/components/Ui/DragnDrop/Item/Item.style.js
  frontend/js/components/Ui/DragnDrop/List/List.style.js
  frontend/js/components/Ui/Form/InputRequirement.js
  frontend/js/components/Ui/Icons/Icon.js
  frontend/js/components/Ui/Icons/index.js
  frontend/js/components/Ui/Icons/svg/budget.svg
  frontend/js/components/Ui/Icons/svg/urne.svg
  frontend/js/components/Ui/Icons/svg/vote.svg
  frontend/js/components/Utils/withColors.js
  frontend/js/mutations/AddProposalVoteMutation.js
  frontend/js/mutations/RemoveProposalVoteMutation.js
  src/Capco/AppBundle/Behat/Page/CollectPage.php
  src/Capco/AppBundle/Behat/Page/ProjectUserVotesPage.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  src/Capco/AppBundle/Resources/views/Default/user_thumbnail.html.twig
  src/Capco/AppBundle/Resources/views/Opinion/opinion_body.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_user_votes.html.twig
  src/Capco/AppBundle/Twig/ParametersRuntime.php
  src/Resources/scss/modules/_proposal.scss
Due: php, backend

11025 geoloc and loading proposal (#11287)
  frontend/js/components/Form/Address/Address.js
  frontend/js/components/Page/ProposalsDisplayMap-test.js
  frontend/js/components/Page/ProposalsDisplayMap.js
  frontend/js/components/Page/__snapshots__/ProposalsDisplayMap-test.js.snap
  frontend/js/components/Proposal/List/ProposalList.js
  frontend/js/components/Proposal/Map/LeafletControl.js
  frontend/js/components/Proposal/Map/ProposalLeafletMap-test.js
  frontend/js/components/Proposal/Map/ProposalLeafletMap.js
  frontend/js/components/Proposal/Map/ProposalLeafletMap.style.js
  frontend/js/components/Proposal/Map/ProposalMapLoaderPane-test.js
  frontend/js/components/Proposal/Map/ProposalMapLoaderPane.js
  frontend/js/components/Proposal/Map/__snapshots__/ProposalLeafletMap-test.js.snap
  frontend/js/components/Proposal/Map/__snapshots__/ProposalMapLoaderPane-test.js.snap
  frontend/js/components/Ui/Icons/Icon.js
  frontend/js/components/Ui/Icons/index.js
  frontend/js/components/Ui/Icons/svg/removeCircle.svg
  frontend/js/components/Ui/Icons/svg/wifiOff.svg
  src/Resources/scss/modules/_leaflet.scss
Due: php, backend

Add inca stress test (#11190)
  .flowconfig
Due: none

[11244-FIX] fix custom code on event (#11246)
  frontend/js/components/Event/Form/EventForm.js
  frontend/js/components/Event/Form/EventFormPage.js
Due: none

Fixes on votes min backend for exports and user counters (#11218)
  __snapshots__/exports/projet-pour-consolider-les-exports_etape-de-depot-des-exports.csv
  features/graphql-api/internal/proposal/Proposal_votes.js
  features/graphql-api/internal/proposal/__snapshots__/Proposal_votes.js.snap
  features/graphql-api/internal/user/User_votes.js
  features/graphql-api/internal/user/__snapshots__/User_votes.js.snap
  fixtures/Dev/ProposalCollectVote.yaml
  infrastructure/deploylib/system.py
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Dataloader/Proposal/ProposalVotesDataLoaderSpec.php
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalVotesDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalVotesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserVotesResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
  src/Capco/AppBundle/Search/VoteSearch.php
  src/Capco/UserBundle/Resources/views/Profile/show.html.twig
Due: graphql, php, backend

[11160-INVITATION] Integration signup page invitation (#11168)
  .eslintrc.js
  .flowconfig
  __mocks__/file.js
  __snapshots__/emails/userInvitation.html
  frontend/js/components/User/Invitation/UserInvitationPage.js
  frontend/js/components/User/Invitation/UserInvitationPage.style.js
  frontend/js/components/User/Invitation/UserInvitationPage.styles.js
  frontend/js/startup/UserInvitationPageApp.js
  frontend/js/stories/capcollectif/EventPreview-stories.js
  frontend/js/stories/capcollectif/ProjectEventPreview-stories.js
  ide.config.js
  jest.config.js
  public/image/pattern-triangle.png
  src/Capco/AppBundle/Mailer/Message/UserInvite/UserInviteNewInvitation.php
  src/Capco/AppBundle/Mailer/templates/UserInvite/newInvitation.html.twig
  src/Capco/AppBundle/Resources/views/User/invitation.html.twig
  webpack/webpack.client.js
Due: php, backend

[FIX-11290] Fix decisions/assessments export (#11296)
  __snapshots__/exports/project-project-analyse-decision.csv
  src/Capco/AppBundle/Command/ExportAnalysisCSVCommand.php
Due: php, backend

[10401-NOTIFY] notifiy analysts on update/delete (#11284)
  __snapshots__/emails/notifyAnalyst_deleteProposal
  __snapshots__/emails/notifyAnalyst_updateProposal
  features/commands/consumers/proposal.feature
  features/graphql/mutation/deleteProposal.feature
  spec/Capco/AppBundle/GraphQL/Mutation/ProposalMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteProposalMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/Mailer/Message/Proposal/Analysis/ProposalDeleteMessage.php
  src/Capco/AppBundle/Mailer/Message/Proposal/Analysis/ProposalUpdateMessage.php
  src/Capco/AppBundle/Mailer/templates/Proposal/notifyAnalystOnUpdate.html.twig
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
  src/Capco/AppBundle/Processor/Proposal/ProposalDeleteProcessor.php
  src/Capco/AppBundle/Processor/Proposal/ProposalUpdateProcessor.php
Due: graphql, php, backend

[11294-FIX] fix anonymous in export (#11301)
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalVoteAuthorResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposalVote.types.yaml
Due: graphql, php, backend

[10401-FIX] my bad (#11310)
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
Due: graphql, php, backend

marche (#11312)
  frontend/js/app.js
  package.json
  yarn.lock
Due: none

[11306-QUERY] Ask query geolocation only onClick (#11308)
  frontend/js/components/Form/Address/Address.js
Due: none

clean some useless polyfills (#11315)
  frontend/js/app.js
  jest-setup.e2e.js
Due: none

change votes by default (#11318)
  frontend/js/components/Project/Votes/ProposalsUserVotesPage.js
Due: none

[11160-SIGNUP] Fix size logo on UserInvitationPage (#11316)
  frontend/js/components/User/Invitation/UserInvitationPage.js
  frontend/js/components/User/Invitation/UserInvitationPage.style.js
  frontend/js/startup/UserInvitationPageApp.js
  public/image/pattern-triangle.png
  src/Capco/AppBundle/Resources/views/User/invitation.html.twig
Due: php, backend

[11323-FIX] Fix z-index options select (#11324)
  frontend/js/components/Form/Address/Address.style.js
  frontend/js/components/Proposal/Map/ProposalLeafletMap.js
  frontend/js/components/Proposal/Map/__snapshots__/ProposalLeafletMap-test.js.snap
  frontend/js/components/ProposalForm/Section/SectionDisplayMode/SectionDisplayMode.js
  frontend/js/components/ProposalForm/Section/SectionDisplayMode/SectionDisplayMode.style.js
  frontend/js/components/ProposalForm/Section/SectionDisplayMode/__snapshots__/SectionDisplayMode-test.js.snap
  frontend/js/components/Ui/Form/Select/Select.js
Due: none

[FIX-CORE] Fix test e2e core-user (#11329)
  features/front/user/invitation.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
Due: backend

[INTE-PC] Inté component P&C (#11325)
  frontend/js/components/InteClient/HomeHeader/HomeHeader.js
  frontend/js/components/InteClient/HomeHeader/HomeHeader.style.js
  frontend/js/components/InteClient/ImageSlider/ImageSlider.js
  frontend/js/components/InteClient/ImageSlider/ImageSlider.style.js
  frontend/js/components/Ui/Icons/Icon.js
  frontend/js/components/Ui/Icons/index.js
  frontend/js/components/Ui/Icons/svg/arrowRight.svg
  frontend/js/components/Ui/Icons/svg/bubble-o.svg
  frontend/js/components/Ui/Icons/svg/calendar-o.svg
  frontend/js/components/Ui/Icons/svg/clock-o.svg
  frontend/js/components/Ui/Icons/svg/debate-o.svg
  frontend/js/components/Ui/Icons/svg/report-o.svg
  frontend/js/components/Ui/Icons/svg/send-o.svg
  frontend/js/components/Ui/Icons/svg/write-o.svg
  frontend/js/registration.js
  frontend/js/startup/HomeHeaderApp.js
  frontend/js/startup/ImageSliderApp.js
  frontend/js/stories/inte-client/HomeHeader-stories.js
  frontend/js/stories/inte-client/ImageSlider-stories.js
  frontend/js/utils/colors/formatColor.js
  frontend/js/utils/colors/hexToRgb.js
  frontend/js/utils/colors/rgbToHsl.js
Due: none

[9595-FIX] invalidate votes when deleting a vote from my votes (#11327)
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProposalVotesMutation.php
Due: graphql, php, backend

[INTE-PC] Inté component P&C (#11333)
  frontend/js/components/InteClient/HomeHeader/HomeHeader.js
  frontend/js/components/InteClient/ImageSlider/ImageSlider.js
  frontend/js/components/InteClient/ImageSlider/ImageSlider.style.js
  frontend/js/stories/inte-client/HomeHeader-stories.js
  frontend/js/stories/inte-client/ImageSlider-stories.js
Due: none

[11311-FIX] fix theme on event (#11321)
  src/Capco/AppBundle/Form/EventType.php
Due: php, backend

[10907] Fix color question type button (#11331)
  frontend/js/components/Form/MultipleRadioButton/MultipleRadioButton-test.js
  frontend/js/components/Form/MultipleRadioButton/__snapshots__/MultipleRadioButton-test.js.snap
  frontend/js/components/Ui/Form/Input/Radio/Radio.js
  frontend/js/components/Ui/Form/Input/Radio/Radio.style.js
  frontend/js/components/Ui/Form/Input/RadioButton/RadioButton-test.js
  frontend/js/components/Ui/Form/Input/RadioButton/RadioButton.js
  frontend/js/components/Ui/Form/Input/RadioButton/__snapshots__/RadioButton-test.js.snap
  frontend/js/stories/core/form/Input-stories.js
  frontend/js/utils/submitQuestion.js
Due: none

Proposal live rolading
  frontend/js/components/Admin/Media/MediaAdminContainer.js
  frontend/js/components/Form/Other/Other.js
  frontend/js/components/Project/List/Filters/ProjectListFilterOrder.js
  frontend/js/components/Proposal/List/ProposalListSearch.js
  frontend/js/components/Proposal/List/__snapshots__/ProposalListSearch-test.js.snap
  frontend/js/components/Ui/Form/Input/ClearableInput/index.js
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: backend

[INTE-PC] Fix inté P&C (#11336)
  frontend/js/components/InteClient/HomeHeader/HomeHeader.js
  frontend/js/components/InteClient/HomeHeader/HomeHeader.style.js
  frontend/js/components/InteClient/ImageSlider/ImageSlider.js
  frontend/js/components/InteClient/ImageSlider/ImageSlider.style.js
  frontend/js/stories/inte-client/HomeHeader-stories.js
  frontend/js/types.js
Due: none

[FIX-SECURITY] Fix 2 security alert. (#11335)
  composer.json
  composer.lock
  package.json
Due: none

[FEAT-7350] Display questionnaire results (#11233)
  features/graphql-api/public/SimpleQuestion/__snapshots__/SimpleQuestion_responses.js.snap
  features/graphql/type/questionnaire/questionnaire.feature
  src/Capco/AppBundle/Command/Elasticsearch/CreateIndexCommand.php
  src/Capco/AppBundle/Command/Elasticsearch/PopulateIndexCommand.php
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Entity/Responses/AbstractResponse.php
  src/Capco/AppBundle/GraphQL/Resolver/Question/QuestionParticipantsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Question/QuestionResponsesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/QuestionChoice/OtherQuestionChoiceResponseResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/QuestionChoice/QuestionChoiceResponseResolver.php
  src/Capco/AppBundle/Normalizer/AbstractResponseNormalizer.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Repository/AbstractResponseRepository.php
  src/Capco/AppBundle/Resources/config/serialization/Questions.AbstractQuestion.yaml
  src/Capco/AppBundle/Resources/config/serialization/Reply.yaml
  src/Capco/AppBundle/Resources/config/serialization/Responses.AbstractResponse.yaml
  src/Capco/AppBundle/Resources/config/serialization/Responses.MediaResponse.yaml
  src/Capco/AppBundle/Search/ContributionSearch.php
  src/Capco/AppBundle/Search/ProjectSearch.php
  src/Capco/AppBundle/Search/ResponseSearch.php
Due: graphql, php, backend

[10415-NOTIFY] notify when analyse is done (#11291)
  __snapshots__/exports/project-budget-participatif-idf-analysis.csv
  __snapshots__/exports/users.csv
  config/packages/swarrot.yaml
  config/rabbitmq.yaml
  features/commands/consumers/proposal.feature
  fixtures/Dev/User.yaml
  infrastructure/services/local/supervisord/proposal.conf
  infrastructure/services/remote/supervisord/proposal.conf
  spec/Capco/AppBundle/GraphQL/Mutation/AnalyseProposalAnalysisMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/EvaluateProposalAssessmentMutationSpec.php
  src/Capco/AppBundle/CapcoAppBundleMessagesTypes.php
  src/Capco/AppBundle/GraphQL/Mutation/AnalyseProposalAnalysisMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeProposalAnalysisMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeProposalAssessmentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeProposalDecisionMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/EvaluateProposalAssessmentMutation.php
  src/Capco/AppBundle/Mailer/Message/Proposal/Analysis/AnalysisPublicationMessage.php
  src/Capco/AppBundle/Mailer/Message/Proposal/Analysis/AssessmentPublicationMessage.php
  src/Capco/AppBundle/Mailer/Message/Proposal/Analysis/DecisionPublicationAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Proposal/Analysis/DecisionPublicationMessage.php
  src/Capco/AppBundle/Mailer/Message/Proposal/Analysis/LastAnalysisPublicationMessage.php
  src/Capco/AppBundle/Mailer/templates/Proposal/analysisPublication.html.twig
  src/Capco/AppBundle/Mailer/templates/Proposal/assessmentPublication.html.twig
  src/Capco/AppBundle/Mailer/templates/Proposal/decisionPublication.html.twig
  src/Capco/AppBundle/Mailer/templates/Proposal/lastAnalysisPublication.html.twig
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
  src/Capco/AppBundle/Processor/Proposal/ProposalAnalyseProcessor.php
Due: graphql, php, backend

adds an outer variable to prevent rerendering (#11338)
  frontend/js/components/Proposal/Map/ProposalLeafletMap.js
  frontend/js/components/Proposal/Map/__snapshots__/ProposalLeafletMap-test.js.snap
Due: none

[FIX-LOCK] Update composer.lock file. (#11348)
  composer.lock
Due: none

[11247-FIX] do not set locale in request if there is no locale (#11347)
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProfileAccountLocaleMutation.php
Due: graphql, php, backend

[11144] Filter theme analysis (#11222)
  frontend/js/components/Admin/Project/ProjectAdminAnalysis.js
  frontend/js/components/Admin/Project/ProjectAdminAnalysisTab.js
  frontend/js/components/Admin/Project/ProjectAdminPage.context.js
  frontend/js/components/Admin/Project/ProjectAdminPage.reducer.js
  frontend/js/components/Admin/Project/ProjectAdminParticipantTab/ProjectAdminParticipants/ProjectAdminParticipants.js
  frontend/js/components/Admin/Project/ProjectAdminProposals-test.js
  frontend/js/components/Admin/Project/ProjectAdminProposals.js
  frontend/js/components/Admin/Project/ProjectAdminProposals.utils-test.js
  frontend/js/components/Admin/Project/ProjectAdminProposals.utils.js
  frontend/js/components/Admin/Project/ProjectAdminProposalsPage.js
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminProposals-test.js.snap
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminProposals.utils-test.js.snap
  frontend/js/components/Analysis/AnalysisDashboardHeader/AnalysisDashboardHeader.js
  frontend/js/components/Analysis/AnalysisFilter/AnalysisFilterTheme.js
  frontend/js/components/Analysis/AnalysisIndexPage/AnalysisIndexPage.js
  frontend/js/components/Analysis/AnalysisPlaceholderdDashboard/Analysis/Header.js
  frontend/js/components/Analysis/AnalysisPlaceholderdDashboard/Contribution/Header.js
  frontend/js/components/Analysis/AnalysisProjectPage/AnalysisProjectPage.context.js
  frontend/js/components/Analysis/AnalysisProjectPage/AnalysisProjectPage.js
  frontend/js/components/Analysis/AnalysisProjectPage/AnalysisProjectPage.reducer.js
  frontend/js/components/Analysis/AnalysisProjectPage/AnalysisProjectPage.utils.js
  frontend/js/components/Analysis/AnalysisProposal/AnalysisProposal.js
  frontend/js/components/Ui/Analysis/FilterTag.js
  frontend/js/components/Ui/Icons/Icon.js
  frontend/js/components/Ui/Icons/index.js
  frontend/js/components/Ui/Icons/svg/bookmark.svg
Due: none

[11151-FIX] try to fix jitsi (#11197)
  __snapshots__/exports/events.csv
  features/front/features/event.feature
  features/graphql-api/public/Query/__snapshots__/Query_events.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_events_review.js.snap
  fixtures/Dev/Event.yaml
  fixtures/Dev/EventTranslation.yaml
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventJitsiTokenResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yaml
Due: graphql, php, backend

Inte component review (#11340)
  frontend/js/components/InteClient/ConsultationStep/ConsultationStepList/ConsultationStepList.js
  frontend/js/components/InteClient/ConsultationStep/ConsultationStepList/ConsultationStepList.style.js
  frontend/js/components/InteClient/DebatePreview/DebatePreviewItem/DebatePreviewItem.js
  frontend/js/components/InteClient/DebatePreview/DebatePreviewItem/DebatePreviewItem.style.js
  frontend/js/components/InteClient/HomeHeader/HomeHeader.js
  frontend/js/components/InteClient/HomeHeader/HomeHeader.style.js
  frontend/js/components/InteClient/ProposalPreview/ProposalPreviewItem/ProposalPreviewItem.js
  frontend/js/components/InteClient/ProposalPreview/ProposalPreviewItem/ProposalPreviewItem.style.js
  frontend/js/stories/inte-client/ConsultationStep-stories.js
  frontend/js/stories/inte-client/DebatePreview-stories.js
  yarn.lock
Due: none

[7760-E2E] Add sso test on behat. (#11322)
  features/graphql-api/internal/Query/__snapshots__/Query_ssoConfigurations.js.snap
  features/sso/france_connect.feature
  features/sso/openid_connect.feature
  fixtures/Dev/Oauth2SSOConfiguration.yaml
  frontend/js/components/Admin/Authentification/Oauth2SSOConfigurationItem.js
  frontend/js/components/Admin/Authentification/__snapshots__/Oauth2SSOConfigurationItem-test.js.snap
  frontend/js/components/Ui/Toggle/Toggle.js
  frontend/js/components/Ui/Toggle/__snapshots__/Toggle-test.js.snap
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Page/AdminShieldConfigurationPage.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
  src/Capco/AppBundle/Behat/Traits/OpenidConnectTrait.php
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Controller/Site/SSOController.php
  src/Capco/UserBundle/Entity/User.php
Due: php, backend

[INTE-LAST] Small fix inte component (#11350)
  frontend/js/components/InteClient/DebatePreview/DebatePreviewItem/DebatePreviewItem.style.js
  frontend/js/components/InteClient/HomeHeader/HomeHeader.style.js
  frontend/js/components/InteClient/ImageSlider/ImageSlider.js
  frontend/js/components/InteClient/ImageSlider/ImageSlider.style.js
  frontend/js/components/InteClient/ProposalPreview/ProposalPreviewItem/ProposalPreviewItem.style.js
  frontend/js/components/InteClient/ProposalPreview/ProposalPreviewList/ProposalPreviewList.style.js
  frontend/js/stories/inte-client/ImageSlider-stories.js
Due: none

[FIX-10409] Fix proposalForm duplication. (#11326)
  src/Capco/AdminBundle/Controller/ProposalFormController.php
  src/Capco/AppBundle/Elasticsearch/IndexationProcessor.php
  src/Capco/AppBundle/Entity/AbstractLogicJumpCondition.php
  src/Capco/AppBundle/Entity/AnalysisConfiguration.php
  src/Capco/AppBundle/Entity/District/ProposalDistrict.php
  src/Capco/AppBundle/Entity/LogicJump.php
  src/Capco/AppBundle/Entity/ProposalForm.php
  src/Capco/AppBundle/Entity/QuestionChoice.php
  src/Capco/AppBundle/Entity/Questionnaire.php
  src/Capco/AppBundle/Entity/Questions/AbstractQuestion.php
  src/Capco/AppBundle/Entity/Questions/MultipleChoiceQuestion.php
  src/Capco/AppBundle/Entity/Questions/QuestionnaireAbstractQuestion.php
  src/Capco/AppBundle/Entity/Status.php
  src/DoctrineMigrations/Version20200922155049.php
Due: php, backend
