Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

[14701-AUTHORABLEINTERFARCE] set somes entities authorable (#14720)
  src/Capco/AppBundle/Entity/Answer.php
  src/Capco/AppBundle/Entity/Debate/DebateAnonymousArgument.php
  src/Capco/AppBundle/Entity/Debate/DebateArgument.php
  src/Capco/AppBundle/Entity/Debate/DebateOpinion.php
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Entity/Interfaces/Authorable.php
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/ProposalRevision.php
  src/Capco/AppBundle/Entity/Reply.php
  src/Capco/AppBundle/Entity/Source.php
  src/Capco/AppBundle/Traits/AuthorableTrait.php
  src/Capco/AppBundle/Traits/HasAuthorTrait.php
Due: php

14701 refacto HasAuthorInterface
  src/Capco/AppBundle/Elasticsearch/ElasticsearchDoctrineListener.php
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Model/HasAuthorInterface.php
  src/Capco/AppBundle/Model/Publishable.php
Due: php

[14132] Fix submit emailing (#14731)
  frontend/js/components/Admin/Emailing/MailParameter/Content/ModalMailTest/ModalMailTest.js
  frontend/js/components/Admin/Emailing/MailParameter/Content/ModalMailTest/__snapshots__/ModalMailTest-test.js.snap
  frontend/js/components/Admin/Emailing/MailParameter/MailParameterPage.js
  frontend/js/components/Admin/Emailing/MailParameter/__snapshots__/MailParameterPage-test.js.snap
  frontend/js/components/Form/Field.js
  frontend/js/components/Form/ReactBootstrapInput.js
Due: jest, flow

update composer.lock (#14737)
  composer.lock
Due: none

[14701-REFACTOAUTHORFIELD] refacto $Author as $author (#14736)
  fixtures/Benchmark/Argument.yaml
  fixtures/Benchmark/Opinion.yaml
  fixtures/Benchmark/ProposalComment.yaml
  fixtures/Dev/Argument.yaml
  fixtures/Dev/EventComment.yaml
  fixtures/Dev/Opinion.yaml
  fixtures/Dev/PostComment.yaml
  fixtures/Dev/ProposalComment.yaml
  fixtures/Dev/Video.yaml
  src/Capco/AdminBundle/Admin/ArgumentAdmin.php
  src/Capco/AdminBundle/Admin/CommentAdmin.php
  src/Capco/AdminBundle/Admin/OpinionAdmin.php
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AdminBundle/Admin/ThemeAdmin.php
  src/Capco/AdminBundle/Admin/VideoAdmin.php
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/Entity/Argument.php
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/Entity/Theme.php
  src/Capco/AppBundle/Entity/Video.php
  src/Capco/AppBundle/Form/ProjectType.php
  src/Capco/AppBundle/Repository/ArgumentRepository.php
  src/Capco/AppBundle/Repository/CommentRepository.php
  src/Capco/AppBundle/Repository/EventCommentRepository.php
  src/Capco/AppBundle/Repository/OpinionRepository.php
  src/Capco/AppBundle/Repository/OpinionTypeRepository.php
  src/Capco/AppBundle/Repository/PostCommentRepository.php
  src/Capco/AppBundle/Repository/ProposalCommentRepository.php
  src/Capco/AppBundle/Repository/VideoRepository.php
  src/Capco/AppBundle/Traits/ContributionRepositoryTrait.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
Due: php

[14701-REFACTOPUBLISHABLE] publishable extends authorable (#14738)
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/Reply.php
  src/Capco/AppBundle/Entity/Source.php
  src/Capco/AppBundle/Model/Publishable.php
Due: php

[14724] Delete tab result on Questionnaire (#14726)
  features/back/project/Alpha/project.feature
  frontend/js/components/Page/QuestionnaireStepPage-test.js
  frontend/js/components/Page/QuestionnaireStepPage.js
  frontend/js/components/Page/__snapshots__/QuestionnaireStepPage-test.js.snap
  frontend/js/components/Questionnaire/QuestionnaireAdminParametersForm-test.js
  frontend/js/components/Questionnaire/QuestionnaireAdminParametersForm.js
  frontend/js/components/Questionnaire/QuestionnaireResults-test.js
  frontend/js/components/Questionnaire/QuestionnaireResults.js
  frontend/js/components/Questionnaire/QuestionnaireStepTabs-test.js
  frontend/js/components/Questionnaire/QuestionnaireStepTabs.js
  frontend/js/components/Questionnaire/__snapshots__/QuestionnaireAdminParametersForm-test.js.snap
  frontend/js/components/Questionnaire/__snapshots__/QuestionnaireResults-test.js.snap
  frontend/js/components/Questionnaire/__snapshots__/QuestionnaireStepTabs-test.js.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Behat/Page/QuestionnairePage.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateQuestionnaireParametersInput.types.yaml
Due: php, jest, flow

14723 refactoring multi step modal (#14730)
  admin-next/components/Domain/__snapshots__/DeleteCustomDomainModal.test.tsx.snap
  admin-next/components/Projects/__snapshots__/ProjectModalCreateProject.test.tsx.snap
  admin-next/components/ProposalForm/__snapshots__/ModalConfirmationDeleteProposal.test.tsx.snap
  admin-next/components/QuestionnaireList/__snapshots__/ModalConfirmationDelete.test.tsx.snap
  admin-next/components/QuestionnaireList/__snapshots__/ModalCreateQuestionnaire.test.tsx.snap
  admin-next/components/SecuredParticipation/SectionIdentificationCodes/ModalStepsCreation/ModalDownloadList.tsx
  admin-next/components/SecuredParticipation/SectionIdentificationCodes/ModalStepsCreation/ModalImportList.tsx
  admin-next/components/SecuredParticipation/SectionIdentificationCodes/ModalStepsCreation/ModalStepsCreation.tsx
  frontend/js/components/Debate/Page/Arguments/__snapshots__/ModalReportArgumentMobile-test.js.snap
  frontend/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  frontend/js/components/Project/Page/__snapshots__/UserGroupModal-test.js.snap
  frontend/js/components/Project/Page/__snapshots__/UserInGroupModal-test.js.snap
  frontend/js/components/Project/Votes/ProposalsUserVotesTable.js
  frontend/js/components/Project/__snapshots__/ProjectHeaderDistrictsList-test.js.snap
  frontend/js/components/Project/__snapshots__/ProjectHeaderThemeList-test.js.snap
  frontend/js/components/Proposal/Vote/ProposalVoteModal.js
  frontend/js/components/Proposal/Vote/ProposalVoteModals/ProposalVoteConfirmationModal.js
  frontend/js/components/Proposal/Vote/ProposalVoteModals/ProposalVoteRequirementsModal.js
  frontend/js/components/Requirements/RequirementsForm.js
  package.json
  yarn.lock
Due: jest, flow

omarDjinn (#14733)
  config/packages/slack.yaml
  config/services.yaml
  infrastructure/services/remote/Dockerfile
  src/Capco/AppBundle/Command/SendEmailingCampaignCommand.php
  src/Capco/AppBundle/Slack/OmarDjinn.php
Due: php

do not use sonata userManager
  config/packages/fos_user.yaml
  src/Capco/UserBundle/Controller/ResettingController.php
  src/Capco/UserBundle/Doctrine/UserManager.php
Due: php

Revert "do not use sonata userManager"
  config/packages/fos_user.yaml
  src/Capco/UserBundle/Controller/ResettingController.php
  src/Capco/UserBundle/Doctrine/UserManager.php
Due: php

Proposal vote modal toast fix bug (#14735)
  features/front/bp/proposal_votes.feature
  frontend/js/components/Proposal/Vote/ProposalVoteModal.js
  frontend/js/redux/modules/proposal.js
Due: jest, flow

remove sonata usermanager (#14740)
  config/packages/fos_user.yaml
  src/Capco/UserBundle/Controller/ResettingController.php
  src/Capco/UserBundle/Doctrine/UserManager.php
Due: php

Filter out votes that are not accounted in analytics dashboard
  src/Capco/AppBundle/Search/AnalyticsSearch.php
Due: php

do not use sonata genders (#14757)
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/PickUsergenderValue.yaml
Due: php

Update snapshots years (#14762)
  frontend/js/components/Comment/__snapshots__/CommentDate-test.js.snap
Due: none

Fix des projets en multilangue ca va casser lol (#14751)
  frontend/js/components/Project/__snapshots__/ProjectStepTabs-test.js.snap
  frontend/js/components/Proposal/Map/ProposalMapPopover.js
  frontend/js/components/Proposal/Map/__snapshots__/ProposalMapPopover-test.js.snap
  frontend/js/components/Proposal/Page/Header/ProposalPageHeader.js
  frontend/js/components/Proposal/Page/Header/__snapshots__/ProposalPageHeader-test.js.snap
  frontend/js/components/Proposal/Preview/DraftProposalPreview.js
  frontend/js/components/Proposal/Preview/ProposalPreviewBody.js
  frontend/js/components/Ui/Project/ProjectHeader.Frise.js
  frontend/js/startup/ProjectStepPageApp.js
  frontend/js/utils/router.js
  translations/routes/routes.en-GB.yaml
Due: jest, flow

fix hide on multi step vote modal (#14760)
  frontend/js/components/Proposal/Vote/ProposalVoteModal.js
Due: jest, flow

send debate invitation to only one user (#14761)
  __snapshots__/emails/email_debate_test.html
  features/commands/debateLaunch.feature
  src/Capco/AppBundle/Command/Debate/DebateInvitationCommand.php
Due: php

Fix back url on /en projects (#14770)
  frontend/js/components/Proposal/Page/Header/ProposalPageHeader.js
Due: jest, flow

add mixed sentiment to civicIA (#14767)
  fixtures/Dev/ValueResponse.yaml
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/CivicIA/CivicIAMassUpdaterSpec.php
  src/Capco/AppBundle/CivicIA/CivicIAMassUpdater.php
  src/Capco/AppBundle/Enum/CivicIASentimentEnum.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/CivicIASentiment.types.yaml
Due: php

remove sonata routing (#14777)
  config/routes/routing.yaml
  src/Capco/UserBundle/Resources/views/Block/account.html.twig
  src/Capco/UserBundle/Resources/views/ChangePassword/changePassword.html.twig
Due: php

constraint phone to only confirmed phone (#14775)
  features/graphql-api/internal/mutation/updateProfilePersonalData.js
  src/Capco/AppBundle/Validator/Constraints/CheckPhoneNumberValidator.php
Due: php

remove more sonata routes (#14781)
  config/routes/routing.yaml
Due: none

remove sonata UserManager in admin (#14750)
  config/packages/admin.yaml
  config/packages/sonata_admin.yaml
  src/Capco/AdminBundle/Admin/LocaleAdmin.php
  src/Capco/AdminBundle/Admin/MapTokenAdmin.php
  src/Capco/AdminBundle/Admin/RedirectAdmin.php
  src/Capco/AdminBundle/Admin/UserAdmin.php
  src/Capco/AdminBundle/Controller/RedirectController.php
Due: php

fix: broken dependency apc (#14789)
  infrastructure/services/local/Dockerfile
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remotev2/Dockerfile
Due: none

remove questionnaire from step if questionnaire is removed (#14764)
  admin-next/components/QuestionnaireList/ModalConfirmationDelete.tsx
  admin-next/components/QuestionnaireList/__snapshots__/ModalConfirmationDelete.test.tsx.snap
  frontend/js/components/Admin/Project/Steps/ProjectStepAdmin.js
  spec/Capco/AppBundle/GraphQL/Mutation/DeleteQuestionnaireMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteQuestionnaireMutation.php
Due: graphql, php, jest, flow

[14533] Update storybook dependencies (#14793)
  .yarnclean
  package.json
  yarn.lock
Due: none

fix range validation in analysis questionnaire (#14769)
  frontend/js/components/Proposal/Analysis/ProposalAnalysisFormPanel.js
Due: jest, flow

[14533] Update jest dependency (#14796)
  .flowconfig
  admin-next/jest-setup.ts
  jest-setup.e2e.js
  jest.config.js
  jest.resolver.js
  package.json
  yarn.lock
Due: none

Updates capco ui to 1.5.1 and form to 0.4.0 (#14788)
  package.json
  yarn.lock
Due: none

[14234] Pas d'étape de dépôt => pas d'étape de sélection (#14765)
  frontend/js/components/Admin/Project/Steps/ProjectStepAdmin-test.js
  frontend/js/components/Admin/Project/Steps/ProjectStepAdmin.js
  frontend/js/components/Admin/Project/Steps/ProjectStepAdminItemStep-test.js
  frontend/js/components/Admin/Project/Steps/ProjectStepAdminItemStep.js
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdmin-test.js.snap
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdminItemStep-test.js.snap
  frontend/js/constants/StepTypeConstants.js
  frontend/js/mutations/FollowProjectDistrict.js
  frontend/js/mutations/UnfollowProjectDistrictMutation.js
Due: jest, flow

[14533] Update resolutions of relay dependencies (#14798)
  admin-next/package.json
  package.json
  yarn.lock
Due: none

[14533] Fix some resolutions dependencies (#14800)
  package.json
  yarn.lock
Due: none

[14783] Fix width label bar questionnaire result (#14784)
  frontend/js/components/Questionnaire/QuestionnaireAdminResultsBarChart.js
  frontend/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsBarChart-test.js.snap
Due: jest, flow

[14533] Remove dependencies & update some (#14804)
  babel.config.js
  flow-typed/npm/redux-form-storybook_vx.x.x.js
  frontend/js/components/Navbar/__snapshots__/NavbarRight-test.js.snap
  frontend/js/components/Proposal/Admin/__snapshots__/ProposalAdminSelections-test.js.snap
  frontend/js/components/ProposalForm/__snapshots__/ProposalFormAdminConfigurationForm-test.js.snap
  frontend/js/components/Ui/TabsBar/__snapshots__/TabsBarDropdown-test.js.snap
  frontend/js/stories/core/form/InputRequirement-stories.js
  package.json
  yarn.lock
Due: jest, flow

more logs (#14808)
  src/Capco/AppBundle/Command/ImportIDFProposalsFromCsvCommand.php
  src/Capco/AppBundle/Import/ImportProposalsFromCsv.php
Due: php

replace sonata/user-bundle by fos/user-bundle v3 (#14786)
  composer.json
  composer.lock
  config/bundles.php
  config/packages/controllers.yaml
  config/packages/fos_user.yaml
  config/packages/sonata.yaml
  spec/Capco/UserBundle/Controller/ConfirmationControllerSpec.php
  src/Capco/UserBundle/CapcoUserBundle.php
  src/Capco/UserBundle/Controller/ConfirmationController.php
  src/Capco/UserBundle/Controller/ResettingController.php
  src/Capco/UserBundle/Entity/AbstractUser.php
  src/Capco/UserBundle/Entity/Group.php
  src/Capco/UserBundle/Resources/config/doctrine/Group.orm.xml
  src/Capco/UserBundle/Security/Core/User/UserEmailProvider.php
Due: php

[14533] Update cypress dependency (#14807)
  cypress/cypress.ci.json
  cypress/cypress.development.json
  cypress/cypress.json
  cypress/package.json
  yarn.lock
Due: none

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
