Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

6482-USER fix edit user
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Proposal/Form/__snapshots__/ProposalForm-test.js.snap
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
  app/config/config.yml
  infrastructure/services/builder/build.sh
  infrastructure/services/remote/Dockerfile
  schema.internal.graphql
  schema.preview.graphql
  schema.public.graphql
  src/Capco/AppBundle/GraphQL/Mutation/DeleteAccountMutation.php
Due: graphql, php, jest, flow, backend, frontend

6499-[Bug] suggest header translation for question (#6528)
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Proposal/Form/__snapshots__/ProposalForm-test.js.snap
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
  app/config/config.yml
  infrastructure/services/builder/build.sh
  infrastructure/services/remote/Dockerfile
  schema.internal.graphql
  schema.preview.graphql
  schema.public.graphql
  src/Capco/AppBundle/GraphQL/Mutation/DeleteAccountMutation.php
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6529 from cap-collectif/6482-user-edit
  src/Capco/AppBundle/GraphQL/Mutation/DeleteAccountMutation.php
Due: graphql, php, backend

6508-FIX fix resolver comment status (#6531)
  schema.internal.graphql
  schema.preview.graphql
  schema.public.graphql
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/Comment/CommentPublicationStatusResolver.php
Due: graphql, php, backend

[CHG] line height for opinion title (#6532)
  app/Resources/js/components/Consultation/Section.js
  app/Resources/js/components/Consultation/__snapshots__/Section-test.js.snap
  app/Resources/scss/modules/_opinion.scss
Due: jest, flow, frontend

Use different fragment for back and front end (#6525)
  app/Resources/js/components/Admin/RegistrationFormQuestions.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminNotationForm.js
  app/Resources/js/components/ProposalForm/ProposalFormAdminConfigurationForm.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminConfigurationForm.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsBarChart.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsPieChart.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResultsRanking.js
  app/Resources/js/utils/responsesHelper.js
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Question/QuestionQuestionChoicesResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/MultipleChoiceQuestion.types.yml
Due: graphql, php, jest, flow, backend, frontend

Fix GraphQL diff (#6534)
  composer.json
  composer.lock
  features/graphql/mutations/updateProposalForm.feature
  features/graphql/mutations/updateQuestionnaire.feature
  features/graphql/types/questionChoice/choice_ranking.feature
  features/graphql/types/questionChoice/choice_responses.feature
  infrastructure/deploylib/qa.py
  infrastructure/environments/base.yml
  package.json
  schema.internal.graphql
  schema.preview.graphql
  schema.public.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Contribution.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/interfaces/Publishable.types.yml
Due: php, backend

Do not navigate to an extra page to set cookie, if browser is already started.
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/Utils/Text.php
Due: php, backend

Fix maximizing window
  infrastructure/environments/base.yml
  src/Capco/AppBundle/Behat/ApplicationContext.php
Due: backend

Remove duplicate waiting step
  features/api/synthesis.feature
  src/Capco/AppBundle/Behat/ApiContext.php
Due: backend

Rename behat profiles and suites to match new usecases
  behat.yml
  infrastructure/deploylib/qa.py
Due: none

Remove usage of @javascript in all *.feature
  features/back/proposal-form.feature
  features/back/proposal.feature
  features/back/user.feature
  features/front/arguments.feature
  features/front/blog.feature
  features/front/choose_username.feature
  features/front/confirmation.feature
  features/front/contact.feature
  features/front/email.feature
  features/front/event.feature
  features/front/event_registration.feature
  features/front/login.feature
  features/front/moderation.feature
  features/front/newsletter.feature
  features/front/notifications.feature
  features/front/opinion_versions.feature
  features/front/opinions.feature
  features/front/profile.feature
  features/front/project.feature
  features/front/proposal_evaluations.feature
  features/front/proposal_follow.feature
  features/front/proposal_votes.feature
  features/front/proposals.feature
  features/front/proposals_comment.feature
  features/front/questionnaire.feature
  features/front/registration.feature
  features/front/rgpd.feature
  features/front/search.feature
  features/front/shield.feature
  features/front/sources.feature
  features/front/stats.feature
  features/front/synthesis.feature
Due: none

Use homepage
  behat.yml
  infrastructure/deploylib/qa.py
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/UserContext.php
Due: backend

Add an exception in case of failure for clearing storage
  src/Capco/AppBundle/Behat/ApplicationContext.php
Due: backend

fix trad key to notify admin about new comment
  features/commands/consumers/comment.feature
  nohup.out
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/Mailer/Message/Comment/CommentCreateAdminAnonymousMessage.php
  src/Capco/AppBundle/Mailer/Message/Comment/CommentCreateAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Comment/CommentCreateAuthorAnonymousMessage.php
  src/Capco/AppBundle/Mailer/Message/Comment/CommentCreateAuthorMessage.php
  src/Capco/AppBundle/Mailer/Message/Comment/CommentUpdateAdminAnonymousMessage.php
  src/Capco/AppBundle/Mailer/Message/Comment/CommentUpdateAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalAknowledgeMessage.php
  src/Capco/AppBundle/Notifier/CommentNotifier.php
Due: php, backend

[5890-FILTER] Rework project preview and list.
  app/Resources/js/components/Project/List/ProjectListFilter.js
  app/Resources/js/components/Project/List/ProjectListFilterTypes.js
  app/Resources/js/components/Project/List/ProjectListView.js
  app/Resources/js/components/Project/List/ProjectListViewPaginated.js
  app/Resources/js/components/Project/List/ProjectsList-test.js
  app/Resources/js/components/Project/List/ProjectsList.js
  app/Resources/js/components/Project/List/__snapshots__/ProjectsList-test.js.snap
  app/Resources/js/components/Project/Page/ProjectListPage.js
  app/Resources/js/components/Project/Preview/ProjectCover.js
  app/Resources/js/components/Project/Preview/ProjectImage.js
  app/Resources/js/components/Project/Preview/ProjectPreview-test.js
  app/Resources/js/components/Project/Preview/ProjectPreview.js
  app/Resources/js/components/Project/Preview/ProjectPreviewBody-test.js
  app/Resources/js/components/Project/Preview/ProjectPreviewBody.js
  app/Resources/js/components/Project/Preview/ProjectPreviewCounters.js
  app/Resources/js/components/Project/Preview/ProjectPreviewThemes.js
  app/Resources/js/components/Project/Preview/ProjectType-test.js
  app/Resources/js/components/Project/Preview/ProjectType.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreview-test.js.snap
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewBody-test.js.snap
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectType-test.js.snap
Due: jest, flow, frontend

[5890-FILTER] Add GraphQL queries.
  src/Capco/AppBundle/Resources/config/graphql/ProjectLinks.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ProjectOrder.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ProjectOrderField.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ProjectPreviewConnection.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ProjectStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ProjectType.types.yml
  src/Capco/AppBundle/Resources/config/graphql/StepStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/ProposalStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Step.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Project.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/union/ProposalVotableStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/PreviewQuery.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: php, backend

[5890-FILTER] Add Graphql enum & resolver.
  src/Capco/AppBundle/Enum/ProjectStatus.php
  src/Capco/AppBundle/Enum/StepStatus.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectAuthorsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectTypesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepContributionsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepStatusResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepTypeResolver.php
Due: graphql, php, backend

[5890-FILTER] Add migrate API to GraphqQL.
  app/Resources/js/redux/modules/project-test.js
  app/Resources/js/redux/modules/project.js
  app/Resources/js/stores/AppStore.js
  app/Resources/serializer/Project.yml
  app/Resources/serializer/ProjectType.yml
  features/api/projects.feature
  features/front/project.feature
  features/graphql/query/projects.feature
  features/graphql/query/projects_authors.feature
  features/graphql/query/projects_types.feature
  src/Capco/AppBundle/Controller/Api/ProjectsController.php
Due: php, jest, flow, backend, frontend

[5890-FILTER] Fix indexation problem.
  src/Capco/AppBundle/Elasticsearch/ElasticsearchHelper.php
  src/Capco/AppBundle/Elasticsearch/mapping.yml
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Entity/Questions/MultipleChoiceQuestion.php
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
  src/Capco/AppBundle/Entity/Steps/ConsultationStep.php
  src/Capco/AppBundle/EventListener/ProjectSerializationListener.php
  src/Capco/AppBundle/Repository/ArgumentRepository.php
  src/Capco/AppBundle/Repository/OpinionRepository.php
  src/Capco/AppBundle/Repository/OpinionVersionRepository.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Repository/ProposalCollectVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Repository/ReplyRepository.php
  src/Capco/AppBundle/Repository/SourceRepository.php
  src/Capco/AppBundle/Resolver/ContributionResolver.php
  src/Capco/AppBundle/Search/ProjectSearch.php
Due: php, backend

[5890-FILTER] Update src/Capco/AppBundle/GraphQL/Resolver/Step/StepTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepTypeResolver.php
Due: graphql, php, backend

[5890-FILTER] Revert ArgumentRepository.
  src/Capco/AppBundle/Repository/ArgumentRepository.php
Due: php, backend

[5890-FILTER] Fix indexation bug on contributionsCount.
  features/graphql/query/projects.feature
  src/Capco/AppBundle/EventListener/ProjectSerializationListener.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepTypeResolver.php
Due: graphql, php, backend

[5890-FILTER] Revert MultipleChoiceQuestion.
  src/Capco/AppBundle/Entity/Questions/MultipleChoiceQuestion.php
Due: php, backend

[5890-FILTER] Return of @spyl94.
  app/Resources/js/components/Project/List/ProjectListFilterTypes.js
Due: jest, flow, frontend

[5890-FILTER] Update src/Capco/AppBundle/Resources/config/graphql/internal/objects/Project.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Project.types.yml
Due: php, backend

[5890-FILTER] Update src/Capco/AppBundle/Resources/config/graphql/preview/PreviewQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/PreviewQuery.types.yml
Due: php, backend

[5890-FILTER] Update src/Capco/AppBundle/Resources/config/graphql/ProjectOrderField.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ProjectOrderField.types.yml
Due: php, backend

[5890-FILTER] Update src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
Due: php, backend

[5890-FILTER] More typehint.
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepStatusResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepTypeResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Project.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: graphql, php, backend

[5890-FILTER] Returns for typehint.
  app/Resources/js/components/Project/List/ProjectListViewPaginated.js
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectLinksResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepTypeResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Step.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Project.types.yml
Due: graphql, php, jest, flow, backend, frontend

[5890-FILTER] Add Graphql types to internal and preview.
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ProjectLinks.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ProjectStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ProjectType.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/StepStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/ProjectOrder.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/ProjectOrderField.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/ProjectPreviewConnection.types.yml
Due: php, backend

[5890-FILTER] Replace order in query by orderBy.
  features/graphql/query/projects.feature
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepStatusResolver.php
  src/Capco/AppBundle/Search/ProjectSearch.php
Due: graphql, php, backend

[5890-FILTER] Add default value to PojectOrder.
  app/Resources/js/components/Project/List/ProjectListView.js
  app/Resources/js/components/Project/List/ProjectListViewPaginated.js
  app/Resources/js/components/Project/List/ProjectsList.js
  src/Capco/AppBundle/Resources/config/graphql/preview/PreviewQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/ProjectOrder.types.yml
Due: php, jest, flow, backend, frontend

[5890-FILTER] Fix missing source counters in project.
  app/config/config.yml
  src/Capco/AppBundle/Command/RecalculateProjectsCountersCommand.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Repository/ArgumentRepository.php
  src/Capco/AppBundle/Repository/SourceRepository.php
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
Due: php, backend

[5890-FILTER] Fix debugger elastic search.
  src/Capco/AppBundle/Elasticsearch/ElasticsearchHelper.php
Due: php, backend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
