Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

query response as node (#14631)
  features/graphql/query/node.feature
  frontend/js/components/Page/__snapshots__/QuestionnaireStepPage-test.js.snap
  frontend/js/components/Proposal/Admin/__snapshots__/ProposalAdminPage-test.js.snap
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPage-test.js.snap
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolverSpec.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalResponse.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalMediaResponse.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalValueResponse.types.yaml
Due: graphql, php

[14538-BUGDAYEVENT] fix count events, posts, projects on a related theme (#14608)
  spec/Capco/AppBundle/Entity/ThemeSpec.php
  src/Capco/AppBundle/Entity/Theme.php
Due: php

filter responses by category (#14633)
  features/graphql-api/internal/Question/Question_responses_civicIA.js
  features/graphql-api/internal/Question/__snapshots__/Question_responses_civicIA.js.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Question/QuestionResponsesResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalQuestion.types.yaml
  src/Capco/AppBundle/Search/ResponseSearch.php
Due: graphql, php

[14506] Paginate project for filters dashboard (#14646)
  admin-next/components/Dashboard/DashboardContainer.tsx
  admin-next/components/Dashboard/DashboardContent.tsx
  admin-next/components/Dashboard/DashboardFilters/DashboardFilters.tsx
Due: none

[14388-BACKCHANNELKEYCLOAK] add POST route /api/backchannel (#14502)
  config/packages/services.yaml
  config/routes/routing.yaml
  config/services.yaml
  features/front/features/sso.feature
  features/front/sso/auth.feature
  infrastructure/environments/testing.yml
  infrastructure/services/remote/Dockerfile
  spec/Capco/AppBundle/EventListener/AuthenticationListenerSpec.php
  spec/Capco/UserBundle/Security/Http/Logout/Handler/OpenIDLogoutHandlerSpec.php
  src/Capco/AppBundle/Controller/Api/SSOController.php
  src/Capco/AppBundle/EventListener/AuthenticationListener.php
  src/Capco/AppBundle/Service/OpenIDBackchannel.php
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Repository/UserRepository.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/Capco/UserBundle/Security/Http/Logout/Handler/OpenIDLogoutHandler.php
  src/Capco/UserBundle/Security/SessionWithJsonHandler.php
  src/DoctrineMigrations/Version20220603113215.php
Due: php

[FIXOPENID] add default value for user openid_sessions_id (#14648)
  src/DoctrineMigrations/Version20220606113216.php
Due: php

[14649] Ignore steps not publish for project card (#14650)
  frontend/js/components/Project/Preview/ProjectPreviewBody-test.js
  frontend/js/components/Project/Preview/ProjectPreviewBody.js
  frontend/js/components/Project/Preview/__snapshots__/ProjectPreviewBody-test.js.snap
Due: jest, flow

Add developer portal to OSS README (#14576)
  README.md
Due: none

Remove code related to dinghy (#14551)
  admin-next/utils/redis-client.test.ts
  admin-next/utils/redis-client.ts
  infrastructure/deploylib/environments.py
  infrastructure/deploylib/infrastructures.py
  infrastructure/deploylib/local/system.py
  infrastructure/deploylib/qa.py
  infrastructure/deploylib/system.py
Due: none

Add `fab local.system.doctor` command (#14567)
  infrastructure/deploylib/local/system.py
  infrastructure/deploylib/system.py
Due: none

Add OSS license `AGPL-3.0-or-later` (#14662)
  LICENSE
Due: none

[FIXOPENIDSESSIONID] add somes logs; openId must send SID (#14656)
  spec/Capco/AppBundle/EventListener/AuthenticationListenerSpec.php
  src/Capco/AppBundle/Anonymizer/AnonymizeUser.php
  src/Capco/AppBundle/EventListener/AuthenticationListener.php
  src/Capco/UserBundle/Entity/User.php
Due: php

[14659] Fix - use viewer for paperVotesTotalCount and paperVotesTotalPointsCount (#14663)
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yaml
Due: php

[UPGUZZLE] security - guzzlehttp/guzzle updated from 6.5.6 to 6.5.7 patch (#14667)
  composer.lock
Due: none

[14672] Fix default birthdate (#14673)
  frontend/js/components/Proposal/Vote/ProposalVoteModals/ProposalVoteRequirementsModal.js
Due: jest, flow

1.3.3 (#14677)
  admin-next/components/Projects/__snapshots__/ProjectItem.test.tsx.snap
  admin-next/components/Projects/__snapshots__/ProjectList.test.tsx.snap
  admin-next/components/ProposalForm/__snapshots__/ModalConfirmationDeleteProposal.test.tsx.snap
  admin-next/components/QuestionnaireList/__snapshots__/ModalConfirmationDelete.test.tsx.snap
  admin-next/components/QuestionnaireList/__snapshots__/QuestionnaireItem.test.tsx.snap
  admin-next/components/QuestionnaireList/__snapshots__/QuestionnaireList.test.tsx.snap
  frontend/js/components/Debate/Page/Arguments/__snapshots__/ModalModerateArgumentMobile-test.js.snap
  frontend/js/components/Event/EventPage/__snapshots__/EventQuickActions-test.js.snap
  package.json
  yarn.lock
Due: none

[14671] Handle case multiple checkbox requirements (#14676)
  frontend/js/components/Admin/Project/Step/StepRequirementsList.js
  frontend/js/components/Proposal/Vote/ProposalVoteModal.js
  frontend/js/components/Proposal/Vote/ProposalVoteModals/ProposalVoteRequirementsModal.js
  frontend/js/components/Proposal/Vote/utils/generateValidationSchema.js
  frontend/js/components/Proposal/Vote/utils/getInitialValues-test.js
  frontend/js/components/Proposal/Vote/utils/getInitialValues.js
  frontend/js/components/Requirements/RequirementsForm.js
Due: jest, flow

Nouvelle page liste des zones géographiques (#14679)
  admin-next/components/GeographicalAreasList/GeographicalAreaDeleteModal.tsx
  admin-next/components/GeographicalAreasList/GeographicalAreasEmptyPage.tsx
  admin-next/components/GeographicalAreasList/GeographicalAreasList.tsx
  admin-next/mutations/DeleteProjectDistrictMutation.ts
  admin-next/pages/geographicalAreas.tsx
Due: none

Fix analytics perf optimization causing bugs (#14683)
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/GraphQL/DataLoader/Query/QueryAnalyticsDataLoader.php
Due: graphql, php

14644 star response (#14647)
  features/graphql-api/internal/Question/Question_responses_stars.js
  features/graphql-api/internal/Question/__snapshots__/Question_responses_stars.js.snap
  fixtures/Dev/ValueResponse.yaml
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Entity/Responses/AbstractResponse.php
  src/Capco/AppBundle/GraphQL/Mutation/StarResponseMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UnstarResponseMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Question/QuestionResponsesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Response/HasViewerStarredResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/StarResponseError.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/UnstarResponseError.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalQuestion.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalResponse.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/StarResponseInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/StarResponsePayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UnstarResponseInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UnstarResponsePayload.types.yaml
  src/Capco/AppBundle/Resources/config/serialization/Responses.AbstractResponse.yaml
  src/Capco/AppBundle/Search/ResponseSearch.php
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/DoctrineMigrations/Version20220609154539.php
Due: graphql, php

[14674-ORGANISATIONENTITIES] create origanization entities (#14681)
  config/packages/doctrine.yaml
  src/Capco/AppBundle/DBAL/Enum/OrganizationMemberRoleType.php
  src/Capco/AppBundle/Entity/AbstractSocialNetworks.php
  src/Capco/AppBundle/Entity/Organization/Organization.php
  src/Capco/AppBundle/Entity/Organization/OrganizationMember.php
  src/Capco/AppBundle/Entity/Organization/OrganizationSocialNetworks.php
  src/Capco/AppBundle/Entity/ProposalSocialNetworks.php
  src/Capco/AppBundle/Repository/Organization/OrganizationMemberRepository.php
  src/Capco/AppBundle/Repository/Organization/OrganizationRepository.php
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/DoctrineMigrations/Version20220621123947.php
Due: php

composer update
  composer.lock
Due: none

Revert "composer update"
  composer.lock
Due: none

14674 organization translation (#14712)
  src/Capco/AppBundle/Entity/Organization/Organization.php
  src/Capco/AppBundle/Entity/Organization/OrganizationTranslation.php
  src/Capco/AppBundle/Repository/Organization/OrganizationTranslationRepository.php
  src/Capco/AppBundle/Traits/SluggableTranslatableTitleTrait.php
  src/Capco/AppBundle/Traits/TitleTranslatableTrait.php
  src/DoctrineMigrations/Version20220622123841.php
Due: php

14674 organisation entities - fixtures (#14711)
  __snapshots__/exports/legacyUsers.csv
  features/commands/debateLaunch.feature
  features/graphql-api/public/Query/__snapshots__/Query_users.js.snap
  features/graphql/query/users.feature
  fixtures/Dev/Media.yaml
  fixtures/Dev/Organization.yaml
  fixtures/Dev/OrganizationMember.yaml
  fixtures/Dev/OrganizationSocialNetworks.yaml
  fixtures/Dev/OrganizationTranslation.yaml
  fixtures/Dev/User.yaml
  fixtures/files/organisation/giec_small.png
  fixtures/files/organisation/warmingstripes.png
  fixtures/files/user/cassou.jpg
  fixtures/files/user/vmd.jpg
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
Due: php

Security php 2022 06 22 (#14714)
  composer.lock
Due: none

14675 Organization invitation (#14706)
  config/packages/validators.yaml
  fixtures/Dev/PendingOrganizationInvitation.yaml
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/Entity/Organization/PendingOrganizationInvitation.php
  src/Capco/AppBundle/Repository/Organization/PendingOrganizationInvitationRepository.php
  src/Capco/AppBundle/Validator/Constraints/PendingOrganizationInvitation.php
  src/Capco/AppBundle/Validator/Constraints/PendingOrganizationInvitationValidator.php
  src/DoctrineMigrations/Version20220623112918.php
Due: php

[12722-FIXFLOATINPUITSURVEY] fix survey responses validator for numbe… (#14498)
  frontend/js/services/Validator-test.js
  frontend/js/services/Validator.js
Due: jest, flow

remove SonataUserBundle from translations (#14717)
  fetch_translations.mjs
  spec/Capco/UserBundle/Controller/ConfirmationControllerSpec.php
  src/Capco/UserBundle/Controller/ConfirmationController.php
  src/DoctrineMigrations/Version20190911125714.php
Due: php

[14701-AUTHORABLEINTERFARCE] make and implement Author (#14715)
  src/Capco/AppBundle/Entity/Interfaces/Author.php
  src/Capco/AppBundle/Entity/Organization/Organization.php
  src/Capco/AppBundle/Traits/AuthorableTrait.php
  src/Capco/UserBundle/Entity/User.php
Due: php

14700 owner interfarce (#14707)
  spec/Capco/AppBundle/Elasticsearch/ElasticsearchDoctrineListenerSpec.php
  src/Capco/AppBundle/Entity/EmailingCampaign.php
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Entity/Interfaces/Owner.php
  src/Capco/AppBundle/Entity/Interfaces/Ownerable.php
  src/Capco/AppBundle/Entity/Interfaces/PostOwner.php
  src/Capco/AppBundle/Entity/Interfaces/ProjectOwner.php
  src/Capco/AppBundle/Entity/MailingList.php
  src/Capco/AppBundle/Entity/Organization/Organization.php
  src/Capco/AppBundle/Entity/Post.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/ProposalForm.php
  src/Capco/AppBundle/Entity/Questionnaire.php
  src/Capco/AppBundle/Entity/Security/UserIdentificationCodeList.php
  src/Capco/AppBundle/Traits/OwnerTrait.php
  src/Capco/AppBundle/Traits/OwnerableTrait.php
  src/Capco/AppBundle/Traits/UuidTrait.php
  src/DoctrineMigrations/Version20220623165452.php
Due: php

update last prod fixtures (#14289)
  fixtures/Dev/SiteParameterTranslation.yaml
  fixtures/Prod/Section.yaml
  fixtures/Prod/SiteColor.yaml
  fixtures/Prod/SiteImage.yaml
  fixtures/Prod/SiteParameter.yaml
  fixtures/Prod/SiteParameterTranslation.yaml
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Resources/views/Default/shield.html.twig
Due: php

Ajout de leaflet sur admin-next (#14728)
  admin-next/hooks/useMapTokens.ts
  admin-next/next.config.js
  admin-next/utils/leaflet.tsx
Due: none

sending status for campaigns (#14725)
  frontend/js/components/Admin/Emailing/EmailingCampaign/CampaignItem/CampaignItem.js
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Command/SendEmailingCampaignCommand.php
  src/Capco/AppBundle/Enum/EmailingCampaignStatus.php
  src/Capco/AppBundle/Mailer/EmailingCampaignSender.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/EmailingCampaignStatus.types.yaml
Due: php, jest, flow

replace SonataUser by AbstractUser (#14719)
  src/Capco/AppBundle/Anonymizer/AnonymizeUser.php
  src/Capco/UserBundle/Entity/AbstractUser.php
  src/Capco/UserBundle/Entity/Group.php
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/DoctrineMigrations/Version20220624111846.php
Due: php

Redirect /projects to /project on proposal (#14721)
  src/Capco/AppBundle/Controller/Site/ProposalController.php
Due: php
