Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

Fix some API entreprise sentry errors (#10496)
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromSiretQueryResolver.php
Due: graphql, php, backend

Try another entreprise fix (#10498)
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
Due: php, backend

[Security] Bump simplesamlphp/simplesamlphp from 1.18.4 to 1.1… (#10501)
  composer.lock
Due: none

Fix when invalid siret (#10509)
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromSiretQueryResolver.php
Due: graphql, php, backend

Bump stof/doctrine-extensions-bundle from 1.3.0 to 1.4.0 (#10516)
  composer.lock
Due: none

Do not throw exception, use null and logger instead (#10521)
  config/packages/services.yaml
  src/Capco/AppBundle/RedirectionIO/Client.php
  src/Capco/AppBundle/RedirectionIO/ProjectKeyDataloader.php
Due: php, backend

Set a correct timeout according to API entreprise (#10526)
  infrastructure/services/remote/php-fpm/php-fpm-xxl.conf
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/APIEnterpriseAutoCompleteUtils.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteDocQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromIdQueryResolver.php
Due: graphql, php, backend

Try to fix more API entreprise issues (#10533)
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/APIEnterpriseAutoCompleteUtils.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/APIEnterpriseTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteDocQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromIdQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromSiretQueryResolver.php
Due: graphql, php, backend

Fix last api entreprise issue (#10534)
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/APIEnterpriseAutoCompleteUtils.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromSiretQueryResolver.php
Due: graphql, php, backend

Last of last api entreprise fixes (#10535)
  frontend/js/utils/form/validateResponses.js
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/APIEnterpriseAutoCompleteUtils.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromIdQueryResolver.php
Due: graphql, php, backend

Fix RNA index
  frontend/js/plugin/APIEnterprise/APIEnterpriseConstants.js
Due: none

Fix API order again
  fixtures/Dev/MediaQuestion.yaml
  frontend/js/plugin/APIEnterprise/APIEnterpriseConstants.js
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
Due: php, backend

Other fix to match prod
  fixtures/Dev/MediaQuestion.yaml
  frontend/js/plugin/APIEnterprise/APIEnterpriseConstants.js
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
Due: php, backend

Correct document timeout
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteDocQueryResolver.php
Due: graphql, php, backend

Fix posts counter (#10541)
  src/Capco/AppBundle/Repository/PostRepository.php
Due: php, backend

[UPDATE-TIMEOUT] Add greater timeout on instances. (#10543)
  infrastructure/services/remote/cron/run
  infrastructure/services/remote/php-fpm/run
  infrastructure/services/remote/supervisord/run
Due: none

Fix API entreprise 503 errors (#10548)
  frontend/js/plugin/APIEnterprise/APIEnterpriseConstants.js
  frontend/js/plugin/APIEnterprise/README.md
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/APIEnterpriseAutoCompleteUtils.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromSiretQueryResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/APIEnterpriseAssociation.types.yaml
Due: graphql, php, backend

Simplify some parts of API entreprise (#10549)
  infrastructure/services/remote/php-fpm/php-fpm-xxl.conf
  infrastructure/services/remote/varnish/capco.vcl
  infrastructure/services/remotev2/varnish/capco.vcl
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteDocQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromSiretQueryResolver.php
Due: graphql, php, backend

Fix api entreprise again (#10551)
  frontend/js/plugin/APIEnterprise/APIEnterpriseConstants.js
  frontend/js/plugin/APIEnterprise/APIEnterpriseFunctions.js
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteDocQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromSiretQueryResolver.php
Due: graphql, php, backend

Add trim for spaces
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteDocQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromSiretQueryResolver.php
Due: graphql, php, backend

Fix API entreprise space issue
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteDocQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromSiretQueryResolver.php
Due: graphql, php, backend

Allow random siret
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
Due: php, backend

Increase timeout
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteDocQueryResolver.php
Due: graphql, php, backend

Deactivate api entreprise on dev (#10559)
  codecov.yml
  frontend/js/plugin/APIEnterprise/APIEnterpriseFunctions.js
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
Due: php, backend

[10506-FIX] Fix display announce new analysis (#10560)
  frontend/js/components/ProposalForm/ProposalFormAdminEvaluationForm-test.js
  frontend/js/components/ProposalForm/ProposalFormAdminEvaluationForm.js
  frontend/js/components/ProposalForm/__snapshots__/ProposalFormAdminEvaluationForm-test.js.snap
Due: none

[10519-HARMONIZATION] css feedback on project page on back office (#10537)
  frontend/js/components/Admin/Project/Access/ProjectAccessAdminForm.js
  frontend/js/components/Admin/Project/Access/__snapshots__/ProjectAccessAdminForm-test.js.snap
  frontend/js/components/Admin/Project/Content/ProjectContentAdminForm.js
  frontend/js/components/Admin/Project/Content/__snapshots__/ProjectContentAdminForm-test.js.snap
  frontend/js/components/Admin/Project/External/ProjectExternalAdminPage.js
  frontend/js/components/Admin/Project/External/__snapshots__/ProjectExternalAdminPage-test.js.snap
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.style.js
  frontend/js/components/Admin/Project/Form/__snapshots__/ProjectAdminForm-test.js.snap
  frontend/js/components/Admin/Project/Proposals/ProjectProposalsAdminForm.js
  frontend/js/components/Admin/Project/Proposals/__snapshots__/ProjectProposalsAdminForm-test.js.snap
  frontend/js/components/Admin/Project/Publish/ProjectPublishAdminForm.js
  frontend/js/components/Admin/Project/Publish/__snapshots__/ProjectPublishAdminForm-test.js.snap
  frontend/js/components/Admin/Project/Steps/ProjectStepAdmin.js
  frontend/js/components/Admin/Project/Steps/ProjectStepAdminItem.js
  frontend/js/components/Admin/Project/Steps/ProjectStepAdminItemStep.js
  frontend/js/components/Admin/Project/Steps/ProjectStepAdminList.js
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdmin-test.js.snap
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdminItemStep-test.js.snap
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdminList-test.js.snap
Due: none

Tag some steps as randomly-failing (#10562)
  features/front/features/arguments.feature
  features/front/features/sources.feature
  features/front/pages/rgpd.feature
Due: none

So they decided to remove the Kbis question (#10574)
  fixtures/Dev/MediaQuestion.yaml
  fixtures/Dev/QuestionnaireAbstractQuestion.yaml
  frontend/js/plugin/APIEnterprise/APIEnterpriseConstants.js
  frontend/js/plugin/APIEnterprise/APIEnterpriseFunctions.js
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteDocQueryResolver.php
Due: graphql, php, backend

[10489-FIX] fix (#10589)
  features/api/email.feature
  src/Capco/AppBundle/Controller/Api/UsersController.php
Due: php, backend

Avoid red builds because of codecov (#10588)
  codecov.yml
Due: none

[10558-FIX] Remove publishedAt value from a draft proposal (#10591)
  fixtures/Dev/Proposal.yaml
Due: none

[10579-API] fix : analyst can assign user as analyst (#10585)
  features/graphql-api/internal/mutation/__snapshots__/assignAnalystsToProposals.js.snap
  features/graphql-api/internal/mutation/assignAnalystsToProposals.js
  src/Capco/AppBundle/GraphQL/Mutation/AssignAnalystsToProposalsMutation.php
  src/Capco/AppBundle/Security/ProposalAnalysisRelatedVoter.php
Due: graphql, php, backend

Fix php warn (#10578)
  src/Capco/AppBundle/Validator/Constraints/HasResponsesToRequiredQuestionsValidator.php
Due: php, backend

10546 fix remove author (#10594)
  src/Capco/AppBundle/Entity/Post.php
  src/Capco/AppBundle/Entity/Project.php
Due: php, backend

[10201-TITLE] Fixing... trad key 🔑 (#10590)
  src/Capco/AppBundle/Resources/views/Theme/index.html.twig
Due: php, backend

10572 - Adding users' groups for project (#10596)
  features/graphql-api/internal/mutation/__snapshots__/createAlphaProject.js.snap
  features/graphql-api/internal/mutation/__snapshots__/updateAlphaProject.js.snap
  features/graphql-api/internal/mutation/createAlphaProject.js
  features/graphql-api/internal/mutation/updateAlphaProject.js
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/mutations/UpdateProjectAlphaMutation.js
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateAlphaProjectInput.types.yaml
  src/Capco/UserBundle/Form/Type/AlphaProjectFormType.php
Due: php, backend

[9974-MULTIPLE] Fixing initial values (#10593)
  frontend/js/components/Admin/RegistrationFormQuestions.js
Due: none

9694 toggle blue (#10568)
  frontend/js/components/Admin/Authentification/ListPublicSSO.js
  frontend/js/components/Admin/Authentification/Oauth2SSOConfigurationItem.js
  frontend/js/components/Admin/Authentification/SSOByPassAuthForm.js
  frontend/js/components/Admin/Authentification/__snapshots__/ListPublicSSO-test.js.snap
  frontend/js/components/Admin/Authentification/__snapshots__/Oauth2SSOConfigurationItem-test.js.snap
  frontend/js/components/Admin/Authentification/__snapshots__/SSOByPassAuthForm-test.js.snap
  frontend/js/components/Admin/Project/External/ProjectExternalAdminFormDeprecated.js
  frontend/js/components/Admin/RegistrationAdminPage.js
  frontend/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  frontend/js/components/Form/Toggle.js
  frontend/js/components/StaticPage/Cookie.js
  frontend/js/components/StaticPage/__snapshots__/Cookie-test.js.snap
  frontend/js/components/Ui/Toggle/Toggle-test.js
  frontend/js/components/Ui/Toggle/Toggle.js
  frontend/js/components/Ui/Toggle/__snapshots__/Toggle-test.js.snap
  frontend/js/stories/core/form/AdminRequirement-stories.js
  frontend/js/stories/core/form/Input-stories.js
  frontend/js/utils/colors.js
  package.json
  src/Capco/AppBundle/Behat/Page/AdminProjectDistrictPage.php
  src/Capco/AppBundle/Behat/Page/AdminProposalFormPage.php
  src/Capco/AppBundle/Behat/Page/AdminProposalPage.php
  src/Capco/AppBundle/Behat/Page/AdminShieldConfigurationPage.php
  src/Capco/AppBundle/Behat/Page/ProjectUserVotesPage.php
  src/Capco/AppBundle/Behat/PageTrait.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  webpack/webpack.client.js
  yarn.lock
Due: backend
