Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

[FIX-YARN] update loco key (#13814)
  fetch_translations.mjs
Due: none

[FIX-PARTIALLY] partially fix tests (#13683)
  spec/Capco/AppBundle/GraphQL/Mutation/AddEventMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/ChangeEventMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/CheckIdentificationCodeMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/ProposalMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/UpdateShieldAdminFormMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/UpdateUserReplyMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Event/EventOwnerEventsResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolverSpec.php
  spec/Capco/AppBundle/Notifier/UserInviteEmailMessageNotifierSpec.php
  spec/Capco/UserBundle/Handler/CasHandlerSpec.php
  spec/Capco/UserBundle/Handler/UserInvitationHandlerSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeEventMutation.php
Due: graphql, php

Correction de l'audit de sécurité de l'université lyon-1 (#13759)
  config/packages/graphql.yaml
  config/packages/sonata.yaml
  config/services.yaml
  features/api/upload.feature
  features/files/stored_xss
  features/files/stored_xss.html
  features/graphql/query/map_token.feature
  frontend/js/components/Admin/Post/PostForm/__snapshots__/PostForm-test.js.snap
  frontend/js/components/Form/FileUpload/FileUpload.js
  frontend/js/components/Form/FileUpload/__snapshots__/FileUpload-test.js.snap
  frontend/js/components/Form/ReactBootstrapInput.js
  frontend/js/components/Questionnaire/QuestionnaireResponsesCsvDropZoneInput.js
  frontend/js/config.js
  frontend/js/services/Fetcher.js
  src/Capco/AppBundle/Behat/ApiContext.php
  src/Capco/AppBundle/Controller/Api/MediasController.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/MapToken.types.yaml
Due: php, jest, flow

Revert "source app.env in crontab" (#13820)
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/cron/crontab
  infrastructure/services/remote/cron/source_cron_env
Due: none

Decode PHP feature flag to get a boolean. (#13824)
  admin-next/utils/feature-flags-resolver.test.ts
  admin-next/utils/feature-flags-resolver.ts
Due: none

[FIX-PROJECT] fix project list cell (#13823)
  frontend/js/components/Admin/Project/list/ProjectItem.js
Due: jest, flow

[dependency] Update prettier (#13825)
  package.json
  yarn.lock
Due: none

[FIX] Fix prettier error (#13826)
  package.json
Due: none

12748 anonymous questionnaire v6 (#13678)
  cypress/integration/questionnaire/questionnaireAsAnonymous.spec.ts
  cypress/integration/questionnaire/questionnaireLoggedInAsAdmin.spec.ts
  cypress/integration/questionnaire/questionnaireLoggedInAsUser.spec.ts
  cypress/package.json
  cypress/pages/index.ts
  cypress/pages/questionnaire.ts
  features/front/features/questionnaire.feature
  features/graphql-api/internal/mutation/AnonymousReply/__snapshots__/addAnonymousReply.js.snap
  features/graphql-api/internal/mutation/AnonymousReply/__snapshots__/deleteAnonymousReply.js.snap
  features/graphql-api/internal/mutation/AnonymousReply/__snapshots__/updateAnonymousReply.js.snap
  features/graphql-api/internal/mutation/AnonymousReply/addAnonymousReply.js
  features/graphql-api/internal/mutation/AnonymousReply/deleteAnonymousReply.js
  features/graphql-api/internal/mutation/AnonymousReply/updateAnonymousReply.js
  spec/Capco/AppBundle/GraphQL/Mutation/AddAnonymousReplyMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/DeleteAnonymousReplyMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/UpdateAnonymousReplyMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/AddAnonymousReplyMutation.php
Due: graphql, php

[13628-HIDE] hide export events btn for project admin (#13834)
  frontend/js/components/Admin/Event/EventList/AdminEventListPage.js
Due: jest, flow

[admin-next] Setup NavBar (#13821)
  .gitignore
  admin-next/components/AppProvider/App.context.tsx
  admin-next/components/AppProvider/AppProvider.tsx
  admin-next/components/Layout/Layout.tsx
  admin-next/components/NavBar/NavBar.context.tsx
  admin-next/components/NavBar/NavBar.tsx
  admin-next/components/NavBar/NavBarPlaceholder.tsx
  admin-next/components/UI/NavBar/NavBar.tsx
  admin-next/components/UI/NavBar/data/NavBarData.tsx
  admin-next/components/UI/NavBar/index.ts
  admin-next/components/UI/NavBar/item/NavBarItem.tsx
  admin-next/components/UI/NavBar/list/NavBarList.tsx
  admin-next/components/UI/NavBar/title/NavBarTitle.tsx
  admin-next/config.ts
  admin-next/hooks/useFeatureFlag.ts
  admin-next/next.config.js
  admin-next/package.json
  admin-next/pages/_app.tsx
  admin-next/pages/index.tsx
  admin-next/public/fonts/OpenSans-Bold.ttf
  admin-next/public/fonts/OpenSans-Regular.ttf
  admin-next/public/fonts/OpenSans-SemiBold.ttf
  admin-next/public/fonts/Roboto-Bold.ttf
  admin-next/public/fonts/Roboto-Medium.ttf
  admin-next/public/fonts/Roboto-Regular.ttf
  admin-next/styles/Fonts.ts
  admin-next/styles/GlobalCSS.ts
  admin-next/tsconfig.json
  admin-next/utils/cookie-helper.ts
  admin-next/utils/feature-flags-resolver.ts
  admin-next/utils/fetch.ts
  admin-next/utils/invariant.ts
  admin-next/utils/locale-helper.ts
  admin-next/utils/providers.tsx
  frontend/js/CookieMonster.js
  frontend/js/components/Admin/RightNavbar/AdminRightNavbar.js
  yarn.lock
Due: jest, flow

[13266-DOWNLOAD] route /identificationCodesList/{listId}/download.csv (#13854)
  spec/Capco/AppBundle/Generator/CSV/IdentificationCodeListCSVGeneratorSpec.php
  src/Capco/AppBundle/Controller/Site/DownloadController.php
  src/Capco/AppBundle/Entity/Security/UserIdentificationCode.php
  src/Capco/AppBundle/Generator/CSV/AbstractCSVResponseGenerator.php
  src/Capco/AppBundle/Generator/CSV/IdentificationCodeListCSVGenerator.php
Due: php

[13855-FIX] filter empty requirements (#13856)
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
Due: jest, flow

Fix yaml.load deprecation (#13859)
  infrastructure/deploylib/environments.py
Due: none

Expose only port 443 on local docker (#13864)
  infrastructure/environments/base.yml
  infrastructure/services/local/nginx/proxy.conf
Due: none

Remove `webp` format, not supported by Imagick (#13868)
  config/packages/sonata.yaml
  frontend/js/components/Admin/Post/PostForm/__snapshots__/PostForm-test.js.snap
  frontend/js/components/Form/FileUpload/__snapshots__/FileUpload-test.js.snap
  frontend/js/config.js
  src/Capco/AppBundle/Controller/Api/MediasController.php
Due: php, jest, flow

[13529-SSO] enrich viewer with openidId and analysisUrl (#13862)
  config/packages/graphql_resolvers.yaml
  features/graphql-api/internal/User/Viewer.js
  features/graphql-api/internal/User/Viewer_posts.js
  features/graphql-api/internal/User/__snapshots__/Viewer.js.snap
  fixtures/Dev/User.yaml
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/User/UrlAdminHomeUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UrlAnalysisUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/ViewerCanSeeAnalysisUrlResolver.php
  src/Capco/AppBundle/Resolver/UrlResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php

[admin-next] Storybook deployment (#13865)
  admin-next/.storybook/main.js
  admin-next/.storybook/preview.js
  admin-next/components/NavBar/NavBar.tsx
  admin-next/components/NavBar/NavBarPlaceholder.tsx
  admin-next/components/UI/NavBar/NavBar.stories.tsx
  admin-next/components/UI/NavBar/NavBar.tsx
  admin-next/components/UI/NavBar/index.ts
  admin-next/components/UI/Section/Description/Description.tsx
  admin-next/components/UI/Section/Section.stories.tsx
  admin-next/components/UI/Section/Section.tsx
  admin-next/components/UI/Section/Title/Title.tsx
  admin-next/components/UI/Section/index.ts
  admin-next/components/UI/Test/Test.stories.tsx
  admin-next/components/UI/Test/Test.tsx
  admin-next/package.json
  admin-next/tsconfig.json
  frontend/js/stories/capcollectif/BackOffice/Section.stories.js
  yarn.lock
Due: jest, flow

Couleur sur la barre d'un résultat questionnaire en fonction du nom (#13874)
  frontend/js/components/Questionnaire/QuestionnaireAdminResultsBarChart.js
  frontend/js/components/Questionnaire/__snapshots__/QuestionnaireAdminResultsBarChart-test.js.snap
Due: jest, flow

Update oss-sync.yml configuration file (#13881)
  .github/workflows/oss-sync.yml
Due: none

Use `internal-sync.yaml` for OSS
  .github/workflows/oss-sync.yml
Due: none

[13705-DEPS] Upgrading Relay from 11 to 12 (#13877)
  .flowconfig
  admin-next/next-env.d.ts
  admin-next/package.json
  frontend/js/components/ProposalForm/ProposalFormAdminConfigurationForm.js
  frontend/js/mocks.js
  frontend/js/relayTransactionLogger.js
  package.json
  yarn.lock
Due: jest, flow

[12546-FIX] fix empty majority decision (#13878)
  spec/Capco/AppBundle/Import/ImportProposalsFromCsvSpec.php
  src/Capco/AppBundle/Import/ImportProposalsFromCsv.php
Due: php

Reduce the number of parallel e2e tests for BO (#13887)
  behat.yml
  features/back/dashboard/menu.feature
  features/back/parameter/admin.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Traits/AdminGeneralTait.php
Due: none

[12748-FIX] fixes (#13879)
  cypress/integration/questionnaire/questionnaireAsAnonymous.spec.ts
  frontend/js/components/Form/SubmitButton.js
  frontend/js/components/Questionnaire/QuestionnairePage.js
  frontend/js/components/Questionnaire/QuestionnaireReplyPage/QuestionnaireReplyPage.js
  frontend/js/components/Reply/Form/ReplyForm.js
  frontend/js/components/Reply/Form/__snapshots__/ReplyForm-test.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateAnonymousReplyInput.types.yaml
  src/Capco/AppBundle/Search/ResponseSearch.php
Due: php, jest, flow

Revert "[13529-SSO] enrich viewer with openidId and analysisUrl (#138… (#13899)
  config/packages/graphql_resolvers.yaml
  features/graphql-api/internal/User/Viewer.js
  features/graphql-api/internal/User/__snapshots__/Viewer.js.snap
  features/graphql-api/internal/user/Viewer_posts.js
  fixtures/Dev/User.yaml
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/User/UrlAdminHomeUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UrlAnalysisUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/ViewerCanSeeAnalysisUrlResolver.php
  src/Capco/AppBundle/Resolver/UrlResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php

[13651-SETTINGUPSENDINGEMAILS] update Group type as Connection (#13890)
  features/graphql/query/group.feature
  frontend/js/components/Admin/Project/Access/ProjectAccessAdminForm.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModalSteps.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModalStepsChooseRole.js
  frontend/js/components/Admin/UserInvite/UserInviteAdminPage.js
  frontend/js/components/Admin/UserInvite/UserInviteAdminPageHeader.js
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Group/GroupListResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Group/GroupUsersResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserGroupsResolver.php
  src/Capco/AppBundle/Repository/GroupRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Group.types.yaml
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, jest, flow

[13529-SSO] create SiradelController for webcomponent (#13895)
  config/routes/routing.yaml
  schema.internal.graphql
  src/Capco/AppBundle/Controller/Api/LocaleController.php
  src/Capco/AppBundle/Controller/Api/SiradelController.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserUrlResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php

Setup docker for mac local dev environment (#13844)
  admin-next/utils/redis-client.ts
  infrastructure/deploylib/app.py
  infrastructure/deploylib/environments.py
  infrastructure/deploylib/infrastructures.py
  infrastructure/deploylib/local/system.py
  infrastructure/deploylib/system.py
Due: none

12430 phone validation requirements (#13897)
  config/packages/graphql.yaml
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/components/Admin/Project/Form/__snapshots__/ProjectAdminForm-test.js.snap
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.js
  frontend/js/components/Admin/Project/Step/StepRequirementsList.js
  frontend/js/components/Requirements/RequirementsForm.js
  frontend/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  frontend/js/redux/modules/default.js
  frontend/js/types.js
  schema.internal.graphql
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Entity/Requirement.php
  src/Capco/AppBundle/GraphQL/Resolver/Requirement/RequirementTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Requirement/RequirementViewerValueResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/RequirementType.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/PhoneVerifiedRequirement.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
Due: graphql, php, jest, flow

[13894-REFACTO] Replace `react-bootstrap` portals with local DS portals (#13910)
  frontend/js/components/Admin/Font/FontUseForm/FontUseForm.js
  frontend/js/components/Admin/Font/FontUseForm/__snapshots__/FontUseForm-test.js.snap
  frontend/js/components/Event/EventLabelStatus.js
  frontend/js/components/Event/__snapshots__/EventLabelStatus-test.js.snap
  frontend/js/components/Ui/Button/ButtonPopover-test.js
  frontend/js/components/Ui/Button/ButtonPopover.js
  frontend/js/components/Ui/Button/DeleteButtonPopover-test.js
  frontend/js/components/Ui/Button/DeleteButtonPopover.js
  frontend/js/components/Ui/Button/__snapshots__/ButtonPopover-test.js.snap
  frontend/js/components/Ui/Button/__snapshots__/DeleteButtonPopover-test.js.snap
Due: jest, flow

[13894-REFACTO] Project Create Step Portal (#13915)
  features/back/project/Alpha/project.feature
  frontend/js/components/Admin/Project/Steps/ProjectStepAdmin.js
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdmin-test.js.snap
Due: jest, flow

[13170-FIX] fix Raison de la collecte in resuirement step (#13919)
  frontend/js/components/Admin/Project/Step/StepRequirementsList.js
Due: jest, flow

12430 alpha sender (#13898)
  composer.json
  composer.lock
  config/packages/helpers.yaml
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/CreateTwilioServiceMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/UpdateTwilioAlphaSenderMutationSpec.php
  src/Capco/AppBundle/Entity/ExternalServiceConfiguration.php
  src/Capco/AppBundle/GraphQL/Mutation/CreateTwilioServiceMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateTwilioAlphaSenderMutation.php
  src/Capco/AppBundle/Helper/TwilioClient.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/CreateTwilioServiceErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ExternalServiceConfigurationType.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/UpdateTwilioAlphaSenderErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateTwilioServiceInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateTwilioServicePayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateTwilioAlphaSenderInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateTwilioAlphaSenderPayload.types.yaml
Due: graphql, php

12430 send sms (#13900)
  __snapshots__/exports/legacyUsers.csv
  __snapshots__/exports/participants_projet-avec-administrateur-de-projet.csv
  __snapshots__/exports/participants_projet-condition-requise-sms_budget-participatif-du-projet-avec-condition-requise-sms.csv
  __snapshots__/rgpd_user_archives/user1/user.csv
  __snapshots__/rgpd_user_archives/user5/proposals.csv
  __snapshots__/rgpd_user_archives/user5/user.csv
  config/packages/repositories.yaml
  features/commands/debateLaunch.feature
  features/commands/export.feature
  features/graphql-api/internal/Analytics/__snapshots__/analytics.js.snap
  features/graphql-api/internal/ProjectOwner/__snapshots__/ProjectOwner_projects.js.snap
  features/graphql-api/internal/ProposalFormOwner/viewer_proposalForm.js
  features/graphql-api/public/Query/__snapshots__/Query_projects.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_users.js.snap
  features/graphql/query/allContributions.feature
  features/graphql/query/users.feature
  fixtures/Dev/CollectStep.yaml
  fixtures/Dev/Project.yaml
  fixtures/Dev/ProjectAbstractStep.yaml
  fixtures/Dev/ProjectAuthor.yaml
  fixtures/Dev/Proposal.yaml
  fixtures/Dev/ProposalForm.yaml
  fixtures/Dev/Requirement.yaml
  fixtures/Dev/User.yaml
  fixtures/Dev/UserPhoneVerificationSms.yaml
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/Requirement/SendSmsPhoneValidationCodeMutationSpec.php
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/Entity/UserPhoneVerificationSms.php
  src/Capco/AppBundle/GraphQL/Mutation/Requirement/SendSmsPhoneValidationCodeMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Requirement/StepRequirementsResolver.php
  src/Capco/AppBundle/Helper/TwilioClient.php
  src/Capco/AppBundle/Repository/UserPhoneVerificationSmsRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/SendSmsPhoneValidationCodeErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/SendSmsPhoneValidationCodeInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/SendSmsPhoneValidationCodePayload.types.yaml
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/DoctrineMigrations/Version20211221155257.php
Due: graphql, php

[admin-next] Setup Sidebar (#13922)
  .editorconfig
  admin-next/.storybook/main.js
  admin-next/.storybook/preview.js
  admin-next/components/AppProvider/App.context.tsx
  admin-next/components/AppProvider/AppProvider.tsx
  admin-next/components/Layout/Layout.tsx
  admin-next/components/SideBar/SideBar.tsx
  admin-next/components/SideBar/SideBar.utils.ts
  admin-next/components/SideBar/SideBarItems.json
  admin-next/components/UI/LogoCapco/LogoCapco.tsx
  admin-next/components/UI/SideBar/SideBar.context.tsx
  admin-next/components/UI/SideBar/SideBar.tsx
  admin-next/components/UI/SideBar/header/SideBarHeader.tsx
  admin-next/components/UI/SideBar/index.ts
  admin-next/components/UI/SideBar/item/SideBarItem.tsx
  admin-next/components/UI/SideBar/menu/SideBarItem.tsx
  admin-next/components/UI/SideBar/menu/SideBarMenu.tsx
  admin-next/components/UI/SideBar/version/SideBarVersion.tsx
  admin-next/hooks/useFeatureFlag.ts
  admin-next/package.json
  admin-next/pages/_app.tsx
  admin-next/styles/GlobalCSS.ts
  admin-next/tsconfig.json
  admin-next/types.ts
  admin-next/utils/cookie-helper.ts
  admin-next/utils/feature-flags-resolver.ts
  admin-next/utils/invariant.ts
  admin-next/utils/locale-helper.ts
  admin-next/utils/providers.tsx
  admin-next/utils/redis-client.ts
  package.json
  yarn.lock
Due: none

Add unsubscribe users from mailinglist command (#13916)
  src/Capco/AppBundle/Command/UnsubscribeUserFromCsvCommand.php
Due: php

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
