Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

[6331-PROJECT] removes position field from step
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalStep.types.yml
Due: php, backend

9024 - Refacto project admin - Alpha URL for Create/Edit admin… (#9023)
  app/DoctrineMigrations/Version20191014135358.php
  app/Resources/js/components/Admin/Project/ProjectContentAdminPage-test.js
  app/Resources/js/components/Admin/Project/ProjectContentAdminPage.js
  app/Resources/js/components/Admin/Project/__snapshots__/ProjectContentAdminPage-test.js.snap
  app/Resources/js/components/Project/ProjectStepTabs-test.js
  app/Resources/js/components/Project/ProjectStepTabs.js
  app/Resources/js/components/Proposal/Create/ProposalCreateFusionButton-test.js
  app/Resources/js/components/Proposal/Create/ProposalCreateFusionButton.js
  app/Resources/js/components/Proposal/Create/__snapshots__/ProposalCreateFusionButton-test.js.snap
  app/Resources/js/components/Proposal/Detail/ProposalDetailAdvancement-test.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailAdvancement.js
  app/Resources/js/components/Proposal/Form/ProposalFusionForm-test.js
  app/Resources/js/components/Proposal/Form/ProposalFusionForm.js
  app/Resources/js/components/Proposal/Form/__snapshots__/ProposalFusionForm-test.js.snap
  app/Resources/js/components/Proposal/Map/LeafletMap-test.js
  app/Resources/js/components/Proposal/Map/LeafletMap.js
  app/Resources/js/components/Proposal/Page/ProposalPage-test.js
  app/Resources/js/components/Proposal/Page/ProposalPage.js
  app/Resources/js/components/Proposal/Page/ProposalPageTabs.js
  app/Resources/js/startup/ProjectAdminApp.js
  app/Resources/js/startup/ProjectStepTabsApp.js
  app/Resources/js/startup/ProposalCreateFusionButtonApp.js
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/AlphaProjectAdmin.php
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AdminBundle/Resources/views/AlphaProject/create.html.twig
  src/Capco/AppBundle/Entity/AlphaProject.php
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectStepsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/StepOrderField.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/StepOrder.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProject.types.yml
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
  src/Capco/AppBundle/Twig/ThemeExtension.php
Due: graphql, php, jest, flow, backend, frontend

6331 Ne plus injecter la liste de tous les projets dans le stor… (#9019)
  app/Resources/js/components/Project/ProjectStepTabs-test.js
  app/Resources/js/components/Project/ProjectStepTabs.js
  app/Resources/js/components/Proposal/Create/ProposalCreateFusionButton-test.js
  app/Resources/js/components/Proposal/Create/ProposalCreateFusionButton.js
  app/Resources/js/components/Proposal/Create/__snapshots__/ProposalCreateFusionButton-test.js.snap
  app/Resources/js/components/Proposal/Detail/ProposalDetailAdvancement-test.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailAdvancement.js
  app/Resources/js/components/Proposal/Form/ProposalFusionForm-test.js
  app/Resources/js/components/Proposal/Form/ProposalFusionForm.js
  app/Resources/js/components/Proposal/Form/__snapshots__/ProposalFusionForm-test.js.snap
  app/Resources/js/components/Proposal/Map/LeafletMap-test.js
  app/Resources/js/components/Proposal/Map/LeafletMap.js
  app/Resources/js/components/Proposal/Page/ProposalPage-test.js
  app/Resources/js/components/Proposal/Page/ProposalPage.js
  app/Resources/js/components/Proposal/Page/ProposalPageTabs.js
  app/Resources/js/startup/ProjectStepTabsApp.js
  app/Resources/js/startup/ProposalCreateFusionButtonApp.js
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectStepsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/StepOrderField.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/StepOrder.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProject.types.yml
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
  src/Capco/AppBundle/Twig/ThemeExtension.php
Due: graphql, php, jest, flow, backend, frontend

[9045-UPGRADE] upgrade react leaflet & deps
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Event/Map/__snapshots__/LeafletMap-test.js.snap
  app/Resources/js/components/Proposal/Map/LeafletMap.js
  app/Resources/js/components/Proposal/Map/LeafletSearch.js
  app/Resources/js/components/Proposal/Map/LocateControl.js
  app/Resources/js/components/Proposal/Map/__snapshots__/LeafletMap-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalPageContent.js
  package.json
  yarn.lock
Due: jest, flow, frontend

Merge pull request #9050 from cap-collectif/better-varnish-config-for-mutations
  infrastructure/services/local/varnish/capco.vcl
  infrastructure/services/remote/varnish/capco.vcl
Due: none

Fix sitemap.xml
  src/Capco/AppBundle/Controller/Site/SitemapsController.php
  src/Capco/AppBundle/Entity/Page.php
  src/Capco/AppBundle/Entity/Post.php
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
  src/Capco/AppBundle/Resources/views/Sitemaps/sitemap.xml.twig
  src/Capco/AppBundle/Traits/TimestampableTrait.php
Due: php, backend

[9067-FIX] - Fixed media urls generation in export by not using custom assets host
  src/Capco/AppBundle/GraphQL/Resolver/Media/MediaUrlResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalMedia.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewMedia.types.yml
Due: graphql, php, backend

[9067-FIX] - Made $context optional in MediaUrlResolver `__invoke` method
  src/Capco/AppBundle/GraphQL/Resolver/Media/MediaUrlResolver.php
Due: graphql, php, backend

[9067-FIX] - Fixed params order for `__invoke` method in `MediaUrlResolver`
  src/Capco/AppBundle/GraphQL/Resolver/Media/MediaUrlResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalMedia.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewMedia.types.yml
Due: graphql, php, backend

[8927-ILLUSTRATION] proposalMapPopover component created
  app/Resources/js/components/Page/ProposalsDisplayMap-test.js
  app/Resources/js/components/Page/ProposalsDisplayMap.js
  app/Resources/js/components/Page/__snapshots__/ProposalsDisplayMap-test.js.snap
  app/Resources/js/components/Proposal/Map/LeafletMap-test.js
  app/Resources/js/components/Proposal/Map/LeafletMap.js
  app/Resources/js/components/Proposal/Map/ProposalMapPopover.js
  app/Resources/js/components/Proposal/Map/__snapshots__/LeafletMap-test.js.snap
Due: jest, flow, frontend

[8927-ILLUSTRATION] improve illustration on map for proposal depot
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Page/ProposalsDisplayMap-test.js
  app/Resources/js/components/Page/ProposalsDisplayMap.js
  app/Resources/js/components/Page/__snapshots__/ProposalsDisplayMap-test.js.snap
  app/Resources/js/components/Proposal/List/ProposalListView.js
  app/Resources/js/components/Proposal/List/ProposalListViewPaginated.js
  app/Resources/js/components/Proposal/Map/LeafletMap.js
  app/Resources/js/components/Proposal/Map/LocateControl.js
  app/Resources/js/components/Proposal/Map/ProposalLeafletMap-test.js
  app/Resources/js/components/Proposal/Map/ProposalLeafletMap.js
  app/Resources/js/components/Proposal/Map/ProposalMapPopover.js
  app/Resources/js/components/Proposal/Map/__snapshots__/LeafletMap-test.js.snap
  app/Resources/js/components/Proposal/Map/__snapshots__/ProposalLeafletMap-test.js.snap
  yarn.lock
Due: jest, flow, frontend

[8927-ILLUSTRAITON] update tests on proposal map related components
  app/Resources/js/components/Page/ProposalsDisplayMap-test.js
  app/Resources/js/components/Page/ProposalsDisplayMap.js
  app/Resources/js/components/Page/__snapshots__/ProposalsDisplayMap-test.js.snap
  app/Resources/js/components/Proposal/Map/ProposalLeafletMap-test.js
  app/Resources/js/components/Proposal/Map/ProposalLeafletMap.js
  app/Resources/js/components/Proposal/Map/ProposalMapPopover-test.js
  app/Resources/js/components/Proposal/Map/__snapshots__/ProposalLeafletMap-test.js.snap
  app/Resources/js/components/Proposal/Map/__snapshots__/ProposalMapPopover-test.js.snap
Due: jest, flow, frontend

[8927-ILLUSTRAITON] add ProposalMapPopover to storybook
  app/Resources/js/components/Proposal/Map/ProposalLeafletMap.js
  app/Resources/js/components/Proposal/Map/ProposalMapPopover.js
  app/Resources/js/stories/capcollectif/ProposalMapPopover-stories.js
  app/Resources/js/stories/mocks/proposal.js
Due: jest, flow, frontend

[8927-ILLUSTRAITON] import proper types from relay
  app/Resources/js/components/Proposal/Map/ProposalLeafletMap-test.js
  app/Resources/js/components/Proposal/Map/ProposalLeafletMap.js
  app/Resources/js/components/Proposal/Map/ProposalMapPopover-test.js
  app/Resources/js/components/Proposal/Map/ProposalMapPopover.js
  app/Resources/js/components/Proposal/Map/__snapshots__/ProposalLeafletMap-test.js.snap
Due: jest, flow, frontend

[8927-ILLUSTRAITON] change comment typo
  app/Resources/js/components/Event/Map/LeafletMap.js
Due: jest, flow, frontend

9037-FIX fix snapshots of user archive
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions-privee.csv
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  __snapshots__/exports/budget-participatif-rennes_vainqueur.csv
  __snapshots__/rgpd_user_archives/user5/medias.csv
  __snapshots__/rgpd_user_archives/user5/proposals.csv
  __snapshots__/rgpd_user_archives/userAdmin/proposals.csv
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Page/ProposalsDisplayMap-test.js
  app/Resources/js/components/Page/ProposalsDisplayMap.js
  app/Resources/js/components/Page/__snapshots__/ProposalsDisplayMap-test.js.snap
  app/Resources/js/components/Proposal/List/ProposalListView.js
  app/Resources/js/components/Proposal/List/ProposalListViewPaginated.js
  app/Resources/js/components/Proposal/Map/LeafletMap-test.js
  app/Resources/js/components/Proposal/Map/LeafletMap.js
  app/Resources/js/components/Proposal/Map/LocateControl.js
  app/Resources/js/components/Proposal/Map/ProposalLeafletMap-test.js
  app/Resources/js/components/Proposal/Map/ProposalLeafletMap.js
  app/Resources/js/components/Proposal/Map/ProposalMapPopover-test.js
  app/Resources/js/components/Proposal/Map/ProposalMapPopover.js
  app/Resources/js/components/Proposal/Map/__snapshots__/LeafletMap-test.js.snap
  app/Resources/js/components/Proposal/Map/__snapshots__/ProposalMapPopover-test.js.snap
  app/Resources/js/stories/capcollectif/ProposalMapPopover-stories.js
  app/Resources/js/stories/mocks/proposal.js
  src/Capco/AppBundle/Mailer/Message/UserArchive/UserArchiveGeneratedMessage.php
  src/Capco/AppBundle/Notifier/UserArchiveNotifier.php
  yarn.lock
Due: php, jest, flow, backend, frontend

[8927-ILLUSTRAITON] feedback & bugfix on proposal default picturee
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions-privee.csv
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  __snapshots__/exports/budget-participatif-rennes_vainqueur.csv
  __snapshots__/rgpd_user_archives/user5/medias.csv
  __snapshots__/rgpd_user_archives/user5/proposals.csv
  __snapshots__/rgpd_user_archives/userAdmin/proposals.csv
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Page/ProposalsDisplayMap-test.js
  app/Resources/js/components/Page/ProposalsDisplayMap.js
  app/Resources/js/components/Page/__snapshots__/ProposalsDisplayMap-test.js.snap
  app/Resources/js/components/Proposal/List/ProposalListView.js
  app/Resources/js/components/Proposal/List/ProposalListViewPaginated.js
  app/Resources/js/components/Proposal/Map/LeafletMap-test.js
  app/Resources/js/components/Proposal/Map/LeafletMap.js
  app/Resources/js/components/Proposal/Map/LocateControl.js
  app/Resources/js/components/Proposal/Map/ProposalLeafletMap-test.js
  app/Resources/js/components/Proposal/Map/ProposalLeafletMap.js
  app/Resources/js/components/Proposal/Map/ProposalMapPopover-test.js
  app/Resources/js/components/Proposal/Map/ProposalMapPopover.js
  app/Resources/js/components/Proposal/Map/__snapshots__/ProposalLeafletMap-test.js.snap
  app/Resources/js/components/Proposal/Map/__snapshots__/ProposalMapPopover-test.js.snap
  app/Resources/js/components/Proposal/Preview/ProposalPreview.js
  app/Resources/js/stories/capcollectif/ProposalMapPopover-stories.js
  app/Resources/js/stories/mocks/proposal.js
  src/Capco/AppBundle/Mailer/Message/UserArchive/UserArchiveGeneratedMessage.php
  src/Capco/AppBundle/Notifier/UserArchiveNotifier.php
  yarn.lock
Due: php, jest, flow, backend, frontend

9037-FIX
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions-privee.csv
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  __snapshots__/exports/budget-participatif-rennes_vainqueur.csv
  __snapshots__/rgpd_user_archives/user5/medias.csv
  __snapshots__/rgpd_user_archives/user5/proposals.csv
  __snapshots__/rgpd_user_archives/userAdmin/proposals.csv
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Page/ProposalsDisplayMap-test.js
  app/Resources/js/components/Page/ProposalsDisplayMap.js
  app/Resources/js/components/Page/__snapshots__/ProposalsDisplayMap-test.js.snap
  app/Resources/js/components/Proposal/List/ProposalListView.js
  app/Resources/js/components/Proposal/List/ProposalListViewPaginated.js
  app/Resources/js/components/Proposal/Map/LeafletMap-test.js
  app/Resources/js/components/Proposal/Map/LeafletMap.js
  app/Resources/js/components/Proposal/Map/LocateControl.js
  app/Resources/js/components/Proposal/Map/ProposalLeafletMap-test.js
  app/Resources/js/components/Proposal/Map/ProposalLeafletMap.js
  app/Resources/js/components/Proposal/Map/ProposalMapPopover-test.js
  app/Resources/js/components/Proposal/Map/ProposalMapPopover.js
  app/Resources/js/components/Proposal/Map/__snapshots__/LeafletMap-test.js.snap
  app/Resources/js/components/Proposal/Map/__snapshots__/ProposalMapPopover-test.js.snap
  app/Resources/js/components/Proposal/Preview/ProposalPreview.js
  app/Resources/js/stories/capcollectif/ProposalMapPopover-stories.js
  app/Resources/js/stories/mocks/proposal.js
  src/Capco/AppBundle/Mailer/Message/UserArchive/UserArchiveGeneratedMessage.php
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
  src/Capco/AppBundle/Notifier/UserArchiveNotifier.php
Due: php, jest, flow, backend, frontend

Use https-proxy-agent >= 3
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions-privee.csv
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  __snapshots__/exports/budget-participatif-rennes_vainqueur.csv
  __snapshots__/rgpd_user_archives/user5/medias.csv
  __snapshots__/rgpd_user_archives/user5/proposals.csv
  __snapshots__/rgpd_user_archives/userAdmin/proposals.csv
  package.json
  src/Capco/AppBundle/GraphQL/Resolver/Media/MediaUrlResolver.php
  src/Capco/AppBundle/Mailer/Message/UserArchive/UserArchiveGeneratedMessage.php
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
  src/Capco/AppBundle/Notifier/UserArchiveNotifier.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalMedia.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewMedia.types.yml
  yarn.lock
Due: graphql, php, backend

Fix sitemap when themes are enabled
  features/api/sitemap.feature
  package.json
  src/Capco/AppBundle/Entity/Theme.php
  src/Capco/AppBundle/GraphQL/Resolver/Media/MediaUrlResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalMedia.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewMedia.types.yml
  yarn.lock
Due: graphql, php, backend

[8893-FIX] - Opened 5672 port in docker to allow native host to access to this port
  features/api/sitemap.feature
  infrastructure/environments/development.yml
  src/Capco/AppBundle/Entity/Theme.php
Due: php, backend

Merge pull request #9077 from cap-collectif/fix-sitemap-when-features-are-enabled
  features/api/sitemap.feature
  infrastructure/environments/development.yml
  src/Capco/AppBundle/Entity/Theme.php
Due: php, backend

Merge pull request #9075 from cap-collectif/fix-js-audit-https-proxy-agent
  package.json
  yarn.lock
Due: none

[8893-FIX] - Fix RabbitMQ en environnement local (#9079)
  infrastructure/environments/development.yml
Due: none

9037 fix snapshot (#9074)
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions-privee.csv
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  __snapshots__/exports/budget-participatif-rennes_vainqueur.csv
  __snapshots__/rgpd_user_archives/user5/medias.csv
  __snapshots__/rgpd_user_archives/user5/proposals.csv
  __snapshots__/rgpd_user_archives/userAdmin/proposals.csv
  src/Capco/AppBundle/Mailer/Message/UserArchive/UserArchiveGeneratedMessage.php
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
  src/Capco/AppBundle/Notifier/UserArchiveNotifier.php
Due: php, backend

Query.votes does not require to be an admin
  features/graphql-public/query/Query_votes.js
  features/graphql-public/query/__snapshots__/Query_votes.js.snap
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
Due: php, backend

[8893-FIX] - Moved RabbitMQ port to correct file
  features/graphql-public/query/Query_votes.js
  features/graphql-public/query/__snapshots__/Query_votes.js.snap
  infrastructure/environments/base.yml
  infrastructure/environments/development.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
Due: php, backend

Merge pull request #9084 from cap-collectif/fix-query-votes-when-anonymous
  features/graphql-public/query/Query_votes.js
  features/graphql-public/query/__snapshots__/Query_votes.js.snap
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
Due: php, backend

[9071-FIX] - Fixed URLs for the app_project_show_opinions
  src/Capco/AppBundle/Controller/Site/OpinionController.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionUrlResolver.php
  src/Capco/AppBundle/Normalizer/OpinionNormalizer.php
  src/Capco/AppBundle/Repository/OpinionRepository.php
  src/Capco/AppBundle/Repository/OpinionTypeRepository.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/views/Consultation/SectionPage.html.twig
  src/Capco/AppBundle/Resources/views/Opinion/delete.html.twig
Due: graphql, php, backend

[9071-FIX] - Added consultationSlug in OpinionListPage tests
  features/front/features/opinion_list.feature
  features/front/features/opinions.feature
  src/Capco/AppBundle/Behat/Page/OpinionListPage.php
Due: backend

[9071-FIX] - Fixed secondary route for `app_project_show_opinions` - Usage of logger context instead of `sprintf`
  features/front/features/opinions.feature
  src/Capco/AppBundle/Behat/Page/SectionPage.php
  src/Capco/AppBundle/Controller/Site/OpinionController.php
Due: php, backend

[9071-FIX] - Fixed `consultationSlug` in `opinion_list.feature:5`
  features/front/features/opinion_list.feature
Due: none

[9010-RANDOM] fixing test by changing idea
  features/front/user/profile.feature
Due: none

[9010-RANDOM] fix typo and added tag
  features/front/user/profile.feature
Due: none

[9010-RANDOM] un random en moins
  features/front/user/profile.feature
Due: none

[9010-RANDOM] fix prep-e2e
  yarn.lock
Due: none

Change default SSOEnvironment to NONE.
  app/DoctrineMigrations/Version20191023141545.php
  schema.internal.graphql
  src/Capco/AppBundle/DBAL/Enum/EnumSSOEnvironmentType.php
  src/Capco/AppBundle/Entity/SSO/AbstractSSOConfiguration.php
  src/Capco/AppBundle/Resources/config/graphql/public/enums/SSOEnvironment.types.yml
Due: php, backend

8927 illustration proposal depot (#9061)
  app/DoctrineMigrations/Version20191023141545.php
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Page/ProposalsDisplayMap-test.js
  app/Resources/js/components/Page/ProposalsDisplayMap.js
  app/Resources/js/components/Page/__snapshots__/ProposalsDisplayMap-test.js.snap
  app/Resources/js/components/Proposal/List/ProposalListView.js
  app/Resources/js/components/Proposal/List/ProposalListViewPaginated.js
  app/Resources/js/components/Proposal/Map/LeafletMap-test.js
  app/Resources/js/components/Proposal/Map/LeafletMap.js
  app/Resources/js/components/Proposal/Map/LocateControl.js
  app/Resources/js/components/Proposal/Map/ProposalLeafletMap-test.js
  app/Resources/js/components/Proposal/Map/ProposalLeafletMap.js
  app/Resources/js/components/Proposal/Map/ProposalMapPopover-test.js
  app/Resources/js/components/Proposal/Map/ProposalMapPopover.js
  app/Resources/js/components/Proposal/Map/__snapshots__/ProposalLeafletMap-test.js.snap
  app/Resources/js/components/Proposal/Map/__snapshots__/ProposalMapPopover-test.js.snap
  app/Resources/js/components/Proposal/Preview/ProposalPreview.js
  app/Resources/js/stories/capcollectif/ProposalMapPopover-stories.js
  app/Resources/js/stories/mocks/proposal.js
  schema.internal.graphql
  src/Capco/AppBundle/DBAL/Enum/EnumSSOEnvironmentType.php
  src/Capco/AppBundle/Entity/SSO/AbstractSSOConfiguration.php
  src/Capco/AppBundle/Resources/config/graphql/public/enums/SSOEnvironment.types.yml
Due: php, jest, flow, backend, frontend

Change default SSOEnvironment to NONE. (#9089)
  app/DoctrineMigrations/Version20191023141545.php
  schema.internal.graphql
  src/Capco/AppBundle/DBAL/Enum/EnumSSOEnvironmentType.php
  src/Capco/AppBundle/Entity/SSO/AbstractSSOConfiguration.php
  src/Capco/AppBundle/Resources/config/graphql/public/enums/SSOEnvironment.types.yml
Due: php, backend
