Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

check ping google (#13674)
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/cron/check_ping_google
Due: none

12912 fix unique constraint (#13669)
  __snapshots__/exports/legacyUsers.csv
  fixtures/Dev/User.yaml
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/DoctrineMigrations/Version20211116165925.php
Due: php

[13266-LIST] UserIdentificationCodeList (#13671)
  config/packages/repositories.yaml
  fixtures/Dev/UserIdentificationCode.yaml
  fixtures/Dev/UserIdentificationCodeList.yaml
  spec/Capco/AppBundle/Command/GenerateIdentificationCodeCommandSpec.php
  src/Capco/AppBundle/Command/GenerateIdentificationCodeCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/Entity/Security/UserIdentificationCode.php
  src/Capco/AppBundle/Entity/Security/UserIdentificationCodeList.php
  src/Capco/AppBundle/Entity/UserIdentificationCode.php
  src/Capco/AppBundle/Repository/Security/UserIdentificationCodeListRepository.php
  src/Capco/AppBundle/Repository/Security/UserIdentificationCodeRepository.php
  src/Capco/AppBundle/Validator/Constraints/CheckIdentificationCodeValidator.php
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Form/Type/PersonalDataFormType.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/DoctrineMigrations/Version20211117102457.php
  src/DoctrineMigrations/Version20211117141551.php
Due: php

[COMPOUSER-UPDATE] composer update (#13684)
  composer.lock
Due: none

Implement a lighter <Providers /> component for admin-next (#13685)
  admin-next/components/Layout/Layout.tsx
  admin-next/config.ts
  admin-next/next.config.js
  admin-next/package.json
  admin-next/pages/_app.tsx
  admin-next/pages/index.tsx
  admin-next/types.ts
  admin-next/utils/feature-flags-resolver.ts
  admin-next/utils/providers.tsx
  admin-next/utils/relay-environement.ts
  admin-next/utils/session-resolver.ts
  frontend/js/config.js
  yarn.lock
Due: jest, flow

[12935-REMOVE] Remove api enterprise (#13687)
  config/packages/resolvers.yaml
  frontend/js/components/Form/RenderResponses.js
  frontend/js/components/Proposal/Form/ProposalForm.js
  frontend/js/plugin/APIEnterprise/APIEnterpriseConstants.js
  frontend/js/plugin/APIEnterprise/APIEnterpriseFunctions.js
  frontend/js/plugin/APIEnterprise/README.md
  schema.internal.graphql
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
  src/Capco/AppBundle/Form/ProposalType.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/APIEnterpriseAutoCompleteUtils.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/APIEnterprisePdfGenerator.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/APIEnterpriseTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteDocQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromIdQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromSiretQueryResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/decorator/APIEnterpriseMandatoryFields.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/APIEnterpriseType.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/APIEnterpriseAssociation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/APIEnterpriseDocuments.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/APIEnterpriseEnterprise.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/APIEnterprisePublicOrganization.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/union/APIEnterpriseResult.types.yaml
Due: graphql, php, jest, flow

13266 list query (#13686)
  features/graphql/query/userIdentificationCodeLists.feature
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Security/UserIdentificationCode.php
  src/Capco/AppBundle/Entity/Security/UserIdentificationCodeList.php
  src/Capco/AppBundle/GraphQL/Resolver/AlreadyUsedUserIdentificationCodesCountResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserIdentificationCodeListResolver.php
  src/Capco/AppBundle/Repository/Security/UserIdentificationCodeRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalUserIdentificationCodeListOwner.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUserIdentificationCodeList.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/relay-connection/InternalUserIdentificationCodeListConnection.types.yaml
Due: graphql, php

[13736-FIX] fix bug on debateVote (#13737)
  src/Capco/AppBundle/Entity/Debate/DebateVote.php
  src/Capco/AppBundle/GraphQL/Resolver/Contribution/ConsultationTypeResolver.php
Due: graphql, php

[13536-CONTROLLER] use controller::file instead of custom response header (#13564)
  src/Capco/AdminBundle/Controller/GroupController.php
  src/Capco/AdminBundle/Controller/ProposalController.php
  src/Capco/AdminBundle/Controller/UserController.php
  src/Capco/AppBundle/Controller/Site/DownloadController.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Resolver/ProposalResolver.php
Due: php

13266 deleteUserIdentificationCodeList (#13744)
  features/graphql/mutation/deleteUserIdentificationCodeList.feature
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/Security/DeleteUserIdentificationCodeListMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/security/DeleteUserIdentificationCodeListErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/security/DeleteUserIdentificationCodeListInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/security/DeleteUserIdentificationCodeListPayload.types.yaml
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/DoctrineMigrations/Version20211122220652.php
Due: graphql, php

[11566-FIX] section_translation title not null (#13753)
  src/DoctrineMigrations/Version20211124152431.php
Due: php

12912 fix sso servicename (#13673)
  spec/Capco/UserBundle/Security/Core/User/OauthUserProviderSpec.php
  src/Capco/UserBundle/Repository/UserRepository.php
  src/Capco/UserBundle/Security/Core/User/OauthUserProvider.php
  src/DoctrineMigrations/Version20211118155743.php
Due: php

Add relay for admin-next (#13758)
  admin-next/.babelrc
  admin-next/package.json
  admin-next/pages/dashboard.tsx
  admin-next/pages/emails.tsx
  admin-next/pages/index.tsx
  admin-next/utils/relay-environement.ts
  yarn.lock
Due: none

Remove V1 to V2 switch for Occitanie Preprod (#13765)
  src/Capco/AppBundle/Client/OccitanieClient.php
Due: php

source app.env in crontab (#13764)
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/cron/crontab
  infrastructure/services/remote/cron/source_cron_env
Due: none

[1547-META] Retirer la méta viewport (#13591)
  src/Capco/AppBundle/Mailer/templates/standardLayout.html.twig
  src/Capco/AppBundle/Mailer/templates/standardLayoutNew.html.twig
  src/Capco/AppBundle/Resources/views/empty.html.twig
  src/Capco/AppBundle/Resources/views/layout.html.twig
Due: php

[13767-FIX-ES-CHECK-MAPPING] Fix ES Check Mapping Command. (#13779)
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
Due: php

[13755-FIX] fix nullable (#13777)
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalAdminUrlResolver.php
Due: graphql, php

Debounce PasswordComplexUtility (#13774)
  features/back/user/user.feature
  features/front/user/profile.feature
  features/front/user/reset_password.feature
  frontend/js/components/User/UserPasswordComplexityUtils.js
Due: jest, flow

[13138-FIX] fix body color (#13776)
  src/Capco/AppBundle/Mailer/templates/UserInvite/newInvitation.html.twig
Due: php

[13760-FIX] throw proposal not found (#13778)
  src/Capco/AppBundle/GraphQL/Mutation/DeleteProposalNewsMutation.php
Due: graphql, php

[13689-FIX] fix estimatedCost type (#13785)
  frontend/js/components/Proposal/Analysis/ProposalDecisionFormPanel.js
Due: jest, flow

[13644-BUG] `viewerDidAuthor` ne doit pas être demandé si n… (#13780)
  frontend/js/components/Proposal/Page/Aside/ModalProposalSocialNetworks.js
  frontend/js/components/Proposal/Page/Aside/ProposalPageAside.js
  frontend/js/components/Proposal/Page/Aside/ProposalSocialNetworkLinks.js
  frontend/js/components/Proposal/Page/MainContent/ProposalPageMainAside.js
  frontend/js/components/Proposal/Page/MainContent/ProposalPageMainContent.js
  frontend/js/components/Proposal/Page/ProposalPageLogic.js
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPage-test.js.snap
  frontend/js/mutations/UpdateProposalSocialNetworksMutation.js
Due: jest, flow

Bug Day : Erreur sur le vote maximum quand le vote mini est renseigné (#13223)
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm-test.js
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.js
Due: jest, flow

[13307-FIX] fix estimation ES (#13775)
  src/Capco/AppBundle/Resources/config/serialization/Proposal.yaml
Due: php

[BUGDAY] Some small fix (#13782)
  frontend/js/components/Event/Form/EventForm.js
  frontend/js/components/Event/Form/EventFormPage.js
  frontend/js/components/Proposal/List/ProposalList-test.js
  frontend/js/components/Proposal/List/ProposalList.js
  frontend/js/components/Proposal/List/__snapshots__/ProposalList-test.js.snap
  src/Capco/AppBundle/Resources/views/Step/show.html.twig
Due: php, jest, flow

Add missing cache invalidation for parameters, images and colors (#13583)
  config/packages/twig.yaml
  src/Capco/AdminBundle/Admin/FooterSocialNetworkAdmin.php
  src/Capco/AdminBundle/Admin/ProjectTypeAdmin.php
  src/Capco/AdminBundle/Admin/SiteColorAdmin.php
  src/Capco/AdminBundle/Admin/SiteImageAdmin.php
  src/Capco/AdminBundle/Admin/SiteParameterAdmin.php
  src/Capco/AdminBundle/Controller/SettingsController.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateAlphaProjectMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProjectMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateShieldAdminFormMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateSiteParameterMutation.php
  src/Capco/AppBundle/Repository/CollectStepRepository.php
  src/Capco/AppBundle/Repository/FollowerRepository.php
  src/Capco/AppBundle/Repository/FooterSocialNetworkRepository.php
  src/Capco/AppBundle/Repository/MediaResponseRepository.php
  src/Capco/AppBundle/Repository/MenuItemRepository.php
  src/Capco/AppBundle/Repository/OpinionRepository.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Repository/ProjectTypeRepository.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Repository/SiteColorRepository.php
  src/Capco/AppBundle/Repository/SiteImageRepository.php
  src/Capco/AppBundle/Repository/SiteParameterRepository.php
  src/Capco/AppBundle/Repository/ValueResponseRepository.php
  src/Capco/AppBundle/Twig/FooterRuntime.php
  src/Capco/AppBundle/Twig/ParametersRuntime.php
  src/Capco/AppBundle/Twig/SiteParameterRuntime.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php

[12128] Nettoyer le code CSS global (#13754)
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
  src/Resources/scss/modules/_consult.scss
  src/Resources/scss/modules/_project.scss
  src/Resources/scss/modules/_step-tabs.scss
  src/Resources/scss/print.scss
  src/Resources/scss/style.scss
Due: php

[FIX-CORS] fix CORS on unix system for dev (#13800)
  infrastructure/services/local/nginx/fastcgi.conf
Due: none

[5700-REFACTO] Remove Proposal Form legacy clone. (#13787)
  src/Capco/AdminBundle/Controller/ProposalFormController.php
  src/Capco/AppBundle/Entity/ProposalForm.php
  src/Capco/AppBundle/Entity/Steps/CollectStep.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalForm/DuplicateProposalFormMutation.php
Due: graphql, php

Hide address if it's not enabled on form (#13803)
  frontend/js/components/Proposal/Page/MainContent/ProposalPageLocalisation-test.js
  frontend/js/components/Proposal/Page/MainContent/ProposalPageLocalisation.js
  frontend/js/components/Proposal/Page/MainContent/__snapshots__/ProposalPageLocalisation-test.js.snap
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPage-test.js.snap
Due: jest, flow

[13266-CREATE] createUserIdentificationCodeList mutation (#13747)
  features/graphql/mutation/createUserIdentificationCodeList.feature
  fixtures/Dev/UserIdentificationCode.yaml
  schema.internal.graphql
  spec/Capco/AppBundle/Command/GenerateIdentificationCodeCommandSpec.php
  src/Capco/AppBundle/Command/GenerateIdentificationCodeCommand.php
  src/Capco/AppBundle/Entity/Security/UserIdentificationCode.php
  src/Capco/AppBundle/Entity/Security/UserIdentificationCodeList.php
  src/Capco/AppBundle/Generator/IdentificationCodeGenerator.php
  src/Capco/AppBundle/GraphQL/Mutation/Security/CreateUserIdentificationCodeListMutation.php
  src/Capco/AppBundle/Repository/Security/UserIdentificationCodeRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/security/CreateUserIdentificationCodeListInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/security/CreateUserIdentificationCodeListInputDatum.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/security/CreateUserIdentificationCodeListPayload.types.yaml
  src/DoctrineMigrations/Version20211125094836.php
Due: graphql, php

[DS] Update CapUI dependency (#13768)
  package.json
  yarn.lock
Due: none

Some initial stuff to prepare OSS release (#13807)
  .github/workflows/oss-sync.yml
  README.md
  config/packages/php_translation.yaml
  config/packages/security.yaml
  config/packages/swarrot.yaml
  config/services.yaml
  fetch_translations.mjs
  nodejs/server.js
  patches/.gitkeep
Due: none

[13281-ADD] fix events import csv (#13422)
  features/graphql/mutation/addEvents.feature
  frontend/js/components/Admin/Event/EventList/AdminEventImportModal.js
  frontend/js/components/Admin/Event/EventList/AdminEventListPage.js
  frontend/js/components/Event/Admin/AdminImportEventsCsvInput.js
  frontend/js/components/Event/Admin/AdminImportEventsForm.js
  frontend/js/mutations/AddEventsMutation.js
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/AddEventsMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/InternalEventInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalAddEventsPayload.types.yaml
Due: graphql, php, jest, flow

Clean old stories storybook (#13813)
  frontend/js/stories/admin-next/Test.stories.js
  frontend/js/stories/design/Colors-stories.js
  frontend/js/stories/design/Iconography-stories.js
  frontend/js/stories/design/Typography-stories.js
  frontend/js/stories/inte-client/WhatsNew-stories.js
  frontend/js/stories/layout/Modal-stories.js
  frontend/js/stories/layout/Navbar-stories.js
Due: jest, flow
