Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

15700 filter geo proposals fixtures and tests (#15707)
  __snapshots__/exports/croissance-innovation-disruption_collecte-des-avis.csv
  __snapshots__/exports/legacyUsers.csv
  __snapshots__/rgpd_user_archives/user5/proposals.csv
  __snapshots__/rgpd_user_archives/user5/user.csv
  features/graphql-api/internal/Analytics/__snapshots__/analytics.js.snap
  features/graphql-api/internal/SelectionStep/SelectionStep_proposals.js
  features/graphql-api/internal/SelectionStep/SelectionStep_proposals_excludeViewerVotes.js
  features/graphql-api/internal/SelectionStep/SelectionStep_proposals_location.js
  features/graphql-api/internal/SelectionStep/__snapshots__/SelectionStep_proposals.js.snap
  features/graphql-api/internal/SelectionStep/__snapshots__/SelectionStep_proposals_excludeViewerVotes.js.snap
  features/graphql-api/internal/SelectionStep/__snapshots__/SelectionStep_proposals_location.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_projects.js.snap
  features/graphql/query/allContributions.feature
  features/graphql/type/selection_step/selection_step_proposals_votes.feature
  fixtures/Dev/Proposal.yaml
  fixtures/Dev/ProposalForm.yaml
  fixtures/Dev/Selection.yaml
Due: none

Vue carte simple Web + Mobile layout IDF (#15709)
  frontend/js/components/Event/Map/LeafletMap-test.js
  frontend/js/components/Event/Map/__snapshots__/LeafletMap-test.js.snap
  frontend/js/components/Proposal/Map/Map.types.js
  frontend/js/components/VoteStep/Map/LeafletControl-test.js
  frontend/js/components/VoteStep/Map/LeafletControl.js
  frontend/js/components/VoteStep/Map/LocateAndZoomControl-test.js
  frontend/js/components/VoteStep/Map/LocateAndZoomControl.js
  frontend/js/components/VoteStep/Map/Map.style.js
  frontend/js/components/VoteStep/Map/VoteStepMap.js
  frontend/js/components/VoteStep/Map/VoteStepMapQuery.js
  frontend/js/components/VoteStep/Map/__snapshots__/LeafletControl-test.js.snap
  frontend/js/components/VoteStep/Map/__snapshots__/LocateAndZoomControl-test.js.snap
  frontend/js/components/VoteStep/ViewChangePanel-test.js
  frontend/js/components/VoteStep/ViewChangePanel.js
  frontend/js/components/VoteStep/VoteStepPage.js
  frontend/js/components/VoteStep/VoteStepPageMobileLayout.js
  frontend/js/components/VoteStep/VoteStepPageWebLayout.js
  frontend/js/components/VoteStep/__snapshots__/ViewChangePanel-test.js.snap
  frontend/js/utils/hooks/useUrlState.js
  jest-setup.js
  package.json
  src/Capco/AppBundle/Resources/views/Step/vote.html.twig
  yarn.lock
Due: php, jest, flow

consultation sections order by position then parent (#15708)
  src/Capco/AppBundle/Repository/OpinionTypeRepository.php
Due: php

clear doctrine cache after 1 week (#15710)
  config/packages/prod/doctrine.yaml
Due: none

Vignette Proposition VoteStep (#15717)
  frontend/js/components/VoteStep/List/ProposalPreviewCard-test.js
  frontend/js/components/VoteStep/List/ProposalPreviewCard.js
  frontend/js/components/VoteStep/List/ProposalsList-test.js
  frontend/js/components/VoteStep/List/ProposalsList.js
  frontend/js/components/VoteStep/List/ProposalsListSkeleton.js
  frontend/js/components/VoteStep/List/__snapshots__/ProposalPreviewCard-test.js.snap
  frontend/js/components/VoteStep/List/__snapshots__/ProposalsList-test.js.snap
  frontend/js/components/VoteStep/Map/Map.style.js
  frontend/js/components/VoteStep/Map/VoteStepMap.js
  frontend/js/components/VoteStep/VoteStepPage.js
  frontend/js/components/VoteStep/VoteStepPageMobileLayout.js
  frontend/js/components/VoteStep/VoteStepPageWebLayout.js
  frontend/js/startup/ProjectStepPageApp.js
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/Resources/views/Step/vote.html.twig
Due: php, jest, flow

Fix card box-shadow on vote step (#15722)
  frontend/js/components/VoteStep/List/ProposalPreviewCard.js
  frontend/js/components/VoteStep/List/__snapshots__/ProposalPreviewCard-test.js.snap
  frontend/js/components/VoteStep/List/__snapshots__/ProposalsList-test.js.snap
  frontend/js/components/VoteStep/VoteStepPageWebLayout.js
Due: jest, flow

View "My votes" on voteStep (#15723)
  frontend/js/components/VoteStep/List/ProposalsList.js
  frontend/js/components/VoteStep/List/VotesList-test.js
  frontend/js/components/VoteStep/List/VotesList.js
  frontend/js/components/VoteStep/List/__snapshots__/VotesList-test.js.snap
  frontend/js/components/VoteStep/ViewChangePanel.js
  frontend/js/components/VoteStep/VoteStepPageWebLayout.js
  frontend/js/components/VoteStep/__snapshots__/ViewChangePanel-test.js.snap
Due: jest, flow

Fix search pagination (#15719)
  src/Capco/AppBundle/Controller/Site/SearchController.php
  src/Capco/AppBundle/Resources/views/Default/search.html.twig
Due: php

[15595-Retours] Retours final sur la recette des projects dans la page évenements (#15727)
  frontend/js/components/Event/EventPage/EventPageProjectList.js
Due: jest, flow

allow orga member to display ballot vote (#15732)
  spec/Capco/AppBundle/Entity/Steps/CollectStepSpec.php
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
Due: php

[15718-SEARCH] Added informational message about search results (#15734)
  fetch_translations.mjs
  package.json
  src/Capco/AppBundle/Resources/views/Default/search.html.twig
Due: php

Clear Doctrine cache at startup (#15729)
  infrastructure/services/remote/php-fpm/run
Due: none

fix exception (#15735)
  src/Capco/AppBundle/Import/ImportProposalsFromCsv.php
Due: php

[15614 - Bug ] Les réseaux sociaux dépassent sur le titre sur la cover d'un projet (#15741)
  frontend/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorList-test.js.snap
  frontend/js/components/Project/__snapshots__/ProjectHeader-test.js.snap
  frontend/js/components/Ui/Project/ProjectHeader.Cover.js
Due: jest, flow

[15633-BUMP] Bump symfony/symfony from 4.4.35 to 4.4.50 (#15660)
  composer.lock
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalEmailingCampaignOwner.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalMailingListOwner.types.yaml
Due: php

track user emailing_campaign (#15742)
  config/packages/repositories.yaml
  config/packages/swarrot.yaml
  features/commands/consumers/emailing_campaign.feature
  fixtures/Dev/EmailingCampaignUser.yaml
  fixtures/Dev/MailingList.yaml
  src/Capco/AppBundle/Command/SendEmailingCampaignCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/Entity/EmailingCampaign.php
  src/Capco/AppBundle/Entity/EmailingCampaignUser.php
  src/Capco/AppBundle/Mailer/EmailingCampaignSender.php
  src/Capco/AppBundle/Repository/EmailingCampaignUserRepository.php
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/DoctrineMigrations/Version20230421104703.php
Due: php

orga improvements (#15746)
  admin-next/components/Organizations/OrganizationConfig/OrganizationConfigFormGeneral.tsx
  admin-next/components/Organizations/OrganizationConfig/OrganizationConfigFormMembers.tsx
  admin-next/components/Organizations/OrganizationList.tsx
  admin-next/pages/organizations.tsx
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/Repository/Organization/OrganizationRepositorySpec.php
  src/Capco/AppBundle/Repository/Organization/OrganizationRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
Due: php

fix 15761 (#15762)
  frontend/js/components/Proposal/Analysis/ProposalAssessmentFormPanel.js
  frontend/js/components/Proposal/Analysis/ProposalDecisionFormPanel.js
Due: jest, flow

fix-legacy-users-export (#15766)
  src/Capco/AdminBundle/Admin/UserAdmin.php
  src/Capco/AdminBundle/Resources/views/User/base_list.html.twig
Due: php

fix logout url redirect (#15759)
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
Due: php

Bump framer-motion 2 to 5 (#15773)
  admin-next/components/UI/SideBar/SideBar.tsx
  admin-next/components/UI/SideBar/menu/SideBarMenu.tsx
  admin-next/utils/providers.tsx
  frontend/js/components/Admin/Post/PostForm/__snapshots__/PostForm-test.js.snap
  frontend/js/components/Debate/Page/Drawers/__snapshots__/DebateStepPageArgumentsDrawer-test.js.snap
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote.js
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageAbsoluteVoteAndShare-test.js.snap
  frontend/js/components/DesignSystem/Accordion/panel/index.js
  frontend/js/components/DesignSystem/DetailDrawer/DetailDrawer.js
  frontend/js/components/DesignSystem/Menu/MenuList.js
  frontend/js/components/DesignSystem/Modal/Modal.js
  frontend/js/components/DesignSystem/ModalSteps/ModalStepsBody.js
  frontend/js/components/DesignSystem/ModalSteps/ModalStepsProgressBar.js
  frontend/js/components/DesignSystem/Popover/index.js
  frontend/js/components/DesignSystem/Skeleton/circle/index.js
  frontend/js/components/DesignSystem/Skeleton/index.js
  frontend/js/components/DesignSystem/Skeleton/text/index.js
  frontend/js/components/DesignSystem/Table/ActionBar/index.js
  frontend/js/components/DesignSystem/Tag/Tag.js
  frontend/js/components/DesignSystem/Toast/Toast.js
  frontend/js/components/DesignSystem/Toast/ToastsContainer.js
  frontend/js/components/DesignSystem/Tooltip/Tooltip.js
  frontend/js/components/Proposal/Edit/ProposalEditModal.js
  frontend/js/components/Ui/Uploader/Illustration.js
  frontend/js/components/Ui/Uploader/Uploader.styles.js
  frontend/js/startup/Providers.js
  package.json
  yarn.lock
Due: jest, flow

fix accessing nullable value (#15778)
  spec/Capco/AppBundle/Entity/Steps/CollectStepSpec.php
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
Due: php

[15783-Fix] Frontend Fix For FranceConnect (#15790)
  frontend/js/components/Ui/Button/LoginSocialButton.js
Due: jest, flow

Fix Event list infinite scroll (#15802)
  admin-next/components/Events/EventList.tsx
Due: none

fix newsletter export (#15804)
  config/packages/services.yaml
  src/Capco/AdminBundle/Admin/NewsletterSubscriptionAdmin.php
Due: php

[15791-INDEXATION] Fix Indexation with offset option does not take it into account (#15798)
  src/Capco/AppBundle/Elasticsearch/Indexer.php
Due: php

fix-highlited-content-reorder (#15805)
  src/Capco/AdminBundle/Controller/HighlightedContentController.php
Due: php

fix analysis tab index (#15807)
  frontend/js/components/ProposalForm/ProposalFormAdminPageTabs.js
Due: jest, flow

always show options in project list (#15809)
  admin-next/components/Projects/ProjectItem.tsx
  admin-next/components/Projects/__snapshots__/ProjectItem.test.tsx.snap
  admin-next/components/Projects/__snapshots__/ProjectList.test.tsx.snap
Due: none

Center "readmore" button on debate app (#15817)
  frontend/js/components/Debate/Page/FaceToFace/DebateStepPageFaceToFace.js
Due: jest, flow

rm updateSmsCreditMutation (#15815)
  features/graphql-api/internal/mutation/Sms/__snapshots__/updateSmsCredit.js.snap
  features/graphql-api/internal/mutation/Sms/updateSmsCredit.js
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/Sms/UpdateSmsCreditMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/Sms/UpdateSmsCreditMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/UpdateSmsCreditErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateSmsCreditInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateSmsCreditPayload.types.yaml
Due: graphql, php

[15796 - Bug] La description de la section/sous-section n'apparait pas dans le formulaire de dépôt en front (#15816)
  frontend/js/components/Ui/Form/Description/Description.js
Due: jest, flow

France Connect verify state and nonce (#15821)
  config/packages/services.yaml
  spec/Capco/UserBundle/FranceConnect/FranceConnectResourceOwnerSpec.php
  spec/Capco/UserBundle/Security/Core/User/OauthUserProviderSpec.php
  src/Capco/UserBundle/FranceConnect/FranceConnectOptionsModifier.php
  src/Capco/UserBundle/FranceConnect/FranceConnectResourceOwner.php
  src/Capco/UserBundle/Security/Core/User/OauthUserProvider.php
Due: php

Fix "View project" button on theme page (#15855)
  src/Capco/AppBundle/Resources/views/Theme/show.html.twig
Due: php

[15783] FranceConnect SVG Size (#15857)
  frontend/js/components/Ui/Icons/svg/france-connect.svg
  frontend/js/components/Ui/Icons/svg/franceconnect-bouton-hover.svg
Due: jest, flow

UpdateNewProjectMutation (#15495)
  admin-next/mutations/UpdateNewProjectMutation.ts
  features/graphql-api/internal/mutation/__snapshots__/updateNewProject.js.snap
  features/graphql-api/internal/mutation/updateNewProject.js
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Command/MigrateProjectPresentationStepToOtherStep.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/GraphQL/Mutation/CreateProjectMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateNewProjectMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateNewProjectInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateNewProjectPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yaml
Due: graphql, php

purify input to prevent XSS (#15862)
  src/Capco/AppBundle/GraphQL/Mutation/UpdateNewProjectMutation.php
Due: graphql, php

[15550] Finalisation Captcha Turnstile (#15853)
  features/front/user/invitation.feature
  features/front/user/login.feature
  features/front/user/registration.feature
  frontend/js/components/Form/Captcha.js
  package.json
  yarn.lock
Due: jest, flow
