Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

[5673-DRAFT] Rename survey by voting.
  app/Resources/js/components/Questionnaire/QuestionnaireAdminCreateButton.js
  src/Capco/AppBundle/Entity/Questionnaire.php
  src/Capco/AppBundle/Enum/QuestionnaireType.php
  src/Capco/AppBundle/Resources/config/graphql/QuestionnaireType.types.yml
Due: php, jest, flow, backend, frontend

[5673-DRAFT] Add Draftable interface on Reply.
  app/Resources/js/components/Reply/Form/ReplyForm.js
Due: jest, flow, frontend

[5673-DRAFT] Add E2E test for draft.
  features/front/questionnaire.feature
  src/Capco/AppBundle/Behat/Traits/QuestionnaireStepsTrait.php
Due: backend

[5673-DRAFT] Add snapshots test on Reply Edit.
  app/Resources/js/components/Reply/Edit/ReplyModalLink.js
Due: jest, flow, frontend

[5673-DRAFT] Fix multiple bugs on Reply Edit.
  app/Resources/js/components/Reply/Edit/ReplyModalLink.js
Due: jest, flow, frontend

[5673-DRAFT] Fix and add more E2E tests.
  features/front/questionnaire.feature
  src/Capco/AppBundle/Behat/Traits/QuestionnaireStepsTrait.php
Due: backend

[5673-DRAFT] Replace wait(1) by behat Instructions.
  features/front/questionnaire.feature
  src/Capco/AppBundle/Behat/Traits/QuestionnaireStepsTrait.php
Due: backend

[5673-DRAFT] Modify wrong description.
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateQuestionnaireInput.types.yml
Due: php, backend

[5673-DRAFT] Fix types with Enum QuestionnaireType
  app/Resources/js/components/Questionnaire/QuestionnaireAdminCreateButton.js
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateQuestionnaireInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalQuestionnaire.types.yml
Due: php, jest, flow, backend, frontend

[5673-DRAFT] Remove useless draft attribute.
  src/Capco/AppBundle/Resources/config/graphql/Reply.types.yml
Due: php, backend

[5673-DRAFT] Daddy @ptondereau save the day.
  app/DoctrineMigrations/Version20181024122058.php
Due: none

[5673-DRAFT] Add description to internal questionnaire.
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalQuestionnaire.types.yml
Due: php, backend

[5673-DRAFT] Allow saving when no change in draft reply.
  app/Resources/js/components/Reply/Form/ReplyForm.js
Due: jest, flow, frontend

[5673-DRAFT] Add custom title in sonata update questionnaire.
  src/Capco/AdminBundle/Resources/views/Questionnaire/edit.html.twig
Due: php, backend

[5673-DRAFT] Fix questionnaireStepsTrait merge.
  src/Capco/AppBundle/Behat/Traits/QuestionnaireStepsTrait.php
Due: backend

[5673-DRAFT] Re-generate migration.
  app/DoctrineMigrations/Version20181030172019.php
Due: none

[5673-DRAFT] Update of feature behat.
  features/graphql/mutations/deleteReply.feature
  features/graphql/types/questionnaire/questionnaire.feature
Due: none

[5673-DRAFT] Add input type and resolve conflicts.
  app/Resources/js/utils/responsesHelper.js
Due: jest, flow, frontend

[5673-DRAFT] Fix wrong typehint.
  src/Capco/AppBundle/Entity/Questionnaire.php
Due: php, backend

[5673-DRAFT] Change wrong trad.
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/components/Reply/Form/__snapshots__/ReplyForm-test.js.snap
Due: jest, flow, frontend

[5673-DRAFT] PR return for @spyl94.
  app/DoctrineMigrations/Version20181030172019.php
  app/Resources/js/utils/responsesHelper.js
Due: jest, flow, frontend

[5673-DRAFT] Fix migration.
  app/DoctrineMigrations/Version20181030172019.php
  app/Resources/js/utils/responsesHelper.js
Due: jest, flow, frontend

[5673-DRAFT] Fix default value in migration.
  app/DoctrineMigrations/Version20181107102547.php
  src/Capco/AppBundle/Entity/Questionnaire.php
Due: php, backend

[5673-DRAFT] Replace default value of questionnaire type.
  app/DoctrineMigrations/Version20181023160307.php
  src/Capco/AppBundle/Entity/Questionnaire.php
Due: php, backend

[5673-DRAFT] Fix import error in migration.
  app/DoctrineMigrations/Version20181023160307.php
Due: none

[5673-DRAFT] Fix again an error in migration.
  app/DoctrineMigrations/Version20181023160307.php
  src/Capco/AppBundle/Resources/config/graphql/QuestionnaireType.types.yml
Due: php, backend

[5673-DRAFT] Remove useless parameter.
  app/Resources/js/utils/responsesHelper.js
Due: jest, flow, frontend

[5673-DRAFT] Remove Old mogrations.
  app/DoctrineMigrations/Version20181023160307.php
  app/DoctrineMigrations/Version20181107102547.php
Due: none

[5673-DRAFT] Update migration.
  app/DoctrineMigrations/Version20181112153852.php
Due: none

[5673-DRAFT] Deleted by mistake beautiful code from @Amelie52.
  app/Resources/js/utils/responsesHelper.js
Due: jest, flow, frontend

[5673-DRAFT] Add missing migration
  app/DoctrineMigrations/Version20181023160307.php
Due: none

[5673-DRAFT] Yarn Relay.
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/__generated__/CreateQuestionnaireInputType.php
  src/Capco/AppBundle/GraphQL/__generated__/DraftableType.php
  src/Capco/AppBundle/GraphQL/__generated__/InternalQuestionnaireType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/QuestionnaireTypeType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
Due: backend

[5673-DRAFT] Add more flow to renderResponses.
  app/Resources/js/utils/responsesHelper.js
Due: jest, flow, frontend

[5673-DRAFT] Change id Order in graphql call.
  features/graphql/types/questionnaire/questionnaire.feature
Due: none

[5673-DRAFT] Add confirm popup to test proposal.
  features/back/proposal.feature
Due: none

[5673-DRAFT] Remove useless test delete proposal.
  features/front/proposal_votes.feature
Due: none

[5673-DRAFT] Fix multiple bug of front, Quill and Intl on opinion sources.
  app/Resources/js/components/Opinion/Source/OpinionSourceBox.js
  app/Resources/js/components/Opinion/Source/OpinionSourceForm.js
  app/Resources/js/components/Opinion/Source/__snapshots__/OpinionSourceBox-test.js.snap
  app/Resources/js/components/Utils/Filter.js
  app/Resources/scss/modules/_form.scss
Due: jest, flow, frontend

[5673-DRAFT] Add popup validation.
  features/back/proposal.feature
Due: none

[5673-DRAFT] Fix tests for (i hope) the last time.
  features/front/questionnaire.feature
  src/Capco/AppBundle/Behat/Traits/QuestionnaireStepsTrait.php
Due: backend

[5673-DRAFT] Add @database on addReply in questionnaire feature.
  features/front/questionnaire.feature
Due: none

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
