Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

[13375-FIX] gives access to the ROLE_PROJECT_ADMIN to create a propos… (#13378)
  __snapshots__/exports/.~lock.participants_depot-avec-selection-vote-budget.csv#
  __snapshots__/exports/legacyUsers.csv
  __snapshots__/exports/participants_budget-participatif-idf_collecte-des-projets-idf-privee.csv
  features/graphql-api/internal/User/Viewer_projects.js
  features/graphql-api/internal/User/__snapshots__/Viewer_projects.js.snap
  features/graphql-api/internal/mutation/Proposal/__snapshots__/createProposal.js.snap
  features/graphql-api/internal/mutation/Proposal/createProposal.js
  features/graphql-api/internal/mutation/updateAlphaProject.js
  fixtures/Dev/Project.yaml
  fixtures/Dev/User.yaml
  jest-setup.e2e.js
  src/Capco/AppBundle/GraphQL/Mutation/CreateProposalFromBackofficeMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Security/ProjectVoter.php
  src/Capco/AppBundle/Security/ProposalVoter.php
Due: graphql, php

Bouton Sticky sur mobile (#13383)
  frontend/js/components/Page/ProposalStepPage.js
  frontend/js/components/Page/ProposalStepPageHeader-test.js
  frontend/js/components/Page/ProposalStepPageHeader.js
  frontend/js/components/Page/__snapshots__/ProposalStepPageHeader-test.js.snap
  frontend/js/components/Proposal/Create/ProposalCreateModal.js
  frontend/js/components/Proposal/Edit/ProposalEditModal.js
Due: jest, flow

[13340-OWNER] add owner in table (#13355)
  frontend/js/components/Admin/Post/PostList/PostItem-test.js
  frontend/js/components/Admin/Post/PostList/PostItem.js
  frontend/js/components/Admin/Post/PostList/PostList.js
  frontend/js/components/Admin/Post/PostList/__snapshots__/PostItem-test.js.snap
  frontend/js/components/Admin/Post/PostList/__snapshots__/PostList-test.js.snap
  frontend/js/components/Admin/Project/ProposalFormList/ModalCreateProposalForm-test.js
  frontend/js/components/Admin/Project/ProposalFormList/ModalCreateProposalForm.js
  frontend/js/components/Admin/Project/ProposalFormList/NoResult.js
  frontend/js/components/Admin/Project/ProposalFormList/ProposalFormItem.js
  frontend/js/components/Admin/Project/ProposalFormList/ProposalFormList.js
  frontend/js/components/Admin/Project/ProposalFormList/ProposalFormListPage.js
  frontend/js/components/Admin/Project/ProposalFormList/__snapshots__/ModalCreateProposalForm-test.js.snap
  frontend/js/components/Admin/Project/ProposalFormList/__snapshots__/ProposalFormItem-test.js.snap
  frontend/js/components/Admin/Project/ProposalFormList/__snapshots__/ProposalFormList-test.js.snap
  frontend/js/components/Admin/Project/QuestionnaireList/ModalCreateQuestionnaire-test.js
  frontend/js/components/Admin/Project/QuestionnaireList/ModalCreateQuestionnaire.js
  frontend/js/components/Admin/Project/QuestionnaireList/NoResult.js
  frontend/js/components/Admin/Project/QuestionnaireList/QuestionnaireItem.js
  frontend/js/components/Admin/Project/QuestionnaireList/QuestionnaireList.js
  frontend/js/components/Admin/Project/QuestionnaireList/QuestionnaireListPage.js
  frontend/js/components/Admin/Project/QuestionnaireList/__snapshots__/ModalCreateQuestionnaire-test.js.snap
  frontend/js/components/Admin/Project/QuestionnaireList/__snapshots__/QuestionnaireItem-test.js.snap
  frontend/js/components/Admin/Project/QuestionnaireList/__snapshots__/QuestionnaireList-test.js.snap
  frontend/js/mutations/CreateProposalFormMutation.js
  frontend/js/mutations/CreateQuestionnaireMutation.js
Due: jest, flow

Fix bouton ouvert au retour (#13411)
  frontend/js/components/Proposal/Follow/ProposalFollowButton.js
Due: jest, flow

Make sure SMTP is used by default and not mandrill (#13402)
  config/packages/services.yaml
  src/Capco/AppBundle/DependencyInjection/Compiler/MailerServicePass.php
Due: php

Replace BS modal with DS modal on argument debate mobile (#13414)
  frontend/js/components/Debate/Page/Modals/MobilePublishArgumentModal.js
Due: jest, flow

Suppression du test qui foire lol (#13421)
  features/graphql-api/public/Query/Query_geocode.js
  features/graphql-api/public/Query/__snapshots__/Query_geocode.js.snap
Due: none

Some fix bug day (#13419)
  frontend/js/components/Event/Form/EventFormPage.js
  frontend/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
Due: jest, flow

[BUG-DAY] fix sex object object (#13410)
  frontend/js/components/User/Admin/UserAdminPersonalData.js
  frontend/js/components/User/Admin/__snapshots__/UserAdminPageTabs-test.js.snap
  frontend/js/components/User/Admin/__snapshots__/UserAdminPersonalData-test.js.snap
Due: jest, flow

[FIX-DUPLICATE] [FIX-DUPLICATE] fix duplicate (#13407)
  src/Capco/AppBundle/GraphQL/Mutation/DuplicateProjectMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Security/ProjectVoter.php
Due: graphql, php

[12604-Articles] Project owner Articles Create and Update (#13119)
  config/packages/admin.yaml
  frontend/js/components/Admin/Post/PostForm/ModalPostDeleteConfirmation-test.js
  frontend/js/components/Admin/Post/PostForm/ModalPostDeleteConfirmation.js
  frontend/js/components/Admin/Post/PostForm/PostForm-test.js
  frontend/js/components/Admin/Post/PostForm/PostForm.js
  frontend/js/components/Admin/Post/PostForm/PostFormPage.js
  frontend/js/components/Admin/Post/PostForm/PostFormQuery.js
  frontend/js/components/Admin/Post/PostForm/__snapshots__/ModalPostDeleteConfirmation-test.js.snap
  frontend/js/components/Admin/Post/PostForm/__snapshots__/PostForm-test.js.snap
  frontend/js/components/Form/Editor.js
  frontend/js/components/Form/Field.js
  frontend/js/components/Form/ReactBootstrapInput.js
  frontend/js/components/Proposal/Admin/ProposalAdminNewsForm-test.js
  frontend/js/components/Proposal/Admin/ProposalAdminNewsForm.js
  frontend/js/components/Proposal/Admin/__snapshots__/ProposalAdminNewsForm-test.js.snap
  frontend/js/components/Proposal/Admin/__snapshots__/ProposalAdminPage-test.js.snap
  frontend/js/registrationAdmin.js
  frontend/js/startup/AdminPostCreateFormApp.js
  frontend/js/utils/form/formatSubmitted.js
  src/Capco/AdminBundle/Admin/PostAdmin.php
  src/Capco/AdminBundle/Controller/PostController.php
  src/Capco/AdminBundle/Resources/views/Post/create.html.twig
  src/Capco/AdminBundle/Resources/views/Post/edit.html.twig
  src/Capco/AppBundle/Entity/Post.php
Due: php, jest, flow

[5350-BUGDAY Suppression d'une feature inutilisé #cancelFeature (#13416)
  features/graphql-api/internal/mutation/createAlphaProject.js
  features/graphql-api/internal/mutation/updateAlphaProject.js
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminSelectionStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.js
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminSelectionStepForm-test.js.snap
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminPage-test.js.snap
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/StepAdmin.php
  src/Capco/AppBundle/Entity/Steps/SelectionStep.php
  src/Capco/AppBundle/Following/ProposalActivitiesResolver.php
  src/Capco/AppBundle/Form/Step/SelectionStepFormType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/ProjectStepInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalSelectionStep.types.yaml
  src/DoctrineMigrations/Version20211001110900.php
Due: php, jest, flow

Cas feature (#13425)
  composer.json
  composer.lock
  config/packages/services.yaml
  config/services.yaml
  features/front/user/invitation.feature
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  frontend/js/components/Admin/Project/Form/__snapshots__/ProjectAdminForm-test.js.snap
  frontend/js/components/Ui/Button/LoginSocialButton.js
  frontend/js/components/User/Login/LoginSocialButtons-test.js
  frontend/js/components/User/Login/LoginSocialButtons.js
  frontend/js/components/User/Login/__snapshots__/LoginSocialButtons-test.js.snap
  frontend/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  frontend/js/redux/modules/default.js
  frontend/js/types.js
  schema.internal.graphql
  spec/Capco/UserBundle/Handler/CasHandlerSpec.php
  spec/Capco/UserBundle/Security/Core/User/CasUserProviderSpec.php
  spec/Capco/UserBundle/Security/Http/Logout/Handler/CASLogoutHandlerSpec.php
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Controller/Site/UserController.php
  src/Capco/AppBundle/GraphQL/Mutation/BaseDeleteUserMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
  src/Capco/AppBundle/Traits/User/UserSSOTrait.php
  src/Capco/UserBundle/Authenticator/CasAuthenticator.php
  src/Capco/UserBundle/Authenticator/SimplePreAuthenticator.php
  src/Capco/UserBundle/Authenticator/Token/CASToken.php
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Handler/CasHandler.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/Capco/UserBundle/Security/Core/User/CasUserProvider.php
  src/Capco/UserBundle/Security/Core/User/SimplePreAuthenticatorUserProvider.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/CASLogoutHandler.php
  src/DoctrineMigrations/Version20211005094408.php
Due: graphql, php, jest, flow

Fix some SSO login when shield is enabled (#13440)
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/EventListener/ShieldListener.php
Due: php

[EVENT-EXPORT] add export participants url for events (#13437)
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/DeleteEventMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventExportParticipantsUrlResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yaml
Due: graphql, php

Rename CAS button (#13441)
  frontend/js/components/Ui/Button/LoginSocialButton.js
  frontend/js/components/Ui/Icons/Icon.js
  frontend/js/components/User/Invitation/SSOButton.style.js
Due: jest, flow

Fix du padding sur la modale d'edition proposal (#13443)
  frontend/js/components/Proposal/Edit/ProposalEditModal.js
  frontend/js/components/Proposal/Edit/__snapshots__/ProposalEditModal-test.js.snap
Due: jest, flow

[13282-FIX] fix toggle placement (#13412)
  frontend/js/components/Admin/Authentification/ListPublicSSO.js
  frontend/js/components/Admin/Authentification/__snapshots__/ListPublicSSO-test.js.snap
Due: jest, flow

[13317-FIX] fix display error on proposal illustration (#13362)
  frontend/js/components/DesignSystem/Icon/Icon.d.ts
  frontend/js/components/DesignSystem/Icon/Icon.js
  frontend/js/components/DesignSystem/Icon/index.js
  frontend/js/components/DesignSystem/Icon/svg/error.svg
  frontend/js/components/Form/ImageUpload.js
  frontend/js/components/Proposal/Admin/ProposalAdminContentCreateForm.js
  frontend/js/components/Proposal/Form/ProposalForm.js
  frontend/js/components/Proposal/Form/__snapshots__/ProposalForm-test.js.snap
Due: jest, flow

[12632-BUGDAY] fix submit proposalForm with mapCenter (#13417)
  frontend/js/components/ProposalForm/ProposalFormAdminConfigurationForm.js
  frontend/js/components/ProposalForm/Section/SectionDisplayMode/SectionDisplayMode.js
Due: jest, flow

Set estimation as float (#13449)
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeProposalContentInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeProposalNotationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yaml
Due: php

Ajout des themes sur la page proposals (#13451)
  frontend/js/components/Proposal/Page/Aside/ProposalPageMetadata-test.js
  frontend/js/components/Proposal/Page/Aside/ProposalPageMetadata.js
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPage-test.js.snap
  schema.internal.graphql
Due: jest, flow

Illustration SVG propositions : changements d'ID pour éviter les conflits de mask svg (#13453)
  frontend/js/components/Ui/Medias/CategoryBackground.js
Due: jest, flow

[13270-LOGIN] login facebook (#13302)
  config/packages/hwi_oauth.yaml
  config/packages/repositories.yaml
  config/packages/services.yaml
  config/packages/twig.yaml
  config/services.yaml
  features/graphql-api/internal/Query/Query_ssoConfigurations.js
  features/graphql-api/internal/Query/__snapshots__/Query_ssoConfigurations.js.snap
  fixtures/Dev/FacebookSSOConfiguration.yaml
  fixtures/Prod/FacebookSSOConfiguration.yaml
  frontend/js/components/Admin/Authentification/FacebookConfigurationCard.js
  frontend/js/components/Admin/Authentification/FacebookConfigurationForm.js
  frontend/js/components/Admin/Authentification/FacebookConfigurationModal.js
  frontend/js/components/Admin/Authentification/ListPublicSSO.js
  frontend/js/components/Admin/Authentification/__snapshots__/AuthentificationAdminPage-test.js.snap
  frontend/js/components/Admin/Authentification/__snapshots__/ListPublicSSO-test.js.snap
  frontend/js/components/User/Login/LoginSocialButtons.js
  frontend/js/components/User/Login/__snapshots__/LoginSocialButtons-test.js.snap
  frontend/js/components/User/Profile/AccountForm-test.js
  frontend/js/components/User/Profile/AccountForm.js
  frontend/js/mutations/UpdateFacebookSSOConfigurationMutation.js
  frontend/js/types.js
  schema.internal.graphql
  src/Capco/AppBundle/Controller/Site/UserController.php
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/Entity/SSO/AbstractSSOConfiguration.php
  src/Capco/AppBundle/Entity/SSO/FacebookSSOConfiguration.php
  src/Capco/AppBundle/Enum/SSOType.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateFacebookSSOConfigurationMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/SSO/TypeResolver.php
  src/Capco/AppBundle/Repository/FacebookSSOConfigurationRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalUpdateFacebookSSOConfigurationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalUpdateFacebookSSOConfigurationPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalFacebookSSOConfiguration.types.yaml
  src/Capco/AppBundle/Resources/views/layout.html.twig
  src/Capco/UserBundle/Controller/OauthConnectController.php
  src/Capco/UserBundle/Facebook/FacebookOptionsModifier.php
  src/DoctrineMigrations/Version20210916151651.php
Due: graphql, php, jest, flow

Add facultative HotJar analytic tracker for our BO (#13415)
  features/sso/france_connect.feature
  features/sso/openid_connect.feature
  fixtures/Benchmark/SiteParameter.yaml
  fixtures/Dev/SiteParameter.yaml
  fixtures/Prod/SiteParameter.yaml
  src/Capco/AdminBundle/Resources/views/analytics_trackers.html.twig
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Entity/SiteParameter.php
  src/DoctrineMigrations/Version20210927143921.php
Due: php

[13444] Fix trad mailjet (#13452)
  frontend/js/components/Admin/Emailing/EmailingParameters/SectionEmailNotification/__snapshots__/SectionEmailNotification-test.js.snap
  frontend/js/components/Admin/Emailing/EmailingParameters/SectionEmailingService/__snapshots__/SectionEmailingService-test.js.snap
  frontend/js/components/Admin/Emailing/EmailingParameters/SectionSendingDomains/SectionSendingDomains.js
  frontend/js/components/Admin/Emailing/EmailingParameters/SectionSendingDomains/__snapshots__/SectionSendDomains-test.js.snap
  frontend/js/components/Admin/Sidebar/Sidebar.js
  frontend/js/components/Ui/BackOffice/Section/Section.js
Due: jest, flow

Update noindex for profiles (#13432)
  src/Capco/AppBundle/Resources/views/Default/meta.html.twig
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/views/Profile/show.html.twig
Due: php

[FIX-LEGACYUSER] fix export legacy user, only if feature is enable (#13454)
  src/Capco/AppBundle/Command/CreateCsvFromLegacyUsersCommand.php
Due: php

Remove sources e2e tests (#12072)
  features/front/features/sources.feature
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
Due: none

[12599-PROJECT-LIST] Project List Remake and Project Admin (#13305)
  cypress/integration/admin_projects.spec.ts
  frontend/js/components/Admin/Project/Deprecated/ProjectAdminFormDeprecated.js
  frontend/js/components/Admin/Project/QuestionnaireList/QuestionnaireList.js
  frontend/js/components/Admin/Project/list/ProjectItem-test.js
  frontend/js/components/Admin/Project/list/ProjectItem.js
  frontend/js/components/Admin/Project/list/ProjectList-test.js
  frontend/js/components/Admin/Project/list/ProjectList.js
  frontend/js/components/Admin/Project/list/ProjectListNoResult.js
  frontend/js/components/Admin/Project/list/ProjectListPage.js
  frontend/js/components/Admin/Project/list/ProjectListQuery.js
  frontend/js/components/Admin/Project/list/ProjectModalConfirmationDelete-test.js
  frontend/js/components/Admin/Project/list/ProjectModalConfirmationDelete.js
  frontend/js/components/Admin/Project/list/ProjectModalCreateProject-test.js
  frontend/js/components/Admin/Project/list/ProjectModalCreateProject.js
  frontend/js/components/Admin/Project/list/ProjectModalExportSteps-test.js
  frontend/js/components/Admin/Project/list/ProjectModalExportSteps.js
  frontend/js/components/Admin/Project/list/__snapshots__/ProjectItem-test.js.snap
  frontend/js/components/Admin/Project/list/__snapshots__/ProjectList-test.js.snap
  frontend/js/components/Admin/Project/list/__snapshots__/ProjectModalConfirmationDelete-test.js.snap
  frontend/js/components/Admin/Project/list/__snapshots__/ProjectModalCreateProject-test.js.snap
  frontend/js/components/Admin/Project/list/__snapshots__/ProjectModalExportSteps-test.js.snap
  frontend/js/components/DesignSystem/SpotIcon/SpotIcon.d.ts
  frontend/js/components/DesignSystem/SpotIcon/SpotIcon.js
  frontend/js/components/DesignSystem/SpotIcon/index.js
  frontend/js/components/DesignSystem/SpotIcon/svg/project.svg
  frontend/js/components/Utils/downloadCSV.js
  frontend/js/mutations/CreateProjectMutation.js
  frontend/js/mutations/DeleteProjectMutation.js
  frontend/js/mutations/DuplicateProjectMutation.js
  frontend/js/registrationAdmin.js
  frontend/js/startup/AdminProjectListApp.js
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AdminBundle/Resources/views/Project/list.html.twig
Due: php, jest, flow

[13270-REMOVE] facebook client id can be 15 digit (#13470)
  frontend/js/components/Admin/Authentification/FacebookConfigurationForm.js
Due: jest, flow

Temporary disable OpenId tests (#13467)
  features/sso/france_connect.feature
  features/sso/openid_connect.feature
Due: none

[FIX-MONOLOG] set max files to 5 for dev and test logs files (#13465)
  config/packages/dev/monolog.yaml
  config/packages/test/monolog.yaml
  package.json
Due: none

[13445] Fix shield connection button (#13462)
  frontend/js/components/Page/ShieldPage.js
  frontend/js/components/User/Login/LoginModal-test.js
  frontend/js/components/User/Login/LoginModal.js
  frontend/js/components/User/Login/__snapshots__/LoginModal-test.js.snap
Due: jest, flow

Select email attribute to identify Lyon students (#13446)
  src/Capco/UserBundle/Authenticator/SamlAuthenticator.php
Due: php

[FIX-ADMIN-PROJECT-LIST] fix project admin list (#13447)
  features/back/project/project.feature
  features/front/features/project.feature
  features/graphql-api/internal/mutation/duplicateProject.js
  features/graphql-api/public/Query/__snapshots__/Query_projects.js.snap
  frontend/js/components/Admin/Project/list/ProjectListPage.js
  frontend/js/components/Admin/Project/list/ProjectModalCreateProject.js
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/GraphQL/Mutation/DuplicateProjectMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
  src/Capco/AppBundle/Security/ProjectVoter.php
Due: graphql, php, jest, flow

[13471-FIX] remove unused g_plus from authentification modal (#13474)
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  frontend/js/components/Admin/Project/Form/__snapshots__/ProjectAdminForm-test.js.snap
  frontend/js/components/User/Login/LoginSocialButtons-test.js
  frontend/js/components/User/Login/LoginSocialButtons.js
  frontend/js/components/User/Profile/AccountForm.js
  frontend/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  frontend/js/redux/modules/default.js
  frontend/js/types.js
  schema.internal.graphql
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
Due: php, jest, flow

13377 fix proposal admin project (#13392)
  features/back/moderation/proposal.feature
  frontend/js/components/Proposal/Admin/ProposalAdminFollowers.js
  frontend/js/components/Proposal/Admin/__snapshots__/ProposalAdminFollowers-test.js.snap
  src/Capco/AdminBundle/Resources/views/Proposal/edit.html.twig
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Security/ProposalVoter.php
Due: graphql, php, jest, flow
