Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

- Added correct randomly-failing tag for event.feature:5
  features/commands/consumers/event.feature
Due: none

- Fixes after rebase
  src/Capco/AppBundle/GraphQL/Resolver/ConsultationStep/ConsultationStepContributionsConnectionResolver.php
Due: graphql, php, backend

- Usage of OpinionSearch in ConsultationContributionsResolver instead of mysql
  features/api/opinions.feature
  features/graphql/type/consultation/consultations.feature
  src/Capco/AppBundle/GraphQL/Resolver/Consultation/ConsultationContributionsResolver.php
Due: graphql, php, backend

- Fixed commands tests
  __snapshots__/exports/strategie-technologique-de-letat-et-services-publics_etape-de-multi-consultation.csv
  features/graphql/type/consultation/consultations.feature
  src/Capco/AppBundle/GraphQL/Resolver/Consultation/ConsultationContributionsResolver.php
Due: graphql, php, backend

#6540-EVENT RESTOR Symfony part : after 6 monhs beaks cause of GDN and others things, this feature was in pause.
  app/DoctrineMigrations/Version20190617120512.php
  app/DoctrineMigrations/Version20190617120613.php
  app/Resources/js-server/registration.js
  app/Resources/js/components/Event/Admin/EventAdmin.js
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/EventPageContainer.js
  app/Resources/js/components/Event/EventViewPage.js
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/List/EventListPaginated.js
  app/Resources/js/components/Event/Map/EventMap-test.js
  app/Resources/js/components/Event/Map/EventMap.js
  app/Resources/js/components/Form/DateTime.js
  app/Resources/js/components/Form/SelectUserList.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminRealisationStepModal.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminRealisationStepModal-test.js.snap
  app/Resources/js/components/User/Profile/AccountBox.js
  app/Resources/js/components/User/Profile/__snapshots__/AccountBox-test.js.snap
  app/Resources/js/registration.js
  app/Resources/js/startup/EventAdminCreatePageApp.js
  app/Resources/js/startup/EventAdminEditPageApp.js
  app/Resources/js/startup/EventViewApp.js
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AdminBundle/Controller/EventController.php
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AdminBundle/Resources/views/Event/create.html.twig
  src/Capco/AdminBundle/Resources/views/Event/edit.html.twig
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Controller/Api/UsersController.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateQuestionnaireConfigurationMutation.php
  src/Capco/AppBundle/Resolver/UrlResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/mutations/PreviewAddEventInput.types.yml
  src/Capco/AppBundle/Resources/config/serialization/Event.yml
  src/Capco/AppBundle/Traits/DateHelperTrait.php
Due: graphql, php, jest, flow, backend, frontend

#6540-EVENT update EventForm
  app/Resources/js/components/Event/Form/EventForm.js
Due: jest, flow, frontend

#6540-EVENT :construction: fix EventForm on edit
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Utils/SelectProject-test.js
  app/Resources/js/components/Utils/SelectProject.js
  app/Resources/js/components/Utils/SelectTheme-test.js
  app/Resources/js/components/Utils/SelectTheme.js
  app/Resources/js/components/Utils/__snapshots__/SelectProject-test.js.snap
  app/Resources/js/components/Utils/__snapshots__/SelectTheme-test.js.snap
  app/Resources/js/mutations/ChangeEventMutation.js
  src/Capco/AppBundle/GraphQL/Mutation/ChangeEventMutation.php
Due: graphql, php, jest, flow, backend, frontend

#6540-EVENT rework event Admin
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Form/EventForm.js
  features/graphql/mutation/addEvent.feature
  features/graphql/mutation/changeEvent.feature
  spec/Capco/AppBundle/GraphQL/Mutation/AddEventMutationSpec.php
  src/Capco/AdminBundle/Resources/config/admin.yml
  src/Capco/AppBundle/Form/EventType.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeEventMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/mutations/PreviewAddEventInput.types.yml
Due: graphql, php, jest, flow, backend, frontend

#6540-EVENT Add some jest tests
  app/Resources/js/components/Event/Admin/EventAdmin-test.js
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage-test.js
  app/Resources/js/components/Event/Admin/Form/__snapshots__/EventAdminFormPage-test.js.snap
  app/Resources/js/components/Event/Admin/__snapshots__/EventAdmin-test.js.snap
  app/Resources/js/components/Event/Form/EventForm-test.js
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
Due: jest, flow, frontend

#6540-EVENT update snapshots
  __snapshots__/exports/participants_depot-avec-selection-vote-budget.csv
  app/DoctrineMigrations/Version20190617120512.php
  app/DoctrineMigrations/Version20190617120613.php
  features/back/project.feature
Due: none

#6540-EVENT replace old address by googleMapsAddress type
  app/Resources/js/components/Event/EventPreview-test.js
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/Form/EventForm-test.js
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Map/EventMap-test.js
  app/Resources/js/components/Event/Map/EventMap.js
  app/Resources/js/components/Event/Map/LeafletMap-test.js
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Event/Map/__snapshots__/EventMap-test.js.snap
  features/graphql/mutation/addEvent.feature
  features/graphql/mutation/changeEvent.feature
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventAddressResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewEvent.types.yml
Due: graphql, php, jest, flow, backend, frontend

#6540-EVENT Update eventForm
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage-test.js
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Admin/Form/__snapshots__/EventAdminFormPage-test.js.snap
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  app/Resources/scss/base/_utils.scss
Due: jest, flow, frontend

#6540-EVENT pimp my event form
  app/Resources/js/components/Admin/Contact/ContactAdminPage.js
  app/Resources/js/components/Admin/Contact/__snapshots__/ContactAdminPage-test.js.snap
  app/Resources/js/components/Admin/Field/CustomPageFields-test.js
  app/Resources/js/components/Admin/Field/CustomPageFields.js
  app/Resources/js/components/Admin/Field/__snapshots__/CustomPageFields-test.js.snap
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  src/Capco/AdminBundle/Controller/EventController.php
Due: php, jest, flow, backend, frontend

#6540-EVENT Pimp event BO for superAdmin only
  app/Resources/js/components/Event/Form/EventForm-test.js
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Behat/Page/AdminEventListPage.php
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewEvent.types.yml
  src/Capco/AppBundle/Resources/views/Event/show.html.twig
Due: php, jest, flow, backend, frontend

#6540-EVENT Adding e2e test on create and edit event
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Admin/Form/__snapshots__/EventAdminFormPage-test.js.snap
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Utils/SelectTheme.js
  app/Resources/js/components/Utils/__snapshots__/SelectTheme-test.js.snap
  features/back/project/event.feature
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Page/AdminEventPage.php
  src/Capco/AppBundle/Behat/Traits/AdminEventTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminProjectTrait.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeEventMutation.php
Due: graphql, php, jest, flow, backend, frontend

#6540-EVENT some fixs
  app/Resources/js/components/Event/Admin/EventAdmin-test.js
  app/Resources/js/components/Event/Admin/EventAdmin.js
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/EventViewPage.js
  app/Resources/js/startup/EventAdminCreatePageApp.js
  app/Resources/js/startup/EventAdminEditPageApp.js
  app/Resources/js/startup/EventViewApp.js
  features/back/project.feature
Due: jest, flow, frontend

#6540-EVENT :construction: refacto event form
  app/Resources/js-server/registration.js
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Form/EventForm-test.js
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/registration.js
  app/Resources/js/startup/EventAdminCreatePageApp.js
  app/Resources/js/startup/EventFormPageApp.js
  src/Capco/AdminBundle/Resources/views/Event/create.html.twig
  src/Capco/AdminBundle/Resources/views/Event/edit.html.twig
Due: php, jest, flow, backend, frontend

#6540-EVENT WIP
  features/back/project/event.feature
  src/Capco/AppBundle/Behat/Traits/AdminEventTrait.php
Due: backend

#6540-EVENT fix after rebase
  __snapshots__/exports/participants_depot-avec-selection-vote-budget.csv
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage-test.js
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Admin/Form/__snapshots__/EventAdminFormPage-test.js.snap
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  app/Resources/js/components/Form/DateTime.js
  app/Resources/js/components/Form/Field.js
  app/Resources/js/components/Form/ReactBootstrapInput.js
  app/Resources/js/components/Utils/SelectTheme-test.js
  app/Resources/js/components/Utils/__snapshots__/SelectTheme-test.js.snap
  app/Resources/js/startup/EventFormPageApp.js
  features/back/events.feature
  features/back/project/event.feature
  spec/Capco/AppBundle/GraphQL/Mutation/ChangeEventMutationSpec.php
  src/Capco/AdminBundle/Resources/views/Event/edit.html.twig
  src/Capco/AppBundle/Behat/Traits/AdminEventTrait.php
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/enums/GoogleMapsAddressType.types.yml
Due: graphql, php, jest, flow, backend, frontend

6540-EVENT-TO-REACT-REFACTO add schema deprecated fields
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
Due: php, backend

6540-EVENT-TO-REACT-REFACTO Add authorable interface
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage-test.js
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Admin/Form/__snapshots__/EventAdminFormPage-test.js.snap
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Entity/Interfaces/Authorable.php
  src/Capco/AppBundle/GraphQL/Resolver/User/ViewerDidAuthorResolver.php
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/decorator/Authorable.types.yml
Due: graphql, php, jest, flow, backend, frontend

6540-EVENT-TO-REACT-REFACTO somes fixs
  app/Resources/js/components/Event/Admin/EventAdmin.js
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Utils/SelectProject.js
  app/Resources/js/components/Utils/SelectTheme.js
  app/Resources/js/components/Utils/__snapshots__/SelectTheme-test.js.snap
  app/Resources/js/startup/EventAdminEditPageApp.js
  app/Resources/js/startup/EventFormPageApp.js
  features/back/project/event.feature
  src/Capco/AdminBundle/Resources/views/googlemapsapi.html.twig
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/mutations/PreviewAddEventInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/public/decorator/Authorable.types.yml
Due: php, jest, flow, backend, frontend

6540-EVENT-TO-REACT-REFACTO fix after rebase
  features/back/events.feature
  features/back/project/Event/event.feature
Due: none

6540-EVENT-TO-REACT-REFACTO review @mrpandat
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Form/EventForm-test.js
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Map/LeafletMap.js
  src/Capco/AppBundle/Resources/views/Event/show.html.twig
Due: php, jest, flow, backend, frontend

6540-EVENT-TO-REACT-REFACTO increase jest coverage
  app/Resources/js/components/Form/SelectUserList-test.js
  app/Resources/js/components/Form/__snapshots__/SelectUserList-test.js.snap
Due: jest, flow, frontend

[6540-EVENT] request viewer isAdmin and viewer iSuperAdmin
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage-test.js
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Admin/Form/__snapshots__/EventAdminFormPage-test.js.snap
  app/Resources/js/components/Event/Form/EventForm-test.js
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
Due: php, jest, flow, backend, frontend

[6540-EVENT] Adding css on date with @kantin
  app/Resources/js/components/Event/Form/EventForm.js
Due: jest, flow, frontend

html style to scss + adding responsive
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  app/Resources/scss/modules/_form.scss
Due: jest, flow, frontend

delete div
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
Due: jest, flow, frontend

6540-EVENT fix eventForm
  app/Resources/js/components/Admin/Field/CustomPageFields.js
  app/Resources/js/components/Admin/Field/__snapshots__/CustomPageFields-test.js.snap
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Admin/Form/__snapshots__/EventAdminFormPage-test.js.snap
  app/Resources/js/components/Event/Form/EventForm-test.js
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  app/Resources/js/components/Form/Toggle.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminSelections.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminSelections-test.js.snap
  app/Resources/js/components/Utils/SelectProject.js
  app/Resources/js/components/Utils/SelectTheme.js
  app/Resources/scss/base/_utils.scss
  src/Capco/AppBundle/Form/EventType.php
Due: php, jest, flow, backend, frontend

6540-EVENT delete unused div
  app/Resources/js-server/registration.js
  app/Resources/js/components/Event/Admin/EventAdmin.js
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Admin/Form/__snapshots__/EventAdminFormPage-test.js.snap
  app/Resources/js/components/Event/Admin/__snapshots__/EventAdmin-test.js.snap
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  app/Resources/js/components/Form/Toggle.js
  app/Resources/scss/modules/_form.scss
Due: jest, flow, frontend

6540-EVENT fix event form
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Form/EventForm-test.js
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  app/Resources/js/components/Form/ReactBootstrapInput.js
  app/Resources/scss/modules/_form.scss
  schema.internal.graphql
  schema.preview.graphql
Due: jest, flow, frontend

6540-EVENT Add somes tests
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage-test.js
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Form/EventForm.js
  features/graphql/mutation/addEvent.feature
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
Due: graphql, php, jest, flow, backend, frontend

6540-EVENT some fixs
  app/Resources/js/components/Event/Admin/EventAdmin.js
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage-test.js
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Admin/Form/__snapshots__/EventAdminFormPage-test.js.snap
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  app/Resources/js/components/Event/__snapshots__/EventPreview-test.js.snap
  app/Resources/js/components/Form/SelectUserList.js
  app/Resources/js/startup/EventFormPageApp.js
  app/config/config.yml
  features/back/project/Event/event.feature
  src/Capco/AppBundle/Behat/Traits/AdminEventTrait.php
  src/Capco/AppBundle/Form/Type/RelayNodeType.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeEventMutation.php
Due: graphql, php, jest, flow, backend, frontend

6540-EVENT fix phpSpec test
  spec/Capco/AppBundle/GraphQL/Mutation/AddEventMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/ChangeEventMutationSpec.php
Due: none

6540-EVENT fix
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  src/Capco/AppBundle/Form/Type/RelayNodeType.php
Due: php, jest, flow, backend, frontend

6540-EVENT review @mrpandat
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/scss/modules/_form.scss
Due: jest, flow, frontend

6540-EVENT fix event date
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  src/Capco/AppBundle/Form/Type/RelayNodeType.php
Due: php, jest, flow, backend, frontend

6540-EVENT fix phpspec ?
  spec/Capco/AppBundle/GraphQL/Mutation/ChangeEventMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeEventMutation.php
Due: graphql, php, backend
