Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

fix ProfileIndexation (#14003)
  frontend/js/components/User/Admin/UserAdminProfile-test.js
  frontend/js/components/User/Admin/UserAdminProfile.js
  frontend/js/components/User/Admin/__snapshots__/UserAdminProfile-test.js.snap
  frontend/js/components/User/Profile/Profile-test.js
  frontend/js/components/User/Profile/Profile.js
  frontend/js/components/User/Profile/__snapshots__/Profile-test.js.snap
  frontend/js/testUtils.js
Due: jest, flow

14119 api sendinblue (#14180)
  composer.json
  composer.lock
  config/packages/commands.yaml
  config/packages/controllers.yaml
  config/packages/services.yaml
  config/packages/swarrot.yaml
  config/rabbitmq.yaml
  config/services.yaml
  infrastructure/environments/testing.yml
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/supervisord/proposal.conf
  spec/Capco/AppBundle/GraphQL/Mutation/DeleteAccountMutationSpec.php
  spec/Capco/UserBundle/Controller/ConfirmationControllerSpec.php
  spec/Capco/UserBundle/Handler/UserInvitationHandlerSpec.php
  src/Capco/AppBundle/CapcoAppBundleMessagesTypes.php
  src/Capco/AppBundle/Command/UnsubscribeUserFromCsvCommand.php
  src/Capco/AppBundle/Controller/Api/SendInBlueController.php
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Entity/NewsletterSubscription.php
  src/Capco/AppBundle/Form/NewsletterSubscriptionType.php
  src/Capco/AppBundle/GraphQL/Mutation/BaseDeleteUserMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/AbstractDebateArgumentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/CreateDebateAnonymousArgumentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteAccountByEmailMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteAccountMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/RegisterMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UserNotificationsConfigurationMutation.php
  src/Capco/AppBundle/Mailer/SendInBlue/ContactsApi.php
  src/Capco/AppBundle/Mailer/SendInBlue/SendInBlueManager.php
  src/Capco/AppBundle/Processor/SendInBlueProcessor.php
  src/Capco/AppBundle/Resources/views/Step/debate.html.twig
  src/Capco/UserBundle/Controller/ConfirmationController.php
  src/Capco/UserBundle/Form/Type/ApiRegistrationFormType.php
  src/Capco/UserBundle/Handler/UserInvitationHandler.php
Due: graphql, php

Docker: fix the Pipfile dependencies to match the real needs
  Pipfile
  Pipfile.lock
Due: none

Enable DataCollector on Elasticsearch mSearch + in CloudflareElasticClient
  config/packages/services.yaml
  src/Capco/AppBundle/Client/CloudflareElasticClient.php
  src/Capco/AppBundle/Elasticsearch/Client.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchLogger.php
Due: php

fix create account button in invitation (#14415)
  frontend/js/components/Admin/Emailing/MailParameter/Parameter/__snapshots__/Parameter-test.js.snap
  frontend/js/components/Admin/Emailing/ModalMembers/__snapshots__/ModalMembers-test.js.snap
  frontend/js/components/Admin/Project/Content/__snapshots__/ProjectContentAdminForm-test.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminCollectStepForm-test.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminQuestionnaireStepForm-test.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminStepForm-test.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminStepFormModal-test.js.snap
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminPage-test.js.snap
  frontend/js/components/Debate/Page/LinkedArticles/__snapshots__/DebateStepPageLinkedArticles-test.js.snap
  frontend/js/components/User/Invitation/UserInvitationSSOPage-test.js
  frontend/js/components/User/Invitation/UserInvitationSSOPage.js
  frontend/js/components/User/Invitation/__snapshots__/UserInvitationSSOPage-test.js.snap
  frontend/js/testUtils.js
Due: jest, flow

add civicIA in database (#14420)
  __snapshots__/exports/legacyUsers.csv
  __snapshots__/exports/participants_projet-avec-questionnaire.csv
  __snapshots__/exports/participants_projet-avec-questionnaire_questionnaire-des-jo-2024.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire-des-jo-2024.csv
  features/graphql-api/internal/Analytics/__snapshots__/analytics.js.snap
  features/graphql-api/internal/Project/__snapshots__/Project_contributors.js.snap
  features/graphql-api/internal/Questionnaire/__snapshots__/Questionnaire_adminReplies.js.snap
  features/graphql-api/internal/QuestionnaireStep/__snapshots__/QuestionnaireStep_contributors.js.snap
  features/graphql-api/preview/Questionnaire/Questionnaire_replies.js
  features/graphql-api/preview/Questionnaire/__snapshots__/Questionnaire_replies.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_projects.js.snap
  features/graphql/query/allContributions.feature
  features/graphql/type/questionnaire/questionnaire.feature
  fixtures/Dev/Reply.yaml
  fixtures/Dev/ReplyAnonymous.yaml
  src/Capco/AppBundle/CivicIA/CivicIATrait.php
  src/Capco/AppBundle/Entity/AbstractReply.php
  src/Capco/AppBundle/Enum/CivicIASentimentEnum.php
  src/DoctrineMigrations/Version20220414121023.php
Due: php

update rabbitmq external server vhost (#14432)
  infrastructure/services/remote/php-fpm/run
Due: none

14406 fix france connect association (#14425)
  frontend/js/components/User/Profile/PersonalData.js
  spec/Capco/UserBundle/Security/Core/User/OauthUserProviderSpec.php
  src/Capco/UserBundle/Security/Core/User/OauthUserProvider.php
Due: php, jest, flow

fix trash (#14437)
  src/Capco/AppBundle/Resources/views/Project/base.html.twig
Due: php

14408 ValueResponse.civicIA (#14435)
  __snapshots__/exports/legacyUsers.csv
  __snapshots__/exports/participants_projet-avec-questionnaire.csv
  __snapshots__/exports/participants_projet-avec-questionnaire_questionnaire-des-jo-2024.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire-des-jo-2024.csv
  features/graphql-api/internal/Analytics/__snapshots__/analytics.js.snap
  features/graphql-api/internal/Project/__snapshots__/Project_contributors.js.snap
  features/graphql-api/internal/Questionnaire/__snapshots__/Questionnaire_adminReplies.js.snap
  features/graphql-api/internal/QuestionnaireStep/__snapshots__/QuestionnaireStep_contributors.js.snap
  features/graphql-api/preview/Questionnaire/Questionnaire_replies.js
  features/graphql-api/preview/Questionnaire/__snapshots__/Questionnaire_replies.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_projects.js.snap
  features/graphql/query/allContributions.feature
  features/graphql/type/questionnaire/questionnaire.feature
  fixtures/Dev/Reply.yaml
  fixtures/Dev/ReplyAnonymous.yaml
  fixtures/Dev/ValueResponse.yaml
  src/Capco/AppBundle/Entity/AbstractReply.php
  src/Capco/AppBundle/Entity/Responses/ValueResponse.php
  src/Capco/AppBundle/Traits/CivicIATrait.php
  src/DoctrineMigrations/Version20220419175614.php
Due: php

add civicIA in api (#14438)
  features/graphql-api/internal/Question/Question_responses_civicIA.js
  features/graphql-api/internal/Question/__snapshots__/Question_responses_civicIA.js.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/CivicIASentiment.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalValueResponse.types.yaml
Due: php

14119 sendinblue feature toggle (#14431)
  admin-next/components/FeatureList/FeatureItems.json
  admin-next/utils/feature-flags-resolver.ts
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Processor/SendInBlueProcessor.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
Due: php

Make sure only requested field are added to ES multi search (#14423)
  spec/Capco/AppBundle/Client/CloudflareElasticClientSpec.php
  spec/Capco/AppBundle/GraphQL/DataLoader/Query/QueryAnalyticsDataLoaderSpec.php
  src/Capco/AppBundle/Client/CloudflareElasticClient.php
  src/Capco/AppBundle/GraphQL/DataLoader/Query/QueryAnalyticsDataLoader.php
  src/Capco/AppBundle/Search/AnalyticsSearch.php
Due: graphql, php

Remove local certificates from repository
  .gitignore
Due: none

Fix vnc when using docker for mac (#14450)
  infrastructure/deploylib/qa.py
Due: none

fix ref in charts + increase timeout (#14442)
  frontend/js/components/Questionnaire/QuestionnaireAdminResults.js
  frontend/js/components/Questionnaire/QuestionnaireAdminResultsBarChart.js
  frontend/js/components/Questionnaire/useQuestionnaireProps.js
Due: jest, flow

fix CloudflareElasticClientSpec (#14462)
  features/back/project/proposal_form.feature
  features/back/project/questionnaire.feature
  spec/Capco/AppBundle/Client/CloudflareElasticClientSpec.php
Due: none

responses with uuid (#14455)
  src/Capco/AppBundle/Entity/Responses/AbstractResponse.php
  src/DoctrineMigrations/Version20220421120000.php
Due: php

[3108-BLOGPOSTCOUNT] fix post and event count on Theme page (#14443)
  src/Capco/AppBundle/Resources/views/Theme/appendices.html.twig
Due: php

[14336] Migrate proposal form list to admin-next (#14346)
  admin-next/components/ProposalForm/ModalConfirmationDelete.tsx
  admin-next/components/ProposalForm/ModalConfirmationDeleteProposal.test.tsx
  admin-next/components/ProposalForm/ModalCreateProposalForm.tsx
  admin-next/components/ProposalForm/ProposalFormItem.tsx
  admin-next/components/ProposalForm/ProposalFormList.tsx
  admin-next/components/ProposalForm/ProposalFormListNoResult.tsx
  admin-next/components/ProposalForm/ProposalFormListPage.tsx
  admin-next/components/ProposalForm/ProposalFormListPlaceholder.tsx
  admin-next/components/ProposalForm/ProposalFormListQuery.tsx
  admin-next/components/ProposalForm/__snapshots__/ModalConfirmationDeleteProposal.test.tsx.snap
  admin-next/components/SideBar/SideBarItems.json
  admin-next/jest.config.js
  admin-next/mutations/CreateProposalFormMutation.tsx
  admin-next/mutations/DeleteProposalFormMutation.tsx
  admin-next/mutations/DuplicateProposalFormMutation.ts
  admin-next/pages/proposalForm.tsx
  features/back/project/proposal_form.feature
  frontend/js/components/Admin/Project/ProposalFormList/ModalConfirmationDelete.js
  frontend/js/components/Admin/Project/ProposalFormList/ModalCreateProposalForm-test.js
  frontend/js/components/Admin/Project/ProposalFormList/ModalCreateProposalForm.js
  frontend/js/components/Admin/Project/ProposalFormList/NoResult.js
  frontend/js/components/Admin/Project/ProposalFormList/ProposalFormItem-test.js
  frontend/js/components/Admin/Project/ProposalFormList/ProposalFormItem.js
  frontend/js/components/Admin/Project/ProposalFormList/ProposalFormList-test.js
  frontend/js/components/Admin/Project/ProposalFormList/ProposalFormList.js
  frontend/js/components/Admin/Project/ProposalFormList/ProposalFormListPage.js
  frontend/js/components/Admin/Project/ProposalFormList/ProposalFormListPlaceholder.js
  frontend/js/components/Admin/Project/ProposalFormList/ProposalFormListQuery.js
  frontend/js/components/Admin/Project/ProposalFormList/__snapshots__/ModalConfirmationDeleteProposalForm-test.js.snap
  frontend/js/components/Admin/Project/ProposalFormList/__snapshots__/ModalCreateProposalForm-test.js.snap
  frontend/js/components/Admin/Project/ProposalFormList/__snapshots__/ProposalFormItem-test.js.snap
  frontend/js/components/Admin/Project/ProposalFormList/__snapshots__/ProposalFormList-test.js.snap
  frontend/js/components/Admin/Sidebar/Sidebar.js
  frontend/js/components/ProposalForm/ProposalFormAdminPageTabs.js
  frontend/js/components/ProposalForm/__snapshots__/ProposalFormAdminPageTabs-test.js.snap
  frontend/js/mutations/DuplicateProposalFormMutation.js
  frontend/js/registrationAdmin.js
  frontend/js/startup/AdminProposalFormListApp.js
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormAdminUrlResolver.php
Due: graphql, php, jest, flow

clean code for twig3 (#14460)
  src/Capco/AdminBundle/Twig/FeaturesCategoryExtension.php
  src/Capco/AdminBundle/Twig/VarsExtension.php
Due: php

Bump limenius/react-bundle from 4.0.0 to 5.0.1 (#12184)
  composer.json
  composer.lock
Due: none

reimplement GeometryHelper (#14477)
  src/Capco/AppBundle/Helper/GeometryHelper.php
Due: php

[14465] Fix redirect (#14468)
  features/graphql-api/internal/Query/__snapshots__/Query_userInvitations.js.snap
  fixtures/Dev/UserInvite.yaml
  frontend/js/components/User/Invitation/CreateAccountEmailLink.js
  frontend/js/components/User/Invitation/UserInvitationRoot.js
  frontend/js/components/User/Invitation/UserInvitationSSOPage-test.js
  frontend/js/components/User/Invitation/UserInvitationSSOPage.js
  frontend/js/components/User/Invitation/__snapshots__/UserInvitationSSOPage-test.js.snap
  frontend/js/startup/UserInvitationPageApp.js
  src/Capco/AppBundle/Controller/Site/UserController.php
Due: php, jest, flow

fix expired status in invitation list (#14481)
  src/Capco/AppBundle/Repository/UserInviteRepository.php
Due: php

fix allowingProgressSteps in multiple steps (#14479)
  frontend/js/components/Admin/Emailing/EmailingParameters/ModalConfirmationDomainDelete/__snapshots__/ModalConfirmationDomainDelete-test.js.snap
  frontend/js/components/Admin/Event/EventList/__snapshots__/AdminEventItem-test.js.snap
  frontend/js/components/Admin/Event/EventList/__snapshots__/AdminEventList-test.js.snap
  frontend/js/components/Admin/Event/EventList/__snapshots__/AdminEventModalConfirmationDelete-test.js.snap
  frontend/js/components/Admin/Post/PostList/__snapshots__/PostItem-test.js.snap
  frontend/js/components/Admin/Post/PostList/__snapshots__/PostList-test.js.snap
  frontend/js/components/Admin/Post/PostList/__snapshots__/PostPostListModalConfirmationDelete-test.js.snap
  frontend/js/components/Admin/Project/Step/ProjectAdminSelectionStepForm-test.js
  frontend/js/components/Admin/Project/Step/ProjectAdminSelectionStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.js
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminSelectionStepForm-test.js.snap
  frontend/js/components/DesignSystem/Tooltip/Tooltip.js
Due: jest, flow

[14332] Remove question from state when canceling modal (#14482)
  frontend/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
  frontend/js/components/Question/SectionQuestionAdminModal.js
  frontend/js/components/Question/SubSectionQuestionAdminModal.js
Due: jest, flow

14334 measurable event front part (#14377)
  __snapshots__/exports/participants-grenobleweb2015.csv
  features/graphql-api/internal/mutation/Event/__snapshots__/subscribeToEvent.js.snap
  features/graphql-api/internal/mutation/Event/subscribeToEvent.js
  features/graphql-api/public/Query/__snapshots__/Query_events.js.snap
  features/graphql/type/event/event_participants.feature
  fixtures/Dev/Event.yaml
  fixtures/Dev/EventRegistration.yaml
  frontend/js/components/Event/Admin/__snapshots__/EventAdmin-test.js.snap
  frontend/js/components/Event/EventListPageContainer.js
  frontend/js/components/Event/EventPage/EventActions.js
  frontend/js/components/Event/EventPreview/EventPreview-test.js
  frontend/js/components/Event/EventPreview/EventPreview.js
  frontend/js/components/Event/EventPreview/EventPreview.style.js
  frontend/js/components/Event/EventPreview/__snapshots__/EventPreview-test.js.snap
  frontend/js/components/Event/Form/EventForm-test.js
  frontend/js/components/Event/Form/EventForm.js
  frontend/js/components/Event/Form/EventFormPage.js
  frontend/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  frontend/js/components/Event/List/EventListPaginated.js
  frontend/js/components/Event/List/EventPagePassedEventsPreview.js
  frontend/js/components/Event/List/EventRefetch.js
  frontend/js/components/Event/List/__snapshots__/EventListPaginated-test.js.snap
  frontend/js/components/Event/List/__snapshots__/EventPagePassedEventsPreview-test.js.snap
  frontend/js/components/Event/Profile/EventListProfile.js
  frontend/js/components/Event/Profile/EventListProfileRefetch.js
  frontend/js/components/Event/__snapshots__/EventListPage-test.js.snap
  frontend/js/components/Event/__snapshots__/EventListPageHeader-test.js.snap
  frontend/js/components/HomePage/HomePageEvents.js
  frontend/js/components/Utils/SelectTheme.js
  frontend/js/startup/__snapshots__/EventFormPageApp-test.js.snap
  frontend/js/utils/string.js
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/Helper/EventHelperSpec.php
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventIsCompleteAndRegistrationPossibleResolver.php
  src/Capco/AppBundle/Helper/EventHelper.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yaml
Due: graphql, php, jest, flow

reindex on new reply (#14480)
  spec/Capco/AppBundle/GraphQL/Mutation/AddAnonymousReplyMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/AddAnonymousReplyMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddUserReplyMutation.php
Due: graphql, php

[14251] Fix error when importing font (#14485)
  src/Capco/AppBundle/Controller/Api/FontsController.php
Due: php

do not allow biography over 255 length (#14483)
  frontend/js/components/User/Profile/Profile.js
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProfilePublicDataMutation.php
Due: graphql, php, jest, flow

filter events by theme in query params (#14484)
  frontend/js/components/Event/EventListPageContainer.js
  frontend/js/components/Event/List/EventRefetch.js
  src/Capco/AppBundle/Resources/views/Theme/appendices.html.twig
Due: php, jest, flow

change route for project presentation step (#14470)
  features/graphql-api/internal/mutation/__snapshots__/updateProjectSlug.js.snap
  frontend/js/components/Admin/Project/Publish/ProjectPublishAdminForm.js
  frontend/js/components/Admin/Project/Publish/UpdateSlugModal.js
  frontend/js/components/Admin/Project/Publish/__snapshots__/ProjectPublishAdminForm-test.js.snap
  frontend/js/mutations/UpdateProjectAlphaMutation.js
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepUrlResolver.php
Due: graphql, php, jest, flow

query theme in list page (#14493)
  frontend/js/components/Event/EventListPage.js
Due: jest, flow

[13979-FIXARGSCOUNTER] count debate anonymous arguments (#14489)
  frontend/js/components/Project/ProjectHeaderBlocks.js
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Enum/ContributionType.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributionResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ContributionType.types.yaml
  src/Capco/AppBundle/Search/ContributionSearch.php
Due: graphql, php, jest, flow

trim question title and question choice title (#14469)
  features/graphql-api/internal/mutation/ProposalForm/updateProposalForm.js
  frontend/js/components/ProposalForm/ProposalFormAdminConfigurationForm.js
  frontend/js/components/QuestionChoices/QuestionChoiceAdminModal-test.js
  frontend/js/components/QuestionChoices/QuestionChoiceAdminModal.js
  frontend/js/components/QuestionChoices/__snapshots__/QuestionChoiceAdminForm-test.js.snap
  frontend/js/components/QuestionChoices/__snapshots__/QuestionChoiceAdminModal-test.js.snap
  frontend/js/components/Questionnaire/QuestionnaireAdminConfigurationForm.js
  spec/Capco/AppBundle/GraphQL/Mutation/UpdateQuestionnaireConfigurationMutationSpec.php
  src/Capco/AppBundle/Form/AbstractQuestionType.php
  src/Capco/AppBundle/Form/AddQuestionFieldSubscriber.php
  src/Capco/AppBundle/Form/ApiQuestionChoiceType.php
  src/Capco/AppBundle/Form/QuestionnaireConfigurationUpdateType.php
  src/Capco/AppBundle/Form/QuestionnaireCreateType.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalForm/UpdateProposalFormMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateQuestionnaireConfigurationMutation.php
Due: graphql, php, jest, flow

fix (#14504)
  frontend/js/components/HomePage/HomePageEvents.js
Due: jest, flow

14487 filter sentiment (#14495)
  features/graphql-api/internal/Question/Question_responses_civicIA.js
  features/graphql-api/internal/Question/__snapshots__/Question_responses_civicIA.js.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/GraphQL/Resolver/Question/QuestionResponsesResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalQuestion.types.yaml
  src/Capco/AppBundle/Resources/config/serialization/Responses.ValueResponse.yaml
  src/Capco/AppBundle/Search/ResponseSearch.php
Due: graphql, php

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
