Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70
      php:
        flags: php
      graphql:
        flags: graphql
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/**/*'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

disable tty when importing gpg key of mariadb
  infrastructure/services/remote/Dockerfile
Due: none

typo
  infrastructure/services/remote/Dockerfile
Due: none

Add migration to allow clients to use developer page
  app/DoctrineMigrations/Version20181113145503.php
Due: none

Add authenticated GraphiQL
  app/config/config.yml
  src/Capco/AppBundle/Controller/Api/GraphQLController.php
  src/Capco/AppBundle/Resources/views/Developer/explorer.html.twig
  src/Capco/AppBundle/Resources/views/Developer/index.html.twig
  src/Capco/AppBundle/Resources/views/GraphiQL/index.html.twig
Due: php, backend

Add Pulic Api Token
  app/DoctrineMigrations/Version20181114112833.php
  app/config/config.yml
  app/config/security.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/PublicApiToken.yml
  src/Capco/AppBundle/Entity/PublicApiToken.php
  src/Capco/AppBundle/PublicApi/PublicApiKeyAuthenticator.php
  src/Capco/AppBundle/PublicApi/PublicApiKeyUserProvider.php
  src/Capco/AppBundle/Repository/PublicApiTokenRepository.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/config/services/repositories.yml
  src/Capco/AppBundle/Resources/views/Developer/index.html.twig
  src/Capco/AppBundle/Resources/views/GraphiQL/index.html.twig
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php, backend

Use relay/recommended
  .eslintrc.js
  app/DoctrineMigrations/Version20181114142320.php
  package.json
  yarn.lock
Due: none

Make GraphiQL for internal schema available in dev only
  app/config/routing.yml
  app/config/routing_dev.yml
Due: none

Update src/Capco/AppBundle/Resources/views/Developer/index.html.twig
  src/Capco/AppBundle/Resources/views/Developer/index.html.twig
Due: php, backend

fix rabbitmq install
  infrastructure/services/local/Dockerfile
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/rabbitmq/preference
Due: none

fix local docker
  infrastructure/services/local/Dockerfile
  infrastructure/services/remote/Dockerfile
Due: none

fix queue test
  app/config/rabbitmq.yml
  app/config/swarrot.yml
  composer.lock
  features/api/opinions.feature
  infrastructure/services/local/Dockerfile
  infrastructure/services/remote/Dockerfile
  src/Capco/AppBundle/Behat/RabbitMQContext.php
Due: backend

revert installation of RabbitMQ to 3.6.16 because of php-amqp support...
  app/config/rabbitmq.yml
  app/config/swarrot.yml
  infrastructure/services/local/Dockerfile
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/rabbitmq/rabbitmq.conf
  infrastructure/services/remote/rabbitmq/rabbitmq.config
Due: none

remove forbidden tag in e2e tests
  features/api/opinions.feature
Due: none

attempt to fix window maximized problem
  behat.yml
  src/Capco/AppBundle/Behat/ApplicationContext.php
Due: backend

[ADD] knobs & new style for storybook
  app/Resources/js/stories/Boxes-stories.js
  app/Resources/scss/base/_base.scss
  app/config/rabbitmq.yml
  app/config/swarrot.yml
  behat.yml
  composer.lock
  flow-typed/npm/@storybook/addon-knobs_vx.x.x.js
  infrastructure/services/local/Dockerfile
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/rabbitmq/preference
  infrastructure/services/remote/rabbitmq/rabbitmq.conf
  infrastructure/services/remote/rabbitmq/rabbitmq.config
  package.json
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/RabbitMQContext.php
  yarn.lock
Due: jest, flow, backend, frontend

[CHG] structure of styleguide
  app/Resources/js/stories/Actions-stories.js
  app/Resources/js/stories/Boxes-stories.js
  app/Resources/js/stories/Components-stories.js
  app/Resources/js/stories/FeedbacksIndicators-stories.js
  app/Resources/js/stories/List-stories.js
  app/Resources/js/stories/Tables-stories.js
  app/Resources/scss/base/_base.scss
Due: jest, flow, frontend

[ADD] medias & overlays stories
  app/Resources/js/stories/Components-stories.js
  app/Resources/js/stories/Medias-stories.js
  app/Resources/js/stories/Overlays-stories.js
  app/Resources/scss/base/_base.scss
Due: jest, flow, frontend

[CHG] navigation story
  app/Resources/js/stories/Navigation-stories.js
  app/Resources/js/stories/Navs-stories.js
Due: jest, flow, frontend

[ADD] knobs on config & panel story
  app/Resources/js/stories/Actions-stories.js
  app/Resources/js/stories/Boxes-stories.js
  app/Resources/js/stories/Colors-stories.js
  app/Resources/js/stories/Components-stories.js
  app/Resources/js/stories/FeedbacksIndicators-stories.js
  app/Resources/js/stories/Form-stories.js
  app/Resources/js/stories/LabelsAndBadges-stories.js
  app/Resources/js/stories/Navigation-stories.js
  app/Resources/js/stories/Panel-stories.js
  app/Resources/js/stories/Style-stories.js
Due: jest, flow, frontend

[CHG] card story & typo story
  app/Resources/js/stories/Card.js
  app/Resources/js/stories/CardProject.js
  app/Resources/js/stories/CardProposal.js
  app/Resources/js/stories/CardTheme.js
  app/Resources/js/stories/Cards-stories.js
  app/Resources/js/stories/Components-stories.js
  app/Resources/js/stories/FontStyle.js
  app/Resources/js/stories/Style-stories.js
  app/Resources/js/stories/Typography-stories.js
  app/Resources/scss/base/_base.scss
Due: jest, flow, frontend

[CHG] yarn
  yarn.lock
Due: none

[RMV] useless lines
  app/Resources/scss/base/_base.scss
Due: none

Fix healtcheck of rabbitmq in prod env
  infrastructure/services/remote/php-fpm/run
Due: none

Fix some code issues
  app/DoctrineMigrations/Version20150427184111.php
  app/DoctrineMigrations/Version20180330112444.php
  app/DoctrineMigrations/Version20180424144708.php
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Entity/ProjectType.php
  src/Capco/AppBundle/Entity/Proposal.php
Due: php, backend

Fix calling API when shield is enabled
  app/DoctrineMigrations/Version20150427184111.php
  app/DoctrineMigrations/Version20180330112444.php
  app/DoctrineMigrations/Version20180424144708.php
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Entity/ProjectType.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/EventListener/ShieldListener.php
Due: php, backend

Force recreate vhosts on boot for RabbitMQ
  infrastructure/services/remote/php-fpm/run
Due: none

We can now upload files when shield is enabled
  src/Capco/AppBundle/EventListener/ShieldListener.php
Due: php, backend

Merge pull request #6361 from cap-collectif/some-code-issues-found-by-linter
  app/DoctrineMigrations/Version20150427184111.php
  app/DoctrineMigrations/Version20180330112444.php
  app/DoctrineMigrations/Version20180424144708.php
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Entity/ProjectType.php
  src/Capco/AppBundle/Entity/Proposal.php
Due: php, backend

Merge pull request #6374 from cap-collectif/fix-vhost-creation-rabbitmq
  infrastructure/services/remote/php-fpm/run
Due: none

- Added new GraphQL types and Query for RegistrationForm
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Query/RegistrationFormQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/RegistrationForm/RegistrationFormQuestionsResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentType.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/InternalEmailDomainType.php
  src/Capco/AppBundle/GraphQL/__generated__/InternalEventType.php
  src/Capco/AppBundle/GraphQL/__generated__/InternalQueryType.php
  src/Capco/AppBundle/GraphQL/__generated__/InternalRegistrationFormType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/PrivatableVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/YesNoPairedVoteType.php
  src/Capco/AppBundle/Repository/RegistrationFormRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEmailDomain.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalRegistrationForm.types.yml
Due: graphql, php, backend

- Working questions in BO for Registration Form - Refactored QuestionPersisterTrait
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/RegistrationFormQuestions.js
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestions.js
  app/Resources/js/mutations/UpdateRegistrationFormQuestionsMutation.js
  schema.internal.graphql
  src/Capco/AppBundle/Form/RegistrationFormQuestionsUpdateType.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProposalFormMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateRegistrationFormQuestionsMutation.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
  src/Capco/AppBundle/GraphQL/__generated__/InternalMutationType.php
  src/Capco/AppBundle/GraphQL/__generated__/UpdateRegistrationFormQuestionsInputType.php
  src/Capco/AppBundle/GraphQL/__generated__/UpdateRegistrationFormQuestionsPayloadType.php
  src/Capco/AppBundle/Repository/QuestionnaireAbstractQuestionRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateRegistrationFormQuestionsInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateRegistrationFormQuestionsPayload.types.yml
Due: graphql, php, jest, flow, backend, frontend

- Removed all related questions reducers, actions... in user module in redux
  app/Resources/js-server/registration.js
  app/Resources/js/components/Admin/AddRegistrationQuestionForm-test.js
  app/Resources/js/components/Admin/AddRegistrationQuestionForm.js
  app/Resources/js/components/Admin/AddRegistrationQuestionModal-test.js
  app/Resources/js/components/Admin/AddRegistrationQuestionModal.js
  app/Resources/js/components/Admin/AdminModals.js
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/RegistrationQuestionForm-test.js
  app/Resources/js/components/Admin/RegistrationQuestionForm.js
  app/Resources/js/components/Admin/RegistrationQuestionSortableList-test.js
  app/Resources/js/components/Admin/RegistrationQuestionSortableList.js
  app/Resources/js/components/Admin/RegistrationSortableQuestion-test.js
  app/Resources/js/components/Admin/RegistrationSortableQuestion.js
  app/Resources/js/components/Admin/UpdateRegistrationQuestionForm.js
  app/Resources/js/components/Admin/UpdateRegistrationQuestionModal-test.js
  app/Resources/js/components/Admin/UpdateRegistrationQuestionModal.js
  app/Resources/js/components/User/Registration/RegistrationForm.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/redux/modules/user.js
  app/Resources/js/registration.js
  app/Resources/js/startup/AdminModalsApp.js
  src/Capco/AdminBundle/Resources/views/Settings/registration.html.twig
  src/Capco/AppBundle/Twig/RegistrationFormExtension.php
Due: php, jest, flow, backend, frontend

- Updated snapshots
  app/Resources/js/components/Admin/__snapshots__/AddRegistrationQuestionForm-test.js.snap
  app/Resources/js/components/Admin/__snapshots__/AddRegistrationQuestionModal-test.js.snap
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  app/Resources/js/components/Admin/__snapshots__/RegistrationQuestionForm-test.js.snap
  app/Resources/js/components/Admin/__snapshots__/RegistrationQuestionSortableList-test.js.snap
  app/Resources/js/components/Admin/__snapshots__/RegistrationSortableQuestion-test.js.snap
  app/Resources/js/components/Admin/__snapshots__/UpdateRegistrationQuestionModal-test.js.snap
Due: jest, flow, frontend

- Re added SHOW and CLOSE REGISTRATION MODAL action in user's reducer
  app/Resources/js/redux/modules/user.js
Due: jest, flow, frontend

- Added renderResponses component to handle questions display in front - Fixed js tests
  app/Resources/js/components/User/Registration/RegistrationForm-test.js
  app/Resources/js/components/User/Registration/RegistrationForm.js
  app/Resources/js/components/User/Registration/RegistrationModal-test.js
  app/Resources/js/components/User/Registration/RegistrationModal.js
  app/Resources/js/components/User/Registration/__snapshots__/RegistrationForm-test.js.snap
  app/Resources/js/components/User/Registration/__snapshots__/RegistrationModal-test.js.snap
Due: jest, flow, frontend
