Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

[12572-FIX] add googlemaps if postal address required (#12578)
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
  src/Capco/AppBundle/Entity/Steps/CollectStep.php
  src/Capco/AppBundle/Entity/Steps/SelectionStep.php
  src/Capco/AppBundle/Resources/views/Proposal/show.html.twig
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
Due: php

12579 fix france connect (#12582)
  frontend/js/components/Admin/Authentification/AuthentificationAdminPage-test.js
  frontend/js/components/Admin/Authentification/AuthentificationAdminPage.js
  frontend/js/components/Admin/Authentification/AuthentificationAdminPageContent.js
  frontend/js/components/Admin/Authentification/ListPublicSSO.js
  frontend/js/components/Admin/Authentification/ListSSOConfiguration.js
  frontend/js/components/Admin/Authentification/__snapshots__/AuthentificationAdminPage-test.js.snap
  spec/Capco/UserBundle/FranceConnect/FranceConnectOptionsModifierSpec.php
  src/Capco/UserBundle/FranceConnect/FranceConnectOptionsModifier.php
Due: php, jest, flow

Améliorations cartes projets (#12564)
  frontend/js/components/DesignSystem/Icon/Icon.d.ts
  frontend/js/components/DesignSystem/Icon/Icon.js
  frontend/js/components/DesignSystem/Icon/index.js
  frontend/js/components/DesignSystem/Icon/svg/lock.svg
  frontend/js/components/Navbar/__snapshots__/NavbarRight-test.js.snap
  frontend/js/components/Ui/Project/ProjectCard-test.js
  frontend/js/components/Ui/Project/ProjectCard.js
  frontend/js/components/Ui/Project/ProjectCard.utils.js
  frontend/js/components/Ui/Project/__snapshots__/ProjectCard-test.js.snap
  frontend/js/components/Ui/TabsBar/__snapshots__/TabsBarDropdown-test.js.snap
Due: jest, flow

8915 event template (#12525)
  src/Capco/AppBundle/Mailer/Message/Event/EventCreateAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Event/EventDeleteAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Event/EventDeleteMessage.php
  src/Capco/AppBundle/Mailer/Message/Event/EventEditAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Event/EventReviewApprovedMessage.php
  src/Capco/AppBundle/Mailer/Message/Event/EventReviewRefusedMessage.php
  src/Capco/AppBundle/Mailer/Message/MessagesList.php
  src/Capco/AppBundle/Mailer/templates/Admin/notifyAdminOfEditedEvent.html.twig
  src/Capco/AppBundle/Mailer/templates/Admin/notifyAdminOfNewEvent.html.twig
  src/Capco/AppBundle/Mailer/templates/Event/event.css
  src/Capco/AppBundle/Mailer/templates/Event/notifyParticipantOfDeletedEvent.html.twig
  src/Capco/AppBundle/Mailer/templates/Event/notifyUserReviewedEvent.html.twig
  src/Capco/AppBundle/Mailer/templates/Event/notifyUserReviewedRefusedEvent.html.twig
  src/Capco/AppBundle/Mailer/templates/eventTitleLayout.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyParticipantOfDeletedEvent.html.twig
  src/Capco/AppBundle/Notifier/EventNotifier.php
  src/Capco/AppBundle/Traits/EventMockDataTrait.php
Due: php

[SSO-CARPENTRAS] Add carpentras scope and mapping. (#12584)
  src/Capco/UserBundle/OpenID/Mapping/CarpentrasMapping.php
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
  src/Capco/UserBundle/OpenID/OpenIDResourceOwner.php
Due: php

[CI-REDING] return the ci to red (#12588)
  features/graphql-api/public/Query/__snapshots__/Query_events.js.snap
  infrastructure/deploylib/environments.py
  infrastructure/deploylib/qa.py
Due: none

[FIX-DOCTRINEMIGRATION] fix doctrine migration for migrations:diff (#12589)
  config/packages/doctrine_migrations.yaml
Due: none

12477 use mailjet (#12563)
  config/packages/repositories.yaml
  config/packages/services.yaml
  config/packages/swiftmailer.yaml
  config/services.yaml
  fixtures/Benchmark/ExternalServiceConfiguration.yaml
  fixtures/Dev/ExternalServiceConfiguration.yaml
  fixtures/Prod/ExternalServiceConfiguration.yaml
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/DependencyInjection/Compiler/MailerServicePass.php
  src/Capco/AppBundle/Entity/ExternalServiceConfiguration.php
  src/Capco/AppBundle/Mailer/Transport/MailjetTransport.php
  src/Capco/AppBundle/Mailer/Transport/MandrillTransport.php
  src/Capco/AppBundle/Mailer/Transport/Transport.php
  src/Capco/AppBundle/Repository/ExternalServiceConfigurationRepository.php
  src/DoctrineMigrations/Version20210422121446.php
Due: php

[12515] Fix color menu (#12612)
  frontend/js/components/Navbar/NavbarRight.js
  frontend/js/components/Navbar/__snapshots__/NavbarRight-test.js.snap
  frontend/js/components/Ui/TabsBar/TabsBarDropdown.js
  frontend/js/components/Ui/TabsBar/__snapshots__/TabsBarDropdown-test.js.snap
  frontend/js/components/Ui/TabsBar/styles.js
  webpack/webpack.client.hot.js
Due: jest, flow

Erreur lorsque connecté en non admin ou non connecté sur les projets en mode custom sur la home (#12619)
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
Due: php

[FIXSELECTSTYLE] rm close icon in select + fix bug async validate (#12592)
  frontend/js/components/Admin/Section/HomePageProjectsSectionAdminPage.js
  frontend/js/components/Admin/Section/HomePageProjectsSectionAdminPageDisplayCustom.js
Due: jest, flow

[12594-EXPORTUSER] add role and emailConfirmed fields (#12595)
  __snapshots__/exports/users.csv
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
Due: php

[FIX-SSH] use os.ssytem (#12615)
  infrastructure/deploylib/environments.py
Due: none

[FIX-CI] restore behat tests (#12628)
  infrastructure/deploylib/qa.py
Due: none

[11309-ANONYMOUS] fix tests (#12631)
  features/graphql/mutation/addProposalVote.feature
Due: none

Reduce the number of CPUs used by Terser (#12635)
  webpack/webpack.prod.client.js
Due: none

[FIX-LOGOUT] fix logout (#12634)
  frontend/js/components/Navbar/NavbarRight.js
  frontend/js/components/Navbar/__snapshots__/NavbarRight-test.js.snap
Due: jest, flow

[FIX-CI] fix e2e-bo-project and e2e-bp tests (#12633)
  features/back/project/proposal_form.feature
  features/front/bp/proposal_votes.feature
  frontend/js/components/Question/QuestionAdmin.js
  frontend/js/components/Question/__snapshots__/QuestionAdmin-test.js.snap
Due: jest, flow

[FIX-EVENTSNAPSHOTS] fix event snapshot (#12637)
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyAdminOfNewEvent.html
  __snapshots__/emails/notifyParticipantOfDeletedEvent.html
  __snapshots__/emails/notifyRegisteredParticipantOfDeletedEvent.html
  __snapshots__/emails/notifyUserReviewedEventApproved.html
  __snapshots__/emails/notifyUserReviewedEventApprovedEnglish.html
  __snapshots__/emails/notifyUserReviewedEventRefused.html
  __snapshots__/emails/notifyUserReviewedEventRefusedEnglish.html
Due: none

[DS-TABLE] Component Table (#12629)
  frontend/js/components/DesignSystem/Table/ActionBar/index.d.ts
  frontend/js/components/DesignSystem/Table/ActionBar/index.js
  frontend/js/components/DesignSystem/Table/Tbody/index.d.ts
  frontend/js/components/DesignSystem/Table/Tbody/index.js
  frontend/js/components/DesignSystem/Table/Td/index.d.ts
  frontend/js/components/DesignSystem/Table/Td/index.js
  frontend/js/components/DesignSystem/Table/Th/index.d.ts
  frontend/js/components/DesignSystem/Table/Th/index.js
  frontend/js/components/DesignSystem/Table/Thead/index.d.ts
  frontend/js/components/DesignSystem/Table/Thead/index.js
  frontend/js/components/DesignSystem/Table/Tr/index.d.ts
  frontend/js/components/DesignSystem/Table/Tr/index.js
  frontend/js/components/DesignSystem/Table/context.js
  frontend/js/components/DesignSystem/Table/index.d.ts
  frontend/js/components/DesignSystem/Table/index.js
  frontend/js/components/DesignSystem/Table/reducer.js
  frontend/js/components/Ui/Primitives/AppBox.type.js
  frontend/js/components/Ui/Primitives/Heading.js
  frontend/js/stories/UI/Modal/ConfirmModal.stories.js
  frontend/js/stories/UI/Modal/Modal.stories.js
  frontend/js/stories/UI/Table/Table.stories.js
  frontend/js/stories/capcollectif/DebateArticleCard-stories.js
  frontend/js/styles/theme/base.js
  frontend/js/utils/bigNumberFormatter.js
  frontend/js/utils/isAsync-test.js
  src/Resources/scss/base/_base.scss
Due: php, jest, flow

[FIX-CI] fix e2e-core-features, e2e-core-user, unit-js (#12647)
  __snapshots__/exports/events.csv
  features/graphql-api/public/Query/__snapshots__/Query_events.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_events_review.js.snap
  fixtures/Dev/Event.yaml
  frontend/js/components/QuestionChoices/__snapshots__/QuestionChoiceAdminForm-test.js.snap
  src/Capco/AppBundle/Behat/UserContext.php
Due: none

Some design system (#12661)
  frontend/js/components/Debate/Opinion/__snapshots__/DebateOpinion-test.js.snap
  frontend/js/components/Debate/Page/Drawers/__snapshots__/DebateStepPageArgumentDrawer-test.js.snap
  frontend/js/components/Debate/Page/Drawers/__snapshots__/DebateStepPageArgumentsDrawer-test.js.snap
  frontend/js/components/Debate/Page/Drawers/__snapshots__/DebateStepPageOpinionDrawer-test.js.snap
  frontend/js/components/DesignSystem/Button/Button.style.js
  frontend/js/components/DesignSystem/Link/Link.d.ts
  frontend/js/components/DesignSystem/Link/Link.js
  frontend/js/components/DesignSystem/Table/ActionBar/index.js
  frontend/js/components/DesignSystem/Table/Tbody/index.d.ts
  frontend/js/components/DesignSystem/Table/Tbody/index.js
  frontend/js/components/DesignSystem/Table/Td/index.d.ts
  frontend/js/components/DesignSystem/Table/Td/index.js
  frontend/js/components/DesignSystem/Table/Tr/TrCheckbox.js
  frontend/js/components/DesignSystem/Table/Tr/index.d.ts
  frontend/js/components/DesignSystem/Table/Tr/index.js
  frontend/js/components/DesignSystem/Tag/Tag.js
  frontend/js/components/Ui/Primitives/AppBox.type.js
  frontend/js/stories/UI/Link/Link.stories.js
Due: jest, flow

[12654-IDF] add some ids, on proposal filter/header to be hidden on … (#12655)
  frontend/js/components/Page/ProposalStepPageHeader.js
  frontend/js/components/Page/__snapshots__/ProposalStepPageHeader-test.js.snap
  frontend/js/components/Proposal/List/ProposalListFilters.js
  frontend/js/components/Proposal/List/__snapshots__/ProposalListFilters-test.js.snap
Due: jest, flow

[12246-FIX] add uuid in migration Version20210312153909 (#12675)
  src/DoctrineMigrations/Version20210312153909.php
Due: php

12618 fix home project section (#12626)
  features/graphql/mutation/updateHomePageProjectsSectionAdmin.feature
  features/graphql/mutation/updateHomePageProjectsSectionConfiguration.feature
  features/graphql/query/homePageProjectsSectionAdmin.feature
  features/graphql/query/homePageProjectsSectionConfiguration.feature
  frontend/js/components/Admin/Section/DraggableProjectCard.js
  frontend/js/components/Admin/Section/HomePageProjectsSectionConfigurationPage-test.js
  frontend/js/components/Admin/Section/HomePageProjectsSectionConfigurationPage.js
  frontend/js/components/Admin/Section/HomePageProjectsSectionConfigurationPage.style.js
  frontend/js/components/Admin/Section/HomePageProjectsSectionConfigurationPageDisplayCustom.js
  frontend/js/components/Admin/Section/HomePageProjectsSectionConfigurationPageDisplayMostRecent.js
  frontend/js/components/Admin/Section/__snapshots__/HomePageProjectsSectionConfigurationPage-test.js.snap
  frontend/js/components/Project/List/CustomProjectList.js
  frontend/js/components/Project/List/CustomProjectListView.js
  frontend/js/mutations/UpdateHomePageProjectsSectionConfigurationMutation.js
  frontend/js/registrationAdmin.js
  frontend/js/startup/HomePageProjectsSectionConfigurationApp.js
  schema.internal.graphql
  src/Capco/AdminBundle/Resources/views/Section/edit_projects.html.twig
  src/Capco/AppBundle/Behat/GraphQLContext.php
  src/Capco/AppBundle/Entity/Section.php
  src/Capco/AppBundle/Enum/HomePageProjectsSectionConfigurationDisplayMode.php
  src/Capco/AppBundle/Form/SectionType.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateHomePageProjectsSectionConfigurationMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/HomePageProjectsSectionConfiguration/HomePageProjectsSectionConfigurationProjectsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/HomePageProjectsSectionConfigurationResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/HomePageProjectsSectionAdminDisplayMode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/HomePageProjectsSectionConfigurationDisplayMode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/UpdateHomePageProjectsSectionAdminErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/UpdateHomePageProjectsSectionConfigurationErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateHomePageProjectsSectionAdminPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateHomePageProjectsSectionConfigurationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateHomePageProjectsSectionConfigurationPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/HomePageProjectsSectionConfiguration.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalHomePageProjectsSectionConfigurationTranslationInput.types.yaml
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
Due: graphql, php, jest, flow

[FIXGRAPHQLQUERYTEST] fix test (#12677)
  features/graphql/query/opinion.feature
Due: none

[12678-FIX500] fix export list newsletter subscription (#12679)
  config/bundles.php
  config/packages/sonata_exporter.yaml
  src/Capco/AdminBundle/Admin/NewsletterSubscriptionAdmin.php
Due: php

[12666-FIX] fix fos_user naming in query (#12668)
  src/Capco/AppBundle/Command/RecalculateUsersCountersCommand.php
Due: php

[12622-FEATURETOGGLE] add feature toggle to import proposals from bo (#12670)
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  frontend/js/components/Admin/Project/Form/__snapshots__/ProjectAdminForm-test.js.snap
  frontend/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  frontend/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  frontend/js/redux/modules/default.js
  frontend/js/types.js
  schema.internal.graphql
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
Due: php, jest, flow

[12678-FIX500] fix default delimiter to ';' (#12680)
  config/packages/sonata_exporter.yaml
Due: none

[DS] Improve Table (#12674)
  frontend/js/components/DesignSystem/Table/ActionBar/index.js
  frontend/js/components/DesignSystem/Table/Th/index.d.ts
  frontend/js/components/DesignSystem/Table/Th/index.js
  frontend/js/components/DesignSystem/Table/Tr/TrCheckbox.js
  frontend/js/components/DesignSystem/Table/placeholder.js
  frontend/js/stories/UI/Table/Table.stories.js
Due: jest, flow

[11356-DASHBOARD-ANALYTICS] Analytics Dashboard by Project (#12650)
  features/graphql/query/opinion.feature
  schema.internal.graphql
  src/Capco/AppBundle/Client/CloudflareElasticClient.php
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Entity/EventComment.php
  src/Capco/AppBundle/Entity/Follower.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/GraphQL/DataLoader/Query/QueryAnalyticsDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/AnalyticsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/InternalQueryAnalyticsFilter.types.yaml
  src/Capco/AppBundle/Resources/config/serialization/EventComment.yaml
  src/Capco/AppBundle/Resources/config/serialization/Proposal.yaml
  src/Capco/AppBundle/Resources/config/serialization/ProposalComment.yaml
  src/Capco/AppBundle/Search/AnalyticsSearch.php
Due: graphql, php

Try xstate machine on debate (#12653)
  flow-typed/npm/@xstate/react_vx.x.x.js
  flow-typed/npm/xstate_vx.x.x.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageAbsoluteVoteAndShare-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageAbsoluteVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageStateMachine.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteForm-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteForm.js
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageAbsoluteVoteAndShare-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVoteAndShare-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVoteForm-test.js.snap
  frontend/js/components/Debate/Page/Modals/ModalDeleteVoteMobile-test.js
  frontend/js/components/Debate/Page/Modals/ModalDeleteVoteMobile.js
  package.json
  yarn.lock
Due: jest, flow

[12493] Webpack cache + node_modules cache (#12681)
  .gitignore
  package.json
  webpack/webpack.client.js
  yarn.lock
Due: none

Fix RabbitMQ install (#12689)
  infrastructure/services/local/Dockerfile
  infrastructure/services/remote/Dockerfile
Due: none

[12106-FIX] - Affichage ou non des compteurs sur les évenements (#12688)
  frontend/js/components/Event/EventPageHeader/EventPageHeader-test.js
  frontend/js/components/Event/EventPageHeader/EventPageHeader.js
  frontend/js/components/Event/EventPageHeader/__snapshots__/EventPageHeader-test.js.snap
Due: jest, flow

[SSO-EDF] Implémentation du SSO EDF via OpenID (#12544)
  src/Capco/UserBundle/Controller/OauthConnectController.php
  src/Capco/UserBundle/OpenID/Mapping/EdfMapping.php
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
  src/Capco/UserBundle/OpenID/OpenIDResourceOwner.php
Due: php

12476 import idf user (#12642)
  config/packages/commands.yaml
  features/commands/import.feature
  src/Capco/AppBundle/Command/CreateCsvFromLegacyUsersCommand.php
  src/Capco/AppBundle/Command/CreateIDFUsersFromCsvCommand.php
  src/Capco/AppBundle/Command/CreateUsersFromCsvCommand.php
Due: php

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
