Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

Fix security php/js (#13177)
  composer.json
  composer.lock
  package.json
  phpstan.neon
  src/Capco/AppBundle/Command/Maker/Makers/MakeMessage.php
  src/Capco/AppBundle/Command/Maker/Makers/MakeNotifier.php
  src/Capco/AppBundle/Command/Maker/Makers/MakeProcessor.php
  src/Capco/AppBundle/Mailer/Transport/MailjetTransport.php
  src/Capco/AppBundle/Mailer/Transport/MandrillTransport.php
  src/Capco/AppBundle/Mailer/Transport/Transport.php
  yarn.lock
Due: php

[12602] Case empty on questionnaire list (#13180)
  frontend/js/components/Admin/Project/QuestionnaireList/ModalConfirmationDelete-test.js
  frontend/js/components/Admin/Project/QuestionnaireList/ModalConfirmationDelete.js
  frontend/js/components/Admin/Project/QuestionnaireList/ModalCreateQuestionnaire-test.js
  frontend/js/components/Admin/Project/QuestionnaireList/ModalCreateQuestionnaire.js
  frontend/js/components/Admin/Project/QuestionnaireList/NoResult.js
  frontend/js/components/Admin/Project/QuestionnaireList/QuestionnaireItem-test.js
  frontend/js/components/Admin/Project/QuestionnaireList/QuestionnaireItem.js
  frontend/js/components/Admin/Project/QuestionnaireList/QuestionnaireList.js
  frontend/js/components/Admin/Project/QuestionnaireList/QuestionnaireListPage.js
  frontend/js/components/Admin/Project/QuestionnaireList/__snapshots__/ModalCreateQuestionnaire-test.js.snap
  frontend/js/components/DesignSystem/SpotIcon/SpotIcon.d.ts
  frontend/js/components/DesignSystem/SpotIcon/SpotIcon.js
  frontend/js/components/DesignSystem/SpotIcon/index.js
  frontend/js/components/DesignSystem/SpotIcon/svg/questionnaire.svg
  frontend/js/mutations/CreateQuestionnaireMutation.js
  frontend/js/mutations/DeleteQuestionnaireMutation.js
Due: jest, flow

[12604-PROJECT-ADMIN] Articles List addendum (edge case) (#13189)
  frontend/js/components/Admin/Post/PostList/PostItem-test.js
  frontend/js/components/Admin/Post/PostList/PostItem.js
  frontend/js/components/Admin/Post/PostList/PostList.js
  frontend/js/components/Admin/Post/PostList/__snapshots__/PostItem-test.js.snap
  frontend/js/components/Admin/Post/PostList/__snapshots__/PostList-test.js.snap
  frontend/js/components/Admin/Sidebar/Sidebar-test.js
  frontend/js/components/Admin/Sidebar/Sidebar.js
  frontend/js/components/Admin/Sidebar/__snapshots__/Sidebar-test.js.snap
Due: jest, flow

[12604-HOTFIX] hotfix (#13197)
  frontend/js/components/Admin/Sidebar/Sidebar.js
Due: jest, flow

[13192-FIX] add default value for order / cleanup params (#13198)
  spec/Capco/AppBundle/GraphQL/Resolver/Event/EventOwnerEventsResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/User/UserPostsResolverSpec.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserPostsResolver.php
  src/Capco/AppBundle/Search/PostSearch.php
Due: graphql, php

Bump doctrine/orm from 2.8.2 to 2.8.5 (#13194)
  composer.json
  composer.lock
Due: none

Fix unit-js and update regex (#13204)
  frontend/js/components/Admin/Project/QuestionnaireList/__snapshots__/QuestionnaireList-test.js.snap
  frontend/js/components/Argument/__snapshots__/DebateArgumentItem-test.js.snap
  frontend/js/components/Debate/ArgumentCard/__snapshots__/ArgumentCard-test.js.snap
  frontend/js/components/Debate/Page/Arguments/__snapshots__/ModalArgumentAuthorMenu-test.js.snap
  frontend/js/components/Debate/Page/Arguments/__snapshots__/ModalDeleteArgumentMobile-test.js.snap
  frontend/js/components/Debate/Page/Arguments/__snapshots__/ModalEditArgumentMobile-test.js.snap
  frontend/js/components/Debate/Page/LinkedArticles/__snapshots__/DebateStepPageLinkedArticles-test.js.snap
  frontend/js/components/Debate/Page/Modals/__snapshots__/ModalDeleteVoteMobile-test.js.snap
  frontend/js/components/Footer/__snapshots__/FooterLinksRender-test.js.snap
  frontend/js/components/Project/List/Filters/__snapshots__/ProjectListFiltersContainer-test.js.snap
  frontend/js/components/Proposal/Map/__snapshots__/ProposalLeafletMap-test.js.snap
  frontend/js/components/ProposalForm/Section/SectionDisplayMode/__snapshots__/SectionDisplayMode-test.js.snap
  frontend/js/components/Tag/TagUser/__snapshots__/TagUser-test.js.snap
  frontend/js/components/Ui/Button/__snapshots__/SiteLanguageChangeButton-test.js.snap
  frontend/js/components/Ui/ChangeLanguageOnWebsiteHeader/__snapshots__/ChangeLanguageOnWebsiteHeader-test.js.snap
  frontend/js/components/Ui/CircleColor/__snapshots__/CircleColor-test.js.snap
  frontend/js/components/User/__snapshots__/UserPasswordComplexityUtils-test.js.snap
  package.json
  yarn.lock
Due: none

Unify our IP and User Agent guessing strategy (#13161)
  config/packages/event_listener.yaml
  config/packages/event_listeners.yaml
  config/packages/services.yaml
  public/index.php
  spec/Capco/AppBundle/EventListener/AuthenticationHandlerSpec.php
  spec/Capco/AppBundle/EventListener/AuthenticationListenerSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/AddCommentMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/Debate/AddDebateVoteMutationSpec.php
  spec/Capco/AppBundle/Utils/RequestGuesserSpec.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Entity/UserConnection.php
  src/Capco/AppBundle/EventListener/AuthenticationHandler.php
  src/Capco/AppBundle/EventListener/AuthenticationListener.php
  src/Capco/AppBundle/EventListener/PriorAuthenticationHandler.php
  src/Capco/AppBundle/GraphQL/Mutation/AddCommentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddOpinionVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddReplyMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ContactProposalAuthorMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/AbstractDebateArgumentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/AddDebateAnonymousVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/AddDebateVoteMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/CreateDebateArgumentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/SubscribeToEventAsNonRegisteredMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/SubscribeToEventAsRegisteredMutation.php
  src/Capco/AppBundle/Manager/TokenManager.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Search/Search.php
  src/Capco/AppBundle/Sentry/SentryListener.php
  src/Capco/AppBundle/Utils/IPGuesser.php
  src/Capco/AppBundle/Utils/RequestGuesser.php
  src/Capco/AppBundle/Validator/Constraints/ReCaptchaValidator.php
Due: graphql, php

[13205-FIX] clone questionnaireNotificationConfiguration when cloning questionnaire when cloning ProposalForm (#13213)
  src/Capco/AppBundle/Entity/Questionnaire.php
Due: php

[FIX-DELETE] [FIX-DELETE] delete media_response row when delete response (#13201)
  src/Capco/AppBundle/Entity/Responses/MediaResponse.php
  src/DoctrineMigrations/Version20210831085706.php
Due: php

[12600-PROJECT] analysis for project admin (#13188)
  features/back/moderation/proposal.feature
  features/front/features/project.feature
  features/graphql/mutation/changeProposalEvaluation.feature
  fixtures/Dev/AnalysisConfiguration.yaml
  fixtures/Dev/Status.yaml
  frontend/js/components/Proposal/Admin/ProposalAdminEvaluersForm-test.js
  frontend/js/components/Proposal/Admin/ProposalAdminEvaluersForm.js
  frontend/js/components/Proposal/Admin/ProposalAdminNotationForm-test.js
  frontend/js/components/Proposal/Admin/ProposalAdminNotationForm.js
  frontend/js/components/Proposal/Admin/ProposalAdminPageTabs.js
  frontend/js/components/Proposal/Admin/__snapshots__/ProposalAdminEvaluersForm-test.js.snap
  frontend/js/components/Proposal/Admin/__snapshots__/ProposalAdminNotationForm-test.js.snap
  frontend/js/components/Proposal/Admin/__snapshots__/ProposalAdminPage-test.js.snap
  frontend/js/components/Proposal/Admin/__snapshots__/ProposalAdminPageTabs-test.js.snap
  frontend/js/components/Proposal/Page/ProposalPageEvaluation-test.js
  frontend/js/components/Proposal/Page/ProposalPageEvaluation.js
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPageEvaluation-test.js.snap
  frontend/js/mutations/ChangeProposalEvaluationMutation.js
  frontend/js/mutations/ChangeProposalEvaluersMutation.js
  frontend/js/mutations/ChangeProposalNotationMutation.js
  schema.internal.graphql
  src/Capco/AppBundle/Behat/Page/AdminProposalPage.php
  src/Capco/AppBundle/Behat/Traits/AdminProposalTrait.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/GraphQL/Mutation/ConfigureAnalysisMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalEvaluationMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeProposalEvaluationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeProposalEvaluationPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeProposalEvaluersInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeProposalEvaluersPayload.types.yaml
  src/Capco/AppBundle/Security/ProjectVoter.php
  src/Capco/AppBundle/Security/ProposalAnalysisRelatedVoter.php
Due: graphql, php, jest, flow

Remove remaining synthesis code (#13184)
  .eslintignore
  behat.yml
  config/packages/admin.yaml
  config/packages/commands.yaml
  config/packages/doctrine.yaml
  config/packages/event_listeners.yaml
  config/packages/repositories.yaml
  config/packages/synthesis.yaml
  features/front/features/synthesis.feature
  fixtures/Dev/Synthesis.yaml
  package.json
  src/Capco/AdminBundle/Admin/SynthesisAdmin.php
  src/Capco/AppBundle/Behat/ApiContext.php
  src/Capco/AppBundle/Behat/Page/SynthesisEditionPage.php
  src/Capco/AppBundle/Behat/Page/SynthesisPage.php
  src/Capco/AppBundle/Command/RecalculateSynthesesCountersCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/Entity/Synthesis/Synthesis.php
  src/Capco/AppBundle/Entity/Synthesis/SynthesisDivision.php
  src/Capco/AppBundle/Entity/Synthesis/SynthesisElement.php
  src/Capco/AppBundle/Entity/Synthesis/SynthesisUser.php
  src/Capco/AppBundle/Entity/Synthesis/SynthesisUserInterface.php
  src/Capco/AppBundle/EventListener/SynthesisLoggableListener.php
  src/Capco/AppBundle/Form/Api/SynthesisDivisionType.php
  src/Capco/AppBundle/Form/Api/SynthesisElementType.php
  src/Capco/AppBundle/Form/Api/SynthesisType.php
  src/Capco/AppBundle/Normalizer/SynthesisElementNormalizer.php
  src/Capco/AppBundle/Normalizer/SynthesisNormalizer.php
  src/Capco/AppBundle/Repository/Synthesis/SynthesisElementRepository.php
  src/Capco/AppBundle/Repository/Synthesis/SynthesisRepository.php
  src/Capco/AppBundle/Resources/views/Step/synthesis.html.twig
  src/Capco/AppBundle/Resources/views/Synthesis/main.html.twig
  src/Capco/AppBundle/Synthesis/Extractor/ConsultationStepExtractor.php
  src/Capco/AppBundle/Synthesis/Handler/SynthesisElementHandler.php
  src/Capco/AppBundle/Synthesis/Handler/SynthesisHandler.php
  src/Capco/UserBundle/Entity/User.php
  src/DoctrineMigrations/Version20160601192422.php
  src/Resources/scss/modules/_synthesis.scss
  src/Resources/scss/style.scss
Due: php

fix related ticket issues (#13212)
  frontend/js/components/Debate/Page/Arguments/DesktopDebateStepPageArguments.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVoteAndShare-test.js.snap
Due: jest, flow

Setup `yarn autoclean` (#13232)
  .yarnclean
Due: none

[13202-EXPORT] Correction de l'export des questionnaires (#13224)
  fixtures/Dev/ValueResponse.yaml
  src/Capco/AppBundle/Resolver/ProjectDownloadResolver.php
Due: php

Bump doctrine/dbal from 2.12.1 to 2.13.2 (#13210)
  composer.json
  composer.lock
Due: none

[13147-EVENT] add metadescription form error (#13217)
  frontend/js/components/Admin/Section/HomePageProjectsSectionConfigurationPage.js
  frontend/js/components/Event/Form/EventForm.js
Due: jest, flow

[INVITATIONTEST] add test (#13241)
  spec/Capco/UserBundle/Handler/UserInvitationHandlerSpec.php
  src/Capco/UserBundle/Handler/UserInvitationHandler.php
Due: php

[13097-BUG] Add video to Project Headers (#13219)
  frontend/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorList-test.js.snap
  frontend/js/components/Project/ProjectHeader.js
  frontend/js/components/Project/__snapshots__/ProjectHeader-test.js.snap
  frontend/js/components/Ui/Project/ProjectHeader.Cover.js
  frontend/js/components/Ui/Project/ProjectHeader.js
  frontend/js/components/Ui/Project/SVG/Play.js
  frontend/js/stories/UI/ProjectHeader/ProjectHeader.stories.js
Due: jest, flow

Bump stof/doctrine-extensions-bundle from 1.4.0 to 1.6.0 (#12282)
  composer.json
  composer.lock
Due: none

12599 admin project remaining (#13195)
  config/packages/security.yaml
  features/graphql-api/internal/User/Viewer_projects.js
  features/graphql-api/internal/User/__snapshots__/Viewer_projects.js.snap
  features/graphql-api/internal/mutation/deleteProject.js
  features/graphql/query/projects_authors.feature
  fixtures/Dev/ProjectAuthor.yaml
  frontend/js/components/Admin/Project/Form/ProjectAdminForm-test.js
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/components/Admin/Project/Form/__snapshots__/ProjectAdminForm-test.js.snap
  frontend/js/components/Admin/Project/ProjectAdminContent.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/NoContributions/NoContributionsStep.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminContributionsPage.js
  frontend/js/components/Admin/Project/Steps/ProjectStepAdmin-test.js
  frontend/js/components/Admin/Project/Steps/ProjectStepAdmin.js
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdmin-test.js.snap
  frontend/js/components/Ui/BackOffice/UserBlockProfile-test.js
  frontend/js/components/Ui/BackOffice/UserBlockProfile.js
  frontend/js/components/Ui/BackOffice/__snapshots__/UserBlockProfile-test.js.snap
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/DeletePostMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/DeleteProjectMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/User/UserProjectsResolverSpec.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Enum/ProjectAffiliation.php
  src/Capco/AppBundle/Enum/ProjectOrderField.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteProjectMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserProjectsResolver.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalProjectAffiliation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalProjectOwnerProjectOrderField.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/InternalProjectOwnerProjectOrder.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalProjectOwner.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/DeleteProjectInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/DeleteProjectPayload.types.yaml
  src/Capco/AppBundle/Security/ProjectVoter.php
Due: graphql, php, jest, flow

[FIX-MIGRATION] fix migration (#13242)
  src/DoctrineMigrations/Version20210514142903.php
Due: php

[13151-FIX] fix label height (#13220)
  frontend/js/components/Admin/Project/Content/ProjectContentAdminForm.js
  frontend/js/components/Admin/Project/Step/StepArticle/__snapshots__/StepArticle-test.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminStepForm-test.js.snap
Due: jest, flow

[13139-INVITATION] set bg color to menu (#13221)
  frontend/js/components/User/Invitation/UserInvitationPage.js
  frontend/js/components/User/Invitation/UserInvitationRoot.js
  frontend/js/components/User/Invitation/UserInvitationSSOPage.js
Due: jest, flow

[12078-LIMIT] limit number of emails sent (#13238)
  features/commands/debateLaunch.feature
  src/Capco/AppBundle/Command/Debate/DebateInvitationCommand.php
Due: php

[13248-FIX] fix sso invit (#13250)
  spec/Capco/UserBundle/Handler/UserInvitationHandlerSpec.php
  src/Capco/UserBundle/Handler/UserInvitationHandler.php
Due: php

[12638-FCTEASER] add FranceConnect Teaser Modal (#12962)
  frontend/js/components/Admin/Authentification/AuthentificationAdminPage.js
  frontend/js/components/Admin/Authentification/AuthentificationAdminPageContent.js
  frontend/js/components/Admin/Authentification/FranceConnectTeaserModal-test.js
  frontend/js/components/Admin/Authentification/FranceConnectTeaserModal.js
  frontend/js/components/Admin/Authentification/ListPublicSSO.js
  frontend/js/components/Admin/Authentification/ListSSOConfiguration.js
  frontend/js/components/Admin/Authentification/__snapshots__/AuthentificationAdminPage-test.js.snap
  frontend/js/components/Admin/Authentification/__snapshots__/FranceConnectTeaserModal-test.js.snap
  frontend/js/components/Admin/Authentification/__snapshots__/ListPublicSSO-test.js.snap
  public/image/logo_FC.png
Due: jest, flow

[FIX-TABLE] fix table (#13251)
  frontend/js/components/Admin/UserInvite/UserInviteList.js
  frontend/js/components/DesignSystem/Table/index.js
Due: jest, flow

[FIX-12483] Fix Debate vote counter. (#13222)
  config/packages/twig.yaml
  src/Capco/UserBundle/Resources/views/Profile/show.html.twig
  src/Capco/UserBundle/Resources/views/Profile/showProfile.html.twig
Due: php

[API-POST] handle media upload for post (#13255)
  features/graphql-api/internal/mutation/__snapshots__/createPost.js.snap
  features/graphql-api/internal/mutation/__snapshots__/updatePost.js.snap
  features/graphql-api/internal/mutation/createPost.js
  features/graphql-api/internal/mutation/updatePost.js
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreatePostInput.types.yaml
Due: php

Bump phpstan/phpstan from 0.12.96 to 0.12.98 (#13245)
  composer.lock
Due: none

[12606-EXPORT] project admin export questionnaire replies (#13246)
  __snapshots__/exports/projet-avec-administrateur-de-projet_questionnaire-administrateur-de-projet-2-project-admin.csv
  __snapshots__/exports/projet-avec-administrateur-de-projet_questionnaire-administrateur-de-projet-project-admin.csv
  features/commands/export.feature
  src/Capco/AppBundle/Command/BaseExportCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromQuestionnaireCommand.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/GraphQL/Resolver/Questionnaire/QuestionnaireExportResultsUrlResolver.php
  src/Capco/AppBundle/Resolver/ProjectDownloadResolver.php
Due: graphql, php

[12847] Audit de securite pour Lyon (#13140)
  config/packages/framework.yaml
  config/services.yaml
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/cron/antivirus
  infrastructure/services/remote/cron/check_db_schema
Due: none

12782 nouvelle modale de depot aie aie aie (#13249)
  composer.lock
  features/front/bp/proposal_crud.feature
  frontend/js/components/DesignSystem/InfoMessage/title/index.js
  frontend/js/components/DesignSystem/Modal/ModalHeader.js
  frontend/js/components/Page/ProposalStepPageHeader-test.js
  frontend/js/components/Page/ProposalStepPageHeader.js
  frontend/js/components/Page/ProposalsDisplayMap.js
  frontend/js/components/Page/__snapshots__/ProposalStepPageHeader-test.js.snap
  frontend/js/components/Page/__snapshots__/ProposalsDisplayMap-test.js.snap
  frontend/js/components/Proposal/Create/ProposalCreate-test.js
  frontend/js/components/Proposal/Create/ProposalCreate.js
  frontend/js/components/Proposal/Create/ProposalCreateModal.js
  frontend/js/components/Proposal/Create/ProposalErrorModal.js
  frontend/js/components/Proposal/Create/ProposalLeaveModal.js
  frontend/js/components/Proposal/Create/ProposalOtherPanelsModal.js
  frontend/js/components/Proposal/Create/__snapshots__/ProposalCreate-test.js.snap
  frontend/js/components/Proposal/Edit/ProposalEditModal-test.js
  frontend/js/components/Proposal/Edit/ProposalEditModal.js
  frontend/js/components/Proposal/Edit/__snapshots__/ProposalEditModal-test.js.snap
  frontend/js/components/Proposal/Form/ProposalForm-test.js
  frontend/js/components/Proposal/Form/ProposalForm.js
  frontend/js/components/Proposal/Form/ProposalFormMapPreview.js
  frontend/js/components/Proposal/Map/ProposalLeafletMap-test.js
  frontend/js/components/Proposal/Map/ProposalLeafletMap.js
  frontend/js/components/Proposal/Map/__snapshots__/ProposalLeafletMap-test.js.snap
  frontend/js/components/Proposal/Page/Header/ProposalPageHeaderButtons.js
  frontend/js/components/Proposal/Page/Header/__snapshots__/ProposalPageHeaderButtons-test.js.snap
  frontend/js/components/Proposal/Page/ProposalDraftAlert.js
  frontend/js/components/Proposal/Page/ProposalPageLogic.js
  frontend/js/components/Proposal/Page/__snapshots__/ProposalDraftAlert-test.js.snap
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPage-test.js.snap
  frontend/js/redux/modules/proposal.js
  frontend/js/styles/modules/colors.js
Due: jest, flow

[11590-FIX] add charte modal to invite page (#13256)
  frontend/js/components/User/Invitation/UserInvitationPage.js
Due: jest, flow

[API-POST] change locale from String to TranslationLocale (#13258)
  features/graphql-api/internal/mutation/createPost.js
  features/graphql-api/internal/mutation/updatePost.js
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalCreatePostTranslationInput.types.yaml
Due: php

Fix detect emoji on import proposals (#13158)
  __snapshots__/imports/proposals_idf_bp3.csv
  composer.json
  composer.lock
  features/commands/import.feature
  frontend/js/components/Proposal/Page/MainContent/ProposalPageDescription.js
  frontend/js/components/Proposal/Preview/ProposalPreviewBody.js
  frontend/js/components/Proposal/Preview/__snapshots__/ProposalPreviewBody-test.js.snap
  frontend/js/utils/ContentTranslator.js
  src/Capco/AppBundle/Import/ImportProposalsFromCsv.php
Due: php, jest, flow

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
