Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

show admin link to orga member (#15169)
  frontend/js/components/Navbar/NavbarRight-test.js
  frontend/js/components/Navbar/NavbarRight.js
  frontend/js/components/Navbar/__snapshots__/NavbarRight-test.js.snap
  frontend/js/components/Reply/Form/ReplyCreateFormWrapper-test.js
  frontend/js/redux/modules/user.js
  src/Capco/AppBundle/GraphQL/Resolver/Organization/OrganizationMemberAccessResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
  src/Capco/UserBundle/Entity/User.php
Due: graphql, php, jest, flow

14660 query projects orga bo (#15194)
  admin-next/components/Projects/ProjectItem.test.tsx
  admin-next/components/Projects/ProjectItem.tsx
  admin-next/components/Projects/ProjectList.test.tsx
  admin-next/components/Projects/ProjectList.tsx
  admin-next/components/Projects/ProjectListNoResult.tsx
  admin-next/components/Projects/ProjectModalCreateProject.test.tsx
  admin-next/components/Projects/ProjectModalCreateProject.tsx
  admin-next/pages/projects.tsx
  config/packages/security.yaml
  frontend/js/components/Admin/Sidebar/Sidebar.js
  frontend/js/components/Admin/Sidebar/SidebarLink.js
  frontend/js/components/Navbar/__snapshots__/NavbarRight-test.js.snap
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/Repository/ProjectRepositorySpec.php
  src/Capco/AdminBundle/Controller/AlphaProjectController.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Form/Persister/ProjectPersister.php
  src/Capco/AppBundle/GraphQL/Resolver/User/ProjectOwnerTypeResolver.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateProjectInput.types.yaml
  src/Capco/UserBundle/Entity/User.php
Due: graphql, php, jest, flow

AbstractFakeResolver (#15173)
  src/Capco/AppBundle/GraphQL/Mutation/Dev/ExampleFakeMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Dev/AbstractFakePaginatedResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Dev/AbstractFakeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Dev/ExampleFakePaginatedResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Dev/ExampleFakeResolver.php
  src/Capco/AppBundle/Resources/config/graphql/dev/DevMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/dev/DevQuery.types.yaml
Due: graphql, php

[15099-REORDERGRAPHQLFILES] move graphql organization files in same folder (#15174)
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/enum/DeleteOrganizationErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/enum/UpdateOrganizationErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/mutations/DeleteOrganizationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/mutations/DeleteOrganizationPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/mutations/UpdateOrganizationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/mutations/UpdateOrganizationPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/objects/InternalOrganizationSocialNetworks.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/objects/InternalUpdateOrganizationTranslationInput.types.yaml
Due: php

Fix date format of user votes step help text
  frontend/js/components/Project/Votes/ProposalsUserVotesStep.js
Due: jest, flow

Correction des tests sur master (#15205)
  cypress/@types/index.d.ts
  cypress/integration/moderation/mergeProposal.spec.ts
  cypress/integration/user/group.spec.ts
  cypress/pages/admin/group.ts
  cypress/pages/admin/moderation.ts
  cypress/pages/index.ts
  cypress/support/react-select.ts
  features/back/group/group.feature
  features/back/moderation/merge_proposals.feature
  src/Capco/AppBundle/Behat/Page/AdminProposalListPage.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
Due: none

[FIXMASTER] refer last cypress tests in CI (#15207)
  cypress/package.json
Due: none

Delete SectionProject on Project delete (#15199)
  src/Capco/AppBundle/Entity/SectionProject.php
  src/DoctrineMigrations/Version20221024134146.php
Due: php

[15110-LEAVEORGAWHENREMOVINGACCOUNT] remove user's organizations as member on removing account (#15142)
  src/Capco/AppBundle/Anonymizer/AnonymizeUser.php
Due: php

Fix les projets en front quand la langue par défaut n'est pas le francais (#15198)
  frontend/js/components/Project/ProjectHeader-test.js
  frontend/js/components/Project/ProjectHeader.js
  frontend/js/components/Project/ProjectStepTabs-test.js
  frontend/js/components/Project/ProjectStepTabs.js
  frontend/js/components/Proposal/Page/Header/ProposalPageHeader-test.js
  frontend/js/components/Proposal/Page/Header/ProposalPageHeader.js
  frontend/js/components/Proposal/Page/Header/__snapshots__/ProposalPageHeader-test.js.snap
  frontend/js/components/Proposal/Page/ProposalPage-test.js
  frontend/js/components/Proposal/Page/ProposalPage.js
  frontend/js/components/Proposal/Page/ProposalPageLogic.js
  frontend/js/components/Ui/Project/ProjectHeader.Frise.js
  frontend/js/startup/ProjectHeaderApp.js
  frontend/js/startup/ProjectStepPageApp.js
  frontend/js/utils/router.js
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
  src/Capco/AppBundle/Resources/views/Proposal/show.html.twig
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/debate.html.twig
  src/Capco/AppBundle/Resources/views/Step/presentation.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
  src/Capco/AppBundle/Resources/views/Step/show.html.twig
  src/Capco/AppBundle/Twig/DefaultLanguageExtension.php
  src/Capco/AppBundle/Twig/DefaultLanguageRuntime.php
Due: php, jest, flow

fix condition (#15218)
  src/Capco/AppBundle/EventListener/CommentListener.php
Due: php

remove admin users to orga member fixtures (#15219)
  features/graphql-api/internal/mutation/Organization/inviteUserToOrganization.js
  features/graphql/query/organizations.feature
  features/graphql/type/organization/organization_members.feature
  fixtures/Dev/OrganizationMember.yaml
Due: none

mutation kickFromOrganization (#15216)
  features/graphql-api/internal/mutation/Organization/kickFromOrganization.js
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Organization/Organization.php
  src/Capco/AppBundle/GraphQL/Mutation/Organization/AbstractOrgnizationInvitation.php
  src/Capco/AppBundle/GraphQL/Mutation/Organization/KickFromOrganizationMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/enum/KickFromOrganizationErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/mutations/KickFromOrganizationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/mutations/KickFromOrganizationPayload.types.yaml
  src/Capco/AppBundle/Security/OrganizationVoter.php
Due: graphql, php

Fix datepicker in user data admin dashboard
  frontend/js/components/Form/DateDropdownPicker.js
  frontend/js/components/Form/__snapshots__/DateDropDownPicker-test.js.snap
  frontend/js/components/User/Admin/UserAdminPersonalData.js
  frontend/js/components/User/Admin/__snapshots__/UserAdminPersonalData-test.js.snap
Due: jest, flow

Moderation fix (#15222)
  src/Capco/AdminBundle/Admin/CommentAdmin.php
  src/Capco/AppBundle/Notifier/CommentNotifier.php
Due: php

fix submit a question (#15223)
  frontend/js/components/Page/ProposalStepPageHeader.js
  frontend/js/components/Page/__snapshots__/ProposalStepPageHeader-test.js.snap
Due: jest, flow

fix tests for kickFromOrganization (#15224)
  features/graphql-api/internal/mutation/Organization/kickFromOrganization.js
  jest-setup.e2e.js
Due: none

Fix "Valider l'adresse" (#15217)
  frontend/js/components/Proposal/Create/ProposalCreateModal.js
  frontend/js/components/Proposal/Edit/ProposalEditModal.js
  frontend/js/components/Proposal/Edit/__snapshots__/ProposalEditModal-test.js.snap
Due: jest, flow

Bugs fixes from open source (#15225)
  frontend/js/components/Form/DateDropdownPicker.js
  frontend/js/components/Form/__snapshots__/DateDropDownPicker-test.js.snap
  frontend/js/components/Project/Votes/ProposalsUserVotesStep.js
  frontend/js/components/User/Admin/UserAdminPersonalData.js
  frontend/js/components/User/Admin/__snapshots__/UserAdminPersonalData-test.js.snap
Due: jest, flow

Delete broken show button in questionnaire reply mail
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAnonymousCreateAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAnonymousDeleteAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAnonymousUpdateAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyCreateAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyDeleteAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyUpdateAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/notifyQuestionnaireReply.html.twig
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
Due: php

fix event page link in sidebar (#15228)
  frontend/js/components/Admin/Sidebar/Sidebar.js
Due: jest, flow

Delete broken show button in questionnaire reply mail (#15229)
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAnonymousCreateAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAnonymousDeleteAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAnonymousUpdateAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyCreateAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyDeleteAdminMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyUpdateAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/notifyQuestionnaireReply.html.twig
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
Due: php

remove unused SonataMediaResizerServicePass (#15231)
  src/Capco/AppBundle/CapcoAppBundle.php
  src/Capco/AppBundle/DependencyInjection/Compiler/SonataMediaResizerServicePass.php
Due: php

[14158] Rework UI questionnaire (#14746)
  frontend/js/components/Alert/AlertForm.js
  frontend/js/components/Alert/__snapshots__/AlertForm-test.js.snap
  frontend/js/components/Form/RenderResponses.js
  frontend/js/components/Form/Section/Section.js
  frontend/js/components/Group/Admin/__snapshots__/GroupAdminUsers-test.js.snap
  frontend/js/components/Page/__snapshots__/QuestionnaireStepPage-test.js.snap
  frontend/js/components/Project/ProjectHeaderBlocks.js
  frontend/js/components/Project/ProjectStepTabs.js
  frontend/js/components/Project/__snapshots__/ProjectStepTabs-test.js.snap
  frontend/js/components/Proposal/Page/__snapshots__/ProposalResponse-test.js.snap
  frontend/js/components/Questionnaire/QuestionnaireFooter.js
  frontend/js/components/Questionnaire/QuestionnaireFooter.style.js
  frontend/js/components/Questionnaire/QuestionnaireHeader.js
  frontend/js/components/Questionnaire/QuestionnaireHeader.style.js
  frontend/js/components/Questionnaire/QuestionnairePage.js
  frontend/js/components/Questionnaire/__snapshots__/QuestionnairePage-test.js.snap
  frontend/js/components/Reply/Form/ReplyForm-test.js
  frontend/js/components/Reply/Form/ReplyForm.js
  frontend/js/components/Reply/Form/ReplyForm.style.js
  frontend/js/components/Reply/Form/__snapshots__/ReplyForm-test.js.snap
  frontend/js/components/Requirements/RequirementsFormLegacy.js
  frontend/js/components/Requirements/__snapshots__/RequirementsFormLegacy-test.js.snap
  frontend/js/components/Ui/Form/Section/SectionDescription.js
  frontend/js/components/Ui/Form/Section/SectionTitle.js
  frontend/js/components/Ui/Form/SubSection/SubSectionDescription.js
  frontend/js/components/Ui/Form/SubSection/SubSectionTitle.js
  frontend/js/components/Ui/Form/SubSection/SubSectionTitle.style.js
  frontend/js/components/Ui/Project/ProjectHeader.Frise.js
  frontend/js/utils/colors/formatColor.js
  frontend/js/utils/colors/hexToRgb.js
  src/Capco/AppBundle/Behat/Page/QuestionnairePage.php
  src/Capco/AppBundle/Behat/Traits/QuestionnaireStepsTrait.php
Due: jest, flow

15185 questionnaire orga (#15226)
  __snapshots__/exports/participants_rapport-devaluation-6-ar6_collecte-step-organisation.csv
  __snapshots__/exports/participants_rapport-devaluation-6-ar6_questionnaire-step-organization.csv
  admin-next/components/QuestionnaireList/ModalCreateQuestionnaire.tsx
  admin-next/components/QuestionnaireList/QuestionnaireItem.test.tsx
  admin-next/components/QuestionnaireList/QuestionnaireItem.tsx
  admin-next/components/QuestionnaireList/QuestionnaireList.test.tsx
  admin-next/components/QuestionnaireList/QuestionnaireList.tsx
  admin-next/components/QuestionnaireList/QuestionnaireListPage.tsx
  admin-next/components/QuestionnaireList/__snapshots__/QuestionnaireItem.test.tsx.snap
  config/packages/security.yaml
  features/front/features/project.feature
  features/graphql-api/internal/Organization/Organization_questionnaires.js
  features/graphql-api/internal/Organization/__snapshots__/Organization_questionnaires.js.snap
  features/graphql-api/internal/QuestionnaireOwner/QuestionnaireOwner_questionnaires.js
  features/graphql-api/internal/QuestionnaireOwner/__snapshots__/QuestionnaireOwner_questionnaires.js.snap
  features/graphql-api/internal/mutation/createQuestionnaire.js
  fixtures/Dev/ProjectAbstractStep.yaml
  fixtures/Dev/Questionnaire.yaml
  fixtures/Dev/QuestionnaireNotificationConfiguration.yaml
  fixtures/Dev/QuestionnaireStep.yaml
  frontend/js/components/Admin/Project/Step/ProjectAdminQuestionnaireStepForm.js
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AdminBundle/Controller/QuestionnaireController.php
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/EventListener/QuestionnaireSubscriber.php
  src/Capco/AppBundle/GraphQL/Mutation/CreateQuestionnaireMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Questionnaire/OwnerQuestionnaireResolver.php
  src/Capco/AppBundle/Repository/QuestionnaireRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/objects/InternalOrganization.types.yaml
Due: graphql, php, jest, flow

15181 update france connect (#15221)
  frontend/js/components/Ui/Icons/svg/france-connect.svg
  frontend/js/components/Ui/Icons/svg/franceconnect-bouton-hover.svg
  frontend/js/components/User/Login/LoginSocialButtons.js
  frontend/js/components/User/Login/__snapshots__/LoginSocialButtons-test.js.snap
Due: jest, flow

[FIXSONATACOMMENTTITLE] Comment::__toString using getBodyTextExcerpt (#15244)
  src/Capco/AppBundle/Entity/Comment.php
Due: php

Update Capco Logo (#15247)
  admin-next/components/UI/LogoCapco/LogoCapco.tsx
  admin-next/public/favicon.ico
  fixtures/files/logo.png
  fixtures/files/social/capco.png
  frontend/js/components/Admin/Sidebar/Sidebar.utils.js
  frontend/js/components/Admin/Sidebar/__snapshots__/Sidebar-test.js.snap
  public/android-icon-144x144.png
  public/android-icon-192x192.png
  public/android-icon-36x36.png
  public/android-icon-48x48.png
  public/android-icon-72x72.png
  public/android-icon-96x96.png
  public/apple-icon-114x114.png
  public/apple-icon-120x120.png
  public/apple-icon-144x144.png
  public/apple-icon-152x152.png
  public/apple-icon-180x180.png
  public/apple-icon-57x57.png
  public/apple-icon-60x60.png
  public/apple-icon-72x72.png
  public/apple-icon-76x76.png
  public/apple-icon-precomposed.png
  public/apple-icon.png
  public/apple-touch-icon-114x114.png
  public/apple-touch-icon-precomposed.png
  public/apple-touch-icon.png
  public/capco-logo-mail.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon-64x64.png
  public/favicon-96x96.png
  public/favicon.ico
  public/ms-icon-144x144.png
  public/ms-icon-150x150.png
  public/ms-icon-310x310.png
  public/ms-icon-70x70.png
Due: jest, flow

Condition requise date - fix du style (#15259)
  frontend/js/components/Form/DateDropdownPicker.js
  frontend/js/components/Form/__snapshots__/DateDropDownPicker-test.js.snap
  frontend/js/components/Requirements/RequirementsFormLegacy.js
  frontend/js/components/Requirements/__snapshots__/RequirementsFormLegacy-test.js.snap
Due: jest, flow

Updates old routes on profile (#15258)
  features/front/user/notifications.feature
  spec/Capco/AppBundle/GraphQL/Resolver/User/UserShowNotificationsPreferencesUrlResolverSpec.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserShowNotificationsPreferencesUrlResolver.php
  src/Capco/UserBundle/Controller/ProfileController.php
  src/Capco/UserBundle/Resources/views/Profile/edit_notifications.twig
Due: graphql, php

Give more RAM to NodeJS
  package.json
Due: none

fix trad key (#15255)
  frontend/js/components/Proposal/Map/ProposalLeafletMap.js
  frontend/js/components/Proposal/Map/__snapshots__/ProposalLeafletMap-test.js.snap
Due: jest, flow

[FIXUSERINVITATION] fix email trad key (#15263)
  src/Capco/AppBundle/GraphQL/Mutation/Organization/InviteOrganizationMemberMutation.php
Due: graphql, php

Fix style on main collect step buttons (#15248)
  frontend/js/components/Page/ProposalStepPageHeader.js
  frontend/js/components/Page/__snapshots__/ProposalStepPageHeader-test.js.snap
  frontend/js/components/Proposal/Map/ProposalLeafletMap.js
  frontend/js/components/Proposal/Map/__snapshots__/ProposalLeafletMap-test.js.snap
Due: jest, flow

[SONATABASEEDIT] use custom sonata base_edit (#15257)
  src/Capco/AdminBundle/Resources/views/AlphaProject/create.html.twig
  src/Capco/AdminBundle/Resources/views/AlphaProject/createProposal.html.twig
  src/Capco/AdminBundle/Resources/views/Argument/edit.html.twig
  src/Capco/AdminBundle/Resources/views/CRUD/base_edit.html.twig
  src/Capco/AdminBundle/Resources/views/CRUD/edit.html.twig
  src/Capco/AdminBundle/Resources/views/Event/create.html.twig
  src/Capco/AdminBundle/Resources/views/HighlightedContent/edit.html.twig
  src/Capco/AdminBundle/Resources/views/Opinion/edit.html.twig
  src/Capco/AdminBundle/Resources/views/Proposal/create.html.twig
  src/Capco/AdminBundle/Resources/views/Proposal/edit.html.twig
  src/Capco/AdminBundle/Resources/views/ProposalForm/edit.html.twig
  src/Capco/AdminBundle/Resources/views/Question/edit.html.twig
  src/Capco/AdminBundle/Resources/views/Section/edit_projects.html.twig
  src/Capco/AdminBundle/Resources/views/Section/edit_projects_map.html.twig
  src/Capco/AdminBundle/Resources/views/Step/edit.html.twig
  src/Capco/AdminBundle/Resources/views/User/edit.html.twig
  src/Capco/AdminBundle/Resources/views/common/edit.html.twig
Due: php

remove and replace deprecated route admin_capco_media_media_* (#15232)
  config/packages/ivory_ck_editor.yaml
  config/routes/routing.yaml
  src/Capco/AdminBundle/Controller/MediaAdminController.php
  src/Capco/AppBundle/Controller/Api/MediasController.php
  src/Capco/MediaBundle/Resources/views/MediaAdmin/list.html.twig
  src/Capco/MediaBundle/Resources/views/MediaAdmin/upload.html.twig
Due: php

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
