Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

8935-FIX refacto
  src/Capco/AppBundle/Mailer/Message/Project/QuestionnaireAcknowledgeReplyMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAdminMessage.php
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
Due: php, backend

8935-FIX refacto
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
  src/Capco/AppBundle/Traits/FormatDateTrait.php
  src/Capco/AppBundle/Traits/TimestampableTrait.php
Due: php, backend

Merge pull request #9017 from cap-collectif/test-less-random
  __snapshots__/emails/notifyQuestionnaireReply_create.html
  __snapshots__/emails/notifyQuestionnaireReply_delete.html
  __snapshots__/emails/notifyQuestionnaireReply_publishedDraft.html
  __snapshots__/emails/notifyQuestionnaireReply_update.html
  __snapshots__/emails/notifyUserQuestionnaireReply_create.html
  __snapshots__/emails/notifyUserQuestionnaireReply_update.html
  features/commands/consumers/user_archive.feature
  features/front/bp/proposal_crud.feature
  features/front/pages/shield.feature
  features/front/user/login.feature
  src/Capco/AppBundle/Mailer/Message/Project/QuestionnaireAcknowledgeReplyMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/acknowledgeReply.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyQuestionnaireReply.html.twig
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
  src/Capco/AppBundle/Traits/FormatDateTrait.php
  src/Capco/AppBundle/Traits/TimestampableTrait.php
Due: php, backend

8808-TYPO fix typo
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
Due: php, backend

[8948-REMOVE] deleting opinion vote count
  schema.internal.graphql
  src/Capco/AppBundle/Command/RecalculateUsersCountersCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
  src/Capco/AppBundle/GraphQL/Resolver/User/UserOpinionVoteCountResolver.php
  src/Capco/AppBundle/Repository/OpinionVoteRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
  src/Capco/UserBundle/Entity/User.php
Due: graphql, php, backend

[8948-REMOVE] added migration
  app/DoctrineMigrations/Version20191009125712.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
Due: php, backend

[8948-REMOVE] Using published opinion votes only
  src/Capco/AppBundle/Repository/OpinionVoteRepository.php
Due: php, backend

[8948-REMOVE] remove useless line
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
Due: php, backend

[8852-FIX] - Fixed a $FlowFixMe
  app/Resources/js/components/Page/ShieldPage.js
  app/Resources/js/components/User/Registration/RegistrationModal.js
Due: jest, flow, frontend

- Added symfony_bin_install command
  infrastructure/deploylib/system.py
Due: none

- Added support for symfony_bin mode in system when setup DNS - Added symfony serve and proxy commands for infrastructure
  infrastructure/deploylib/infrastructure.py
  infrastructure/deploylib/system.py
Due: none

- Fixed python generate_ssl command (may redo this one later) - Added capco_services certificates and key to allow services like Kibana, Mailcatcher to have their own domain name and works in https
  infrastructure/deploylib/infrastructure.py
  infrastructure/deploylib/system.py
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/nginx/nginx.conf
  infrastructure/services/local/nginx/ssl/capco_services.crt
Due: none

- Modified `sign_ssl` task and made it work across Mac & Linux
  infrastructure/deploylib/system.py
Due: none

- Added `setup_env_vars` task
  infrastructure/deploylib/app.py
Due: none

- Added commands to install php-redis, imagemagick and imagick extension
  infrastructure/deploylib/infrastructure.py
  infrastructure/deploylib/system.py
Due: none

- Added command to self-sign certificate in local
  .gitignore
  infrastructure/deploylib/system.py
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/nginx/ssl/capco_services.crt
Due: none

- Revert commit 14f905db99c2168e2748c84e558ed5eb88f63f57
  .gitignore
  infrastructure/deploylib/system.py
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/nginx/ssl/capco_services.crt
Due: none

- Re added services in system.py
  infrastructure/deploylib/system.py
Due: none

- Fixed pecl install redis
  infrastructure/deploylib/system.py
Due: none

- Added support for .env file in console too
  bin/console
  config/bootstrap.php
  web/app_dev.php
Due: none

- Added root php.ini to be used with symfony PHP CLI
  php.ini
Due: none

- Added assets.cap.co subdomain for files uploading to make work Imagiine
  app/config/config.yml
  infrastructure/deploylib/app.py
  infrastructure/deploylib/system.py
  infrastructure/services/local/nginx/nginx.conf
  src/Capco/AppBundle/GraphQL/Resolver/Media/MediaUrlResolver.php
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
  src/Capco/AppBundle/Twig/MediaExtension.php
Due: graphql, php, backend

- Fixed nginx.conf
  infrastructure/services/local/nginx/nginx.conf
Due: none

- Fixed more wrong urls
  app/config/config.yml
  src/Capco/AppBundle/Resources/config/services/twig.yml
  src/Capco/AppBundle/Twig/MediaExtension.php
  src/Capco/AppBundle/Twig/SiteImageExtension.php
Due: php, backend

- Moved `bootstrap.php` ton `app/config`
  app/config/bootstrap.php
  bin/console
  src/Capco/AppBundle/Twig/MediaExtension.php
  web/app_dev.php
Due: php, backend

- Testing for CI
  app/config/bootstrap.php
  infrastructure/deploylib/system.py
Due: none

- Added capco_services to .gitignore
  .gitignore
  app/config/bootstrap.php
  infrastructure/deploylib/system.py
  infrastructure/services/local/nginx/ssl/capco_services.crt
Due: none

- Tests for CI and SSL with same certificates
  .gitignore
  infrastructure/deploylib/system.py
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/nginx/nginx.conf
  infrastructure/services/local/nginx/ssl/capco_services.crt
Due: none

- Should fix tests related to API files upload
  infrastructure/deploylib/app.py
  infrastructure/deploylib/system.py
  src/Capco/AppBundle/Controller/Api/MediasController.php
  src/Capco/AppBundle/Controller/Site/DownloadController.php
Due: php, backend

- Removed `brew update` when installing symfony binary
  infrastructure/deploylib/system.py
Due: none

8830-FIX fix url referer for proposal view
  src/Capco/AppBundle/Controller/Site/ProposalController.php
Due: php, backend

Fix failing test
  .env
  .gitignore
  .php_version
  __snapshots__/rgpd_user_archives/userAdmin/connections.csv
  app/config/bootstrap.php
  app/config/config.yml
  bin/console
  infrastructure/deploylib/app.py
  infrastructure/deploylib/infrastructure.py
  infrastructure/deploylib/system.py
  infrastructure/environments/base.yml
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/nginx/nginx.conf
  php.ini
  src/Capco/AppBundle/Controller/Api/MediasController.php
  src/Capco/AppBundle/Controller/Site/DownloadController.php
  src/Capco/AppBundle/Controller/Site/ProposalController.php
  src/Capco/AppBundle/GraphQL/Resolver/Media/MediaUrlResolver.php
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
  src/Capco/AppBundle/Resources/config/services/twig.yml
  src/Capco/AppBundle/Twig/MediaExtension.php
  src/Capco/AppBundle/Twig/SiteImageExtension.php
  web/app_dev.php
Due: graphql, php, backend

[42-WELCOME] Add local.system.install_git_hook fabric command.
  .env
  .gitignore
  .php_version
  __snapshots__/rgpd_user_archives/userAdmin/connections.csv
  app/config/bootstrap.php
  app/config/config.yml
  bin/console
  infrastructure/deploylib/app.py
  infrastructure/deploylib/infrastructure.py
  infrastructure/deploylib/system.py
  infrastructure/environments/base.yml
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/nginx/nginx.conf
  php.ini
  src/Capco/AppBundle/Controller/Api/MediasController.php
  src/Capco/AppBundle/Controller/Site/DownloadController.php
  src/Capco/AppBundle/GraphQL/Resolver/Media/MediaUrlResolver.php
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
  src/Capco/AppBundle/Resources/config/services/twig.yml
  src/Capco/AppBundle/Twig/MediaExtension.php
  src/Capco/AppBundle/Twig/SiteImageExtension.php
  web/app_dev.php
Due: graphql, php, backend

Merge pull request #9018 from cap-collectif/8808-typo
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/SiteParameter.yml
Due: php, backend

Merge pull request #9014 from cap-collectif/8852-fix-login-modal
  app/Resources/js/components/Navbar/Navbar.js
  app/Resources/js/components/Navbar/__snapshots__/Navbar-test.js.snap
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Page/ShieldPage.js
  app/Resources/js/components/Page/__snapshots__/ProposalStepPage-test.js.snap
  app/Resources/js/components/Page/__snapshots__/ShieldPage-test.js.snap
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/components/User/Login/__snapshots__/LoginButton-test.js.snap
  app/Resources/js/components/User/Registration/RegistrationButton.js
  app/Resources/js/components/User/Registration/RegistrationModal.js
Due: jest, flow, frontend

Fix failing test (#9028)
  __snapshots__/rgpd_user_archives/userAdmin/connections.csv
Due: none

Merge pull request #9015 from cap-collectif/8917-fix-proposal-date-update
  features/graphql/mutation/updateProposal.feature
  spec/Capco/AppBundle/GraphQL/Mutation/ProposalMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
Due: graphql, php, backend

8935-FIX if no published date, set now (#8998)
  __snapshots__/emails/notifyQuestionnaireReply_create.html
  __snapshots__/emails/notifyQuestionnaireReply_delete.html
  __snapshots__/emails/notifyQuestionnaireReply_publishedDraft.html
  __snapshots__/emails/notifyQuestionnaireReply_update.html
  __snapshots__/emails/notifyUserQuestionnaireReply_create.html
  __snapshots__/emails/notifyUserQuestionnaireReply_update.html
  src/Capco/AppBundle/Mailer/Message/Project/QuestionnaireAcknowledgeReplyMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/acknowledgeReply.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyQuestionnaireReply.html.twig
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
  src/Capco/AppBundle/Traits/FormatDateTrait.php
  src/Capco/AppBundle/Traits/TimestampableTrait.php
Due: php, backend
