Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

:construction: WIP - try to fix tests
  features/front/arguments.feature
  infrastructure/deploylib/qa.py
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Page/OpinionPage.php
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: backend

fix last test
  features/front/proposals.feature
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/SharingStepsTrait.php
Due: backend

fix tests behat
  features/front/blog.feature
  features/front/proposal_votes.feature
  features/front/rgpd.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: backend

yarn relay after rebase
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/EventType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/PostType.php
  src/Capco/AppBundle/GraphQL/__generated__/PrivatableVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/YesNoPairedVoteType.php
Due: backend

increase bundlesize
  package.json
Due: none

fix tests
  composer.lock
  features/front/arguments.feature
  features/front/blog.feature
  features/front/opinions.feature
  features/front/questionnaire.feature
  schema.graphql
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentType.php
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionType.php
Due: backend

Merge pull request #6093 from cap-collectif/configure-graphql-linting
  .eslintrc.js
  app/Resources/js/components/Proposal/Form/ProposalForm-test.js
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Proposal/Form/__snapshots__/ProposalForm-test.js.snap
  graphql-schema-linter.config.js
  infrastructure/environments/base.yml
  package.json
  schema.graphql
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ContributionOrderFieldType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProjectVisibilityType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReportingTypeType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SubscriptionTypeValueType.php
  src/Capco/AppBundle/GraphQL/__generated__/TrashableStatusType.php
  src/Capco/AppBundle/GraphQL/__generated__/UserType.php
  src/Capco/AppBundle/Resources/config/graphql/CollectStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ContributionOrderField.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ProjectVisibility.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ProposalStep.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ReportingType.types.yml
  src/Capco/AppBundle/Resources/config/graphql/SubscriptionTypeValue.yml
  src/Capco/AppBundle/Resources/config/graphql/TrashableStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/User.types.yml
  yarn.lock
Due: php, jest, flow, backend, frontend

Merge pull request #6120 from cap-collectif/6063-bug-radio-button
  app/Resources/js/components/Proposal/Form/ProposalForm-test.js
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Proposal/Form/__snapshots__/ProposalForm-test.js.snap
Due: jest, flow, frontend

:bug: display radio button on propsals admin form
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm-test.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
Due: jest, flow, frontend

Merge pull request #6121 from cap-collectif/6062-bug-display-radio-response
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm-test.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
Due: jest, flow, frontend

Merge pull request #6123 from cap-collectif/radio-button-bug-return
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm-test.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
Due: jest, flow, frontend

Merge pull request #6118 from cap-collectif/6060-contrbution-export
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Entity/Responses/AbstractResponse.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalEvaluationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalStatusResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Response/ResponseValueResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalEvaluationType.php
  src/Capco/AppBundle/Resources/config/graphql/ProposalEvaluation.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: graphql, php, backend

fix fixtures
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionChoice.yml
Due: php, backend

add migration
  schema.graphql
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentType.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/EventType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/PostType.php
  src/Capco/AppBundle/GraphQL/__generated__/PrivatableVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/YesNoPairedVoteType.php
Due: backend

add migration
  app/DoctrineMigrations/Version20181008134700.php
Due: none

[FIX-XMLSECLIBS] Fix composer.lock bug.
  app/DoctrineMigrations/Version20181008134700.php
  composer.lock
  schema.graphql
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionChoice.yml
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentType.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/EventType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/PostType.php
  src/Capco/AppBundle/GraphQL/__generated__/PrivatableVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/YesNoPairedVoteType.php
Due: php, backend

Merge pull request #6000 from cap-collectif/fix-questionChoice-colors
  app/DoctrineMigrations/Version20181008134700.php
  composer.lock
  schema.graphql
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionChoice.yml
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentType.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/EventType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/PostType.php
  src/Capco/AppBundle/GraphQL/__generated__/PrivatableVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/YesNoPairedVoteType.php
Due: php, backend

Merge pull request #6128 from cap-collectif/fix-xmlseclibs-package
  composer.lock
Due: none

[RMV] useless style
  app/Resources/js/components/Project/Votes/ProposalsUserVotesPage.js
  app/Resources/js/components/Proposal/Page/ProposalPage.js
  app/Resources/scss/base/_front.scss
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
Due: php, jest, flow, backend, frontend

[RMV] useless line
  app/Resources/scss/modules/_step-tabs.scss
Due: none

[RMV] useless line
  src/Capco/AppBundle/Resources/views/Event/show.html.twig
Due: php, backend

[CHG] display none to hidden class
  src/Capco/AppBundle/Resources/views/Theme/index.html.twig
Due: php, backend

[5673-DRAFT] Update type graphql.
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  schema.graphql
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentType.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/EventType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/PostType.php
  src/Capco/AppBundle/GraphQL/__generated__/PrivatableVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReportingType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/YesNoPairedVoteType.php
Due: jest, flow, backend, frontend

[5673-DRAFT] Add UpdateReply Mutation.
  features/graphql/mutations/UpdateReply.feature
  schema.graphql
  src/Capco/AppBundle/GraphQL/Mutation/UpdateReplyMutation.php
  src/Capco/AppBundle/GraphQL/__generated__/MutationType.php
  src/Capco/AppBundle/GraphQL/__generated__/UpdateReplyInputType.php
  src/Capco/AppBundle/GraphQL/__generated__/UpdateReplyPayloadType.php
  src/Capco/AppBundle/Resources/config/graphql/Mutation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/UpdateReplyInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/UpdateReplyPayload.types.yml
Due: graphql, php, backend

[5673-DRAFT] Add update reply.
  app/Resources/js/components/Reply/Delete/DeleteReplyModal.js
  app/Resources/js/components/Reply/Edit/ReplyEditModal.js
  app/Resources/js/components/Reply/Edit/ReplyModalButtons.js
  app/Resources/js/components/Reply/Edit/ReplyModalLink.js
  app/Resources/js/components/Reply/Edit/ResponseValue.js
  app/Resources/js/components/Reply/Edit/UpdateReplyModal.js
  app/Resources/js/components/Reply/Form/ReplyForm-test.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/components/Reply/UserReplies.js
  app/Resources/js/mutations/UpdateReplyMutation.js
Due: jest, flow, frontend

[5673-DRAFT] Add modal for update reply.
  app/Resources/js/components/Reply/Edit/ReplyModalLink.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/components/Reply/UserReplies.js
  app/Resources/js/mutations/UpdateReplyMutation.js
Due: jest, flow, frontend

[5673-DRAFT] WIP
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminNotationForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminNotationForm-test.js.snap
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Proposal/Form/__snapshots__/ProposalForm-test.js.snap
  app/Resources/js/components/Reply/Edit/ReplyModalLink.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/components/Reply/Form/__snapshots__/ReplyForm-test.js.snap
  app/Resources/js/utils/responsesHelper.js
  features/front/questionnaire.feature
  src/Capco/AppBundle/Behat/Page/QuestionnairePage.php
  src/Capco/AppBundle/Behat/Traits/QuestionnaireStepsTrait.php
Due: jest, flow, backend, frontend

[5673-DRAFT] Add new behat test to update a reply.
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/components/Reply/Form/__snapshots__/ReplyForm-test.js.snap
  features/front/questionnaire.feature
  src/Capco/AppBundle/Behat/Page/QuestionnairePage.php
  src/Capco/AppBundle/Behat/Traits/QuestionnaireStepsTrait.php
Due: jest, flow, backend, frontend

[5673-DRAFT] Fix behat tests.
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminNotationForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  app/Resources/js/utils/responsesHelper.js
  features/back/proposal.feature
  src/Capco/AppBundle/Behat/Page/AdminProposalPage.php
  src/Capco/AppBundle/Behat/Traits/AdminProposalTrait.php
Due: jest, flow, backend, frontend

[5673-DRAFT] Return of Max & vivi.
  app/Resources/js/components/Reply/Edit/ReplyModalLink.js
  src/Capco/AppBundle/GraphQL/Mutation/UpdateReplyMutation.php
  src/Capco/AppBundle/Resources/config/graphql/UpdateReplyPayload.types.yml
Due: graphql, php, jest, flow, backend, frontend

[5673-DRAFT] yarn relay
  schema.graphql
  src/Capco/AppBundle/GraphQL/__generated__/UpdateReplyPayloadType.php
Due: backend

[5673-DRAFT] Fix bug when multi answer is enabled.
  app/Resources/js/components/Reply/Form/ReplyForm.js
Due: jest, flow, frontend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
