Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70
      php:
        flags: php
      graphql:
        flags: graphql
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/**/*'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

[CHG] a to button
  app/Resources/js/components/Project/Page/UserGroupModal.js
  app/Resources/js/components/Project/Page/__snapshots__/UserGroupModal-test.js.snap
  app/Resources/scss/base/_bootstrap4.scss
Due: jest, flow, frontend

WIP
  app/Resources/js/components/Group/Admin/GroupAdminImportUsersForm.js
  app/Resources/js/components/Group/Admin/GroupAdminModalImportUsers.js
  app/Resources/js/components/Group/Admin/GroupAdminUsers.js
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminUsers-test.js.snap
  app/Resources/js/mutations/AddUsersToGroupFromEmailMutation.js
Due: jest, flow, frontend

remove duplicate email in API
  features/graphql/mutations/addUsersToGroupFromEmail.feature
  src/Capco/AppBundle/GraphQL/Mutation/AddUsersToGroupFromEmailMutation.php
Due: graphql, php, backend

add tests + onetime analyzed logic
  app/Resources/js/components/Group/Admin/GroupAdminImportUsersForm-test.js
  app/Resources/js/components/Group/Admin/GroupAdminImportUsersForm.js
  app/Resources/js/components/Group/Admin/GroupAdminModalImportUsers-test.js
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminImportUsersForm-test.js.snap
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminModalImportUsers-test.js.snap
Due: jest, flow, frontend

working
  app/Resources/js/components/Form/FileUpload.js
  app/Resources/js/components/Form/__snapshots__/ImageUpload-test.js.snap
  app/Resources/js/components/Group/Admin/GroupAdminImportUsersForm.js
  app/Resources/js/components/Group/Admin/GroupAdminPageTabs.js
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminImportUsersForm-test.js.snap
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminPageTabs-test.js.snap
  package.json
  yarn.lock
Due: jest, flow, frontend

polish
  app/Resources/js/components/Group/Admin/GroupAdminImportUsersForm.js
Due: jest, flow, frontend

fix @spyl94 review
  app/Resources/js/components/Form/FileUpload.js
  app/Resources/js/components/Group/Admin/GroupAdminImportUsersForm-test.js
  app/Resources/js/components/Group/Admin/GroupAdminImportUsersForm.js
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminImportUsersForm-test.js.snap
  flow-typed/npm/react-dropzone_vx.x.x.js
Due: jest, flow, frontend

fix
  app/Resources/js/components/Group/Admin/GroupAdminImportUsersForm.js
Due: jest, flow, frontend

test
  app/Resources/js/components/Group/Admin/GroupAdminImportUsersForm.js
Due: jest, flow, frontend

fix style
  app/Resources/js/components/Group/Admin/GroupAdminImportUsersForm.js
Due: jest, flow, frontend

retours UI
  app/Resources/js/components/Group/Admin/GroupAdminImportUsersForm.js
Due: jest, flow, frontend

replace crlf by lf in file
  app/Resources/js/components/Group/Admin/GroupAdminImportUsersForm.js
Due: jest, flow, frontend

retour @spyl94
  app/Resources/js/components/Group/Admin/GroupAdminImportUsersForm.js
  app/Resources/js/components/Group/Admin/GroupAdminUsers.js
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminUsers-test.js.snap
Due: jest, flow, frontend

review @mauriau
  app/Resources/js/components/Group/Admin/GroupAdminModalImportUsers.js
Due: jest, flow, frontend

arrow function madness"
  app/Resources/js/components/Group/Admin/CsvDropZoneInput.js
  app/Resources/js/components/Group/Admin/GroupAdminImportUsersForm.js
  app/Resources/js/components/Group/Admin/GroupAdminUsers.js
Due: jest, flow, frontend

reload page after submit
  app/Resources/js/components/Group/Admin/GroupAdminModalImportUsers.js
Due: jest, flow, frontend

Fix rebase + update trad
  app/Resources/js/components/Form/__snapshots__/ImageUpload-test.js.snap
  app/Resources/js/components/Group/Admin/GroupAdminModalAddUsers.js
  app/Resources/js/components/Group/Admin/GroupAdminModalImportUsers.js
  app/Resources/js/components/Group/Admin/GroupAdminUsers.js
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminModalAddUsers-test.js.snap
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminModalImportUsers-test.js.snap
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminUsers-test.js.snap
Due: jest, flow, frontend

[ADD] event type
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikers.js
  app/Resources/js/components/Proposal/Detail/ProposalDetailLikersModal.js
Due: jest, flow, frontend

add QuestionTypeValue for question.type
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestion.js
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestions.js
  src/Capco/AppBundle/Entity/Questions/MultipleChoiceQuestion.php
Due: php, jest, flow, backend, frontend

:relieved: finish review
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestions.js
  app/Resources/js/components/Question/QuestionAdmin-test.js
  app/Resources/js/components/Question/QuestionAdmin.js
  app/Resources/js/components/Question/SectionQuestionAdminModal.js
  app/Resources/js/components/Question/__snapshots__/QuestionAdmin-test.js.snap
Due: jest, flow, frontend

Merge pull request #5931 from cap-collectif/4607-import-user-group-front
  app/Resources/js/components/Form/FileUpload.js
  app/Resources/js/components/Form/__snapshots__/ImageUpload-test.js.snap
  app/Resources/js/components/Group/Admin/CsvDropZoneInput.js
  app/Resources/js/components/Group/Admin/GroupAdminImportUsersForm-test.js
  app/Resources/js/components/Group/Admin/GroupAdminImportUsersForm.js
  app/Resources/js/components/Group/Admin/GroupAdminModalAddUsers.js
  app/Resources/js/components/Group/Admin/GroupAdminModalImportUsers-test.js
  app/Resources/js/components/Group/Admin/GroupAdminModalImportUsers.js
  app/Resources/js/components/Group/Admin/GroupAdminPageTabs.js
  app/Resources/js/components/Group/Admin/GroupAdminUsers.js
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminImportUsersForm-test.js.snap
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminModalImportUsers-test.js.snap
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminPageTabs-test.js.snap
  app/Resources/js/components/Group/Admin/__snapshots__/GroupAdminUsers-test.js.snap
  app/Resources/js/mutations/AddUsersToGroupFromEmailMutation.js
  features/graphql/mutations/addUsersToGroupFromEmail.feature
  flow-typed/npm/react-dropzone_vx.x.x.js
  package.json
  src/Capco/AppBundle/GraphQL/Mutation/AddUsersToGroupFromEmailMutation.php
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

wip
  app/Resources/js-server/registration.js
  app/Resources/js/registration.js
  app/Resources/js/startup/ArgumentListApp.js
  schema.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Argument/ArgumentByUserResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/UserType.php
  src/Capco/AppBundle/Repository/ArgumentRepository.php
  src/Capco/AppBundle/Resources/config/graphql/User.types.yml
  src/Capco/UserBundle/Resources/views/Profile/show.html.twig
Due: graphql, php, jest, flow, backend, frontend

:construction: WIP
  app/Resources/js/components/Argument/ArgumentListProfile.js
  app/Resources/js/startup/ArgumentListApp.js
  src/Capco/UserBundle/Resources/views/Profile/show.html.twig
Due: php, jest, flow, backend, frontend

starting to display arguments...
  app/Resources/js/components/Argument/ArgumentListProfile.js
  app/Resources/js/startup/ArgumentListApp.js
Due: jest, flow, frontend

Adding Load More
  app/Resources/js/components/Argument/ArgumentListProfile.js
  app/Resources/js/startup/ArgumentListApp.js
Due: jest, flow, frontend

WIP
  app/Resources/js/components/Argument/ArgumentListProfile.js
  app/Resources/js/startup/ArgumentListApp.js
Due: jest, flow, frontend

fix label css
  app/Resources/js/components/Argument/ArgumentItem.js
  src/Capco/UserBundle/Resources/views/Profile/showUserArguments.html.twig
Due: php, jest, flow, backend, frontend

WIP vote list
  app/Resources/js-server/registration.js
  app/Resources/js/components/Vote/VoteItem.js
  app/Resources/js/components/Vote/VoteListProfile.js
  app/Resources/js/registration.js
  app/Resources/js/startup/VoteListApp.js
  src/Capco/AppBundle/GraphQL/Resolver/User/UserVotesResolver.php
  src/Capco/AppBundle/Repository/AbstractVoteRepository.php
  src/Capco/UserBundle/Resources/views/Profile/show.html.twig
Due: graphql, php, jest, flow, backend, frontend
