Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

Add feature flags GraphQL API (#10889)
  features/graphql-api/internal/query/Query_featureFlags.js
  features/graphql-api/internal/query/__snapshots__/Query_featureFlags.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryFeatureFlagsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalFeatureFlag.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
Due: graphql, php, backend

[10754-FIX] Fix ES query viewer assigned proposals todo (#10893)
  __snapshots__/exports/project-budget-participatif-idf-analysis.csv
  __snapshots__/exports/project-budget-participatif-idf-decision.csv
  features/graphql-api/internal/query/Query_viewerAssignedProjectsToAnalyse.js
  features/graphql-api/internal/query/__snapshots__/Query_viewerAssignedProjectsToAnalyse.js.snap
  fixtures/Dev/ProposalAnalysis.yaml
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: php, backend

Remove not used _links from theme normalizer (#10911)
  src/Capco/AppBundle/Normalizer/ThemeNormalizer.php
Due: php, backend

[10869-FIX] check iterable in function, not in template (#10920)
  src/Capco/AppBundle/Twig/MediaExtension.php
  src/Capco/UserBundle/Resources/views/Avatar/avatar.html.twig
Due: php, backend

[10914-DISPLAY] Fix display when error (#10916)
  frontend/js/components/Analysis/AnalysisIndexPage/AnalysisIndexPage.js
Due: none

[10921-RELEASE] Release : admin can allow users to propose events (#10922)
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
Due: php, backend

[6554-PERF] Improve Twig rendering performances on HomePage (#10909)
  config/packages/repositories.yaml
  src/Capco/AppBundle/Controller/Site/HomepageController.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
  src/Capco/AppBundle/Twig/HomepageSectionExtension.php
  src/Capco/AppBundle/Twig/HomepageSectionRuntime.php
Due: php, backend

10767 rethrow error (#10924)
  src/Capco/AppBundle/GraphQL/DataLoader/Proposal/ProposalStatusDataLoader.php
Due: graphql, php, backend

[10925-FIX] fix export button (#10930)
  frontend/js/components/Admin/Project/ProjectAdminProposals.js
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminProposals-test.js.snap
Due: none

[SIMPLIFY-NGINX] Simplify Nginx & recording proxy (#10926)
  infrastructure/services/local/nginx/nginx.conf
  infrastructure/services/remote/nginx/nginx.conf
Due: none

[FIX-USER] Fix user account deletion (#10932)
  src/Capco/AppBundle/GraphQL/Mutation/BaseDeleteUserMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteAccountByEmailMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteAccountMutation.php
Due: graphql, php, backend

Tests de non regression du Panel d'Analyse (#10929)
  features/front/features/project.feature
  features/graphql-api/internal/mutation/__snapshots__/changeProposalAnalysis.js.snap
  features/graphql-api/internal/mutation/changeProposalAnalysis.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisFormPanel.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisPanel.js
  frontend/js/components/Proposal/Analysis/ProposalAssessmentFormPanel.js
  frontend/js/components/Proposal/Analysis/ProposalFormSwitcher.js
  frontend/js/components/Proposal/Analysis/__snapshots__/ProposalAnalysisFormPanel-test.js.snap
  frontend/js/components/Proposal/Analysis/__snapshots__/ProposalAnalysisPanel-test.js.snap
  jest-setup.e2e.js
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/Entity/ProposalAssessment.php
  src/Capco/AppBundle/GraphQL/Mutation/AnalyseProposalAnalysisMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeProposalAnalysisMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeProposalAssessmentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/EvaluateProposalAssessmentMutation.php
Due: graphql, php, backend

[7580-DEFAULT] addStepToProposal apply default status (#10458)
  features/graphql/mutation/addProposalsToSteps.feature
  fixtures/Dev/SelectionStep.yaml
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminSelectionStepForm.js
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AdminBundle/Admin/StepAdmin.php
  src/Capco/AppBundle/Entity/Status.php
  src/Capco/AppBundle/Entity/Steps/SelectionStep.php
  src/Capco/AppBundle/Form/Step/SelectionStepFormType.php
  src/Capco/AppBundle/GraphQL/Mutation/Proposal/AbstractProposalStepMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Proposal/AddProposalsToStepsMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/ProjectStepInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/SelectionStep.types.yaml
  src/DoctrineMigrations/Version20200409190203.php
Due: graphql, php, backend

[HOTFIX-SEGFAULT] Try fix for segfault. (#10938)
  infrastructure/services/remote/php-fpm/run
  src/Capco/AppBundle/GraphQL/Resolver/User/UserProposalsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
Due: graphql, php, backend

9217 translate authentication (#10752)
  features/back/parameter/shield.feature
  features/graphql/mutation/updateShieldAdminForm.feature
  features/graphql/query/shieldAdminForm.feature
  frontend/js/components/Admin/Authentification/AuthentificationAdminPage.js
  frontend/js/components/Admin/Authentification/AuthentificationAdminPageContent.js
  frontend/js/components/Admin/Authentification/ShieldAdminForm-test.js
  frontend/js/components/Admin/Authentification/ShieldAdminForm.js
  frontend/js/components/Admin/Authentification/__snapshots__/AuthentificationAdminPage-test.js.snap
  frontend/js/components/Admin/Authentification/__snapshots__/AuthentificationAdminPageContent-test.js.snap
  frontend/js/components/Admin/Authentification/__snapshots__/ShieldAdminForm-test.js.snap
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/UpdateShieldAdminFormMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateShieldAdminFormMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/ShieldAdminFormQueryResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/UpdateShieldAdminFormTranslationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalUpdateShieldAdminFormInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalShieldAdminForm.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalShieldAdminFormTranslation.types.yaml
Due: graphql, php, backend

[10945-RELEASE] Admin can delete user (#10948)
  frontend/js/components/User/Admin/UserAdminAccount-test.js
  frontend/js/components/User/Admin/UserAdminAccount.js
  frontend/js/components/User/Admin/UserAdminPage.js
  frontend/js/components/User/Admin/UserAdminPageTabs-test.js
  frontend/js/components/User/Admin/UserAdminPageTabs.js
  frontend/js/components/User/Admin/UserAdminPersonalData-test.js
  frontend/js/components/User/Admin/UserAdminPersonalData.js
  frontend/js/components/User/Admin/UserAdminProfile-test.js
  frontend/js/components/User/Admin/UserAdminProfile.js
  frontend/js/components/User/Admin/__snapshots__/UserAdminPage-test.js.snap
  frontend/js/components/User/Admin/__snapshots__/UserAdminPageTabs-test.js.snap
  src/Capco/AdminBundle/Resources/views/User/list__action_edit.html.twig
  src/Capco/AppBundle/GraphQL/Mutation/DeleteAccountMutation.php
Due: graphql, php, backend

[10310-FEAT] Multi Collect Step integration (#10906)
  features/graphql-api/public/Project/Project_proposals.js
  features/graphql-api/public/Project/__snapshots__/Project_proposals.js.snap
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/GraphQL/DataLoader/Project/ProjectProposalsDataLoader.php
  src/Capco/AppBundle/Resources/config/serialization/Proposal.yaml
  src/Capco/AppBundle/Resources/views/Project/base.html.twig
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: graphql, php, backend

10790 warning locale (#10959)
  features/graphql-api/public/query/__snapshots__/Query_projects.js.snap
  features/graphql/mutation/createProject.feature
  features/graphql/mutation/updateProject.feature
  fixtures/Benchmark/Locale.yaml
  fixtures/Dev/Locale.yaml
  fixtures/Dev/Project.yaml
  fixtures/Prod/Locale.yaml
  frontend/js/components/Admin/Project/Publish/ProjectPublishAdminForm-test.js
  src/Capco/AppBundle/Command/ReinitCommand.php
  src/Capco/AppBundle/Resolver/LocaleResolver.php
Due: php, backend

[WEBPACK] Separate registration between BO files and front (#10918)
  frontend/js/app.js
  frontend/js/registration.js
  frontend/js/registrationAdmin.js
  package.json
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Resources/views/layout.html.twig
  webpack/webpack.client.js
  yarn.lock
Due: php, backend

[10703-FIX] new migration to enable map view when needed (#10971)
  src/DoctrineMigrations/Version20200724134314.php
Due: php, backend

[10622-FIX] Fix AnalysisType required questions validations (#10966)
  __snapshots__/exports/project-budget-participatif-idf-analysis.csv
  features/front/features/project.feature
  features/graphql-api/internal/mutation/__snapshots__/changeProposalAnalysis.js.snap
  features/graphql-api/internal/mutation/changeProposalAnalysis.js
  fixtures/Dev/QuestionnaireAbstractQuestion.yaml
  fixtures/Dev/SimpleQuestion.yaml
  schema.internal.graphql
  spec/Capco/AppBundle/Validator/Constraints/HasResponsesToRequiredQuestionsValidatorSpec.php
  src/Capco/AppBundle/Enum/ProposalStatementErrorCode.php
  src/Capco/AppBundle/Form/ProposalAnalysisType.php
  src/Capco/AppBundle/GraphQL/Mutation/AnalyseProposalAnalysisMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeProposalAnalysisMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalProposalStatementErrorCode.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeProposalAnalysisInput.types.yaml
  src/Capco/AppBundle/Validator/Constraints/HasResponsesToRequiredQuestionsValidator.php
Due: graphql, php, backend

[7600-UPDATE] Update some dependencies (#10961)
  package.json
  webpack/webpack.client.analyzer.js
  webpack/webpack.client.hot.js
  webpack/webpack.client.js
  webpack/webpack.prod.analyzer.js
  webpack/webpack.prod.client.js
  yarn.lock
Due: none

[10474-FIX] Fix proposalForm, consultations search on BO (#10981)
  frontend/js/components/Admin/Project/Step/ProjectAdminCollectStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminConsultationStepForm.js
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminCollectStepForm-test.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminConsultationStepForm-test.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Consultation/AvailableConsultationsQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryAvailableProposalFormsResolver.php
  src/Capco/AppBundle/Repository/ConsultationRepository.php
  src/Capco/AppBundle/Repository/ProposalFormRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
Due: graphql, php, backend

[10886-FIX] Fix analyst revokement + ProposalFormDataloader (#10977)
  frontend/js/components/Admin/Project/ProjectAdminAnalysis.js
  src/Capco/AppBundle/GraphQL/DataLoader/Project/ProjectProposalsDataLoader.php
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: graphql, php, backend

[10945-RELEASE] fix delete modal css (#10958)
  frontend/js/components/User/DeleteAccountModal.js
  frontend/js/components/User/__snapshots__/DeleteAccountModal-test.js.snap
Due: none

[FIX-RANDOM] change the date of english project (#10996)
  features/graphql-api/public/query/__snapshots__/Query_projects.js.snap
  fixtures/Dev/Project.yaml
Due: none

[FIX-10987] Fix search bar proposals BO (#10998)
  features/graphql-api/internal/Project/Project_proposals.js
  features/graphql-api/internal/Project/__snapshots__/Project_proposals.js.snap
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: php, backend

[FIX-AUDIT] Fix audit JS. (#11010)
  package.json
Due: none

Fix default locale (#11011)
  config/packages/commands.yaml
  src/Capco/AppBundle/Command/ReinitCommand.php
  src/Capco/AppBundle/Command/ResetDefaultLocaleCommand.php
  src/Capco/AppBundle/Exception/LocaleConfigurationException.php
  src/Capco/AppBundle/Repository/LocaleRepository.php
Due: php, backend

[4046-MENU] disable link when creating new page (#11012)
  src/Capco/AdminBundle/Admin/PageAdmin.php
Due: php, backend

[11021-FIX] steps are submited to event with UUID, not GlobalId (#11022)
  features/graphql-api/internal/mutation/__snapshots__/createAlphaProject.js.snap
  features/graphql-api/internal/mutation/__snapshots__/updateAlphaProject.js.snap
  src/Capco/AppBundle/Form/Type/RelayNodeType.php
Due: php, backend

[11015-RANDOMLY] fix (#11016)
  features/back/project/questionnaire.feature
  features/front/bp/proposal_votes.feature
  features/front/features/arguments.feature
  features/front/features/project.feature
  features/front/features/sources.feature
  features/front/pages/rgpd.feature
  features/front/pages/shield.feature
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  yarn.lock
Due: backend

[10842-PASSWORD] Changing default Twig template for React (#11009)
  config/packages/graphql_mutations.yaml
  features/front/user/reset_password.feature
  frontend/js/components/User/ResetPasswordForm-test.js
  frontend/js/components/User/ResetPasswordForm.js
  frontend/js/components/User/__snapshots__/ResetPasswordForm-test.js.snap
  frontend/js/mutations/ResetPasswordMutation.js
  frontend/js/registration.js
  frontend/js/startup/ResetPasswordApp.js
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/ResetPasswordMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ResetPasswordInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ResetPasswordPayload.types.yaml
  src/Capco/UserBundle/Resources/views/Resetting/reset_content.html.twig
  yarn.lock
Due: graphql, php, backend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
