Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

Fix filters on collect steps and selection steps
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyAdminOfNewEvent.html
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  features/commands/consumers/event.feature
  features/front/features/project.feature
  features/graphql/mutation/updateProposalForm.feature
  src/Capco/AppBundle/Elasticsearch/mapping.yml
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProposalFormMutation.php
  src/Capco/AppBundle/Notifier/EventNotifier.php
  src/Capco/AppBundle/Resources/config/serialization/Proposal.yml
Due: graphql, php, backend

Updated tests and e2e snapshots
  features/front/bp/proposal_search.feature
  features/graphql-public/ProposalForm/__snapshots__/ProposalForm_proposals.js.snap
  features/graphql-public/__snapshots__/ProposalStep_proposals.js.snap
  features/graphql-public/query/__snapshots__/proposals.js.snap
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: php, backend

Add empty check instead of string comparison
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: php, backend

Updated e2e snapshots
  features/graphql-public/ProposalForm/__snapshots__/ProposalForm_proposals.js.snap
  features/graphql-public/ProposalStep_proposals.js
  features/graphql-public/__snapshots__/ProposalStep_proposals.js.snap
  features/graphql-public/query/__snapshots__/proposals.js.snap
Due: none

Merge pull request #9243 from cap-collectif/5118-unify-export
  composer.json
  composer.lock
  features/front/bp/proposal_search.feature
  features/graphql-public/ProposalStep_proposals.js
  features/graphql-public/__snapshots__/ProposalStep_proposals.js.snap
  features/graphql-public/query/__snapshots__/proposals.js.snap
  src/Capco/AppBundle/Behat/ExportContext.php
  src/Capco/AppBundle/Command/CreateUserAccountsFromCSVCommand.php
  src/Capco/AppBundle/Command/CreateUsersFromCsvCommand.php
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
  src/Capco/AppBundle/Command/ImportProposalsFromCsvCommand.php
  src/Capco/AppBundle/Command/Nantes/NantesImportCommand.php
  src/Capco/AppBundle/Command/Nantes/NantesImportContributionsCommand.php
  src/Capco/AppBundle/Command/Nantes/NantesImportProjectAndActualities.php
  src/Capco/AppBundle/Command/Nantes/NantesImportUsersCommand.php
  src/Capco/AppBundle/Command/Nantes/NantesResetOpenIdCommand.php
  src/Capco/AppBundle/Command/Nantes/NantesSpecialInsertCommand.php
  src/Capco/AppBundle/Command/Paris/ParisImportCommand.php
  src/Capco/AppBundle/Command/Paris/ParisImportUsersCommand.php
  src/Capco/AppBundle/Elasticsearch/mapping.yml
  src/Capco/AppBundle/GraphQL/GraphQLToCsv.php
  src/Capco/AppBundle/Resources/config/serialization/Proposal.yml
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: graphql, php, backend

Merge branch 'master' into 6541-fix
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyAdminOfNewEvent.html
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  features/commands/consumers/event.feature
  features/front/features/project.feature
  features/graphql/mutation/updateProposalForm.feature
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProposalFormMutation.php
  src/Capco/AppBundle/Notifier/EventNotifier.php
Due: graphql, php, backend

[8279-TESTER] Test User_events (#9242)
  features/graphql-public/User/User_awaitingOrRefusedEvents.js
  features/graphql-public/User/__snapshots__/User_awaitingOrRefusedEvents.js.snap
  features/graphql-public/User/__snapshots__/User_events.js.snap
Due: none

[8639-UI] ui fix over link and display of counters
  app/Resources/js/components/Project/Preview/ProjectPreviewBody.js
  app/Resources/js/components/Project/Preview/ProjectPreviewExternalCounters-test.js
  app/Resources/js/components/Project/Preview/ProjectPreviewExternalCounters.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewBody-test.js.snap
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewExternalCounters-test.js.snap
Due: jest, flow, frontend

[8639-UI] Showing 0 correctly for counter
  app/Resources/js/components/Project/Preview/ProjectPreviewExternalCounters.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewExternalCounters-test.js.snap
Due: jest, flow, frontend

9189 Fix filters on collect steps and selection steps (#9244)
  features/front/bp/proposal_search.feature
  features/graphql-public/ProposalStep_proposals.js
  features/graphql-public/__snapshots__/ProposalStep_proposals.js.snap
  features/graphql-public/query/__snapshots__/proposals.js.snap
  src/Capco/AppBundle/Elasticsearch/mapping.yml
  src/Capco/AppBundle/Resources/config/serialization/Proposal.yml
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: php, backend

A project title block is back
  src/Capco/AdminBundle/Resources/views/Project/edit.html.twig
Due: php, backend

6552-EXAMINE cAn query user his event in awaint or refused status
  app/Resources/js/components/Event/Form/__snapshots__/EventFormPage-test.js.snap
Due: jest, flow, frontend

6552-EXAMINE add migration
  __snapshots__/exports/participants_appel-a-projets.csv
  __snapshots__/exports/participants_budget-participatif-rennes.csv
  __snapshots__/exports/participants_croissance-innovation-disruption.csv
  __snapshots__/exports/participants_depot-avec-selection-vote-budget.csv
  __snapshots__/exports/participants_project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement.csv
  __snapshots__/exports/participants_project-pour-la-force-visible-par-mauriau-seulement.csv
  __snapshots__/exports/participants_projet-avec-beaucoup-dopinions.csv
  __snapshots__/exports/participants_projet-avec-questionnaire.csv
  __snapshots__/exports/participants_projet-de-loi-renseignement.csv
  __snapshots__/exports/participants_questions-responses.csv
  __snapshots__/exports/participants_qui-doit-conquerir-le-monde-visible-par-les-admins-seulement.csv
  __snapshots__/exports/participants_strategie-technologique-de-letat-et-services-publics.csv
  __snapshots__/exports/participants_transformation-numerique-des-relations.csv
  __snapshots__/exports/participants_un-avenir-meilleur-pour-les-nains-de-jardins-custom-access.csv
  __snapshots__/rgpd_user_archives/user5/connections.csv
  __snapshots__/rgpd_user_archives/user5/events.csv
  __snapshots__/rgpd_user_archives/user5/groups.csv
  __snapshots__/rgpd_user_archives/user5/questions.csv
  __snapshots__/rgpd_user_archives/user5/user.csv
  __snapshots__/rgpd_user_archives/userAdmin/user.csv
  app/config/swarrot.yml
  features/graphql-public/query/Query_events_review.js
  features/graphql-public/query/__snapshots__/Query_events_review.js.snap
  features/graphql/mutation/changeEvent.feature
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/Form/ModelListType.php
  src/Capco/AppBundle/GraphQL/Mutation/ReviewEventMutation.php
  src/Capco/AppBundle/Mailer/Message/Event/EventReviewMessage.php
  src/Capco/AppBundle/Mailer/Message/MessagesList.php
  src/Capco/AppBundle/Mailer/templates/Event/notifyUserReviewedEvent.html.twig
  src/Capco/AppBundle/Mailer/templates/eventTitleLayout.html.twig
  src/Capco/AppBundle/Notifier/EventNotifier.php
  src/Capco/AppBundle/Processor/Event/EventReviewProcessor.php
Due: graphql, php, backend

6550-NOTIFY update event review snapshots
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyParticipantOfDeletedEvent.html
  __snapshots__/emails/notifyUserReviewedEventApproved.html
  __snapshots__/emails/notifyUserReviewedEventRefused.html
  __snapshots__/exports/participants_appel-a-projets.csv
  __snapshots__/exports/participants_budget-participatif-rennes.csv
  __snapshots__/exports/participants_croissance-innovation-disruption.csv
  __snapshots__/exports/participants_depot-avec-selection-vote-budget.csv
  __snapshots__/exports/participants_project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement.csv
  __snapshots__/exports/participants_project-pour-la-force-visible-par-mauriau-seulement.csv
  __snapshots__/exports/participants_projet-avec-beaucoup-dopinions.csv
  __snapshots__/exports/participants_projet-avec-questionnaire.csv
  __snapshots__/exports/participants_projet-de-loi-renseignement.csv
  __snapshots__/exports/participants_questions-responses.csv
  __snapshots__/exports/participants_qui-doit-conquerir-le-monde-visible-par-les-admins-seulement.csv
  __snapshots__/exports/participants_strategie-technologique-de-letat-et-services-publics.csv
  __snapshots__/exports/participants_transformation-numerique-des-relations.csv
  __snapshots__/exports/participants_un-avenir-meilleur-pour-les-nains-de-jardins-custom-access.csv
  __snapshots__/rgpd_user_archives/user5/connections.csv
  __snapshots__/rgpd_user_archives/user5/events.csv
  __snapshots__/rgpd_user_archives/user5/groups.csv
  __snapshots__/rgpd_user_archives/user5/questions.csv
  __snapshots__/rgpd_user_archives/user5/user.csv
  app/Resources/js/components/Event/Form/EventFormPage.js
  app/Resources/js/components/Event/Form/__snapshots__/EventFormPage-test.js.snap
  app/config/rabbitmq.yml
  features/commands/consumers/event.feature
  features/graphql-public/query/Query_events_review.js
  features/graphql-public/query/__snapshots__/Query_events_review.js.snap
  features/graphql/mutation/changeEvent.feature
  src/Capco/AppBundle/DBAL/Enum/EventReviewRefusedReasonType.php
  src/Capco/AppBundle/Form/ModelListType.php
  src/Capco/AppBundle/Mailer/Message/Event/EventReviewMessage.php
  src/Capco/AppBundle/Mailer/templates/Event/notifyUserReviewedEvent.html.twig
  src/Capco/AppBundle/Mailer/templates/eventTitleLayout.html.twig
  src/Capco/AppBundle/Notifier/EventNotifier.php
  src/Capco/AppBundle/Processor/Event/EventReviewProcessor.php
  web/svg/view-off.svg
Due: php, jest, flow, backend, frontend

[6550-NOTIFY] fix mail template
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyAdminOfNewEvent.html
  __snapshots__/emails/notifyParticipantOfDeletedEvent.html
  __snapshots__/emails/notifyUserReviewedEventApproved.html
  __snapshots__/emails/notifyUserReviewedEventRefused.html
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  src/Capco/AppBundle/Mailer/templates/eventTitleLayout.html.twig
  src/Capco/AppBundle/Notifier/EventNotifier.php
Due: php, backend

Add GraphQL API
  app/config/graphql.yml
  features/graphql-public/query/Query_pages.js
  features/graphql-public/query/__snapshots__/Query_pages.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Page.php
  src/Capco/AppBundle/GraphQL/Args/TranslatableField.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryPagesResolver.php
  src/Capco/AppBundle/Model/Translatable.php
  src/Capco/AppBundle/Model/Translation.php
  src/Capco/AppBundle/Repository/PageRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalPage.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalPageTranslation.types.yml
  src/Capco/AppBundle/Resources/config/services/repositories.yml
Due: graphql, php, backend

Fix menu for intl
  app/DoctrineMigrations/Version20191105174035.php
  composer.lock
  schema.internal.graphql
  spec/Capco/AppBundle/Manager/MenuItemResolverSpec.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MenuItem.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Page.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/MenuItem.yml
  src/Capco/AppBundle/DataFixtures/ORM/Prod/PageTranslation.yml
  src/Capco/AppBundle/Entity/MenuItem.php
  src/Capco/AppBundle/EventListener/LocaleListener.php
  src/Capco/AppBundle/EventListener/LocaleSubscriber.php
  src/Capco/AppBundle/GraphQL/Args/TranslatableField.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryPagesResolver.php
  src/Capco/AppBundle/Manager/MenuItemResolver.php
  src/Capco/AppBundle/Repository/PageRepository.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/config/services/listeners.yml
  src/Capco/AppBundle/Twig/FooterExtension.php
  src/Capco/AppBundle/Twig/MenuLinkExtension.php
  src/Capco/AppBundle/Twig/ParametersExtension.php
  src/Capco/AppBundle/Twig/SiteParameterExtension.php
Due: graphql, php, backend

[6541-FIX] fix event email template
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyAdminOfNewEvent.html
  __snapshots__/emails/notifyParticipantOfDeletedEvent.html
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventUrlResolver.php
  src/Capco/AppBundle/Mailer/Message/Event/EventDeleteAdminMessage.php
  src/Capco/AppBundle/Notifier/EventNotifier.php
  web/calendar-3.png
Due: graphql, php, backend

[6552-FIX] fix event email template
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyAdminOfNewEvent.html
  __snapshots__/emails/notifyParticipantOfDeletedEvent.html
  __snapshots__/emails/notifyUserReviewedEventApproved.html
  __snapshots__/emails/notifyUserReviewedEventRefused.html
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  src/Capco/AppBundle/DataFixtures/ORM/Dev/EventComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/PostComment.yml
  src/Capco/AppBundle/Mailer/templates/eventTitleLayout.html.twig
Due: php, backend

Hotfix project page (#9270)
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyAdminOfNewEvent.html
  __snapshots__/emails/notifyParticipantOfDeletedEvent.html
  __snapshots__/emails/notifyUserReviewedEventApproved.html
  __snapshots__/emails/notifyUserReviewedEventRefused.html
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  app/Resources/js/components/Admin/Project/External/ProjectExternalAdminFormDeprecated.js
  app/Resources/js/components/Admin/Project/External/ProjectExternalProjectAdminPageDeprecated.js
  app/Resources/js/registration.js
  app/Resources/js/startup/ProjectExternalProjectAdminAppDeprecated.js
  src/Capco/AdminBundle/Resources/views/Project/edit.html.twig
  src/Capco/AppBundle/DataFixtures/ORM/Dev/EventComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/PostComment.yml
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventUrlResolver.php
  src/Capco/AppBundle/Mailer/Message/Event/EventDeleteAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/eventTitleLayout.html.twig
  src/Capco/AppBundle/Notifier/EventNotifier.php
  web/calendar-3.png
Due: graphql, php, jest, flow, backend, frontend

[6552-FIX] fix test e2e on project
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyAdminOfNewEvent.html
  __snapshots__/emails/notifyParticipantOfDeletedEvent.html
  __snapshots__/emails/notifyUserReviewedEventApproved.html
  __snapshots__/emails/notifyUserReviewedEventRefused.html
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  app/Resources/js/components/Admin/Project/External/ProjectExternalAdminFormDeprecated.js
  app/Resources/js/components/Admin/Project/External/ProjectExternalProjectAdminPageDeprecated.js
  app/Resources/js/registration.js
  app/Resources/js/startup/ProjectExternalProjectAdminAppDeprecated.js
  features/front/features/project.feature
  src/Capco/AdminBundle/Resources/views/Project/edit.html.twig
  src/Capco/AppBundle/DataFixtures/ORM/Dev/EventComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/PostComment.yml
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventUrlResolver.php
  src/Capco/AppBundle/Mailer/Message/Event/EventDeleteAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/eventTitleLayout.html.twig
  src/Capco/AppBundle/Notifier/EventNotifier.php
  web/calendar-3.png
Due: graphql, php, jest, flow, backend, frontend

[UPGRADE-WEBPACK] upgrade webpack, @babel
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyAdminOfNewEvent.html
  __snapshots__/emails/notifyParticipantOfDeletedEvent.html
  __snapshots__/emails/notifyUserReviewedEventApproved.html
  __snapshots__/emails/notifyUserReviewedEventRefused.html
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  app/Resources/js/components/Admin/Project/External/ProjectExternalAdminFormDeprecated.js
  app/Resources/js/components/Admin/Project/External/ProjectExternalProjectAdminPageDeprecated.js
  app/Resources/js/registration.js
  app/Resources/js/startup/ProjectExternalProjectAdminAppDeprecated.js
  features/front/features/project.feature
  src/Capco/AdminBundle/Resources/views/Project/edit.html.twig
  src/Capco/AppBundle/DataFixtures/ORM/Dev/EventComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/PostComment.yml
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventUrlResolver.php
  src/Capco/AppBundle/Mailer/Message/Event/EventDeleteAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/eventTitleLayout.html.twig
  src/Capco/AppBundle/Notifier/EventNotifier.php
  web/calendar-3.png
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

[UPGRADE-WEBPACK] upgrade @emotion @moment
  yarn.lock
Due: none

Fix page migration
  app/DoctrineMigrations/Version20191105174035.php
  yarn.lock
Due: none

[6552-FIX] fix event email template (#9273)
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyAdminOfNewEvent.html
  __snapshots__/emails/notifyParticipantOfDeletedEvent.html
  __snapshots__/emails/notifyUserReviewedEventApproved.html
  __snapshots__/emails/notifyUserReviewedEventRefused.html
  __snapshots__/exports/budget-participatif-rennes_collecte-des-propositions.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  features/front/features/project.feature
  src/Capco/AppBundle/DataFixtures/ORM/Dev/EventComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/PostComment.yml
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventUrlResolver.php
  src/Capco/AppBundle/Mailer/Message/Event/EventDeleteAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/eventTitleLayout.html.twig
  src/Capco/AppBundle/Notifier/EventNotifier.php
  web/calendar-3.png
Due: graphql, php, backend

[HOTFIX-ML] - Added missing setter for MetaDescription in `Page` entity
  src/Capco/AppBundle/Entity/Page.php
Due: php, backend

Always return a string for url
  src/Capco/AppBundle/Entity/Page.php
  src/Capco/AppBundle/Manager/MenuItemResolver.php
Due: php, backend

Merge pull request #9279 from cap-collectif/hotfix-ml-page-metadescription
  src/Capco/AppBundle/Entity/Page.php
Due: php, backend

[UPGRADE-WEBPACK] upgrade webpack, @babel (#9278)
  yarn.lock
Due: none

[UPGRADE-DEPENDENCIES] upgrade dependencies with yarn interactive
  yarn.lock
Due: none

Add a class to the body to ease custom CSS
  src/Capco/AppBundle/Resources/views/layout.html.twig
Due: php, backend

[FIX-EXPORT] Fix vote refetch and deleted useless dep
  composer.json
  composer.lock
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
Due: php, backend

Add id on es queries sort param of proposal & opinion
  composer.json
  composer.lock
  features/graphql-public/__snapshots__/ProposalStep_proposals.js.snap
  features/graphql-public/query/__snapshots__/proposals.js.snap
  jest-setup.e2e.js
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/Search/OpinionSearch.php
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: php, backend

Add includeTrashed case, fix exports
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionContributionRelayResolver.php
  src/Capco/AppBundle/Normalizer/OpinionNormalizer.php
  src/Capco/AppBundle/Resources/config/serialization/Opinion.yml
  src/Capco/AppBundle/Search/OpinionSearch.php
  yarn.lock
Due: graphql, php, backend

[FIX-EXPORT] [9110-IDENTIY] Added one column
  __snapshots__/exports/croissance-innovation-disruption_collecte-des-avis.csv
  __snapshots__/exports/project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement_etape-participation-continue.csv
  __snapshots__/exports/projet-avec-beaucoup-dopinions_consultation-step-in-project-with-many-opinions.csv
  __snapshots__/exports/projet-de-loi-renseignement_elaboration-de-la-loi.csv
  __snapshots__/exports/projet-vide_projet.csv
  __snapshots__/exports/qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_consultation-step-in-private-project-admin-only.csv
  __snapshots__/exports/strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  __snapshots__/exports/strategie-technologique-de-letat-et-services-publics_etape-de-multi-consultation.csv
  __snapshots__/exports/transformation-numerique-des-relations_ma-futur-collecte-de-proposition.csv
  __snapshots__/exports/un-avenir-meilleur-pour-les-nains-de-jardins-custom-access_consultation-step-in-project-with-custom-access-group-2-3.csv
  composer.json
  composer.lock
  features/graphql-public/__snapshots__/ProposalStep_proposals.js.snap
  features/graphql-public/query/__snapshots__/proposals.js.snap
  jest-setup.e2e.js
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionContributionRelayResolver.php
  src/Capco/AppBundle/Normalizer/OpinionNormalizer.php
  src/Capco/AppBundle/Resources/config/serialization/Opinion.yml
  src/Capco/AppBundle/Search/OpinionSearch.php
  src/Capco/AppBundle/Search/ProposalSearch.php
  yarn.lock
Due: graphql, php, backend

[8713-REMOVE] replace UserAvatarDeprecated by UserAvatar in CommentAn… (#9275)
  __snapshots__/exports/croissance-innovation-disruption_collecte-des-avis.csv
  __snapshots__/exports/project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement_etape-participation-continue.csv
  __snapshots__/exports/projet-avec-beaucoup-dopinions_consultation-step-in-project-with-many-opinions.csv
  __snapshots__/exports/projet-de-loi-renseignement_elaboration-de-la-loi.csv
  __snapshots__/exports/projet-vide_projet.csv
  __snapshots__/exports/qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_consultation-step-in-private-project-admin-only.csv
  __snapshots__/exports/strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  __snapshots__/exports/strategie-technologique-de-letat-et-services-publics_etape-de-multi-consultation.csv
  __snapshots__/exports/transformation-numerique-des-relations_ma-futur-collecte-de-proposition.csv
  __snapshots__/exports/un-avenir-meilleur-pour-les-nains-de-jardins-custom-access_consultation-step-in-project-with-custom-access-group-2-3.csv
  app/Resources/js/components/Comment/CommentAnswer-test.js
  app/Resources/js/components/Comment/CommentAnswer.js
  app/Resources/js/components/Comment/__snapshots__/CommentAnswer-test.js.snap
  app/Resources/js/components/Project/Page/UserInGroupModal-test.js
  app/Resources/js/components/Project/Page/UserInGroupModal.js
  app/Resources/js/components/Project/Page/__snapshots__/UserInGroupModal-test.js.snap
  composer.json
  composer.lock
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
Due: php, jest, flow, backend, frontend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
