Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

8873-FIX generate snapshot for event
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyAdminOfNewEvent.html
  __snapshots__/emails/notifyParticipantOfDeletedEvent.html
  features/commands/consumers/event.feature
  infrastructure/services/local/Dockerfile
  package.json
  src/Capco/UserBundle/Repository/UserRepository.php
  webpack/webpack.client.js
  yarn.lock
Due: php, backend

Merge pull request #8992 from cap-collectif/webpack-relay-compiler
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyAdminOfNewEvent.html
  __snapshots__/emails/notifyParticipantOfDeletedEvent.html
  features/commands/consumers/event.feature
  infrastructure/services/local/Dockerfile
  package.json
  src/Capco/UserBundle/Repository/UserRepository.php
  webpack/webpack.client.js
  yarn.lock
Due: php, backend

[7679-NOTIFICATION] Adding notifications to newly published articles related to followed proposals
  __snapshots__/emails/notify_followers<admin@test.com>_blog_post.html
  __snapshots__/emails/notify_followers<user@test.com>.html
  __snapshots__/emails/notify_followers<user@test.com>_blog_post.html
  features/commands/notifyFollowers.feature
  src/Capco/AppBundle/Behat/MailCatcherContext.php
  src/Capco/AppBundle/Command/FollowerNotifierCommand.php
  src/Capco/AppBundle/Following/ProposalActivitiesResolver.php
  src/Capco/AppBundle/Mailer/templates/notifyFollowerActivities.html.twig
  src/Capco/AppBundle/Repository/PostRepository.php
Due: php, backend

[7679-NOTIFICATION] removed useless check
  features/commands/notifyFollowers.feature
  src/Capco/AppBundle/Behat/MailCatcherContext.php
Due: backend

[7679-NOTIFICATION] updated phpspec
  spec/Capco/AppBundle/Following/ProposalActivitiesResolverSpec.php
Due: none

[7679-NOTIFICATION] remove func
  src/Capco/AppBundle/Behat/MailCatcherContext.php
Due: backend

[8882-FIX] fix toggle disparition when budget image is hidden
  __snapshots__/emails/notify_followers<admin@test.com>.html
  __snapshots__/emails/notify_followers<admin@test.com>_blog_post.html
  __snapshots__/emails/notify_followers<user@test.com>.html
  __snapshots__/emails/notify_followers<user@test.com>_blog_post.html
  app/Resources/js/components/Proposal/Vote/ProposalVoteBasketWidget.js
  app/Resources/scss/base/_header.scss
  features/commands/notifyFollowers.feature
  spec/Capco/AppBundle/Following/ProposalActivitiesResolverSpec.php
  src/Capco/AppBundle/Command/FollowerNotifierCommand.php
  src/Capco/AppBundle/Following/ProposalActivitiesResolver.php
  src/Capco/AppBundle/Mailer/templates/notifyFollowerActivities.html.twig
  src/Capco/AppBundle/Repository/PostRepository.php
Due: php, jest, flow, backend, frontend

[8882-FIX] add tests on ProposalVoteBasketWidget covering the changes
  app/Resources/js/components/Proposal/Vote/ProposalVoteBasketWidget-test.js
Due: frontend

Bump symfony/monolog-bundle from 3.3.1 to 3.4.0
  app/Resources/js/components/Proposal/Vote/ProposalVoteBasketWidget-test.js
  app/Resources/js/components/Proposal/Vote/ProposalVoteBasketWidget.js
  app/Resources/scss/base/_header.scss
  composer.json
  composer.lock
Due: jest, flow, frontend

Merge pull request #8987 from cap-collectif/7679-notification-email
  __snapshots__/emails/notify_followers<admin@test.com>_blog_post.html
  __snapshots__/emails/notify_followers<user@test.com>.html
  __snapshots__/emails/notify_followers<user@test.com>_blog_post.html
  composer.json
  composer.lock
  features/commands/notifyFollowers.feature
  spec/Capco/AppBundle/Following/ProposalActivitiesResolverSpec.php
  src/Capco/AppBundle/Command/FollowerNotifierCommand.php
  src/Capco/AppBundle/Following/ProposalActivitiesResolver.php
  src/Capco/AppBundle/Mailer/templates/notifyFollowerActivities.html.twig
  src/Capco/AppBundle/Repository/PostRepository.php
Due: php, backend

[8561-HIDE] Add project totalCount to projectListFiltersContainer.
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer-test.js
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer.js
  app/Resources/js/components/Project/List/Filters/__snapshots__/ProjectListFiltersContainer-test.js.snap
Due: jest, flow, frontend

[8561-HIDE] Correct default value.
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer.js
Due: jest, flow, frontend

[8561-HIDE] Thx @ptondereau you are the best.
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer-test.js
  app/Resources/js/components/Project/List/Filters/__snapshots__/ProjectListFiltersContainer-test.js.snap
Due: jest, flow, frontend

Remove non-edge
  schema.preview.graphql
Due: none

[8561-HIDE] Add project totalCount to projectListFiltersContain… (#8984)
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer-test.js
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer.js
  app/Resources/js/components/Project/List/Filters/__snapshots__/ProjectListFiltersContainer-test.js.snap
Due: jest, flow, frontend

[8969-FIX] Fix missing traduction.
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer-test.js
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer.js
  app/Resources/js/components/Project/List/Filters/__snapshots__/ProjectListFiltersContainer-test.js.snap
  app/Resources/js/components/Proposal/Vote/ProposalVoteBasketWidget-test.js
  app/Resources/js/components/Proposal/Vote/ProposalVoteBasketWidget.js
  app/Resources/scss/base/_header.scss
  src/Capco/UserBundle/Controller/ResettingFOSUser1Controller.php
Due: php, jest, flow, backend, frontend

Add info about deleted entitites (#8957)
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer-test.js
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer.js
  app/Resources/js/components/Project/List/Filters/__snapshots__/ProjectListFiltersContainer-test.js.snap
  app/Resources/js/components/Proposal/Vote/ProposalVoteBasketWidget-test.js
  app/Resources/js/components/Proposal/Vote/ProposalVoteBasketWidget.js
  app/Resources/scss/base/_header.scss
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/UserBundle/Controller/ResettingFOSUser1Controller.php
Due: php, jest, flow, backend, frontend

[8969-FIX] Fix missing traduction. (#9009)
  src/Capco/UserBundle/Controller/ResettingFOSUser1Controller.php
Due: php, backend

Merge pull request #9002 from cap-collectif/8874-fix-getId-on-proposalActivitiesResolver
  src/Capco/AppBundle/Following/OpinionActivitiesResolver.php
Due: php, backend

8902-FIX test if contribution is contribuable (#9001)
  src/Capco/AppBundle/GraphQL/Mutation/DeleteAccountMutation.php
Due: graphql, php, backend

Merge pull request #8758 from cap-collectif/dependabot/composer/symfony/monolog-bundle-3.4.0
  composer.json
  composer.lock
Due: none

8962-FIX fix call isCostable on nullable
  __snapshots__/emails/notify_followers<admin@test.com>_blog_post.html
  __snapshots__/emails/notify_followers<user@test.com>.html
  __snapshots__/emails/notify_followers<user@test.com>_blog_post.html
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer-test.js
  app/Resources/js/components/Project/List/Filters/ProjectListFiltersContainer.js
  app/Resources/js/components/Project/List/Filters/__snapshots__/ProjectListFiltersContainer-test.js.snap
  app/Resources/js/components/Proposal/Vote/ProposalVoteBasketWidget-test.js
  app/Resources/js/components/Proposal/Vote/ProposalVoteBasketWidget.js
  app/Resources/scss/base/_header.scss
  features/commands/notifyFollowers.feature
  infrastructure/services/local/Dockerfile
  package.json
  spec/Capco/AppBundle/Following/ProposalActivitiesResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyResponsesResolverSpec.php
  src/Capco/AppBundle/Command/FollowerNotifierCommand.php
  src/Capco/AppBundle/Following/ProposalActivitiesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalEvaluationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormQuestionsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Questionnaire/QuestionsListResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyResponsesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Traits/ResponsesResolverTrait.php
  src/Capco/AppBundle/Mailer/templates/notifyFollowerActivities.html.twig
  src/Capco/AppBundle/Repository/AbstractQuestionRepository.php
  src/Capco/AppBundle/Repository/AbstractResponseRepository.php
  src/Capco/AppBundle/Repository/PostRepository.php
  src/Capco/AppBundle/Resolver/ProjectStatsResolver.php
  src/Capco/AppBundle/Traits/HasResponsesTrait.php
  web/robots.txt
  webpack/webpack.client.js
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

8950-FIX add some registration tests
  features/api/users.feature
  src/Capco/AppBundle/Notifier/FOSNotifier.php
  src/Capco/AppBundle/Notifier/UserNotifier.php
Due: php, backend

- Moved up LoginModal into ProposalStepPage
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Page/__snapshots__/ProposalStepPage-test.js.snap
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/components/User/Login/__snapshots__/LoginButton-test.js.snap
  features/api/users.feature
  src/Capco/AppBundle/Controller/Api/UsersController.php
  src/Capco/AppBundle/Notifier/FOSNotifier.php
  src/Capco/AppBundle/Notifier/UserNotifier.php
Due: php, jest, flow, backend, frontend

8917-FIX set updated at of proposal after author change content
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Page/__snapshots__/ProposalStepPage-test.js.snap
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/components/User/Login/__snapshots__/LoginButton-test.js.snap
  features/graphql/mutation/updateProposal.feature
  spec/Capco/AppBundle/GraphQL/Mutation/ProposalMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
Due: graphql, php, jest, flow, backend, frontend

[PERF] - Suppression du lazy loading pour les questions / répon… (#8981)
  features/graphql/mutation/updateProposal.feature
  spec/Capco/AppBundle/GraphQL/Mutation/ProposalMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyResponsesResolverSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalEvaluationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormQuestionsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Questionnaire/QuestionsListResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyResponsesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Traits/ResponsesResolverTrait.php
  src/Capco/AppBundle/Repository/AbstractQuestionRepository.php
  src/Capco/AppBundle/Repository/AbstractResponseRepository.php
  src/Capco/AppBundle/Traits/HasResponsesTrait.php
Due: graphql, php, backend

8962-FIX fix call isCostable on nullable (#9012)
  src/Capco/AppBundle/Resolver/ProjectStatsResolver.php
Due: php, backend

8950-FIX throw exception if user dont have email (#9000)
  features/api/users.feature
  src/Capco/AppBundle/Controller/Api/UsersController.php
  src/Capco/AppBundle/Notifier/FOSNotifier.php
  src/Capco/AppBundle/Notifier/UserNotifier.php
Due: php, backend

Merge pull request #9007 from cap-collectif/8873-fix-event-snapshot
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyAdminOfNewEvent.html
  __snapshots__/emails/notifyParticipantOfDeletedEvent.html
  features/commands/consumers/event.feature
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php, backend

[7947-FIX] Add coexistence of Registration and chart modal.
  app/Resources/js/components/User/Registration/RegistrationModal-test.js
  app/Resources/js/components/User/Registration/RegistrationModal.js
  app/Resources/js/components/User/Registration/__snapshots__/RegistrationModal-test.js.snap
Due: jest, flow, frontend

- Moved Login and Registration modal into Navbar
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyAdminOfNewEvent.html
  __snapshots__/emails/notifyParticipantOfDeletedEvent.html
  app/Resources/js/components/Navbar/Navbar.js
  app/Resources/js/components/Navbar/__snapshots__/Navbar-test.js.snap
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Page/__snapshots__/ProposalStepPage-test.js.snap
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/components/User/Login/__snapshots__/LoginButton-test.js.snap
  app/Resources/js/components/User/Registration/RegistrationButton.js
  app/Resources/js/components/User/Registration/RegistrationModal-test.js
  app/Resources/js/components/User/Registration/RegistrationModal.js
  app/Resources/js/components/User/Registration/__snapshots__/RegistrationModal-test.js.snap
  features/api/users.feature
  features/commands/consumers/event.feature
  spec/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyResponsesResolverSpec.php
  src/Capco/AppBundle/Controller/Api/UsersController.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalEvaluationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormQuestionsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Questionnaire/QuestionsListResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyResponsesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Traits/ResponsesResolverTrait.php
  src/Capco/AppBundle/Notifier/FOSNotifier.php
  src/Capco/AppBundle/Notifier/UserNotifier.php
  src/Capco/AppBundle/Repository/AbstractQuestionRepository.php
  src/Capco/AppBundle/Repository/AbstractResponseRepository.php
  src/Capco/AppBundle/Resolver/ProjectStatsResolver.php
  src/Capco/AppBundle/Traits/HasResponsesTrait.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, jest, flow, backend, frontend

[TEST-LESS] Remove some randomly-failing.
  __snapshots__/emails/notifyAdminOfDeletedEvent.html
  __snapshots__/emails/notifyAdminOfEditedEvent.html
  __snapshots__/emails/notifyAdminOfNewEvent.html
  __snapshots__/emails/notifyParticipantOfDeletedEvent.html
  app/Resources/js/components/Navbar/Navbar.js
  app/Resources/js/components/Navbar/__snapshots__/Navbar-test.js.snap
  app/Resources/js/components/Page/ProposalStepPage.js
  app/Resources/js/components/Page/__snapshots__/ProposalStepPage-test.js.snap
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/components/User/Login/__snapshots__/LoginButton-test.js.snap
  app/Resources/js/components/User/Registration/RegistrationButton.js
  app/Resources/js/components/User/Registration/RegistrationModal-test.js
  app/Resources/js/components/User/Registration/RegistrationModal.js
  app/Resources/js/components/User/Registration/__snapshots__/RegistrationModal-test.js.snap
  features/api/users.feature
  features/commands/consumers/event.feature
  features/commands/consumers/user_archive.feature
  features/front/bp/proposal_crud.feature
  features/front/pages/shield.feature
  features/front/user/login.feature
  spec/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyResponsesResolverSpec.php
  src/Capco/AppBundle/Controller/Api/UsersController.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalEvaluationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormQuestionsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Questionnaire/QuestionsListResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyResponsesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Traits/ResponsesResolverTrait.php
  src/Capco/AppBundle/Notifier/FOSNotifier.php
  src/Capco/AppBundle/Notifier/UserNotifier.php
  src/Capco/AppBundle/Repository/AbstractQuestionRepository.php
  src/Capco/AppBundle/Repository/AbstractResponseRepository.php
  src/Capco/AppBundle/Resolver/ProjectStatsResolver.php
  src/Capco/AppBundle/Traits/HasResponsesTrait.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, jest, flow, backend, frontend

8935-FIX if no published date, set now
  features/commands/consumers/user_archive.feature
  features/front/bp/proposal_crud.feature
  features/front/pages/shield.feature
  features/front/user/login.feature
  src/Capco/AppBundle/Mailer/Message/Project/QuestionnaireAcknowledgeReplyMessage.php
Due: php, backend

8935-FIX fix aknowledge questionnaire reply
  __snapshots__/emails/notifyQuestionnaireReply_create.html
  __snapshots__/emails/notifyQuestionnaireReply_delete.html
  __snapshots__/emails/notifyQuestionnaireReply_publishedDraft.html
  __snapshots__/emails/notifyQuestionnaireReply_update.html
  __snapshots__/emails/notifyUserQuestionnaireReply_create.html
  __snapshots__/emails/notifyUserQuestionnaireReply_update.html
  src/Capco/AppBundle/Mailer/Message/Project/QuestionnaireAcknowledgeReplyMessage.php
  src/Capco/AppBundle/Mailer/Message/Questionnaire/QuestionnaireReplyAdminMessage.php
  src/Capco/AppBundle/Mailer/templates/acknowledgeReply.html.twig
  src/Capco/AppBundle/Mailer/templates/notifyQuestionnaireReply.html.twig
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
Due: php, backend

8935-FIX thow exception if reply dont have step or questionnaire dont have step
  src/Capco/AppBundle/Mailer/Message/Project/QuestionnaireAcknowledgeReplyMessage.php
  src/Capco/AppBundle/Notifier/QuestionnaireReplyNotifier.php
Due: php, backend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
