Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

[9039-API] Modify ES mapping to increase indexation speed
  src/Capco/AppBundle/Elasticsearch/mapping.yml
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/Entity/OpinionVote.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/Reply.php
  src/Capco/AppBundle/Normalizer/OpinionNormalizer.php
  src/Capco/AppBundle/Normalizer/ProjectNormalizer.php
  src/Capco/AppBundle/Normalizer/ProposalNormalizer.php
  src/Capco/AppBundle/Normalizer/ThemeNormalizer.php
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewConsultation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewOpinion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewSource.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewVersion.types.yml
  src/Capco/AppBundle/Resources/config/serialization/AbstractDistrict.yaml
  src/Capco/AppBundle/Resources/config/serialization/AbstractVote.yaml
  src/Capco/AppBundle/Resources/config/serialization/Opinion.yaml
  src/Capco/AppBundle/Resources/config/serialization/OpinionVote.yaml
  src/Capco/AppBundle/Resources/config/serialization/Project.yaml
  src/Capco/AppBundle/Resources/config/serialization/Proposal.yaml
  src/Capco/AppBundle/Resources/config/serialization/ProposalCategory.yaml
  src/Capco/AppBundle/Resources/config/serialization/ProposalForm.yaml
  src/Capco/AppBundle/Resources/config/serialization/Reply.yaml
  src/Capco/AppBundle/Resources/config/serialization/Selection.yaml
  src/Capco/AppBundle/Resources/config/serialization/Status.yaml
  src/Capco/AppBundle/Resources/config/serialization/Steps.AbstractStep.yaml
  src/Capco/AppBundle/Resources/config/serialization/Theme.yaml
Due: php, backend

[9039-API] Update GraphQL schema
  schema.preview.graphql
Due: none

[9039-API] Modify ES mapping
  src/Capco/AppBundle/Entity/ProposalComment.php
  src/Capco/AppBundle/GraphQL/Resolver/Commentable/CommentableTypeResolver.php
  src/Capco/AppBundle/Normalizer/ProjectNormalizer.php
  src/Capco/AppBundle/Resources/config/serialization/Project.yaml
  src/Capco/AppBundle/Resources/config/serialization/Proposal.yaml
  src/Capco/AppBundle/Resources/config/serialization/ProposalComment.yaml
Due: graphql, php, backend

[9039-API] Fix tests with modification of es mapping
  src/Capco/AppBundle/Entity/ProposalCollectVote.php
  src/Capco/AppBundle/Entity/ProposalSelectionVote.php
  src/Capco/AppBundle/Resources/config/serialization/Proposal.yaml
  src/Capco/AppBundle/Resources/config/serialization/ProposalCollectVote.yaml
  src/Capco/AppBundle/Resources/config/serialization/ProposalSelectionVote.yaml
Due: php, backend

[9039-API] Add test Query_consultations
  features/graphql-public/query/Query_consultations.js
  features/graphql-public/query/__snapshots__/Query_consultations.js.snap
  schema.preview.graphql
  src/Capco/AppBundle/Elasticsearch/mapping.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/interfaces/PreviewContribution.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewArgument.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewOpinion.types.yml
  src/Capco/AppBundle/Resources/config/serialization/Argument.yaml
  src/Capco/AppBundle/Resources/config/serialization/OpinionVersion.yaml
  src/Capco/AppBundle/Resources/config/serialization/Source.yaml
Due: php, backend

[9039-API] Rebase from master
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/Contribution.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Argument.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalArgument.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOpinion.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalSource.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalVersion.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Opinion.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Source.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Version.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/relay-connection/ContributionConnection.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewArgument.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewOpinion.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewSource.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewVersion.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/relay-connection/PreviewContributionConnection.types.yaml
Due: php, backend

[9039-API] Refactor ES mapping
  src/Capco/AppBundle/Elasticsearch/IndexBuilder.php
  src/Capco/AppBundle/Elasticsearch/IndexableInterface.php
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Entity/Argument.php
  src/Capco/AppBundle/Entity/Consultation.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Entity/Source.php
  src/Capco/AppBundle/Normalizer/ProjectNormalizer.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Resources/config/serialization/Argument.yaml
  src/Capco/AppBundle/Resources/config/serialization/Consultation.yaml
  src/Capco/AppBundle/Resources/config/serialization/Opinion.yaml
  src/Capco/AppBundle/Resources/config/serialization/Project.yaml
  src/Capco/AppBundle/Resources/config/serialization/Source.yaml
  src/Capco/AppBundle/Resources/config/serialization/Steps.AbstractStep.yaml
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/config/serialization/Entity.User.yml
Due: php, backend

[9039-API] Massive refactor of ES mapping
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/Entity/Argument.php
  src/Capco/AppBundle/Entity/ArgumentVote.php
  src/Capco/AppBundle/Entity/Consultation.php
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Entity/OpinionVersionVote.php
  src/Capco/AppBundle/Entity/OpinionVote.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/Reply.php
  src/Capco/AppBundle/Entity/Source.php
  src/Capco/AppBundle/Entity/SourceVote.php
  src/Capco/AppBundle/Normalizer/ProjectNormalizer.php
  src/Capco/AppBundle/Normalizer/ThemeNormalizer.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Resources/config/serialization/AbstractVote.yaml
  src/Capco/AppBundle/Resources/config/serialization/Argument.yaml
  src/Capco/AppBundle/Resources/config/serialization/ArgumentVote.yaml
  src/Capco/AppBundle/Resources/config/serialization/Consultation.yaml
  src/Capco/AppBundle/Resources/config/serialization/Opinion.yaml
  src/Capco/AppBundle/Resources/config/serialization/OpinionVersion.yaml
  src/Capco/AppBundle/Resources/config/serialization/OpinionVersionVote.yaml
  src/Capco/AppBundle/Resources/config/serialization/OpinionVote.yaml
  src/Capco/AppBundle/Resources/config/serialization/Project.yaml
  src/Capco/AppBundle/Resources/config/serialization/ProjectDistrictPositioner.yaml
  src/Capco/AppBundle/Resources/config/serialization/ProjectType.yaml
  src/Capco/AppBundle/Resources/config/serialization/Proposal.yaml
  src/Capco/AppBundle/Resources/config/serialization/Reply.yaml
  src/Capco/AppBundle/Resources/config/serialization/Source.yaml
  src/Capco/AppBundle/Resources/config/serialization/Steps.AbstractStep.yaml
  src/Capco/AppBundle/Resources/config/serialization/Theme.yaml
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/config/serialization/Entity.User.yml
Due: php, backend

[9039-API] Move and rename e2e test
  features/graphql-public/Consultation/Consultation_contributions.js
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalContribution.types.yaml
  src/Capco/UserBundle/Resources/config/serialization/Entity.User.yml
Due: php, backend

[9039-API] End Es mapping refacto
  features/graphql-public/Consultation/__snapshots__/Consultation_contributions.js.snap
  features/graphql-public/User/__snapshots__/User_contributions.js.snap
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/Entity/OpinionType.php
  src/Capco/AppBundle/Entity/Source.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserContributionResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yaml
  src/Capco/AppBundle/Resources/config/serialization/Consultation.yaml
  src/Capco/AppBundle/Resources/config/serialization/Opinion.yaml
  src/Capco/AppBundle/Resources/config/serialization/OpinionType.yaml
  src/Capco/AppBundle/Resources/config/serialization/ProposalSelectionVote.yaml
  src/Capco/AppBundle/Resources/config/serialization/Source.yaml
  src/Capco/AppBundle/Resources/config/serialization/SourceVote.yaml
  src/Capco/AppBundle/Resources/config/serialization/Steps.AbstractStep.yaml
Due: graphql, php, backend

[9039-API] Remodify ES mapping, fixing tests again
  features/graphql-public/Consultation/Consultation_contributions.js
  features/graphql-public/Consultation/__snapshots__/Consultation_contributions.js.snap
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Entity/CommentVote.php
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Entity/Theme.php
  src/Capco/AppBundle/Normalizer/EventNormalizer.php
  src/Capco/AppBundle/Normalizer/ProjectNormalizer.php
  src/Capco/AppBundle/Normalizer/ThemeNormalizer.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewArgument.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewOpinion.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewSource.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewVersion.types.yaml
  src/Capco/AppBundle/Resources/config/serialization/Argument.yaml
  src/Capco/AppBundle/Resources/config/serialization/Event.yaml
  src/Capco/AppBundle/Resources/config/serialization/Opinion.yaml
  src/Capco/AppBundle/Resources/config/serialization/Project.yaml
  src/Capco/AppBundle/Resources/config/serialization/Theme.yaml
  src/Capco/UserBundle/Resources/config/serialization/Entity.User.yml
Due: php, backend

[9039-API] Fix tests
  features/front/features/opinions.feature
  features/graphql-public/Consultation/__snapshots__/Consultation_contributions.js.snap
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/Entity/OpinionType.php
  src/Capco/AppBundle/GraphQL/Resolver/Consultation/ConsultationContributionsResolver.php
  src/Capco/AppBundle/Normalizer/OpinionTypeNormalizer.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Search/ContributionSearch.php
Due: graphql, php, backend

[5514-CONTEXT] Fixinf row length
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
Due: php, backend

[5514-CONTEXT] Updating snapshots after rebase
  __snapshots__/exports/croissance-innovation-disruption_collecte-des-avis.csv
  __snapshots__/exports/project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement_etape-participation-continue.csv
  __snapshots__/exports/projet-avec-beaucoup-dopinions_consultation-step-in-project-with-many-opinions.csv
  __snapshots__/exports/projet-de-loi-renseignement_elaboration-de-la-loi.csv
  __snapshots__/exports/projet-vide_projet.csv
  __snapshots__/exports/qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_consultation-step-in-private-project-admin-only.csv
  __snapshots__/exports/strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  __snapshots__/exports/strategie-technologique-de-letat-et-services-publics_etape-de-multi-consultation.csv
  __snapshots__/exports/transformation-numerique-des-relations_ma-futur-collecte-de-proposition.csv
  __snapshots__/exports/un-avenir-meilleur-pour-les-nains-de-jardins-custom-access_consultation-step-in-project-with-custom-access-group-2-3.csv
Due: none

[5514-CONTEXT] Changing according to specs
  __snapshots__/exports/croissance-innovation-disruption_collecte-des-avis.csv
  __snapshots__/exports/project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement_etape-participation-continue.csv
  __snapshots__/exports/projet-avec-beaucoup-dopinions_consultation-step-in-project-with-many-opinions.csv
  __snapshots__/exports/projet-de-loi-renseignement_elaboration-de-la-loi.csv
  __snapshots__/exports/projet-vide_projet.csv
  __snapshots__/exports/qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_consultation-step-in-private-project-admin-only.csv
  __snapshots__/exports/strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  __snapshots__/exports/strategie-technologique-de-letat-et-services-publics_etape-de-multi-consultation.csv
  __snapshots__/exports/transformation-numerique-des-relations_ma-futur-collecte-de-proposition.csv
  __snapshots__/exports/un-avenir-meilleur-pour-les-nains-de-jardins-custom-access_consultation-step-in-project-with-custom-access-group-2-3.csv
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
Due: php, backend

[FIX-EVENT] display sofdeleted event in fo
  __snapshots__/exports/2000bf1de571af7831e0725627d301c6.csv
  features/commands/export.feature
  fixtures/Dev/ConsultationStep.yaml
  fixtures/Dev/Project.yaml
  fixtures/Dev/ProjectAbstractStep.yaml
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/Controller/Site/EventController.php
  src/Capco/AppBundle/Resources/views/Blog/blockPost.html.twig
Due: php, backend

[5653-SERVICES] migrate aap services to config/packages/
  app/config/config.yml
  config/packages/cache.yaml
  config/packages/commands.yaml
  config/packages/controllers.yaml
  config/packages/data_collectors.yaml
  config/packages/data_fixtures.yaml
  config/packages/elasticsearch.yaml
  config/packages/forms.yaml
  config/packages/graphql_dataloaders.yaml
  config/packages/graphql_mutations.yaml
  config/packages/graphql_resolvers.yaml
  config/packages/helpers.yaml
  config/packages/listeners.yaml
  config/packages/makers.yaml
  config/packages/normalizers.yaml
  config/packages/notifiers.yaml
  config/packages/processors.yaml
  config/packages/repositories.yaml
  config/packages/resolvers.yaml
  config/packages/search.yaml
  config/packages/services.yaml
  config/packages/synthesis.yaml
  config/packages/twig.yaml
  config/packages/utils.yaml
  config/packages/validators.yaml
  config/packages/voters.yaml
  src/Capco/AppBundle/Command/ReinitCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/DependencyInjection/CapcoAppExtension.php
  src/Capco/AppBundle/Publishable/DoctrineListener.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/config/services/cache.yml
  src/Capco/AppBundle/Resources/config/services/controllers.yaml
  src/Capco/AppBundle/Resources/config/services/listeners.yml
  src/Capco/AppBundle/Resources/config/services/processors.yml
  src/Capco/AppBundle/Resources/config/services/twig.yml
  src/Capco/AppBundle/Resources/config/services/validators.yml
  src/Capco/AppBundle/Resources/config/validation.yml
  src/Capco/AppBundle/SiteImage/SiteFaviconProcessor.php
Due: php, backend

[5653-SERVICES] move user's services to config/packages/services.yaml
  config/packages/services.yaml
  src/Capco/UserBundle/DependencyInjection/CapcoUserExtension.php
  src/Capco/UserBundle/Resources/config/services.yml
Due: php, backend

[5653-SERVICES] fix user services
  app/config/config.yml
  config/packages/services.yaml
  src/Capco/UserBundle/DependencyInjection/CapcoUserExtension.php
  src/Capco/UserBundle/Resources/config/services.yml
Due: php, backend

[FIX-EVENT] display sofdeleted event in fo (#9576)
  fetch_translations.mjs
  package.json
  src/Capco/AppBundle/Controller/Site/EventController.php
Due: php, backend

[FIX-IE11] fix ie11 css
  frontend/js/components/Form/RadioButtons.js
Due: none

Merge pull request #9574 from cap-collectif/9101-limit-255
  __snapshots__/exports/2000bf1de571af7831e0725627d301c6.csv
  __snapshots__/exports/2e7424a61581f4a74f805abe26cc15f8.csv
  features/commands/export.feature
  features/front/features/project.feature
  features/graphql-public/query/__snapshots__/Query_projects.js.snap
  fixtures/Dev/ConsultationStep.yaml
  fixtures/Dev/Project.yaml
  fixtures/Dev/ProjectAbstractStep.yaml
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromProjectsContributorsCommand.php
Due: php, backend

[FIX-GEOJSON] allow altitude in geojson (#9587)
  frontend/js/services/GeoJsonValidator-test.js
  frontend/js/services/GeoJsonValidator.js
  src/Capco/AppBundle/Validator/Constraints/CheckGeoJsonValidator.php
Due: php, backend

Merge pull request #9540 from cap-collectif/5514-context-consultation
  __snapshots__/exports/croissance-innovation-disruption_collecte-des-avis.csv
  __snapshots__/exports/project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement_etape-participation-continue.csv
  __snapshots__/exports/projet-avec-beaucoup-dopinions_consultation-step-in-project-with-many-opinions.csv
  __snapshots__/exports/projet-de-loi-renseignement_elaboration-de-la-loi.csv
  __snapshots__/exports/projet-vide_projet.csv
  __snapshots__/exports/qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_consultation-step-in-private-project-admin-only.csv
  __snapshots__/exports/strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  __snapshots__/exports/strategie-technologique-de-letat-et-services-publics_etape-de-multi-consultation.csv
  __snapshots__/exports/transformation-numerique-des-relations_ma-futur-collecte-de-proposition.csv
  __snapshots__/exports/un-avenir-meilleur-pour-les-nains-de-jardins-custom-access_consultation-step-in-project-with-custom-access-group-2-3.csv
  features/graphql/query/projects.feature
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryProjectsResolver.php
  src/Capco/AppBundle/Search/Search.php
Due: graphql, php, backend

Add todo for SSO
  src/Capco/UserBundle/Controller/OauthConnectController.php
Due: php, backend
