Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

feat(SMS OTP): Switched to Orange provider by default (#17467)
  config/services.yaml
Due: none

Rector php 7.0 (#17555)
  rector.php
  spec/Capco/AppBundle/CivicIA/CivicIAMassUpdaterSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/AnalyseProposalAnalysisMutationSpec.php
  src/Capco/AdminBundle/Admin/Extension/TranslatableAdminExtension.php
  src/Capco/AdminBundle/Controller/CRUDController.php
  src/Capco/AdminBundle/Resolver/RecentContributionsResolver.php
  src/Capco/AppBundle/Command/GenerateMagicLinksFromCSVCommand.php
  src/Capco/AppBundle/Command/RemindUserAccountConfirmationBeforeStepCloseCommand.php
  src/Capco/AppBundle/Command/Serializer/DebateArgumentInterfaceNormalizer.php
  src/Capco/AppBundle/Controller/Site/DeveloperController.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchRabbitMQListener.php
  src/Capco/AppBundle/Model/UserActivity.php
  src/Capco/AppBundle/Search/ArgumentSearch.php
  src/Capco/AppBundle/Security/StepVoter.php
  src/DoctrineMigrations/Version20151204111931.php
  src/DoctrineMigrations/Version20221202104928.php
Due: php

chore (php): Use ?: instead of ?, where useful (#17553)
  rector.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateContactPageMutation.php
  src/Capco/AppBundle/Notifier/ContactNotifier.php
Due: graphql, php

fix: revert sonata post link to highlighted content (#17578)
  config/packages/admin.yaml
  config/packages/sonata_admin.yaml
  phpstan-baseline.neon
  src/Capco/AdminBundle/Admin/PostAdmin.php
  src/Capco/AdminBundle/Controller/PostController.php
  src/Capco/AdminBundle/Resources/views/Post/create.html.twig
  src/Capco/AdminBundle/Resources/views/Post/edit.html.twig
Due: php

fix presentation step creation/deletion (#17394)
  src/Capco/AppBundle/GraphQL/Mutation/UpdateNewProjectMutation.php
Due: graphql, php

fix snapshot (#17583)
  features/graphql-api/internal/mutation/Other/update/__snapshots__/updateNewProject.js.snap
Due: none

fix(CI): redis feature flags on test env (#17581)
  admin-next/utils/feature-flags-resolver.ts
  config/packages/test/services.yaml
  cypress/pages/admin/collectStep.ts
Due: none

remove NEXT_PUBLIC_SYMFONY_REDIS_PREFIX in condition (#17585)
  admin-next/utils/feature-flags-resolver.ts
Due: none

fix: enable feature toggle (#17590)
  infrastructure/services/remote/php-fpm/run
Due: none

fix: ui issues on analysis tool / timeless steps issue / ui issues on consultation / redirection on admin
  admin-next/components/Projects/ProjectConfig/ProjectConfigForm.tsx
  admin-next/components/Steps/ConsultationStep/ConsultationStepForm.tsx
  admin-next/components/Steps/OtherStep/OtherStepForm.tsx
  admin-next/components/Steps/QuestionnaireStep/QuestionnaireStepForm.tsx
  admin-next/shared/navbar/menu/NavBarMenu.tsx
  frontend/js/components/Analysis/AnalysisProjectPage/AnalysisProjectPage.style.ts
  frontend/js/components/Analysis/AnalysisProposalListRole/AnalysisProposalListRole.tsx
  frontend/js/components/Analysis/UserAnalystList/UserAnalystList.tsx
  frontend/js/components/Consultation/ConsultationPropositionStep.tsx
  frontend/js/components/Consultation/__snapshots__/ConsultationPropositionStep-test.tsx.snap
  frontend/js/components/Proposal/Page/MainContent/ProposalPageOfficialAnswer.tsx
  src/Resources/scss/modules/_nav.scss
Due: php, jest, flow

test(articlesBO): improve coverage (#17564)
  cypress/integration/post/post.cy.ts
  cypress/pages/admin/post.ts
Due: none

fix: fix redis method & switch user template (#17594)
  src/Capco/AppBundle/Controller/Site/SSOController.php
  src/Capco/AppBundle/Service/OpenIDBackchannel.php
  src/Capco/UserBundle/OpenID/OpenIDReferrerResolver.php
  src/Capco/UserBundle/Security/SessionWithJsonHandler.php
Due: php

rewrite with failed test (#17598)
  cypress/integration/consultation/consultationSonataBackOffice.cy.ts
  features/back/project/ConsultationAndProject/consultation.feature
Due: none

feat: Creation of a user list order by role without participants (#17463)
  features/graphql-api/internal/Query/Query_contributors.js
  features/graphql-api/internal/Query/__snapshots__/Query_contributors.js.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Enum/ContributorOrderField.php
  src/Capco/AppBundle/Enum/ContributorSearchField.php
  src/Capco/AppBundle/Enum/ContributorsRole.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/ContributorsResolver.php
  src/Capco/AppBundle/Repository/ParticipantRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ContributorOrderField.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ContributorsRole.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ContributorsSearchField.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/ContributorOrder.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/ContributorSearchInput.types.yaml
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php

improve proposalform categories images upload (#17532)
  admin-next/components/Steps/CollectStep/ProposalFormAdminCategories.tsx
  admin-next/components/Steps/CollectStep/ProposalFormAdminCategoriesModal.tsx
  admin-next/components/Steps/CollectStep/ProposalFormCategoryBackgroundPreview.tsx
  admin-next/mutations/HandleProposalFormCategoryImageMutation.ts
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/HandleProposalFormCategoryImageMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ProposalFormCategoryImageMutationAction.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/HandleProposalFormCategoryImageInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/HandleProposalFormCategoryImagePayload.types.yaml
Due: graphql, php

fix orga visibility when viewing other orga opinions (#17589)
  src/Capco/AppBundle/Search/OpinionSearch.php
Due: php

fix: redo link colours on twig base component (#17528)
  src/Capco/AppBundle/Resources/views/Blog/show.html.twig
  src/Capco/AppBundle/Resources/views/Default/custom.css.twig
  src/Capco/AppBundle/Resources/views/Homepage/custom_section.html.twig
  src/Capco/AppBundle/Resources/views/Page/charter.html.twig
  src/Capco/AppBundle/Resources/views/Page/show.html.twig
  src/Capco/AppBundle/Resources/views/Project/base.html.twig
  src/Capco/AppBundle/Resources/views/Step/presentation.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: php

e2e admin-next toggle fixed (#17599)
  admin-next/components/Steps/CollectStep/ProposalFormCategoryColor.tsx
  cypress/integration/backOfficeRework/consultationBO.cy.ts
  cypress/pages/admin/collectStep.ts
  cypress/pages/admin/post.ts
Due: none

[16455] Export debate > votes (#17370)
  __snapshots__/exports/debate/votes_debat-du-mois_pour-ou-contre-le-reconfinement.csv
  __snapshots__/exports/debate/votes_debat-du-mois_pour-ou-contre-le-reconfinement_simplified.csv
  __snapshots__/exports/debate/votes_debat-sur-le-cannabis_pour-ou-contre-la-legalisation-du-cannabis.csv
  __snapshots__/exports/debate/votes_debat-sur-le-cannabis_pour-ou-contre-la-legalisation-du-cannabis_simplified.csv
  __snapshots__/exports/debate/votes_debats-sur-la-vie_pourquoi-la-mort.csv
  __snapshots__/exports/debate/votes_debats-sur-la-vie_pourquoi-la-mort_simplified.csv
  __snapshots__/exports/debate/votes_debats-sur-la-vie_pourquoi-la-vie.csv
  __snapshots__/exports/debate/votes_debats-sur-la-vie_pourquoi-la-vie_simplified.csv
  __snapshots__/exports/debate/votes_projet-avec-administrateur-de-projet_debat-admin-projet.csv
  __snapshots__/exports/debate/votes_projet-avec-administrateur-de-projet_debat-admin-projet_simplified.csv
  config/packages/repositories.yaml
  cypress/integration/proposal/proposalPageFo.cy.ts
  infrastructure/services/local/cron/crontab
  infrastructure/services/remote/cron/crontab
  phpstan-baseline.neon
  src/Capco/AppBundle/Command/ExportDebateVotesCommand.php
  src/Capco/AppBundle/Command/Serializer/BaseNormalizer.php
  src/Capco/AppBundle/Command/Serializer/VoteNormalizer.php
  src/Capco/AppBundle/Command/Service/DebateExporter.php
  src/Capco/AppBundle/Command/Service/DebateVoteExporter.php
  src/Capco/AppBundle/Command/Service/FilePathResolver/VotesFilePathResolver.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Repository/DebateVoteRepository.php
  src/Capco/AppBundle/Traits/SnapshotCommandTrait.php
  tests/Command/ExportDebateVotesCommandTest.php
Due: php

chore(deps): bump php-http/client-common from 2.7.1 to 2.7.2 (#17612)
  composer.lock
Due: none

chore(deps): bump phpoffice/phpspreadsheet from 1.29.0 to 1.29.4 (#17604)
  composer.lock
Due: none

[16445] Export Questionnaire participants (#17355)
  __snapshots__/exports/questionnaire/participants_projet-avec-administrateur-de-projet_questionnaire-step-anonymous-project-owner.csv
  __snapshots__/exports/questionnaire/participants_projet-avec-administrateur-de-projet_questionnaire-step-anonymous-project-owner_simplified.csv
  __snapshots__/exports/questionnaire/participants_projet-avec-questionnaire-anonyme_questionnaire-step-anonymous.csv
  __snapshots__/exports/questionnaire/participants_projet-avec-questionnaire-anonyme_questionnaire-step-anonymous_simplified.csv
  __snapshots__/exports/questionnaire/participants_projet-avec-questionnaire_etape-de-questionnaire-fermee.csv
  __snapshots__/exports/questionnaire/participants_projet-avec-questionnaire_etape-de-questionnaire-fermee_simplified.csv
  __snapshots__/exports/questionnaire/participants_projet-avec-questionnaire_questionnaire-des-jo-2024.csv
  __snapshots__/exports/questionnaire/participants_projet-avec-questionnaire_questionnaire-des-jo-2024_simplified.csv
  __snapshots__/exports/questionnaire/participants_projet-avec-questionnaire_questionnaire.csv
  __snapshots__/exports/questionnaire/participants_projet-avec-questionnaire_questionnaire_simplified.csv
  __snapshots__/exports/questionnaire/participants_projet-pour-consolider-les-exports_questionnaire-export.csv
  __snapshots__/exports/questionnaire/participants_projet-pour-consolider-les-exports_questionnaire-export_simplified.csv
  __snapshots__/exports/questionnaire/participants_projet-pour-le-group2_questionnaire-step-pour-group2.csv
  __snapshots__/exports/questionnaire/participants_projet-pour-le-group2_questionnaire-step-pour-group2_simplified.csv
  __snapshots__/exports/questionnaire/participants_qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_questionnaire-step-pour-admins.csv
  __snapshots__/exports/questionnaire/participants_qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_questionnaire-step-pour-admins_simplified.csv
  public/export/.gitignore
  public/export/questionnaire/.gitignore
  src/Capco/AppBundle/Command/ExportQuestionnaireParticipantsCommand.php
  src/Capco/AppBundle/Command/Serializer/ReplyAnonymousParticipantNormalizer.php
  src/Capco/AppBundle/Command/Service/QuestionnaireParticipantExporter.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Repository/ReplyAnonymousRepository.php
  tests/Command/ExportQuestionnaireParticipantsCommandTest.php
  tests/Repository/ReplyAnonymousRepositoryTest.php
Due: php

refactoring proposal form model to use sync options (#17596)
  admin-next/components/Steps/CollectStep/ProposalFormListField.tsx
  admin-next/components/Steps/ProposalStep.type.ts
Due: none

Bump knplabs/gaufrette from 0.9.0 to 0.11.1 (#16116)
  composer.json
  composer.lock
Due: none

chore(deps): bump simplesamlphp/saml2 from 4.6.11 to 4.16.14 (#17619)
  composer.lock
Due: none

fix: upgrade libraries (#17542)
  yarn.lock
Due: none

fix: errors export preprod (#17639)
  rector.php
  src/Capco/AppBundle/Command/Serializer/OpinionReportingNormalizer.php
  src/Capco/AppBundle/Entity/Steps/DebateStep.php
Due: php

fix: adds requirementReasons on initial values (#17640)
  admin-next/components/Steps/CollectStep/CollectStepForm.tsx
  admin-next/components/Steps/CollectStep/CollectStepForm.utils.ts
  admin-next/components/Steps/ConsultationStep/ConsultationStepForm.tsx
  admin-next/components/Steps/QuestionnaireStep/QuestionnaireStepForm.tsx
  admin-next/components/Steps/QuestionnaireStep/utils.ts
  admin-next/components/Steps/SelectStep/SelectStepForm.tsx
  admin-next/components/Steps/SelectStep/SelectStepForm.utils.ts
Due: none

[16450] Export consultation participants (#17008)
  __snapshots__/exports/consultation/participants_croissance-innovation-disruption_collecte-des-avis.csv
  __snapshots__/exports/consultation/participants_croissance-innovation-disruption_collecte-des-avis_simplified.csv
  __snapshots__/exports/consultation/participants_project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement_etape-participation-continue.csv
  __snapshots__/exports/consultation/participants_project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement_etape-participation-continue_simplified.csv
  __snapshots__/exports/consultation/participants_projet-avec-beaucoup-dopinions_consultation-step-in-project-with-many-opinions.csv
  __snapshots__/exports/consultation/participants_projet-avec-beaucoup-dopinions_consultation-step-in-project-with-many-opinions_simplified.csv
  __snapshots__/exports/consultation/participants_projet-de-loi-renseignement_elaboration-de-la-loi.csv
  __snapshots__/exports/consultation/participants_projet-de-loi-renseignement_elaboration-de-la-loi_simplified.csv
  __snapshots__/exports/consultation/participants_projet-pour-consolider-les-exports_etape-de-multi-consultation-export.csv
  __snapshots__/exports/consultation/participants_projet-pour-consolider-les-exports_etape-de-multi-consultation-export_simplified.csv
  __snapshots__/exports/consultation/participants_qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_consultation-step-in-private-project-admin-only.csv
  __snapshots__/exports/consultation/participants_qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_consultation-step-in-private-project-admin-only_simplified.csv
  __snapshots__/exports/consultation/participants_strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  __snapshots__/exports/consultation/participants_strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie_simplified.csv
  __snapshots__/exports/consultation/participants_strategie-technologique-de-letat-et-services-publics_etape-de-multi-consultation.csv
  __snapshots__/exports/consultation/participants_strategie-technologique-de-letat-et-services-publics_etape-de-multi-consultation_simplified.csv
  __snapshots__/exports/consultation/participants_transformation-numerique-des-relations_ma-futur-collecte-de-proposition.csv
  __snapshots__/exports/consultation/participants_transformation-numerique-des-relations_ma-futur-collecte-de-proposition_simplified.csv
  __snapshots__/exports/consultation/participants_un-avenir-meilleur-pour-les-nains-de-jardins-custom-access_consultation-step-in-project-with-custom-access-group-2-3.csv
  __snapshots__/exports/consultation/participants_un-avenir-meilleur-pour-les-nains-de-jardins-custom-access_consultation-step-in-project-with-custom-access-group-2-3_simplified.csv
  features/commands/commands/export.feature
  infrastructure/services/local/cron/crontab
  infrastructure/services/remote/cron/crontab
  src/Capco/AppBundle/Command/ExportConsultationParticipantsCommand.php
  src/Capco/AppBundle/Command/Service/ConsultationParticipantExporter.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/UserBundle/Repository/UserRepository.php
  tests/Command/ExportConsultationParticipantsCommandTest.php
Due: php
