Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

fix indent (#19185)
  fixtures/Prod/SectionTranslation.yaml
Due: none

Upgrade node 20 (#19019)
  docker-compose.yaml
  infrastructure/environments/development.yml
  infrastructure/services/local/Dockerfile
  infrastructure/services/remote/Dockerfile
  package.json
Due: none

add condition + refactoring (#19198)
  src/Capco/UserBundle/Controller/MagicLinkController.php
Due: php

feat(depot): step vote comp (#18932)
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/VoteStepFiltersWeb.tsx
  admin-next/shared/proposal/ProposalStepUserVotesInfos.tsx
  admin-next/shared/proposal/ProposalStepUserVotesInfosTest.txt
Due: none

Add nvmrc file (#19212)
  .nvmrc
Due: none

fix(CI): temporarily comment out & fix flaky tests (#19209)
  cypress/cypress.config.ts
  cypress/e2e/backOffice/backOfficeRework/questionnaireStepBO.cy.ts
  cypress/e2e/backOffice/contributions/opinionVersions.cy.ts
  cypress/e2e/backOffice/contributions/opinions.cy.ts
  cypress/e2e/backOffice/contributions/sources.cy.ts
  cypress/e2e/backOffice/invitation/userInvite.cy.ts
  cypress/e2e/backOffice/moderation/arguments.cy.ts
  cypress/e2e/backOffice/moderation/moderation.cy.ts
  cypress/e2e/frontOffice/blog/blogPage.cy.ts
  cypress/e2e/frontOffice/contact/contactPage.cy.ts
  cypress/e2e/frontOffice/customPage/customPage.cy.ts
  cypress/e2e/frontOffice/debate/anonymousVote.cy.ts
  cypress/e2e/frontOffice/event/eventPage.cy.ts
  cypress/e2e/frontOffice/event/eventsList.cy.ts
  cypress/e2e/frontOffice/opinion/opinionArguments.cy.ts
  cypress/e2e/frontOffice/opinion/opinionVersion.cy.ts
  cypress/e2e/frontOffice/shield.cy.ts
  cypress/e2e/frontOfficeWorkflow/proposalCollectVoteWorkflow.cy.ts
  cypress/e2e/frontOfficeWorkflow/proposalSelectionVoteWorkflow.cy.ts
  cypress/pages/admin/user/userRegistration.ts
  cypress/pages/opinion.ts
  cypress/pages/proposal/proposalVoteListPage.ts
  cypress/support/dom.ts
Due: none

chore(nginx): increase max number of connections that nginx can handle in order to deal with high load (#19217)
  infrastructure/services/remote/nginx/nginx.conf
Due: none

fix varnish (#19213)
  config/packages/event_listeners.yaml
  infrastructure/services/remote/varnish/capco.vcl
  src/Capco/AppBundle/EventListener/AuthCacheSubscriber.php
Due: php

test(k6): add a rule in .gitignore for reports (#19220)
  .gitignore
Due: none

import consultation proposals improvements (#19188)
  config/packages/commands.yaml
  features/commands/commands/import.feature
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
Due: php

set varnish ttl to 1m (#19222)
  infrastructure/services/remote/varnish/capco.vcl
Due: none

feat(depot): vote popup (#19160)
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/VoteStepFiltersWeb.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalStepUserVotesInfosTest.txt
  admin-next/components/FrontOffice/Steps/VoteStep/StepUserVotesInfos.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepWebLayout.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VotesPopup/VotesPopup.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VotesPopup/VotesPopupCard.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VotesPopup/VotesPopupCardRanking.tsx
Due: none

test(cypress): add MailCatcher integration and use it in one test (#19138)
  cypress/@types/index.d.ts
  cypress/e2e/frontOffice/user/login.cy.ts
  cypress/pages/login.ts
  cypress/plugins/index.ts
  cypress/plugins/mailcatcher.ts
  cypress/support/index.ts
  cypress/support/mailcatcher.ts
  infrastructure/environments/base.yml
Due: none

Custom tasks checks (#19207)
  .gitignore
  .prettierignore
Due: none

feat(depot): ProposalList (#19147)
  admin-next/components/FrontOffice/ProposalCard/ProposalCard.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStep.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepEmptyList.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepProposalsList.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepWebLayout.tsx
  admin-next/shared/utils/filtersHelper.ts
Due: none

remove em clear (#19226)
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
Due: php

docs(ADR): custom code, translation keys, and various updates (#19227)
  ADR/001-custom_code.md
  ADR/001-frontend_packages_management.md
  ADR/001-git.md
  ADR/001-translation_keys_naming_convention.md
  ADR/adr-docs/README.md
Due: none

sort multi consult by createdAt ASC (#19236)
  src/Capco/AppBundle/Repository/ConsultationRepository.php
Due: php

fix magic link auth (#19232)
  src/Capco/UserBundle/Controller/MagicLinkController.php
Due: php

feat:(depot) proposal listaction (#19137)
  WARP.md
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/VoteStepFilters.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/VoteStepFiltersWeb.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/VoteStepMobileFilters.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepActionsModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepListActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepMobileActionBtn.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepMobileActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepQuickFilter.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStep.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepListHeader.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepWebLayout.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/utils.tsx
  admin-next/package.json
  admin-next/shared/footer/Footer.tsx
  frontend/js/components/Proposal/List/ProposalList.tsx
  frontend/js/components/Proposal/Preview/ProposalPreview.tsx
  package.json
  yarn.lock
Due: jest, flow

doc: ai tools instructions v6 (#19223)
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

feat(depot): proposal list map (#19237)
  admin-next/components/FrontOffice/ProposalCard/ProposalCard.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/ProposalMarker.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/VoteStepMap.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/VoteStepMapBoundsHandler.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/VoteStepMapContainer.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/VoteStepMapMarkers.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepListHeader.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepProposalsList.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepUserInfos.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepWebLayout.tsx
  admin-next/utils/leaflet.tsx
Due: none

test: add k6 tests for EELV + refactor benchmarks/ structure (#19163)
  .eslintignore
Due: none

test(command): writing PHPUnit useful tests instead of useless Behat ones (#19152)
  features/commands/commands/api.feature
  features/commands/commands/counters.feature
  features/commands/commands/generate.feature
  features/commands/commands/search.feature
  src/Capco/AppBundle/Command/Api/CreatePublicApiTokenCommand.php
  src/Capco/AppBundle/Command/Elasticsearch/PopulateIndexCommand.php
  src/Capco/AppBundle/Command/RecalculateUsersCountersCommand.php
  src/Capco/AppBundle/Elasticsearch/ElasticaToDoctrineTransformer.php
  src/Capco/AppBundle/Elasticsearch/IndexBuilder.php
  src/Capco/AppBundle/Elasticsearch/Indexer.php
  src/Capco/AppBundle/Entity/Opinion.php
  src/Capco/AppBundle/GraphQL/Resolver/Consultation/ConsultationSectionResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectAuthorsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalSelectionsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Section/SectionSectionResolver.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
  src/Capco/AppBundle/Resolver/ProjectStatsResolver.php
  src/Capco/AppBundle/Search/ContributionSearch.php
  src/Capco/AppBundle/Search/ReplySearch.php
  src/Capco/AppBundle/Search/Search.php
  src/Capco/AppBundle/Traits/NullableTextableTrait.php
  tests/Command/CreatePublicApiTokenCommandTest.php
  tests/Command/PopulateIndexCommandTest.php
  tests/Command/RecalculateUsersCountersCommandTest.php
Due: graphql, php

fix: add prod fixture that was missing (#19251)
  fixtures/Prod/Section.yaml
Due: none

fix(jodit): add rule to allow target on a element (#19224)
  config/packages/exercise_html_purifier.yaml
Due: none

fix(footer): remove hard code charte link (#19216)
  admin-next/shared/footer/Footer.tsx
  admin-next/shared/footer/__snapshots__/Footer.test.tsx.snap
Due: none

add delete warning modal in questions (#19106)
  admin-next/components/BackOffice/Steps/QuestionnaireStep/DeleteQuestionButton.tsx
  admin-next/components/BackOffice/Steps/QuestionnaireStep/QuestionnaireStepForm.tsx
  admin-next/components/BackOffice/Steps/QuestionnaireStep/QuestionnaireStepFormQuestionnaireTab.tsx
  admin-next/components/BackOffice/Steps/QuestionnaireStep/utils.ts
  src/Capco/AppBundle/GraphQL/Resolver/Question/QuestionResponsesResolver.php
Due: graphql, php

feat(depot): fix & small changes (#19249)
  admin-next/components/FrontOffice/ProposalCard/ProposalCard.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepMobileActionBtn.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepMobileActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStep.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepListHeader.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepProposalsList.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepUserInfos.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepWebLayout.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VotesPopup/VotesPopup.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VotesPopup/VotesPopupCard.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VotesPopup/VotesPopupCardRanking.tsx
  admin-next/src/app/project/[projectSlug]/test-collect/[stepSlug]/page.tsx
Due: none

Claude skills for frontend (#19282)
  .claude/skills/cartography/SKILL.md
  .claude/skills/form-mutation/SKILL.md
  .claude/skills/react-nextjs/SKILL.md
  .claude/skills/styling/SKILL.md
Due: none

test(Cypress): fix AGENTS.md instructions about admin-next / cypress env (#19285)
  AGENTS.md
Due: none

Filter activity logs user roles by enabled feature toggles (#19116)
  admin-next/components/BackOffice/ActivityLog/ActivityList.tsx
  config/packages/resolvers.yaml
  features/graphql-api/internal/Query/Query_appLog.js
  features/graphql-api/internal/Query/__snapshots__/Query_appLog.js.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Query/AppLogResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/AppLogUserRoleResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalAppLogConnection.types.yaml
Due: graphql, php

Fix project visibility for cloned project when original one has custom group (#19166)
  features/graphql-api/internal/ProjectOwner/__snapshots__/ProjectOwner_projects.js.snap
  features/graphql-api/internal/Query/__snapshots__/Query_projects.js.snap
  features/graphql-api/internal/mutation/duplicateProject.js
  features/graphql-api/public/Query/__snapshots__/Query_projects.js.snap
  fixtures/Dev/Project.yaml
  src/Capco/AppBundle/Service/CloneStepService.php
Due: php

C'est la nouvelle année ! 🥳 Elle commence sur un classique du développement... (#19298)
  frontend/js/components/Debate/Opinion/DebateOpinion-test.tsx
  frontend/js/components/Debate/Opinion/DebateOpinion.tsx
  frontend/js/components/Debate/Opinion/__snapshots__/DebateOpinion-test.tsx.snap
  frontend/js/components/Form/__snapshots__/DateDropDownPicker-test.tsx.snap
Due: jest, flow

doc: improve AI instructions for Cypress testting (#19293)
  AGENTS.md
Due: none

fix captcha (#19281)
  config/packages/services.yaml
  cypress/e2e/frontOffice/proposal/proposalPage.cy.ts
  src/Capco/AppBundle/Security/CaptchaChecker.php
Due: php

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
