Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

remove svg label in workflow uploader (#19833)
  admin-next/components/ParticipationWorkflow/MediaRequirementModal.tsx
  frontend/js/components/ParticipationWorkflow/MediaRequirementModal.tsx
Due: jest, flow

chore(deps): remove obsolete packages (#19813)
  doc/codeQuality.md
  package.json
  yarn.lock
Due: none

chore(deps): replace git dependency fetch (github/fetch) with whatwg-fetch from npm (#19822)
  frontend/js/app.ts
  package.json
  yarn.lock
Due: jest, flow

chore: use yarn-berry-compatible command syntax in scripts (#19869)
  package.json
Due: none

chore(ci): move cypress/yarn.lock to root lockfile (#19823)
  cypress/yarn.lock
Due: none

chore(docker/ci): install yarn via corepack from the packageManager field (#19868)
  infrastructure/services/local/Dockerfile
  infrastructure/services/remote/Dockerfile
Due: none

Fix proposal list navigation after anonymous submission (#19876)
  frontend/js/components/Proposal/Page/Header/ProposalPageHeader-test.tsx
  frontend/js/components/Proposal/Page/Header/ProposalPageHeader.tsx
Due: jest, flow

fix: handle requirements URL in proposal back navigation (#19882)
  frontend/js/components/Proposal/Page/Header/ProposalPageHeader-test.tsx
  frontend/js/components/Proposal/Page/Header/ProposalPageHeader.tsx
Due: jest, flow

test(Opinon): wait for vote modal to close in validateVoteMin to prevent flakiness (#19873)
  cypress/e2e/frontOffice/opinion/opinionVersion.cy.ts
  cypress/pages/proposal/proposalVoteListPage.ts
Due: none

chore: remove dead trad-analyser and trad-hook packages (#19871)
  AGENTS.md
  WARP.md
  package.json
  yarn.lock
Due: none

chore: remove unused cypress-intellij-reporter package (#19884)
  cypress/package.json
  yarn.lock
Due: none

test(cypress): migrate proposal moderation Behat tests (#19893)
  cypress/e2e/backOffice/moderation/proposalStatus.cy.ts
  cypress/pages/admin/proposal.ts
  features/back/moderation/proposal.feature
  src/Capco/AppBundle/Behat/Page/AdminProposalPage.php
  src/Capco/AppBundle/Behat/Traits/AdminProposalTrait.php
Due: none

test(api): migrate upload security tests from behat (#19888)
  features/api/upload.feature
  src/Capco/AppBundle/Behat/ApiContext.php
  tests/Controller/Api/MediasControllerTest.php
  tests/Controller/Api/fixtures/stored_xss
  tests/Controller/Api/fixtures/stored_xss.html
Due: none

chore: fix reducer ts errors on legacy (#19906)
  frontend/js/components/Admin/Emailing/EmailingCampaign/DashboardCampaign/DashboardCampaign.context.tsx
  frontend/js/components/Admin/Emailing/EmailingCampaign/DashboardCampaign/DashboardCampaign.reducer.ts
  frontend/js/components/Admin/Emailing/EmailingList/DashboardMailingList/DashboardMailingList.context.tsx
  frontend/js/components/Admin/Emailing/EmailingList/DashboardMailingList/DashboardMailingList.reducer.ts
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ProjectAdminDebate.context.tsx
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/ProjectAdminDebate.reducer.ts
  frontend/js/components/Admin/Project/ProjectAdminPage.context.tsx
  frontend/js/components/Admin/Project/ProjectAdminPage.reducer.ts
  frontend/js/components/Admin/Project/ProjectAdminParticipantTab/ProjectAdminParticipant.context.tsx
  frontend/js/components/Admin/Project/ProjectAdminParticipantTab/ProjectAdminParticipant.reducer.ts
  frontend/js/components/Analysis/AnalysisProjectPage/AnalysisProjectPage.context.tsx
  frontend/js/components/Analysis/AnalysisProjectPage/AnalysisProjectPage.reducer.ts
Due: jest, flow

test(cypress): remove covered project administration Behat tests (#19894)
  cypress/e2e/backOffice/project/project.cy.ts
  cypress/pages/admin/project.ts
  features/back/project/AlphaAndEvent/project.feature
  features/back/project/ProposalFormAndQuestionnaire/proposal_form.feature
  features/back/project/ProposalFormAndQuestionnaire/questionnaire.feature
  src/Capco/AppBundle/Behat/Page/AdminProjectListQuestionnairePage.php
  src/Capco/AppBundle/Behat/Page/AdminProjectQuestionnairePage.php
  src/Capco/AppBundle/Behat/Page/AdminProposalFormPage.php
  src/Capco/AppBundle/Behat/Traits/AdminProjectTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminProposalFormTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminQuestionnaireTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminTrait.php
Due: none

chore(admin-next): remove dead enableFeatureFlags/disableFeatureFlags (#19907)
  admin-next/tests/testUtils.tsx
Due: none

refactor: remove obsolete contribution deletion count (#19878)
  frontend/js/components/User/Admin/__snapshots__/UserAdminPage-test.tsx.snap
  frontend/js/components/User/DeleteAccountModal-test.tsx
  frontend/js/components/User/DeleteAccountModal.tsx
  frontend/js/components/User/__snapshots__/DeleteAccountModal-test.tsx.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/BaseDeleteUserMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserContributionsToDeleteCount.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
Due: graphql, php, jest, flow

19835 fixture bp for qa (#19836)
  fixtures/Qa/CollectStep.yaml
  fixtures/Qa/Project.yaml
  fixtures/Qa/ProjectAbstractStep.yaml
  fixtures/Qa/Proposal.yaml
  fixtures/Qa/ProposalForm.yaml
  fixtures/Qa/ProposalFormNotificationConfiguration.yaml
  fixtures/Qa/SelectionStep.yaml
  fixtures/Qa/Status.yaml
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
Due: php

fix: feedbacks & fix batch 2 (#19689)
  admin-next/components/FrontOffice/Leaflet/LocateAndZoomControl.tsx
  admin-next/components/FrontOffice/ProposalCard/ProposalCard.tsx
  admin-next/components/FrontOffice/ProposalCard/ProposalCardPlaceholder.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/VoteStepFiltersModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepListActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepQuickFilter.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/ProposalMarker.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/VoteStepMapContainer.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Map/VoteStepMapCustomEvents.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStep.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepUserInfos.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepWebLayout.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VotesPopup/VoteStepMobileVotesModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VotesPopup/VotesPopupCard.tsx
  admin-next/components/FrontOffice/VoteButton/VoteButton.tsx
  admin-next/src/app/project/[projectSlug]/test-collect/[stepSlug]/page.tsx
Due: none

fix: preserve closed contributions on account deletion (#19866)
  CONTEXT.md
  features/graphql-api/internal/Mutation/Account/__snapshots__/anonymizeAccountByEmail.js.snap
  features/graphql-api/internal/Mutation/Account/anonymizeAccountByEmail.js
  features/graphql-api/public/Mutation/__snapshots__/anonymizeAccountByEmail.js.snap
  features/graphql-api/public/Mutation/__snapshots__/deleteAccountByEmail.js.snap
  features/graphql-api/public/Mutation/anonymizeAccountByEmail.js
  features/graphql-api/public/Mutation/deleteAccountByEmail.js
  features/graphql-api/public/Query/__snapshots__/introspection.js.snap
  phpstan-baseline.neon
  schema.dev.graphql
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Command/BenchmarkAnonymizeAccountByEmailCommand.php
  src/Capco/AppBundle/Command/Migrations/FindDuplicatesSsoUsersCommand.php
  src/Capco/AppBundle/Controller/Site/DeveloperController.php
  src/Capco/AppBundle/Enum/AnonymizeAccountByEmailErrorCode.php
  src/Capco/AppBundle/GraphQL/Mutation/AnonymizeAccountByEmailMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/BaseAccountAnonymizationMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteAccountMutation.php
  src/Capco/AppBundle/Resources/config/graphql/preview/PreviewMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/enums/PreviewAnonymizeAccountByEmailErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/enums/PreviewDeleteAccountByEmailErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/mutations/PreviewAnonymizeAccountByEmailInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/mutations/PreviewAnonymizeAccountByEmailPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/mutations/PreviewDeleteAccountByEmailInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/mutations/PreviewDeleteAccountByEmailPayload.types.yaml
  src/Capco/AppBundle/Resources/views/Developer/guides.html.twig
  src/Capco/AppBundle/Resources/views/Developer/guides/anonymize-account-by-email.html.twig
  src/Capco/AppBundle/Resources/views/Developer/guides/delete-account-by-email.html.twig
  tests/Mutation/AnonymizeAccountByEmailMutationTest.php
Due: graphql, php

feat: switch Orange SMS access token URL to v2 (#19918)
  src/Capco/AppBundle/Helper/OrangeClient.php
Due: php

test(consumers): migrate indexation and archive Behat tests (#19891)
  .yarnrc
  __snapshots__/rgpd_user_archives/user1/questions.csv
  features/commands/consumers/elasticsearch.feature
  features/commands/consumers/user_archive.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  tests/Elasticsearch/IndexationProcessorTest.php
  tests/Processor/UserArchive/UserArchiveRequestProcessorTest.php
Due: none

test(cypress): migrate user account Behat tests (#19895)
  cypress/@types/index.d.ts
  cypress/e2e/frontOffice/newsletter/newsletter.cy.ts
  cypress/e2e/frontOffice/user/account.cy.ts
  cypress/support/auth.ts
  features/front/user/split1/choose_username.feature
  features/front/user/split1/members.feature
  features/front/user/split1/notifications.feature
  features/front/user/split2/reset_password.feature
  src/Capco/AppBundle/Behat/UserContext.php
Due: none

test(cypress): migrate user profile Behat coverage (#19913)
  cypress/e2e/frontOffice/user/profile.cy.ts
  features/front/user/split2/profile.feature
  features/front/user/split2/profile_disabled.feature
  phpstan-baseline.neon
  src/Capco/AppBundle/Behat/Page/ChangePasswordPage.php
  src/Capco/AppBundle/Behat/Page/ManageFollowingsPage.php
  src/Capco/AppBundle/Behat/Page/ManagePersonalDataPage.php
Due: none

test(cypress): migrate public pages Behat coverage (#19910)
  cypress/e2e/backOffice/moderation/moderation.cy.ts
  cypress/e2e/frontOffice/publicPages/tokenRoutes.cy.ts
  features/front/pages/actionToken.feature
  features/front/pages/debateArgument.feature
  features/front/pages/moderation.feature
  features/front/pages/project_trash.feature
  features/front/pages/widget.feature
  tests/Controller/Site/ModerationControllerTest.php
Due: none

test(jest): migrate opinion and report Behat coverage (#19915)
  features/graphql-api/internal/Mutation/Opinion/createOpinion.js
  features/graphql-api/internal/Mutation/report.js
  features/graphql/mutation/front/other/createOpinion.feature
  features/graphql/mutation/front/other/report.feature
  tests/Mutation/CreateOpinionMutationTest.php
Due: none

test(cypress): migrate proposal creation and news Behat coverage (#19908)
  cypress/@types/index.d.ts
  cypress/e2e/frontOffice/proposal/proposalPage.cy.ts
  cypress/support/auth.ts
  features/front/bp/proposal_crud.feature
  features/front/bp/proposal_news.feature
  src/Capco/AppBundle/Behat/Page/ProposalPage.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  tests/Notifier/ProposalNotifierTest.php
Due: none

chore: migrate to Yarn 4 (Berry) (#19887)
  .gitignore
  .yarnclean
  .yarnrc
  .yarnrc.yml
  AGENTS.md
  admin-next/.eslintrc
  admin-next/global.d.ts
  admin-next/package.json
  admin-next/run.sh
  admin-next/src/app/Providers.tsx
  admin-next/utils/providers.tsx
  admin-next/utils/relay-environement.ts
  doc/codeQuality.md
  frontend/js/components/Admin/Emailing/EmailingParameters/ModalAddEmailSender/__snapshots__/ModalAddEmailSender-test.tsx.snap
  frontend/js/components/Admin/Emailing/EmailingParameters/SectionEmailNotification/__snapshots__/SectionEmailNotification-test.tsx.snap
  frontend/js/components/Requirements/__snapshots__/RequirementsFormLegacy-test.tsx.snap
  package.json
  yarn.lock
Due: jest, flow

chore: document sonata migrations (#19955)
  REFONTE_SONATA.md
Due: none

test(cypress): migrate proposal interaction Behat coverage (#19909)
  cypress/@types/index.d.ts
  cypress/e2e/frontOffice/proposal/proposalPage.cy.ts
  cypress/support/auth.ts
  features/front/bp/proposal_comment.feature
  features/front/bp/proposal_follow.feature
  features/front/bp/proposal_reporting.feature
  features/front/bp/proposal_sharing.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Traits/ReportingStepsTrait.php
  src/Capco/AppBundle/Behat/Traits/SharingStepsTrait.php
  tests/Controller/Site/ModerationControllerTest.php
  tests/Notifier/CommentNotifierTest.php
Due: none

Replace collect step email requirement with SSO (#19958)
  admin-next/components/BackOffice/Projects/CreateProject/ConfigureParticipatoryBudgetAnalysisInput.ts
  admin-next/components/BackOffice/Projects/CreateProject/ConfigureParticipatoryBudgetInput.ts
  admin-next/components/BackOffice/Projects/CreateProject/ConfigureProjectInputs.test.ts
  admin-next/components/BackOffice/Projects/CreateProject/ConfigurePublicConsultationInput.ts
  admin-next/components/BackOffice/Projects/CreateProject/ConfigurePublicInquiryInput.ts
  admin-next/components/BackOffice/Projects/CreateProject/CreateProjectForm.tsx
  features/graphql-api/internal/Mutation/Step/addCollectStep.js
  src/Capco/AppBundle/GraphQL/Mutation/Step/AddCollectStepMutation.php
  src/DoctrineMigrations/Version20260729120000.php
Due: graphql, php

test(cypress): stabilize newsletter captcha test (#19964)
  cypress/e2e/frontOffice/newsletter/newsletter.cy.ts
Due: none

fix(cypress): handle ResizeObserver errors in hooks (#19970)
  cypress/support/index.ts
Due: none

test(jest): migrate proposal mutation Behat coverage (#19914)
  cypress/cypress.config.ts
  features/graphql-api/internal/Mutation/Proposal/applyProposalStatus.js
  features/graphql-api/internal/Mutation/Proposal/createProposal.js
  features/graphql-api/internal/Mutation/Proposal/followProposal.js
  features/graphql-api/internal/Mutation/Proposal/selectProposal.js
  features/graphql/mutation/front/delete/deleteProposal.feature
  features/graphql/mutation/front/other/applyProposalStatus.feature
  features/graphql/mutation/front/other/createProposal.feature
  features/graphql/mutation/front/other/followProposal.feature
  features/graphql/mutation/front/other/selectProposal.feature
  features/graphql/mutation/front/other/unfollowProposal.feature
  tests/Mutation/CreateProposalMutationTest.php
Due: none

test(jest): migrate account configuration Behat tests (#19966)
  cypress/e2e/frontOffice/publicPages/tokenRoutes.cy.ts
  cypress/e2e/frontOffice/user/login.cy.ts
  features/graphql-api/internal/Mutation/Locale/setDefaultLocale.js
  features/graphql-api/internal/Mutation/Locale/setUserDefaultLocale.js
  features/graphql-api/internal/Mutation/Organization/leaveOrganization.js
  features/graphql-api/internal/Mutation/Other/register.js
  features/graphql-api/internal/Mutation/Other/registerEmailDomains.js
  features/graphql-api/internal/Mutation/Other/requestUserArchive.js
  features/graphql/mutation/front/other/leaveOrganization.feature
  features/graphql/mutation/front/other/registerEmailDomains.feature
  features/graphql/mutation/front/other/registration.feature
  features/graphql/mutation/front/other/requestUserArchive.feature
  features/graphql/mutation/front/other/setDefaultLocale.feature
  features/graphql/mutation/front/other/setUserDefaultLocale.feature
  jest-setup.e2e.js
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryHomePageSectionsResolver.php
Due: graphql, php

test(cypress): migrate proposal search Behat coverage (#19912)
  cypress/e2e/frontOffice/proposal/proposalSearch.cy.ts
  features/front/bp/proposal_search.feature
Due: none

test(cypress): retain project administration journeys (#19919)
  admin-next/components/BackOffice/Steps/QuestionnaireStep/QuestionnaireStepFormJumpsTab.tsx
  admin-next/components/BackOffice/Steps/QuestionnaireStep/QuestionnaireStepFormQuestionnaireTab.tsx
  cypress/e2e/backOffice/backOfficeRework/questionnaireStepBO.cy.ts
  cypress/e2e/backOffice/project/project.cy.ts
  cypress/e2e/backOffice/proposalPage/proposalFormAdmin.cy.ts
  cypress/pages/admin/questionnaireStep.ts
  frontend/js/components/Question/SectionQuestionAdminModal.tsx
  frontend/js/components/Question/SubSectionQuestionAdminModal.tsx
Due: jest, flow

test: migrate command Behat scenarios to PHPUnit (#19967)
  behat.yml
  composer.json
  composer.lock
  features/commands/commands/import.feature
  features/commands/commands/migration.feature
  features/commands/commands/toggles.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/ExportContext.php
  src/Capco/AppBundle/Behat/FileSystemContext.php
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/Repository/ReplyRepository.php
  tests/Command/DatabaseCommandTestCase.php
  tests/Command/FeatureToggleCommandTest.php
  tests/Command/GenerateCSVFromProposalFormCommandTest.php
  tests/Command/ImportCommandsTest.php
  tests/Command/LoadProdDataCommandTest.php
Due: php
