Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

Merge pull request #8952 from cap-collectif/8934-unindex-related-orphan-data
  src/Capco/AppBundle/Entity/AbstractVote.php
  src/Capco/AppBundle/Entity/Comment.php
Due: php, backend

Found some user connection attempt issues (#8866)
  app/DoctrineMigrations/Version20191003143713.php
  app/config/config.yml
  features/api/login.feature
  spec/Capco/AppBundle/EventListener/AuthenticationHandlerSpec.php
  src/Capco/AppBundle/Entity/UserConnection.php
  src/Capco/AppBundle/EventListener/AuthenticationHandler.php
  src/Capco/AppBundle/EventListener/AuthenticationListener.php
  src/Capco/AppBundle/EventListener/PriorAuthenticationHandler.php
  src/Capco/AppBundle/Repository/UserConnectionRepository.php
  src/Capco/AppBundle/Resources/config/services.yml
Due: php, backend

- Removed arguments count field from User entity
  app/DoctrineMigrations/Version20191004092347.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserContributionsCountResolver.php
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
Due: graphql, php, backend

- Fixed UserArgumentsResolve to take in account GraphQL context to get correct results when in export
  schema.internal.graphql
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserArgumentsResolver.php
  src/Capco/AppBundle/Repository/ArgumentRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
  src/Capco/UserBundle/Entity/User.php
Due: graphql, php, backend

- Removed computing of `u.argumentsCount` in `RecalculateUsersCountersCommand`
  src/Capco/AppBundle/Command/RecalculateUsersCountersCommand.php
Due: php, backend

- Fixed tests
  __snapshots__/exports/users.csv
  __snapshots__/rgpd_user_archives/user1/user.csv
  __snapshots__/rgpd_user_archives/user5/user.csv
  __snapshots__/rgpd_user_archives/userAdmin/user.csv
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
Due: php, backend

- Removed dockblock
  src/Capco/AppBundle/GraphQL/Resolver/User/UserContributionsCountResolver.php
Due: graphql, php, backend

Fix migration Version20190930164116
  app/DoctrineMigrations/Version20190930164116.php
Due: none

Fix France Connect in local dev env.
  app/config/hwi_oauth.yml
  app/config/security.yml
  infrastructure/environments/base.yml
  infrastructure/services/local/nginx/nginx.conf
  src/Capco/UserBundle/FranceConnect/FranceConnectResourceOwner.php
  src/Capco/UserBundle/Resources/config/services.yml
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
Due: php, backend

Refactor LogoutSuccessHandler.
  src/Capco/UserBundle/FranceConnect/FranceConnectResourceOwner.php
  src/Capco/UserBundle/Resources/config/services.yml
  src/Capco/UserBundle/Security/Http/Logout/Handler/BasicAuthLogoutHandler.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/FranceConnectLogoutHandler.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/LogoutHandlerInterface.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/OpenIDLogoutHandler.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/ParisLogoutHandler.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/RedirectResponseWithRequest.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/SAMLLogoutHandler.php
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
Due: php, backend

Add spec tests for OpenID and France Connect logout handlers.
  spec/Capco/UserBundle/Security/Core/User/MonCompteParisUserProviderSpec.php
  spec/Capco/UserBundle/Security/Http/Logout/Handler/FranceConnectLogoutHandlerSpec.php
  spec/Capco/UserBundle/Security/Http/Logout/Handler/OpenIDLogoutHandlerSpec.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/OpenIDLogoutHandler.php
Due: php, backend

Use env instance name to active authorized callback url for FC.
  src/Capco/UserBundle/FranceConnect/FranceConnectResourceOwner.php
Due: php, backend

[8976-FIX] Fix for position on consultation.
  app/DoctrineMigrations/Version20190930164116.php
  app/config/hwi_oauth.yml
  app/config/security.yml
  infrastructure/environments/base.yml
  infrastructure/services/local/nginx/nginx.conf
  spec/Capco/UserBundle/Security/Core/User/MonCompteParisUserProviderSpec.php
  spec/Capco/UserBundle/Security/Http/Logout/Handler/FranceConnectLogoutHandlerSpec.php
  spec/Capco/UserBundle/Security/Http/Logout/Handler/OpenIDLogoutHandlerSpec.php
  src/Capco/AppBundle/Search/OpinionSearch.php
  src/Capco/UserBundle/FranceConnect/FranceConnectResourceOwner.php
  src/Capco/UserBundle/Resources/config/services.yml
  src/Capco/UserBundle/Security/Http/Logout/Handler/BasicAuthLogoutHandler.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/FranceConnectLogoutHandler.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/LogoutHandlerInterface.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/OpenIDLogoutHandler.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/ParisLogoutHandler.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/RedirectResponseWithRequest.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/SAMLLogoutHandler.php
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
Due: php, backend

[8976-FIX] Fix for position on consultation. (#8977)
  app/DoctrineMigrations/Version20190930164116.php
Due: none

[1990] Put event form in modal
  app/Resources/js/components/Event/Admin/Form/EventAdminFormPage.js
  app/Resources/js/components/Event/Create/EventCreateModal.js
  app/Resources/js/components/Event/EventPageHeader.js
  app/Resources/js/components/Event/EventPreview.js
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Utils/LoginOverlay.js
  app/Resources/js/redux/modules/event.js
  src/Capco/AppBundle/Resources/views/Event/index.html.twig
Due: php, jest, flow, backend, frontend

1990 - move event admin form files to event since its now used frontsid
  app/Resources/js/components/Event/Admin/EventAdmin.js
  app/Resources/js/components/Event/Create/EventCreateModal.js
  app/Resources/js/components/Event/EventPageHeader-test.js
  app/Resources/js/components/Event/EventPageHeader.js
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Form/EventFormPage-test.js
  app/Resources/js/components/Event/Form/EventFormPage.js
  app/Resources/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  app/Resources/js/components/Event/Form/__snapshots__/EventFormPage-test.js.snap
  app/Resources/js/components/Event/__snapshots__/EventPageHeader-test.js.snap
  app/Resources/js/components/Utils/SelectProject.js
  app/Resources/js/components/Utils/SelectTheme.js
  app/Resources/js/mutations/AddEventMutation.js
  app/Resources/js/redux/modules/event.js
  app/Resources/js/startup/EventFormPageApp.js
  features/front/features/event.feature
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewEvent.types.yml
  webpack/webpack.client.js
Due: php, jest, flow, backend, frontend

1990 - write tests for event creation frontside (incomplete)
  app/Resources/js/components/Event/Create/EventCreateModal-test.js
  app/Resources/js/components/Event/Create/__snapshots__/EventCreateModal-test.js.snap
  app/Resources/js/components/Event/EventPageHeader-test.js
  app/Resources/js/components/Event/EventPageHeader.js
  app/Resources/js/components/Event/__snapshots__/EventPageHeader-test.js.snap
  app/Resources/js/registration.js
  features/front/features/event.feature
  webpack/webpack.client.js
Due: jest, flow, frontend

1990 - use state instead of redux for modal open/close handling
  app/Resources/js/components/Event/Create/EventCreateModal-test.js
  app/Resources/js/components/Event/Create/EventCreateModal.js
  app/Resources/js/components/Event/Create/__snapshots__/EventCreateModal-test.js.snap
  app/Resources/js/components/Event/EventPageHeader-test.js
  app/Resources/js/components/Event/EventPageHeader.js
  app/Resources/js/redux/modules/event.js
Due: jest, flow, frontend

1990 - update tests with correct instructions
  features/front/features/event.feature
Due: none

[1990-CREER] Change event creation redirect condition
  app/Resources/js/components/Event/Form/EventFormPage.js
Due: jest, flow, frontend

[1990-CREER] change placement from string to enum on loginoverlay
  app/Resources/js/components/Utils/LoginOverlay.js
Due: jest, flow, frontend

[1990-CREER] change isfront to isfrontenview prop for clarity
  app/Resources/js/components/Event/Create/EventCreateModal.js
  app/Resources/js/components/Event/Create/__snapshots__/EventCreateModal-test.js.snap
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Form/EventFormPage.js
Due: jest, flow, frontend

[1990-CREER] use url instead of slug on event redirect
  app/Resources/js/components/Event/Form/EventForm.js
  app/Resources/js/components/Event/Form/EventFormPage.js
  app/Resources/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  app/Resources/js/components/Event/Form/__snapshots__/EventFormPage-test.js.snap
  app/Resources/js/mutations/AddEventMutation.js
Due: jest, flow, frontend

[1990-CREER] remove slug of event in preview.graphql as we now use the url
  schema.preview.graphql
Due: none

[1990-CREER] use var for google maps key
  src/Capco/AppBundle/Resources/views/Event/index.html.twig
Due: php, backend

[1990-CREER] remove event slug on yml type
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewEvent.types.yml
Due: php, backend

[1990-CREER] removes autoriser les commentaires in frontend view for events
  app/Resources/js/components/Event/Form/EventForm.js
Due: jest, flow, frontend

[1990-CREER] typage strict
  app/Resources/js/components/Event/EventPageHeader.js
Due: jest, flow, frontend

Fix France Connect in local dev env (#8964)
  app/config/hwi_oauth.yml
  app/config/security.yml
  infrastructure/environments/base.yml
  infrastructure/services/local/nginx/nginx.conf
  spec/Capco/UserBundle/Security/Core/User/MonCompteParisUserProviderSpec.php
  spec/Capco/UserBundle/Security/Http/Logout/Handler/FranceConnectLogoutHandlerSpec.php
  spec/Capco/UserBundle/Security/Http/Logout/Handler/OpenIDLogoutHandlerSpec.php
  src/Capco/UserBundle/FranceConnect/FranceConnectResourceOwner.php
  src/Capco/UserBundle/Resources/config/services.yml
  src/Capco/UserBundle/Security/Http/Logout/Handler/BasicAuthLogoutHandler.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/FranceConnectLogoutHandler.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/LogoutHandlerInterface.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/OpenIDLogoutHandler.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/ParisLogoutHandler.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/RedirectResponseWithRequest.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/SAMLLogoutHandler.php
  src/Capco/UserBundle/Security/Http/Logout/LogoutSuccessHandler.php
Due: php, backend

[7903] wrap popover component, change imports
  app/Resources/js/components/Event/List/EventListStatusFilter.js
  app/Resources/js/components/Filters/FiltersContainer.js
  app/Resources/js/components/Form/ReactBootstrapInput.js
  app/Resources/js/components/Opinion/Follow/OpinionFollowButton.js
  app/Resources/js/components/Opinion/Follow/__snapshots__/OpinionFollowButton-test.js.snap
  app/Resources/js/components/Project/Votes/ProposalUserVoteItem.js
  app/Resources/js/components/Proposal/Follow/ProposalFollowButton.js
  app/Resources/js/components/Publishable/UnpublishedLabel.js
  app/Resources/js/components/Publishable/__snapshots__/UnpublishedLabel-test.js.snap
  app/Resources/js/components/Synthesis/Divide/DivideModal.js
  app/Resources/js/components/Ui/Button/DeleteButtonPopover.js
  app/Resources/js/components/Ui/Button/__snapshots__/DeleteButtonPopover-test.js.snap
  app/Resources/js/components/User/Profile/PersonalData.js
  app/Resources/js/components/User/Profile/__snapshots__/PersonalData-test.js.snap
  app/Resources/js/components/User/UserPasswordComplexityUtils.js
  app/Resources/js/components/User/__snapshots__/UserPasswordComplexityUtils-test.js.snap
  app/Resources/js/components/Utils/LoginOverlay.js
  app/Resources/js/components/Utils/Popover.js
  app/Resources/js/components/Utils/__snapshots__/LoginOverlay-test.js.snap
Due: jest, flow, frontend

[7903] upgrade react-intl: removes formatting for non-string messages
  yarn.lock
Due: none

7903 - update intl from fork
  yarn.lock
Due: none

7903 remove getWrappedInstance for forwardedRef
  app/Resources/js/components/Proposal/List/ProposalListSearch.js
Due: jest, flow, frontend

7903 upgrade intl to check circular json
  yarn.lock
Due: none

7903 - fix storybook, write render test for wrapper (tooltip and popover)
  app/Resources/js/components/Opinion/OpinionBodyDiffModal.js
  app/Resources/js/components/Opinion/OpinionInfos.js
  app/Resources/js/components/Opinion/Votes/OpinionUserVote.js
  app/Resources/js/components/Project/Page/RenderCustomAccess.js
  app/Resources/js/components/Project/Page/RenderPrivateAccess.js
  app/Resources/js/components/Project/Page/__snapshots__/RenderCustomAccess-test.js.snap
  app/Resources/js/components/Project/Page/__snapshots__/RenderPrivateAccess-test.js.snap
  app/Resources/js/components/Project/Preview/ProjectPreviewBody.js
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewBody-test.js.snap
  app/Resources/js/components/Publishable/UnpublishedTooltip.js
  app/Resources/js/components/Publishable/__snapshots__/UnpublishedTooltip-test.js.snap
  app/Resources/js/components/Synthesis/View/ViewElement.js
  app/Resources/js/components/Ui/Labels/CroppedLabel.js
  app/Resources/js/components/User/Profile/PersonalData.js
  app/Resources/js/components/User/Profile/__snapshots__/PersonalData-test.js.snap
  app/Resources/js/components/User/UserAvatarList.js
  app/Resources/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  app/Resources/js/components/Utils/PinnedLabel.js
  app/Resources/js/components/Utils/Popover-test.js
  app/Resources/js/components/Utils/Tooltip-test.js
  app/Resources/js/components/Utils/Tooltip.js
  app/Resources/js/components/Utils/VotesBar.js
  app/Resources/js/components/Utils/__snapshots__/PinnedLabel-test.js.snap
  app/Resources/js/components/Utils/__snapshots__/Popover-test.js.snap
  app/Resources/js/components/Utils/__snapshots__/Tooltip-test.js.snap
Due: jest, flow, frontend

7903: update filename in bundlesize script
  package.json
Due: none

7903 - use react-intl-v3 from capco repo - tarball
  package.json
  yarn.lock
Due: none

7903: test intl3 with a few hooks, had to adapt jest.setup
  app/Resources/js/components/Comment/__snapshots__/CommentForm-test.js.snap
  app/Resources/js/components/Navbar/__snapshots__/NavbarRight-test.js.snap
  app/Resources/js/components/Page/__snapshots__/ShieldPage-test.js.snap
  app/Resources/js/components/Reply/Form/__snapshots__/ReplyCreateFormWrapper-test.js.snap
  app/Resources/js/components/User/Login/LoginButton-test.js
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/components/Utils/__snapshots__/LoginOverlay-test.js.snap
  app/Resources/js/components/Utils/__snapshots__/VisibilityBox-test.js.snap
  flow-typed/npm/react-intl_v3.x.x.js
  jest-setup.js
Due: jest, flow, frontend
