Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

fix: remove fork react dropdown date (#18646)
  cypress/e2e/frontOffice/newsletter/newsletter.cy.ts
  frontend/js/components/Form/DateDropdownPicker.tsx
  frontend/js/components/Form/__snapshots__/DateDropDownPicker-test.tsx.snap
  frontend/js/components/User/Profile/PersonalData.tsx
  package.json
  src/Resources/scss/modules/_profile.scss
  yarn.lock
Due: php, jest, flow

Convert utf8 columns to utf8_mb4 to support emojies (#18777)
  config/packages/doctrine.yaml
  src/DoctrineMigrations/Version20250926085728.php
Due: php

fix(projects): re-add function to scroll to invalid response (#18805)
  frontend/js/components/Reply/Form/ReplyForm.tsx
Due: jest, flow

fix(proposal): heading order (#18834)
  frontend/js/components/Proposal/Page/Aside/ProposalPageAdvancement.tsx
  frontend/js/components/Proposal/Page/Aside/ProposalPageVoteThreshold.tsx
  frontend/js/components/Proposal/Page/Aside/ProposalSocialNetworkLinks.tsx
  frontend/js/components/Proposal/Page/Aside/__snapshots__/ProposalPageAdvancement-test.tsx.snap
  frontend/js/components/Proposal/Page/Aside/__snapshots__/ProposalPageVoteThreshold-test.tsx.snap
  frontend/js/components/Proposal/Page/MainContent/NewProposalResponse.tsx
  frontend/js/components/Proposal/Page/MainContent/ProposalPageCustomSections.tsx
  frontend/js/components/Proposal/Page/MainContent/ProposalPageDescription.tsx
  frontend/js/components/Proposal/Page/MainContent/ProposalPageDiscussions.tsx
  frontend/js/components/Proposal/Page/MainContent/ProposalPageLocalisation.tsx
  frontend/js/components/Proposal/Page/MainContent/ProposalPageNews.tsx
  frontend/js/components/Proposal/Page/MainContent/ProposalPageOfficialAnswer.tsx
  frontend/js/components/Proposal/Page/MainContent/__snapshots__/ProposalPageLocalisation-test.tsx.snap
  frontend/js/components/Proposal/Page/MainContent/__snapshots__/ProposalPageNews-test.tsx.snap
  frontend/js/components/Proposal/Page/MainContent/__snapshots__/ProposalPageOfficialAnswer-test.tsx.snap
  frontend/js/components/Proposal/Page/ProposalPage.style.ts
Due: jest, flow

fix: behat cypress user registration & confirmation (#18853)
  cypress/e2e/user/user.cy.ts
  cypress/pages/admin/user/userRegistration.ts
  features/front/user/split1/confirmation.feature
  features/front/user/split2/registration.feature
Due: none

Apply charset on table instead of specifics columns (#18861)
  src/DoctrineMigrations/Version20250926085728.php
Due: php

ignore anonymous participants (#18864)
  admin-next/shared/projectCard/ProjectCard.tsx
Due: none

use step label instead of title (#18842)
  admin-next/components/BackOffice/Projects/ProjectModalExportSteps.tsx
Due: none

Fix join tables with EAGER relation in Doctrine 3.3 (#18846)
  config/packages/event_listeners.yaml
Due: none

chore: reorganize cypress folders/tests (#18874)
  cypress/e2e/backOffice/activityLog/activityLog.cy.ts
  cypress/e2e/backOffice/invitation/userInvite.cy.ts
  cypress/e2e/backOffice/project/projectsAsOrganization.cy.ts
  cypress/e2e/backOffice/proposalPage/proposalFormAsOrganization.cy.ts
  cypress/e2e/backOffice/proposalPage/updateProposal.cy.ts
  cypress/e2e/backOffice/questionnaire/questionnaireAsOrganization.cy.ts
  cypress/e2e/backOffice/questionnaire/questionnaireImportChoices.cy.ts
  cypress/e2e/backOffice/user/userBO.cy.ts
  cypress/e2e/frontOffice/invitation/organizationInvitation.cy.ts
  cypress/e2e/frontOffice/login/login.cy.ts
  cypress/e2e/frontOffice/questionnaire/questionnaireLoggedInAsAdmin.cy.ts
  cypress/e2e/frontOffice/questionnaire/questionnaireLoggedInAsUser.cy.ts
  cypress/e2e/frontOffice/questionnaire/questionnaireWorkflow.cy.ts
  cypress/e2e/frontOffice/user/emailConfirmation.cy.ts
  cypress/e2e/frontOffice/user/user.cy.ts
  cypress/e2e/questionnaire/questionnaireLoggedInAsUser.cy.ts
  frontend/js/components/Proposal/Page/MainContent/ProposalPageDescription.tsx
Due: jest, flow

test: refactor sources from behat to cypress (#18879)
  cypress/e2e/backOffice/contributions/sources.cy.ts
  features/back/moderation/sources.feature
  src/Capco/AppBundle/Behat/Page/AdminSourcesListPage.php
  src/Capco/AppBundle/Behat/Traits/AdminGeneralTait.php
Due: none

test: refactor arguments BO behat to cypress (#18881)
  cypress/e2e/backOffice/moderation/arguments.cy.ts
  features/back/moderation/argument.feature
  src/Capco/AppBundle/Behat/Page/AdminContributionArgumentPage.php
  src/Capco/AppBundle/Behat/Traits/AdminGeneralTait.php
Due: none

chore: cleanup & minor refactors (#18886)
  admin-next/components/BackOffice/Events/EventForm.tsx
  admin-next/components/BackOffice/Organizations/OrganizationConfig/OrganizationConfigFormMembers.tsx
  admin-next/components/BackOffice/Posts/PostForm.tsx
  admin-next/components/BackOffice/Steps/CollectStep/CollectStepForm.tsx
  admin-next/components/BackOffice/Steps/CollectStep/CollectStepForm.utils.ts
  admin-next/components/BackOffice/Steps/CollectStep/ProposalFormAdminCategoriesModal.tsx
  admin-next/components/BackOffice/Steps/ConsultationStep/ConsultationStepForm.tsx
  admin-next/components/BackOffice/Steps/DebateStep/DebateStepForm.tsx
  admin-next/components/BackOffice/Steps/DebateStep/ModalDebateOpinion.tsx
  admin-next/components/BackOffice/Steps/OtherStep/OtherStepForm.tsx
  admin-next/components/BackOffice/Steps/QuestionnaireStep/QuestionnaireStepForm.tsx
  admin-next/components/BackOffice/Steps/SelectStep/SelectStepForm.tsx
  admin-next/components/BackOffice/Steps/Shared/Enum/LogActionTypeEnum.tsx
  admin-next/mutations/InviteUserMutation.ts
  admin-next/mutations/SaveImapConfigMutation.ts
  admin-next/shared/cap-collectif/form/src/components/uploader/Uploader.tsx
  cypress/e2e/backOffice/userGroup/createGroups.cy.ts
  cypress/e2e/backOffice/userGroup/deleteGroup.cy.ts
  cypress/e2e/backOffice/userGroup/viewGroupsList.cy.ts
  frontend/js/components/Admin/Project/Proposals/ProjectProposalsAdminForm.tsx
  frontend/js/components/Proposal/Vote/ProposalVoteButton.tsx
  frontend/js/components/Reply/Form/ReplyForm.tsx
  frontend/js/components/VoteStep/VoteButtonUI.tsx
Due: jest, flow

test: refactor behat to cypress `admin.feature` (#18889)
  cypress/e2e/backOffice/contributions/opinions.cy.ts
  cypress/e2e/backOffice/settings/settings.cy.ts
  features/back/parameter/admin.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Page/AdminDashboardPage.php
  src/Capco/AppBundle/Behat/Page/AdminGeneralListPage.php
  src/Capco/AppBundle/Behat/Page/AdminOpinionListPage.php
  src/Capco/AppBundle/Behat/Traits/AdminGeneralTait.php
  src/Capco/AppBundle/Behat/Traits/AdminOpinionTait.php
Due: none

test: refactor behat opinion versions to cypress (#18891)
  cypress/e2e/backOffice/contributions/opinionVersions.cy.ts
  features/back/moderation/opinion_version.feature
  src/Capco/AppBundle/Behat/Page/AdminOpinionVersionListPage.php
  src/Capco/AppBundle/Behat/Traits/AdminGeneralTait.php
Due: none

fix login check 500 (#18650)
  .gitignore
  jest.config.e2e.js
  jest/oauth/login_check.js
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/EventListener/PriorAuthenticationHandler.php
Due: php

Merge remote-tracking branch 'origin/preprod'
  .gitignore
  cypress/e2e/backOffice/contributions/opinionVersions.cy.ts
  cypress/e2e/backOffice/contributions/opinions.cy.ts
  cypress/e2e/backOffice/settings/settings.cy.ts
  features/back/moderation/opinion_version.feature
  features/back/parameter/admin.feature
  jest.config.e2e.js
  jest/oauth/login_check.js
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Page/AdminDashboardPage.php
  src/Capco/AppBundle/Behat/Page/AdminGeneralListPage.php
  src/Capco/AppBundle/Behat/Page/AdminOpinionListPage.php
  src/Capco/AppBundle/Behat/Page/AdminOpinionVersionListPage.php
  src/Capco/AppBundle/Behat/Traits/AdminGeneralTait.php
  src/Capco/AppBundle/Behat/Traits/AdminOpinionTait.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/EventListener/PriorAuthenticationHandler.php
Due: php

Merge branch 'preprod'
  .gitignore
  cypress/e2e/backOffice/contributions/opinionVersions.cy.ts
  cypress/e2e/backOffice/contributions/opinions.cy.ts
  cypress/e2e/backOffice/settings/settings.cy.ts
  features/back/moderation/opinion_version.feature
  features/back/parameter/admin.feature
  jest.config.e2e.js
  jest/oauth/login_check.js
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Page/AdminDashboardPage.php
  src/Capco/AppBundle/Behat/Page/AdminGeneralListPage.php
  src/Capco/AppBundle/Behat/Page/AdminOpinionListPage.php
  src/Capco/AppBundle/Behat/Page/AdminOpinionVersionListPage.php
  src/Capco/AppBundle/Behat/Traits/AdminGeneralTait.php
  src/Capco/AppBundle/Behat/Traits/AdminOpinionTait.php
  src/Capco/AppBundle/Controller/Site/DefaultController.php
  src/Capco/AppBundle/EventListener/PriorAuthenticationHandler.php
Due: php

docs: add preprod process to ADR (#18868)
  ADR/preprod_deployment_process.md
Due: none

Update cron up at 12pm (#18903)
  infrastructure/services/remote/cron/crontab
Due: none

fix collect/selection participants export (#18852)
  __snapshots__/exports/selection/participants_budget-avec-vote-limite_selection-avec-vote-budget-limite.csv
  __snapshots__/exports/selection/participants_budget-avec-vote-limite_selection-avec-vote-budget-limite_simplified.csv
  __snapshots__/exports/selection/participants_budget-participatif-idf-3_vote-des-franciliens.csv
  __snapshots__/exports/selection/participants_budget-participatif-idf-3_vote-des-franciliens_simplified.csv
  src/Capco/AppBundle/Repository/ParticipantRepository.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php

Migrate upload.feature to jest tests (#18893) (#18896)
  features/api/upload.feature
  jest/api/files/CSV_COMMA.csv
  jest/api/files/CSV_SEMICOLON.csv
  jest/api/files/document.pdf
  jest/api/files/image.jpg
  jest/api/upload.js
Due: none

fix: using the email of the creator of a project in the notification config if he/she is member of an organization (#18915)
  src/Capco/AppBundle/Form/Persister/PreConfigureProjectProposalFormPersister.php
Due: php

test: refactor events behat to cypress (#18904)
  admin-next/components/BackOffice/Events/ImportEventsForm.tsx
  cypress/e2e/backOffice/event/eventAdminPage.cy.ts
  cypress/e2e/frontOffice/event/eventsList.cy.ts
  cypress/fixtures/events_to_import.csv
  cypress/pages/admin/event.ts
  features/back/project/AlphaAndEvent/event.feature
  features/files/events_to_import.csv
  src/Capco/AppBundle/Behat/Page/AdminEventListPage.php
  src/Capco/AppBundle/Behat/Traits/AdminEventTrait.php
  src/Capco/AppBundle/Behat/Traits/ProjectStepsTrait.php
Due: none

test: behat -> cypress : proposal_votes feature (#18933)
  cypress/e2e/frontOffice/proposal/proposalVotes.cy.ts
  cypress/pages/base.ts
  cypress/pages/proposal/proposalVote.ts
  features/front/bp/proposal_votes.feature
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
Due: none

fix(ENV VARS): default values must be string or null to be processable by symfony (#18928)
  config/services.yaml
Due: none

Add instance name in slack message for planified emailing campaign (#18936) (#18941)
  config/packages/slack.yaml
  src/Capco/AppBundle/Slack/OmarDjinn.php
Due: php

order response before asserting snapshot (#18945)
  features/graphql-api/internal/mutation/Mediator/__snapshots__/addMediatorVotes.js.snap
  features/graphql-api/internal/mutation/Mediator/addMediatorVotes.js
Due: none

dont execute ci for some updates + edit ADR (#18906)
  ADR/actions_tab.png
  ADR/check_pr_ci.png
  ADR/execute_github_action.png
  ADR/preprod_deployment_process.md
  ADR/squash_and_merge_pr.png
Due: none

chore(exports): updating capco:export:collect-selection:contributions snapshots (#18947)
  __snapshots__/exports/collect/contributions_bp-vote-etape-de-depot_collecte-des-propositions-vote-parcours-min-3-max-5.csv
  __snapshots__/exports/collect/contributions_bp-vote-etape-de-depot_collecte-des-propositions-vote-parcours-min-3-max-5_simplified.csv
  __snapshots__/exports/collect/contributions_bp-vote-parcours-min-2-max-2_collecte-des-propositions-parcours-min-2-max-2.csv
  __snapshots__/exports/collect/contributions_bp-vote-parcours-min-2-max-2_collecte-des-propositions-parcours-min-2-max-2_simplified.csv
  __snapshots__/exports/collect/contributions_bp-vote-parcours_collecte-des-propositions-parcours.csv
  __snapshots__/exports/collect/contributions_bp-vote-parcours_collecte-des-propositions-parcours_simplified.csv
  __snapshots__/exports/selection/contributions_bp-vote-parcours-min-2-max-2_vote-parcours-min-2-max-2.csv
  __snapshots__/exports/selection/contributions_bp-vote-parcours-min-2-max-2_vote-parcours-min-2-max-2_simplified.csv
  __snapshots__/exports/selection/contributions_bp-vote-parcours_vote-parcours-min-3-max-5.csv
  __snapshots__/exports/selection/contributions_bp-vote-parcours_vote-parcours-min-3-max-5_simplified.csv
Due: none

add fixtures / migration to section (#18814)
  fixtures/Prod/Section.yaml
  fixtures/Prod/SectionTranslation.yaml
  src/DoctrineMigrations/Version20251002101752.php
Due: php

fix: remove react-intl fork & add react-intl@3.0.0 (#18649)
  admin-next/components/BackOffice/Medias/__snapshots__/MediaDeleteModal.test.tsx.snap
  admin-next/components/FrontOffice/Cookies/__snapshots__/Cookies.test.tsx.snap
  admin-next/components/FrontOffice/Shield/__snapshots__/ShieldPageWrapper.test.tsx.snap
  admin-next/shared/projectFrise/__snapshots__/ProjectStepTabs.test.tsx.snap
  admin-next/shared/sections/carrousel/__snapshots__/Carrousel.test.tsx.snap
  admin-next/src/app/project-district/[slug]/__snapshots__/District.test.tsx.snap
  frontend/js/components/Admin/Project/ProjectAdminParticipantTab/ProjectAdminParticipant/__snapshots__/ProjectAdminParticipant-test.tsx.snap
  frontend/js/components/Debate/Page/Drawers/__snapshots__/DebateStepPageArgumentsDrawer-test.tsx.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVoteForm-test.tsx.snap
  frontend/js/components/Debate/Page/NotYetStarted/__snapshots__/DebateStepPageNotYetStarted-test.tsx.snap
  frontend/js/components/Project/__snapshots__/ProjectHeaderDistrictsList-test.tsx.snap
  frontend/js/components/Project/__snapshots__/ProjectHeaderThemeList-test.tsx.snap
  frontend/js/components/Ui/ChangeLanguageOnWebsiteHeader/__snapshots__/ChangeLanguageOnWebsiteHeader-test.tsx.snap
  package.json
  yarn.lock
Due: jest, flow

ignore participants who does not confirmed their email (#18914)
  frontend/js/components/Admin/Emailing/MailParameter/Parameter/index.tsx
Due: jest, flow

chore: move `pre-commit` to devDependencies (#18956)
  package.json
  yarn.lock
Due: none

Refactor antivirus script + add minimalist cache (#18940)
  infrastructure/services/remote/cron/antivirus
Due: none

18950 cypress login (#18958)
  cypress/e2e/frontOffice/user/login.cy.ts
  cypress/pages/index.ts
  cypress/pages/login.ts
  features/front/user/split1/login.feature
  src/Capco/AppBundle/Behat/UserContext.php
Due: none

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
