Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

Fix account confirmation token thanks to stricter route validation parameter (#19351)
  .gitleaksignore
  cypress/e2e/frontOffice/user/emailConfirmation.cy.ts
  features/front/user/split2/reset_password.feature
  fixtures/Dev/User.yaml
  src/Capco/UserBundle/Controller/ConfirmationController.php
Due: php

build: more robust keycheck (#19366)
  infrastructure/services/local/Dockerfile
  infrastructure/services/remote/Dockerfile
Due: none

fix(emailing): fix participant unsubscribe token and add missing import (#19365)
  frontend/js/components/Admin/Emailing/EmailingParameters/EmailingParametersPage.tsx
  src/Capco/AppBundle/Mailer/Recipient/MessageBuilder.php
  src/Capco/AppBundle/Mailer/Recipient/ProjectRecipientsFetcher.php
Due: php, jest, flow

feat(anonymize): new command to anonymize everybody (#19346)
  src/Capco/AppBundle/Command/AnonymizeAllCommand.php
  src/Capco/AppBundle/Entity/Participant.php
  src/DoctrineMigrations/Version20260127105954.php
Due: php

fix(deps): upgrade to patch 14 vulnerabilities (#19378)
  yarn.lock
Due: none

feat: keep implementing proposal modal (#19361)
  admin-next/components/BackOffice/Steps/QuestionnaireStep/QuestionnaireStepFormQuestionnaireTab.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/VoteStepMobileFiltersModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/Filters/VoteStepSearchBar.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepListActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepMobileActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalDrafts/ProposalDrafts.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Inputs/AddressInput.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Inputs/CategoryInput.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Inputs/DescriptionInput.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Inputs/DistrictInput.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Inputs/IllustrationInput.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Inputs/SummaryInput.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Inputs/ThemeInput.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Inputs/TitleInput.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Inputs/index.ts
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalFormModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalFormModal.type.ts
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Questions/ButtonChoices.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Questions/MultipleChoiceQuestion.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Questions/QuestionField.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/utils.ts
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepListHeader.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepWebLayout.tsx
  admin-next/mutations/CreateProposalMutation.ts
  admin-next/package.json
  yarn.lock
Due: none

anon personnal data responses (#19381)
  src/Capco/AppBundle/Command/AnonymizeAllCommand.php
Due: php

feat: update dev fixtures colors (#19388)
  fixtures/Dev/SiteColor.yaml
Due: none

test: update snapshots (#19389)
  features/graphql-api/internal/Query/__snapshots__/Query_siteColors.js.snap
Due: none

feat: view switch btn now appear properly with condition (#19384)
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepListActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepMobileActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepWebLayout.tsx
Due: none

fix: default PROD feature toggles (#19393)
  src/Capco/AppBundle/Toggle/EnvironmentPresets.php
Due: php

fix: upload field (#19390)
  admin-next/components/BackOffice/Steps/QuestionnaireStep/QuestionnaireStepFormQuestionnaireTab.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalFormModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Questions/QuestionField.tsx
  admin-next/shared/cap-collectif/form/src/components/uploader/Uploader.tsx
Due: none

feat(depot): location field (#19386)
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Inputs/AddressInput.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/LocateOnMapModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalFormModal.tsx
  admin-next/shared/cap-collectif/form/src/components/address/Address.tsx
Due: none

fix(argument/front): ui issue (#19385)
  frontend/js/components/Argument/ArgumentItem.tsx
  frontend/js/components/Argument/__snapshots__/ArgumentItem-test.tsx.snap
  frontend/js/components/StaticPage/CookieManagerModal.tsx
  frontend/js/components/StaticPage/__snapshots__/CookieManagerModal-test.tsx.snap
Due: jest, flow

fix: variantcolor updated (#19376)
  admin-next/components/FrontOffice/Sections/ProjectList/ProjectListSectionFilters.tsx
Due: none

fix: listItem variantColor updated (#19375)
  admin-next/components/BackOffice/Steps/ConsultationStep/SectionListItem.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Questions/RankingChoices.tsx
Due: none

fix(depot): ui fix & display logic (#19397)
  admin-next/components/FrontOffice/ProposalCard/ProposalCard.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepListActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepMobileActions.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepQuickFilter.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalDrafts/ProposalDrafts.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalFormModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalFormModal.type.ts
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepListHeader.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepUserInfos.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepWebLayout.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VotesPopup/VoteStepMobileVotesModal.tsx
  admin-next/src/app/MainLayout.tsx
Due: none

fix(graphql): use token generator for transient response ids (#19401)
  spec/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyResponsesResolverSpec.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalEvaluationResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyResponsesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Traits/ResponsesResolverTrait.php
Due: graphql, php

fix: bump elastic version from 7.16.1 to 7.16.3 to fix knows vulnerability (#19405)
  infrastructure/services/remote/Dockerfile
Due: none

fix: change marginleft on mobile (#19408)
  frontend/js/components/User/Profile/PersonalData.tsx
  frontend/js/components/User/Profile/__snapshots__/PersonalData-test.tsx.snap
Due: jest, flow

fix: keep helpscout session through page and logout on user logout (#19406)
  admin-next/components/BackOffice/Layout/Layout.tsx
  admin-next/components/BackOffice/NavBar/NavBar.tsx
  admin-next/global.d.ts
  admin-next/shared/navbar/menu/NavBarMenu.tsx
  frontend/js/components/Ui/BackOffice/UserBlockProfile.tsx
  frontend/js/components/Ui/BackOffice/__snapshots__/UserBlockProfile-test.tsx.snap
  src/Capco/AdminBundle/Resources/views/partials/javascripts/_helpscout.html.twig
  src/Capco/AdminBundle/Resources/views/partials/javascripts/_online_help.html.twig
Due: php, jest, flow

fix: add break-word on category title (#19407)
  frontend/js/components/Proposal/Page/Aside/ProposalPageMetadata.tsx
  frontend/js/components/Proposal/Page/Aside/__snapshots__/ProposalPageMetadata-test.tsx.snap
Due: jest, flow

Do breaking changes only for preview and public schemas (#19425)
  scripts/check-schema-breaking-changes.mjs
Due: none

chore: Updated throwable emails domains list (#19413)
  config/throwable_emails.txt
Due: none

chore(Feature flags): one shot command for backward compatibility + menu cleanups (#19133)
  admin-next/components/BackOffice/FeatureList/FeatureItems.json
  config/packages/commands.yaml
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  src/Capco/AppBundle/Command/FeatureFlagFixIssue17714Command.php
  src/Capco/AppBundle/Toggle/Manager.php
Due: php

implement post_logout_uri in SSO OpenID (#19395)
  admin-next/components/BackOffice/Authentication/SSOList/OpenID/FormConfiguration.tsx
  admin-next/components/BackOffice/Authentication/SSOList/OpenID/ModalOpenIDConfiguration.tsx
  admin-next/mutations/CreateOauth2SSOConfigurationMutation.ts
  admin-next/mutations/UpdateOauth2SSOConfigurationMutation.ts
  doc/sso.md
  features/graphql-api/internal/Mutation/Authentication/__snapshots__/ssoOauth2Configuration.js.snap
  features/graphql-api/internal/Mutation/Authentication/ssoOauth2Configuration.js
  features/graphql-api/internal/Query/Query_ssoConfigurations.js
  features/graphql-api/internal/Query/__snapshots__/Query_ssoConfigurations.js.snap
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/UserBundle/Security/Http/Logout/Handler/OpenIDLogoutHandlerSpec.php
  src/Capco/AppBundle/Entity/SSO/Oauth2SSOConfiguration.php
  src/Capco/AppBundle/Form/Oauth2SSOConfigurationFormType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/decorator/InternalWithOauth2SSOConfiguration.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOauth2SSOConfiguration.types.yaml
  src/Capco/UserBundle/OpenID/ReferrerResolver/OccitanieReferrerResolver.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/OpenIDLogoutHandler.php
  src/DoctrineMigrations/Version20260211113000.php
Due: php

fix: correct activity log action filter options (#19441)
  admin-next/components/BackOffice/ActivityLog/ActivityList.tsx
Due: none

fix(admin-next): avoid locale-prefixed BO platform links when multilangue is off (#19440)
  admin-next/components/BackOffice/NavBar/NavBar.tsx
  admin-next/components/BackOffice/SideBar/SideBar.tsx
Due: none

fix: can now properly re-order the items if draggable is active (#19439)
  frontend/js/components/Ui/DragnDrop/Item/Item.tsx
Due: jest, flow

Ignore varnish cache for others instances than les ecologistes (#19430) (#19447)
  src/Capco/AppBundle/EventListener/AuthCacheSubscriber.php
Due: php

chore: remove unused script and fast-xml-parser dependancy (#19432)
  email-snapshots.js
  package.json
  yarn.lock
Due: none

fix: release session lock on early session read return (#19452)
  src/Capco/UserBundle/Security/SessionWithJsonHandler.php
  tests/UserBundle/Security/SessionWithJsonHandlerTest.php
Due: php

fix: disable profiler in prod to prevent translation collector OOM (#19454)
  config/packages/prod/services.yaml
Due: none

fix: remove legacy highlight section from prod fixtures (#19450)
  fixtures/Prod/Section.yaml
Due: none

feat(BO): allow fullscreen on jodit wysiwyg (#19392)
  admin-next/components/BackOffice/Form/TextEditor/Jodit.tsx
Due: none

19420 view btns (#19446)
  admin-next/components/FrontOffice/Steps/VoteStep/ListActions/VoteStepListActions.tsx
Due: none

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
