Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

11015 randomly failing (#11033)
  features/front/pages/shield.feature
Due: none

test map (#10766)
  frontend/js/components/Event/List/EventListPaginated.js
  frontend/js/components/Event/Map/__snapshots__/LeafletMap-test.js.snap
  frontend/js/components/Form/Ranking/RankingList/RankingList.style.js
  frontend/js/components/Map/SearchAddress/SearchAddress.js
  frontend/js/components/Map/SearchAddress/SearchAddress.style.js
  frontend/js/components/Map/SearchAddress/__snapshots__/SearchAddress-test.js.snap
  frontend/js/components/Page/ProposalsDisplayMap.js
  frontend/js/components/Page/__snapshots__/ProposalsDisplayMap-test.js.snap
  frontend/js/components/Proposal/Analysis/ProposalAnalysisFormPanel.js
  frontend/js/components/Proposal/Analysis/ProposalAssessmentFormPanel.js
  frontend/js/components/Proposal/Analysis/ProposalDecisionFormPanel.js
  frontend/js/components/Proposal/Analysis/ProposalFormSwitcher.js
  frontend/js/components/Proposal/Analysis/ProposalViewAnalysisPanel.js
  frontend/js/components/Proposal/List/ProposalListToggleViewBtn.js
  frontend/js/components/Proposal/Map/LeafletSearch.js
  frontend/js/components/Proposal/Map/ProposalLeafletMap-test.js
  frontend/js/components/Proposal/Map/ProposalLeafletMap.js
  frontend/js/components/Proposal/Map/ProposalLeafletMap.style.js
  frontend/js/components/Proposal/Map/ProposalMapPopover-test.js
  frontend/js/components/Proposal/Map/ProposalMapPopover.js
  frontend/js/components/Proposal/Map/ZoomControl.js
  frontend/js/components/Proposal/Map/__snapshots__/ProposalLeafletMap-test.js.snap
  frontend/js/components/Proposal/Map/__snapshots__/ProposalMapPopover-test.js.snap
  frontend/js/components/Proposal/Page/ProposalPageLogic.js
  frontend/js/components/Ui/Icons/Icon.js
  frontend/js/components/Ui/Icons/index.js
  frontend/js/components/Ui/Icons/svg/new-user.svg
  frontend/js/stories/capcollectif/ProposalMapPopover-stories.js
  frontend/js/stories/mocks/proposal.js
  frontend/js/utils/sizes.js
  jest-setup.js
  package.json
  public/svg/marker-not-selected.svg
  yarn.lock
Due: none

[11004-OCCITANIE] Occitanie TotalCount Users custom. (#11014)
  config/packages/services.yaml
  config/services.yaml
  frontend/js/components/Section/SectionContainer-test.js
  frontend/js/components/Section/__snapshots__/SectionContainer-test.js.snap
  src/Capco/AppBundle/Client/OccitanieClient.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryContributorsResolver.php
Due: graphql, php, backend

[MULTIFIX-MULTILANGUE] fix bugs and missing parts (#11019)
  __snapshots__/emails/notifyReportingComment.html
  __snapshots__/emails/notifyReportingProposal.html
  __snapshots__/emails/notifyReportingSource.html
  config/packages/admin.yaml
  frontend/js/components/Analysis/AnalysisIndexPage/AnalysisIndexPage.js
  frontend/js/components/Opinion/Source/OpinionSourceForm.js
  src/Capco/AppBundle/GraphQL/Mutation/UpdateRegistrationFormCommunicationMutation.php
  src/Capco/AppBundle/Mailer/templates/notifyReporting.html.twig
  src/Capco/AppBundle/Manager/MenuItemResolver.php
  src/Capco/AppBundle/Normalizer/EventNormalizer.php
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
  src/Capco/AppBundle/Resources/views/Theme/blockTheme.html.twig
Due: graphql, php, backend

[11048-FIX] fallback for event slug when creating url (#11056)
  src/Capco/AppBundle/Normalizer/EventNormalizer.php
Due: php, backend

No more sentry error for new instance (#11055)
  infrastructure/services/remote/php-fpm/run
Due: none

[10907-COLOR] Changing choice input to string one (#11046)
  __snapshots__/exports/budget-participatif-idf_collecte-des-projets-idf-privee.csv
  __snapshots__/exports/projet-pour-consolider-les-exports_etape-de-depot-des-exports.csv
  config/packages/admin.yaml
  config/packages/validators.yaml
  features/back/project/questionnaire.feature
  features/commands/export.feature
  features/graphql/mutation/updateQuestionnaire.feature
  fixtures/Dev/Proposal.yaml
  fixtures/Dev/QuestionChoice.yaml
  frontend/js/components/Form/Form.type.js
  frontend/js/components/QuestionChoices/QuestionChoiceAdminForm.js
  frontend/js/components/QuestionChoices/QuestionChoiceAdminModal.js
  frontend/js/components/QuestionChoices/__snapshots__/QuestionChoiceAdminForm-test.js.snap
  frontend/js/components/QuestionChoices/__snapshots__/QuestionChoiceAdminModal-test.js.snap
  frontend/js/components/Questionnaire/QuestionnaireAdminConfigurationForm.js
  frontend/js/components/Ui/Form/Input/Radio/Radio.style.js
  frontend/js/components/Ui/Form/Input/RadioButton/RadioButton-test.js
  frontend/js/components/Ui/Form/Input/RadioButton/RadioButton.js
  frontend/js/components/Ui/Form/Input/RadioButton/__snapshots__/RadioButton-test.js.snap
  schema.internal.graphql
  spec/Capco/AppBundle/Validator/Constraints/CheckColorValidatorSpec.php
  src/Capco/AdminBundle/Admin/QuestionChoiceAdmin.php
  src/Capco/AppBundle/Entity/QuestionChoice.php
  src/Capco/AppBundle/Enum/QuestionChoiceColors.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProposalFormMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateQuestionnaireConfigurationMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateRegistrationFormQuestionsMutation.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/QuestionChoiceColor.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/QuestionChoiceInput.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalQuestionChoice.types.yaml
  src/Capco/AppBundle/Validator/Constraints/CheckColor.php
  src/Capco/AppBundle/Validator/Constraints/CheckColorValidator.php
  src/DoctrineMigrations/Version20200812095048.php
Due: graphql, php, backend

[11029-FIX] error message when creating a page with empty body (#11060)
  config/packages/admin.yaml
  src/Capco/AdminBundle/Controller/PageController.php
Due: php, backend

[11066-FIX] 500 quand on met à jour l'authentification (#11067)
  src/Capco/AppBundle/GraphQL/Mutation/UpdateShieldAdminFormMutation.php
Due: graphql, php, backend

[11068-FIX] query voteMin for ProjectAdminForm (#11073)
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminPage-test.js.snap
Due: none

Adds Requirements on Selection Step (#11072)
  frontend/js/components/Admin/Project/Step/ProjectAdminSelectionStepForm-test.js
  frontend/js/components/Admin/Project/Step/ProjectAdminSelectionStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.js
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminSelectionStepForm-test.js.snap
Due: none

[FIX-EVENTS] Add missing StepEventsApp on some steps (#11054)
  schema.internal.graphql
  src/Capco/AppBundle/Command/ReinitCommand.php
  src/Capco/AppBundle/EventListener/UserInviteListener.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/OtherStep.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/PresentationStep.types.yaml
  src/Capco/AppBundle/Resources/views/Consultation/list.html.twig
  src/Capco/AppBundle/Resources/views/Project/base.html.twig
  src/Capco/AppBundle/Resources/views/Project/layout_with_widget.html.twig
  src/Capco/AppBundle/Resources/views/Step/collect.html.twig
  src/Capco/AppBundle/Resources/views/Step/opinions_ranking.html.twig
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
  src/Capco/AppBundle/Resources/views/Step/synthesis.html.twig
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
  src/Capco/AppBundle/Twig/GlobalIdExtension.php
Due: graphql, php, backend

10473 - Action au survole (#11005)
  frontend/js/components/Admin/Project/ModalDeleteProposal/ModalDeleteProposal.js
  frontend/js/components/Admin/Project/ModalDeleteProposal/ModalDeleteProposal.style.js
  frontend/js/components/Admin/Project/ProjectAdminAnalysis.js
  frontend/js/components/Admin/Project/ProjectAdminContent.js
  frontend/js/components/Admin/Project/ProjectAdminParticipantTab/NoParticipant/NoParticipant.style.js
  frontend/js/components/Admin/Project/ProjectAdminParticipantTab/ProjectAdminParticipant/ProjectAdminParticipant.style.js
  frontend/js/components/Admin/Project/ProjectAdminProposals.js
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminProposals-test.js.snap
  frontend/js/components/Analysis/AnalysisProposal/AnalysisProposal.js
  frontend/js/components/Analysis/AnalysisProposal/AnalysisProposal.style.js
  frontend/js/components/Proposal/Admin/ProposalAdminStatusForm.js
  frontend/js/components/Ui/List/PickableList/row/index.js
  frontend/js/mutations/ApplyProposalStatusMutation.js
  frontend/js/mutations/ChangeProposalPublicationStatusMutation.js
  frontend/js/stories/capcollectif/EventPreview-stories.js
Due: none

A little rewrite on our migration detection process (#11079)
  infrastructure/services/remote/php-fpm/run
Due: none

[11070-TRANSLATE] add siteParameter translations (#11075)
  config/packages/commands.yaml
  src/Capco/AppBundle/Command/LoadProdDataCommand.php
  src/Capco/AppBundle/Command/ReinitCommand.php
  src/Capco/AppBundle/Command/ResetDefaultLocaleCommand.php
  src/Capco/AppBundle/Command/TranslateBasicParameters.php
  src/DoctrineMigrations/Version20200818134317.php
Due: php, backend

[FIX-INFINITE] Hotfix infinite loading (#11089)
  src/Capco/AppBundle/GraphQL/Resolver/Questionnaire/IsIndexationDoneResolver.php
  src/DoctrineMigrations/Version20200818083131.php
Due: graphql, php, backend

[11065-MANDATORY] Fix parameters call validateResponses (#11074)
  features/front/user/profile.feature
  frontend/js/components/Navbar/Navbar.js
  frontend/js/components/Navbar/__snapshots__/Navbar-test.js.snap
  frontend/js/components/Page/ShieldPage.js
  frontend/js/components/Page/__snapshots__/ShieldPage-test.js.snap
  frontend/js/components/User/Invitation/UserInvitationPage.js
  frontend/js/components/User/Registration/ModalRegistrationFormQuestions-test.js
  frontend/js/components/User/Registration/ModalRegistrationFormQuestions.js
  frontend/js/components/User/Registration/RegistrationForm-test.js
  frontend/js/components/User/Registration/RegistrationForm.js
  frontend/js/components/User/Registration/RegistrationModal-test.js
  frontend/js/components/User/Registration/RegistrationModal.js
  frontend/js/components/User/Registration/__snapshots__/ModalRegistrationFormQuestions-test.js.snap
  frontend/js/components/User/Registration/__snapshots__/RegistrationForm-test.js.snap
  frontend/js/components/User/Registration/__snapshots__/RegistrationModal-test.js.snap
  frontend/js/redux/modules/user.js
  frontend/js/startup/UserInvitationPageApp.js
  frontend/js/utils/form/test/formatResponses-test.js
  frontend/js/utils/form/test/mocks.js
  src/Capco/AppBundle/Twig/RegistrationFormRuntime.php
Due: php, backend

[FIX-PARAMETERS] Fix migration (#11091)
  src/DoctrineMigrations/Version20200818134317.php
Due: php, backend

Oops, Fix trashed view (#11102)
  src/Capco/AppBundle/Resources/views/Project/base.html.twig
Due: php, backend

je suis un zgeg (#11112)
  frontend/js/components/Admin/Project/Step/ProjectAdminSelectionStepForm.js
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminSelectionStepForm-test.js.snap
Due: none

[FIX-10886] Fix analysis behaviors (#11111)
  frontend/js/components/Proposal/Analysis/ProposalAnalysisFormPanel.js
  src/Capco/AppBundle/GraphQL/Mutation/RevokeAnalystsToProposalsMutation.php
Due: graphql, php, backend

[11114] handle charter on locale change (#11116)
  src/Capco/AppBundle/Controller/Api/LocaleController.php
Due: php, backend

[11117-FIX] fix trad key params (#11118)
  src/Capco/AppBundle/Resources/views/Step/selection.html.twig
Due: php, backend

[11078-REWORK] Rework field address (#11095)
  frontend/js/components/Event/Form/EventForm.js
  frontend/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  frontend/js/components/Form/Address.js
  frontend/js/components/Form/Address/Address-test.js
  frontend/js/components/Form/Address/Address.js
  frontend/js/components/Form/Address/Address.style.js
  frontend/js/components/Form/Address/Address.type.js
  frontend/js/components/Form/Address/__snapshots__/Address-test.js.snap
  frontend/js/components/Form/Field.js
  frontend/js/components/Form/ReactBootstrapInput.js
  frontend/js/components/Map/SearchAddress/SearchAddress-test.js
  frontend/js/components/Map/SearchAddress/SearchAddress.js
  frontend/js/components/Map/SearchAddress/SearchAddress.style.js
  frontend/js/components/Map/SearchAddress/__snapshots__/SearchAddress-test.js.snap
  frontend/js/components/Proposal/Admin/ProposalAdminContentForm-test.js
  frontend/js/components/Proposal/Admin/ProposalAdminContentForm.js
  frontend/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  frontend/js/components/Proposal/Form/ProposalForm.js
  frontend/js/components/Proposal/Form/__snapshots__/ProposalForm-test.js.snap
  frontend/js/components/Proposal/List/ProposalListToggleViewBtn.js
  frontend/js/components/Proposal/Map/ProposalLeafletMap.js
  frontend/js/components/Proposal/Map/ProposalLeafletMap.style.js
  frontend/js/components/Proposal/Map/__snapshots__/ProposalLeafletMap-test.js.snap
  frontend/js/components/ProposalForm/ProposalFormAdminConfigurationForm.js
  frontend/js/components/ProposalForm/Section/SectionDisplayMode/SectionDisplayMode.js
  frontend/js/components/ProposalForm/Section/SectionDisplayMode/SectionDisplayMode.style.js
  frontend/js/components/ProposalForm/Section/SectionDisplayMode/__snapshots__/SectionDisplayMode-test.js.snap
  frontend/js/components/Ui/Icons/svg/search.svg
  package.json
  src/Capco/AppBundle/Behat/Traits/AdminEventTrait.php
  src/Capco/AppBundle/Behat/Traits/AdminProposalTrait.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  src/Resources/scss/modules/_form.scss
  yarn.lock
Due: php, backend

[ADD-GRANDLYONCONNECT] Add GrandLyonConnect dirty svg. (#11124)
  frontend/js/components/Ui/Button/LoginSocialButton-test.js
  frontend/js/components/Ui/Button/LoginSocialButton.js
  frontend/js/components/Ui/Button/__snapshots__/LoginSocialButton-test.js.snap
  frontend/js/components/Ui/Icons/Icon.js
  frontend/js/components/Ui/Icons/index.js
  frontend/js/components/Ui/Icons/svg/grand-lyon-connect.svg
Due: none

fix analysis scroll issue on panel (#11127)
  frontend/js/components/Proposal/Analysis/ProposalAnalysisFormPanel.js
Due: none

[11126-FIX] handle personalized pages (#11130)
  src/Capco/AppBundle/Controller/Api/LocaleController.php
  src/Capco/AppBundle/Repository/PageRepository.php
Due: php, backend

[11126-FIX] fix LocaleController.handlePageSlug (#11136)
  src/Capco/AppBundle/Controller/Api/LocaleController.php
Due: php, backend

[11132-SEARCH] Add search bar tab analysis BO (#11140)
  frontend/js/components/Admin/Project/ProjectAdminAnalysis.js
  frontend/js/components/Admin/Project/ProjectAdminAnalysis.style.js
  frontend/js/components/Admin/Project/ProjectAdminAnalysisPlaceholder.js
  frontend/js/components/Admin/Project/ProjectAdminAnalysisTab.js
Due: none

[FIX-ANALYSIS] Fix analysis filters (#11139)
  features/graphql-api/internal/Project/Project_viewerAssignedProposals.js
  features/graphql-api/internal/Project/__snapshots__/Project_viewerAssignedProposals.js.snap
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: php, backend

[11131-PROPOSAL] Fix maxLength textarea (#11142)
  frontend/js/components/Form/Field.js
  frontend/js/components/Form/ReactBootstrapInput.js
  frontend/js/components/Proposal/Admin/ProposalAdminContentForm.js
  frontend/js/components/Proposal/Form/ProposalForm.js
  frontend/js/components/Proposal/Form/__snapshots__/ProposalForm-test.js.snap
Due: none

[FEAT-CONTRIBUTIONS] Add contributions in Project API (#10944)
  __snapshots__/exports/participants_croissance-innovation-disruption_collecte-des-avis.csv
  __snapshots__/exports/participants_projet-de-loi-renseignement.csv
  __snapshots__/exports/participants_projet-de-loi-renseignement_elaboration-de-la-loi.csv
  __snapshots__/exports/participants_strategie-technologique-de-letat-et-services-publics_collecte-des-avis-pour-une-meilleur-strategie.csv
  __snapshots__/exports/project-budget-participatif-idf-analysis.csv
  __snapshots__/exports/project-budget-participatif-idf-decision.csv
  features/graphql-api/internal/Project/Project_contributors.js
  features/graphql-api/internal/Project/__snapshots__/Project_contributors.js.snap
  features/graphql-api/internal/user/__snapshots__/User_votes.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_projects.js.snap
  features/graphql/query/allContributions.feature
  frontend/js/components/Admin/Project/ProjectAdminParticipantTab/ProjectAdminParticipant/ProjectAdminParticipant.js
  frontend/js/components/Admin/Project/ProjectAdminParticipantTab/ProjectAdminParticipants/ProjectAdminParticipants.js
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Enum/OrderDirection.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributionResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributorResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectVotesResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProject.types.yaml
  src/Capco/AppBundle/Search/ContributionSearch.php
  src/Capco/AppBundle/Search/Search.php
  src/Capco/AppBundle/Search/UserSearch.php
  src/Capco/AppBundle/Search/VoteSearch.php
Due: graphql, php, backend

fix selection step on admin page (#11115)
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminPage-test.js.snap
Due: none

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
