Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70
      php:
        flags: php
      graphql:
        flags: graphql
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/**/*'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

[Bug] zoom on map (#6432)
  app/Resources/js/components/Event/Map/LeafletMap.js
  app/Resources/js/components/Event/Map/__snapshots__/LeafletMap-test.js.snap
  schema.internal.graphql
Due: jest, flow, frontend

Fix proposal visibility in BO
  src/Capco/AppBundle/Entity/Proposal.php
Due: php, backend

TECH-REFACTO Refacto mutations.
  app/Resources/js/mutations/CreateProposalMutation.js
  app/Resources/js/mutations/DeleteProposalMutation.js
  app/Resources/js/mutations/FollowOpinionMutation.js
  app/Resources/js/mutations/FollowProposalMutation.js
  app/Resources/js/mutations/UpdateFollowOpinionMutation.js
  app/Resources/js/mutations/UpdateFollowProposalMutation.js
Due: jest, flow, frontend

TECH-REFACTO Refacto
  src/Capco/AppBundle/Behat/GraphQLContext.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/EventListener/DynamicRelationSubscriber.php
  src/Capco/AppBundle/GraphQL/Resolver/Argument/ArgumentUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/OpinionVersion/OpinionVersionUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalAdminUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/UserResolver.php
  src/Capco/AppBundle/Mailer/Message/Message.php
  src/Capco/AppBundle/Notifier/ArgumentNotifier.php
  src/Capco/AppBundle/Notifier/CommentNotifier.php
  src/Capco/AppBundle/Notifier/FOSNotifier.php
  src/Capco/AppBundle/Notifier/OpinionNotifier.php
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
  src/Capco/AppBundle/Resolver/ProposalResolver.php
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
  src/Capco/AppBundle/Toggle/Manager.php
Due: graphql, php, backend

TECH-REFACTO Add generated graphql schemas.
  .eslintrc.js
  app/Resources/js/redux/modules/proposal.js
  features/graphql/types/collectStep/draftProposalsForUserInStep.feature
  schema.internal.graphql
  schema.public.graphql
Due: jest, flow, frontend

Merge pull request #6435 from cap-collectif/fix-proposal-visibility
  src/Capco/AppBundle/Entity/Proposal.php
Due: php, backend

Fix more visibility problems in BO
  src/Capco/AdminBundle/Admin/ProposalAdmin.php
  src/Capco/AppBundle/Entity/Proposal.php
Due: php, backend

Merge pull request #6439 from cap-collectif/6411-analyzes-icon
  app/Resources/js/components/Navbar/NavbarRight.js
  src/Capco/AdminBundle/Admin/ProposalAdmin.php
  src/Capco/AppBundle/Entity/Proposal.php
Due: php, jest, flow, backend, frontend

Simulate Http authentication in Behat tests
  features/front/login.feature
  src/Capco/AppBundle/Behat/UserContext.php
Due: backend

Merge pull request #6442 from cap-collectif/clean-proposal-visibility
  features/front/login.feature
  src/Capco/AdminBundle/Admin/ProposalAdmin.php
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/Entity/Proposal.php
Due: php, backend

Merge pull request #6436 from cap-collectif/simulate-http-authentication-in-test
  features/front/login.feature
  src/Capco/AppBundle/Behat/UserContext.php
Due: backend

6419-EXPORT add isEmailConfirmed field in exports (#6438)
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
Due: php, backend

[ADD] title for comment on search page (#6441)
  src/Capco/AppBundle/Resources/views/Default/search.html.twig
Due: php, backend

[ADD] div on unpublishedlabel (#6437)
  app/Resources/js/components/Project/Votes/ProposalUserVoteItem.js
  app/Resources/js/components/Ui/Card/CardUser.js
  app/Resources/scss/modules/_proposal.scss
Due: jest, flow, frontend

Redirect local HTTP to HTTPS (#6450)
  composer.lock
  infrastructure/services/local/nginx/nginx.conf
  infrastructure/services/local/varnish/capco.vcl
  infrastructure/services/local/varnish/run
  src/Capco/AppBundle/Behat/ApplicationContext.php
Due: backend

add missing port for varnish access (#6466)
  infrastructure/environments/base.yml
Due: none

6080-[Bug] Wrong translation on project sort (#6453)
  app/Resources/js/components/Project/List/ProjectListFilter.js
Due: jest, flow, frontend

Fix counters for collect step
  app/Resources/js/components/Project/List/ProjectListFilter.js
  infrastructure/environments/base.yml
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/Command/RecalculateProjectsCountersCommand.php
  src/Capco/AppBundle/Resolver/ContributionResolver.php
Due: php, jest, flow, backend, frontend

[RMV] span element (#6460)
  app/Resources/js/components/Project/List/ProjectListFilter.js
  app/Resources/js/components/Proposal/ImplementationStepTitle.js
  app/Resources/js/components/Proposal/__snapshots__/ImplementationStepTitle-test.js.snap
  infrastructure/environments/base.yml
  schema.internal.graphql
  schema.public.graphql
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/Command/RecalculateProjectsCountersCommand.php
  src/Capco/AppBundle/Resolver/ContributionResolver.php
Due: php, jest, flow, backend, frontend

Fix members page not accounting proposals (#6467)
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php, backend

6427-EXPORT add comments of comment
  app/Resources/js/components/Project/List/ProjectListFilter.js
  app/Resources/js/components/Proposal/ImplementationStepTitle.js
  app/Resources/js/components/Proposal/__snapshots__/ImplementationStepTitle-test.js.snap
  schema.internal.graphql
  schema.public.graphql
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php, jest, flow, backend, frontend

Fix
  infrastructure/environments/base.yml
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/Command/RecalculateProjectsCountersCommand.php
  src/Capco/AppBundle/Command/ReinitCommand.php
  src/Capco/AppBundle/Entity/Argument.php
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Entity/ProposalComment.php
  src/Capco/AppBundle/Resolver/ContributionResolver.php
Due: php, backend

GILETJAUNES-ERROR fix viewer can see proposals (#6461)
  app/Resources/js/components/Project/List/ProjectListFilter.js
  app/Resources/js/components/Proposal/ImplementationStepTitle.js
  app/Resources/js/components/Proposal/__snapshots__/ImplementationStepTitle-test.js.snap
  infrastructure/environments/base.yml
  schema.internal.graphql
  schema.public.graphql
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/Command/RecalculateProjectsCountersCommand.php
  src/Capco/AppBundle/Command/ReinitCommand.php
  src/Capco/AppBundle/Entity/Argument.php
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/ProposalComment.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Manager/CommentResolver.php
  src/Capco/AppBundle/Resolver/ContributionResolver.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, jest, flow, backend, frontend

6427-EXPORT delete useless stuff
  app/Resources/js/components/Project/List/ProjectListFilter.js
  app/Resources/js/components/Proposal/ImplementationStepTitle.js
  app/Resources/js/components/Proposal/__snapshots__/ImplementationStepTitle-test.js.snap
  schema.internal.graphql
  schema.public.graphql
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Manager/CommentResolver.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, jest, flow, backend, frontend

Add php -cs fixer in precommit
  .php_cs
  composer.json
  composer.lock
  infrastructure/environments/base.yml
  package.json
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
Due: php, backend

Fix votes and contributors counters on project with a voting collect step (#6470)
  .php_cs
  app/Resources/js/components/Project/List/ProjectListFilter.js
  app/Resources/js/components/Proposal/ImplementationStepTitle.js
  app/Resources/js/components/Proposal/__snapshots__/ImplementationStepTitle-test.js.snap
  composer.json
  composer.lock
  infrastructure/environments/base.yml
  package.json
  schema.internal.graphql
  schema.public.graphql
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/Command/RecalculateProjectsCountersCommand.php
  src/Capco/AppBundle/Command/ReinitCommand.php
  src/Capco/AppBundle/Entity/Argument.php
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/ProposalComment.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Manager/CommentResolver.php
  src/Capco/AppBundle/Resolver/ContributionResolver.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6443 from cap-collectif/php-cs-fixer
  .php_cs
  composer.json
  composer.lock
  package.json
Due: none

Merge pull request #6472 from cap-collectif/6427-export-commentarynception
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
Due: php, backend

Fix pagination of project contributors
  src/Capco/AppBundle/Command/Elasticsearch/CleanIndexCommand.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Elasticsearch/IndexBuilder.php
  src/Capco/AppBundle/Resources/config/services/utils.yml
Due: php, backend

Add typehint
  src/Capco/AppBundle/Elasticsearch/IndexBuilder.php
Due: php, backend

php-cs-fixer set strict_param and strict_comparison to false
  .php_cs
  app/Resources/js/components/Project/List/ProjectListFilter.js
  app/Resources/js/components/Proposal/ImplementationStepTitle.js
  app/Resources/js/components/Proposal/__snapshots__/ImplementationStepTitle-test.js.snap
  infrastructure/environments/base.yml
  schema.internal.graphql
  schema.public.graphql
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Command/Elasticsearch/CleanIndexCommand.php
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/Command/RecalculateProjectsCountersCommand.php
  src/Capco/AppBundle/Command/ReinitCommand.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Elasticsearch/IndexBuilder.php
  src/Capco/AppBundle/Entity/Argument.php
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/ProposalComment.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Manager/CommentResolver.php
  src/Capco/AppBundle/Resolver/ContributionResolver.php
  src/Capco/AppBundle/Resources/config/services/utils.yml
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, jest, flow, backend, frontend

#6479 - fix adder and remover for QuestionMultiChoice
  .php_cs
  app/Resources/js/components/Project/List/ProjectListFilter.js
  app/Resources/js/components/Proposal/ImplementationStepTitle.js
  app/Resources/js/components/Proposal/__snapshots__/ImplementationStepTitle-test.js.snap
  features/front/project.feature
  infrastructure/environments/base.yml
  schema.internal.graphql
  schema.public.graphql
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Command/RecalculateCountersCommand.php
  src/Capco/AppBundle/Command/RecalculateProjectsCountersCommand.php
  src/Capco/AppBundle/Command/ReinitCommand.php
  src/Capco/AppBundle/Entity/Argument.php
  src/Capco/AppBundle/Entity/OpinionVersion.php
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/ProposalComment.php
  src/Capco/AppBundle/Entity/Questions/MultipleChoiceQuestion.php
  src/Capco/AppBundle/Form/QuestionnaireConfigurationUpdateType.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateQuestionnaireParametersMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
  src/Capco/AppBundle/Manager/CommentResolver.php
  src/Capco/AppBundle/Resolver/ContributionResolver.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6484 from cap-collectif/php-cs-fixer
  .php_cs
  features/front/project.feature
  schema.internal.graphql
  src/Capco/AppBundle/Command/Elasticsearch/CleanIndexCommand.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Elasticsearch/IndexBuilder.php
  src/Capco/AppBundle/Entity/Questions/MultipleChoiceQuestion.php
  src/Capco/AppBundle/Form/QuestionnaireConfigurationUpdateType.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateQuestionnaireParametersMutation.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
  src/Capco/AppBundle/Resources/config/services/utils.yml
Due: graphql, php, backend

Merge pull request #6483 from cap-collectif/6479-question-choice-answer
  features/front/project.feature
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Questions/MultipleChoiceQuestion.php
  src/Capco/AppBundle/Form/QuestionnaireConfigurationUpdateType.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateQuestionnaireParametersMutation.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
Due: graphql, php, backend
