Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

[12603-VIEWER] viewer.emailingCampaign (#13559)
  features/graphql-api/internal/User/Viewer_emailingCampaigns.js
  features/graphql-api/internal/User/__snapshots__/Viewer_emailingCampaigns.js.snap
  frontend/js/components/Admin/Emailing/EmailingCampaign/DashboardCampaign/DashboardCampaign-test.js
  frontend/js/components/Admin/Emailing/EmailingCampaign/DashboardCampaign/DashboardCampaign.js
  frontend/js/components/Admin/Emailing/EmailingCampaign/DashboardCampaign/__snapshots__/DashboardCampaign-test.js.snap
  frontend/js/components/Admin/Emailing/EmailingCampaign/EmailingCampaignPage.js
  frontend/js/components/Admin/Emailing/EmailingCampaign/utils.js
  frontend/js/mutations/DeleteEmailingCampaignMutation.js
  schema.internal.graphql
  src/Capco/AppBundle/Enum/EmailingCampaignAffiliation.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserEmailingCampaignsResolver.php
  src/Capco/AppBundle/Repository/EmailingCampaignRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalEmailingCampaignAffiliation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalEmailingCampaignOwner.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewUser.types.yaml
Due: graphql, php, jest, flow

[13044-INVITATION] Add custom message & redirection to invitations. (#13550)
  features/graphql-api/internal/Query/Query_userInvitationsAvailabilitySearch.js
  features/graphql-api/internal/Query/__snapshots__/Query_userInvitationsAvailabilitySearch.js.snap
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModalSteps.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModalStepsChooseRole.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModalStepsChooseUsers.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModalStepsSendingConfirmation.js
  schema.internal.graphql
  src/Capco/AppBundle/Controller/Site/UserController.php
  src/Capco/AppBundle/Entity/UserInvite.php
  src/Capco/AppBundle/GraphQL/Mutation/InviteUsersMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/UserInvitationsAvailabilitySearchQueryResolver.php
  src/Capco/AppBundle/Mailer/Message/UserInvite/UserInviteNewInvitation.php
  src/Capco/AppBundle/Mailer/templates/UserInvite/newInvitation.html.twig
  src/Capco/AppBundle/Notifier/UserInviteNotifier.php
  src/Capco/AppBundle/Repository/UserInviteRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InviteUsersInput.types.yaml
  src/DoctrineMigrations/Version20211025125904.php
Due: graphql, php, jest, flow

[12605-EVENT] Event Management (Create/Edit) for project owners (#13533)
  frontend/js/components/Event/Form/EventForm-test.js
  frontend/js/components/Event/Form/EventForm.js
  frontend/js/components/Event/Form/EventFormPage.js
  frontend/js/components/Event/Form/SelectProject.js
  frontend/js/components/Event/Form/SelectStep.js
  frontend/js/components/Event/Form/__snapshots__/EventForm-test.js.snap
  frontend/js/components/Event/__snapshots__/EventListPageHeader-test.js.snap
  frontend/js/startup/EventFormPageApp-test.js
  frontend/js/startup/EventFormPageApp.js
  frontend/js/startup/__snapshots__/EventFormPageApp-test.js.snap
  src/Capco/AdminBundle/Resources/views/Event/create.html.twig
  src/Capco/AdminBundle/Resources/views/Event/edit.html.twig
Due: php, jest, flow

Fix proposal collect button color (#13578)
  frontend/js/components/Page/ProposalStepPageHeader-test.js
  frontend/js/components/Page/ProposalStepPageHeader.js
  frontend/js/components/Page/__snapshots__/ProposalStepPageHeader-test.js.snap
  frontend/js/components/Proposal/Map/ProposalLeafletMap-test.js
  frontend/js/components/Proposal/Map/ProposalLeafletMap.js
  frontend/js/components/Proposal/Map/__snapshots__/ProposalLeafletMap-test.js.snap
Due: jest, flow

[13552-PROJECT] Lors du premier projet créer en tant qu'admin projet, le champ auteur n'est pas grisé (#13582)
  frontend/js/components/Admin/Project/list/ProjectListNoResult.js
  frontend/js/components/Admin/Project/list/ProjectListPage.js
Due: jest, flow

[13520-PROJECT] Dans la modale des exports d'un projet bien adapter le nom de la liste selon le type d'étape (#13580)
  frontend/js/components/Admin/Project/list/ProjectModalExportSteps.js
Due: jest, flow

[12605-FIX] fix Events project admin (#13567)
  __snapshots__/exports/events.csv
  features/graphql-api/public/Query/__snapshots__/Query_events.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_events_review.js.snap
  frontend/js/components/Admin/Event/EventList/AdminEventItem.js
  frontend/js/components/Event/Form/EventForm.js
  frontend/js/components/Event/Form/EventFormPage-test.js
  frontend/js/components/Event/Form/EventFormPage.js
  frontend/js/components/Event/Form/__snapshots__/EventFormPage-test.js.snap
  frontend/js/startup/__snapshots__/EventFormPageApp-test.js.snap
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeEventMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventExportParticipantsUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventOwnerEventsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepEventsResolver.php
  src/Capco/AppBundle/Normalizer/UserNormalizer.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yaml
  src/Capco/AppBundle/Search/EventSearch.php
  src/Capco/AppBundle/Security/EventVoter.php
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/config/serialization/Entity.User.yml
Due: graphql, php, jest, flow

[13531-FIXBLOGFRONTVISIBILITY] fix blog visibility in front (#13585)
  src/Capco/AppBundle/Repository/PostRepository.php
Due: php

12748 anonymous questionnaire v1 (#13549)
  __snapshots__/exports/participants_projet-avec-questionnaire-anonyme_questionnaire-step-anonymous.csv
  __snapshots__/rgpd_user_archives/user1/user.csv
  features/front/features/project.feature
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  features/graphql-api/internal/QuestionnaireOwner/QuestionnaireOwner_questionnaires.js
  features/graphql-api/internal/User/__snapshots__/Viewer_projects.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_projects.js.snap
  fixtures/Dev/Project.yaml
  fixtures/Dev/ProjectAbstractStep.yaml
  fixtures/Dev/ProjectAuthor.yaml
  fixtures/Dev/Questionnaire.yaml
  fixtures/Dev/QuestionnaireAbstractQuestion.yaml
  fixtures/Dev/QuestionnaireNotificationConfiguration.yaml
  fixtures/Dev/QuestionnaireStep.yaml
  fixtures/Dev/SimpleQuestion.yaml
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/components/Admin/Project/Form/__snapshots__/ProjectAdminForm-test.js.snap
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.js
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminPage-test.js.snap
  frontend/js/components/Page/__snapshots__/QuestionnaireStepPage-test.js.snap
  frontend/js/components/Questionnaire/QuestionnaireAdminParametersForm.js
  frontend/js/components/Questionnaire/__snapshots__/QuestionnaireAdminParametersForm-test.js.snap
  frontend/js/components/Reply/Form/ReplyCreateFormWrapper-test.js
  frontend/js/components/Reply/Form/ReplyCreateFormWrapper.js
  frontend/js/components/Reply/Form/ReplyForm-test.js
  frontend/js/components/Reply/Form/ReplyForm.js
  frontend/js/components/Reply/Form/__snapshots__/ReplyCreateFormWrapper-test.js.snap
  frontend/js/components/Reply/Form/__snapshots__/ReplyForm-test.js.snap
  frontend/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  frontend/js/redux/modules/default.js
  frontend/js/types.js
  schema.internal.graphql
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Entity/Steps/QuestionnaireStep.php
  src/Capco/AppBundle/Form/Step/QuestionnaireStepFormType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/ProjectStepInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalQuestionnaireStep.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
  src/DoctrineMigrations/Version20211026091644.php
Due: php, jest, flow

[12603-PROJECT] Open emailing pages to project owner (#13568)
  config/packages/security.yaml
  frontend/js/components/Admin/Emailing/EmailingCampaign/DashboardCampaign/DashboardCampaign.js
  frontend/js/components/Admin/Emailing/ModalMembers/Members-test.js
  frontend/js/components/Admin/Emailing/ModalMembers/Members.js
  frontend/js/components/Admin/Emailing/ModalMembers/ModalMembers-test.js
  frontend/js/components/Admin/Emailing/ModalMembers/ModalMembers.js
  frontend/js/components/Admin/Emailing/ModalMembers/__snapshots__/ModalMembers-test.js.snap
  frontend/js/components/Admin/Sidebar/Sidebar.js
  src/Capco/AdminBundle/Controller/EmailingCampaignController.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/TestEmailingCampaignMutation.php
Due: graphql, php, jest, flow

[13506] Fix width empty case (#13581)
  frontend/js/components/Admin/Event/EventList/AdminEventListNoResult.js
  frontend/js/components/Admin/Post/PostList/PostPostListNoResult.js
  frontend/js/components/Admin/Project/ProjectAdminProposals.utils.js
  frontend/js/components/Admin/Project/ProposalFormList/NoResult.js
  frontend/js/components/Admin/Project/QuestionnaireList/NoResult.js
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminProposals-test.js.snap
  frontend/js/components/Admin/Project/list/ProjectListNoResult.js
  frontend/js/components/DesignSystem/SpotIcon/svg/project.svg
  frontend/js/components/Navbar/Navbar.js
Due: jest, flow

[11725-FIX-ANALYST] Fix self revokation on proposal analysis as analyst. (#13586)
  src/Capco/AppBundle/GraphQL/Mutation/RevokeAnalystsToProposalsMutation.php
Due: graphql, php

reduce opacity when disabled (#13593)
  frontend/js/components/Page/ProposalStepPageHeader.js
  frontend/js/components/Page/__snapshots__/ProposalStepPageHeader-test.js.snap
  frontend/js/components/Proposal/Map/ProposalLeafletMap.js
  frontend/js/components/Proposal/Map/__snapshots__/ProposalLeafletMap-test.js.snap
Due: jest, flow

[13571-NEW] allow simple admin to handle feature new_project_card (#13573)
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  frontend/js/components/Admin/Project/Form/__snapshots__/ProjectAdminForm-test.js.snap
  frontend/js/components/Admin/Section/HomePageProjectsSectionConfigurationPage.js
  frontend/js/components/Project/List/CustomProjectList.js
  frontend/js/components/Project/List/CustomProjectListView.js
  frontend/js/components/Project/List/ProjectListViewPaginated.js
  frontend/js/components/Project/List/ProjectsList.js
  frontend/js/components/Project/Preview/ProjectPreview-test.js
  frontend/js/components/Project/Preview/ProjectPreview.js
  frontend/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  frontend/js/redux/modules/default.js
  frontend/js/types.js
  schema.internal.graphql
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/EventListener/ToggleSubscriber.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateHomePageProjectsSectionConfigurationMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Resources/views/Homepage/lastProjects.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/listCustomProjects.html.twig
  src/Capco/AppBundle/Toggle/Manager.php
  src/DoctrineMigrations/Version20211029114734.php
Due: graphql, php, jest, flow

[CYPRESS-8] cypress 8.7 (#13595)
  cypress/package.json
  cypress/yarn.lock
Due: none

[13100-DIRECTLOGIN] direct login (#13597)
  cypress/@types/index.d.ts
  cypress/cypress.json
  cypress/integration/admin_projects.spec.ts
  cypress/integration/debate.spec.ts
  cypress/support/auth.ts
Due: none

Export memory limit env var (#13561)
  infrastructure/services/remote/cron/crontab
Due: none

[13100-REMOVE] remove reload (#13599)
  cypress/support/index.ts
Due: none

[SENDER-EMAIL] [SENDER-EMAIL] [SENDER-EMAIL] SenderEmailResolver (#13606)
  config/packages/resolvers.yaml
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/CreateEmailingCampaignMutation.php
  src/Capco/AppBundle/Mailer/MailerFactory.php
  src/Capco/AppBundle/Mailer/MailerService.php
  src/Capco/AppBundle/Mailer/SenderEmailResolver.php
Due: graphql, php

[13100-CYPRESS] on ci, snap on fail, on dev snap on fail and video (#13601)
  cypress/cypress.ci.json
  cypress/cypress.development.json
Due: none

[13605-FIX] fix project admin / add tests (#13608)
  config/packages/twig.yaml
  features/graphql-api/internal/ProjectOwner/ProjectOwner_projects.js
  features/graphql-api/internal/ProjectOwner/__snapshots__/ProjectOwner_projects.js.snap
  features/graphql-api/internal/mutation/__snapshots__/updateAlphaProject.js.snap
  features/graphql-api/internal/mutation/updateAlphaProject.js
  frontend/js/components/Admin/Project/list/ProjectItem-test.js
  frontend/js/components/Admin/Project/list/ProjectItem.js
  frontend/js/components/Admin/Project/list/__snapshots__/ProjectItem-test.js.snap
  frontend/js/components/Admin/Project/list/__snapshots__/ProjectList-test.js.snap
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Resolver/User/ProjectOwnerProjectsResolverSpec.php
  src/Capco/AppBundle/Form/Persister/ProjectPersister.php
  src/Capco/AppBundle/GraphQL/Resolver/User/ProjectOwnerProjectsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalProjectOwner.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
  src/Capco/UserBundle/Resources/views/Profile/show.html.twig
  src/Capco/UserBundle/Resources/views/Profile/showProfile.html.twig
Due: graphql, php, jest, flow

Fix missing `noindex` on profile tabs pages (#13626)
  src/Capco/UserBundle/Resources/views/Profile/showUserArguments.html.twig
  src/Capco/UserBundle/Resources/views/Profile/showUserComments.html.twig
  src/Capco/UserBundle/Resources/views/Profile/showUserEvents.html.twig
  src/Capco/UserBundle/Resources/views/Profile/showUserOpinions.html.twig
  src/Capco/UserBundle/Resources/views/Profile/showUserVotes.html.twig
Due: php

Fix some folders ACL (#13618)
  infrastructure/services/remote/Dockerfile
Due: none

Allow IP to be nullable (#13616)
  src/Capco/AppBundle/Repository/UserConnectionRepository.php
Due: php

[13498-FIXPROFILEINDEXATION] fix profile page indexation (#13522)
  frontend/js/components/User/Admin/UserAdminProfile.js
  frontend/js/components/User/Admin/__snapshots__/UserAdminProfile-test.js.snap
  frontend/js/components/User/Profile/Profile.js
  frontend/js/components/User/Profile/__snapshots__/Profile-test.js.snap
  public/404.html
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
  src/Capco/AppBundle/Resources/views/Default/403.html.twig
  src/Capco/AppBundle/Resources/views/Default/404.html.twig
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/views/Profile/show.html.twig
  templates/bundles/TwigBundle/Exception/error.html.twig
  templates/bundles/TwigBundle/Exception/error403.html.twig
  templates/bundles/TwigBundle/Exception/error404.html.twig
  templates/bundles/TwigBundle/Exception/error500.html.twig
Due: php, jest, flow

[13044-FIX-INVITATIONS] Many fix for invitations (#13587)
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModalSteps.js
  frontend/js/components/Admin/UserInvite/UserInviteAdminPage.js
  frontend/js/mutations/InviteUserMutation.js
  src/Capco/AppBundle/GraphQL/Mutation/InviteUsersMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryUserInvitationsResolver.php
  src/Capco/AppBundle/Mailer/templates/UserInvite/newInvitation.html.twig
  src/Capco/AppBundle/Repository/UserInviteRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
Due: graphql, php, jest, flow

[13100-UPDATE] update to node 16 (#13620)
  cypress/package.json
  package.json
  yarn.lock
Due: none

merge php-fpm config into php-fpm-xxl config (#13639)
  infrastructure/services/remote/php-fpm/php-fpm-xxl.conf
Due: none

[13624-HIDE] display cookies banner only if one of ads or analytics s… (#13625)
  frontend/js/components/StaticPage/CookieContent-test.js
  frontend/js/components/StaticPage/CookieContent.js
  frontend/js/components/StaticPage/CookieManagerModal.js
  frontend/js/components/StaticPage/__snapshots__/CookieContent-test.js.snap
  src/Capco/AppBundle/Resources/views/Default/shield.html.twig
  src/Capco/AppBundle/Resources/views/User/invitation.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
Due: php, jest, flow

[13100-LOGIN] add project_owner in cypress login (#13634)
  cypress/@types/index.d.ts
  cypress/integration/admin_projects.spec.ts
  cypress/pages/admin/dashboard.ts
  cypress/pages/admin/project.ts
  cypress/pages/admin/projectsList.ts
  cypress/pages/index.ts
  cypress/support/auth.ts
  cypress/support/commands.ts
  cypress/support/react-select.ts
  features/graphql-api/internal/QuestionnaireOwner/QuestionnaireOwner_questionnaires.js
  features/graphql-api/internal/QuestionnaireOwner/__snapshots__/QuestionnaireOwner_questionnaires.js.snap
  fixtures/Dev/Questionnaire.yaml
  fixtures/Dev/QuestionnaireNotificationConfiguration.yaml
Due: none

remove scrollbar on chrome (#13649)
  frontend/js/components/Admin/Sidebar/Sidebar.js
  frontend/js/components/Admin/Sidebar/__snapshots__/Sidebar-test.js.snap
Due: jest, flow

[USER-INVITE] Add CheckUserInviteStatusCommand. (#13657)
  config/packages/commands.yaml
  src/Capco/AppBundle/Command/CheckUserInviteStatusCommand.php
  src/Capco/AppBundle/Entity/UserInvite.php
  src/Capco/AppBundle/Processor/UserInvite/UserInviteStatusCheckProcessor.php
  src/Capco/AppBundle/Repository/UserInviteRepository.php
Due: php

[DS] Add CapUI dependency (#13656)
  package.json
  yarn.lock
Due: none

[FIX-USER_INVITE] Fix CheckUserInviteStatusCommand (#13664)
  src/Capco/AppBundle/Command/CheckUserInviteStatusCommand.php
Due: php

13100 split cypress ci (#13655)
  cypress/integration/admin_projects.spec.ts
  cypress/integration/debate/anonymousVote.spec.ts
  cypress/integration/debate/debate.spec.ts
  cypress/integration/debate/loggedInVote.spec.ts
  cypress/integration/projectOwner/dashboardRights.spec.ts
  cypress/integration/projectOwner/projectBO.spec.ts
  cypress/package.json
  package.json
Due: none

13100 check access denied (#13665)
  cypress/@types/index.d.ts
  cypress/integration/projectOwner/projectBO.spec.ts
  cypress/support/commands.ts
  cypress/support/security.ts
Due: none

[13667-MISSING] add debateVote in VoteTypeResolver (#13668)
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Vote/VoteTypeResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDebateVote.types.yaml
Due: graphql, php

[12912-UPDATE] the command to delete duplicate users allows to choose… (#13666)
  __snapshots__/exports/bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  __snapshots__/exports/legacyUsers.csv
  __snapshots__/exports/participants_bp-avec-vote-classement.csv
  __snapshots__/exports/participants_bp-avec-vote-classement_collecte-avec-vote-classement-limite.csv
  features/graphql-api/internal/Analytics/__snapshots__/analytics.js.snap
  features/graphql-api/public/ProposalStep/__snapshots__/ProposalStep_proposals.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_allContributors.js.snap
  features/graphql/query/allContributions.feature
  fixtures/Dev/Proposal.yaml
  src/Capco/AppBundle/Command/Migrations/FindDuplicatesSsoUsersCommand.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php
