Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: no # will send notifications without checking ci status

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes

coverage:
  precision: 2 # 2 = xx.xx%
  range: 50...60 # default 70...90. red...green
  status:
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70
      php:
        flags: php
      graphql:
        flags: graphql
      flow:
        flags: flow
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: 35
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 0
      flow:
        target: 88
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/**/*'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

- Working front and fixed tests and yarn
  app/Resources/js/components/User/Registration/ModalRegistrationFormQuestions-test.js
  app/Resources/js/components/User/Registration/ModalRegistrationFormQuestions.js
  app/Resources/js/components/User/Registration/RegistrationForm-test.js
  app/Resources/js/components/User/Registration/RegistrationForm.js
  app/Resources/js/components/User/Registration/RegistrationModal.js
  app/Resources/js/components/User/Registration/__snapshots__/ModalRegistrationFormQuestions-test.js.snap
  app/Resources/js/components/User/Registration/__snapshots__/RegistrationForm-test.js.snap
  app/Resources/js/components/User/Registration/__snapshots__/RegistrationModal-test.js.snap
  app/Resources/js/redux/modules/__snapshots__/user-test.js.snap
  app/Resources/js/redux/modules/user-test.js
  app/Resources/js/redux/modules/user.js
  app/Resources/js/utils/responsesHelper.js
  src/Capco/AppBundle/Twig/RegistrationFormExtension.php
Due: php, jest, flow, backend, frontend

- Rebase
  app/Resources/js/components/User/Registration/__snapshots__/RegistrationModal-test.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/__generated__/OpinionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/PostType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReportingType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionVoteType.php
Due: jest, flow, backend, frontend

- Added a new QuestionnableForm interface - Done some refactoring and fixes based on @spyl94 and @mauriau review
  app/Resources/js/components/Admin/RegistrationAdminPage-test.js
  app/Resources/js/components/Admin/RegistrationAdminPage.js
  app/Resources/js/components/Admin/__snapshots__/RegistrationAdminPage-test.js.snap
  app/Resources/js/components/User/Registration/ModalRegistrationFormQuestions.js
  app/Resources/js/redux/modules/default.js
  src/Capco/AppBundle/Entity/Interfaces/QuestionnableForm.php
  src/Capco/AppBundle/Entity/ProposalForm.php
  src/Capco/AppBundle/Entity/Questionnaire.php
  src/Capco/AppBundle/Entity/RegistrationForm.php
  src/Capco/AppBundle/Form/RegistrationFormQuestionsUpdateType.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateRegistrationFormQuestionsMutation.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalRegistrationForm.types.yml
Due: graphql, php, jest, flow, backend, frontend

- Undone refactoring of QuestionPersisterTrait cause of lack of time and was causing errors (maybe will refactor this when I have time) - Fixed tests
  app/Resources/js/components/User/Registration/RegistrationModal-test.js
  app/Resources/js/components/User/Registration/RegistrationModal.js
  app/Resources/js/utils/responsesHelper.js
  features/front/registration.feature
  features/graphql/mutations/updateProposalForm.feature
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Interfaces/QuestionnableForm.php
  src/Capco/AppBundle/Entity/ProposalForm.php
  src/Capco/AppBundle/Entity/Questionnaire.php
  src/Capco/AppBundle/Entity/RegistrationForm.php
  src/Capco/AppBundle/Form/ProposalFormUpdateType.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProposalFormMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateRegistrationFormQuestionsMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormQuestionsResolver.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
  src/Capco/AppBundle/GraphQL/__generated__/InternalQueryType.php
  src/Capco/AppBundle/GraphQL/__generated__/InternalRegistrationFormType.php
Due: graphql, php, jest, flow, backend, frontend

- Removed useless line
  app/Resources/js/components/Admin/RegistrationFormQuestions.js
Due: jest, flow, frontend

- Removed useless comment
  app/Resources/js/components/Admin/RegistrationAdminPage.js
Due: jest, flow, frontend

- Fixed phpstan errors
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/EvaluationForm/EvaluationFormResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/QuestionResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/RegistrationForm/RegistrationFormQuestionsResolver.php
Due: graphql, php, backend

- Remade Collection to see tests
  spec/Capco/AppBundle/Validator/Constraints/HasResponsesToRequiredQuestionsValidatorSpec.php
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Entity/Interfaces/QuestionnableForm.php
  src/Capco/AppBundle/Entity/ProposalForm.php
  src/Capco/AppBundle/Entity/Questionnaire.php
  src/Capco/AppBundle/Entity/RegistrationForm.php
  src/Capco/AppBundle/GraphQL/Resolver/EvaluationForm/EvaluationFormResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/QuestionResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/RegistrationForm/RegistrationFormQuestionsResolver.php
Due: graphql, php, backend

- Cleaned code and added User responses connection
  app/Resources/js/components/User/Registration/ModalRegistrationFormQuestions.js
  app/Resources/js/components/User/Registration/RegistrationForm.js
  app/Resources/js/components/User/Registration/__snapshots__/ModalRegistrationFormQuestions-test.js.snap
  app/Resources/js/redux/modules/user.js
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/User/UserResponsesResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/InternalRegistrationFormType.php
  src/Capco/AppBundle/GraphQL/__generated__/InternalUserType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalRegistrationForm.types.yml
Due: graphql, php, jest, flow, backend, frontend

- Added TODOs
  app/Resources/js/components/User/Registration/ModalRegistrationFormQuestions.js
  spec/Capco/AppBundle/Validator/Constraints/HasResponsesToRequiredQuestionsValidatorSpec.php
Due: jest, flow, frontend

- Deleted title in opinion description : fixes #6341
  app/Resources/js/components/Opinion/OpinionBox.js
  app/Resources/js/components/Opinion/__snapshots__/OpinionBox-test.js.snap
Due: jest, flow, frontend

- Added description to OpinionType entity - Added description in section
  app/DoctrineMigrations/Version20181115145049.php
  app/Resources/js/components/Consultation/Section-test.js
  app/Resources/js/components/Consultation/Section.js
  app/Resources/js/components/Consultation/__snapshots__/Section-test.js.snap
  app/Resources/js/components/Opinion/OpinionInfos.js
  app/Resources/scss/modules/_opinion.scss
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/OpinionTypeAdmin.php
  src/Capco/AppBundle/Entity/OpinionType.php
  src/Capco/AppBundle/GraphQL/__generated__/InternalQueryType.php
  src/Capco/AppBundle/GraphQL/__generated__/SectionType.php
  src/Capco/AppBundle/Resources/config/graphql/Section.types.yml
Due: php, jest, flow, backend, frontend

- WIP Tooltip
  app/Resources/js/components/Consultation/Opinion.js
  app/Resources/js/components/Consultation/OpinionList.js
  app/Resources/js/components/Opinion/OpinionBox.js
  app/Resources/js/components/Opinion/OpinionInfos.js
  app/Resources/js/components/Opinion/OpinionPreview.js
  app/Resources/js/components/Opinion/__snapshots__/OpinionBox-test.js.snap
  app/Resources/scss/modules/_opinion.scss
Due: jest, flow, frontend

- Working tooltip
  app/Resources/js/components/Opinion/OpinionInfos.js
  app/Resources/scss/base/_base.scss
Due: jest, flow, frontend

Update src/Capco/AppBundle/Entity/OpinionType.php
  src/Capco/AppBundle/Entity/OpinionType.php
Due: php, backend

- Fixed based on reviews
  app/Resources/js/components/Consultation/Opinion-test.js
  app/Resources/js/components/Consultation/Opinion.js
  app/Resources/js/components/Consultation/__snapshots__/Opinion-test.js.snap
  app/Resources/js/components/Opinion/OpinionInfos.js
  app/Resources/js/components/Opinion/OpinionPreview.js
  src/Capco/AppBundle/Resources/config/graphql/Section.types.yml
Due: php, jest, flow, backend, frontend

- Resolved conflicts
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/__generated__/InternalQueryType.php
  src/Capco/AppBundle/GraphQL/__generated__/InternalUserType.php
  src/Capco/AppBundle/GraphQL/__generated__/SectionType.php
Due: backend

Add Reply.viewerCanUpdate to toggle a edit/show button and fix some JS warnings
  app/Resources/js/components/Form/ReactBootstrapInput.js
  app/Resources/js/components/Reply/Edit/ReplyModalButton-test.js
  app/Resources/js/components/Reply/Edit/ReplyModalButtons.js
  app/Resources/js/components/Reply/Edit/ReplyModalLink-test.js
  app/Resources/js/components/Reply/Edit/ReplyModalLink.js
  app/Resources/js/components/Reply/Edit/__snapshots__/ReplyModalButton-test.js.snap
  app/Resources/js/components/Reply/Edit/__snapshots__/ReplyModalLink-test.js.snap
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/components/Reply/UserReplies.js
  app/Resources/js/utils/responsesHelper.js
  jest.config.js
  package.json
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyViewerCanUpdateResolverSpec.php
  src/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyViewerCanUpdateResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/Resources/config/graphql/Reply.types.yml
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6379 from cap-collectif/fix-storybook-deploy
  package.json
  yarn.lock
Due: none

- Fixed small visual stuff
  app/Resources/js/components/Opinion/OpinionBodyDiffContent.js
  app/Resources/js/components/Opinion/OpinionInfos.js
  app/Resources/js/components/Opinion/OpinionPreview.js
  app/Resources/scss/modules/_opinion.scss
Due: jest, flow, frontend

- Working conditional jumps in registration form
  app/Resources/js/components/User/Registration/RegistrationForm.js
Due: jest, flow, frontend

[UPD] BO ProposalForm
  app/DoctrineMigrations/Version20181106175532.php
  app/Resources/js/components/Opinion/OpinionBodyDiffContent.js
  app/Resources/js/components/Opinion/OpinionInfos.js
  app/Resources/js/components/Opinion/OpinionPreview.js
  app/Resources/js/components/ProposalForm/ProposalFormAdminConfigurationForm-test.js
  app/Resources/js/components/ProposalForm/ProposalFormAdminConfigurationForm.js
  app/Resources/js/components/ProposalForm/__snapshots__/ProposalFormAdminConfigurationForm-test.js.snap
  app/Resources/js/components/User/Registration/RegistrationForm.js
  app/Resources/scss/base/_utils.scss
  app/Resources/scss/modules/_opinion.scss
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalForm.yml
  src/Capco/AppBundle/Entity/ProposalForm.php
  src/Capco/AppBundle/Enum/ProposalFormObjectType.php
  src/Capco/AppBundle/Form/ProposalFormUpdateType.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProposalFormMutation.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalFormType.php
  src/Capco/AppBundle/GraphQL/__generated__/UpdateProposalFormInputType.php
  src/Capco/AppBundle/Resources/config/graphql/ProposalForm.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateProposalFormInput.types.yml
Due: graphql, php, jest, flow, backend, frontend

[UPD] - :construction: collect propsoal from front
  app/Resources/js/components/Proposal/Create/ProposalCreate.js
  app/Resources/js/components/Proposal/Create/ProposalCreateButton.js
Due: jest, flow, frontend

Rename ProposalForm.isProposal by ProposalForm.isProposalForm
  schema.internal.graphql
  src/Capco/AppBundle/Entity/ProposalForm.php
  src/Capco/AppBundle/Form/ProposalFormUpdateType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalFormType.php
  src/Capco/AppBundle/GraphQL/__generated__/UpdateProposalFormInputType.php
  src/Capco/AppBundle/Resources/config/graphql/ProposalForm.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateProposalFormInput.types.yml
Due: php, backend

update proposal form - Update Admin view - Update database migration - update Web App integration/trads
  app/DoctrineMigrations/Version20181106175532.php
  app/Resources/js/components/Page/ProposalStepPageHeader.js
  app/Resources/js/components/Proposal/Create/ProposalCreate-test.js
  app/Resources/js/components/Proposal/Create/ProposalCreate.js
  app/Resources/js/components/Proposal/Create/ProposalCreateButton-test.js
  app/Resources/js/components/Proposal/Create/ProposalCreateButton.js
  app/Resources/js/components/Proposal/Create/__snapshots__/ProposalCreate-test.js.snap
  app/Resources/js/components/Proposal/Create/__snapshots__/ProposalCreateButton-test.js.snap
  app/Resources/js/components/Proposal/Form/ProposalForm-test.js
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Proposal/Form/__snapshots__/ProposalForm-test.js.snap
  app/Resources/js/components/ProposalForm/ProposalFormAdminConfigurationForm.js
  app/Resources/js/components/ProposalForm/__snapshots__/ProposalFormAdminConfigurationForm-test.js.snap
  app/Resources/scss/base/_utils.scss
Due: jest, flow, frontend

Change trad key if ProosalForm is type Proposal or Question
  app/Resources/js/components/Page/ProposalStepPageHeader.js
  app/Resources/js/components/Project/Votes/ProposalsUserVotesStep.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm-test.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  app/Resources/js/components/Proposal/Create/ProposalCreate.js
  app/Resources/js/components/Proposal/Create/ProposalCreateButton.js
  app/Resources/js/components/Proposal/Create/__snapshots__/ProposalCreateButton-test.js.snap
  app/Resources/js/components/Proposal/List/ProposalListTable-test.js
  app/Resources/js/components/Proposal/List/ProposalListTable.js
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListTable-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalPageHeader-test.js
  app/Resources/js/components/Proposal/Page/ProposalPageHeader.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageHeader-test.js.snap
  src/Capco/AppBundle/Traits/NullableTextableTrait.php
  src/Capco/AppBundle/Traits/SummarizableTrait.php
  src/Capco/AppBundle/Traits/TextableTrait.php
Due: php, jest, flow, backend, frontend

Fix after review
  app/Resources/js/components/Proposal/Create/ProposalCreate-test.js
  app/Resources/js/components/Proposal/Create/ProposalCreateButton-test.js
  app/Resources/js/components/Proposal/Create/ProposalCreateButton.js
  app/Resources/js/components/Proposal/Form/ProposalForm-test.js
  app/Resources/js/components/Proposal/Form/__snapshots__/ProposalForm-test.js.snap
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Project.yml
  src/Capco/AppBundle/Entity/ProposalForm.php
Due: php, jest, flow, backend, frontend

fix missing key trad for question
  app/Resources/js/components/Proposal/Vote/ProposalVoteModal-test.js
  app/Resources/js/components/Proposal/Vote/ProposalVoteModal.js
  app/Resources/js/components/Proposal/Vote/__snapshots__/ProposalVoteModal-test.js.snap
Due: jest, flow, frontend

[ADD] somes fixtures to test question type on proposalForm
  src/Capco/AppBundle/DataFixtures/ORM/Dev/CollectStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Project.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProjectAbstractStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalCollectVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalForm.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalFormNotificationConfiguration.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalSelectionVote.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Section.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Selection.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SelectionStep.yml
Due: php, backend

fix
  src/Capco/AppBundle/DataFixtures/ORM/Dev/CollectStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Proposal.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProposalComment.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SelectionStep.yml
Due: php, backend

[ADD] test e2e on ProposalForm
  features/graphql/mutations/updateProposalForm.feature
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/__generated__/UpdateProposalFormInputType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateProposalFormInput.types.yml
Due: php, backend

[ADD] - test e2e on Question/Answer graphql Query/Mutation
  features/graphql/mutations/addProposalVote.feature
  features/graphql/mutations/updateProposalVotes.feature
  features/graphql/types/proposal_step/proposal_step_proposals.feature
  features/graphql/types/selection_step/selection_step_proposals_votes.feature
Due: none

Somes fixes after review
  app/DoctrineMigrations/Version20181106175532.php
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/__generated__/ProposalFormType.php
  src/Capco/AppBundle/GraphQL/__generated__/UpdateProposalFormInputType.php
  src/Capco/AppBundle/Resources/config/graphql/ProposalForm.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateProposalFormInput.types.yml
  src/Capco/AppBundle/Traits/SummarizableTrait.php
Due: php, backend

fix test
  features/back/proposal.feature
Due: none

fix migration
  app/DoctrineMigrations/Version20181114175532.php
Due: none
