Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

try fixing test
  features/front/arguments.feature
Due: none

rebase
  schema.graphql
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentType.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/EventType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/PostType.php
  src/Capco/AppBundle/GraphQL/__generated__/PrivatableVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/YesNoPairedVoteType.php
Due: backend

relay after rebase
  schema.graphql
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentType.php
  src/Capco/AppBundle/GraphQL/__generated__/ArgumentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/CollectStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentType.php
  src/Capco/AppBundle/GraphQL/__generated__/CommentVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionType.php
  src/Capco/AppBundle/GraphQL/__generated__/OpinionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/PrivatableVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/ReplyType.php
  src/Capco/AppBundle/GraphQL/__generated__/SelectionStepType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceType.php
  src/Capco/AppBundle/GraphQL/__generated__/SourceVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionType.php
  src/Capco/AppBundle/GraphQL/__generated__/VersionVoteType.php
  src/Capco/AppBundle/GraphQL/__generated__/YesNoPairedVoteType.php
Due: backend

:bug: districts update in form
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  schema.graphql
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormDistrictsResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalFormType.php
  src/Capco/AppBundle/Resources/config/graphql/ProposalForm.types.yml
Due: graphql, php, jest, flow, backend, frontend

:construction:
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  schema.graphql
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/Opinion/OpinionVersionsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormDistrictsResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalFormType.php
  src/Capco/AppBundle/Resources/config/graphql/ProposalForm.types.yml
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6007 from cap-collectif/5671-survey-number2
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
  app/Resources/js/components/Question/QuestionAdmin.js
  app/Resources/js/components/Reply/Form/ReplyForm-test.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/components/Reply/Form/__snapshots__/ReplyForm-test.js.snap
  app/Resources/js/services/Validator-test.js
  app/Resources/js/services/Validator.js
  app/Resources/js/utils/responsesHelper-test.js
  app/Resources/js/utils/responsesHelper.js
  features/back/proposal.feature
  features/front/project.feature
  features/graphql/mutations/updateQuestionnaire.feature
  schema.graphql
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionnaireAbstractQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SimpleQuestion.yml
  src/Capco/AppBundle/Entity/Questions/AbstractQuestion.php
  src/Capco/AppBundle/GraphQL/Resolver/Opinion/OpinionVersionsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormDistrictsResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalFormType.php
  src/Capco/AppBundle/GraphQL/__generated__/QuestionTypeValueType.php
  src/Capco/AppBundle/Resources/config/graphql/ProposalForm.types.yml
  src/Capco/AppBundle/Resources/config/graphql/QuestionTypeValue.types.yml
Due: graphql, php, jest, flow, backend, frontend

:construction
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
  app/Resources/js/components/Question/QuestionAdmin.js
  app/Resources/js/components/Reply/Form/ReplyForm-test.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/components/Reply/Form/__snapshots__/ReplyForm-test.js.snap
  app/Resources/js/services/Validator-test.js
  app/Resources/js/services/Validator.js
  app/Resources/js/utils/responsesHelper-test.js
  app/Resources/js/utils/responsesHelper.js
  features/back/proposal.feature
  features/front/project.feature
  features/graphql/mutations/updateQuestionnaire.feature
  schema.graphql
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionnaireAbstractQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SimpleQuestion.yml
  src/Capco/AppBundle/Entity/Questions/AbstractQuestion.php
  src/Capco/AppBundle/GraphQL/Resolver/Opinion/OpinionVersionsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormDistrictsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Sourceable/SourceableSourcesResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalFormType.php
  src/Capco/AppBundle/GraphQL/__generated__/QuestionTypeValueType.php
  src/Capco/AppBundle/Resources/config/graphql/ProposalForm.types.yml
  src/Capco/AppBundle/Resources/config/graphql/QuestionTypeValue.types.yml
Due: graphql, php, jest, flow, backend, frontend

:bug:
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
  app/Resources/js/components/Question/QuestionAdmin.js
  app/Resources/js/components/Reply/Form/ReplyForm-test.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/components/Reply/Form/__snapshots__/ReplyForm-test.js.snap
  app/Resources/js/services/Validator-test.js
  app/Resources/js/services/Validator.js
  app/Resources/js/utils/responsesHelper-test.js
  app/Resources/js/utils/responsesHelper.js
  features/back/proposal.feature
  features/front/project.feature
  features/graphql/mutations/updateQuestionnaire.feature
  schema.graphql
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionnaireAbstractQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SimpleQuestion.yml
  src/Capco/AppBundle/Entity/Questions/AbstractQuestion.php
  src/Capco/AppBundle/GraphQL/Resolver/Opinion/OpinionVersionsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormDistrictsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Sourceable/SourceableSourcesResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalFormType.php
  src/Capco/AppBundle/GraphQL/__generated__/QuestionTypeValueType.php
  src/Capco/AppBundle/Resources/config/graphql/ProposalForm.types.yml
  src/Capco/AppBundle/Resources/config/graphql/QuestionTypeValue.types.yml
Due: graphql, php, jest, flow, backend, frontend

Fix douple open of login modal when SSO
  app/Resources/js/components/User/Login/LoginButton.js
Due: jest, flow, frontend

- Added todo
  src/Capco/AppBundle/Enum/LogicJumpConditionOperatorEnum.php
Due: php, backend

- Moved jumps declaration to AbstractQuestion - Added GraphQL types
  src/Capco/AppBundle/DataFixtures/ORM/Dev/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/LogicJump.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/LogicJumpCondition.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/Entity/LogicJump.php
  src/Capco/AppBundle/Entity/LogicJumpCondition.php
  src/Capco/AppBundle/Entity/Questions/AbstractQuestion.php
  src/Capco/AppBundle/Entity/Questions/MultipleChoiceQuestion.php
  src/Capco/AppBundle/GraphQL/__generated__/LogicJumpConditionOperatorType.php
  src/Capco/AppBundle/GraphQL/__generated__/LogicJumpConditionType.php
  src/Capco/AppBundle/GraphQL/__generated__/LogicJumpType.php
  src/Capco/AppBundle/Resources/config/graphql/LogicJump.types.yml
  src/Capco/AppBundle/Resources/config/graphql/LogicJumpCondition.types.yml
  src/Capco/AppBundle/Resources/config/graphql/LogicJumpConditionOperator.yml
  src/Capco/AppBundle/Resources/config/graphql/Question.types.yml
Due: php, backend

- Added jumps in questionnaire query for ReplyForm and in every questions
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminNotationForm.js
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Proposal/Page/ProposalPageEvaluation-test.js
  app/Resources/js/components/Proposal/Page/ProposalPageEvaluation.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/utils/responsesHelper.js
Due: jest, flow, frontend

- Abstracted LogicJumpCondition to handle different cases for different types of questions - Added GraphQL interfaces for LogicJumpCondition
  app/DoctrineMigrations/Version20180806143600.php
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminNotationForm.js
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Proposal/Page/ProposalPageEvaluation.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/config/config.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestionLogicJumpCondition.yml
  src/Capco/AppBundle/Entity/AbstractLogicJumpCondition.php
  src/Capco/AppBundle/Entity/LogicJump.php
  src/Capco/AppBundle/Entity/MultipleChoiceQuestionLogicJumpCondition.php
  src/Capco/AppBundle/Enum/LogicJumpConditionOperatorEnum.php
  src/Capco/AppBundle/GraphQL/Resolver/LogicJumpCondition/LogicJumpConditionTypeResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/LogicJumpConditionOperatorType.php
  src/Capco/AppBundle/GraphQL/__generated__/LogicJumpConditionType.php
  src/Capco/AppBundle/GraphQL/__generated__/MultipleChoiceQuestionLogicJumpConditionType.php
  src/Capco/AppBundle/Repository/AbstractLogicJumpConditionRepository.php
  src/Capco/AppBundle/Repository/LogicJumpConditionRepository.php
  src/Capco/AppBundle/Repository/MultipleChoiceQuestionLogicJumpConditionRepository.php
  src/Capco/AppBundle/Resources/config/graphql/LogicJump.types.yml
  src/Capco/AppBundle/Resources/config/graphql/LogicJumpCondition.types.yml
  src/Capco/AppBundle/Resources/config/graphql/LogicJumpConditionOperator.yml
  src/Capco/AppBundle/Resources/config/graphql/MultipleChoiceQuestionLogicJumpCondition.types.yml
Due: graphql, php, jest, flow, backend, frontend

Small refactor
  app/Resources/js/utils/responsesHelper.js
Due: jest, flow, frontend

- WIP logic when dealing with complex logic flows : needs refactoring, dont juge my code gangeeux pls
  app/DoctrineMigrations/Version20180808151004.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/LogicJump.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestionLogicJumpCondition.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionnaireAbstractQuestion.yml
  src/Capco/AppBundle/Entity/LogicJump.php
  src/Capco/AppBundle/GraphQL/__generated__/LogicJumpType.php
  src/Capco/AppBundle/Resources/config/graphql/LogicJump.types.yml
Due: php, backend

- Fixed typo
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
Due: php, backend

- temp commit to save working logic but with no refactoring
  app/Resources/js/utils/responsesHelper.js
Due: jest, flow, frontend

- Renamed migration to be the latest after rebase - Removed graphql.config.json
  .gitignore
  app/DoctrineMigrations/Version20180808121004.php
Due: none

- Added more fixtures to test complex cases - Fixed flow errors - Regenerated graphql files after rebase
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminNotationForm.js
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Proposal/Page/ProposalPageEvaluation.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/utils/responsesHelper.js
  src/Capco/AppBundle/DataFixtures/ORM/Dev/LogicJump.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestionLogicJumpCondition.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionnaireAbstractQuestion.yml
Due: php, jest, flow, backend, frontend

- Fixed typo and moved fixtures
  app/Resources/js/utils/responsesHelper.js
  src/Capco/AppBundle/DataFixtures/ORM/Dev/LogicJump.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
Due: php, jest, flow, backend, frontend

- Fixed bug when a path had a dependency of a preivous questions, but horrible code sorry dont know how to refactor it 😭
  app/Resources/js/utils/responsesHelper.js
Due: jest, flow, frontend

- Added print of only answered questions in ShowReplyModal and fixed flow errors
  app/Resources/js/utils/responsesHelper.js
Due: jest, flow, frontend

add fixtures
  src/Capco/AppBundle/DataFixtures/ORM/Dev/LogicJump.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestionLogicJumpCondition.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ProjectAbstractStep.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Questionnaire.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionnaireAbstractQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionnaireStep.yml
Due: php, backend

fix value
  app/Resources/js/utils/responsesHelper.js
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
Due: php, jest, flow, backend, frontend

fix bugs after rebase
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm-test.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminContentForm.js
  app/Resources/js/components/Proposal/Admin/ProposalAdminNotationForm.js
  app/Resources/js/components/Proposal/Admin/__snapshots__/ProposalAdminContentForm-test.js.snap
  app/Resources/js/components/Proposal/Form/ProposalForm-test.js
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Proposal/Form/__snapshots__/ProposalForm-test.js.snap
  app/Resources/js/components/Proposal/Page/ProposalPageEvaluation-test.js
  app/Resources/js/components/Proposal/Page/ProposalPageEvaluation.js
  app/Resources/js/components/Proposal/Page/__snapshots__/ProposalPageEvaluation-test.js.snap
  app/Resources/js/components/Reply/Form/ReplyForm-test.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/components/Reply/Show/ShowReplyModal.js
  app/Resources/js/utils/responsesHelper.js
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionnaireAbstractQuestion.yml
  src/Capco/AppBundle/GraphQL/Resolver/QuestionResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/MediaQuestionType.php
  src/Capco/AppBundle/GraphQL/__generated__/MultipleChoiceQuestionType.php
  src/Capco/AppBundle/GraphQL/__generated__/QuestionType.php
  src/Capco/AppBundle/GraphQL/__generated__/SimpleQuestionType.php
  src/Capco/AppBundle/Resources/config/graphql/Question.types.yml
  src/Capco/AppBundle/Resources/config/services/graphql_resolvers.yml
Due: graphql, php, jest, flow, backend, frontend

work in progress
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
  app/Resources/js/components/QuestionJump/QuestionJumpAdminForm.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminConfigurationForm.js
Due: jest, flow, frontend

WIP2
  app/Resources/js/components/QuestionJump/QuestionJumpAdminForm.js
  app/Resources/js/redux/modules/question.js
Due: jest, flow, frontend

progress
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
  app/Resources/js/components/QuestionJump/QuestionJumpAdminForm.js
  app/Resources/js/components/QuestionJump/QuestionsJumpAdminForm.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminConfigurationForm.js
Due: jest, flow, frontend

implement bases
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
  app/Resources/js/components/QuestionJump/QuestionJumpAdminForm.js
  app/Resources/js/components/QuestionJump/QuestionJumpConditionAdminForm.js
  app/Resources/js/components/QuestionJump/QuestionJumpConditionsAdminForm.js
  app/Resources/js/components/QuestionJump/QuestionsJumpAdminForm.js
  app/Resources/js/redux/modules/question.js
  app/Resources/scss/style-admin.scss
Due: jest, flow, frontend

progress
  app/Resources/js/components/QuestionJump/QuestionJumpConditionAdminForm.js
  app/Resources/js/components/QuestionJump/QuestionJumpConditionsAdminForm.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminConfigurationForm.js
  src/Capco/AppBundle/Form/LogicJumpConditionType.php
  src/Capco/AppBundle/Form/LogicJumpType.php
  src/Capco/AppBundle/Form/MultipleChoiceQuestionType.php
  src/Capco/AppBundle/Form/QuestionChoiceType.php
  src/Capco/AppBundle/Form/SimpleQuestionType.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateQuestionnaireConfigurationMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/LogicJumpCondition/LogicJumpConditionTypeResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/QuestionInputType.php
  src/Capco/AppBundle/Repository/LogicJumpRepository.php
  src/Capco/AppBundle/Resources/config/graphql/LogicJumpConditionInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/LogicJumpInput.types.yml
  src/Capco/AppBundle/Resources/config/graphql/QuestionInput.types.yml
Due: graphql, php, jest, flow, backend, frontend

missing files
  src/Capco/AppBundle/GraphQL/__generated__/LogicJumpConditionInputType.php
  src/Capco/AppBundle/GraphQL/__generated__/LogicJumpInputType.php
Due: backend

wip
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
  app/Resources/js/components/QuestionJump/QuestionJumpConditionAdminForm.js
  app/Resources/js/components/QuestionJump/QuestionJumpConditionsAdminForm.js
  app/Resources/js/components/QuestionJump/QuestionsJumpAdminForm.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminConfigurationForm.js
  src/Capco/AppBundle/Entity/LogicJump.php
  src/Capco/AppBundle/Entity/Questions/AbstractQuestion.php
  src/Capco/AppBundle/Form/LogicJumpConditionType.php
  src/Capco/AppBundle/Form/LogicJumpType.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateQuestionnaireConfigurationMutation.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
  src/Capco/AppBundle/GraphQL/__generated__/LogicJumpConditionType.php
  src/Capco/AppBundle/GraphQL/__generated__/LogicJumpType.php
  src/Capco/AppBundle/GraphQL/__generated__/MultipleChoiceQuestionLogicJumpConditionType.php
  src/Capco/AppBundle/Resources/config/graphql/LogicJump.types.yml
  src/Capco/AppBundle/Resources/config/graphql/LogicJumpCondition.types.yml
Due: graphql, php, jest, flow, backend, frontend

delete conditions action
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
  app/Resources/js/components/QuestionJump/QuestionJumpConditionAdminForm.js
  app/Resources/js/components/QuestionJump/QuestionJumpConditionsAdminForm.js
  app/Resources/js/utils/responsesHelper.js
Due: jest, flow, frontend

PRE ALPHA FOOTAGE
  app/Resources/js/components/QuestionJump/QuestionJumpConditionAdminForm.js
  app/Resources/js/components/QuestionJump/QuestionsJumpAdminForm.js
  app/Resources/js/utils/responsesHelper.js
  src/Capco/AppBundle/DataFixtures/ORM/Dev/LoaderDataFixture.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SectionQuestion.yml
  src/Capco/AppBundle/GraphQL/__generated__/SectionQuestionType.php
Due: php, jest, flow, backend, frontend

lil fixes
  app/Resources/js/components/QuestionJump/QuestionJumpConditionAdminForm.js
  app/Resources/js/components/QuestionJump/QuestionJumpConditionsAdminForm.js
  app/Resources/js/components/QuestionJump/QuestionsJumpAdminForm.js
Due: jest, flow, frontend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
