Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

[7816-SIMPLIFY] change font imports
  .gitignore
  app/Resources/scss/print.scss
  app/Resources/scss/style-admin.scss
  app/Resources/scss/style.scss
  package.json
Due: none

[7816-SIMPLIFY] change font imports in admin
  app/Resources/scss/style-admin.scss
Due: none

[7816-SIMPLIFY] alias on storybook
  .gitignore
  app/Resources/scss/print.scss
  app/Resources/scss/style-admin.scss
  app/Resources/scss/style.scss
  web/~fonts/Montserrat-Bold.ttf
  web/~fonts/Montserrat-Regular.ttf
  web/~fonts/OpenSans-Bold.ttf
  web/~fonts/OpenSans-Italic.ttf
  web/~fonts/OpenSans-Light.ttf
  web/~fonts/OpenSans-Regular.ttf
  web/~fonts/OpenSans-Semibold.ttf
  web/~fonts/Phosphate.ttf
  web/~fonts/Ubuntu-Bold.ttf
  web/~fonts/Ubuntu-Light.ttf
  web/~fonts/Ubuntu-Medium.ttf
  web/~fonts/Ubuntu-Regular.ttf
  web/~fonts/after_night_pl-webfont.woff
  web/~fonts/after_night_pl-webfont.woff2
  web/~fonts/cap-collectif.eot
  web/~fonts/cap-collectif.svg
  web/~fonts/cap-collectif.ttf
  web/~fonts/cap-collectif.woff
  web/~fonts/draghandle.svg
  web/~fonts/glyphicons-halflings-regular.eot
  web/~fonts/glyphicons-halflings-regular.svg
  web/~fonts/glyphicons-halflings-regular.ttf
  web/~fonts/glyphicons-halflings-regular.woff
  web/~fonts/glyphicons-halflings-regular.woff2
  webpack/webpack.client.js
Due: none

[7816-SIMPLIFY] delete useless fonts rpeo
  web/~fonts/Montserrat-Bold.ttf
  web/~fonts/Montserrat-Regular.ttf
  web/~fonts/OpenSans-Bold.ttf
  web/~fonts/OpenSans-Italic.ttf
  web/~fonts/OpenSans-Light.ttf
  web/~fonts/OpenSans-Regular.ttf
  web/~fonts/OpenSans-Semibold.ttf
  web/~fonts/Phosphate.ttf
  web/~fonts/Ubuntu-Bold.ttf
  web/~fonts/Ubuntu-Light.ttf
  web/~fonts/Ubuntu-Medium.ttf
  web/~fonts/Ubuntu-Regular.ttf
  web/~fonts/after_night_pl-webfont.woff
  web/~fonts/after_night_pl-webfont.woff2
  web/~fonts/cap-collectif.eot
  web/~fonts/cap-collectif.svg
  web/~fonts/cap-collectif.ttf
  web/~fonts/cap-collectif.woff
  web/~fonts/draghandle.svg
  web/~fonts/glyphicons-halflings-regular.eot
  web/~fonts/glyphicons-halflings-regular.svg
  web/~fonts/glyphicons-halflings-regular.ttf
  web/~fonts/glyphicons-halflings-regular.woff
  web/~fonts/glyphicons-halflings-regular.woff2
Due: none

[7816-SIMPLIFY] font tests with updated branch
  package.json
Due: none

[7816-SIMPLIFY] base-branch for fonts
  package.json
Due: none

8803-PROPOSAL fix migration
  .gitignore
  app/DoctrineMigrations/Version20191017123246.php
  app/DoctrineMigrations/Version20191029084430.php
  app/Resources/js/app-test.js
  app/Resources/js/app.js
  app/Resources/js/redux/modules/user.js
  app/Resources/scss/print.scss
  app/Resources/scss/style-admin.scss
  app/Resources/scss/style.scss
  features/front/pages/rgpd.feature
  infrastructure/deploylib/qa.py
  package.json
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/Resources/views/base.html.twig
  webpack/webpack.client.js
Due: php, jest, flow, backend, frontend

Merge pull request #9115 from cap-collectif/7816-simplify-fonts-import
  .gitignore
  app/DoctrineMigrations/Version20191017123246.php
  app/DoctrineMigrations/Version20191029084430.php
  app/Resources/js/app-test.js
  app/Resources/js/app.js
  app/Resources/js/redux/modules/user.js
  app/Resources/scss/print.scss
  app/Resources/scss/style-admin.scss
  app/Resources/scss/style.scss
  features/front/pages/rgpd.feature
  infrastructure/deploylib/qa.py
  package.json
  src/Capco/AppBundle/DataFixtures/ORM/Dev/SiteParameter.yml
  src/Capco/AppBundle/Resources/views/base.html.twig
  webpack/webpack.client.js
Due: php, jest, flow, backend, frontend

Merge pull request #9114 from cap-collectif/8803-proposal-categorie-image
  app/DoctrineMigrations/Version20191017123246.php
  app/DoctrineMigrations/Version20191029084430.php
Due: none

[9113-BUG] fix date picker position
  app/Resources/js/components/Form/DateTime.js
Due: jest, flow, frontend

[9113-BUG] add simple test on date picker
  app/Resources/js/components/Form/DateTime-test.js
  app/Resources/js/components/Form/__snapshots__/DateTime-test.js.snap
Due: jest, flow, frontend

6552-EXAMINE :tada: :construction:
  app/Resources/js/components/Form/DateTime-test.js
  app/Resources/js/components/Form/DateTime.js
  app/Resources/js/components/Form/__snapshots__/DateTime-test.js.snap
  src/Capco/AppBundle/Entity/Approbation.php
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Entity/Reporting.php
  src/Capco/AppBundle/Enum/ApprobationStatus.php
  src/Capco/AppBundle/Enum/ReportingStatus.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ApprobationStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalApprobation.types.yml
Due: php, jest, flow, backend, frontend

6552-EXAMINE rename approbation as review
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Entity/Review.php
  src/Capco/AppBundle/Enum/ReviewStatus.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ApprobationStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalApprobation.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalReview.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ReviewStatus.types.yml
Due: php, backend

6552-EXAMINE Add fixtures and update schema
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Event.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Review.yml
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Entity/Review.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/Repository/ReviewRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
Due: graphql, php, backend

6552-EXAMINE rename review to EventReviewfix and fix snapshots
  __snapshots__/exports/participants_appel-a-projets.csv
  __snapshots__/exports/participants_budget-participatif-rennes.csv
  __snapshots__/exports/participants_croissance-innovation-disruption.csv
  __snapshots__/exports/participants_depot-avec-selection-vote-budget.csv
  __snapshots__/exports/participants_project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement.csv
  __snapshots__/exports/participants_project-pour-la-force-visible-par-mauriau-seulement.csv
  __snapshots__/exports/participants_projet-avec-beaucoup-dopinions.csv
  __snapshots__/exports/participants_projet-avec-questionnaire.csv
  __snapshots__/exports/participants_projet-de-loi-renseignement.csv
  __snapshots__/exports/participants_questions-responses.csv
  __snapshots__/exports/participants_qui-doit-conquerir-le-monde-visible-par-les-admins-seulement.csv
  __snapshots__/exports/participants_strategie-technologique-de-letat-et-services-publics.csv
  __snapshots__/exports/participants_transformation-numerique-des-relations.csv
  __snapshots__/exports/participants_un-avenir-meilleur-pour-les-nains-de-jardins-custom-access.csv
  __snapshots__/exports/users.csv
  __snapshots__/rgpd_user_archives/user5/connections.csv
  __snapshots__/rgpd_user_archives/user5/events.csv
  __snapshots__/rgpd_user_archives/user5/groups.csv
  __snapshots__/rgpd_user_archives/user5/questions.csv
  __snapshots__/rgpd_user_archives/user5/user.csv
  __snapshots__/rgpd_user_archives/userAdmin/user.csv
  features/graphql-public/query/Query_events.js
  features/graphql-public/query/__snapshots__/Query_events.js.snap
  features/graphql-public/query/__snapshots__/users.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Event.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/EventReview.yml
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Entity/EventReview.php
  src/Capco/AppBundle/Repository/EventReviewRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/EventReviewStatus.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEventReview.types.yml
Due: php, backend

6552-EXAMINE update snapshots
  __snapshots__/exports/participants_appel-a-projets.csv
  __snapshots__/exports/participants_budget-participatif-rennes.csv
  __snapshots__/exports/participants_croissance-innovation-disruption.csv
  __snapshots__/exports/participants_depot-avec-selection-vote-budget.csv
  __snapshots__/exports/participants_project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement.csv
  __snapshots__/exports/participants_project-pour-la-force-visible-par-mauriau-seulement.csv
  __snapshots__/exports/participants_projet-avec-beaucoup-dopinions.csv
  __snapshots__/exports/participants_projet-avec-questionnaire.csv
  __snapshots__/exports/participants_projet-de-loi-renseignement.csv
  __snapshots__/exports/participants_questions-responses.csv
  __snapshots__/exports/participants_qui-doit-conquerir-le-monde-visible-par-les-admins-seulement.csv
  __snapshots__/exports/participants_strategie-technologique-de-letat-et-services-publics.csv
  __snapshots__/exports/participants_transformation-numerique-des-relations.csv
  __snapshots__/exports/participants_un-avenir-meilleur-pour-les-nains-de-jardins-custom-access.csv
  __snapshots__/exports/users.csv
  __snapshots__/rgpd_user_archives/user5/connections.csv
  __snapshots__/rgpd_user_archives/user5/groups.csv
  __snapshots__/rgpd_user_archives/user5/pictures/gymnase.png
  __snapshots__/rgpd_user_archives/user5/questions.csv
  __snapshots__/rgpd_user_archives/user5/user.csv
  __snapshots__/rgpd_user_archives/userAdmin/connections.csv
Due: none

6552-EXAMINE add migration
  __snapshots__/exports/participants_appel-a-projets.csv
  __snapshots__/exports/participants_budget-participatif-rennes.csv
  __snapshots__/exports/participants_croissance-innovation-disruption.csv
  __snapshots__/exports/participants_depot-avec-selection-vote-budget.csv
  __snapshots__/exports/participants_project-pour-la-creation-de-la-capcobeer-visible-par-admin-seulement.csv
  __snapshots__/exports/participants_project-pour-la-force-visible-par-mauriau-seulement.csv
  __snapshots__/exports/participants_projet-avec-beaucoup-dopinions.csv
  __snapshots__/exports/participants_projet-avec-questionnaire.csv
  __snapshots__/exports/participants_projet-de-loi-renseignement.csv
  __snapshots__/exports/participants_questions-responses.csv
  __snapshots__/exports/participants_qui-doit-conquerir-le-monde-visible-par-les-admins-seulement.csv
  __snapshots__/exports/participants_strategie-technologique-de-letat-et-services-publics.csv
  __snapshots__/exports/participants_transformation-numerique-des-relations.csv
  __snapshots__/exports/participants_un-avenir-meilleur-pour-les-nains-de-jardins-custom-access.csv
  __snapshots__/exports/users.csv
  __snapshots__/rgpd_user_archives/userAdmin/connections.csv
  __snapshots__/rgpd_user_archives/userAdmin/user.csv
  app/DoctrineMigrations/Version20191018115354.php
  features/front/features/event.feature
  features/front/features/sources.feature
  src/Capco/AppBundle/Entity/EventReview.php
Due: php, backend

6552-EXAMINE declare EventReviewRepository
  src/Capco/AppBundle/Resources/config/services/repositories.yml
Due: php, backend

6552-EXAMINE fix for @spyl94
  __snapshots__/rgpd_user_archives/user5/events.csv
  app/DoctrineMigrations/Version20191018115354.php
  app/DoctrineMigrations/Version20191021163040.php
  app/config/doctrine.yml
  features/graphql-public/Event/Events_review.js
  features/graphql-public/Event/__snapshots__/Events_review.js.snap
  features/graphql-public/query/Query_events.js
  features/graphql-public/query/__snapshots__/Query_events.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/DBAL/Enum/EventReviewRefusedReasonType.php
  src/Capco/AppBundle/DBAL/Enum/EventReviewStatusType.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Event.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/EventReview.yml
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Entity/EventReview.php
  src/Capco/AppBundle/Enum/ReviewStatus.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/EventRefusedReason.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/EventReviewStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEventReview.types.yml
Due: php, backend

6552-EXAMINE fix for @ptondereau
  schema.internal.graphql
  src/Capco/AppBundle/DBAL/Enum/EventReviewRefusedReasonType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/EventRefusedReason.types.yml
Due: php, backend

6552-EXAMINE fix test bitch!
  features/graphql-public/query/__snapshots__/users.js.snap
  features/graphql-public/query/users.js
Due: none

Fix users snapshot
  features/graphql-public/query/__snapshots__/users.js.snap
Due: none

6552-EXAMINE update EventReview
  app/DoctrineMigrations/Version20191030163040.php
  schema.internal.graphql
  src/Capco/AppBundle/DBAL/Enum/EventReviewRefusedReasonType.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/EventReview.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/EventRefusedReason.types.yml
Due: php, backend

6552-EXAMINE fix
  features/graphql-public/Event/__snapshots__/Events_review.js.snap
Due: none

[FIX-INFINITE] fix-webpack infinite watch
  __snapshots__/rgpd_user_archives/user5/events.csv
  __snapshots__/rgpd_user_archives/user5/pictures/gymnase.png
  app/DoctrineMigrations/Version20191030163040.php
  app/config/doctrine.yml
  features/front/features/event.feature
  features/front/features/sources.feature
  features/graphql-public/Event/Events_review.js
  features/graphql-public/Event/__snapshots__/Events_review.js.snap
  features/graphql-public/query/__snapshots__/Query_events.js.snap
  features/graphql-public/query/__snapshots__/users.js.snap
  features/graphql-public/query/users.js
  schema.internal.graphql
  src/Capco/AppBundle/DBAL/Enum/EventReviewRefusedReasonType.php
  src/Capco/AppBundle/DBAL/Enum/EventReviewStatusType.php
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Event.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/EventReview.yml
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Entity/EventReview.php
  src/Capco/AppBundle/Entity/Reporting.php
  src/Capco/AppBundle/Enum/ReportingStatus.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/Repository/EventReviewRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/EventRefusedReason.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/EventReviewStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEventReview.types.yml
  src/Capco/AppBundle/Resources/config/services/repositories.yml
  webpack/webpack.client.hot.js
Due: graphql, php, backend

[FIX-INFINITE] add comment on webpack fix infinite watch
  webpack/webpack.client.hot.js
Due: none

Remove list_sso feature toggle.
  app/Resources/js/components/Admin/Authentification/ListSSOConfiguration-test.js
  app/Resources/js/components/Admin/Authentification/ListSSOConfiguration.js
  app/Resources/js/components/Admin/Authentification/__snapshots__/ListSSOConfiguration-test.js.snap
  app/Resources/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  app/Resources/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Toggle/Manager.php
  webpack/webpack.client.hot.js
Due: php, jest, flow, backend, frontend

Add toggle mutation for SSO.
  app/Resources/js/components/Admin/Authentification/ListCustomSSO.js
  app/Resources/js/components/Admin/Authentification/ListPublicSSO.js
  app/Resources/js/components/Admin/Authentification/Oauth2SSOConfigurationItem.js
  app/Resources/js/components/Admin/Authentification/__snapshots__/Oauth2SSOConfigurationItem-test.js.snap
  app/Resources/js/components/User/Login/LoginSocialButtons.js
  app/Resources/js/mutations/ToggleSSOConfigurationStatusMutation.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
Due: jest, flow, frontend

Remove login_openid.
  app/Resources/js/components/Admin/Authentification/ListCustomSSO.js
  app/Resources/js/components/Navbar/NavbarRight-test.js
  app/Resources/js/components/Navbar/NavbarRight.js
  app/Resources/js/components/Page/ShieldPage.js
  app/Resources/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  app/Resources/js/components/Proposal/Follow/__snapshots__/ProposalFollowButton-test.js.snap
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/components/User/Login/LoginSocialButtons-test.js
  app/Resources/js/components/User/Login/LoginSocialButtons.js
  app/Resources/js/components/User/Login/__snapshots__/LoginSocialButtons-test.js.snap
  app/Resources/js/components/User/Profile/EditProfileTabs-test.js
  app/Resources/js/components/User/Profile/EditProfileTabs.js
  app/Resources/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  app/Resources/js/components/Utils/LoginOverlay.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Controller/Site/SSOController.php
  src/Capco/AppBundle/Toggle/Manager.php
  src/Capco/UserBundle/Controller/OauthConnectController.php
  src/Capco/UserBundle/OpenID/OptionsModifier/OpenIDOptionsModifier.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/OpenIDLogoutHandler.php
Due: php, jest, flow, backend, frontend

Make sure full default state is used when mocked
  app/Resources/js/redux/modules/default.js
  jest-setup.js
  jest.config.js
Due: jest, flow, frontend

Restore snapshots to previous state
  app/Resources/js/components/Proposal/Follow/__snapshots__/ProposalFollowButton-test.js.snap
Due: jest, flow, frontend

Remove duplicate check code for loginWithOpenID.
  app/Resources/js/components/Consultation/__snapshots__/ConsultationPlan-test.js.snap
  app/Resources/js/components/Navbar/NavbarRight.js
  app/Resources/js/components/Page/ShieldPage.js
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/components/User/Profile/EditProfileTabs.js
  app/Resources/js/components/Utils/LoginOverlay.js
  app/Resources/js/redux/modules/default.js
Due: jest, flow, frontend

Disable Oauth2 provider for tests.
  features/graphql/query/ssoConfigurations.feature
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Oauth2SSOConfiguration.yml
Due: php, backend

Merge pull request #9122 from cap-collectif/fix-infinite-watch-build
  app/Resources/js/components/Admin/Authentification/ListPublicSSO.js
  app/Resources/js/components/Admin/Authentification/ListSSOConfiguration-test.js
  app/Resources/js/components/Admin/Authentification/ListSSOConfiguration.js
  app/Resources/js/components/Admin/Authentification/Oauth2SSOConfigurationItem.js
  app/Resources/js/components/Admin/Authentification/__snapshots__/ListSSOConfiguration-test.js.snap
  app/Resources/js/components/Admin/Authentification/__snapshots__/Oauth2SSOConfigurationItem-test.js.snap
  app/Resources/js/components/Consultation/__snapshots__/ConsultationPlan-test.js.snap
  app/Resources/js/components/Navbar/NavbarRight-test.js
  app/Resources/js/components/Navbar/NavbarRight.js
  app/Resources/js/components/Page/ShieldPage.js
  app/Resources/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/components/User/Login/LoginSocialButtons-test.js
  app/Resources/js/components/User/Login/LoginSocialButtons.js
  app/Resources/js/components/User/Login/__snapshots__/LoginSocialButtons-test.js.snap
  app/Resources/js/components/User/Profile/EditProfileTabs-test.js
  app/Resources/js/components/User/Profile/EditProfileTabs.js
  app/Resources/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  app/Resources/js/components/Utils/LoginOverlay.js
  app/Resources/js/mutations/ToggleSSOConfigurationStatusMutation.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/types.js
  features/graphql/query/ssoConfigurations.feature
  jest-setup.js
  jest.config.js
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Controller/Site/SSOController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Oauth2SSOConfiguration.yml
  src/Capco/AppBundle/Toggle/Manager.php
  src/Capco/UserBundle/Controller/OauthConnectController.php
  src/Capco/UserBundle/OpenID/OptionsModifier/OpenIDOptionsModifier.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/OpenIDLogoutHandler.php
  webpack/webpack.client.hot.js
Due: php, jest, flow, backend, frontend

Merge pull request #9053 from cap-collectif/6552-examine-event
  __snapshots__/rgpd_user_archives/user5/events.csv
  __snapshots__/rgpd_user_archives/user5/pictures/gymnase.png
  app/DoctrineMigrations/Version20191030163040.php
  app/config/doctrine.yml
  features/front/features/event.feature
  features/front/features/sources.feature
  features/graphql-public/Event/Events_review.js
  features/graphql-public/Event/__snapshots__/Events_review.js.snap
  features/graphql-public/query/__snapshots__/Query_events.js.snap
  features/graphql-public/query/__snapshots__/users.js.snap
  features/graphql-public/query/users.js
  schema.internal.graphql
  src/Capco/AppBundle/DBAL/Enum/EventReviewRefusedReasonType.php
  src/Capco/AppBundle/DBAL/Enum/EventReviewStatusType.php
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Event.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/EventReview.yml
  src/Capco/AppBundle/Entity/Event.php
  src/Capco/AppBundle/Entity/EventReview.php
  src/Capco/AppBundle/Entity/Reporting.php
  src/Capco/AppBundle/Enum/ReportingStatus.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/Repository/EventReviewRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/EventRefusedReason.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/EventReviewStatus.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEventReview.types.yml
  src/Capco/AppBundle/Resources/config/services/repositories.yml
Due: graphql, php, backend

Merge pull request #9120 from cap-collectif/9113-bug-date-picker
  app/Resources/js/components/Form/DateTime-test.js
  app/Resources/js/components/Form/DateTime.js
  app/Resources/js/components/Form/__snapshots__/DateTime-test.js.snap
Due: jest, flow, frontend

[ACCORDION] save
  app/Resources/js-server/registration.js
  app/Resources/js/components/Ui/Accordion/Accordion.js
  app/Resources/js/registration.js
  app/Resources/js/startup/AccordionApp.js
  package.json
  yarn.lock
Due: jest, flow, frontend

[ACCORDION] create accordion ui component
  app/Resources/js/components/Ui/Accordion/Accordion-test.js
  app/Resources/js/components/Ui/Accordion/Accordion.js
  app/Resources/js/components/Ui/Accordion/__snapshots__/Accordion-test.js.snap
  app/Resources/js/stories/capcollectif/Accordion-stories.js
Due: jest, flow, frontend

[9121-ACCORDION] remove useless cached offline dependency
  package.json
  yarn.lock
Due: none

Add mutation to toggle a custom SSO (#9027)
  app/Resources/js-server/registration.js
  app/Resources/js/components/Admin/Authentification/ListPublicSSO.js
  app/Resources/js/components/Admin/Authentification/ListSSOConfiguration-test.js
  app/Resources/js/components/Admin/Authentification/ListSSOConfiguration.js
  app/Resources/js/components/Admin/Authentification/Oauth2SSOConfigurationItem.js
  app/Resources/js/components/Admin/Authentification/__snapshots__/ListSSOConfiguration-test.js.snap
  app/Resources/js/components/Admin/Authentification/__snapshots__/Oauth2SSOConfigurationItem-test.js.snap
  app/Resources/js/components/Consultation/__snapshots__/ConsultationPlan-test.js.snap
  app/Resources/js/components/Navbar/NavbarRight-test.js
  app/Resources/js/components/Navbar/NavbarRight.js
  app/Resources/js/components/Page/ShieldPage.js
  app/Resources/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  app/Resources/js/components/Ui/Accordion/Accordion-test.js
  app/Resources/js/components/Ui/Accordion/Accordion.js
  app/Resources/js/components/Ui/Accordion/__snapshots__/Accordion-test.js.snap
  app/Resources/js/components/User/Login/LoginButton.js
  app/Resources/js/components/User/Login/LoginSocialButtons-test.js
  app/Resources/js/components/User/Login/LoginSocialButtons.js
  app/Resources/js/components/User/Login/__snapshots__/LoginSocialButtons-test.js.snap
  app/Resources/js/components/User/Profile/EditProfileTabs-test.js
  app/Resources/js/components/User/Profile/EditProfileTabs.js
  app/Resources/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  app/Resources/js/components/Utils/LoginOverlay.js
  app/Resources/js/mutations/ToggleSSOConfigurationStatusMutation.js
  app/Resources/js/redux/modules/default.js
  app/Resources/js/registration.js
  app/Resources/js/startup/AccordionApp.js
  app/Resources/js/stories/capcollectif/Accordion-stories.js
  app/Resources/js/types.js
  features/graphql/query/ssoConfigurations.feature
  jest-setup.js
  jest.config.js
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Controller/Site/SSOController.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/Oauth2SSOConfiguration.yml
  src/Capco/AppBundle/Toggle/Manager.php
  src/Capco/UserBundle/Controller/OauthConnectController.php
  src/Capco/UserBundle/OpenID/OptionsModifier/OpenIDOptionsModifier.php
  src/Capco/UserBundle/Security/Http/Logout/Handler/OpenIDLogoutHandler.php
Due: php, jest, flow, backend, frontend
