Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

guzzlehttp/psr7 1.8.5 (#14515)
  composer.lock
Due: none

12560 fix france connect (#14242)
  frontend/js/components/Admin/Project/Step/ProjectAdminCollectStepForm-test.js
  frontend/js/components/Admin/Project/Step/ProjectAdminCollectStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminConsultationStepForm-test.js
  frontend/js/components/Admin/Project/Step/ProjectAdminConsultationStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminQuestionnaireStepForm-test.js
  frontend/js/components/Admin/Project/Step/ProjectAdminQuestionnaireStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminSelectionStepForm-test.js
  frontend/js/components/Admin/Project/Step/ProjectAdminSelectionStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.style.js
  frontend/js/components/Admin/Project/Step/StepRequirementsList.js
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminCollectStepForm-test.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminConsultationStepForm-test.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminQuestionnaireStepForm-test.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminSelectionStepForm-test.js.snap
  frontend/js/components/Form/Field.js
  frontend/js/components/Form/Toggle.js
  frontend/js/components/Requirements/RequirementsForm.js
  frontend/js/components/Ui/Button/LoginSocialButton.js
  frontend/js/components/Ui/Button/__snapshots__/LoginSocialButton-test.js.snap
  frontend/js/components/Ui/Icons/FranceConnectIcon.js
  frontend/js/components/Ui/Toggle/Toggle.style.js
  public/image/fc_transparent_colored.png
Due: jest, flow

Revert "14186 delete old sonata project page (#14216)" (#14527)
  __snapshots__/rgpd_user_archives/user1/opinions.csv
  __snapshots__/rgpd_user_archives/user5/opinions.csv
  __snapshots__/rgpd_user_archives/userAdmin/opinions.csv
  config/packages/admin.yaml
  config/packages/notifiers.yaml
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/components/Admin/Project/ProjectAdminContent.js
  frontend/js/mutations/CreateProjectAlphaMutation.js
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/ProjectAbstractStepAdmin.php
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AdminBundle/Admin/SelectionStepAdmin.php
  src/Capco/AdminBundle/Admin/StepAdmin.php
  src/Capco/AdminBundle/Resources/views/Project/base_edit_form.html.twig
  src/Capco/AdminBundle/Resources/views/Project/cover_list_field.html.twig
  src/Capco/AdminBundle/Resources/views/Project/cover_show_field.html.twig
  src/Capco/AdminBundle/Resources/views/Project/edit.html.twig
  src/Capco/AdminBundle/Resources/views/Project/list__action_display.html.twig
  src/Capco/AdminBundle/Resources/views/Project/list__action_duplicate.html.twig
  src/Capco/AdminBundle/Resources/views/Project/proposals_show_field.html.twig
  src/Capco/AdminBundle/Resources/views/Project/title_list_field.html.twig
  src/Capco/AdminBundle/Resources/views/Project/visibility_list_field.html.twig
  src/Capco/AdminBundle/Resources/views/Proposal/project_list_field.html.twig
  src/Capco/AdminBundle/Resources/views/ProposalForm/project_show_field.html.twig
  src/Capco/AdminBundle/Resources/views/Step/edit.html.twig
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectAdminUrlResolver.php
  src/Capco/AppBundle/Normalizer/ProjectNormalizer.php
  src/Capco/AppBundle/Notifier/ProjectNotifier.php
  src/Capco/AppBundle/Resolver/ProjectResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yaml
Due: graphql, php, jest, flow

Fix typo 2022 05 09 (#14514)
  src/Capco/AppBundle/Entity/Answer.php
  src/Capco/AppBundle/Form/Extension/MediaTypeExtension.php
Due: php

[12849] Setup UI for sms tarification BO (#14535)
  admin-next/components/SecuredParticipation/SectionSMS/ModalCreditRefill/ModalCreditRefill.tsx
  admin-next/components/SecuredParticipation/SectionSMS/ModalProcessRequest/ModalProcessRequest.tsx
  admin-next/components/SecuredParticipation/SectionSMS/SectionSMSPresentation.tsx
  admin-next/components/SecuredParticipation/SectionSMS/SectionSMSVerification.tsx
  admin-next/components/UI/CountSection/Count/Count.tsx
  admin-next/components/UI/CountSection/CountSection.stories.tsx
  admin-next/components/UI/CountSection/CountSection.tsx
  admin-next/components/UI/CountSection/CountSectionPlaceholder.tsx
  admin-next/components/UI/CountSection/Title/Title.tsx
  admin-next/components/UI/CountSection/index.ts
  admin-next/components/UI/SegmentedControl/SegmentedControl.context.tsx
  admin-next/components/UI/SegmentedControl/SegmentedControl.stories.tsx
  admin-next/components/UI/SegmentedControl/SegmentedControl.tsx
  admin-next/components/UI/SegmentedControl/index.ts
  admin-next/components/UI/SegmentedControl/item/SegmentedControlItem.tsx
  admin-next/pages/identificationCodes.tsx
Due: none

generate addressJson in backend (#14531)
  src/Capco/AppBundle/GraphQL/Mutation/AddEventsMutation.php
Due: graphql, php

add certificate generation and installation with mkcert (#14464)
  infrastructure/deploylib/system.py
  infrastructure/services/local/Dockerfile
Due: none

[14500-FIXPROPOAL] [14500-FIXPROPOAL] check if project get steps (#14501)
  src/Capco/AppBundle/Entity/Proposal.php
Due: php

update symfony (#14516)
  composer.json
  composer.lock
  spec/Capco/AppBundle/GraphQL/Mutation/AddEventMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/ChangeEventMutationSpec.php
  src/Capco/AppBundle/Form/EventType.php
  src/Capco/AppBundle/Form/Persister/ProjectPersister.php
  src/Capco/AppBundle/Form/Persister/ProjectStepPersister.php
  src/Capco/AppBundle/Form/Step/ConsultationStepFormType.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventsMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeEventMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Event/AbstractEventMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
Due: graphql, php

return better errors (#14539)
  src/Capco/AppBundle/GraphQL/Exceptions/GraphQLException.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventsMutation.php
Due: graphql, php

[14507-FIXFACEBOOKEMAIL] fix SSO email (#14519)
  admin-next/components/Authentication/SSOList/OpenID/FormConfiguration.tsx
  spec/Capco/UserBundle/Security/Core/User/OauthUserProviderSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/GroupMutation.php
  src/Capco/UserBundle/Handler/UserInvitationHandler.php
  src/Capco/UserBundle/Security/Core/User/OauthUserProvider.php
  src/DoctrineMigrations/Version20220509184500.php
Due: graphql, php

Fix de sendinblue sur le webhook (#14472)
  config/routes/routing.yaml
  src/Capco/AppBundle/Controller/Api/SendInBlueController.php
Due: php

[12849] Connect BO sms components to data (#14540)
  admin-next/components/SecuredParticipation/SectionSMS/ModalCreditRefill/ModalCreditRefill.tsx
  admin-next/components/SecuredParticipation/SectionSMS/ModalProcessRequest/ModalProcessRequest.tsx
  admin-next/components/SecuredParticipation/SectionSMS/SectionSMSVerification.tsx
  admin-next/components/SecuredParticipation/SectionSMS/SectionSms.tsx
  admin-next/components/SecuredParticipation/SectionSMS/SectionSmsPresentation.tsx
  admin-next/components/SecuredParticipation/SectionSMS/SectionSmsTarification.tsx
  admin-next/components/SecuredParticipation/SectionSMS/SmsAnalytics/SmsAnalytics.tsx
  admin-next/components/SecuredParticipation/SectionSMS/SmsOrderList/SmsOrderItem.tsx
  admin-next/components/SecuredParticipation/SectionSMS/SmsOrderList/SmsOrderList.tsx
  admin-next/components/UI/CountSection/CountSection.tsx
  admin-next/components/UI/SegmentedControl/SegmentedControl.tsx
  admin-next/components/UI/SegmentedControl/item/SegmentedControlItem.tsx
  admin-next/mutations/AddSmsCreditMutation.ts
  admin-next/mutations/CreateSmsOrderMutation.ts
  admin-next/mutations/DeleteSmsOrderMutation.ts
  admin-next/pages/identificationCodes.tsx
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/Sms/DeleteSmsOrderMutationSpec.php
  src/Capco/AppBundle/Enum/SmsOrdersFilters.php
  src/Capco/AppBundle/GraphQL/Mutation/Sms/DeleteSmsOrderMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Sms/SmsOrdersResolver.php
  src/Capco/AppBundle/Repository/SmsOrderRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/SmsOrdersFilters.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/DeleteSmsOrderPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalSmsOrder.types.yaml
Due: graphql, php

fix section (#14541)
  src/Capco/AdminBundle/Controller/SectionController.php
Due: php

rewrite rgpd tests (#14545)
  cypress/integration/rgpd/rgpd.spec.ts
  cypress/package.json
  features/front/pages/rgpd.feature
Due: none

update composer.lock (#14547)
  composer.lock
Due: none

comment/delete code cov (#14548)
  infrastructure/deploylib/qa.py
  infrastructure/deploylib/system.py
  infrastructure/services/local/Dockerfile
  phpspec.yml
Due: none

14491 order responses by readability (#14550)
  features/graphql-api/internal/Question/Question_responses_civicIA.js
  features/graphql-api/internal/Question/__snapshots__/Question_responses_civicIA.js.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Enum/ResponsesOrderField.php
  src/Capco/AppBundle/GraphQL/Resolver/Question/QuestionResponsesResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ResponsesOrderField.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalQuestion.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ResponsesOrder.yaml
  src/Capco/AppBundle/Resources/config/serialization/Responses.ValueResponse.yaml
  src/Capco/AppBundle/Search/ResponseSearch.php
Due: graphql, php

[FIX] Fix e2e-graphql-mutation-user (#14587)
  features/graphql/mutation/deleteUserIdentificationCodeList.feature
Due: none

[14588-FIXFRANCECONNECT] fix france connect association (#14589)
  src/Capco/UserBundle/Security/Core/User/OauthUserProvider.php
Due: php

update guzzle-http to 6.5.6 (#14597)
  __snapshots__/exports/debate-debateCannabis-votes.csv
  composer.lock
Due: none

updateCivicIA mutation (#14451)
  config/packages/services.yaml
  features/graphql/mutation/updateCivicIA.feature
  fixtures/Dev/ValueResponse.yaml
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/CivicIA/CivicIAMassUpdaterSpec.php
  src/Capco/AppBundle/CivicIA/CivicIAMassUpdater.php
  src/Capco/AppBundle/Entity/Interfaces/CivicIAAnalyzableInterface.php
  src/Capco/AppBundle/Entity/Responses/ValueResponse.php
  src/Capco/AppBundle/Enum/CivicIASentimentEnum.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateCivicIAMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/CivicIAAnalyzableResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/UpdateCivicIAErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/CivicIAAnalyzable.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateCivicIAInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateCivicIAPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalValueResponse.types.yaml
  src/Capco/AppBundle/Traits/CivicIATrait.php
  src/DoctrineMigrations/Version20220429113014.php
  src/DoctrineMigrations/Version20220429122324.php
Due: graphql, php

prevent excel from interpreting reference as date for analysis csv (#14593)
  __snapshots__/exports/project-budget-participatif-idf-analysis.csv
  __snapshots__/exports/project-budget-participatif-idf-decision.csv
  __snapshots__/exports/project-project-analyse-decision.csv
  __snapshots__/exports/project-projet-avec-administrateur-de-projet-analysis-project-admin.csv
  __snapshots__/exports/project-projet-avec-administrateur-de-projet-analysis.csv
  __snapshots__/exports/project-projet-avec-administrateur-de-projet-decision-project-admin.csv
  __snapshots__/exports/project-projet-avec-administrateur-de-projet-decision.csv
  src/Capco/AppBundle/Command/ExportAnalysisCSVCommand.php
Due: php

[14339-MAPVIEWBACKEND] Add address on project (#14546)
  features/graphql/mutation/updateProject.feature
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalFormMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProjectMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectAddressResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateProjectInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yaml
  src/Capco/AppBundle/Traits/AddressableTrait.php
  src/Capco/UserBundle/Form/Type/UpdateProjectFormType.php
  src/DoctrineMigrations/Version20220518161130.php
Due: graphql, php

use postalAddress for user export (#14605)
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
Due: php

14488 ia categories (#14579)
  features/graphql-api/internal/Question/Question_iaCategories.js
  features/graphql-api/internal/Question/__snapshots__/Question_iaCategories.js.snap
  features/graphql-api/internal/Question/__snapshots__/Question_responses_civicIA.js.snap
  fixtures/Dev/ValueResponse.yaml
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Question/QuestionIACategoriesResolver.php
  src/Capco/AppBundle/Repository/ValueResponseRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalQuestion.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Counter.yaml
Due: graphql, php

fix replyForm validation (#14606)
  frontend/js/components/Reply/Form/ReplyForm.js
Due: jest, flow

fix email condition (#14607)
  spec/Capco/AppBundle/GraphQL/Mutation/AddUserReplyMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/AddUserReplyMutation.php
Due: graphql, php

fix popover message in conditionnal jump (#14600)
  frontend/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
  frontend/js/components/Question/SectionQuestionAdminModal.js
  frontend/js/components/Question/SubSectionQuestionAdminModal.js
  frontend/js/components/QuestionJump/QuestionJumpConditionsAdminForm.js
  frontend/js/components/QuestionJump/QuestionsJumpAdminForm.js
Due: jest, flow

[14494-FIXEVENTLINKEDTOSTEP] fix display passed on event (#14611)
  frontend/js/components/Event/ProjectEventPreview/ProjectEventPreview-test.js
  frontend/js/components/Event/ProjectEventPreview/ProjectEventPreview.js
  frontend/js/components/Event/ProjectEventPreview/__snapshots__/ProjectEventPreview-test.js.snap
Due: jest, flow

[14145] Some fix dashboard (#14411)
  admin-next/components/Dashboard/Sections/SectionContributors/ModalSectionContributors.tsx
  admin-next/components/Dashboard/Sections/SectionMostVisitedPages/ModalSectionMostVisitedPages.tsx
  admin-next/components/Dashboard/Sections/SectionMostVisitedPages/SectionMostVisitedPages.tsx
  admin-next/components/SideBar/SideBarItems.json
  admin-next/components/UI/Charts/ViewChart/ViewChart.tsx
  config/packages/security.yaml
  frontend/js/components/Admin/Sidebar/Sidebar.js
Due: jest, flow

add biz email to sms credit notif (#14619)
  src/Capco/AppBundle/Notifier/SmsNotifier.php
Due: php

14491 order responses by category (#14622)
  features/graphql-api/internal/Question/Question_responses_civicIA.js
  features/graphql-api/internal/Question/__snapshots__/Question_responses_civicIA.js.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Enum/ResponsesOrderField.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ResponsesOrderField.types.yaml
  src/Capco/AppBundle/Resources/config/serialization/Responses.ValueResponse.yaml
Due: php

geoip as option in export (#14616)
  __snapshots__/exports/debate-debateCannabis-arguments.csv
  __snapshots__/exports/debate-debateCannabis-votes.csv
  __snapshots__/exports/debate-debateConfinement-arguments.csv
  __snapshots__/exports/debate-debateConfinement-votes.csv
  __snapshots__/exports/debate-debateMulti2-arguments.csv
  __snapshots__/exports/debate-debateMulti2-votes.csv
  __snapshots__/exports/debate-debateMuti1-arguments.csv
  __snapshots__/exports/debate-debateMuti1-votes.csv
  __snapshots__/exports/debate-debateOculusQuest-arguments.csv
  __snapshots__/exports/debate-debateOculusQuest-votes.csv
  __snapshots__/exports/debate-debateOpenWithoutVote-arguments.csv
  __snapshots__/exports/debate-debateOpenWithoutVote-votes.csv
  __snapshots__/exports/debate-debateProjectAdmin-arguments-project-admin.csv
  __snapshots__/exports/debate-debateProjectAdmin-arguments.csv
  __snapshots__/exports/debate-debateProjectAdmin-votes-project-admin.csv
  __snapshots__/exports/debate-debateProjectAdmin-votes.csv
  __snapshots__/exports/debate-debateWysiwyg-arguments.csv
  __snapshots__/exports/debate-debateWysiwyg-votes.csv
  infrastructure/services/local/cron/crontab
  infrastructure/services/remote/cron/crontab
  src/Capco/AppBundle/Command/ExportDebateCommand.php
Due: php

14625 fix emailing rights (#14627)
  features/graphql-api/internal/User/__snapshots__/Viewer_emailingCampaigns.js.snap
  frontend/js/components/Admin/Emailing/MailParameter/MailParameterPage.js
  frontend/js/components/Admin/Emailing/MailParameter/MailParameterQuery.js
  frontend/js/components/Admin/Emailing/MailParameter/Parameter/Parameter-test.js
  frontend/js/components/Admin/Emailing/MailParameter/Parameter/__snapshots__/Parameter-test.js.snap
  frontend/js/components/Admin/Emailing/MailParameter/Parameter/index.js
  src/Capco/AppBundle/Repository/EmailingCampaignRepository.php
Due: php, jest, flow

fix import event endAt (#14628)
  src/Capco/AppBundle/GraphQL/Mutation/AddEventsMutation.php
Due: graphql, php

[14612] Hotjar script for admin-next (#14617)
  admin-next/components/Layout/HotJar.tsx
  admin-next/components/Layout/Layout.tsx
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
Due: php

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
