Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

chore: add audit-fix following yarn upgrade (#19911)
  doc/codeQuality.md
  package.json
  scripts/audit-fix.mjs
  scripts/audit-report.mjs
Due: none

feat: synchronize Hub API Green media (#19953)
  config/packages/graphql_mutations.yaml
  config/packages/security.yaml
  config/packages/services.yaml
  config/services.yaml
  doc/hub-api-green-platform-integration-issues.md
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/HubApiGreen/SynchronizeHubApiGreenMediaMutation.php
  src/Capco/AppBundle/PublicApi/InternalGraphQLApiKeyRequestMatcher.php
  src/Capco/AppBundle/PublicApi/PublicApiKeyAuthenticator.php
  src/Capco/AppBundle/Repository/MediaRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/HubApiGreen/enum/SynchronizeHubApiGreenMediaErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/HubApiGreen/mutations/SynchronizeHubApiGreenMediaClassificationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/HubApiGreen/mutations/SynchronizeHubApiGreenMediaDocumentInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/HubApiGreen/mutations/SynchronizeHubApiGreenMediaInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/HubApiGreen/mutations/SynchronizeHubApiGreenMediaPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  tests/Mutation/HubApiGreen/SynchronizeHubApiGreenMediaMutationTest.php
  tests/PublicApi/InternalGraphQLApiKeyRequestMatcherTest.php
  tests/PublicApi/PublicApiKeyAuthenticatorTest.php
Due: graphql, php

test: migrate GraphQL configuration Behat tests (#19973)
  features/graphql-api/internal/Mutation/__snapshots__/updateHomePageProjectsSectionConfiguration.js.snap
  features/graphql-api/internal/Mutation/updateHomePageProjectsSectionConfiguration.js
  features/graphql-api/internal/Query/Query_configurationAndInternationalization.js
  features/graphql-api/internal/Query/__snapshots__/Query_configurationAndInternationalization.js.snap
  features/graphql/query/availableDistrictsForLocalisation.feature
  features/graphql/query/availableLocales.feature
  features/graphql/query/contactForms.feature
  features/graphql/query/cors.feature
  features/graphql/query/defaultLocale.feature
  features/graphql/query/externalServiceConfiguration.feature
  features/graphql/query/homePageProjectsSectionConfiguration.feature
  features/graphql/query/locales.feature
  features/graphql/query/senderEmailDomains.feature
  features/graphql/query/senderEmails.feature
  features/graphql/query/shieldAdminForm.feature
  features/graphql/query/siteParameter.feature
  features/graphql/query/site_favicon.feature
  src/Capco/AppBundle/Behat/GraphQLContext.php
  tests/Controller/Api/GraphQLControllerTest.php
Due: none

ci: split PHPUnit tests across CircleCI executors (#20010)
  ADR/001-continuous_integration.md
  infrastructure/deploylib/ci/qa.py
  infrastructure/deploylib/qa.py
Due: none

test: upgrade Cypress to 15.20 (#20012)
  cypress/cypress.development.json
  cypress/package.json
  cypress/support/graphql.ts
  yarn.lock
Due: none

chore: dedupe yarn.lock and prune stale resolutions entries (#19997)
  doc/codeQuality.md
  package.json
  yarn.lock
Due: none

fix: add missing lodash range to yarn.lock after Cypress 15 upgrade (#20013)
  yarn.lock
Due: none

chore: security upgrade (#20015)
  yarn.lock
Due: none

19959 api anonymisation name (#19961)
  features/graphql-api/internal/Mutation/Account/__snapshots__/deleteAccountByEmail.js.snap
  features/graphql-api/internal/Mutation/Account/deleteAccountByEmail.js
  features/graphql-api/public/Mutation/__snapshots__/anonymizeAccountByEmail.js.snap
  features/graphql-api/public/Mutation/__snapshots__/deleteAccountByEmail.js.snap
  features/graphql-api/public/Mutation/deleteAccountByEmail.js
  features/graphql-api/public/Query/__snapshots__/introspection.js.snap
  schema.dev.graphql
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Controller/Site/DeveloperController.php
  src/Capco/AppBundle/Resources/config/graphql/preview/PreviewMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/enums/PreviewDeleteAccountByEmailErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/mutations/PreviewDeleteAccountByEmailInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/mutations/PreviewDeleteAccountByEmailPayload.types.yaml
  src/Capco/AppBundle/Resources/views/Developer/guides.html.twig
  src/Capco/AppBundle/Resources/views/Developer/guides/delete-account-by-email.html.twig
Due: php

fix: restore Cypress database before admin login (#20028)
  cypress/e2e/backOffice/proposalPage/proposalPage.cy.ts
  cypress/e2e/backOffice/proposalPage/proposalPageBo.cy.ts
Due: none

test: migrate export and analysis Behat scenarios (#19974)
  __snapshots__/exports/debate/contributions_debat-du-mois_pour-ou-contre-le-reconfinement.csv
  __snapshots__/exports/debate/contributions_debat-du-mois_pour-ou-contre-le-reconfinement_simplified.csv
  __snapshots__/exports/debate/contributions_debat-sur-le-cannabis_pour-ou-contre-la-legalisation-du-cannabis.csv
  __snapshots__/exports/debate/contributions_debat-sur-le-cannabis_pour-ou-contre-la-legalisation-du-cannabis_simplified.csv
  __snapshots__/exports/debate/contributions_projet-pour-campagne-vote-au-depot_emailing-pour-ou-contre.csv
  __snapshots__/exports/debate/contributions_projet-pour-campagne-vote-au-depot_emailing-pour-ou-contre_simplified.csv
  behat.yml
  features/commands/commands/analysis_process_proposals.feature
  features/commands/commands/export.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/CommandContext.php
  src/Capco/AppBundle/Behat/DefaultContext.php
  src/Capco/AppBundle/Behat/ExportContext.php
  src/Capco/AppBundle/Behat/Traits/ExportDatasUserTrait.php
  src/Capco/AppBundle/Repository/DebateRepository.php
  tests/Command/DeleteUserArchiveCommandTest.php
  tests/Command/LegacyExportCommandsTest.php
  tests/Command/ProcessingProposalCommandTest.php
Due: php

feat: add yup util to check not blank value (#20029)
  admin-next/shared/utils/yupExtensions.ts
Due: none

chore(docs): update REFONTE_SONATA.md (#20030)
  .claude/skills/form-mutation/SKILL.md
  REFONTE_SONATA.md
Due: none

chore(docs): update REFONTE_SONATA.md (relay section) (#20031)
  REFONTE_SONATA.md
Due: none

chore(behat/CI): remove dead suites and their CI jobs (#20038)
  ADR/001-frontend_tests.md
  AGENTS.md
  behat.yml
Due: none

chore: remove unused test file (#20046)
  cypress/e2e/backOffice/project/projectsAsOrganization.cy.ts
Due: none

chore(docs): update REFONTE_SONATA documentation (#20048)
  REFONTE_SONATA.md
Due: none

chore(CI/config): check Cypress spec coverage (#20043)
  ADR/001-continuous_integration.md
Due: none

ai: update agents instructions for PHP and Fab runs (#20054)
  AGENTS.md
Due: none

fix(CI/config): actually halt CI on docs-only branch changes (#20050)
  ADR/001-continuous_integration.md
Due: none

wire API + extends choices (#20001)
  admin-next/components/BackOffice/Steps/CollectStep/CollectStepForm.tsx
  admin-next/components/BackOffice/Steps/CollectStep/CollectStepForm.utils.ts
  admin-next/components/BackOffice/Steps/CollectStep/ProposalFormListField.tsx
  admin-next/components/BackOffice/Steps/ProposalStep/ProposalSettings.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Inputs/TitleInput.tsx
  admin-next/shared/constants/proposalStepObjectType.test.ts
  admin-next/shared/constants/proposalStepObjectType.ts
  features/graphql-api/internal/Mutation/ProposalForm/updateProposalForm.js
  frontend/js/components/Page/ProposalStepPageHeader.tsx
  frontend/js/components/Project/Votes/ProposalsUserVotesStep.tsx
  frontend/js/components/Proposal/Form/ProposalForm.tsx
  frontend/js/components/Proposal/Form/ProposalFormLegacy.tsx
  frontend/js/components/Proposal/List/ProposalListTable.tsx
  frontend/js/components/Proposal/Page/Header/ProposalPageHeader.tsx
  frontend/js/components/ProposalForm/__snapshots__/ProposalFormAdminConfigurationForm-test.tsx.snap
  frontend/js/mutations/CreateProposalMutation.ts
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Enum/ProposalFormObjectType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ProposalFormObjectType.types.yaml
Due: php, jest, flow

test(graphql): migrate identity and privacy Behat tests (#19975)
  cypress/e2e/frontOffice/publicPages/tokenRoutes.cy.ts
  features/graphql-api/internal/Query/Query_identityAndPrivacy.js
  features/graphql-api/internal/Query/User/User_connections.js
  features/graphql-api/internal/Query/__snapshots__/Query_identityAndPrivacy.js.snap
  features/graphql/query/group.feature
  features/graphql/query/group_user.feature
  features/graphql/query/isEmailAlreadyTaken.feature
  features/graphql/query/organizations.feature
  features/graphql/query/personalData.feature
  features/graphql/query/registration.feature
  features/graphql/query/userIdentificationCodeLists.feature
  features/graphql/query/users.feature
  features/graphql/query/users_connections.feature
  features/graphql/query/users_registration.feature
  features/graphql/query/viewer.feature
  jest-setup.e2e.js
Due: none

fix: restore IDF proposal content from CSV (#19996)
  doc/repair-idf-proposals-csv-analysis.md
  src/Capco/AppBundle/Command/RepairIDFProposalsFromCsvCommand.php
  src/Capco/AppBundle/Repository/AbstractResponseRepository.php
  src/Capco/AppBundle/Repository/ProposalRepository.php
Due: php

20070 anonymize range (#20073)
  AGENTS.md
  src/Capco/AppBundle/Command/AnonymizeUsersAutomatedCommand.php
  tests/Command/AnonymizeUsersAutomatedCommandTest.php
Due: php

test(graphql): migrate project and proposal query tests (#19976)
  features/graphql-api/internal/Query/Participant/__snapshots__/Participant_votes.js.snap
  features/graphql-api/internal/Query/Query_projectsAndProposals.js
  features/graphql-api/internal/Query/__snapshots__/Query_projectsAndProposals.js.snap
  features/graphql/query/project_comments.feature
  features/graphql/query/project_consultationStepOpen.feature
  features/graphql/query/project_posts.feature
  features/graphql/query/project_restrictedViewers.feature
  features/graphql/query/projects_authors.feature
  features/graphql/query/projects_types.feature
  features/graphql/query/proposalOrder.feature
  features/graphql/query/proposalVotes.feature
  features/graphql/query/proposal_followers.feature
  src/Capco/AppBundle/Repository/ProposalSelectionVoteRepository.php
Due: php

ci: remove 'no CI if doc only' checks because they cannot work in our current infrastructure (#20076)
  ADR/001-continuous_integration.md
Due: none

chore: remove duplicate test cases (#20047)
  cypress/e2e/frontOffice/opinion/opinion.cy.ts
  cypress/e2e/frontOffice/proposal/proposalPage.cy.ts
  cypress/e2e/frontOffice/proposal/proposalStep.cy.ts
Due: none

refactor(socialNetworksBO): Sonata to next.js (#20018)
  admin-next/components/BackOffice/SideBar/SideBarItems.json
  admin-next/components/BackOffice/SocialNetwork/SocialNetworkDeleteModal.tsx
  admin-next/components/BackOffice/SocialNetwork/SocialNetworkList.tsx
  admin-next/components/BackOffice/SocialNetwork/SocialNetworkModal.tsx
  admin-next/components/BackOffice/SocialNetwork/types.ts
  admin-next/mutations/CreateSocialNetworkMutation.ts
  admin-next/mutations/DeleteSocialNetworkMutation.ts
  admin-next/mutations/UpdateSocialNetworkMutation.ts
  admin-next/pages/admin-next/social-networks.tsx
  config/packages/admin.yaml
  config/packages/sonata_admin.yaml
  cypress/e2e/backOffice/socialNetwork/socialNetwork.cy.ts
  frontend/js/components/Admin/Sidebar/Sidebar.tsx
  frontend/js/components/Admin/Sidebar/Sidebar.utils.tsx
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/SocialNetworkAdmin.php
  src/Capco/AdminBundle/Resources/views/SocialNetwork/media_list_field.html.twig
  src/Capco/AdminBundle/Resources/views/SocialNetwork/media_show_field.html.twig
  src/Capco/AppBundle/Enum/SocialNetworkErrorCode.php
  src/Capco/AppBundle/GraphQL/Mutation/SocialNetwork/CreateSocialNetworkMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/SocialNetwork/DeleteSocialNetworkMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/SocialNetwork/UpdateSocialNetworkMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/SocialNetwork/SocialNetworkListResolver.php
  src/Capco/AppBundle/Repository/SocialNetworkRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/SocialNetwork/enum/SocialNetworkErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/SocialNetwork/mutations/CreateSocialNetworkInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/SocialNetwork/mutations/CreateSocialNetworkPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/SocialNetwork/mutations/DeleteSocialNetworkInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/SocialNetwork/mutations/DeleteSocialNetworkPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/SocialNetwork/mutations/UpdateSocialNetworkInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/SocialNetwork/mutations/UpdateSocialNetworkPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/SocialNetwork/objects/InternalSocialNetwork.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/SocialNetwork/relay-connection/SocialNetworkConnection.types.yaml
Due: graphql, php, jest, flow

fix(BO): add 403 page + enforce SideBarItems role restrictions (#20005)
  ADR/001-admin_next_authorization_errors.md
  AGENTS.md
  REFONTE_SONATA.md
  admin-next/pages/admin-next/403.tsx
  admin-next/utils/withPageAuthRequired.ts
Due: none

[Refonte dépôt/sélection] Corriger le formulaire de dépôt (#19999)
  admin-next/components/BackOffice/Form/TextEditor/Jodit.tsx
  admin-next/components/BackOffice/Form/TextEditor/TextEditor.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Inputs/AddressInput.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Inputs/DescriptionInput.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalFormModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Questions/QuestionField.tsx
  admin-next/shared/cap-collectif/form/src/components/uploader/Uploader.tsx
Due: none

fix: remove error due to a refactor on role enforcement (#20080)
  admin-next/pages/admin-next/social-networks.tsx
  cypress/e2e/backOffice/socialNetwork/socialNetwork.cy.ts
Due: none

refactor(BO/projectType): sonata to react/next.js page (#19930)
  admin-next/components/BackOffice/ProjectTypes/ProjectTypeModal.tsx
  admin-next/components/BackOffice/ProjectTypes/ProjectTypesList.tsx
  admin-next/components/BackOffice/SideBar/SideBarItems.json
  admin-next/mutations/UpdateProjectTypeMutation.ts
  admin-next/pages/admin-next/project-types.tsx
  config/packages/admin.yaml
  config/packages/sonata_admin.yaml
  cypress/e2e/backOffice/project/consultationAndProject.cy.ts
  cypress/e2e/backOffice/project/projectTypes.cy.ts
  features/graphql-api/internal/Query/__snapshots__/Query_projectsAndProposals.js.snap
  frontend/js/components/Admin/Sidebar/Sidebar.tsx
  frontend/js/components/Admin/Sidebar/Sidebar.utils.tsx
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/ProjectTypeAdmin.php
  src/Capco/AdminBundle/Controller/ProjectTypeController.php
  src/Capco/AdminBundle/Resources/views/ProjectType/edit.html.twig
  src/Capco/AdminBundle/Resources/views/ProjectType/list_color.html.twig
  src/Capco/AdminBundle/Resources/views/ProjectType/list_title.html.twig
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProjectTypeMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectAuthorsResolver.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Repository/ProjectTypeRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateProjectTypeInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateProjectTypePayload.types.yaml
Due: graphql, php, jest, flow

fix: ui feedbacks (#19675)
  admin-next/components/BackOffice/Projects/ProjectConfig/EditTabModal.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigForm.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormGeneral.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormSide/ProjectConfigFormSide.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormSteps.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/DraggableTab.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/EventsTabContent.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/NewsTabContent.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/ProjectConfigFormTabs.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/TabItem.tsx
  admin-next/components/BackOffice/Steps/CollectStep/CollectStepForm.tsx
  admin-next/components/BackOffice/Steps/CollectStep/CollectStepForm.utils.ts
  admin-next/components/BackOffice/Steps/ConsultationStep/ConsultationStepForm.tsx
  admin-next/components/BackOffice/Steps/DebateStep/DebateStepForm.tsx
  admin-next/components/BackOffice/Steps/OtherStep/OtherStepForm.tsx
  admin-next/components/BackOffice/Steps/QuestionnaireStep/QuestionnaireStepForm.tsx
  admin-next/components/BackOffice/Steps/QuestionnaireStep/utils.ts
  admin-next/components/BackOffice/Steps/SelectStep/SelectStepForm.tsx
  admin-next/components/BackOffice/Steps/SelectStep/SelectStepForm.utils.ts
  admin-next/components/FrontOffice/Project/ParticipationSteps.tsx
  admin-next/components/FrontOffice/Project/ProjectPageEventsTab.tsx
  admin-next/components/FrontOffice/Project/ProjectPageHero.tsx
  admin-next/components/FrontOffice/Project/ProjectPageLayout.tsx
  admin-next/components/FrontOffice/Project/ProjectPageTabBar.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepProposalsList.tsx
  admin-next/components/FrontOffice/VoteButton/VoteButton.tsx
  admin-next/mutations/DeleteStepMutation.ts
  frontend/js/components/Consultation/ConsultationStepHeader.tsx
  frontend/js/components/Page/CustomStepPage.tsx
  frontend/js/components/Page/PresentationStepPage.tsx
  frontend/js/components/Proposal/Vote/ProposalVoteButton.tsx
  frontend/js/components/Questionnaire/QuestionnaireHeader.tsx
  frontend/js/components/Steps/Page/StepPageHeader/StepPageHeaderNew.tsx
Due: jest, flow

fix(proposal): sync address and map (#20002)
  admin-next/components/FrontOffice/Steps/VoteStep/Map/VoteStepMapCustomEvents.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Inputs/AddressInput.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Inputs/AddressMapPreview.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/LocateOnMapModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalFormModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalFormModal.type.ts
  admin-next/shared/cap-collectif/form/src/components/address/Address.tsx
  admin-next/src/app/styles.tsx
Due: none

fix(proposal): correct publication and drafts (#20004)
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalDrafts/ProposalDrafts.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalFormModal.tsx
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/ProposalFormModal.type.ts
  admin-next/components/FrontOffice/Steps/VoteStep/VoteStepProposalsList.tsx
  admin-next/mutations/ChangeProposalContentMutation.ts
  admin-next/mutations/CreateProposalMutation.ts
  cypress/e2e/frontOffice/proposal/proposalPage.cy.ts
  cypress/pages/admin/project.ts
  features/graphql-api/internal/Mutation/Debate/removeDebateAnonymousVote.js
  src/Capco/AppBundle/Repository/ProposalSelectionVoteRepository.php
Due: php

fix: remove timeline title from step content (#20097)
  cypress/e2e/backOffice/project/project.cy.ts
  frontend/js/components/Steps/Page/StepPageHeader/StepPageHeader-test.tsx
  frontend/js/components/Steps/Page/StepPageHeader/StepPageHeader.tsx
  frontend/js/components/Steps/Page/StepPageHeader/__snapshots__/StepPageHeader-test.tsx.snap
Due: jest, flow

20099 security issues (#20101)
  admin-next/components/ParticipationWorkflow/ParticipationWorkflowModal.tsx
  admin-next/shared/utils/fromGlobalId.test.ts
  admin-next/shared/utils/fromGlobalId.ts
  features/graphql-api/internal/Query/Query_eventParticipantPersonalData.js
  features/graphql-api/internal/Query/Query_internalForms.js
  features/graphql-api/internal/Query/Query_participantPersonalData.js
  features/graphql-api/internal/Query/Query_userInvitationsAvailabilitySearch.js
  features/graphql/type/event/event_participants.feature
  frontend/js/components/ParticipationWorkflow/ParticipationWorkflowModal.tsx
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/GraphQL/Mutation/Participant/UpdateParticipantMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Event/EventExportParticipantsUrlResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Participant/ParticipantResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryUsersResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalParticipant.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/NotRegistred.types.yaml
  tests/Controller/Site/ExportControllerTest.php
  tests/GraphQL/Resolver/Query/QueryEventsResolverTest.php
  tests/GraphQL/Resolver/Query/QueryUsersResolverTest.php
Due: graphql, php, jest, flow

test: migrate Behat notification command scenarios (#20032)
  __snapshots__/emails/email_debate_launch.html
  __snapshots__/emails/email_debate_launch.html-mobile.png
  __snapshots__/emails/email_debate_launch.html-web.png
  __snapshots__/emails/email_debate_reminder.html
  __snapshots__/emails/email_debate_reminder.html-mobile.png
  __snapshots__/emails/email_debate_reminder.html-web.png
  __snapshots__/emails/email_debate_test.html
  __snapshots__/emails/notify_followers<admin@test.com>.html
  __snapshots__/emails/notify_followers<admin@test.com>.html-mobile.png
  __snapshots__/emails/notify_followers<admin@test.com>.html-web.png
  __snapshots__/emails/notify_followers<admin@test.com>_blog_post.html
  __snapshots__/emails/notify_followers<admin@test.com>_blog_post.html-mobile.png
  __snapshots__/emails/notify_followers<admin@test.com>_blog_post.html-web.png
  __snapshots__/emails/notify_followers<maxime.auriau@cap-collectif.com>_idf_bp3.html
  __snapshots__/emails/notify_followers<user@test.com>.html
  __snapshots__/emails/notify_followers<user@test.com>.html-mobile.png
  __snapshots__/emails/notify_followers<user@test.com>.html-web.png
  __snapshots__/emails/notify_followers<user@test.com>_blog_post.html
  __snapshots__/emails/notify_followers<user@test.com>_blog_post.html-mobile.png
  __snapshots__/emails/notify_followers<user@test.com>_blog_post.html-web.png
  __snapshots__/emails/notify_followers<user@test.com>_idf_bp3.html
  cypress/e2e/frontOffice/questionnaire/questionnaireLoggedInAsUser.cy.ts
  features/commands/commands/debateLaunch.feature
  features/commands/commands/notifyFollowers.feature
  features/commands/commands/remind_confirmation.feature
  features/commands/commands/remind_step_close.feature
  src/Capco/AppBundle/Behat/UserContext.php
  tests/Command/DebateInvitationCommandTest.php
  tests/Command/FollowerNotifierCommandTest.php
  tests/Command/MailerSnapshotCommandTestCase.php
  tests/Command/RemindUserAccountConfirmationBeforeStepCloseCommandTest.php
  tests/Command/RemindUserAccountConfirmationCommandTest.php
Due: none

Behat -> jest : types GraphQL consultations, événements et opinions (#20009)
  features/graphql-api/internal/Query/Consultation/Consultation_userHasVote.js
  features/graphql-api/internal/Query/Consultation/__snapshots__/Consultation_userHasVote.js.snap
  features/graphql-api/internal/Query/Event/Event_participants.js
  features/graphql-api/internal/Query/Event/__snapshots__/Event_participants.js.snap
  features/graphql-api/internal/Query/Opinion/Opinion_url.js
  features/graphql-api/internal/Query/Opinion/Opinion_votes.js
  features/graphql-api/internal/Query/Opinion/__snapshots__/Opinion_url.js.snap
  features/graphql-api/internal/Query/Opinion/__snapshots__/Opinion_votes.js.snap
  features/graphql-api/internal/Query/Section/Section_contributions.js
  features/graphql-api/internal/Query/Section/Section_opinions.js
  features/graphql-api/internal/Query/Section/__snapshots__/Section_contributions.js.snap
  features/graphql-api/internal/Query/Section/__snapshots__/Section_opinions.js.snap
  features/graphql/type/consultation/consultation_userHasVote.feature
  features/graphql/type/consultation/consultations.feature
  features/graphql/type/event/event_participants.feature
  features/graphql/type/opinion/opinion_url.feature
  features/graphql/type/opinion/opinion_votes.feature
  features/graphql/type/section/section_opinions.feature
Due: none

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
