Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

Fix RabbiMQ server user (#13483)
  infrastructure/services/remote/php-fpm/run
  infrastructure/services/remote/rabbitmq/run
Due: none

Let users override the CAS username (#13484)
  src/Capco/UserBundle/Security/Core/User/CasUserProvider.php
Due: php

[13042-USER-INVITE] UserInvite Reliability. (#13271)
  config/packages/notifiers.yaml
  config/packages/swarrot.yaml
  config/rabbitmq.yaml
  frontend/js/components/Admin/UserInvite/Modal/UserInviteByFile/UserInviteByFileStepChooseFile.js
  frontend/js/components/Admin/UserInvite/UserInviteAdminPage.js
  frontend/js/components/Admin/UserInvite/UserInviteAdminPageQuery.js
  frontend/js/components/Admin/UserInvite/UserInviteList.js
  frontend/js/components/Admin/UserInvite/UserInviteList.relay.js
  frontend/js/components/Utils/CsvDropZoneInput.js
  frontend/js/startup/UserInviteAdminPageApp.js
  frontend/js/utils/csvToArray-test.js
  frontend/js/utils/csvToArray.js
  infrastructure/services/local/supervisord/user.conf
  infrastructure/services/remote/supervisord/user.conf
  schema.internal.graphql
  spec/Capco/AppBundle/Processor/UserInvite/UserInviteStatusCheckProcessorSpec.php
  src/Capco/AdminBundle/Resources/views/UserInvite/list.html.twig
  src/Capco/AppBundle/CapcoAppBundleMessagesTypes.php
  src/Capco/AppBundle/Entity/UserInvite.php
  src/Capco/AppBundle/Enum/UserInviteStatus.php
  src/Capco/AppBundle/Exception/UserInviteMessageQueuedException.php
  src/Capco/AppBundle/GraphQL/Mutation/InviteUsersMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryUserInvitationsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/UserSearchQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/UserInvite/UserInviteStatusResolver.php
  src/Capco/AppBundle/Mailer/MailerService.php
  src/Capco/AppBundle/Mailer/Transport/MailjetTransport.php
  src/Capco/AppBundle/Mailer/Transport/MandrillTransport.php
  src/Capco/AppBundle/Mailer/Transport/Transport.php
  src/Capco/AppBundle/Notifier/ProposalNewsNotifier.php
  src/Capco/AppBundle/Notifier/UserInviteNotifier.php
  src/Capco/AppBundle/Processor/UserInvite/UserInviteStatusCheckProcessor.php
  src/Capco/AppBundle/Repository/UserInviteRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/UserInviteStatus.types.yaml
  src/DoctrineMigrations/Version20211004110016.php
Due: graphql, php, jest, flow

[12605 - Event] ProjectOwner - Events List (#13396)
  frontend/js/components/Admin/Emailing/EmailingParameters/SectionSendingDomains/__snapshots__/SectionSendDomains-test.js.snap
  frontend/js/components/Admin/Event/EventList/AdminEventImportModal.js
  frontend/js/components/Admin/Event/EventList/AdminEventItem-test.js
  frontend/js/components/Admin/Event/EventList/AdminEventItem.js
  frontend/js/components/Admin/Event/EventList/AdminEventList-test.js
  frontend/js/components/Admin/Event/EventList/AdminEventList.js
  frontend/js/components/Admin/Event/EventList/AdminEventListNoResult.js
  frontend/js/components/Admin/Event/EventList/AdminEventListPage.js
  frontend/js/components/Admin/Event/EventList/AdminEventListQuery.js
  frontend/js/components/Admin/Event/EventList/AdminEventModalConfirmationDelete-test.js
  frontend/js/components/Admin/Event/EventList/AdminEventModalConfirmationDelete.js
  frontend/js/components/Admin/Event/EventList/__snapshots__/AdminEventItem-test.js.snap
  frontend/js/components/Admin/Event/EventList/__snapshots__/AdminEventList-test.js.snap
  frontend/js/components/Admin/Event/EventList/__snapshots__/AdminEventModalConfirmationDelete-test.js.snap
  frontend/js/components/Admin/Post/PostList/__snapshots__/PostList-test.js.snap
  frontend/js/components/Admin/Project/ProposalFormList/__snapshots__/ProposalFormItem-test.js.snap
  frontend/js/components/Admin/Project/QuestionnaireList/__snapshots__/QuestionnaireItem-test.js.snap
  frontend/js/components/Admin/Project/QuestionnaireList/__snapshots__/QuestionnaireList-test.js.snap
  frontend/js/components/Admin/Project/list/__snapshots__/ProjectItem-test.js.snap
  frontend/js/components/Admin/Project/list/__snapshots__/ProjectList-test.js.snap
  frontend/js/components/DesignSystem/Icon/Icon.d.ts
  frontend/js/components/DesignSystem/SpotIcon/SpotIcon.d.ts
  frontend/js/components/DesignSystem/SpotIcon/SpotIcon.js
  frontend/js/components/DesignSystem/SpotIcon/index.js
  frontend/js/components/DesignSystem/SpotIcon/svg/calendar.svg
  frontend/js/components/DesignSystem/Table/Td/index.js
  frontend/js/components/Ui/Primitives/AppBox.type.js
  frontend/js/mutations/DeleteEventMutation.js
  frontend/js/registrationAdmin.js
  frontend/js/startup/AdminEventListApp.js
  src/Capco/AdminBundle/Admin/EventAdmin.php
  src/Capco/AdminBundle/Resources/views/Event/list.html.twig
Due: php, jest, flow

Add feature to disable SEO indexation on profiles (#13488)
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  frontend/js/components/Admin/Project/Form/__snapshots__/ProjectAdminForm-test.js.snap
  frontend/js/components/User/Admin/UserAdminProfile.js
  frontend/js/components/User/Profile/Profile.js
  frontend/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  frontend/js/redux/modules/default.js
  frontend/js/types.js
  schema.internal.graphql
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Resources/views/Profile/show.html.twig
Due: php, jest, flow

[12604-POST] Articles Welcome Page Fix (#13497)
  frontend/js/components/Admin/Post/PostList/PostListPage.js
Due: jest, flow

13109 generate identification code (#13482)
  config/packages/repositories.yaml
  features/commands/generate.feature
  fixtures/Dev/User.yaml
  fixtures/Dev/UserIdentificationCode.yaml
  frontend/js/components/Requirements/RequirementsForm.js
  schema.internal.graphql
  spec/Capco/AppBundle/Command/GenerateIdentificationCodeCommandSpec.php
  src/Capco/AppBundle/Command/GenerateIdentificationCodeCommand.php
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/Entity/UserIdentificationCode.php
  src/Capco/AppBundle/GraphQL/Resolver/Requirement/RequirementViewerValueResolver.php
  src/Capco/AppBundle/Repository/UserIdentificationCodeRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateProfilePersonalDataInput.types.yaml
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Form/Type/PersonalDataFormType.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/DoctrineMigrations/Version20211014122033.php
Due: graphql, php, jest, flow

[13502-SYNC] sync ES index project creation (#13507)
  src/Capco/AppBundle/GraphQL/Mutation/CreateProjectMutation.php
Due: graphql, php

[12566-FIX] fix video embed for questionnaire and question (#13505)
  src/Capco/AppBundle/Form/AbstractQuestionType.php
  src/Capco/AppBundle/Form/PostType.php
  src/Capco/AppBundle/Form/QuestionnaireConfigurationUpdateType.php
Due: php

[13109-FIX] fix code generation (#13511)
  src/Capco/AppBundle/Command/GenerateIdentificationCodeCommand.php
Due: php

[13183-FIX] throw error if there is no proposal on post (#13413)
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/AddProposalNewsMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/UpdateProposalNewsMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalNewsMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProposalNewsMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ProposalNewsErrorCode.yaml
Due: graphql, php

add simplexml (#13514)
  infrastructure/services/local/Dockerfile
  infrastructure/services/remote/Dockerfile
Due: none

[FIX-FIXTURES] fix end date of collect Step (#13516)
  fixtures/Dev/CollectStep.yaml
Due: none

France Connect updated their logout page text, let's use an ID instead (#13515)
  src/Capco/AppBundle/Behat/Traits/FranceConnectTrait.php
Due: none

[12605-EVENTS] Updating ids for E2E tests (#13517)
  frontend/js/components/Admin/Event/EventList/AdminEventImportModal.js
  frontend/js/components/Admin/Event/EventList/AdminEventListPage.js
  src/Capco/AppBundle/Behat/Page/AdminEventListPage.php
Due: jest, flow

Remove useless facebook migration (#13486)
  src/DoctrineMigrations/Version20210916151651.php
Due: php

[in test] Cas filter (#13512)
  composer.json
  config/packages/event_listeners.yaml
  config/packages/services.yaml
  config/services.yaml
  frontend/js-server/registration.js
  frontend/js/components/User/Profile/CasUserNotValidModal.js
  frontend/js/registration.js
  frontend/js/startup/CasUserNotValidApp.js
  spec/Capco/UserBundle/Security/Core/User/CasUserProviderSpec.php
  spec/Capco/UserBundle/Security/Service/CasUserFilterSpec.php
  src/Capco/AppBundle/EventListener/CasAuthenticationExceptionListener.php
  src/Capco/AppBundle/Exception/CasAuthenticationException.php
  src/Capco/AppBundle/Resources/views/Default/cas_user_not_valid.html.twig
  src/Capco/UserBundle/Security/Core/User/CasUserProvider.php
  src/Capco/UserBundle/Security/Service/CasUserFilter.php
Due: php, jest, flow

[13481-FIXDOWNLOADEXPORTNAME] fix filename downloaded (#13487)
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  frontend/js/components/Utils/downloadCSV.js
  src/Capco/AppBundle/Command/ResetFeatureFlagsCommand.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepExportContributorsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepExportStepUrlResolver.php
Due: graphql, php, jest, flow

[12599-PROJECT] Project owner can't export participants (#13503)
  frontend/js/components/Admin/Project/list/ProjectItem.js
  frontend/js/components/Admin/Project/list/ProjectList.js
  frontend/js/components/Admin/Project/list/ProjectListPage.js
  frontend/js/components/Admin/Project/list/ProjectModalExportSteps.js
  frontend/js/components/Admin/UserInvite/UserInviteAdminPage.js
  frontend/js/components/Admin/UserInvite/UserInviteList.relay.js
Due: jest, flow

Fix fb (#13496)
  frontend/js/components/Admin/Authentification/AuthentificationAdminPage.js
  frontend/js/components/Admin/Authentification/AuthentificationAdminPageContent-test.js
  frontend/js/components/Admin/Authentification/AuthentificationAdminPageContent.js
  frontend/js/components/Admin/Authentification/FacebookConfigurationCard.js
  frontend/js/components/Admin/Authentification/FacebookConfigurationForm.js
  frontend/js/components/Admin/Authentification/FacebookConfigurationModal.js
  frontend/js/components/Admin/Authentification/FranceConnectConfigurationModal.js
  frontend/js/components/Admin/Authentification/ListCustomSSO-test.js
  frontend/js/components/Admin/Authentification/ListCustomSSO.js
  frontend/js/components/Admin/Authentification/ListPublicSSO-test.js
  frontend/js/components/Admin/Authentification/ListPublicSSO.js
  frontend/js/components/Admin/Authentification/ListSSOConfiguration-test.js
  frontend/js/components/Admin/Authentification/ListSSOConfiguration.js
  frontend/js/components/Admin/Authentification/__snapshots__/AuthentificationAdminPage-test.js.snap
  frontend/js/components/Admin/Authentification/__snapshots__/AuthentificationAdminPageContent-test.js.snap
  frontend/js/components/Admin/Authentification/__snapshots__/ListPublicSSO-test.js.snap
  frontend/js/components/Admin/Authentification/__snapshots__/ListSSOConfiguration-test.js.snap
  frontend/js/mutations/UpdateFacebookSSOConfigurationMutation.js
  src/Capco/AppBundle/GraphQL/Mutation/UpdateFacebookSSOConfigurationMutation.php
Due: graphql, php, jest, flow

[13493-FIX] fix title (#13527)
  config/packages/controllers.yaml
  config/packages/services.yaml
  src/Capco/AdminBundle/Controller/SectionController.php
Due: php

Update occitanie client base url (#13489)
  src/Capco/AppBundle/Client/OccitanieClient.php
Due: php

[12219-Bug]Agrandir le rendu des iframe vidéos du petit wysiwyg (#13526)
  frontend/js/components/Debate/Opinion/DebateOpinion.js
  frontend/js/components/Debate/Opinion/__snapshots__/DebateOpinion-test.js.snap
  src/Resources/scss/modules/_form.scss
Due: php, jest, flow

[11960-USERSELECT] Problème de tri sur la barre de recherche d'un auteur (#13524)
  frontend/js/components/Admin/Post/PostForm/PostForm.js
  frontend/js/components/Admin/Project/list/ProjectModalCreateProject.js
Due: jest, flow

[12783-BUG] Create util file for FileSaver and delete the library #13368 (#13420)
  flow-typed/npm/file-saver_v2.x.x.js
  frontend/js/components/Questionnaire/QuestionnaireAdminResultsPdfInstance.js
  frontend/js/components/Utils/downloadCSV.js
  frontend/js/utils/filesaver.js
  package.json
  yarn.lock
Due: jest, flow

set username, lastname and email from idp attributes (#13535)
  src/Capco/AppBundle/Traits/User/UserSSOTrait.php
Due: php

[FIX-SENDER] fix email domain validation (#13504)
  src/Capco/AppBundle/Mailer/SenderEmailDomains/MandrillClient.php
  src/Capco/AppBundle/Mailer/SenderEmailDomains/SenderEmailDomainsManager.php
Due: php

[13492-EXPLICIT] explicit error when no mailer configuration (#13537)
  src/Capco/AppBundle/Mailer/Transport/Transport.php
Due: php

[12603-MAILING] mailingList.projectId on delete set null (#13538)
  src/Capco/AppBundle/Entity/MailingList.php
  src/DoctrineMigrations/Version20211025112816.php
Due: php

[12603-SENDER] project owner can get default sender email (#13543)
  features/graphql/query/senderEmailDomains.feature
  src/Capco/AppBundle/GraphQL/Resolver/Emailing/SenderEmailResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
Due: graphql, php

12603 owner for campaign and list (#13540)
  features/graphql/mutation/emailingCampaign.feature
  features/graphql/mutation/mailingList.feature
  features/graphql/query/emailingCampaign.feature
  features/graphql/query/mailingList.feature
  fixtures/Dev/EmailingCampaign.yaml
  fixtures/Dev/MailingList.yaml
  schema.internal.graphql
  src/Capco/AppBundle/Entity/EmailingCampaign.php
  src/Capco/AppBundle/Entity/MailingList.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/CreateEmailingCampaignMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/CreateMailingListMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/User/EmailingCampaignOwnerTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/MailingListOwnerTypeResolver.php
  src/Capco/AppBundle/Repository/EmailingCampaignRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalEmailingCampaignOwner.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalMailingListOwner.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/EmailingCampaign.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/MailingList.types.yaml
  src/DoctrineMigrations/Version20211025114450.php
Due: graphql, php

Univ Lyon set username (#13539)
  src/Capco/AppBundle/Traits/User/UserSSOTrait.php
Due: php

fix univ lyon username (#13555)
  src/Capco/AppBundle/Traits/User/UserSSOTrait.php
Due: php

Fix failing test (#13558)
  features/front/pages/rgpd.feature
Due: none

[13042-USER-INVITE] Implement ModalSteps to UserInviteAdminPage. (#13458)
  frontend/js/components/Admin/UserInvite/Modal/UserInviteByEmail/UserInviteByEmailModal.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteByEmail/UserInviteByEmailStepChooseUsers.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteByFile/UserInviteByFileModal.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteByFile/UserInviteByFileStepChooseFile.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModal.context.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModal.reducer.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModalStepChooseRole.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModalStepSendingConfirmation.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModalSteps.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModalStepsChooseRole.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModalStepsChooseUsers.js
  frontend/js/components/Admin/UserInvite/Modal/UserInviteModalStepsSendingConfirmation.js
  frontend/js/components/Admin/UserInvite/UserInviteAdminPage.js
  frontend/js/components/Admin/UserInvite/UserInviteAdminPageHeader.js
  frontend/js/components/Admin/UserInvite/UserInviteList.js
  frontend/js/components/DesignSystem/SpotIcon/SpotIcon.js
  frontend/js/components/DesignSystem/SpotIcon/index.js
  frontend/js/components/DesignSystem/SpotIcon/svg/mail.svg
  frontend/js/components/User/Profile/PersonalData.js
  frontend/js/mutations/InviteUserMutation.js
  schema.internal.graphql
  src/Capco/AppBundle/Controller/Site/UserController.php
  src/Capco/AppBundle/Enum/UserInviteStatus.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/UserInvitationsAvailabilitySearchQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/UserSearchQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/UserInvite/UserInviteStatusResolver.php
  src/Capco/AppBundle/Repository/UserInviteRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/UserInviteStatus.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/UserInvitationAvailability.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/relay-connection/UserInvitationsAvailabilityConnection.types.yaml
  src/Capco/UserBundle/Handler/UserInvitationHandler.php
Due: graphql, php, jest, flow

[12603-VIEWER] viewer.mailingList (#13553)
  features/graphql-api/internal/User/Viewer_mailingLists.js
  features/graphql-api/internal/User/__snapshots__/Viewer_mailingLists.js.snap
  frontend/js/components/Admin/Emailing/EmailingList/DashboardMailingList/DashboardMailing-test.js
  frontend/js/components/Admin/Emailing/EmailingList/DashboardMailingList/DashboardMailingList.js
  frontend/js/components/Admin/Emailing/EmailingList/EmailingListPage.js
  frontend/js/components/Admin/Emailing/MailParameter/MailParameterPage.js
  frontend/js/components/Admin/Emailing/MailParameter/MailParameterQuery.js
  frontend/js/components/Admin/Emailing/MailParameter/Parameter/Parameter-test.js
  frontend/js/components/Admin/Emailing/MailParameter/Parameter/__snapshots__/Parameter-test.js.snap
  frontend/js/components/Admin/Emailing/MailParameter/Parameter/index.js
  schema.internal.graphql
  src/Capco/AppBundle/Enum/MailingListAffiliation.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserMailingListsResolver.php
  src/Capco/AppBundle/Repository/MailingListRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalMailingListAffiliation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalMailingListOwner.types.yaml
Due: graphql, php, jest, flow

[13542] Fix style & toolbar quill (#13566)
  frontend/js/components/Admin/Post/PostForm/__snapshots__/PostForm-test.js.snap
  frontend/js/components/Form/QuillToolbar.js
  frontend/js/components/Form/__snapshots__/Editor-test.js.snap
  src/Capco/AppBundle/Resources/views/Step/presentation.html.twig
Due: php, jest, flow

[12603-PROJECT] allow project owner to get consentInternalCommunication of an user (#13551)
  features/graphql-api/internal/Project/Project_contributors.js
  features/graphql-api/internal/Project/__snapshots__/Project_contributors.js.snap
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewUser.types.yaml
Due: php

12603 mutation access (#13565)
  features/graphql/mutation/DeleteEmailingCampaign.feature
  features/graphql/mutation/cancelEmailingCampaign.feature
  features/graphql/mutation/createEmailingCampaign.feature
  features/graphql/mutation/emailingCampaign.feature
  features/graphql/mutation/mailingList.feature
  features/graphql/mutation/sendEmailingCampaign.feature
  features/graphql/mutation/testEmailingCampaign.feature
  features/graphql/mutation/updateEmailingCampaign.feature
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/AbstractEmailingCampaignMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/CreateEmailingCampaignMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/CreateMailingListMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/DeleteMailingListMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/SendEmailingCampaignMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/UpdateEmailingCampaignMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
Due: graphql, php

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
