Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

EventVoter (#14909)
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/AddEventMutationSpec.php
  spec/Capco/AppBundle/Security/EventVoterSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/AddEventsMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Event/AbstractEventMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/InternalAddEventInput.types.yaml
  src/Capco/AppBundle/Security/EventVoter.php
Due: graphql, php

[15036-MAKEORGANIZATIONMEMBERCONNECTION] replace organization.members by a connection in graphQL API (#15039)
  config/packages/repositories.yaml
  features/graphql/type/organization/organization_members.feature
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Organization/OrganizationMembersResolver.php
  src/Capco/AppBundle/Repository/Organization/OrganizationMemberRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOrganization.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/relay-connection/InternalOrganizationMemberConnection.types.yaml
Due: graphql, php

[14931-FIXVARENV] remove SYMFONY_OPENID_BACKCHANNEL_SECRET_DEV from p… (#15018)
  config/packages/services.yaml
  config/services.yaml
  infrastructure/deploylib/app.py
  infrastructure/services/remote/Dockerfile
  src/Capco/AppBundle/Service/OpenIDBackchannel.php
Due: php

[15034] paper vote display when feature is disabled (#15035)
  frontend/js/components/Proposal/Page/Votes/ProposalPageVotes.js
Due: jest, flow

[14833] Organisation List (#14919)
  admin-next/components/FeatureList/FeatureItems.json
  admin-next/components/Organizations/OrganizationList.tsx
  admin-next/components/Organizations/createOrganizationButton.tsx
  admin-next/components/SideBar/SideBar.utils.ts
  admin-next/components/SideBar/SideBarItems.json
  admin-next/components/UI/CardOrg/CardOrg.tsx
  admin-next/components/UI/CardOrg/body/CardOrgBody.tsx
  admin-next/components/UI/CardOrg/header/CardOrgHeader.tsx
  admin-next/mutations/AddOrganizationMutation.ts
  admin-next/pages/organizations.tsx
  admin-next/utils/feature-flags-resolver.ts
  features/graphql-api/internal/Query/__snapshots__/Query_featureFlags.js.snap
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminStepForm-test.js.snap
  frontend/js/components/Admin/Sidebar/Sidebar.js
  frontend/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  frontend/js/redux/modules/default.js
  frontend/js/types.js
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalFeatureFlagType.types.yaml
  src/Capco/AppBundle/Toggle/Manager.php
Due: php, jest, flow

[14362] Fix Tooltip on revision (#15028)
  frontend/js/components/Analysis/AnalysisProposal/AnalysisProposal.js
Due: jest, flow

fix organisation list query (#15045)
  admin-next/components/Organizations/OrganizationList.tsx
Due: none

[15048-FIXOPENID] fix user repository (#15050)
  spec/Capco/AppBundle/EventListener/EmptyUsernameListenerSpec.php
  src/Capco/AppBundle/Behat/Page/CollectPage.php
  src/Capco/AppBundle/Behat/Traits/ProposalStepsTrait.php
  src/Capco/AppBundle/EventListener/EmptyUsernameListener.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php

12776 fix survey (#14505) swap survey in step work correctly
  src/Capco/AppBundle/Entity/Steps/QuestionnaireStep.php
  src/Capco/AppBundle/Form/Persister/ProjectPersister.php
  src/Capco/AppBundle/Form/Persister/ProjectStepPersister.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteQuestionnaireMutation.php
  src/Capco/AppBundle/Repository/QuestionnaireRepository.php
  src/Capco/AppBundle/Traits/PositionableTrait.php
Due: graphql, php

hide create account link on invitation if registration is disabled (#15058)
  frontend/js/components/User/Invitation/UserInvitationRoot.js
  frontend/js/components/User/Invitation/UserInvitationSSOPage-test.js
  frontend/js/components/User/Invitation/UserInvitationSSOPage.js
  frontend/js/components/User/Invitation/__snapshots__/UserInvitationSSOPage-test.js.snap
  frontend/js/startup/UserInvitationPageApp.js
  src/Capco/AppBundle/Controller/Site/UserController.php
  src/Capco/AppBundle/Resources/views/User/invitation.html.twig
Due: php, jest, flow

project owner can see secret ballot in BO (#15052)
  src/Capco/AppBundle/Entity/Steps/AbstractStep.php
Due: php

rewrite Proposal should stay voted after user refresh the page (#15059)
  cypress/integration/proposal/proposalVote.spec.ts
  features/front/bp/proposal_votes.feature
Due: none

[15048-REDHATSSO] fix empty username (#15061)
  spec/Capco/AppBundle/EventListener/EmptyUsernameListenerSpec.php
  src/Capco/AppBundle/EventListener/EmptyUsernameListener.php
  src/Capco/UserBundle/Security/Core/User/OauthUserProvider.php
Due: php

Implement a draft of `updateOrganization` for admins (#14971)
  config/packages/voters.yaml
  features/graphql-api/internal/mutation/__snapshots__/updateOrganization.js.snap
  features/graphql-api/internal/mutation/updateOrganization.js
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Form/OrganizationType.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateOrganizationMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/UpdateOrganizationErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateOrganizationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateOrganizationPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOrganization.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUpdateOrganizationTranslationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/OrganizationSocialNetworks.types.yaml
  src/Capco/AppBundle/Security/OrganizationVoter.php
Due: graphql, php

Revert "12776 fix survey (#14505) swap survey in step work correctly" (#15065)
  src/Capco/AppBundle/Entity/Steps/QuestionnaireStep.php
  src/Capco/AppBundle/Form/Persister/ProjectPersister.php
  src/Capco/AppBundle/Form/Persister/ProjectStepPersister.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteQuestionnaireMutation.php
  src/Capco/AppBundle/Repository/QuestionnaireRepository.php
  src/Capco/AppBundle/Traits/PositionableTrait.php
Due: graphql, php

district can not be mandatory if not used (#15032)
  frontend/js/components/Proposal/Form/ProposalForm.js
  spec/Capco/AppBundle/Validator/Constraints/HasAddressIfMandatoryValidatorSpec.php
  spec/Capco/AppBundle/Validator/Constraints/HasDistrictIfMandatoryValidatorSpec.php
  src/Capco/AppBundle/Validator/Constraints/HasAddressIfMandatoryValidator.php
  src/Capco/AppBundle/Validator/Constraints/HasDistrictIfMandatoryValidator.php
Due: php, jest, flow

14944 delete orga (#14980)
  features/graphql-api/internal/mutation/Organization/__snapshots__/deleteOrganization.js.snap
  features/graphql-api/internal/mutation/Organization/__snapshots__/updateOrganization.js.snap
  features/graphql-api/internal/mutation/Organization/deleteOrganization.js
  features/graphql-api/internal/mutation/Organization/updateOrganization.js
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Organization/Organization.php
  src/Capco/AppBundle/GraphQL/Mutation/Organization/DeleteOrganizationMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Organization/PendingOrganizationInvitationsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/DeleteOrganizationErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/organization/DeleteOrganizationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/organization/DeleteOrganizationPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOrganization.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOrganizationSocialNetworks.types.yaml
  src/DoctrineMigrations/Version20220915123619.php
Due: graphql, php

Pass trashed link on react (#15017)
  frontend/js/components/Project/ProjectTrashButton.js
  frontend/js/startup/ProjectStepPageApp.js
  src/Capco/AppBundle/Resources/views/Project/base.html.twig
  src/Capco/AppBundle/Resources/views/Step/debate.html.twig
Due: php, jest, flow

[FIX] 15051-fix keyboard display on select on mobile (#15053)
  frontend/js/components/Form/RenderResponses.js
  frontend/js/components/Form/Select.js
Due: jest, flow

[14701-PROJECT_AUTHOR] (#15000)
  features/front/features/opinions.feature
  features/graphql-api/internal/ProjectOwner/__snapshots__/ProjectOwner_projects.js.snap
  features/graphql-api/internal/Query/__snapshots__/Query_projects.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_projects.js.snap
  features/graphql/mutation/updateProject.feature
  features/graphql/query/projects_authors.feature
  fixtures/Dev/Project.yaml
  fixtures/Dev/ProjectAuthor.yaml
  frontend/js/components/Consultation/__snapshots__/ConsultationPropositionBox-test.js.snap
  frontend/js/components/Project/Authors/ProjectHeaderAuthorsModal.js
  frontend/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Behat/Traits/OpinionStepsTrait.php
  src/Capco/AppBundle/Entity/ProjectAuthor.php
  src/Capco/AppBundle/Form/ProjectAuthorTransformer.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/InternalProjectAuthorsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectAuthorsResolver.php
  src/Capco/AppBundle/Normalizer/ProjectNormalizer.php
  src/Capco/AppBundle/Repository/Organization/OrganizationRepository.php
  src/Capco/AppBundle/Repository/ProjectAuthorRepository.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Resolver/UrlResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yaml
  src/Capco/AppBundle/Search/ContributionSearch.php
  src/Capco/UserBundle/Controller/ProfileController.php
Due: graphql, php, jest, flow

[14854-FIXADMINDELETECOMMENTOWNED] admin can delete his comments (#14993)
  src/Capco/AdminBundle/Admin/CommentAdmin.php
  src/Capco/AdminBundle/Controller/CommentController.php
Due: php

MailingListVoter (#14998)
  config/packages/voters.yaml
  spec/Capco/AppBundle/Security/MailingListVoterSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/CreateMailingListMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/DeleteMailingListMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Security/MailingListVoter.php
Due: graphql, php

handle ill formatted iaCategories (#15070)
  features/graphql/mutation/updateCivicIA.feature
  fixtures/Dev/ValueResponse.yaml
  src/Capco/AppBundle/Traits/CivicIATrait.php
Due: php

extends throwable emails list (#15077)
  config/throwable_emails.txt
Due: none

Remove autoFocus on searchbar on initial render (#15060)
  frontend/js/components/Proposal/List/ProposalListSearch.js
  frontend/js/components/Proposal/List/__snapshots__/ProposalListSearch-test.js.snap
Due: jest, flow

15064 fix questionnaire swap (#15066)
  features/graphql/mutation/updateProject.feature
  src/Capco/AppBundle/Entity/Steps/QuestionnaireStep.php
  src/Capco/AppBundle/Form/Persister/ProjectPersister.php
  src/Capco/AppBundle/Form/Persister/ProjectStepPersister.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteQuestionnaireMutation.php
  src/Capco/AppBundle/Repository/QuestionnaireRepository.php
  src/Capco/AppBundle/Traits/PositionableTrait.php
Due: graphql, php

[14944-TEST] add unit test to remove organization (#15069)
  features/graphql-api/internal/mutation/Organization/deleteOrganization.js
  spec/Capco/AppBundle/GraphQL/Mutation/Organization/DeleteOrganizationMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/Organization/DeleteOrganizationMutation.php
Due: graphql, php

[15007-DISPLAYSECRETBALLOTINEXPORT] display secret ballot 'votes' in … (#15029)
  __snapshots__/exports/budget-participatif-idf-3_vote-des-franciliens.csv
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalVotesResolverSpec.php
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalVotesResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yaml
Due: graphql, php

invite organization (#15037)
  features/graphql-api/internal/mutation/Organization/__snapshots__/inviteOrganizationMember.js.snap
  features/graphql-api/internal/mutation/Organization/inviteOrganizationMember.js
  features/graphql/mutation/registration.feature
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Organization/Organization.php
  src/Capco/AppBundle/Entity/Organization/PendingOrganizationInvitation.php
  src/Capco/AppBundle/GraphQL/Mutation/Organization/InviteOrganizationMemberMutation.php
  src/Capco/AppBundle/GraphQL/Type/EmailType.php
  src/Capco/AppBundle/Repository/Organization/PendingOrganizationInvitationRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/enum/InviteOrganizationMemberErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/enum/OrganizationAffiliation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/enum/OrganizationMemberRole.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/mutations/AddOrganizationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/mutations/AddOrganizationPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/mutations/InviteOrganizationMemberInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/mutations/InviteOrganizationMemberPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/mutations/LeaveOrganizationErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/mutations/LeaveOrganizationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/mutations/LeaveOrganizationPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/objects/InternalOrganization.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/objects/InternalPendingOrganizationInvitation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/objects/OrganizationMember.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/relay-connection/OrganizationConnection.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/relay-connection/PendingOrganizationInvitationConnection.types.yaml
Due: graphql, php

filter out replies in global search (#15079)
  src/Capco/AppBundle/Search/GlobalSearch.php
  src/Capco/AppBundle/Search/Search.php
Due: php

remove min height in proposal vote modal body (#15068)
  frontend/js/components/Proposal/Vote/ProposalVoteModal.js
Due: jest, flow

15080 update user on password update (#15083)
  spec/Capco/AppBundle/GraphQL/Mutation/Profile/UpdateProfilePasswordMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/Profile/UpdateProfilePasswordMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
Due: graphql, php

14635 projects map section (#15027)
  admin-next/components/GeographicalAreasList/GeographicalAreasList.tsx
  fixtures/Dev/Section.yaml
  fixtures/Dev/SectionTranslation.yaml
  fixtures/Prod/Section.yaml
  fixtures/Prod/SectionTranslation.yaml
  frontend/js/components/Admin/Section/HomePageProjectsMapSectionConfigurationPage.js
  frontend/js/components/Admin/Section/HomePageProjectsSectionConfigurationPage.style.js
  frontend/js/mutations/UpdateHomePageProjectsMapSectionConfigurationMutation.js
  frontend/js/registrationAdmin.js
  frontend/js/services/Translation.js
  frontend/js/startup/HomePageProjectsMapSectionConfigurationApp.js
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AdminBundle/Controller/SectionController.php
  src/Capco/AdminBundle/Resources/views/Section/edit_projects_map.html.twig
  src/Capco/AppBundle/GraphQL/Mutation/UpdateHomePageProjectsMapSectionConfigurationMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/HomePageProjectsMapSectionConfigurationResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/UpdateHomePageProjectsMapSectionConfigurationErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateHomePageProjectsMapSectionConfigurationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateHomePageProjectsMapSectionConfigurationPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/HomePageProjectsMapSectionConfiguration.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalHomePageProjectsMapSectionConfigurationTranslationInput.types.yaml
  src/DoctrineMigrations/Version20220908114036.php
Due: graphql, php, jest, flow

[15048-GETUSERINFO] add paris mapping (#15081)
  src/Capco/UserBundle/OpenID/Mapping/ParisMapping.php
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
Due: php

/invitation/organization (#15088)
  features/front/user/organization.feature
  src/Capco/AppBundle/Controller/Site/Organization/OrganizationController.php
Due: php

rewrite e2e-consultation (#15089)
  cypress/integration/consultation/arguments.spec.ts
  cypress/package.json
  cypress/plugins/index.ts
  features/front/features/arguments.feature
Due: none

14933 analysis comment backend (#15003)
  config/packages/repositories.yaml
  config/packages/voters.yaml
  features/graphql-api/internal/mutation/__snapshots__/createProposalAnalysisComment.js.snap
  features/graphql-api/internal/mutation/createProposalAnalysisComment.js
  features/graphql/mutation/deleteComment.feature
  fixtures/Dev/ProposalAnalysisComment.yaml
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/DeleteCommentMutationSpec.php
  spec/Capco/AppBundle/Security/CommentVoterSpec.php
  spec/Capco/AppBundle/Security/ProposalAnalysisCommentVoterSpec.php
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/Entity/Comment.php
  src/Capco/AppBundle/Entity/ProposalAnalysis.php
  src/Capco/AppBundle/Entity/ProposalAnalysisComment.php
  src/Capco/AppBundle/GraphQL/Mutation/CreateProposalAnalysisCommentMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteCommentMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
  src/Capco/AppBundle/Repository/AnalysisCommentRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateProposalAnalysisCommentInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateProposalAnalysisCommentPayload.types.yaml
  src/Capco/AppBundle/Security/CommentVoter.php
  src/Capco/AppBundle/Security/ProposalAnalysisCommentVoter.php
  src/DoctrineMigrations/Version20220905103557.php
Due: graphql, php

14933 analysis comment back 2 (#15076)
  config/packages/swarrot.yaml
  config/rabbitmq.yaml
  features/graphql-api/internal/ProposalAnalysis/ProposalAnalysis_comments.js
  features/graphql-api/internal/ProposalAnalysis/__snapshots__/ProposalAnalysis_comments.js.snap
  features/graphql-api/internal/mutation/__snapshots__/createProposalAnalysisComment.js.snap
  features/graphql-api/internal/mutation/createProposalAnalysisComment.js
  infrastructure/services/local/supervisord/comment.conf
  infrastructure/services/remote/supervisord/comment.conf
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/Security/ProposalAnalysisCommentVoterSpec.php
  src/Capco/AppBundle/Entity/ProposalAnalysis.php
  src/Capco/AppBundle/GraphQL/Mutation/CreateProposalAnalysisCommentMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/ProposalAnalysisCommentsResolver.php
  src/Capco/AppBundle/Mailer/Message/Comment/ProposalAnalysisCommentCreateMessage.php
  src/Capco/AppBundle/Mailer/templates/Comment/analysisCommentCreate.html.twig
  src/Capco/AppBundle/Notifier/ProposalAnalysisCommentNotifier.php
  src/Capco/AppBundle/Processor/Comment/ProposalAnalysisCommentCreateProcessor.php
  src/Capco/AppBundle/Repository/ProposalAnalysisCommentRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposalAnalysis.types.yaml
  src/Capco/AppBundle/Security/ProposalAnalysisCommentVoter.php
Due: graphql, php

14933 rm comment field (#15046)
  __snapshots__/exports/project-budget-participatif-idf-analysis.csv
  __snapshots__/exports/project-project-analyse-analysis.csv
  __snapshots__/exports/project-projet-avec-administrateur-de-projet-analysis-project-admin.csv
  __snapshots__/exports/project-projet-avec-administrateur-de-projet-analysis.csv
  features/graphql-api/internal/mutation/__snapshots__/changeProposalAnalysis.js.snap
  features/graphql-api/internal/mutation/changeProposalAnalysis.js
  fixtures/Dev/ProposalAnalysis.yaml
  frontend/js/components/Proposal/Analysis/ProposalAnalysisFormPanel-test.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisFormPanel.js
  frontend/js/components/Proposal/Analysis/ProposalViewAnalysisPanel-test.js
  frontend/js/components/Proposal/Analysis/ProposalViewAnalysisPanel.js
  frontend/js/components/Proposal/Analysis/__snapshots__/ProposalAnalysisFormPanel-test.js.snap
  frontend/js/components/Proposal/Analysis/__snapshots__/ProposalViewAnalysisPanel-test.js.snap
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPage-test.js.snap
  frontend/js/mutations/AnalyseProposalAnalysisMutation.js
  frontend/js/mutations/ChangeProposalAnalysisMutation.js
  schema.dev.graphql
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Command/ExportAnalysisCSVCommand.php
  src/Capco/AppBundle/Entity/ProposalAnalysis.php
  src/Capco/AppBundle/GraphQL/Mutation/AnalyseProposalAnalysisMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ChangeProposalAnalysisMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AnalyseProposalAnalysisInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeProposalAnalysisInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewProposalAnalysis.types.yaml
  src/DoctrineMigrations/Version20220912130330.php
Due: graphql, php, jest, flow
