Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

Update src/Capco/AppBundle/Controller/Api/GraphQLController.php
  src/Capco/AppBundle/Controller/Api/GraphQLController.php
Due: php, backend

Fixes
  src/Capco/AppBundle/Controller/Api/GraphQLController.php
Due: php, backend

remove trusted_proxies config (#6216)
  app/config/config.yml
Due: none

[FIX-JEST] Fix date of test ProposalListTableMobile. (#6231)
  app/Resources/js/components/Proposal/List/ProposalListTableMobile-test.js
  app/Resources/js/components/Proposal/List/__snapshots__/ProposalListTableMobile-test.js.snap
Due: jest, flow, frontend

Fix confirmation url for proposal aknowledge when not confirmed
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalAknowledgeMessage.php
  src/Capco/AppBundle/Mailer/templates/aknowledgeProposal.html.twig
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
Due: php, backend

[RMV] hidden-xs on filter (#6238)
  app/Resources/js/components/Comment/CommentSection.js
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalAknowledgeMessage.php
  src/Capco/AppBundle/Mailer/templates/aknowledgeProposal.html.twig
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
Due: php, jest, flow, backend, frontend

[CHG] style of prev & next tab (#6237)
  app/Resources/scss/modules/_step-tabs.scss
Due: none

[1947-WEBPACK] Add new webpack folder and dependecies.
  .babelrc
  app/Resources/js/app.js
  babel.config.js
  package.json
  src/Capco/AppBundle/Resources/views/base.html.twig
  webpack/config.js
  webpack/webpack.client.dev.js
  webpack/webpack.config.serverside.legacy.js
  yarn.lock
Due: php, jest, flow, backend, frontend

[1947-WEBPACK] Working compilation v1.
  app/Resources/js/app.js
  app/Resources/js/registration.js
  babel.config.js
  package.json
  src/Capco/AppBundle/Resources/views/Event/index.html.twig
  src/Capco/AppBundle/Resources/views/Event/show_archived.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_events.html.twig
  src/Capco/AppBundle/Resources/views/Step/presentation.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/UserBundle/Resources/views/Members/index.html.twig
  src/Capco/UserBundle/Resources/views/Profile/show.html.twig
  webpack/webpack.client.dev.js
Due: php, jest, flow, backend, frontend

[1947-WEBPACK] Fix warnings and errors in JS.
  app/Resources/js/app.js
  app/Resources/js/registration.js
  brunch-config.js
  package.json
  src/Capco/AppBundle/Resources/views/Event/show_archived.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_events.html.twig
  src/Capco/AppBundle/Resources/views/Step/presentation.html.twig
  src/Capco/AppBundle/Resources/views/Theme/index.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/UserBundle/Resources/views/Members/index.html.twig
  src/Capco/UserBundle/Resources/views/Profile/show.html.twig
  webpack/webpack.client.dev.js
Due: php, jest, flow, backend, frontend

[1947-WEBPACK] Remove web/dist and update package.json.
  brunch-config.js
  infrastructure/services/builder/build.sh
  infrastructure/services/remote/Dockerfile
  package.json
  yarn.lock
Due: none

[1947-WEBPACK] Rename webpack.dev.client by webpack.client.
  package.json
  webpack/webpack.client.js
  yarn.lock
Due: none

[1947-WEBPACK] Add watch config to webpack.
  package.json
  webpack/webpack.client.analyzer.js
  webpack/webpack.client.hot.js
  webpack/webpack.client.js
  yarn.lock
Due: none

- WIP asset size reduction
  package.json
  webpack/webpack.client.js
  webpack/webpack.prod.analyzer.js
  webpack/webpack.prod.client.js
  yarn.lock
Due: none

- Set relative path for fonts
  package.json
Due: none

- Increasead bundlesize - Generated GraphQL types
  package.json
Due: none

- Added fonts watcher in brunch config
  brunch-config.js
Due: none

- Added compilation of server-side js to prevent errors
  infrastructure/services/remote/Dockerfile
  package.json
  webpack/webpack.config.serverside.legacy.js
  yarn.lock
Due: none

- Fixed deprecated webpack loader calls - Removed useless eslint comments - Commented legacy server rendering because not used, but to allow bundling of server-bundle.js
  app/Resources/js-server/registration.js
  infrastructure/services/remote/Dockerfile
  webpack/config.js
  webpack/webpack.client.analyzer.js
  webpack/webpack.client.hot.js
  webpack/webpack.client.js
  webpack/webpack.config.serverside.legacy.js
  webpack/webpack.prod.analyzer.js
  webpack/webpack.prod.client.js
Due: none

- Re added generation of server side bundle, but without ProposalPageApp cause was causing weird issues
  app/Resources/js-server/registration.js
  infrastructure/services/builder/build.sh
Due: none

- Added cacheDirectory options - Regenerated GraphQL types
  webpack/webpack.client.js
Due: none

- Removed json-loader because webpack now handle this natively
  .babelrc
  app/Resources/js-server/registration.js
  app/Resources/js/components/Form/__snapshots__/ImageUpload-test.js.snap
  app/Resources/js/components/Project/Preview/__snapshots__/ProjectPreviewBody-test.js.snap
  babel.config.js
  package.json
  webpack/webpack.config.serverside.legacy.js
  yarn.lock
Due: jest, flow, frontend

- Try with node experimental modules and mjs
  app/Resources/js/components/Proposal/Preview/ProposalPreviewFooter.js
  app/config/sonata.yml
  package.json
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/Resources/views/layout.html.twig
  webpack/webpack.client.js
  xlf2-to-json.mjs
  yarn.lock
Due: php, jest, flow, backend, frontend

Update to Flow 84 and make sure App is exported without .default
  .babelrc
  .flowconfig
  app/Resources/js/app.js
  app/Resources/js/components/Comment/Comment.js
  app/Resources/js/components/Comment/CommentAnswers.js
  app/Resources/js/components/Consultation/ConsultationPlanItems.js
  app/Resources/js/components/Evaluation/EvaluationsIndexPage-test.js
  app/Resources/js/components/Evaluation/EvaluationsIndexPage.js
  app/Resources/js/components/Form/Editor.js
  app/Resources/js/components/Navbar/Navbar.js
  app/Resources/js/components/Opinion/Follow/OpinionFollowButton.js
  app/Resources/js/components/Project/Votes/ProposalsUserVotesStep.js
  app/Resources/js/components/Proposal/Follow/ProposalFollowButton.js
  app/Resources/js/components/Proposal/ImplementationStepTitle.js
  app/Resources/js/components/Proposal/List/ProposalListToggleViewBtn.js
  app/Resources/js/components/Proposal/__snapshots__/ImplementationStepTitle-test.js.snap
  app/Resources/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
  app/Resources/js/components/User/DeleteAccountModal.js
  app/Resources/js/components/Utils/DatesInterval.js
  app/Resources/js/components/Utils/Filter.js
  app/Resources/js/components/Utils/FlashMessages.js
  app/Resources/js/startup/ConsultationPageApp.js
  infrastructure/services/builder/build.sh
  infrastructure/services/remote/Dockerfile
  package.json
  src/Capco/AppBundle/Resources/views/Event/index.html.twig
  src/Capco/AppBundle/Resources/views/Event/show_archived.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_events.html.twig
  src/Capco/AppBundle/Resources/views/Step/presentation.html.twig
  src/Capco/AppBundle/Resources/views/Theme/index.html.twig
  src/Capco/AppBundle/Resources/views/base.html.twig
  src/Capco/UserBundle/Resources/views/Members/index.html.twig
  src/Capco/UserBundle/Resources/views/Profile/show.html.twig
  webpack/webpack.client.js
  yarn.lock
Due: php, jest, flow, backend, frontend

Refacto Webpack configuration
  .babelrc
  package.json
  webpack/webpack.client.js
  webpack/webpack.prod.client.js
  yarn.lock
Due: none

fix reorder question
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProposalFormMutation.php
Due: graphql, php, backend

Fix configuration for Jest
  .babelrc
  package.json
  yarn.lock
Due: none

Add test for delete first question
  app/Resources/js/components/ProposalForm/ProposalFormAdminDeleteQuestionModal.js
  app/Resources/js/components/Question/QuestionAdmin.js
  app/Resources/js/components/Question/__snapshots__/QuestionAdmin-test.js.snap
  features/back/proposal-form.feature
  src/Capco/AppBundle/Behat/Page/AdminProposalFormPage.php
Due: jest, flow, backend, frontend

fix test
  features/graphql/mutations/updateProposalForm.feature
Due: none

Merge pull request #6235 from cap-collectif/fix-aknowledge-proposal-confirmation-url
  src/Capco/AppBundle/Mailer/Message/Proposal/ProposalAknowledgeMessage.php
  src/Capco/AppBundle/Mailer/templates/aknowledgeProposal.html.twig
  src/Capco/AppBundle/Notifier/ProposalNotifier.php
Due: php, backend

[ADD] QuestionnaireAdminResults component
  app/Resources/js/components/Questionnaire/QuestionnaireAdminPageTabs.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
  schema.graphql
Due: jest, flow, frontend

[ADD] react d3
  app/Resources/js/components/Questionnaire/QuestionnaireAdminPageTabs.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
  package.json
  schema.graphql
  yarn.lock
Due: jest, flow, frontend

[ADD] pie chart
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
Due: jest, flow, frontend

[ADD] table type
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
Due: jest, flow, frontend

[ADD] QuestionnaireAdminBarChart file
  app/Resources/js/components/Questionnaire/QuestionnaireAdminBarChart.js
  app/Resources/js/components/Questionnaire/QuestionnaireAdminResults.js
  src/Capco/AppBundle/GraphQL/Resolver/QuestionChoice/QuestionChoiceRankingResolver.php
Due: graphql, php, jest, flow, backend, frontend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
