Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 89%
        flags: frontend
      backend:
        target: 50%
        flags: backend

flags:
  backend:
    paths:
      - src/
  frontend:
    paths:
      - app/Resources/js/

[10332-FEEDBACK] feedback on contact modal (#10390)
  frontend/js/components/Proposal/Contact/ProposalContactModal.js
  frontend/js/components/Proposal/Contact/__snapshots__/ProposalContactModal-test.js.snap
Due: none

[FIX-PANEL] fix display analysis panel (#10400)
  frontend/js/components/Proposal/Page/ProposalPageLogic.js
Due: none

[7580-MOVE] addProposalsToStepsMutation (#10392)
  features/graphql/mutation/addProposalsToSteps.feature
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalsToStepsMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddProposalsToStepsInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddProposalsToStepsPayload.types.yaml
Due: graphql, php, backend

[10332-FIX] fix in template (#10406)
  src/Capco/AppBundle/Mailer/templates/Proposal/contactProposalAuthor.html.twig
Due: php, backend

Fix project proposals visibility for private steps (#10404)
  features/graphql-api/public/Project/Project_proposals.js
  features/graphql-api/public/Project/__snapshots__/Project_proposals.js.snap
  frontend/js/components/Admin/Project/ProjectAdminProposals.js
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminProposals-test.js.snap
  src/Capco/AppBundle/GraphQL/DataLoader/Project/ProjectProposalsDataLoader.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectProposalsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yaml
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: graphql, php, backend

[10091-API] With hidden:true
  fixtures/Dev/SimpleQuestion.yaml
  frontend/js/plugin/APIEnterprise/APIEnterpriseConstants.js
Due: none

[10091-API] Adding cache for visibility
  frontend/js/plugin/APIEnterprise/APIEnterpriseConstants.js
  frontend/js/redux/modules/proposal.js
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteDocQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromSiretQueryResolver.php
Due: graphql, php, backend

[10091-API] Should hide question in form and summary :)
  fixtures/Dev/SimpleQuestion.yaml
  frontend/js/components/Form/RenderResponses.js
  frontend/js/components/Proposal/Form/ProposalForm.js
  frontend/js/components/ProposalForm/ProposalFormAdminQuestionModal.js
  frontend/js/plugin/APIEnterprise/APIEnterpriseConstants.js
  frontend/js/plugin/APIEnterprise/APIEnterpriseFunctions.js
  frontend/js/redux/modules/proposal.js
  src/Capco/AppBundle/GraphQL/Resolver/Traits/ResponsesResolverTrait.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/QuestionTypeValue.types.yaml
Due: graphql, php, backend

[10091-API] Fixing specs and adding css
  frontend/js/components/Form/RenderResponses.js
  frontend/js/components/Proposal/Form/ProposalForm.js
  spec/Capco/AppBundle/GraphQL/Resolver/Proposal/ProposalResponsesResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyResponsesResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/User/UserResponsesResolverSpec.php
  src/Capco/AppBundle/GraphQL/Resolver/Traits/ResponsesResolverTrait.php
Due: graphql, php, backend

[10091-API] Visibility for responses without answer but mandatory
  frontend/js/components/Form/RenderResponses.js
  frontend/js/components/Proposal/Form/ProposalForm.js
  frontend/js/plugin/APIEnterprise/APIEnterpriseConstants.js
  frontend/js/plugin/APIEnterprise/APIEnterpriseFunctions.js
Due: none

[10091-API] Using instance for if loop
  config/packages/twig.yaml
  frontend/js/components/Proposal/Form/ProposalForm-test.js
  frontend/js/components/Proposal/Form/ProposalForm.js
  frontend/js/redux/modules/default.js
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
Due: php, backend

[10091-API] Check over siret or not
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
Due: php, backend

[10091-API] Fixing entreprise
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/APIEnterpriseAutoCompleteUtils.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/APIEnterpriseTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteDocQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromSiretQueryResolver.php
Due: graphql, php, backend

[10091-API] Before adding prefectureReceipt for siret assoc
  fixtures/Dev/MediaQuestion.yaml
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteDocQueryResolver.php
Due: graphql, php, backend

[10091-API] Walah ça passe avec des ids
  fixtures/Dev/MediaQuestion.yaml
  fixtures/Dev/QuestionnaireAbstractQuestion.yaml
  frontend/js/plugin/APIEnterprise/APIEnterpriseConstants.js
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/APIEnterprisePdfGenerator.php
Due: graphql, php, backend

[10091-API] NTM
  fixtures/Dev/MediaQuestion.yaml
Due: none

[10091-API] With good key....
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteDocQueryResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/AutoCompleteFromSiretQueryResolver.php
Due: graphql, php, backend

[10091-API] Adding try catch for "failed to open stream"
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/APIEnterprisePdfGenerator.php
Due: graphql, php, backend

[10091-API] Adding creation of file
  src/Capco/AppBundle/GraphQL/Resolver/Query/APIEnterprise/APIEnterprisePdfGenerator.php
Due: graphql, php, backend

[10091-API] Hiding all fields if no siret nor rna
  frontend/js/plugin/APIEnterprise/APIEnterpriseFunctions.js
Due: none

Add BO analysis tab and more fixtures (#10411)
  __snapshots__/exports/budget-participatif-idf_collecte-des-projets-idf-privee.csv
  __snapshots__/exports/budget-participatif-idf_etudes-des-projets.csv
  __snapshots__/exports/users.csv
  features/graphql-api/public/Project/__snapshots__/Project_proposals.js.snap
  fixtures/Dev/AnalysisConfiguration.yaml
  fixtures/Dev/Proposal.yaml
  fixtures/Dev/ProposalAnalysis.yaml
  fixtures/Dev/ProposalAnalyst.yaml
  fixtures/Dev/ProposalDecisionMaker.yaml
  fixtures/Dev/ProposalSupervisor.yaml
  fixtures/Dev/Status.yaml
  frontend/js/components/Admin/Project/ProjectAdminAnalysis.js
  frontend/js/components/Admin/Project/ProjectAdminAnalysisTab.js
  frontend/js/components/Admin/Project/ProjectAdminContent.js
  frontend/js/components/Analysis/AnalysisProjectPage/AnalysisProjectPage.utils.js
  package.json
  schema.internal.graphql
  src/Capco/AdminBundle/Resources/views/Project/base_edit_form.html.twig
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yaml
Due: php, backend

[9355-ASSIGN] :tada: assign decision maker - rest e2e tests on… (#10355)
  features/graphql-api/internal/mutation/__snapshots__/assignDecisionMakerToProposals.js.snap
  features/graphql-api/internal/mutation/assignDecisionMakerToProposals.js
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Proposal.php
  src/Capco/AppBundle/Entity/ProposalDecisionMaker.php
  src/Capco/AppBundle/Enum/ProposalAssignmentErrorCode.php
  src/Capco/AppBundle/GraphQL/Mutation/AssignDecisionMakerToProposalsMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/User/UserDecisionMakerProposalsResolver.php
  src/Capco/AppBundle/Repository/ProposalDecisionMakerRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/InternalProposalAssignmentErrorCode.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AssignDecisionMakerToProposalsInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AssignDecisionMakerToProposalsPayload.types.yaml
  src/Capco/AppBundle/Security/ProposalAnalysisRelatedVoter.php
  src/Capco/UserBundle/Entity/User.php
Due: graphql, php, backend

[7580-REMOVE] removeProposalsFromSteps (#10414)
  features/graphql/mutation/removeProposalsFromSteps.feature
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/AddProposalsToStepsMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Proposal/AbstractProposalStepMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Proposal/AddProposalsToStepsMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Proposal/RemoveProposalsFromStepsMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddProposalsToStepsInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/RemoveProposalsFromStepsInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/RemoveProposalsFromStepsPayload.types.yaml
Due: graphql, php, backend

[FIX] Remove access parameter on analysisConfiguration (#10410)
  features/graphql-api/internal/proposalForm/ProposalForm_analysisConfiguration.js
  features/graphql-api/internal/proposalForm/__snapshots__/ProposalForm_analysisConfiguration.js.snap
  fixtures/Dev/AnalysisConfiguration.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ProposalForm.types.yaml
Due: php, backend

IDF and analysis fixtures part 3 (#10417)
  __snapshots__/exports/budget-participatif-idf_collecte-des-projets-idf-privee.csv
  __snapshots__/exports/budget-participatif-idf_etudes-des-projets.csv
  __snapshots__/exports/questionnaire-detude-dile-de-france.csv
  features/graphql-api/public/query/__snapshots__/Query_posts.js.snap
  fixtures/Dev/AnalysisConfiguration.yaml
  fixtures/Dev/DistrictTranslation.yaml
  fixtures/Dev/LogicJump.yaml
  fixtures/Dev/MediaQuestion.yaml
  fixtures/Dev/MultipleChoiceQuestion.yaml
  fixtures/Dev/Post.yaml
  fixtures/Dev/PostTranslation.yaml
  fixtures/Dev/ProposalAnalyst.yaml
  fixtures/Dev/ProposalCategory.yaml
  fixtures/Dev/ProposalDecision.yaml
  fixtures/Dev/ProposalSupervisor.yaml
  fixtures/Dev/QuestionChoice.yaml
  fixtures/Dev/Questionnaire.yaml
  fixtures/Dev/QuestionnaireAbstractQuestion.yaml
  fixtures/Dev/SectionQuestion.yaml
  fixtures/Dev/SimpleQuestion.yaml
  fixtures/Dev/Status.yaml
  frontend/js/components/Proposal/Form/ProposalForm.js
  frontend/js/plugin/APIEnterprise/APIEnterpriseFunctions.js
  spec/Capco/AppBundle/Resolver/ProjectStatsResolverSpec.php
  src/Kernel.php
Due: php, backend

[10122-INFRAV2] Change all yml config.
  __snapshots__/exports/budget-participatif-idf_collecte-des-projets-idf-privee.csv
  __snapshots__/exports/budget-participatif-idf_etudes-des-projets.csv
  __snapshots__/exports/questionnaire-detude-dile-de-france.csv
  config/packages/dev/framework.yaml
  config/packages/doctrine.yaml
  config/packages/elasticsearch.yaml
  config/packages/fos_http_cache.yaml
  config/packages/redis.yaml
  config/packages/swarrot.yaml
  config/packages/toggle.yaml
  config/rabbitmq.yaml
  config/services.yaml
  features/graphql-api/public/query/__snapshots__/Query_posts.js.snap
  fixtures/Dev/AnalysisConfiguration.yaml
  fixtures/Dev/DistrictTranslation.yaml
  fixtures/Dev/LogicJump.yaml
  fixtures/Dev/MediaQuestion.yaml
  fixtures/Dev/MultipleChoiceQuestion.yaml
  fixtures/Dev/Post.yaml
  fixtures/Dev/PostTranslation.yaml
  fixtures/Dev/ProposalAnalyst.yaml
  fixtures/Dev/ProposalCategory.yaml
  fixtures/Dev/ProposalDecision.yaml
  fixtures/Dev/ProposalSupervisor.yaml
  fixtures/Dev/QuestionChoice.yaml
  fixtures/Dev/Questionnaire.yaml
  fixtures/Dev/QuestionnaireAbstractQuestion.yaml
  fixtures/Dev/SectionQuestion.yaml
  fixtures/Dev/SimpleQuestion.yaml
  fixtures/Dev/Status.yaml
  frontend/js/components/Proposal/Form/ProposalForm.js
  frontend/js/plugin/APIEnterprise/APIEnterpriseFunctions.js
  spec/Capco/AppBundle/Resolver/ProjectStatsResolverSpec.php
  src/Kernel.php
Due: php, backend

[10122-INFRAV2] Add remote v2 and adapt remote v1.
  infrastructure/deploylib/app.py
  infrastructure/environments/base.yml
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/php-fpm/run
  infrastructure/services/remote/cron/run
  infrastructure/services/remote/elasticsearch/run
  infrastructure/services/remote/mysql/run
  infrastructure/services/remote/php-fpm/run
  infrastructure/services/remote/rabbitmq/run
  infrastructure/services/remote/redis/run
  infrastructure/services/remote/supervisord/run
  infrastructure/services/remotev2/Dockerfile
  infrastructure/services/remotev2/nginx/nginx.conf
  infrastructure/services/remotev2/nginx/run
  infrastructure/services/remotev2/php-fpm/capco.ini
  infrastructure/services/remotev2/php-fpm/fpm.conf
  infrastructure/services/remotev2/php-fpm/php-fpm-xxl.conf
  infrastructure/services/remotev2/php-fpm/populate_elasticsearch_index
  infrastructure/services/remotev2/php-fpm/run
  infrastructure/services/remotev2/varnish/capco.vcl
  infrastructure/services/remotev2/varnish/run
Due: none

[10122-INFRAV2] Adapt index.php with env vars.
  public/index.php
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Elasticsearch/IndexBuilder.php
  src/DoctrineMigrations/Version20200302163542.php
Due: php, backend

Merge pull request #10389 from cap-collectif/10122-infrav2-config
  __snapshots__/exports/budget-participatif-idf_collecte-des-projets-idf-privee.csv
  __snapshots__/exports/budget-participatif-idf_etudes-des-projets.csv
  __snapshots__/exports/questionnaire-detude-dile-de-france.csv
  features/graphql-api/public/query/__snapshots__/Query_posts.js.snap
  fixtures/Dev/AnalysisConfiguration.yaml
  fixtures/Dev/DistrictTranslation.yaml
  fixtures/Dev/LogicJump.yaml
  fixtures/Dev/MediaQuestion.yaml
  fixtures/Dev/MultipleChoiceQuestion.yaml
  fixtures/Dev/Post.yaml
  fixtures/Dev/PostTranslation.yaml
  fixtures/Dev/ProposalAnalyst.yaml
  fixtures/Dev/ProposalCategory.yaml
  fixtures/Dev/ProposalDecision.yaml
  fixtures/Dev/ProposalSupervisor.yaml
  fixtures/Dev/QuestionChoice.yaml
  fixtures/Dev/Questionnaire.yaml
  fixtures/Dev/QuestionnaireAbstractQuestion.yaml
  fixtures/Dev/SectionQuestion.yaml
  fixtures/Dev/SimpleQuestion.yaml
  fixtures/Dev/Status.yaml
  frontend/js/components/Proposal/Form/ProposalForm.js
  frontend/js/plugin/APIEnterprise/APIEnterpriseFunctions.js
  spec/Capco/AppBundle/Resolver/ProjectStatsResolverSpec.php
  src/Kernel.php
Due: php, backend

[9091-ANALYSIS] adds analysisEditPanel (#10427)
  frontend/js/components/Proposal/Analysis/ProposalAnalysisFormPanel.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisPanel-test.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisPanel.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisStatusLabel-test.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisStatusLabel.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisUserRow.js
  frontend/js/components/Proposal/Analysis/__snapshots__/ProposalAnalysisPanel-test.js.snap
  frontend/js/components/Proposal/Analysis/__snapshots__/ProposalAnalysisStatusLabel-test.js.snap
  frontend/js/components/Proposal/Analysis/__snapshots__/ProposalAnalysisUserRow-test.js.snap
  frontend/js/components/Proposal/Page/ProposalPageLogic.js
  frontend/js/mutations/AnalyseProposalAnalysisMutation.js
  frontend/js/mutations/ChangeProposalAnalysisMutation.js
  frontend/js/utils/colors.js
Due: none

[10318-DECISIONNAIRE] fix width on form anbalysis (#10428)
  frontend/js/components/Proposal/Analysis/ProposalAnalysisFormPanel.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisPanel.js
Due: none

10318 decisionnaire form (#10431)
  frontend/js/components/Proposal/Analysis/ProposalAnalysisPanel.js
Due: none

Part 4: Add responses fixtures + fixes for analysts (#10429)
  fixtures/Dev/MultipleChoiceQuestion.yaml
  fixtures/Dev/ProposalAnalysis.yaml
  fixtures/Dev/ProposalAssessment.yaml
  fixtures/Dev/SimpleQuestion.yaml
  fixtures/Dev/ValueResponse.yaml
  src/Capco/AppBundle/Controller/Site/EvaluationController.php
  src/Capco/AppBundle/Entity/ProposalAnalysis.php
  src/Capco/AppBundle/EventListener/PreFillProposalFormSubscriber.php
  src/Capco/AppBundle/Security/ProposalAnalysisRelatedVoter.php
Due: php, backend

[10432-RM] remove prestissimo (#10434)
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remotev2/Dockerfile
Due: none
