Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

Remove coverage from ci (#18561)
  codecov.yml
  composer.json
  composer.lock
  package.json
  phpspec.yml
Due: none

18488 bloglist nextjs (#18489)
  admin-next/components/FrontOffice/Form/ProjectListField.tsx
  admin-next/components/FrontOffice/Organization/OrganizationPagePostList.tsx
  admin-next/components/FrontOffice/Organization/OrganizationPostCard.tsx
  admin-next/components/FrontOffice/Sections/PostList/PostCard.tsx
  admin-next/components/FrontOffice/Sections/PostList/PostListSection.test.tsx
  admin-next/components/FrontOffice/Sections/PostList/PostListSection.tsx
  admin-next/components/FrontOffice/Sections/PostList/PostListSectionFilters.tsx
  admin-next/components/FrontOffice/Sections/PostList/PostListSkeleton.tsx
  admin-next/components/FrontOffice/Sections/PostList/__snapshots__/PostListSection.test.tsx.snap
  admin-next/src/app/blog/Posts.test.tsx
  admin-next/src/app/blog/Posts.tsx
  admin-next/src/app/blog/__snapshots__/Posts.test.tsx.snap
  admin-next/src/app/blog/page.tsx
  cypress/integration/blog-page.cy.ts
  features/front/pages/blog.feature
  features/front/pages/rgpd.feature
  features/graphql-api/public/Query/Query_posts.js
  infrastructure/services/local/nginx/fastcgi.conf
  infrastructure/services/remote/nginx/nginx.conf
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryPostsResolver.php
  src/Capco/AppBundle/Security/SiteParameterVoter.php
Due: graphql, php

18512 fix emailing with participants (#18528)
  config/packages/repositories.yaml
  fixtures/Dev/MailingList.yaml
  fixtures/Dev/MailingListUser.yaml
  frontend/js/components/Admin/Project/ProjectAdminParticipantTab/ProjectAdminParticipants/ProjectAdminParticipants.tsx
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Anonymizer/UserAnonymizer.php
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
  src/Capco/AppBundle/Entity/MailingList.php
  src/Capco/AppBundle/Entity/MailingListUser.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/CreateMailingListMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Emailing/MailingListUsersConnection.php
  src/Capco/AppBundle/Repository/MailingListRepository.php
  src/Capco/AppBundle/Repository/MailingListUserRepository.php
  src/Capco/AppBundle/Repository/ParticipantRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/MailingList.types.yaml
  src/Capco/UserBundle/Repository/UserRepository.php
  src/DoctrineMigrations/Version20250821134254.php
Due: graphql, php, jest, flow

feat(Media): check if file already exists before updloading it (#18476)
  src/Capco/AppBundle/Manager/MediaManager.php
  src/Capco/AppBundle/Repository/MediaRepository.php
Due: php

chore(deps): upgrade libraries (#18583)
  yarn.lock
Due: none

fix: invite page loading/height issue (#18586)
  admin-next/pages/admin-next/invite.tsx
Due: none

fix : Move startAt and endAt from extra_data JSON to dedicated columns (#18509)
  admin-next/components/BackOffice/Sections/Carrousel/Carrousel.utils.ts
  admin-next/components/BackOffice/Sections/Carrousel/CarrouselSelects.tsx
  admin-next/mutations/CreateOrUpdateCarrouselConfigurationMutation.ts
  admin-next/pages/admin-next/section/carrousel/[sectionId].tsx
  admin-next/shared/sections/carrousel/Carrousel.test.tsx
  admin-next/shared/sections/carrousel/Carrousel.tsx
  admin-next/shared/sections/carrousel/WhatsNew.tsx
  admin-next/shared/sections/carrousel/WhatsNewMobile.tsx
  admin-next/shared/sections/carrousel/__snapshots__/Carrousel.test.tsx.snap
  features/graphql-api/internal/Section/Query_carrouselConfiguration.js
  features/graphql-api/internal/Section/__snapshots__/Query_carrouselConfiguration.js.snap
  features/graphql-api/internal/mutation/Section/__snapshots__/createOrUpdateCarrouselConfiguration.js.snap
  features/graphql-api/internal/mutation/Section/createOrUpdateCarrouselConfiguration.js
  fixtures/Dev/SectionCarrouselElement.yaml
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Section/SectionCarrouselElement.php
  src/Capco/AppBundle/Resources/config/graphql/internal/Section/input-object/CarrouselElementInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Section/input-object/ExtraDataInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Section/objects/ExtraData.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Section/objects/SectionCarrouselElement.types.yaml
  src/DoctrineMigrations/Version20250818134922.php
Due: php

rm privacy policy requirements excluding collect/selection/questionnaire (#18590)
  src/DoctrineMigrations/Version20250903085841.php
Due: php

add new exports collect/selection to interface (#18594)
  src/Capco/AppBundle/Controller/Site/ExportController.php
Due: php

fix: move newsletter subscribers page to emailing menu (#18534)
  admin-next/components/BackOffice/SideBar/SideBarItems.json
  frontend/js/components/Admin/Sidebar/Sidebar.tsx
  frontend/js/components/Admin/Sidebar/Sidebar.utils.tsx
Due: jest, flow

only add privacy policy requirement in workflow steps (#18602)
  src/Capco/AppBundle/GraphQL/Resolver/Requirement/AllRequirementsResolver.php
Due: graphql, php

fix: standardizing urls (#18585)
  admin-next/components/BackOffice/GeographicalArea/GeographicalAreaForm.tsx
  admin-next/components/BackOffice/GeographicalAreasList/GeographicalAreaDeleteModal.tsx
  admin-next/components/BackOffice/GeographicalAreasList/GeographicalAreasEmptyPage.tsx
  admin-next/components/BackOffice/GeographicalAreasList/GeographicalAreasList.tsx
  admin-next/components/BackOffice/Organizations/CreateOrganizationButton.tsx
  admin-next/components/BackOffice/Organizations/OrganizationList.tsx
  admin-next/components/BackOffice/SideBar/SideBar.utils.ts
  admin-next/components/BackOffice/SideBar/SideBarItems.json
  admin-next/components/BackOffice/Steps/ProposalStep/ProposalStepVoteTabsForm.tsx
  admin-next/pages/admin-next/authentication.tsx
  admin-next/pages/admin-next/geographical-area.tsx
  admin-next/pages/admin-next/geographical-areas.tsx
  admin-next/pages/admin-next/organization-config/[orgId].tsx
  admin-next/pages/admin-next/secured-participation.tsx
  frontend/js/components/Admin/Project/Step/StepRequirementsList.tsx
  frontend/js/components/Admin/Project/Step/TeaserServices.tsx
  frontend/js/components/Admin/Section/HomePageProjectsMapSectionConfigurationPage.tsx
  frontend/js/components/Admin/Sidebar/Sidebar.tsx
  frontend/js/components/Admin/Sidebar/Sidebar.utils.tsx
Due: jest, flow

fix: remove translation keys (#18591)
  src/Capco/AppBundle/Mailer/templates/acknowledgeReply.html.twig
  src/Capco/AppBundle/Mailer/templates/confirmEmailChange.html.twig
  src/Capco/AppBundle/Mailer/templates/confirmNewEmail.html.twig
  src/Capco/AppBundle/Mailer/templates/createAccountMessage.html.twig
Due: php

fix(install): don't remove capco.dev on mac (#18622)
  infrastructure/deploylib/system.py
Due: none

Allow get slug from GraphQL api (#18516)
  features/graphql-api/internal/Query/Query_nodeSlug.js
  features/graphql-api/internal/Query/__snapshots__/Query_nodeSlug.js.snap
  src/Capco/AppBundle/Controller/Site/StepController.php
  src/Capco/AppBundle/Enum/SluggableEntity.php
  src/Capco/AppBundle/GraphQL/Resolver/NodeSlugResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeSlugTypeResolver.php
  src/Capco/AppBundle/Repository/AbstractStepRepository.php
  src/Capco/AppBundle/Repository/CollectStepRepository.php
  src/Capco/AppBundle/Repository/GlobalDistrictRepository.php
  src/Capco/AppBundle/Repository/Organization/OrganizationRepository.php
  src/Capco/AppBundle/Repository/PageRepository.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Repository/ProposalDistrictRepository.php
  src/Capco/AppBundle/Repository/RankingStepRepository.php
  src/Capco/AppBundle/Repository/SluggableRepositoryInterface.php
  src/Capco/AppBundle/Repository/SluggableStepRepositoryInterface.php
Due: graphql, php

fix(install): init env vars with dummy values (#18628)
  infrastructure/deploylib/app.py
Due: none

feat(Media): removing the filter on Capco Media provider, allowing to delete old sonata-uploaded medias (#18615)
  src/Capco/AppBundle/Command/CapcoMediaPurgeUnusedCommand.php
Due: php

18329 anonymize users fix improvements (#18465)
  src/Capco/AppBundle/Command/AnonymizeUsersAutomatedCommand.php
  src/Capco/UserBundle/Repository/UserRepository.php
Due: php

fix: update bloglist url from a theme page (#18624)
  src/Capco/AppBundle/Resources/views/Theme/appendices.html.twig
Due: php

fix(Questionnaire): re-index objects when removing reply in admin (removing in frontend page already works) (#18526)
  features/graphql-api/internal/mutation/Other/delete/__snapshots__/deleteReplies.js.snap
  features/graphql-api/internal/mutation/Other/delete/deleteReplies.js
  src/Capco/AppBundle/GraphQL/Mutation/DeleteRepliesMutation.php
Due: graphql, php

fix missing exports variant (#18640)
  src/Capco/AppBundle/Command/BaseExportCommand.php
  src/Capco/AppBundle/Command/CreateStepContributorsCommand.php
  src/Capco/AppBundle/Command/ExportConsultationContributionsCommand.php
  src/Capco/AppBundle/Command/ExportDebateVotesCommand.php
  src/Capco/AppBundle/Command/ExportQuestionnaireContributionsCommand.php
  src/Capco/AppBundle/Command/ExportSelectionParticipantsCommand.php
  src/Capco/AppBundle/Command/Service/CollectAndSelectionContributionExporter.php
  src/Capco/AppBundle/Command/Service/FilePathResolver/VotesFilePathResolver.php
  src/Capco/AppBundle/Controller/Site/ExportController.php
Due: php

feat(Media): do not try to purge Media in DB if they don't have a file on the disk (#18635)
  src/Capco/AppBundle/Command/CapcoMediaPurgeUnusedCommand.php
  src/Capco/AppBundle/Provider/MediaProvider.php
Due: php

Upgrade hautelook/alice-bundle package to 2.12.2 (#18589)
  composer.lock
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
Due: php

fix response migration (#18647)
  src/DoctrineMigrations/Version20250310132930.php
Due: php

test(emailConfirmation): refactor behat to cypress (#18619)
  cypress/integration/user/emailConfirmation.cy.ts
  features/front/user/split1/email.feature
Due: none

test(invitation/registration): refactor behat to cypress (#18631)
  cypress/cypress.config.ts
  cypress/e2e/invitation.cy.ts
  cypress/pages/index.ts
  cypress/pages/invitation.ts
  features/front/user/split1/invitation.feature
Due: none

Upgrade overblog/dataloader-bundle to 1.1.0 (#18644)
  composer.json
  composer.lock
Due: none

bypass export regeneration cache (#18603)
  src/Capco/AppBundle/Command/ExportCollectAndSelectionContributionsCommand.php
  src/Capco/AppBundle/Command/ExportCollectParticipantsCommand.php
  src/Capco/AppBundle/Command/ExportQuestionnaireContributionsCommand.php
  src/Capco/AppBundle/Command/ExportSelectionParticipantsCommand.php
  src/Capco/AppBundle/Command/Service/CollectAndSelectionContributionExporter.php
  src/Capco/AppBundle/Command/Service/CollectParticipantExporter.php
  src/Capco/AppBundle/Command/Service/ExportRegenerationService.php
  src/Capco/AppBundle/Command/Service/QuestionnaireContributionExporter.php
  src/Capco/AppBundle/Command/Service/QuestionnaireParticipantExporter.php
  src/Capco/AppBundle/Command/Service/SelectionParticipantExporter.php
  tests/Command/ExportCollectParticipantsCommandTest.php
  tests/Command/ExportSelectionParticipantsCommandTest.php
Due: php

fix(install): Fix the database errors when running capco:reinit command (#18634)
  config/packages/commands.yaml
  src/Capco/AppBundle/Command/CreateIDFUsersFromCsvCommand.php
  src/Capco/AppBundle/Command/ReinitCommand.php
  src/Capco/AppBundle/Notifier/AnalysisNotifier.php
  src/Capco/AppBundle/Notifier/BaseNotifier.php
  src/Capco/AppBundle/Notifier/GlobalDistrictFollowerNotifier.php
  src/Capco/AppBundle/Notifier/Mediator/MediatorNotifier.php
  src/Capco/AppBundle/Notifier/Organization/OrganizationMemberNotifier.php
  src/Capco/AppBundle/Notifier/ProposalCollectEmailPublishedNotifier.php
Due: php

test(invitation/organization): refactor behat to cypress (#18614)
  cypress/integration/organization/organizationInvitation.cy.ts
  features/front/user/split1/organization.feature
  src/Capco/AppBundle/Mailer/Message/Organization/InvitationMessage.php
Due: php

Add pngmdr cndp sso (#18656)
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
  src/Capco/UserBundle/OpenID/OpenIDResourceOwner.php
Due: php

fix(frontoffice): remove breadcrumb for first level & custom pages (#18623)
  admin-next/src/app/blog/Posts.tsx
  admin-next/src/app/contact/Contact.tsx
  admin-next/src/app/pages/[slug]/PageRender.tsx
  admin-next/src/app/projects/Projects.tsx
  frontend/js/components/Event/EventListPage.tsx
  frontend/js/components/Project/Page/ProjectListPage.tsx
  src/Capco/AppBundle/Resources/views/Blog/index.html.twig
  src/Capco/AppBundle/Resources/views/Theme/index.html.twig
Due: php, jest, flow

test: move intercept earlier to reduce flakyness (#18665)
  cypress/pages/admin/consultation.ts
Due: none

test(BO/questionnaire): refactor behat to cypress (#18661)
  cypress/e2e/invitation.cy.ts
  cypress/fixtures/doublons.csv
  cypress/fixtures/over_1500.csv
  cypress/integration/questionnaire/questionnaireImportChoices.cy.ts
  features/back/project/ProposalFormAndQuestionnaire/questionnaire.feature
Due: none

fix(install): adding .gikeep to frontend/js/__generated__/~relay so that first relay build does not crash (#18673)
  .gitignore
  frontend/js/__generated__/~relay/.gitkeep
Due: jest, flow

rm anonymousReplies from ProjectCard (#18682)
  admin-next/shared/projectCard/ProjectCard.tsx
Due: none

export collect and selection votes (#18651)
  __snapshots__/exports/collect/votes_appel-a-projets_collecte-des-propositions-avec-vote-simple_simplified.csv
  __snapshots__/exports/collect/votes_bp-avec-vote-classement_collecte-avec-vote-classement-limite_simplified.csv
  __snapshots__/exports/collect/votes_bp-vote-etape-de-depot_collecte-des-propositions-vote-parcours-min-3-max-5_simplified.csv
  __snapshots__/exports/collect/votes_budget-participatif-idf-3_collecte-vote-par-sms_simplified.csv
  __snapshots__/exports/collect/votes_projet-pour-consolider-les-exports_etape-de-depot-des-exports_simplified.csv
  __snapshots__/exports/collect/votes_questions-responses_collecte-des-questions-chez-youpie_simplified.csv
  __snapshots__/exports/selection/votes_bp-avec-vote-classement_selection-avec-vote-classement-limite_simplified.csv
  __snapshots__/exports/selection/votes_bp-vote-parcours_vote-parcours-min-3-max-5_simplified.csv
  __snapshots__/exports/selection/votes_budget-avec-vote-limite_selection-avec-vote-budget-limite_simplified.csv
  __snapshots__/exports/selection/votes_budget-participatif-idf-3_le-suivi-des-projets-laureats_simplified.csv
  __snapshots__/exports/selection/votes_budget-participatif-idf-3_vote-des-franciliens_simplified.csv
  __snapshots__/exports/selection/votes_budget-participatif-rennes_fermee_simplified.csv
  __snapshots__/exports/selection/votes_budget-participatif-rennes_selection_simplified.csv
  __snapshots__/exports/selection/votes_depot-avec-selection-vote-budget_selection-avec-vote-selon-le-budget_simplified.csv
  __snapshots__/exports/selection/votes_projet-pour-consolider-les-exports_selectionstepexport_simplified.csv
  __snapshots__/exports/selection/votes_questions-responses_selection-de-questions-avec-vote-classement-limite_simplified.csv
  src/Capco/AppBundle/Command/ExportCollectAndSelectionVotesCommand.php
  src/Capco/AppBundle/Enum/ExportHeaders.php
  src/Capco/AppBundle/Repository/CollectStepRepository.php
  src/Capco/AppBundle/Repository/ProposalCollectVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalSelectionVoteRepository.php
  src/Capco/AppBundle/Repository/SelectionStepRepository.php
  src/Capco/AppBundle/Service/CsvDataFormatter.php
  tests/Command/ExportCollectAndSelectionVotesCommandTest.php
Due: php
