Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

twilio fix (#15086)
  config/packages/swarrot.yaml
  config/rabbitmq.yaml
  infrastructure/services/local/supervisord/sms.conf
  infrastructure/services/remote/supervisord/sms.conf
  spec/Capco/AppBundle/GraphQL/Mutation/Sms/AddSmsCreditMutationSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/Sms/CreateSmsOrderMutationSpec.php
  src/Capco/AppBundle/Command/SendSmsCreditConsumptionAlertCommand.php
  src/Capco/AppBundle/GraphQL/Mutation/Sms/AddSmsCreditMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Sms/CreateSmsOrderMutation.php
  src/Capco/AppBundle/Notifier/SmsNotifier.php
  src/Capco/AppBundle/Processor/Sms/SmsCreditAlertConsumedCreditProcessor.php
  src/Capco/AppBundle/Processor/Sms/SmsCreditInitialCreditProcessor.php
  src/Capco/AppBundle/Processor/Sms/SmsCreditInitialOrderProcessor.php
  src/Capco/AppBundle/Processor/Sms/SmsCreditRefillCreditProcessor.php
  src/Capco/AppBundle/Processor/Sms/SmsCreditRefillOrderProcessor.php
  src/Capco/AppBundle/Repository/ExternalServiceConfigurationRepository.php
Due: graphql, php

only display tag if any requirements (#15091)
  frontend/js/components/Proposal/Vote/ProposalVoteModal.js
Due: jest, flow

[2365-HIDE] Hide see more when only one news (#15040)
  src/Capco/AppBundle/Resources/views/Homepage/lastPosts.html.twig
Due: php

label mandatory for checkbox requirement (#15097)
  spec/Capco/AppBundle/Validator/Constraints/CheckboxRequirementHasLabelValidatorSpec.php
  src/Capco/AppBundle/Form/Step/AbstractStepFormType.php
  src/Capco/AppBundle/Validator/Constraints/CheckboxRequirementHasLabel.php
  src/Capco/AppBundle/Validator/Constraints/CheckboxRequirementHasLabelValidator.php
Due: php

update twig/twig to 2.15.3 (#15098)
  composer.lock
Due: none

fix migration (#15101)
  src/DoctrineMigrations/Version20220905103557.php
Due: php

add default createdAt (#15103)
  src/DoctrineMigrations/Version20220905103557.php
Due: php

format datetime to string (#15104)
  src/DoctrineMigrations/Version20220905103557.php
Due: php

14635 district cover (#15102)
  fixtures/Dev/Media.yaml
  fixtures/Dev/ProjectDistrict.yaml
  fixtures/files/district/ile_de_nantes.jpeg
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Entity/District/ProjectDistrict.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Form/ProjectDistrictType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/district/UpdateProjectDistrictInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ProjectDistrict.types.yaml
  src/Capco/AppBundle/Traits/Media/CoverTrait.php
  src/DoctrineMigrations/Version20220929101334.php
Due: php

14635 district description (#15105)
  features/graphql-api/public/Query/Query_projectDistricts.js
  features/graphql-api/public/Query/__snapshots__/Query_projectDistricts.js.snap
  features/graphql/mutation/updateProjectDistrict.feature
  fixtures/Dev/DistrictTranslation.yaml
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Consultation.php
  src/Capco/AppBundle/Entity/District/DistrictTranslation.php
  src/Capco/AppBundle/Entity/District/ProjectDistrict.php
  src/Capco/AppBundle/Entity/Group.php
  src/Capco/AppBundle/Entity/OpinionType.php
  src/Capco/AppBundle/Form/ProjectDistrictType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/District.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDistrictTranslation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDistrictTranslationInput.types.yaml
  src/Capco/AppBundle/Traits/Text/DescriptionTrait.php
  src/DoctrineMigrations/Version20220930114146.php
Due: php

update date fixtures (#15115)
  fixtures/Dev/DebateStep.yaml
Due: none

14949 organization invitation send email (#15096)
  config/packages/swarrot.yaml
  config/rabbitmq.yaml
  fixtures/Dev/PendingOrganizationInvitation.yaml
  src/Capco/AppBundle/CapcoAppBundleMessagesTypes.php
  src/Capco/AppBundle/Entity/Interfaces/DateTime/Expirable.php
  src/Capco/AppBundle/Entity/Interfaces/Invitation.php
  src/Capco/AppBundle/Entity/Organization/Organization.php
  src/Capco/AppBundle/Entity/Organization/OrganizationMember.php
  src/Capco/AppBundle/Entity/Organization/PendingOrganizationInvitation.php
  src/Capco/AppBundle/Entity/UserInvite.php
  src/Capco/AppBundle/GraphQL/Mutation/InviteUsersMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Organization/InviteOrganizationMemberMutation.php
  src/Capco/AppBundle/Mailer/Message/MessagesList.php
  src/Capco/AppBundle/Mailer/Message/Organization/InvitationMessage.php
  src/Capco/AppBundle/Mailer/Message/Project/QuestionnaireAcknowledgeReplyMessage.php
  src/Capco/AppBundle/Mailer/templates/Organization/notifyInvitation.html.twig
  src/Capco/AppBundle/Notifier/Organization/OrganizationMemberNotifier.php
  src/Capco/AppBundle/Processor/Organization/OrganizationMemberProcessor.php
  src/Capco/AppBundle/Resolver/UrlResolver.php
  src/Capco/AppBundle/Traits/DateTime/ExpirableTrait.php
  src/DoctrineMigrations/Version20221003170531.php
Due: graphql, php

[14949-SENDEMAILTOUNREGISTREDUSER] send organization invitation to un… (#15111)
  config/packages/swarrot.yaml
  config/rabbitmq.yaml
  features/graphql-api/internal/Query/__snapshots__/Query_userInvitations.js.snap
  fixtures/Dev/UserInvite.yaml
  fixtures/Dev/UserInviteEmailMessage.yaml
  src/Capco/AppBundle/CapcoAppBundleMessagesTypes.php
  src/Capco/AppBundle/Entity/UserInvite.php
  src/Capco/AppBundle/Entity/UserInviteEmailMessage.php
  src/Capco/AppBundle/EventListener/UserInviteEmailMessageListener.php
  src/Capco/AppBundle/GraphQL/Mutation/Organization/InviteOrganizationMemberMutation.php
  src/Capco/AppBundle/Mailer/Message/UserInvite/UserInviteNewInvitationByOrganization.php
  src/Capco/AppBundle/Mailer/templates/UserInvite/newInvitationByOrganization.html.twig
  src/Capco/AppBundle/Notifier/UserInviteEmailMessageNotifier.php
  src/Capco/AppBundle/Processor/UserInvite/UserInviteNewInvitationProcessor.php
  src/DoctrineMigrations/Version20221003163711.php
Due: graphql, php

[14949-FIXMIGRATION] update num version of migration (#15118)
  src/DoctrineMigrations/Version20221004163711.php
Due: php

Organization.projects (#15109)
  features/front/features/project.feature
  features/graphql-api/internal/Organization/Organization_projects.js
  features/graphql-api/internal/Organization/__snapshots__/Organization_projects.js.snap
  features/graphql-api/internal/ProjectOwner/__snapshots__/ProjectOwner_projects.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_projects.js.snap
  fixtures/Dev/Project.yaml
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/Repository/ProjectRepositorySpec.php
  src/Capco/AppBundle/Command/ExportAnalysisCSVCommand.php
  src/Capco/AppBundle/Entity/Organization/Organization.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/OwnerProjectsResolver.php
  src/Capco/AppBundle/Repository/ProjectRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/objects/InternalOrganization.types.yaml
Due: graphql, php

14949 organization invitation split in 2 mutations (#15116)
  features/graphql-api/internal/mutation/Organization/__snapshots__/inviteOrganizationMember.js.snap
  features/graphql-api/internal/mutation/Organization/__snapshots__/inviteUserToOrganization.js.snap
  features/graphql-api/internal/mutation/Organization/inviteUserToOrganization.js
  infrastructure/services/remote/supervisord/organization.conf
  infrastructure/services/remote/supervisord/user.conf
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/Organization/AbstractOrgnizationInvitation.php
  src/Capco/AppBundle/GraphQL/Mutation/Organization/InviteOrganizationMemberMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Organization/InviteUserToOrganizationMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/enum/InviteOrganizationMemberErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/enum/InviteUserToOrganizationErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/mutations/InviteUserToOrganizationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/mutations/InviteUserToOrganizationPayload.types.yaml
Due: graphql, php

Fix des parents sans lien sur le header (#15095)
  frontend/js/components/Ui/TabsBar/TabsBarDropdown.js
  frontend/js/components/Ui/TabsBar/TabsItem.js
  frontend/js/components/Ui/TabsBar/styles.js
Due: jest, flow

14948 join organizations at registration (#14992)
  features/front/user/organization.feature
  spec/Capco/AppBundle/GraphQL/Mutation/RegisterMutationSpec.php
  spec/Capco/UserBundle/Handler/UserInvitationHandlerSpec.php
  src/Capco/AppBundle/Controller/Site/Organization/OrganizationController.php
  src/Capco/AppBundle/Entity/Organization/Organization.php
  src/Capco/AppBundle/Entity/Organization/OrganizationMember.php
  src/Capco/AppBundle/GraphQL/Mutation/RegisterMutation.php
  src/Capco/AppBundle/Repository/Organization/OrganizationTranslationRepository.php
  src/Capco/AppBundle/Repository/Organization/PendingOrganizationInvitationRepository.php
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/Handler/UserInvitationHandler.php
  src/Capco/UserBundle/Security/Core/User/OauthUserProvider.php
Due: graphql, php

[14947-FIX] remove organizationMember (#15123)
  features/graphql/mutation/leaveOrganization.feature
  spec/Capco/AppBundle/GraphQL/Mutation/Organization/LeaveOrganizationMutationSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/Organization/LeaveOrganizationMutation.php
Due: graphql, php

organization.events (#15117)
  features/graphql-api/internal/EventOwner/EventOwner_events.js
  features/graphql-api/internal/EventOwner/__snapshots__/EventOwner_events.js.snap
  features/graphql-api/internal/Organization/Organization_events.js
  features/graphql-api/internal/Organization/__snapshots__/Organization_events.js.snap
  fixtures/Dev/Event.yaml
  fixtures/Dev/EventTranslation.yaml
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/Repository/EventRepositorySpec.php
  src/Capco/AppBundle/GraphQL/Resolver/Event/OwnerEventsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/User/EventOwnerTypeResolver.php
  src/Capco/AppBundle/Repository/EventRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/Organization/objects/InternalOrganization.types.yaml
Due: graphql, php

Update Cap Collectif logo (#15131)
  fixtures/files/logo.png
Due: none

Fix License link in README (#15133)
  README.md
Due: none

Update README.md
  README.md
Due: none

allow image/webp format (#15126)
  admin-next/utils/config.tsx
  config/packages/sonata.yaml
  frontend/js/components/Admin/Post/PostForm/__snapshots__/PostForm-test.js.snap
  frontend/js/components/Form/FileUpload/__snapshots__/FileUpload-test.js.snap
  frontend/js/config.js
  src/Capco/AppBundle/Controller/Api/MediasController.php
Due: php, jest, flow

fix proposal draft / edit close button (#15030)
  frontend/js/components/Proposal/Edit/ProposalEditModal.js
  frontend/js/components/Proposal/Form/ProposalForm.js
Due: jest, flow

15125 fix invitation (#15128)
  frontend/js/components/Utils/CsvDropZoneInput.js
  src/Capco/AppBundle/Entity/UserInviteEmailMessage.php
Due: php, jest, flow

do not filter out published proposals when looking for draft proposals (#15132)
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: php

14933 analysis comment front (#15041)
  features/graphql-api/internal/ProposalAnalysis/ProposalAnalysis_comments.js
  features/graphql-api/internal/ProposalAnalysis/__snapshots__/ProposalAnalysis_comments.js.snap
  fixtures/Dev/ProposalAnalysisComment.yaml
  frontend/js/components/Proposal/Analysis/ProposalAnalysisCommentCreateForm.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisCommentListItem.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisComments.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisCommentsList.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisFormPanel-test.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisFormPanel.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisPanel-test.js
  frontend/js/components/Proposal/Analysis/ProposalAnalysisPanel.js
  frontend/js/components/Proposal/Analysis/ProposalFormSwitcher.js
  frontend/js/components/Proposal/Analysis/ProposalViewAnalysisPanel-test.js
  frontend/js/components/Proposal/Analysis/ProposalViewAnalysisPanel.js
  frontend/js/components/Proposal/Analysis/__snapshots__/ProposalAnalysisFormPanel-test.js.snap
  frontend/js/components/Proposal/Analysis/__snapshots__/ProposalAnalysisPanel-test.js.snap
  frontend/js/components/Proposal/Analysis/__snapshots__/ProposalViewAnalysisPanel-test.js.snap
  frontend/js/components/Proposal/Page/ProposalPageLogic.js
  frontend/js/components/Proposal/Page/__snapshots__/ProposalPage-test.js.snap
  frontend/js/mutations/ChangeProposalAnalysisMutation.js
  frontend/js/mutations/CreateProposalAnalysisCommentMutation.js
  frontend/js/mutations/DeleteProposalAnalysisCommentMutation.js
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Entity/ProposalAnalysis.php
  src/Capco/AppBundle/Entity/ProposalAnalysisComment.php
  src/Capco/AppBundle/GraphQL/Mutation/InviteUsersMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/ProposalAnalysisCommentsResolver.php
  src/Capco/AppBundle/Mailer/templates/Comment/analysisCommentCreate.html.twig
  src/Capco/AppBundle/Mailer/templates/standardLayoutNew.html.twig
  src/Capco/AppBundle/Repository/ProposalAnalysisCommentRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposalAnalysis.types.yaml
Due: graphql, php, jest, flow

[FIXUSERAVATAR] user avatar can be query from author (User|Organization) (#15152)
  src/Capco/AppBundle/GraphQL/Resolver/User/UserAvatarUrlResolver.php
Due: graphql, php

count distinct anon contributor (#15154)
  src/Capco/AppBundle/GraphQL/DataLoader/Step/StepVotesCountDataLoader.php
  src/Capco/AppBundle/Repository/ProposalCollectSmsVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalSelectionSmsVoteRepository.php
Due: graphql, php

14635 section projects map -> center map (#15093)
  fixtures/Dev/Section.yaml
  frontend/js/components/Admin/Section/HomePageProjectsMapSectionConfigurationPage.js
  frontend/js/components/Proposal/Create/ProposalChangeAddressModal.js
  frontend/js/mutations/UpdateHomePageProjectsMapSectionConfigurationMutation.js
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Section.php
  src/Capco/AppBundle/Form/SectionType.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateHomePageProjectsMapSectionConfigurationMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateHomePageProjectsMapSectionConfigurationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/HomePageProjectsMapSectionConfiguration.types.yaml
  src/Capco/AppBundle/Resources/views/Homepage/homepage.html.twig
  src/Capco/AppBundle/Resources/views/Homepage/projectsMap.html.twig
  src/Capco/AppBundle/Twig/HomepageSectionExtension.php
  src/Capco/AppBundle/Twig/HomepageSectionRuntime.php
  src/DoctrineMigrations/Version20220927094811.php
Due: graphql, php, jest, flow

fix price (#15167)
  admin-next/components/SecuredParticipation/SectionSMS/ModalCreditRefill/ModalCreditRefill.tsx
Due: none

[Bug-15140] Fix Address Validation (#15150)
  .flowconfig
  frontend/js/components/Proposal/Vote/utils/generateValidationSchema.js
  package.json
  yarn.lock
Due: jest, flow

Ignore patch
  .gitignore
Due: none

[14378-PERFORMANCEPAGE] hide performance menu for non super admin (#15146)
  admin-next/components/SideBar/SideBar.tsx
  admin-next/components/SideBar/SideBar.utils.ts
  admin-next/components/SideBar/SideBarItems.json
  config/packages/voters.yaml
  frontend/js/components/Admin/Sidebar/Sidebar.js
  frontend/js/components/Navbar/NavbarRight-test.js
  frontend/js/components/Navbar/__snapshots__/NavbarRight-test.js.snap
  frontend/js/components/Reply/Form/ReplyCreateFormWrapper-test.js
  frontend/js/redux/modules/user.js
  src/Capco/AdminBundle/Controller/SettingsController.php
  src/Capco/AppBundle/Resources/views/redux_store.html.twig
  src/Capco/AppBundle/Security/SettingsVoter.php
Due: php, jest, flow

Fix first click on draft proposal within vote step (#15175)
  frontend/js/components/Proposal/Page/ProposalPage.js
  frontend/js/mutations/CreateProposalMutation.js
Due: jest, flow
