Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

[8767-PUBLIC] Removed from backend exportable. Quid of exportable in project entity ?
  features/back/user/user.feature
  frontend/js/components/User/Admin/UserAdminCreateButton.js
  frontend/js/components/User/Admin/__snapshots__/UserAdminCreateButton-test.js.snap
  frontend/js/components/User/Registration/RegistrationForm.js
  frontend/js/components/User/UserPasswordField.js
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/UserBundle/Form/Type/UserFormType.php
Due: php, backend

[8767-PUBLIC] Removed from front
  src/Capco/AppBundle/Resources/views/Blog/blockPost.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
Due: php, backend

[8767-PUBLIC] Deleting exportable in entity
  src/Capco/AppBundle/Entity/Project.php
  src/DoctrineMigrations/Version20191213150249.php
Due: php, backend

[8767-PUBLIC] Updating migration
  src/DoctrineMigrations/Version20191216080249.php
Due: php, backend

[8766-QUESTIONNAIRE] Adding test for questionnaire
  __snapshots__/exports/projet-avec-questionnaire_etape-de-questionnaire-fermee.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire-des-jo-2024.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire.csv
  __snapshots__/exports/projet-pour-le-group2_questionnaire-step-pour-group2.csv
  __snapshots__/exports/questionnaire-non-rattache.csv
  __snapshots__/exports/qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_questionnaire-step-pour-admins.csv
  features/commands/export.feature
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AppBundle/Command/CreateCsvFromQuestionnaireCommand.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Resources/views/Blog/blockPost.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
  src/DoctrineMigrations/Version20191216080249.php
Due: php, backend

[8766-QUESTIONNAIRE] Remove dev
  features/commands/export.feature
Due: none

[8767-PUBLIC] Removing exportable from fixtures
  __snapshots__/exports/projet-avec-questionnaire_etape-de-questionnaire-fermee.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire-des-jo-2024.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire.csv
  __snapshots__/exports/projet-pour-le-group2_questionnaire-step-pour-group2.csv
  __snapshots__/exports/questionnaire-non-rattache.csv
  __snapshots__/exports/qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_questionnaire-step-pour-admins.csv
  features/commands/export.feature
  fixtures/Benchmark/Project.yaml
  fixtures/Dev/Project.yaml
  fixtures/Prod/Project.yaml
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AppBundle/Command/CreateCsvFromQuestionnaireCommand.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Resources/views/Blog/blockPost.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
  src/DoctrineMigrations/Version20191216080249.php
Due: php, backend

Merge pull request #9526 from cap-collectif/9512-password-complexity
  features/back/user/user.feature
  fixtures/Benchmark/Project.yaml
  fixtures/Dev/Project.yaml
  fixtures/Prod/Project.yaml
  frontend/js/components/User/Admin/UserAdminCreateButton.js
  frontend/js/components/User/Admin/__snapshots__/UserAdminCreateButton-test.js.snap
  frontend/js/components/User/Registration/RegistrationForm.js
  frontend/js/components/User/UserPasswordField.js
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Resources/views/Blog/blockPost.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
  src/Capco/UserBundle/Form/Type/UserFormType.php
  src/DoctrineMigrations/Version20191216080249.php
Due: php, backend

Merge pull request #9532 from cap-collectif/8766-questionnaire-tests
  __snapshots__/exports/projet-avec-questionnaire_etape-de-questionnaire-fermee.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire-des-jo-2024.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire.csv
  __snapshots__/exports/projet-pour-le-group2_questionnaire-step-pour-group2.csv
  __snapshots__/exports/questionnaire-non-rattache.csv
  __snapshots__/exports/qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_questionnaire-step-pour-admins.csv
  features/commands/export.feature
  src/Capco/AppBundle/Command/CreateCsvFromQuestionnaireCommand.php
Due: php, backend

[UDPATE-WILLDURAND] update willdurand/geocoder from 3.2 to 4.2
  composer.json
  composer.lock
Due: none

[UDPATE-WILLDURAND] update google maps geocoder
  app/AppKernel.php
  composer.json
  composer.lock
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Validator/Constraints/HasValidAddressValidator.php
Due: php, backend

[8766-FIX] Fixing translation of yes/no
  __snapshots__/exports/projet-avec-questionnaire_etape-de-questionnaire-fermee.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire-des-jo-2024.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire.csv
  __snapshots__/exports/projet-pour-le-group2_questionnaire-step-pour-group2.csv
  __snapshots__/exports/questionnaire-non-rattache.csv
  __snapshots__/exports/qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_questionnaire-step-pour-admins.csv
  app/AppKernel.php
  composer.json
  composer.lock
  features/commands/export.feature
  src/Capco/AppBundle/Command/CreateCsvFromQuestionnaireCommand.php
  src/Capco/AppBundle/Resolver/ProjectDownloadResolver.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Validator/Constraints/HasValidAddressValidator.php
Due: php, backend

Merge pull request #9534 from cap-collectif/8767-public-export
  fixtures/Benchmark/Project.yaml
  fixtures/Dev/Project.yaml
  fixtures/Prod/Project.yaml
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Resources/views/Blog/blockPost.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
  src/DoctrineMigrations/Version20191216080249.php
Due: php, backend

[UDPATE-WILLDURAND] fix
  __snapshots__/exports/projet-avec-questionnaire_etape-de-questionnaire-fermee.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire-des-jo-2024.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire.csv
  __snapshots__/exports/projet-pour-le-group2_questionnaire-step-pour-group2.csv
  __snapshots__/exports/questionnaire-non-rattache.csv
  __snapshots__/exports/qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_questionnaire-step-pour-admins.csv
  app/AppKernel.php
  composer.json
  composer.lock
  features/commands/export.feature
  fixtures/Benchmark/Project.yaml
  fixtures/Dev/Project.yaml
  fixtures/Prod/Project.yaml
  infrastructure/deploylib/qa.py
  src/Capco/AdminBundle/Admin/ProjectAdmin.php
  src/Capco/AppBundle/Command/CreateCsvFromQuestionnaireCommand.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Resolver/ProjectDownloadResolver.php
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Resources/views/Blog/blockPost.html.twig
  src/Capco/AppBundle/Resources/views/Project/show_title.html.twig
  src/Capco/AppBundle/Validator/Constraints/HasValidAddressValidator.php
  src/DoctrineMigrations/Version20191216080249.php
Due: php, backend

[8765-EXCEL] fixing rebase snapshots
  __snapshots__/exports/projet-avec-questionnaire_etape-de-questionnaire-fermee.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire-des-jo-2024.csv
  __snapshots__/exports/projet-avec-questionnaire_questionnaire.csv
  __snapshots__/exports/projet-pour-le-group2_questionnaire-step-pour-group2.csv
  __snapshots__/exports/questionnaire-non-rattache.csv
  __snapshots__/exports/qui-doit-conquerir-le-monde-visible-par-les-admins-seulement_questionnaire-step-pour-admins.csv
  infrastructure/deploylib/qa.py
Due: none

[9529-DND] upgrade beautiful ndnd
  package.json
  yarn.lock
Due: none

[9529-DND] update react path for duplicates instances of react
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdminItem-test.js.snap
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdminList-test.js.snap
  webpack/webpack.client.js
Due: none

[9529-DND] set a fixed height on dragndropcontents
  frontend/js/components/ProposalForm/ProposalFormAdminQuestions.js
  frontend/js/components/Question/QuestionAdmin.js
  frontend/js/components/Question/__snapshots__/QuestionAdmin-test.js.snap
Due: none

[9529-DND] add margin when dragndropping
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdminItem-test.js.snap
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdminList-test.js.snap
  frontend/js/components/ProposalForm/ProposalFormAdminQuestions.js
Due: none

[9529-DND] update snaphost
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdminItem-test.js.snap
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdminList-test.js.snap
Due: none

Merge pull request #9550 from cap-collectif/8765-excel-csv
  app/AppKernel.php
  composer.json
  composer.lock
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdminItem-test.js.snap
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdminList-test.js.snap
  frontend/js/components/ProposalForm/ProposalFormAdminQuestions.js
  frontend/js/components/Question/QuestionAdmin.js
  frontend/js/components/Question/__snapshots__/QuestionAdmin-test.js.snap
  infrastructure/deploylib/qa.py
  package.json
  src/Capco/AppBundle/Resources/config/services.yml
  src/Capco/AppBundle/Validator/Constraints/HasValidAddressValidator.php
  webpack/webpack.client.js
  yarn.lock
Due: php, backend

[5653-ASSETS] update config files for new assets/ path
  .flowconfig
  .gitignore
  infrastructure/services/remote/Dockerfile
  webpack/config.js
  webpack/webpack.client.js
Due: none

Merge pull request #9570 from cap-collectif/9553-delete-GraphQLToCsv-Csvwriter
  src/Capco/AppBundle/GraphQL/CsvWriter.php
  src/Capco/AppBundle/GraphQL/GraphQLToCsv.php
  src/Capco/AppBundle/Resources/config/services/utils.yml
Due: graphql, php, backend

[9039-API] Create getContributionsByConsultation method and implement it
  src/Capco/AppBundle/Enum/ContributionType.php
  src/Capco/AppBundle/GraphQL/Resolver/Consultation/ConsultationContributionsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Query/ConsultationsQueryResolver.php
  src/Capco/AppBundle/Search/ContributionSearch.php
Due: graphql, php, backend

[9039-API] Refacto ContributionSearch's methods
  src/Capco/AppBundle/GraphQL/Resolver/Consultation/ConsultationContributionsResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalConsultation.types.yaml
  src/Capco/AppBundle/Search/ContributionSearch.php
Due: graphql, php, backend

[9039-API] Fix contribution filter application
  src/Capco/AppBundle/Search/ContributionSearch.php
Due: php, backend

[9039-API] Modify ES mapping, end refacto resolver, starting to migrate consultation in preview api
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Elasticsearch/mapping.yml
  src/Capco/AppBundle/Entity/Argument.php
  src/Capco/AppBundle/Entity/Consultation.php
  src/Capco/AppBundle/Entity/Project.php
  src/Capco/AppBundle/Entity/Source.php
  src/Capco/AppBundle/GraphQL/Resolver/Consultation/ConsultationContributionsResolver.php
  src/Capco/AppBundle/Normalizer/OpinionNormalizer.php
  src/Capco/AppBundle/Normalizer/ProjectNormalizer.php
  src/Capco/AppBundle/Repository/SourceRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalConsultation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/interfaces/PreviewContribution.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewConsultation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewOpinion.types.yml
  src/Capco/AppBundle/Resources/config/serialization/Argument.yaml
  src/Capco/AppBundle/Resources/config/serialization/Consultation.yaml
  src/Capco/AppBundle/Resources/config/serialization/Opinion.yaml
  src/Capco/AppBundle/Resources/config/serialization/OpinionVersion.yaml
  src/Capco/AppBundle/Resources/config/serialization/Project.yaml
  src/Capco/AppBundle/Resources/config/serialization/Source.yaml
Due: graphql, php, backend

[9039-API] Reindent yml files
  src/Capco/AppBundle/Resources/config/serialization/Consultation.yaml
  src/Capco/AppBundle/Resources/config/serialization/Opinion.yaml
  src/Capco/AppBundle/Resources/config/serialization/OpinionVersion.yaml
  src/Capco/AppBundle/Resources/config/serialization/Project.yaml
Due: php, backend

[9039-API] Finally implement PreviewConsultation and one type of contribution
  config/packages/graphql.yaml
  schema.internal.graphql
  schema.preview.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalContribution.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalVote.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/DeleteVersionPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/RemoveOpinionVotePayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Argument.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Comment.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Follower.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalConsultation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalConsultationStep.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOpinion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalReply.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Reporting.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Section.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Source.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Version.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/relay-connection/InternalContributionConnection.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/relay-connection/OpinionConnection.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/union/OpinionOrVersion.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewConsultation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewOpinion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/relay-connection/PreviewContributionConnection.types.yml
Due: php, backend

[9039-API] Implement Argument in preview schema
  config/packages/graphql.yaml
  schema.preview.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Contribution/ConsultationTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddArgumentPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeArgumentPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/RemoveArgumentVotePayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ArgumentVote.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalArgument.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/relay-connection/ArgumentConnection.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewArgument.types.yml
Due: graphql, php, backend

[9039-API] Wati migrate Version and Source to Preview API
  config/packages/graphql.yaml
  schema.preview.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Contribution/ConsultationTypeResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Type/NodeTypeResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddSourcePayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddVersionPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeSourcePayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/ChangeVersionPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/RemoveSourceVotePayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalSource.types.yml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/Version.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/relay-connection/SourceConnection.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/relay-connection/VersionConnection.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/union/OpinionOrVersion.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewSource.types.yml
  src/Capco/AppBundle/Resources/config/graphql/preview/objects/PreviewVersion.types.yml
Due: graphql, php, backend

[9039-API] Rename Version to InternalVersion
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalVersion.types.yml
Due: php, backend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
