Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

[12235-ES] check if questionnaire is not null (#12236)
  src/Capco/AppBundle/Entity/Steps/QuestionnaireStep.php
  src/Capco/AppBundle/GraphQL/DataLoader/Step/StepContributionsDataLoader.php
Due: graphql, php

Fix GraphQL compile error (#12237)
  config/packages/graphql.yaml
  config/packages/html_purifier.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/ProposalStep.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddProposalVotePayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposal.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/relay-connection/InternalProposalVoteConnection.types.yaml
Due: php

Fix GraphQL inherits order (#12242)
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/InternalStep.types.yaml
Due: php

12235 fix indexation (#12239)
  src/Capco/AppBundle/Repository/ProposalCollectVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalSelectionVoteRepository.php
  src/Capco/AppBundle/Utils/Map.php
Due: php

A la une en Z tu connais (#12243)
  frontend/js-server/registration.js
  frontend/js/components/InteClient/WhatsNew/WhatsNew.js
  frontend/js/components/Ui/Project/ProjectCard-test.js
  frontend/js/registration.js
  frontend/js/startup/WhatsNewApp.js
  frontend/js/stories/inte-client/WhatsNew-stories.js
Due: jest, flow

[11577-FIX] fix asy,nchrone notification (#12240)
  config/rabbitmq.yaml
  infrastructure/services/local/supervisord/report.conf
  infrastructure/services/remote/supervisord/report.conf
Due: none

[FIXTIMERANGE] update hasStarted() and hasEnded() (#12248)
  src/Capco/AppBundle/Traits/TimeRangeableTrait.php
Due: php

[FIX-12178-POSTS] Fix blog post display (#12234)
  features/front/pages/blog.feature
  src/Capco/AppBundle/Controller/Site/BlogController.php
  src/Capco/AppBundle/Controller/Site/ProjectController.php
  src/Capco/AppBundle/Repository/PostRepository.php
Due: php

[DEBATE-ANONYMOUS] - 🍪 de vote (#12247)
  .eslintrc.js
  config/packages/encoders.yaml
  frontend/js/CookieMonster.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteForm.js
  frontend/js/components/Ui/Project/__snapshots__/ProjectCard-test.js.snap
  frontend/js/mutations/AddDebateAnonymousVoteMutation.js
  jest-setup.js
  schema.internal.graphql
  spec/Capco/AppBundle/Encoder/DebateAnonymousVoteTokenEncoderSpec.php
  src/Capco/AppBundle/DTO/DebateAnonymousVoteEncoderData.php
  src/Capco/AppBundle/Encoder/DebateAnonymousVoteTokenEncoder.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDebateAnonymousVote.types.yaml
Due: php, jest, flow

[DEBATE-STEP] - `isAnonymousParticipationAllowed` toggle (#12253)
  fixtures/Dev/DebateStep.yaml
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm-test.js
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.js
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminPage-test.js.snap
  frontend/js/mutations/UpdateProjectAlphaMutation.js
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Steps/DebateStep.php
  src/Capco/AppBundle/Form/Step/DebateStepFormType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/ProjectStepInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDebateStep.types.yml
  src/DoctrineMigrations/Version20210308153909.php
Due: php, jest, flow

[12078-EMAIL] email d'invitation au débat (#12206)
  config/packages/commands.yaml
  config/packages/repositories.yaml
  features/commands/debateLaunch.feature
  src/Capco/AppBundle/Command/Debate/DebateInvitationCommand.php
  src/Capco/AppBundle/Controller/Site/DebateVoteController.php
  src/Capco/AppBundle/Entity/Debate/Debate.php
  src/Capco/AppBundle/Entity/Debate/DebateVoteToken.php
  src/Capco/AppBundle/Mailer/Message/Debate/DebateLaunch.php
  src/Capco/AppBundle/Mailer/Message/Debate/DebateReminder.php
  src/Capco/AppBundle/Mailer/templates/Debate/debateLaunch.html.twig
  src/Capco/AppBundle/Manager/TokenManager.php
  src/Capco/AppBundle/Notifier/DebateNotifier.php
  src/Capco/AppBundle/Repository/Debate/DebateVoteTokenRepository.php
  src/Capco/AppBundle/Repository/DebateVoteRepository.php
  src/Capco/AppBundle/Traits/ForAgainstTrait.php
  src/Capco/UserBundle/Repository/UserRepository.php
  src/DoctrineMigrations/Version20210303111651.php
Due: php

Purge RabbitMQ between Jest e2e tests (#12250)
  features/graphql-api/_setup.js
  features/graphql-api/internal/Project/Project_viewerAssignedProposals.js
  features/graphql-api/internal/Query/Query_viewerAssignedProjectsToAnalyse.js
  features/graphql-api/internal/mutation/cropMedia.js
  features/graphql-api/internal/proposal/Proposal_responses.js
  features/graphql-api/public/Query/Query_users.js
  features/graphql-api/public/mutation/__snapshots__/deleteAccountByEmail.js.snap
  features/graphql-api/public/mutation/deleteAccountByEmail.js
  infrastructure/deploylib/qa.py
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/rabbitmq/rabbitmqadmin
  jest.config.e2e.js
  package.json
Due: none

[12139-REPLACE] Replace isStepClosed with API step state (#12249)
  frontend/js/components/Debate/ArgumentCard/ArgumentCard-test.js
  frontend/js/components/Debate/ArgumentCard/ArgumentCard.js
  frontend/js/components/Debate/ArgumentCard/__snapshots__/ArgumentCard-test.js.snap
  frontend/js/components/Debate/Page/Arguments/DebateStepPageAlternateArgumentsPagination.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArguments-test.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArgumentsPagination.js
  frontend/js/components/Debate/Page/Arguments/DesktopDebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/MobileDebateStepPageArguments.js
  frontend/js/components/Debate/Page/Arguments/__snapshots__/DebateStepPageArguments-test.js.snap
  frontend/js/components/Debate/Page/DebateStepPage.context.js
  frontend/js/components/Debate/Page/DebateStepPage.js
  frontend/js/components/Debate/Page/DebateStepPageLogic-test.js
  frontend/js/components/Debate/Page/DebateStepPageLogic.js
  frontend/js/components/Debate/Page/Drawers/DebateStepPageArgumentDrawer.js
  frontend/js/components/Debate/Page/Drawers/DebateStepPageArgumentsDrawer.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageMainActions-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageMainActions.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageMainActions-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVoteAndShare-test.js.snap
  frontend/js/components/Debate/Page/__snapshots__/DebateStepPageLogic-test.js.snap
  frontend/js/components/Ui/Project/ProjectCard-test.js
  frontend/js/components/Ui/Vote/VoteView-test.js
  frontend/js/components/Ui/Vote/VoteView.js
  frontend/js/components/Ui/Vote/__snapshots__/VoteView-test.js.snap
Due: jest, flow

fix fb button and debate arguments (#12251)
  frontend/js/components/Debate/Page/Arguments/DebateStepPageArguments.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteForm.js
  frontend/js/mutations/AddDebateArgumentMutation.js
Due: jest, flow

Change deploy destination (#12266)
  frontend/js/stories/core/Tag-stories.js
Due: jest, flow

Add createdAt to responses (#12263)
  features/graphql-api/public/MultipleChoiceQuestion/__snapshots__/MultipleChoiceQuestion_responses.js.snap
  features/graphql-api/public/SimpleQuestion/__snapshots__/SimpleQuestion_responses.js.snap
  fixtures/Dev/ValueResponse.yaml
Due: none

Setup anonymous participation front (#12264)
  frontend/js/components/Debate/Page/MainActions/DebateStepPageAbsoluteVoteAndShare-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageAbsoluteVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageAbsoluteVoteAndShare-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVote-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVoteAndShare-test.js.snap
  frontend/js/config.js
  frontend/js/services/LocalStorageService.js
Due: jest, flow

fix project card retours (#12267)
  frontend/js/components/Project/List/ProjectListViewPaginated.js
  frontend/js/components/Ui/Project/ProjectCard.js
  frontend/js/components/Ui/Project/__snapshots__/ProjectCard-test.js.snap
  src/Capco/AppBundle/Resources/views/Homepage/lastProjects.html.twig
Due: php, jest, flow

[12188-EVENT] fix close modal after registration to event (#12262)
  frontend/js/components/Event/ModalEventRegister/ModalEventRegister.js
  frontend/js/components/Event/RegisterForm/RegisterForm-test.js
  frontend/js/components/Event/RegisterForm/RegisterForm.js
Due: jest, flow

[DIRTYFIX-REDIRECTION] Dirty fix to unlock all deployments. (#12270)
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/redirectionio/run
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/redirectionio/run
Due: none

Retours Débat (#12269)
  frontend/js/components/Debate/Page/Drawers/DebateStepPageArgumentDrawer.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteForm.js
  frontend/js/components/Debate/Page/Modals/MobilePublishArgumentModal.js
  frontend/js/components/DesignSystem/Modal/Modal.js
  package.json
Due: jest, flow

[INFRA-PURPOZ] Try to add rabbitmq external server. (#12241)
  config/services.yaml
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/elasticsearch/run
  infrastructure/services/remote/mysql/run
  infrastructure/services/remote/php-fpm/run
  infrastructure/services/remote/rabbitmq/run
  infrastructure/services/remote/redis/run
Due: none

[FIX-FRANCE] update config for FC (#12023)
  features/sso/france_connect.feature
  frontend/js/components/Ui/Button/LoginSocialButton.js
  frontend/js/components/Ui/Button/__snapshots__/LoginSocialButton-test.js.snap
  frontend/js/components/Ui/Icons/Icon.js
  frontend/js/components/Ui/Icons/index.js
  frontend/js/components/Ui/Icons/svg/franceconnect-bouton-hover.svg
  frontend/js/components/User/Profile/AccountForm.js
  frontend/js/components/User/Profile/ChangePasswordForm-test.js
  frontend/js/components/User/Profile/ChangePasswordForm.js
  frontend/js/components/User/Profile/EditProfileTabs.js
  frontend/js/components/User/Profile/__snapshots__/AccountForm-test.js.snap
  frontend/js/components/User/Profile/__snapshots__/ChangePasswordForm-test.js.snap
  frontend/js/components/User/Profile/__snapshots__/EditProfileTabs-test.js.snap
  infrastructure/services/local/nginx/nginx.conf
  infrastructure/services/remote/nginx/nginx.conf
  infrastructure/services/remotev2/Dockerfile
  infrastructure/services/remotev2/nginx/nginx.conf
  src/Capco/AppBundle/Entity/SSO/FranceConnectSSOConfiguration.php
  src/Capco/AppBundle/GraphQL/Mutation/BaseDeleteUserMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateProfileAccountEmailMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/SSO/FranceConnectRedirectUriResolver.php
  src/Capco/UserBundle/Authenticator/SimplePreAuthenticator.php
  src/Capco/UserBundle/FranceConnect/FranceConnectResourceOwner.php
  src/Capco/UserBundle/Repository/UserRepository.php
  src/Capco/UserBundle/Resources/config/doctrine/User.orm.xml
  src/Capco/UserBundle/Security/Core/User/OauthUserProvider.php
  src/DoctrineMigrations/Version20210301160105.php
Due: graphql, php, jest, flow

[FIX-FRANCE] rename migration (#12275)
  src/DoctrineMigrations/Version20210311120105.php
Due: php

Revert "[DIRTYFIX-REDIRECTION] Dirty fix to unlock all deployments. (#12270)" (#12272)
  infrastructure/services/local/Dockerfile
  infrastructure/services/local/redirectionio/run
  infrastructure/services/remote/Dockerfile
  infrastructure/services/remote/redirectionio/run
Due: none

[12246-REGISTRATION] set value to shield text in fixture (#12252)
  fixtures/Prod/SiteParameterTranslation.yaml
  src/Capco/AppBundle/GraphQL/Mutation/UpdateShieldAdminFormMutation.php
  src/DoctrineMigrations/Version20210310113909.php
Due: graphql, php

[11577-FIX] fix moderation links for debate argument (#12265)
  src/Capco/AppBundle/Controller/Site/ModerationController.php
  src/Capco/AppBundle/GraphQL/Resolver/GlobalIdResolver.php
Due: graphql, php

Debate anonymous delete vote (#12274)
  config/packages/validators.yaml
  features/graphql-api/internal/mutation/Debate/__snapshots__/removeAnonymousDebateVote.js.snap
  features/graphql-api/internal/mutation/Debate/removeAnonymousDebateVote.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteForm.js
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVoteForm-test.js.snap
  schema.internal.graphql
  spec/Capco/AppBundle/Encoder/DebateAnonymousVoteHashEncoderSpec.php
  spec/Capco/AppBundle/GraphQL/Mutation/Debate/RemoveDebateAnonymousVoteMutationSpec.php
  src/Capco/AppBundle/DTO/DebateAnonymousVoteHashData.php
  src/Capco/AppBundle/Encoder/DebateAnonymousVoteHashEncoder.php
  src/Capco/AppBundle/GraphQL/Mutation/Debate/RemoveDebateAnonymousVoteMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/RemoveDebateAnonymousVoteErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/debate/RemoveDebateAnonymousVoteInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/debate/RemoveDebateAnonymousVotePayload.types.yaml
  src/Capco/AppBundle/Validator/Constraints/CheckDebateAnonymousVoteHashConstraint.php
  src/Capco/AppBundle/Validator/Constraints/CheckDebateAnonymousVoteHashValidator.php
Due: graphql, php, jest, flow

mobile whatnew (#12278)
  frontend/js/components/InteClient/WhatsNew/WhatsNew.js
  frontend/js/components/Ui/Primitives/AppBox.type.js
Due: jest, flow

Fix benchmark fixtures (#12276)
  config/packages/dev/services.yaml
  config/packages/framework.yaml
  fixtures/Benchmark/CollectStep.yaml
  fixtures/Benchmark/CommentVote.yaml
  fixtures/Benchmark/ConsultationStep.yaml
  fixtures/Benchmark/DistrictTranslation.yaml
  fixtures/Benchmark/Follower.yaml
  fixtures/Benchmark/MultipleChoiceQuestion.yaml
  fixtures/Benchmark/OfficialResponse.yaml
  fixtures/Benchmark/Opinion.yaml
  fixtures/Benchmark/OpinionType.yaml
  fixtures/Benchmark/Post.yaml
  fixtures/Benchmark/Project.yaml
  fixtures/Benchmark/ProjectAbstractStep.yaml
  fixtures/Benchmark/ProjectAuthor.yaml
  fixtures/Benchmark/Proposal.yaml
  fixtures/Benchmark/ProposalCollectVote.yaml
  fixtures/Benchmark/ProposalDistrict.yaml
  fixtures/Benchmark/ProposalForm.yaml
  fixtures/Benchmark/ProposalFormNotificationConfiguration.yaml
  fixtures/Benchmark/QuestionChoice.yaml
  fixtures/Benchmark/Questionnaire.yaml
  fixtures/Benchmark/QuestionnaireAbstractQuestion.yaml
  fixtures/Benchmark/QuestionnaireStep.yaml
  fixtures/Benchmark/Reply.yaml
  fixtures/Benchmark/Response.yaml
  fixtures/Benchmark/SelectionStep.yaml
  fixtures/Benchmark/SiteParameter.yaml
  fixtures/Benchmark/SiteParameterTranslation.yaml
  fixtures/Benchmark/Source.yaml
  fixtures/Benchmark/SourceCategoryTranslation.yaml
  fixtures/Benchmark/Theme.yaml
  fixtures/Benchmark/ThemeTranslation.yaml
  fixtures/Benchmark/User.yaml
  src/Capco/AppBundle/DataFixtures/ORM/CustomOrderFilesLocator.php
Due: php

[12158-WYSIWYG] add wysiwyg to debate app (#12191)
  features/graphql-api/internal/mutation/createAlphaProject.js
  features/graphql-api/internal/mutation/updateAlphaProject.js
  frontend/js/components/Admin/Project/Form/ProjectAdminForm.js
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.js
  frontend/js/components/Admin/Project/Step/__snapshots__/ProjectAdminStepForm-test.js.snap
  frontend/js/components/Admin/Project/Steps/ProjectStepAdminItem-test.js
  frontend/js/components/Admin/Project/Steps/ProjectStepAdminItemStep-test.js
  frontend/js/components/Admin/Project/Steps/ProjectStepAdminItemStep.js
  frontend/js/components/Admin/Project/Steps/ProjectStepAdminList-test.js
  frontend/js/components/Admin/Project/Steps/ProjectStepAdminList.js
  frontend/js/components/Admin/Project/Steps/__snapshots__/ProjectStepAdminItemStep-test.js.snap
  frontend/js/components/Admin/Project/__snapshots__/ProjectAdminPage-test.js.snap
  frontend/js/components/Debate/Page/DebateStepPageLogic.js
  frontend/js/components/Debate/Page/__snapshots__/DebateStepPageLogic-test.js.snap
  frontend/js/mutations/UpdateProjectAlphaMutation.js
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Steps/DebateStep.php
  src/Capco/AppBundle/Enum/DebateType.php
  src/Capco/AppBundle/Form/Step/DebateStepFormType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/DebateType.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/ProjectStepInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDebateStep.types.yml
  src/DoctrineMigrations/Version20210311105052.php
Due: php, jest, flow

fix migration (#12285)
  src/DoctrineMigrations/Version20210312095725.php
Due: php

[12116] Rework vote (#12277)
  frontend/js/components/Debate/Page/Arguments/DebateStepPageAlternateArgumentsPagination.js
  frontend/js/components/Debate/Page/Arguments/ModalEditArgumentMobile.js
  frontend/js/components/Debate/Page/DebateStepPageLogic.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageAbsoluteVoteAndShare-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageAbsoluteVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageMainActions-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageMainActions.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVote.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteAndShare.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteForm-test.js
  frontend/js/components/Debate/Page/MainActions/DebateStepPageVoteForm.js
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageAbsoluteVoteAndShare-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageMainActions-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVote-test.js.snap
  frontend/js/components/Debate/Page/MainActions/__snapshots__/DebateStepPageVoteForm-test.js.snap
  frontend/js/components/Debate/Page/Modals/MobilePublishArgumentModal.js
  frontend/js/components/Debate/Page/Modals/ModalDeleteVoteMobile.js
  frontend/js/components/Debate/Page/__snapshots__/DebateStepPageLogic-test.js.snap
  frontend/js/mutations/AddDebateArgumentMutation.js
  frontend/js/mutations/AddDebateVoteMutation.js
  frontend/js/mutations/RemoveDebateVoteAlternateArgumentMutation.js
  frontend/js/mutations/RemoveDebateVoteMutation.js
Due: jest, flow

[FIX-DEBATE-COUNTERS] Enable export for debate step (#12294)
  __snapshots__/exports/budget-participatif-idf_etudes-des-projets.csv
  __snapshots__/exports/budget-participatif-rennes_selection.csv
  __snapshots__/exports/food-project_questionnaire-food.csv
  __snapshots__/exports/participants_debat-du-mois.csv
  __snapshots__/exports/participants_debat-du-mois_pour-ou-contre-le-reconfinement.csv
  __snapshots__/exports/participants_debat-sur-le-cannabis.csv
  __snapshots__/exports/participants_debat-sur-le-cannabis_pour-ou-contre-la-legalisation-du-cannabis.csv
  __snapshots__/exports/participants_debat-sur-loculus-quest_pour-ou-contre-offrir-un-oculus-quest.csv
  __snapshots__/exports/participants_food-project.csv
  __snapshots__/exports/sauvons-nos-cafes_soutenons-nos-bistros-et-cafes-dans-cette-periode-difficile.csv
  features/graphql-api/internal/DebateStep/DebateStep_contributors.js
  features/graphql-api/internal/DebateStep/__snapshots__/DebateStep_contributors.js.snap
  schema.internal.graphql
  src/Capco/AppBundle/Command/CreateStepContributorsCommand.php
  src/Capco/AppBundle/Entity/Steps/DebateStep.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalDebateStep.types.yml
Due: php

[12198] Argument like for not confirmed (#12288)
  frontend/js/components/Argument/DebateArgumentItem.js
  frontend/js/components/Debate/ArgumentCard/ArgumentCard-test.js
  frontend/js/components/Debate/ArgumentCard/ArgumentCard.js
  frontend/js/components/Debate/ArgumentCard/__snapshots__/ArgumentCard-test.js.snap
  frontend/js/components/Debate/Page/DebateStepPageLogic.js
  frontend/js/components/Debate/Page/Drawers/DebateStepPageArgumentDrawer.js
  frontend/js/components/Debate/Page/__snapshots__/DebateStepPageLogic-test.js.snap
  frontend/js/mutations/AddDebateArgumentVoteMutation.js
  frontend/js/mutations/RemoveDebateArgumentVoteMutation.js
Due: jest, flow

[12246-FIX] fix migration (#12291)
  src/DoctrineMigrations/Version20210312153909.php
Due: php
