Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

[8054-REFACTO] - Made working Requirements collection type with re-ordering 🎉
  src/Capco/AppBundle/Form/Step/AbstractStepType.php
Due: php, backend

[8054-REFACTO] - Fix when creating step: requirements correctly persisted
  src/Capco/AppBundle/Form/Step/AbstractStepType.php
Due: php, backend

[8054-REFACTO] - Support for step re-ordering / deletion / addition with sub requirements field 🥰 - Added a Diff helper to diff two collections to detect what to delete
  src/Capco/AppBundle/Form/Persister/ProjectPersister.php
  src/Capco/AppBundle/Form/Persister/StepProjectAbstractStepPersister.php
  src/Capco/AppBundle/Form/Step/AbstractStepType.php
  src/Capco/AppBundle/Utils/Diff.php
Due: php, backend

[8054-REFACTO] - Renamed GraphQL files types from *.yml to *.yaml after rebase
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ConcreteStepType.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/RequirementType.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/ProjectStepInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/StepRequirementInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateAlphaProjectInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateAlphaProjectPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateAlphaProjectInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateAlphaProjectPayload.types.yaml
Due: php, backend

[8054-REFACTO] - Renamed method `fromCollections` to `fromCollectionsWithId`
  src/Capco/AppBundle/Form/Persister/StepProjectAbstractStepPersister.php
  src/Capco/AppBundle/Form/Step/AbstractStepType.php
  src/Capco/AppBundle/Utils/Diff.php
Due: php, backend

[8054-REFACTO] - Added support for PresentationStep
  src/Capco/AppBundle/Form/Persister/ProjectPersister.php
  src/Capco/AppBundle/Form/Persister/ProjectStepPersister.php
  src/Capco/AppBundle/Form/Step/PresentationStepType.php
Due: php, backend

[8054-REFACTO] - Added support for ConsultationStep
  schema.internal.graphql
  src/Capco/AppBundle/Form/Persister/ProjectStepPersister.php
  src/Capco/AppBundle/Form/Step/AbstractStepFormType.php
  src/Capco/AppBundle/Form/Step/ConsultationStepFormType.php
  src/Capco/AppBundle/Form/Step/OtherStepFormType.php
  src/Capco/AppBundle/Form/Step/PresentationStepFormType.php
  src/Capco/AppBundle/Form/Type/RelayGlobalIdType.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectStepsResolver.php
  src/Capco/AppBundle/Repository/ProjectAbstractStepRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/ProjectStepInput.types.yaml
Due: graphql, php, backend

[8054-REFACTO] - Added support for consultations re-ordering in `ConsultationStepFormType`
  src/Capco/AppBundle/Form/Step/ConsultationStepFormType.php
Due: php, backend

[8054-REFACTO] - Added support for `RankingStep`
  src/Capco/AppBundle/Form/Persister/ProjectStepPersister.php
  src/Capco/AppBundle/Form/Step/RankingStepFormType.php
Due: php, backend

[8054-REFACTO] - Created a `OrderedCollectionType` type 🥰🎉
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Steps/SelectionStep.php
  src/Capco/AppBundle/Enum/ProposalSort.php
  src/Capco/AppBundle/Form/Persister/ProjectStepPersister.php
  src/Capco/AppBundle/Form/StatusFormType.php
  src/Capco/AppBundle/Form/Step/AbstractStepFormType.php
  src/Capco/AppBundle/Form/Step/SelectionStepFormType.php
  src/Capco/AppBundle/Form/Type/OrderedCollectionType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/ProposalSort.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/ProjectStepInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/StepStatusInput.types.yaml
Due: php, backend

[8054-REFACTO] - Added support for CollectStep
  schema.internal.graphql
  src/Capco/AppBundle/Entity/Steps/CollectStep.php
  src/Capco/AppBundle/Form/Persister/ProjectStepPersister.php
  src/Capco/AppBundle/Form/Step/CollectStepFormType.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/StepStatusesResolver.php
  src/Capco/AppBundle/Repository/AbstractStepRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/ProjectStepInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/interfaces/ProposalStep.types.yaml
Due: graphql, php, backend

[8054-REFACTO] - Fixed typo
  src/Capco/AppBundle/Form/Type/OrderedCollectionType.php
Due: php, backend

[8054-REFACTO] - Added missing fields for Participative steps
  src/Capco/AppBundle/Form/Step/AbstractStepFormType.php
  src/Capco/AppBundle/Form/Step/ConsultationStepFormType.php
Due: php, backend

[8054-REFACTO] - Added support for QuestionnaireStep
  schema.internal.graphql
  src/Capco/AppBundle/Form/Persister/ProjectStepPersister.php
  src/Capco/AppBundle/Form/Step/QuestionnaireStepFormType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/ProjectStepInput.types.yaml
Due: php, backend

[8054-REFACTO] - Added support for SynthesisStep
  schema.internal.graphql
  src/Capco/AppBundle/Form/Persister/ProjectStepPersister.php
  src/Capco/AppBundle/Form/Step/SynthesisStepFormType.php
  src/Capco/AppBundle/Resources/config/graphql/internal/input-object/ProjectStepInput.types.yaml
Due: php, backend

[8054-REFACTO] - Added PHPspecs test for Diff utils class
  spec/Capco/AppBundle/Utils/DiffSpec.php
  src/Capco/AppBundle/Utils/Diff.php
Due: php, backend

[8054-REFACTO] - Added beginning of `createAlphaProject` testsuite
  features/graphql-public/mutation/__snapshots__/createAlphaProject.js.snap
  features/graphql-public/mutation/createAlphaProject.js
Due: none

[8054-REFACTO] - Added simple test cases of createAlphaProject
  features/graphql-public/mutation/__snapshots__/createAlphaProject.js.snap
  features/graphql-public/mutation/createAlphaProject.js
Due: none

[8054-REFACTO] - Fixed `OrderedCollectionType` propertyAccessor
  src/Capco/AppBundle/Form/Type/OrderedCollectionType.php
Due: php, backend

[8054-REFACTO] - 🔥🔥 FINALLY FIXED WEIRD BUG WHEN DELETING COLLECT STEP 🔥🔥
  src/Capco/AppBundle/Form/Persister/ProjectPersister.php
  src/Capco/AppBundle/Form/Type/OrderedCollectionType.php
Due: php, backend

[8054-REFACTO] - Added more test cases for createAlphaProject mutation
  features/graphql-public/mutation/__snapshots__/createAlphaProject.js.snap
  features/graphql-public/mutation/createAlphaProject.js
Due: none

[8054-REFACTO] - Added a _setup file for jest mutations
  features/graphql-public/mutation/__snapshots__/updateAlphaProject.js.snap
  features/graphql-public/mutation/_setup.js
  features/graphql-public/mutation/createAlphaProject.js
  features/graphql-public/mutation/updateAlphaProject.js
  infrastructure/deploylib/environments.py
  infrastructure/deploylib/qa.py
Due: none

[8054-REFACTO] - Saving ES index and restore it after e2e jest test suite
  features/graphql-public/mutation/_setup.js
  features/graphql-public/mutation/createAlphaProject.js
  infrastructure/deploylib/qa.py
Due: none

[8054-REFACTO] - Added more testcases and fixed `save_db` task
  features/graphql-api/internal/mutation/__snapshots__/createAlphaProject.js.snap
  features/graphql-api/internal/mutation/__snapshots__/updateAlphaProject.js.snap
  features/graphql-api/internal/mutation/_setup.js
  features/graphql-api/internal/mutation/createAlphaProject.js
  features/graphql-api/internal/mutation/updateAlphaProject.js
  infrastructure/deploylib/qa.py
Due: none

[8054-REFACTO] - Added _setup.js file to excluded files pattern
  jest.config.e2e.js
Due: none

[8054-REFACTO] - Moved consultations e2e tests after rebase
  features/graphql-api/public/Consultation/Consultation_contributions.js
  features/graphql-api/public/Consultation/__snapshots__/Consultation_contributions.js.snap
Due: none

[8054-REFACTO] - Added propertyMatchers for updateAlphaProject tests
  features/graphql-api/internal/mutation/__snapshots__/updateAlphaProject.js.snap
  features/graphql-api/internal/mutation/updateAlphaProject.js
  spec/Capco/AppBundle/Utils/DiffSpec.php
Due: none

[8054-REFACTO] - Added correct expect behaviours for `updateAlphaProject`
  features/graphql-api/internal/mutation/updateAlphaProject.js
Due: none

[8054-REFACTO] - Added propertyMatchers to `createAlphaProject`
  features/graphql-api/internal/mutation/__snapshots__/createAlphaProject.js.snap
  features/graphql-api/internal/mutation/createAlphaProject.js
Due: none

Merge pull request #9590 from cap-collectif/csv-option
  app/Resources/scss/style-admin.scss
  config/packages/sonata.yaml
  frontend/js-server/registration.js
  frontend/js/components/Admin/RegistrationAdminPage.js
  frontend/js/components/Admin/RightNavbar/AdminRightNavbar.js
  frontend/js/components/Project/Authors/__snapshots__/ProjectHeaderAuthorsModal-test.js.snap
  frontend/js/components/Ui/BackOffice/UserBlockProfile-test.js
  frontend/js/components/Ui/BackOffice/UserBlockProfile.js
  frontend/js/components/Ui/BackOffice/__snapshots__/UserBlockProfile-test.js.snap
  frontend/js/components/Ui/Button/SiteLanguageChangeButton.js
  frontend/js/components/Ui/Button/__snapshots__/SiteLanguageChangeButton-test.js.snap
  frontend/js/components/Ui/Icons/IconLinkBar-test.js
  frontend/js/components/Ui/Icons/IconLinkBar.js
  frontend/js/components/Ui/Icons/PowerButtonIcon-test.js
  frontend/js/components/Ui/Icons/PowerButtonIcon.js
  frontend/js/components/Ui/Icons/ProfileNeutralIcon-test.js
  frontend/js/components/Ui/Icons/ProfileNeutralIcon.js
  frontend/js/components/Ui/Icons/__snapshots__/IconLinkBar-test.js.snap
  frontend/js/components/Ui/Icons/__snapshots__/PowerButtonIcon-test.js.snap
  frontend/js/components/Ui/Icons/__snapshots__/ProfileNeutralIcon-test.js.snap
  frontend/js/components/User/__snapshots__/UserAvatarList-test.js.snap
  frontend/js/redux/modules/default.js
  frontend/js/registration.js
  frontend/js/startup/AdminRightNavbarApp.js
  frontend/js/stories/back-office/UserBlockProfile-stories.js
  frontend/js/stories/core/icons/IconLinkBar-stories.js
  frontend/js/types.js
  schema.internal.graphql
  src/Capco/AdminBundle/Resolver/FeaturesCategoryResolver.php
  src/Capco/AdminBundle/Resources/views/standard_layout.html.twig
  src/Capco/AppBundle/GraphQL/Resolver/User/UserAdminUrlResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalUser.types.yaml
  src/Capco/UserBundle/Resources/views/Admin/Core/user_block.html.twig
Due: graphql, php, backend

[5956-CONFIRM] Fixing switching date and confirm
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
Due: php, backend

[5956-CONFIRM] Using option instead of param option and fix
  __snapshots__/exports/users.csv
  src/Capco/AppBundle/Command/BaseExportCommand.php
  src/Capco/AppBundle/Command/ComputeDiffCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromEventParticipantsCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromEventsCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromProjectsContributorsCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromQuestionnaireCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
  src/Capco/AppBundle/Command/CreateStepContributorsCommand.php
  src/Capco/AppBundle/Command/CreateUserAccountsFromCSVCommand.php
  src/Capco/AppBundle/Command/CreateUsersFromCsvCommand.php
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
  src/Capco/AppBundle/Command/ImportProposalsFromCsvCommand.php
Due: php, backend

[5956-CONFIRM] Fixing import
  features/commands/import.feature
  src/Capco/AppBundle/Command/CreateUserAccountsFromCSVCommand.php
  src/Capco/AppBundle/Command/CreateUsersFromCsvCommand.php
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
  src/Capco/AppBundle/Command/ImportProposalsFromCsvCommand.php
Due: php, backend

[9391-FIX] try to fix issues
  __snapshots__/exports/users.csv
  features/commands/import.feature
  src/Capco/AppBundle/Command/BaseExportCommand.php
  src/Capco/AppBundle/Command/ComputeDiffCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromEventParticipantsCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromEventsCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromProjectsContributorsCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromQuestionnaireCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
  src/Capco/AppBundle/Command/CreateStepContributorsCommand.php
  src/Capco/AppBundle/Command/CreateUserAccountsFromCSVCommand.php
  src/Capco/AppBundle/Command/CreateUsersFromCsvCommand.php
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
  src/Capco/AppBundle/Command/ImportProposalsFromCsvCommand.php
  src/Capco/AppBundle/Entity/Opinion.php
Due: php, backend

Merge pull request #9616 from cap-collectif/5956-confirm-user-date
  __snapshots__/exports/users.csv
  features/commands/import.feature
  src/Capco/AppBundle/Command/BaseExportCommand.php
  src/Capco/AppBundle/Command/ComputeDiffCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromEventParticipantsCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromEventsCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromProjectsContributorsCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromQuestionnaireCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
  src/Capco/AppBundle/Command/CreateStepContributorsCommand.php
  src/Capco/AppBundle/Command/CreateUserAccountsFromCSVCommand.php
  src/Capco/AppBundle/Command/CreateUsersFromCsvCommand.php
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
  src/Capco/AppBundle/Command/ImportProposalsFromCsvCommand.php
  src/Capco/AppBundle/Entity/Opinion.php
Due: php, backend

[9387-FIX] set openId accessToken nullable
  __snapshots__/exports/users.csv
  features/commands/import.feature
  src/Capco/AppBundle/Command/BaseExportCommand.php
  src/Capco/AppBundle/Command/ComputeDiffCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromConsultationStepCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromEventParticipantsCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromEventsCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromProjectsContributorsCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromProposalStepCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromQuestionnaireCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUserCommand.php
  src/Capco/AppBundle/Command/CreateCsvFromUsersCommand.php
  src/Capco/AppBundle/Command/CreateStepContributorsCommand.php
  src/Capco/AppBundle/Command/CreateUserAccountsFromCSVCommand.php
  src/Capco/AppBundle/Command/CreateUsersFromCsvCommand.php
  src/Capco/AppBundle/Command/ImportConsultationFromCsvCommand.php
  src/Capco/AppBundle/Command/ImportProposalsFromCsvCommand.php
  src/Capco/UserBundle/Entity/User.php
Due: php, backend

[9386-FIX] fix
  src/Capco/UserBundle/Entity/User.php
  src/Capco/UserBundle/OpenID/ExtraMapper/OccitanieExtraMapper.php
Due: php, backend

[9258-FIX] delete dead code and fix somethings
  src/Capco/AppBundle/Resolver/UrlResolver.php
  src/Capco/UserBundle/OpenID/ExtraMapper/OccitanieExtraMapper.php
Due: php, backend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
