Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

14840 orga articles voter (#14876)
  features/graphql-api/internal/mutation/createPost.js
  features/graphql-api/internal/mutation/deletePost.js
  features/graphql-api/internal/user/Viewer_posts.js
  features/graphql-api/public/Query/__snapshots__/Query_posts.js.snap
  fixtures/Dev/Post.yaml
  fixtures/Dev/PostTranslation.yaml
  jest-setup.e2e.js
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/CreatePostMutationSpec.php
  spec/Capco/AppBundle/Security/CanSetOwnerSpec.php
  spec/Capco/AppBundle/Security/PostVoterSpec.php
  src/Capco/AppBundle/Entity/Post.php
  src/Capco/AppBundle/Form/Persister/ProjectPersister.php
  src/Capco/AppBundle/GraphQL/Mutation/CreatePostMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/CreateProjectMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/User/PostOwnerTypeResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/CreatePostErrorCode.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreatePostInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOrganization.types.yaml
  src/Capco/AppBundle/Security/AbstractOwnerableVoter.php
  src/Capco/AppBundle/Security/CanSetOwner.php
  src/Capco/AppBundle/Security/PostVoter.php
  src/Capco/AppBundle/Security/ProjectVoter.php
Due: graphql, php

add text/rtf and application/zip to allowed mime types (#14908)
  config/packages/sonata.yaml
  src/Capco/AppBundle/Controller/Api/MediasController.php
Due: php

SettableOwnerResolver (#14912)
  spec/Capco/AppBundle/GraphQL/Mutation/CreatePostMutationSpec.php
  spec/Capco/AppBundle/Resolver/SettableOwnerResolverSpec.php
  src/Capco/AppBundle/Form/Persister/ProjectPersister.php
  src/Capco/AppBundle/GraphQL/Mutation/CreatePostMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/CreateProjectMutation.php
  src/Capco/AppBundle/Resolver/SettableOwnerResolver.php
Due: graphql, php

[IMPROVE] Improve search proposal (#14916)
  frontend/js/components/Proposal/List/ProposalListSearch.js
  frontend/js/components/Proposal/List/__snapshots__/ProposalListSearch-test.js.snap
  frontend/js/components/Ui/Form/Input/ClearableInput/index.js
Due: jest, flow

[14701-APIPROJECTAUTHORES] index organization (#14882)
  src/Capco/AppBundle/Command/ExportDebateCommand.php
  src/Capco/AppBundle/Elasticsearch/mapping.yaml
  src/Capco/AppBundle/Entity/Organization/Organization.php
  src/Capco/AppBundle/GraphQL/Resolver/User/ProjectOwnerTypeResolver.php
  src/Capco/AppBundle/Normalizer/OrganizationNormalizer.php
  src/Capco/AppBundle/Repository/Organization/OrganizationRepository.php
  src/Capco/AppBundle/Resources/config/serialization/Organization.yaml
Due: graphql, php

Skip browser update on CI and fix e2e-sso (#14927)
  config/services.yaml
  features/front/features/project.feature
  features/front/pages/rgpd.feature
  features/front/sso/auth.feature
  features/front/user/login.feature
  features/front/user/registration.feature
  frontend/js/browserUpdate.js
  infrastructure/environments/testing.yml
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Behat/Traits/OpenidConnectTrait.php
  src/Capco/AppBundle/Behat/UserContext.php
  src/Capco/AppBundle/Resources/views/partials/_outdated_browser.html.twig
Due: php, jest, flow

reindex civicIaAnalyzable on update (#14920)
  spec/Capco/AppBundle/CivicIA/CivicIAMassUpdaterSpec.php
  src/Capco/AppBundle/CivicIA/CivicIAMassUpdater.php
Due: php

Page créer zone géo (#14729)
  admin-next/components/GeographicalArea/GeographicalAreaForm.tsx
  admin-next/components/GeographicalArea/GeographicalAreaMap.tsx
  admin-next/components/GeographicalAreasList/GeographicalAreaDeleteModal.tsx
  admin-next/components/GeographicalAreasList/GeographicalAreasEmptyPage.tsx
  admin-next/components/GeographicalAreasList/GeographicalAreasList.tsx
  admin-next/hooks/useMapTokens.ts
  admin-next/mutations/CreateProjectDistrictMutation.ts
  admin-next/mutations/UpdateProjectDistrictMutation.tsx
  admin-next/pages/geographicalArea.tsx
  admin-next/utils/leaflet.tsx
  admin-next/utils/locale-helper.ts
  package.json
  yarn.lock
Due: none

[IMPORT-IDF] add somes logs (#14953)
  src/Capco/AppBundle/Command/ImportIDFProposalsFromCsvCommand.php
  src/Capco/AppBundle/Import/ImportProposalsFromCsv.php
Due: php

fix event visibility when created by project owner (#14954)
  __snapshots__/exports/events.csv
  features/graphql-api/public/Query/__snapshots__/Query_events.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_events_review.js.snap
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
Due: graphql, php

14890 fix votes access (#14901)
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/DataLoader/Step/StepVotesCountDataLoader.php
  src/Capco/AppBundle/Repository/ProposalCollectSmsVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalCollectVoteRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/RemoveProposalSmsVotePayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProposalSmsVote.types.yaml
  src/Capco/AppBundle/Traits/ProposalCollectVoteRepositoryTrait.php
Due: graphql, php

fix leaflet core version (#14958)
  package.json
  yarn.lock
Due: none

[IMPORT-IDF] fix linkedIn check value (#14957)
  features/commands/import.feature
  features/graphql-api/internal/mutation/Proposal/__snapshots__/addProposalsFromCsv.js.snap
  src/Capco/AppBundle/Validator/Constraints/IsSocialNetworkUrlValidator.php
Due: php

Fix clean install for deploylib (#14755)
  infrastructure/deploylib/app.py
  infrastructure/deploylib/ci/system.py
  infrastructure/deploylib/environments.py
  infrastructure/deploylib/local/app.py
  infrastructure/deploylib/local/system.py
  infrastructure/deploylib/system.py
  infrastructure/proxy.pac
Due: none

Try to fix spa with multiple questionnaires in a single step (#14759)
  frontend/js/components/Form/RenderResponses.js
  frontend/js/components/Reply/Form/ReplyForm.js
  frontend/js/components/Reply/Form/__snapshots__/ReplyForm-test.js.snap
  frontend/js/utils/form/formatResponses.js
  frontend/js/utils/questionsCacheKey.js
Due: jest, flow

[IMPORT-IDF] refacto import users (#14961)
  features/commands/import.feature
  src/Capco/AppBundle/Command/AbstractImportCsvCommand.php
  src/Capco/AppBundle/Command/CreateIDFUsersFromCsvCommand.php
  src/Capco/AppBundle/Command/CreateUsersFromCsvCommand.php
Due: php

Add `organizations` to type Query & `members` to Organization (#14951)
  features/graphql/query/node.feature
  features/graphql/query/organizations.feature
  features/graphql/type/organization/organization_members.feature
  fixtures/Dev/Organization.yaml
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/Repository/Organization/OrganizationRepositorySpec.php
  src/Capco/AppBundle/Enum/OrganizationAffiliation.php
  src/Capco/AppBundle/GraphQL/Resolver/Organization/OrganizationMembersResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Organization/OrganizationsResolver.php
  src/Capco/AppBundle/Repository/Organization/OrganizationRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalQuery.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/OrganizationAffiliation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOrganization.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/OrganizationMember.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/relay-connection/OrganizationConnection.types.yaml
Due: graphql, php

Implement `addOrganization` for admins (#14970)
  features/graphql/mutation/addOrganization.feature
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/AddOrganizationMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddOrganizationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/AddOrganizationPayload.types.yaml
Due: graphql, php

Fix zoom on leaflet map w popups (#14973)
  frontend/js/components/Proposal/Map/Map.types.js
  frontend/js/components/Proposal/Map/ProposalLeafletMap.js
Due: jest, flow

creator api (#14963)
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Resolver/Organization/OrganizationAdminAccessResolverSpec.php
  spec/Capco/AppBundle/GraphQL/Resolver/Ownerable/OwnerableCreatorAccessResolverSpec.php
  src/Capco/AppBundle/GraphQL/Resolver/Organization/OrganizationAdminAccessResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Ownerable/OwnerableCreatorAccessResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/decorator/InternalOwnerable.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/EmailingCampaign.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalEvent.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalPost.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalProject.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalQuestionnaire.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/MailingList.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/ProposalForm.types.yaml
Due: graphql, php

expose isAdminOrganization (#14976)
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
  src/Capco/UserBundle/Entity/User.php
Due: php

[14932-REDHATSSO] depreciate OpenAm for Paris (#14942)
  admin-next/components/Authentication/SSOList/Paris/CardParis.tsx
  spec/Capco/UserBundle/MonCompteParis/OpenAmClientSpec.php
  spec/Capco/UserBundle/Security/Core/User/MonCompteParisUserProviderSpec.php
  spec/Capco/UserBundle/Security/Core/User/OauthUserProviderSpec.php
  src/Capco/AppBundle/EventListener/ParisAuthenticationExceptionListener.php
  src/Capco/AppBundle/Toggle/Manager.php
  src/Capco/UserBundle/Authenticator/MonCompteParisAuthenticator.php
  src/Capco/UserBundle/Authenticator/Token/ParisToken.php
  src/Capco/UserBundle/MonCompteParis/OpenAmClient.php
  src/Capco/UserBundle/Security/Core/User/MonCompteParisUserProvider.php
  src/Capco/UserBundle/Security/Core/User/OauthUserProvider.php
Due: php

fix acess project create for admin project (#14978)
  features/graphql-api/internal/mutation/createProject.js
  src/Capco/AppBundle/GraphQL/Mutation/CreateProjectMutation.php
Due: graphql, php

increase debate argument body length to 4000 (#14983)
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/FaceToFace/ModalDebateOpinion/ModalDebateOpinion.js
  frontend/js/components/Admin/Project/ProjectAdminContributions/ProjectAdminDebate/FaceToFace/ModalDebateOpinion/__snapshots__/ModalDebateOpinion-test.js.snap
Due: jest, flow

[14924-QUERYUSERORGANIZATION] request user organization (#14977)
  features/graphql-api/internal/User/User_organizations.js
  features/graphql-api/internal/User/__snapshots__/User_organizations.js.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/User/UserOrganizationsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/UserIsGrantedResolver.php
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalUser.types.yaml
Due: graphql, php

14947 leave organization (#14984)
  features/graphql/mutation/leaveOrganization.feature
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/Organization/LeaveOrganizationMutationSpec.php
  src/Capco/AppBundle/Behat/GraphQLContext.php
  src/Capco/AppBundle/GraphQL/Mutation/Organization/AddOrganizationMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Organization/LeaveOrganizationMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/organization/AddOrganizationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/organization/AddOrganizationPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/organization/LeaveOrganizationErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/organization/LeaveOrganizationInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/organization/LeaveOrganizationPayload.types.yaml
  src/Capco/UserBundle/Entity/User.php
Due: graphql, php

[14773] Articles List page on `admin-next` (#14893)
  admin-next/components/Posts/PostItem.test.tsx
  admin-next/components/Posts/PostItem.tsx
  admin-next/components/Posts/PostList.test.tsx
  admin-next/components/Posts/PostList.tsx
  admin-next/components/Posts/PostListModalConfirmationDelete.test.tsx
  admin-next/components/Posts/PostListModalConfirmationDelete.tsx
  admin-next/components/Posts/PostListNoResult.tsx
  admin-next/components/Posts/__snapshots__/PostItem.test.tsx.snap
  admin-next/components/Posts/__snapshots__/PostList.test.tsx.snap
  admin-next/components/Posts/__snapshots__/PostListModalConfirmationDelete.test.tsx.snap
  admin-next/components/SideBar/SideBarItems.json
  admin-next/mutations/DeletePostMutation.ts
  admin-next/pages/posts.tsx
  frontend/js/components/Admin/Post/PostList/PostItem-test.js
  frontend/js/components/Admin/Post/PostList/PostItem.js
  frontend/js/components/Admin/Post/PostList/PostList-test.js
  frontend/js/components/Admin/Post/PostList/PostList.js
  frontend/js/components/Admin/Post/PostList/PostListPage.js
  frontend/js/components/Admin/Post/PostList/PostListQuery.js
  frontend/js/components/Admin/Post/PostList/PostPostListModalConfirmationDelete-test.js
  frontend/js/components/Admin/Post/PostList/PostPostListModalConfirmationDelete.js
  frontend/js/components/Admin/Post/PostList/PostPostListNoResult.js
  frontend/js/components/Admin/Post/PostList/__snapshots__/PostItem-test.js.snap
  frontend/js/components/Admin/Post/PostList/__snapshots__/PostList-test.js.snap
  frontend/js/components/Admin/Post/PostList/__snapshots__/PostPostListModalConfirmationDelete-test.js.snap
  frontend/js/components/Admin/Sidebar/Sidebar.js
  frontend/js/components/Admin/Sidebar/__snapshots__/Sidebar-test.js.snap
  frontend/js/registrationAdmin.js
  frontend/js/startup/AdminPostListApp.js
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AdminBundle/Admin/PostAdmin.php
  src/Capco/AdminBundle/Resources/views/Post/list.html.twig
  src/Capco/AppBundle/Enum/PostOrderField.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/PostOrderField.types.yaml
  src/Capco/AppBundle/Search/PostSearch.php
Due: php, jest, flow

fix contributor filter (#14994)
  src/Capco/AppBundle/Search/ProposalSearch.php
Due: php

organization query pendingOrganizationInvitations (#14959)
  config/packages/repositories.yaml
  features/graphql-api/internal/Organization/Organization_pendingOrganizationInvitations.js
  features/graphql-api/internal/Organization/__snapshots__/Organization_pendingOrganizationInvitations.js.snap
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Resolver/Organization/OrganizationAdminAccessResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Organization/OrganizationMembersResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/PendingOrganizationInvitationsResolver.php
  src/Capco/AppBundle/Repository/Organization/PendingOrganizationInvitationRepository.php
  src/Capco/AppBundle/Resources/config/graphql/internal/enum/OrganizationMemberRole.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalOrganization.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/objects/InternalPendingOrganizationInvitation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/relay-connection/PendingOrganizationInvitationConnection.types.yaml
Due: graphql, php

fix requirements for project admin (#14990)
  frontend/js/components/Admin/Project/Step/ProjectAdminStepForm.js
  frontend/js/components/Admin/Project/Step/StepRequirementsList.js
Due: jest, flow

[14931-FIXVARENV] remove SYMFONY_OPENID_BACKCHANNEL_SECRET_DEV from prod image (#14997)
  infrastructure/deploylib/app.py
  infrastructure/services/remote/Dockerfile
Due: none

QuestionnaireVoter (#14914)
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/Security/QuestionnaireVoterSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/CreateQuestionnaireMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateQuestionnaireInput.types.yaml
  src/Capco/AppBundle/Security/QuestionnaireVoter.php
Due: graphql, php

ProposalFormVoter (#14913)
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/GraphQL/Mutation/ProposalForm/CreateProposalFormMutationSpec.php
  spec/Capco/AppBundle/Security/ProposalFormVoterSpec.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalForm/CreateProposalFormMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/CreateProposalFormInput.types.yaml
  src/Capco/AppBundle/Security/ProposalFormVoter.php
Due: graphql, php

redirect /consultation/{projectSlug}/presentation/{stepSlug} to /project/{projectSlug}/presentation/{stepSlug} (#15005)
  src/Capco/AppBundle/Controller/Site/StepController.php
Due: php

Ajout colonne "propriétaire" (#14975)
  admin-next/components/AppProvider/App.context.tsx
  admin-next/components/Events/EventItem.tsx
  admin-next/components/Events/EventList.tsx
  admin-next/components/Events/__snapshots__/EventItem.test.tsx.snap
  admin-next/components/Posts/PostItem.tsx
  admin-next/components/Posts/PostList.tsx
  admin-next/components/Projects/ProjectItem.tsx
  admin-next/components/Projects/ProjectList.tsx
  admin-next/components/Projects/__snapshots__/ProjectList.test.tsx.snap
  admin-next/components/ProposalForm/ProposalFormItem.tsx
  admin-next/components/ProposalForm/ProposalFormList.tsx
  admin-next/components/QuestionnaireList/QuestionnaireItem.tsx
  admin-next/components/QuestionnaireList/QuestionnaireList.tsx
  admin-next/components/QuestionnaireList/__snapshots__/QuestionnaireItem.test.tsx.snap
  admin-next/components/QuestionnaireList/__snapshots__/QuestionnaireList.test.tsx.snap
  admin-next/types.ts
  admin-next/utils/withPageAuthRequired.ts
  spec/Capco/UserBundle/Security/SessionWithJsonHandlerSpec.php
  src/Capco/UserBundle/Security/SessionWithJsonHandler.php
Due: php

EmailingCampaignVoter (#14915)
  config/packages/voters.yaml
  schema.dev.graphql
  schema.internal.graphql
  spec/Capco/AppBundle/Security/EmailingCampaignVoterSpec.php
  src/Capco/AdminBundle/Controller/EmailingCampaignController.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/AbstractEmailingCampaignMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/CreateEmailingCampaignMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/DeleteEmailingCampaignsMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/SendEmailingCampaignMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/TestEmailingCampaignMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/Mailing/UpdateEmailingCampaignMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/InternalMutation.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/mailing/CreateEmailingCampaignInput.types.yaml
  src/Capco/AppBundle/Security/EmailingCampaignVoter.php
Due: graphql, php

Revert "[14931-FIXVARENV] remove SYMFONY_OPENID_BACKCHANNEL_SECRET_DEV from p…" (#15015)
  infrastructure/deploylib/app.py
  infrastructure/services/remote/Dockerfile
Due: none

[10970-FIXCONSULTATION] admin cant edit consultation on existing opinion (#14995)
  src/Capco/AdminBundle/Admin/OpinionAdmin.php
Due: php

Revert "fix event visibility when created by project owner (#14954)" (#15011)
  __snapshots__/exports/events.csv
  features/graphql-api/public/Query/__snapshots__/Query_events.js.snap
  features/graphql-api/public/Query/__snapshots__/Query_events_review.js.snap
  src/Capco/AppBundle/GraphQL/Resolver/Query/QueryEventsResolver.php
Due: graphql, php

[13838] Fix dashboard UI (#14858)
  admin-next/components/Dashboard/DashboardContent.tsx
  admin-next/components/Dashboard/DashboardEmptyState/DashboardEmptyState.tsx
  admin-next/components/Dashboard/DashboardFilters/DashboardFilters.tsx
  admin-next/components/Dashboard/Sections/SectionContributors/SectionContributors.tsx
  admin-next/components/Dashboard/Sections/SectionMostVisitedPages/SectionMostVisitedPages.tsx
  admin-next/components/Dashboard/Sections/SectionMostVisitedPages/SectionMostVisitedPagesEmpty.tsx
  admin-next/components/Dashboard/Sections/SectionPageViews/SectionPageViews.tsx
  admin-next/components/Dashboard/Sections/SectionParticipations/SectionParticipations.tsx
  admin-next/components/Dashboard/Sections/SectionProposalCategories/SectionProposalCategories.tsx
  admin-next/components/Dashboard/Sections/SectionProposalCategories/SectionProposalCategoriesEmpty.tsx
  admin-next/components/Dashboard/Sections/SectionRegistrations/SectionRegistrations.tsx
  admin-next/components/Dashboard/Sections/SectionTopContributors/SectionTopContributors.tsx
  admin-next/components/Dashboard/Sections/SectionTopContributors/SectionTopContributorsEmpty.tsx
  admin-next/components/Dashboard/Sections/SectionTraffic/SectionTraffic.tsx
  admin-next/components/Dashboard/Sections/SectionTraffic/SectionTrafficEmpty.tsx
  admin-next/components/Dashboard/Sections/SectionVisitors/SectionVisitors.tsx
  admin-next/components/UI/Charts/SmallChart/SmallChart.tsx
  admin-next/components/UI/Charts/TabsChart/Tab/Tab.tsx
Due: none

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat
  php: (any of: src/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: src, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  jest: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
  flow: (any of: app/Resources/js/, but not: **/__generated__/*.js, src/Capco/AppBundle/GraphQL/__generated__/*.php, **/*-test.js, src/Capco/AppBundle/Behat) or (any of: frontend/js, but not: src/Capco/AppBundle/GraphQL/__generated__/*.php, src/Capco/AppBundle/Behat, src/DoctrineMigrations, spec/**/*, node_modules/**/*, vendor/**/*, public/**/*, flow-typed/**/*, **/*.js.snap, **/*-test.js, npm-packages-offline-cache/*.tgz, **/*Spec.php, **/*.c, **/*.cpp, **/*.h, **/*.hpp, **/*.twig, **/*.scss, assets/**/*, **/*.feature)
