Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow

.codecov.yml:

# https://docs.codecov.io/docs
codecov:
  notify:
    require_ci_to_pass: false # will send notifications without checking ci status
    after_n_builds: 1  # send notifications after the first upload
    wait_for_ci: false

comment:
  layout: 'reach, diff, flags, files'
  require_changes: yes # only post the comment if coverage changes
  behavior: default  # update if exists else create new

coverage:
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: true
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags: jest
        target: 70%
        threshold: 0
      php:
        flags: php
        target: 0
      graphql:
        flags: graphql
        target: 0
      flow:
        flags: flow
        target: 74
    project: # Overall project coverage
      default: off
      jest:
        flags: jest
        target: auto
      php:
        flags: php
        target: 1
      graphql:
        flags: graphql
        target: 3
      flow:
        target: 74
        flags: flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  graphql:
    paths:
      - src/Capco/AppBundle/GraphQL/
  php:
    paths:
      - src/
  jest:
    paths:
      - app/Resources/js/
  flow:
    paths:
      - app/Resources/js/

ignore:
  - '**/__generated__/*.js'
  - 'src/Capco/AppBundle/GraphQL/__generated__/*.php'
  - '**/*-test.js'
  - 'src/Capco/AppBundle/Behat'

codecov.yml:

# https://docs.codecov.io/docs
codecov:
  require_ci_to_pass: no # wait till "after_n_builds" are uploaded
  notify:
    after_n_builds: 1 # number of expected builds to receive before sending notifications
    wait_for_ci: no

fixes:
  - "/home/circleci/project/::"

comment:
  layout: "reach, diff, flags, files"
  require_changes: no # only post the comment if coverage changes
  behavior: default # update if exists else create new

coverage:
  parsers:
    javascript:
      enable_partials: yes
  precision: 2 # 2 = xx.xx%
  round: down
  range: 50...100 # default 70...90. red...green
  status:
    changes: off
    patch: # Only measures lines adjusted in the pull request
      default: off
      jest:
        flags:
          - jest
        target: 70%
        threshold: 0
      php:
        flags:
          - php
        target: 0
        informational: true
      graphql:
        flags:
          - php
        target: 0
        paths:
          - src/Capco/AppBundle/GraphQL
      flow:
        flags:
          - flow
        target: 90
        threshold: 0
#    project: # Overall project coverage
#      default: off
#      jest:
#        flags:
#          - jest
#        target: auto
#        informational: true
#      php:
#        flags:
#          - php
#        target: auto
#        informational: true
#      graphql:
#        flags:
#          - php
#        target: 4
#        paths:
#          - src/Capco/AppBundle/GraphQL
#      flow:
#        target: 88
#        flags:
#          - flow

flags:
  # Filter the folder(s) you wish to measure by that flag
  php:
    paths:
      - src
  jest:
    paths:
      - frontend/js
  flow:
    paths:
      - frontend/js

ignore:
  - "src/Capco/AppBundle/GraphQL/__generated__/*.php"
  - "src/Capco/AppBundle/Behat"
  - "src/DoctrineMigrations"
  - "spec/**/*"
  - "node_modules/**/*"
  - "vendor/**/*"
  - "public/**/*"
  - "flow-typed/**/*"
  - "**/*.js.snap"
  - "**/*-test.js"
  - "npm-packages-offline-cache/*.tgz"
  - "**/*Spec.php"
  - "**/*.c"
  - "**/*.cpp"
  - "**/*.h"
  - "**/*.hpp"
  - "**/*.twig"
  - "**/*.scss"
  - "assets/**/*"
  - "**/*.feature"

19466 bo etape single (#19499)
  admin-next/components/BackOffice/Steps/CollectStep/CollectStepForm.tsx
  admin-next/components/BackOffice/Steps/ConsultationStep/ConsultationStepForm.tsx
  admin-next/components/BackOffice/Steps/DebateStep/DebateStepForm.tsx
  admin-next/components/BackOffice/Steps/OtherStep/OtherStepForm.tsx
  admin-next/components/BackOffice/Steps/QuestionnaireStep/QuestionnaireStepForm.tsx
  admin-next/components/BackOffice/Steps/QuestionnaireStep/utils.ts
  admin-next/components/BackOffice/Steps/SelectStep/SelectStepForm.tsx
  admin-next/components/BackOffice/Steps/SelectStep/SelectStepForm.utils.ts
  admin-next/components/BackOffice/Steps/Shared/CoverImageInput.tsx
  cypress/e2e/backOffice/moderation/mergeProposal.cy.ts
Due: none

feat: step single events comp (#19562)
  frontend/js/components/Event/ProjectEventPreview/ProjectEventPreview-test.tsx
  frontend/js/components/Event/ProjectEventPreview/ProjectEventPreview.tsx
  frontend/js/components/Event/ProjectEventPreview/__snapshots__/ProjectEventPreview-test.tsx.snap
  frontend/js/components/Page/__snapshots__/QuestionnaireStepPage-test.tsx.snap
  frontend/js/components/Steps/StepEvents.tsx
  frontend/js/components/Steps/StepEventsList.tsx
Due: jest, flow

fallback fonts if none of them is selected (#19609)
  frontend/js/components/Admin/Font/FontUseForm/FontUseForm.tsx
Due: jest, flow

fix(deps): update versions to patch known vulnerabilities (#19605)
  yarn.lock
Due: none

fix: add api key in ci deploy (#19524)
  admin-next/components/FrontOffice/Steps/VoteStep/ProposalForm/Inputs/AddressInput.tsx
  admin-next/shared/cap-collectif/form/src/components/address/Address.tsx
Due: none

feat: onglets desktop & mobile (#19527)
  admin-next/components/FrontOffice/Project/ProjectPageCustomTab.tsx
  admin-next/components/FrontOffice/Project/ProjectPageEventsTab.tsx
  admin-next/components/FrontOffice/Project/ProjectPageLayout.tsx
  admin-next/components/FrontOffice/Project/ProjectPagePostsTab.tsx
  admin-next/components/FrontOffice/Project/ProjectPageTabBar.tsx
  admin-next/components/FrontOffice/Project/ProjectPageTabsMobile.tsx
  admin-next/pages/_app.tsx
  infrastructure/services/local/nginx/fastcgi.conf
Due: none

feat: bo tabs display + update (#19555)
  admin-next/components/BackOffice/Form/TextEditor/Jodit.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/EditTabModal.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigForm.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/DraggableTab.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/EventsTabContent.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/NewsTabContent.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/ProjectConfigFormTabs.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/TabItem.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/index.ts
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/types.ts
  admin-next/mutations/CreateCustomProjectTabMutation.ts
  admin-next/mutations/CreateEventsProjectTabMutation.ts
  admin-next/mutations/CreateNewsProjectTabMutation.ts
  admin-next/mutations/CreatePresentationProjectTabMutation.ts
  admin-next/mutations/DeleteProjectTabMutation.ts
  admin-next/mutations/ReorderProjectTabsMutation.ts
  admin-next/mutations/UpdateCustomProjectTabMutation.ts
  admin-next/mutations/UpdateEventsProjectTabMutation.ts
  admin-next/mutations/UpdateNewsProjectTabMutation.ts
  admin-next/mutations/UpdatePresentationProjectTabMutation.ts
  admin-next/package.json
  admin-next/pages/_app.tsx
  src/Capco/AppBundle/Form/Persister/ProjectTab/AbstractProjectTabPersister.php
  yarn.lock
Due: php

fix: remove duplicate import (#19615)
  admin-next/pages/_app.tsx
Due: none

Add cd59 OpenId sso mapping configuration (#19547)
  src/Capco/UserBundle/OpenID/Mapping/Cd59Mapping.php
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
  src/Capco/UserBundle/OpenID/OpenIDResourceOwner.php
  src/Capco/UserBundle/Security/Core/User/OauthUserProvider.php
  tests/Authentication/OauthUserProviderTest.php
  tests/Authentication/OpenID/OpenIDResourceOwnerTest.php
Due: php

build: use composer in docker in local env (#19631)
  infrastructure/deploylib/app.py
  infrastructure/deploylib/local/app.py
  infrastructure/deploylib/local/qa.py
  infrastructure/deploylib/qa.py
  infrastructure/services/local/Dockerfile
Due: none

feat: fe/be link for steps list + step cover (#19632)
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigForm.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigForm.utils.ts
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormSteps.tsx
  admin-next/components/FrontOffice/Project/ParticipationSteps.tsx
  admin-next/components/FrontOffice/Project/ProjectPageLayout.tsx
  infrastructure/services/local/nginx/fastcgi.conf
  infrastructure/services/local/nginx/nginx.conf
Due: none

add Participant to ES + fix ProjectContributorResolver (#19187)
  cypress/e2e/frontOffice/search/search.cy.ts
  features/graphql-api/internal/Query/Project/Project_contributors.js
  features/graphql-api/internal/Query/Project/__snapshots__/Project_contributors.js.snap
  features/graphql-api/internal/Query/User/__snapshots__/User_votes.js.snap
  features/graphql-api/public/Query/Project/__snapshots__/Project_contributors.js.snap
  spec/Capco/AppBundle/Elasticsearch/ElasticsearchDoctrineListenerSpec.php
  src/Capco/AppBundle/Command/CreateCsvFromProjectsContributorsCommand.php
  src/Capco/AppBundle/Elasticsearch/ElasticsearchDoctrineListener.php
  src/Capco/AppBundle/Entity/Participant.php
  src/Capco/AppBundle/Entity/ProposalCollectVote.php
  src/Capco/AppBundle/Entity/ProposalSelectionVote.php
  src/Capco/AppBundle/GraphQL/Mutation/AddAnonymousReplyMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteAnonymousReplyMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/DeleteRepliesMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/ValidateContributionMutation.php
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectContributorResolver.php
  src/Capco/AppBundle/Normalizer/ParticipantNormalizer.php
  src/Capco/AppBundle/Repository/ParticipantRepository.php
  src/Capco/AppBundle/Search/ContributorSearch.php
  src/Capco/AppBundle/Service/ParticipantContributionCounter.php
  src/Capco/AppBundle/Service/ReplyCounterIndexer.php
Due: graphql, php

Refetch group when error occurs (#19575) (#19617)
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigForm.tsx
  admin-next/components/BackOffice/UserGroups/delete-group-modal/DeleteGroupModal.tsx
  admin-next/mutations/DeleteGroupMutation.ts
  admin-next/mutations/UpdateNewProjectMutation.ts
  admin-next/shared/utils/mutation-error-toast.tsx
  cypress/e2e/backOffice/backOfficeRework/projectAccessBO.cy.ts
  cypress/e2e/backOffice/userGroup/deleteGroup.cy.ts
  features/graphql-api/internal/Mutation/Group/__snapshots__/deleteGroup.js.snap
  features/graphql-api/internal/Mutation/Group/deleteGroup.js
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/GraphQL/Mutation/GroupMutation.php
  src/Capco/AppBundle/GraphQL/Mutation/UpdateNewProjectMutation.php
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/DeleteGroupErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/DeleteGroupPayload.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateNewProjectErrorCode.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/mutations/UpdateNewProjectPayload.types.yaml
Due: graphql, php

build: use docker PHP instead of machine PHP for pre-commit hook scripts (#19644)
  package.json
  pre-commit-phpstan.sh
  scripts/docker-pre-commit-hook.sh
Due: none

fix rendering charte page (#19646)
  cypress/e2e/frontOffice/publicPages/publicNextRoutesSmoke.cy.ts
  spec/Capco/AppBundle/Controller/Site/PageControllerSpec.php
  src/Capco/AppBundle/Controller/Site/PageController.php
Due: php

Add new project page url scoped to new_project_page feature flag (#19… (#19652)
  src/Capco/AppBundle/GraphQL/Resolver/Project/ProjectUrlResolver.php
Due: graphql, php

fix: figma comments (#19655)
  admin-next/components/FrontOffice/Project/ParticipationSteps.tsx
  admin-next/components/FrontOffice/Project/ProjectPageCustomTab.tsx
  admin-next/components/FrontOffice/Project/ProjectPageEventsTab.tsx
  admin-next/components/FrontOffice/Project/ProjectPageHero.tsx
  admin-next/components/FrontOffice/Project/ProjectPageLayout.tsx
  admin-next/components/FrontOffice/Project/ProjectPageTabsMobile.tsx
  admin-next/components/FrontOffice/Project/ProjectTabs.utils.tsx
  frontend/js/components/Page/__snapshots__/QuestionnaireStepPage-test.tsx.snap
  frontend/js/components/Steps/Page/StepPageHeader/StepPageHeader.tsx
  frontend/js/components/Steps/Page/StepPageHeader/StepPageHeaderNew.tsx
  frontend/js/utils/interpellationLabelHelper.ts
Due: jest, flow

fix: recette rpp (#19660)
  admin-next/components/BackOffice/Projects/ProjectConfig/EditTabModal.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormSteps.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/DraggableItemRow.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/DraggableTab.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/EventsTabContent.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/NewsTabContent.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/ProjectConfigFormTabs.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/TabItem.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/types.ts
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/useDraggableElement.ts
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/useDraggableItemList.ts
  admin-next/components/FrontOffice/Project/ParticipationSteps.tsx
  admin-next/components/FrontOffice/Project/ProjectPageEventsTab.tsx
  admin-next/components/FrontOffice/Project/ProjectPageHero.tsx
  admin-next/components/FrontOffice/Project/ProjectPageLayout.tsx
  admin-next/components/FrontOffice/Project/ProjectPagePostsTab.tsx
  admin-next/components/FrontOffice/Project/ProjectPageTabsDesktop.tsx
  admin-next/components/FrontOffice/Project/ProjectPageTabsMobile.tsx
  admin-next/mutations/CreateCustomProjectTabMutation.ts
  admin-next/mutations/DeleteProjectTabMutation.ts
  admin-next/mutations/UpdateEventsProjectTabMutation.ts
  admin-next/mutations/UpdateNewProjectMutation.ts
  admin-next/mutations/UpdateNewsProjectTabMutation.ts
  schema.dev.graphql
  schema.internal.graphql
  src/Capco/AppBundle/Form/Persister/ProjectTab/AbstractProjectTabPersister.php
  src/Capco/AppBundle/Form/Persister/ProjectTab/CreateProjectTabPersister.php
  src/Capco/AppBundle/Resources/config/graphql/internal/Project/enum/ProjectTabMutationErrorCode.types.yaml
  yarn.lock
Due: php

doc: remove cache on developer pages + fix field.getType (#19674)
  src/Capco/AppBundle/Controller/Site/DeveloperController.php
  src/Capco/AppBundle/Resources/views/Developer/index.html.twig
  src/Capco/AppBundle/Resources/views/Developer/show_field.html.twig
Due: php

re-generate participants exports (#19682)
  src/Capco/AppBundle/Controller/Site/ExportController.php
Due: php

refacto:move slugify to backend (#19680)
  admin-next/components/BackOffice/Projects/ProjectConfig/EditTabModal.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/EventsTabContent.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/NewsTabContent.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/ProjectConfigFormTabs.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormTabs/types.ts
  features/graphql-api/internal/Mutation/Project/projectTabs.js
  schema.internal.graphql
  src/Capco/AppBundle/Form/Persister/ProjectTab/AbstractProjectTabPersister.php
  src/Capco/AppBundle/Resources/config/graphql/internal/Project/mutations/CreateCustomProjectTabInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Project/mutations/CreateEventsProjectTabInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Project/mutations/CreateNewsProjectTabInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Project/mutations/CreatePresentationProjectTabInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Project/mutations/UpdateCustomProjectTabInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Project/mutations/UpdateEventsProjectTabInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Project/mutations/UpdateNewsProjectTabInput.types.yaml
  src/Capco/AppBundle/Resources/config/graphql/internal/Project/mutations/UpdatePresentationProjectTabInput.types.yaml
Due: php

fix project duplicate in url (#19687)
  src/Capco/UserBundle/Handler/CasHandler.php
Due: php

feat: upd package version (#19665)
  package.json
  yarn.lock
Due: none

Add sso mapping for cern-cndp (#19684) (#19690)
  src/Capco/UserBundle/OpenID/OpenIDPathMapper.php
  src/Capco/UserBundle/OpenID/OpenIDResourceOwner.php
Due: php

Remove mandrill/mandrill to fork lib (#19692)
  composer.json
  composer.lock
Due: none

Fix relay diff (#19697)
  schema.dev.graphql
Due: none

fix: cover image display (#19613)
  frontend/js/components/Ui/Project/ProjectHeader.Cover.tsx
Due: jest, flow

Fix nantes sso (#19695) (#19698)
  src/Capco/UserBundle/OpenID/OpenIDResourceOwner.php
Due: php

fix grouped (#19709)
  __snapshots__/exports/collect/contributions_budget-participatif-idf_collecte-des-projets-idf-privee_grouped.csv
  __snapshots__/exports/collect/contributions_budget-participatif-rennes_collecte-des-propositions-fermee_grouped.csv
  __snapshots__/exports/collect/contributions_budget-participatif-rennes_collecte-des-propositions_grouped.csv
  __snapshots__/exports/collect/contributions_project-pour-la-force-visible-par-mauriau-seulement_collecte-des-propositions-pour-la-force_grouped.csv
  __snapshots__/exports/collect/contributions_projet-avec-beaucoup-dopinions_collecte-des-propositions-avec-questions-qui-va-etre-jetee_grouped.csv
  admin-next/components/BackOffice/Projects/Export/ChooseDataFormatModal.tsx
  admin-next/components/BackOffice/Projects/Export/ChooseStepModal.tsx
  admin-next/components/BackOffice/Projects/Export/ExportModal.tsx
  admin-next/components/BackOffice/Projects/ProjectConfig/ProjectConfigFormSide/ProjectConfigFormPublication.tsx
  frontend/js/components/Admin/Project/Export/ChooseDataFormatModal.tsx
  frontend/js/components/Admin/Project/Export/ChooseStepModal.tsx
  frontend/js/components/Admin/Project/Export/ExportModal.tsx
  frontend/js/components/Admin/Project/ProjectAdminParticipantTab/ProjectAdminParticipants/ProjectAdminParticipants.tsx
  src/Capco/AppBundle/Command/ExportCollectAndSelectionContributionsCommand.php
  src/Capco/AppBundle/Repository/ProposalCollectVoteRepository.php
  src/Capco/AppBundle/Repository/ProposalSelectionVoteRepository.php
  tests/Command/ExportCollectAndSelectionContributionsCommandTest.php
Due: php, jest, flow

rm test (#19716)
  features/back/project/AlphaAndEvent/project.feature
Due: none

update optimistic fragment (#19725)
  admin-next/mutations/DuplicateProjectMutation.tsx
Due: none

fix: isolate ranking question drag and drop (#19719)
  frontend/js/components/Form/Ranking/RankingList/RankingList-test.tsx
  frontend/js/components/Form/Ranking/RankingList/RankingList.tsx
  frontend/js/components/Ui/DragnDrop/Context/Context-test.tsx
  frontend/js/components/Ui/DragnDrop/Context/Context.tsx
  frontend/js/components/Ui/DragnDrop/Context/__snapshots__/Context-test.tsx.snap
  frontend/js/components/Ui/DragnDrop/Item/Item.tsx
  frontend/js/components/Ui/DragnDrop/List/List.tsx
Due: jest, flow

fix(schema): update dev project tab slugs (#19713)
  schema.dev.graphql
Due: none

fix: backend relay schema not in sync (#19728)
  schema.dev.graphql
Due: none

filter anonymized users + lower log level to warning (#19736)
  src/Capco/AppBundle/Following/ProposalActivitiesResolver.php
  src/Capco/AppBundle/Repository/FollowerRepository.php
Due: php
