Repository cap-collectif/cap-collectif: changes, and which Codecov flags are due for each by the changed paths.
All: graphql, php, jest, flow, backend, frontend

add checkbox validation when there is no validation rules in BO (#6171)
  app/Resources/js/utils/responsesHelper.js
Due: jest, flow, frontend

Merge pull request #6170 from cap-collectif/update-dev-depss
  package.json
  yarn.lock
Due: none

Fix tests
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/mutations/commitMutation.js
  app/Resources/js/utils/responsesHelper.js
  features/graphql/mutations/changeProposalEvaluation.feature
  features/graphql/types/proposalForm/proposalForm.feature
  features/graphql/types/questionChoice/choice_ranking.feature
  features/graphql/types/questionChoice/choice_responses.feature
  features/graphql/types/questionnaire/questionnaire.feature
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionnaireAbstractQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ValueResponse.yml
  src/Capco/AppBundle/GraphQL/Resolver/QuestionChoice/OtherQuestionChoiceResponseResolver.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
  src/Capco/AppBundle/GraphQL/__generated__/MultipleChoiceQuestionType.php
  src/Capco/AppBundle/Resources/config/graphql/MultipleChoiceQuestion.types.yml
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

:construction: not working yet
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  features/graphql/mutations/changeProposalEvaluation.feature
  features/graphql/mutations/updateProposalForm.feature
  features/graphql/types/proposalForm/proposalForm.feature
  features/graphql/types/questionChoice/choice_ranking.feature
  features/graphql/types/questionChoice/choice_responses.feature
  features/graphql/types/questionnaire/questionnaire.feature
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionnaireAbstractQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ValueResponse.yml
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormCategoriesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/QuestionChoice/OtherQuestionChoiceResponseResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/QuestionChoice/QuestionChoiceResponseResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/CategoryOrderFieldType.php
  src/Capco/AppBundle/GraphQL/__generated__/MultipleChoiceQuestionType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalFormType.php
  src/Capco/AppBundle/Resources/config/graphql/CategoryOrderField.types.yml
  src/Capco/AppBundle/Resources/config/graphql/MultipleChoiceQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ProposalForm.types.yml
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6169 from cap-collectif/support-select-question-for-responses-totalCount
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/mutations/commitMutation.js
  app/Resources/js/utils/responsesHelper.js
  features/graphql/mutations/changeProposalEvaluation.feature
  features/graphql/mutations/updateProposalForm.feature
  features/graphql/types/proposalForm/proposalForm.feature
  features/graphql/types/questionChoice/choice_ranking.feature
  features/graphql/types/questionChoice/choice_responses.feature
  features/graphql/types/questionnaire/questionnaire.feature
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionnaireAbstractQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ValueResponse.yml
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormCategoriesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/QuestionChoice/OtherQuestionChoiceResponseResolver.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
  src/Capco/AppBundle/GraphQL/__generated__/CategoryOrderFieldType.php
  src/Capco/AppBundle/GraphQL/__generated__/MultipleChoiceQuestionType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalFormType.php
  src/Capco/AppBundle/Resources/config/graphql/CategoryOrderField.types.yml
  src/Capco/AppBundle/Resources/config/graphql/MultipleChoiceQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ProposalForm.types.yml
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

Fix questionnaire logic with available questions without jumps
  app/Resources/js/mutations/commitMutation.js
  app/Resources/js/utils/responsesHelper.js
Due: jest, flow, frontend

6165-PIWIK fix piwik cookies
  app/Resources/js/cookieMonster.js
Due: jest, flow, frontend

6165-PIWIK fix pour les chialeuses
  app/Resources/js/cookieMonster.js
  features/front/rgpd.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
Due: jest, flow, backend, frontend

test if radioLabels is empty before display
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/cookieMonster.js
  app/Resources/js/mutations/commitMutation.js
  app/Resources/js/utils/responsesHelper.js
  features/front/rgpd.feature
  features/graphql/mutations/changeProposalEvaluation.feature
  features/graphql/types/proposalForm/proposalForm.feature
  features/graphql/types/questionChoice/choice_ranking.feature
  features/graphql/types/questionChoice/choice_responses.feature
  features/graphql/types/questionnaire/questionnaire.feature
  schema.internal.graphql
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionnaireAbstractQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ValueResponse.yml
  src/Capco/AppBundle/GraphQL/Resolver/QuestionChoice/OtherQuestionChoiceResponseResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/QuestionChoice/QuestionChoiceResponseResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/MultipleChoiceQuestionType.php
  src/Capco/AppBundle/Resources/config/graphql/MultipleChoiceQuestion.types.yml
Due: graphql, php, jest, flow, backend, frontend

- Added outdated browser
  app/Resources/assets/js/outdatedbrowser/outdatedbrowser.min.css
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/mutations/commitMutation.js
  app/Resources/js/utils/responsesHelper.js
  features/graphql/mutations/changeProposalEvaluation.feature
  features/graphql/types/proposalForm/proposalForm.feature
  features/graphql/types/questionChoice/choice_ranking.feature
  features/graphql/types/questionChoice/choice_responses.feature
  features/graphql/types/questionnaire/questionnaire.feature
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionnaireAbstractQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ValueResponse.yml
  src/Capco/AppBundle/GraphQL/Resolver/QuestionChoice/OtherQuestionChoiceResponseResolver.php
  src/Capco/AppBundle/GraphQL/__generated__/MultipleChoiceQuestionType.php
  src/Capco/AppBundle/Resources/config/graphql/MultipleChoiceQuestion.types.yml
  src/Capco/AppBundle/Resources/views/layout.html.twig
  src/Capco/AppBundle/Resources/views/partials/_outdated_browser.html.twig
Due: graphql, php, jest, flow, backend, frontend

Merge pull request #6185 from cap-collectif/6175-bug-empty-labels
  app/Resources/assets/js/outdatedbrowser/outdatedbrowser.min.css
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  src/Capco/AppBundle/Resources/views/layout.html.twig
  src/Capco/AppBundle/Resources/views/partials/_outdated_browser.html.twig
Due: php, jest, flow, backend, frontend

- Test with another lib
  app/Resources/assets/js/outdatedbrowser/outdatedbrowser.min.css
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/cookieMonster.js
  features/front/rgpd.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Resources/views/layout.html.twig
  src/Capco/AppBundle/Resources/views/partials/_outdated_browser.html.twig
Due: php, jest, flow, backend, frontend

Remove file handler in monolog config (#6186)
  app/Resources/assets/js/outdatedbrowser/outdatedbrowser.min.css
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/cookieMonster.js
  app/config/config_prod.yml
  features/front/rgpd.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Resources/views/layout.html.twig
  src/Capco/AppBundle/Resources/views/partials/_outdated_browser.html.twig
Due: php, jest, flow, backend, frontend

Adding jumps logic in form for media question and section
  app/Resources/js/components/Proposal/Page/ProposalResponse.js
  app/Resources/js/cookieMonster.js
  app/config/config_prod.yml
  features/front/rgpd.feature
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Form/MediaQuestionType.php
  src/Capco/AppBundle/Form/SectionQuestionType.php
Due: php, jest, flow, backend, frontend

- Replaced whitesmoke by $white
  app/Resources/scss/modules/_outdated_browser.scss
Due: none

- Added newlines before classes selectors - Fixed typo
  app/Resources/scss/modules/_outdated_browser.scss
  app/Resources/scss/style.scss
Due: none

Revert "- Build server bundle before"
  infrastructure/services/remote/Dockerfile
Due: none

Turn cookie-secure to true (#6191)
  app/config/config.yml
Due: none

fix relay:watch
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/mutations/commitMutation.js
  app/Resources/js/utils/responsesHelper.js
  app/Resources/scss/modules/_outdated_browser.scss
  app/Resources/scss/style.scss
  features/graphql/mutations/changeProposalEvaluation.feature
  features/graphql/mutations/updateProposalForm.feature
  features/graphql/types/proposalForm/proposalForm.feature
  features/graphql/types/questionChoice/choice_ranking.feature
  features/graphql/types/questionChoice/choice_responses.feature
  features/graphql/types/questionnaire/questionnaire.feature
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionnaireAbstractQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ValueResponse.yml
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormCategoriesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/QuestionChoice/OtherQuestionChoiceResponseResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/QuestionChoice/QuestionChoiceResponseResolver.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
  src/Capco/AppBundle/GraphQL/__generated__/CategoryOrderFieldType.php
  src/Capco/AppBundle/GraphQL/__generated__/MultipleChoiceQuestionType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalFormType.php
  src/Capco/AppBundle/Resources/config/graphql/CategoryOrderField.types.yml
  src/Capco/AppBundle/Resources/config/graphql/MultipleChoiceQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ProposalForm.types.yml
  src/Capco/AppBundle/Resources/views/layout.html.twig
  src/Capco/AppBundle/Resources/views/partials/_outdated_browser.html.twig
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

- Set Chrome minimal version to 53 because Chrome release a lot of versions
  app/Resources/js/components/Proposal/Form/ProposalForm.js
  app/Resources/js/components/Reply/Form/ReplyForm.js
  app/Resources/js/mutations/commitMutation.js
  app/Resources/js/utils/responsesHelper.js
  app/Resources/scss/modules/_outdated_browser.scss
  app/Resources/scss/style.scss
  features/graphql/mutations/changeProposalEvaluation.feature
  features/graphql/mutations/updateProposalForm.feature
  features/graphql/types/proposalForm/proposalForm.feature
  features/graphql/types/questionChoice/choice_ranking.feature
  features/graphql/types/questionChoice/choice_responses.feature
  features/graphql/types/questionnaire/questionnaire.feature
  package.json
  schema.internal.graphql
  src/Capco/AppBundle/DataFixtures/ORM/Dev/MultipleChoiceQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionChoice.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/QuestionnaireAbstractQuestion.yml
  src/Capco/AppBundle/DataFixtures/ORM/Dev/ValueResponse.yml
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormCategoriesResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/QuestionChoice/OtherQuestionChoiceResponseResolver.php
  src/Capco/AppBundle/GraphQL/Traits/QuestionPersisterTrait.php
  src/Capco/AppBundle/GraphQL/__generated__/CategoryOrderFieldType.php
  src/Capco/AppBundle/GraphQL/__generated__/MultipleChoiceQuestionType.php
  src/Capco/AppBundle/GraphQL/__generated__/ProposalFormType.php
  src/Capco/AppBundle/Resources/config/graphql/CategoryOrderField.types.yml
  src/Capco/AppBundle/Resources/config/graphql/MultipleChoiceQuestion.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ProposalForm.types.yml
  src/Capco/AppBundle/Resources/views/layout.html.twig
  src/Capco/AppBundle/Resources/views/partials/_outdated_browser.html.twig
  yarn.lock
Due: graphql, php, jest, flow, backend, frontend

Remove useless fian slash in cors config (GraphQLAPI) (#6204)
  app/config/cors.yml
Due: none

Fix error 500 on search page (#6203)
  src/Capco/AdminBundle/Controller/StepController.php
  src/Capco/AppBundle/Behat/ApplicationContext.php
  src/Capco/AppBundle/Command/Elasticsearch/CreateIndexCommand.php
  src/Capco/AppBundle/Command/Elasticsearch/PopulateIndexCommand.php
  src/Capco/AppBundle/Command/ReinitCommand.php
  src/Capco/AppBundle/Elasticsearch/ElasticaToDoctrineTransformer.php
  src/Capco/AppBundle/GraphQL/Mutation/ProposalMutation.php
  src/Capco/AppBundle/Resources/config/services/elasticsearch.yml
Due: graphql, php, backend

set trusted proxies via HEADER_X_FORWARDED_ALL (#6205)
  src/Capco/AppBundle/GraphQL/Resolver/ProposalForm/ProposalFormProposalsResolver.php
  src/Capco/AppBundle/GraphQL/Resolver/Step/SelectionStepProposalResolver.php
  src/Capco/AppBundle/Search/ProposalSearch.php
  web/app.php
  web/app_dev.php
  web/app_test.php
Due: graphql, php, backend

[5673-DRAFT] Add draft column to replies.
  app/Resources/js/components/Reply/Form/ReplyForm.js
  src/Capco/AppBundle/Entity/Reply.php
  src/Capco/AppBundle/Resources/config/graphql/Reply.types.yml
  src/Capco/AppBundle/Resources/config/graphql/UpdateReplyInput.types.yml
Due: php, jest, flow, backend, frontend

[5673-DRAFT] Add DraftableTrait to Reply.
  src/Capco/AppBundle/Entity/Reply.php
  src/Capco/AppBundle/Enum/ReplyStatus.php
  src/Capco/AppBundle/GraphQL/Resolver/Reply/ReplyStatusResolver.php
  src/Capco/AppBundle/Resources/config/graphql/Reply.types.yml
  src/Capco/AppBundle/Resources/config/graphql/ReplyStatus.types.yml
Due: graphql, php, backend

Path conditions:
  graphql: any of: src/Capco/AppBundle/GraphQL/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  php: any of: src/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  jest: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  flow: any of: app/Resources/js/, but not: **/__generated__/**/*, **/*-test.js, src/Capco/AppBundle/Behat
  backend: any of: src/
  frontend: any of: app/Resources/js/
